<div class="msg_container_base">
  <div class="row">
    <div class="col-md-12">
       
       
            <div class="form-group">
              <label for="exampleInputEmail1"> {{'group_name' | translate}} </label>
              <input type="email" autocomplete="off" maxlength=50 [(ngModel)]="groupName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" {{'group_name' | translate}}">
            
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1"> {{'description' | translate}} </label>
                <textarea class="form-control" maxlength="70" [(ngModel)]="groupDescription" id="exampleFormControlTextarea1" rows="3"></textarea>
            <span *ngIf="groupDescription"><small>{{70-groupDescription.length +' left'}}</small></span>
              </div>
           
            <button *ngIf="! this.loading" (click)="createGroup()" [disabled]="!groupDescription&&!groupName" type="submit" class="btn btn_alkafu"> {{'create' | translate}} </button>
            <button *ngIf="this.loading" disabled type="submit" class="btn btn_alkafu"><i class="fa fa-spinner fa-spin"></i> {{'create' | translate}} </button>
         
    </div>
  </div>
  </div>