<swal
  #withDrawSwal
  [title]="'areyousure' | translate"
  [text]="'cantbeundone' | translate"
  type="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="withDrawProposal()"
>
</swal>

<div class="card mb-3 bx_shadow" style="min-height: auto;">
  <div class="card-body">
    <span class="text-white"></span>

    <h6 class="yellow_bg_text  text-center p-2">
      {{ "terms_of_employee" | translate }}
    </h6>

    <div *ngIf="offer.jobDetails" class="row my-3">
      <div class="col-md-3 col-2">
        <img src="assets/images/rupee.png" class="img-fluid" />
      </div>
      <div class="col-md-9 col-9 px-0 mx-0">
        <p class="text-left text_blue font_20_over">
          <span *ngIf="offer.wageMode == 'hourly'" class="">
            {{
              offer.hourlyWages ? offer.hourlyWages : offer.hourlyWage
            }}&nbsp;{{ offer.currency }} / {{"hr" | translate}}</span
          >
          <span *ngIf="offer.wageMode == 'fixed'">
            <!-- {{'fixedfair' | translate}} :  -->
            {{ offer.fixedWage ? offer.fixedWage : 0 }}&nbsp;{{
              offer.currency
            }}
          </span>
        </p>
      </div>
    </div>

    <div *ngIf="!offer.jobDetails" class="row my-3">
      <div class="col-md-3 col-2">
        <img src="assets/images/hr_tag.png" class="img-fluid" />
      </div>
      <div class="col-md-9 col-9 px-0 mx-0">
        <p class="text-left text_blue font_20_over">
          <!-- <i class="fa fa-money" aria-hidden="true"></i>&nbsp;  {{'wagemode' | translate}} : -->
          <span *ngIf="offer.wageMode"> {{ (offer.wageMode) | translate | titlecase }}</span
          >&nbsp;
        </p>
      </div>
    </div>

    <div *ngIf="offer.jobDetails" class="row my-3">
      <div class="col-md-3 col-2 col-sm-4 ">
        <img src="assets/images/hr_tag.png" class="img-fluid" />
      </div>
      <div class="col-md-9 col-9  px-0 mx-0">
        <p class="text-left text_blue font_20_over">
          <!-- <i class="fa fa-money" aria-hidden="true"></i>&nbsp; {{'wagemode' | translate}} : -->
          <span *ngIf="offer.jobDetails.wageMode">
            {{ (offer.jobDetails.wageMode) | translate | titlecase }}</span
          >&nbsp;
        </p>
      </div>
    </div>

    <div *ngIf="!offer.jobDetails" class="row my-3">
      <div class="col-md-3 col-2">
        <img src="assets/images/rupee.png" class="img-fluid" />
      </div>
      <div class="col-md-9 col-9 px-0 mx-0">
        <p class="text-left text_blue font_20_over">
          <!-- <i class="fa fa-money" aria-hidden="true"></i>&nbsp; -->
          <span *ngIf="offer.wageMode == 'hourly'">
            <!-- {{'hourly_fair' | translate}} :  -->
            {{
              offer.hourlyWages ? offer.hourlyWages : offer.hourlyWage
            }}&nbsp;{{ offer.currency }}
          </span>
          <span *ngIf="offer.wageMode == 'hourly' && hideMinHourLabel">
            <!-- {{'minimumhour' |translate}} :  -->
            {{ offer.minHour }}&nbsp;{{ offer.currency }} / {{'hr' | translate}}</span
          >

          <span *ngIf="offer.wageMode == 'fixed'">
            <!-- {{'fixedfair' | translate}} :  -->
            {{ offer.fixedWage ? offer.fixedWage : 0 }}&nbsp;{{
              offer.currency
            }}
          </span>
        </p>
      </div>
    </div>

    <button
      type="button"
      *ngIf="applyBtn == 1"
      class="accept_icon w-100 my-2 btn_alkafu"
      data-toggle="modal"
      data-target="#ModalCenter_form"
    >
      <i class="fa fa-check" aria-hidden="true"></i>
      {{ "applyforjob" | translate }}
    </button>
    <button
      type="button"
      *ngIf="messageButton == 0"
      (click)="navigateMsg()"
      class="accept_icon w-100 my-2 btn_alkafu w"
      data-toggle="modal"
      data-target="#ModalCenter_form"
    >
      <i class="fa fa-comments-o" aria-hidden="true"></i>
      {{ "message" | translate }}
    </button>
    <br />
    <span *ngIf="viewContract">
      <button
        type="button"
        *ngIf="messageButton == 0 && offer.contractStatus == 'Pending'"
        [swal]="withDrawSwal"
        class="accept_icon w-100 my-2  w"
        data-toggle="modal"
        data-target="#ModalCenter_form"
      >
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        <span>
          {{ "withdrawcontract" | translate }}
        </span>
      </button>
    </span>
    <span *ngIf="!viewContract">
      <button
        type="button"
        *ngIf="messageButton == 0 && offer.proposalStatus == 'Pending'"
        [swal]="withDrawSwal"
        class="accept_icon w-100 my-2  w"
        data-toggle="modal"
        data-target="#ModalCenter_form"
      >
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        {{ "withdrawproposal" | translate }}
      </button>
    </span>

  </div>
</div>

<!-- EMPLOYER DETAILS FOR EMPLOYEE LOGIN -->

<div
  *ngIf="service.isEmployeeLogin()"
  [routerLink]="['/view_company_details']"
  (click)="
    service.setStorage('employerTempId', offer.employerDetails.employerId)
  "
  class="card bx_shadow pointer"
  style="min-height: auto;"
>
  <div class="card-body">
    <h6 class="yellow_bg_text pointer  p-2">
      {{ "about_employer" | translate }}
    </h6>
    <div
      *ngIf="!offer.employerDetails.employerProfileImage"
      class="w-100 mx-auto"
    >
      <img
        *ngIf="
          !offer.employerDetails.profileImage ||
          offer.employerDetails.profileImage == 'default'
        "
        src="assets/images/pro_company.jpg"
        class="img-fluid right_img_user mx-auto"
        alt=""
      />
      <img
        *ngIf="
          offer.employerDetails.profileImage &&
          offer.employerDetails.profileImage != 'default'
        "
        src="{{ service.url }}/download/profile.json?fileID={{
          offer.employerDetails.profileImage
        }}&token={{ service.getStorage('token') }}"
        class="  right_img_user rounded-circle mx-auto"
      />
    </div>
    <div *ngIf="!offer.employerDetails.profileImage" class="w-100 mx-auto">
      <img
        *ngIf="
          !offer.employerDetails.employerProfileImage ||
          offer.employerDetails.employerProfileImage == 'default'
        "
        src="assets/images/pro_company.jpg"
        class="img-fluid right_img_user mx-auto"
        alt=""
      />
      <img
        *ngIf="
          offer.employerDetails.employerProfileImage &&
          offer.employerDetails.employerProfileImage != 'default'
        "
        src="{{ service.url }}/download/profile.json?fileID={{
          offer.employerDetails.employerProfileImage
        }}&token={{ service.getStorage('token') }}"
        class="  right_img_user rounded-circle mx-auto"
      />
    </div>
    <p>
      <b class="text_blue" *ngIf="offer.employerDetails.employerName">
        {{ service.transform(offer.employerDetails.employerName) }}
      </b>
    </p>

    <p>
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      {{ service.transform(offer.employerDetails.addressLine1) }}
    </p>

    
    <p>
      <span class="starrate_btn">
        <ngb-rating
          [(rate)]="
            offer.employerDetails.rating / offer.employerDetails.ratingCount
          "
        >
          <ng-template let-fill="fill" let-index="index">
            <span
              class="star"
              [class.filled]="fill === 100"
              [class.bad]="
                index <
                offer.employerDetails.rating / offer.employerDetails.ratingCount
              "
              >&#9733;</span
            >
          </ng-template>
        </ngb-rating>
        <small>
          <span class="mx-1 text-left"
            >({{ offer.employerDetails.ratingCount }}&nbsp;{{
              "reviews" | translate
            }}
            )</span
          ></small
        >
      </span>
    </p>

    <!-- <p *ngIf="offer.jobDetails"><b> {{'industry_type' | translate}} : </b>
      {{service.transform(offer.jobDetails.category)}} <br>
      <b *ngIf="offer.jobDetails">{{ 'functional_area' | translate}} :</b>
      {{service.transform(offer.jobDetails.subCategory)}}</p>
    <br> -->

    <hr />
  </div>
</div>
<!-- EMPLOYEE DETAILS FOR EMPLOYER LOGIN -->
<div
  *ngIf="service.isEmployerLogin() && offer.employeeDetails"
  (click)="setEmployeeTempId(offer.employeeDetails.employeeId)"
  class="card pointer"
  style="min-height: auto;"
>
  <div class="card-body">
    <h6 class="pointer text-center yellow_bg_text p-2">
      {{ "about_employee" | translate }}
    </h6>

    <div class="w-100 mx-auto">
      <img
        *ngIf="
          !offer.employeeDetails.profileImage ||
          offer.employeeDetails.profileImage == 'default'
        "
        src="{{ service.prfImgTemp }}"
        class="img-fluid right_img_user mx-auto"
        alt=""
      />
      <img
        *ngIf="
          offer.employeeDetails.profileImage &&
          offer.employeeDetails.profileImage != 'default'
        "
        src="{{ service.url }}/download/profile.json?fileID={{
          offer.employeeDetails.profileImage
        }}&token={{ service.getStorage('token') }}"
        class="propicview_detail  right_img_user rounded-circle mx-auto"
      />
    </div>
    <p>
      <b class="text_blue" *ngIf="offer.employeeDetails.employeeName">
        {{ service.transform(offer.employeeDetails.employeeName) }}
      </b>
    </p>
    <p>
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      {{ service.transform(offer.employeeDetails.addressLine1) }}<br />
      {{ service.transform(offer.employeeDetails.addressLine2) }}
    </p>

    <p>
      <i aria-hidden="true" class="fa fa-money"></i> &nbsp;
      <b> {{ "money_earned" | translate }} :</b>
      {{
        offer.employeeDetails.amountEarned
          ? offer.employeeDetails.amountEarned
          : 0
      }}
      {{ "defaultcurrency" | translate }}
    </p>

    <p class="text_blue">
      <i aria-hidden="true" class="fa fa-money"></i> &nbsp;
      <b>{{ "hourly_fair" | translate }} :</b>
      {{ offer.employeeDetails.hourlyWages }}&nbsp;{{
        offer.employeeDetails.currency
      }}
    </p>

    <p>
      <span class="starrate_btn">
        <ngb-rating
          [(rate)]="
            offer.employeeDetails.rating / offer.employeeDetails.ratingCount
          "
        >
          <ng-template let-fill="fill" let-index="index">
            <span
              class="star"
              [class.filled]="fill === 100"
              [class.bad]="
                index <
                offer.employeeDetails.rating / offer.employeeDetails.ratingCount
              "
              >&#9733;</span
            >
          </ng-template>
        </ngb-rating>
        <small>
          <span class="mx-1 text-left"
            >({{ offer.employeeDetails.ratingCount }}&nbsp;{{
              "reviews" | translate
            }}
            )</span
          ></small
        >
      </span>
    </p>

    <br />

    <br />
  </div>
</div>
<!-- {{offer.jobId }} -->
<app-employerotherjobs
  *ngIf="service.isEmployeeLogin()"
  [jobId]="offer.jobDetails ? offer.jobDetails.jobId : offer.jobId"
  [employerId]="offer.employerDetails.employerId"
></app-employerotherjobs>
