<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <img src="assets/images/no_records.png"  class="img-fluid">
      <h5 class="text_blue text-center">{{'sorrynorecordsfound' | translate}}</h5>
    </div>
  </div>
</div>
