<!-- Header with Background Image -->

<!-- <div class="profileheader">
  

  <div class="container d-flex h-100">
    <div class="row align-self-center w-100">
      <div class="col-md-6 mx-auto">
        <h2 class="text-center bkgdarkblue_transparent p-4 text-white">{{"welcome" | translate}}</h2>
      
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <!-- iconrow -->

  <div class="row">
    <div
      class="col-md-12 mainheading text-center text-md-left py-2 mx-auto bkg_ash"
    >
      <!---------------->
      <app-headerwidget></app-headerwidget>
      <!-------------------->
    </div>
    <div
      class="col-md-12 mainheading text-center text-md-left py-1 mx-auto bg-white"
    >
      <div class="page_w_90  mt-4">
        <div class="row">
          <div class="col-md-12 my-4">
            <div class="">
              <div class="row p-1 ">
                <div class="col-md-12">
                  <div class="row my-1">
                    <div
                      [routerLink]="['/contracts']"
                      routerLinkActive="router-link-active"
                      class="col-md-3 pointer"
                    >
                      <div class="imgicon_widget row  ">
                        <div class="col-md-3 col-sm-5 col-3 my-auto px-auto">
                          <h2 class="text-center text-white mx-auto">
                            <i
                              class="fa fa-clock-o fa-1x bg_blue_tile_round1"
                              aria-hidden="true"
                            ></i>
                          </h2>
                        </div>
                        <div class="col-md-9 col-sm-7 col-9 my-auto ">
                          <div
                            class="cards py-2 pointer"
                            routerLink="../completed_contracts"
                          >
                            <h6 class="txt_ash text-center">
                              {{ "active_contracts" | translate }}
                            </h6>
                            <h3 class="text-center txt_ash">
                              {{
                                service.summery.activeContract
                                  ? service.summery.activeContract
                                  : (0 | number)
                              }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      [routerLink]="['/contracts']"
                      routerLinkActive="router-link-active"
                      class="col-md-3 pointer"
                    >
                      <div class="imgicon_widget  row">
                        <div class="col-md-3 col-sm-5 col-3 my-auto px-auto">
                          <h2 class="text-center text-white mx-auto">
                            <i
                              class="fa fa-check bg_blue_tile_round2"
                              aria-hidden="true"
                            ></i>
                          </h2>
                        </div>
                        <div class="col-md-9 col-sm-7 col-9 my-auto">
                          <div
                            class="cards py-2 pointer"
                            routerLink="../completed_contracts"
                          >
                            <h6 class="txt_ash text-center">
                              {{ "completed_contracts" | translate }}
                            </h6>
                            <h3 class="text-center txt_ash">
                              {{
                                service.summery.completeContract
                                  ? service.summery.completeContract
                                  : (0 | number)
                              }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 ">
                      <div class="imgicon_widget row  ">
                        <div class="col-md-3 col-3 col-sm-5 my-auto px-auto">
                          <h2 class="text-center text-white mx-auto">
                            <i
                              class="fa fa-money bg_blue_tile_round3"
                              aria-hidden="true"
                            ></i>
                          </h2>
                        </div>
                        <div class="col-md-9 col-9 col-sm-7 my-auto ">
                          <div class="cards py-2">
                            <h6 class="txt_ash text-center">
                              {{ "money_earned" | translate }}
                            </h6>
                            <h3 class="text-center txt_ash">
                              {{
                                service.summery.amountEarned
                                  ? service.summery.amountEarned
                                  : 0
                              }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="imgicon_widget  row">
                        <div class="col-md-3 col-3 col-sm-5 my-auto px-auto">
                          <h2 class="text-center text-white mx-auto">
                            <i
                              class="fa fa-star-half-o bg_blue_tile_round4"
                              aria-hidden="true"
                            ></i>
                          </h2>
                        </div>
                        <div class="col-md-9 col-9 col-sm-7 my-auto">
                          <div class="cards py-2">
                            <h6 class="txt_ash text-center">
                              {{ "rating" | translate }}
                            </h6>
                            <h3 class="text-center txt_ash">
                              {{
                                service.summery.rating
                                  ? returnParseInt(service.summery.rating)
                                  : (0 | number)
                              }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-8 my-2">
            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="card ">
                  <div class="row py-4 px-4">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6 my-2">
                          <div class="imgicon">
                            <div class="cards py-2">
                              <a routerLink="/employee_joblist">
                                <h2 class="text-center text-white mx-auto">
                                  <i
                                    class="fa fa-list-alt fa-1x bg_blue_tile_round3"
                                    aria-hidden="true"
                                  ></i>
                                </h2>

                                <p>
                                  <!-- {{"open_the" | translate}}
                                      <br> -->
                                  <b>{{ "part_time_list" | translate }}</b>
                                </p>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6 my-2">
                          <div class="imgicon">
                            <div class="cards py-2">
                              <a routerLink="/employee_view_map">
                                <!-- <img src="assets/images/omap.png" class="img-fluid50"> -->
                                <h2 class="text-center text-white mx-auto">
                                  <i
                                    class="fa   fa-map bg_blue_tile_round4"
                                    aria-hidden="true"
                                  ></i>
                                </h2>

                                <p>
                                  <!-- <b>{{"part_time_map_open" | translate}}</b> -->
                                  <b>{{ "part_time_map" | translate }}</b>
                                </p>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6 my-2">
                          <div class="imgicon">
                            <div class="cards py-2">
                              <a routerLink="/proposals">
                                <!-- <img src="assets/images/check.png" class="img-fluid50"> -->
                                <h2 class="text-center text-white mx-auto">
                                  <i
                                    class="fa fa-suitcase bg_blue_tile_round1"
                                    aria-hidden="true"
                                  ></i>
                                </h2>

                                <p>
                                  <b>{{ "proposals" | translate }}</b>
                                </p>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6 my-2">
                          <div class="imgicon">
                            <div class="cards py-2">
                              <a routerLink="../completed_contracts">
                                <!-- <img src="assets/images/one-time project1.png" class="img-fluid50"> -->
                                <h2 class="text-center text-white mx-auto">
                                  <i
                                    class="fa  fa-handshake-o bg_blue_tile_round2"
                                    aria-hidden="true"
                                  ></i>
                                </h2>

                                <p>
                                  <!-- {{"evaluate_wrk_done" | translate}} -->
                                  <b>{{ "contracts" | translate }}</b>
                                </p>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <app-incomegraphwidget></app-incomegraphwidget>
              </div>

              <div class="col-12 my-2 d-sm-none d-md-none d-block ">
                <app-leaderboard></app-leaderboard>
                <div class="col-md-12 my-2">
                  <app-reviewswidget></app-reviewswidget>
                </div>
              </div>

              <div
                infinite-scroll
                [infiniteScrollDistance]="scrollDistance"
                [infiniteScrollUpDistance]="scrollUpDistance"
                [infiniteScrollThrottle]="throttle"
                (scrolled)="onScrollDown()"
                class="col-md-12  py-3 px-3"
              >
                <div class="card ">
                  <h5 class="txt_dark_blue_header p-2 bkg_widget_head">
                    {{ "job_rec_for_u" | translate }}
                  </h5>

                  <div class="container-fluid py-3 px-3">
                    <div class="row">
                      <div
                        *ngIf="
                          service.jobDetails.length == 0 && !service.loader
                        "
                        class="col-md-12 mx-auto my-3"
                      >
                        <app-norocordsfound></app-norocordsfound>
                      </div>
                    </div>
                    <div
                      *ngFor="let val of service.jobDetails; let i = index"
                      class="my-2"
                    >
                      <div class="row bx_shadow mx-2">
                        <!-- <div *ngIf="val.jobPostType=='urgent'"  class="col-md-12">
                              <div class="ribbon">
                                <span>
                                 {{'urgent' | translate}}
                                </span>
                              </div>
                            </div> -->
                        <div
                          *ngIf="val.jobPostType == 'urgent'"
                          class="col-md-12"
                        >
                          <img
                            src="assets/images/urgent3.png"
                            class="urgent_badge   mx-auto d_ar_none"
                            style="width: 100px;"
                          />

                          <img
                          src="assets/images/urgent3ar.png"
                          class="urgent_badge   mx-auto d_ar_block"
                          style="width: 100px;"
                        />

                        </div>
                        <div class="col-md-12  p-3">
                          <div class="row">
                            <div class="col-md-9 ">
                              <div class="row">
                                <div class="col-md-12">
                                  <h5 class="text_blue text-left">
                                    {{ service.transform(val.jobTitle) }}
                                  </h5>
                                </div>
                                <div class="col-md-6">
                                  <p
                                    (click)="
                                      service.setStorage(
                                        'employerTempId',
                                        val.employerDetails.employerId
                                      )
                                    "
                                    [routerLink]="['/view_company_details']"
                                    class="pointer text-left"
                                  >
                                    <i
                                      class="fa fa-building-o"
                                      aria-hidden="true"
                                    ></i>

                                    {{
                                      service.transform(
                                        val.employerDetails.companyName
                                      )
                                    }}

                                    <br />
                                  </p>
                                  <p class="text-left">
                                    <i
                                      class="fa fa-map-marker"
                                      aria-hidden="true"
                                    ></i>
                                    {{ val.employerDetails.state }},&nbsp;
                                    {{ val.employerDetails.country }} &nbsp;
                                  </p>
                                </div>

                                <div class="col-md-12">
                                  <p class="text-justify">
                                    {{ service.transform(val.jobDescription) }}
                                  </p>
                                </div>
                                <!-- <div class="col-md-12 my-2">
                                    <p class="text-left">{{'skill_set' |translate}} :
                                      <span *ngIf="!val.skill" class="small d-inline p-1 mb-1 mt-1 mx-1 bg-secondary text-white rounded">{{'any'
                                        | translate}}</span>
                                      <span *ngFor="let skill of val.skill" class="small d-inline p-1 mb-1 mt-1 mx-1 bg-secondary text-white rounded">{{skill}}</span>
                                    </p>
                                  </div> -->
                              </div>
                            </div>

                            <div class="col-md-3 mx-auto my-auto">
                              <button
                                class="btn btn_alkafu w-100 my-2"
                                *ngIf="service.isEmployeeLogin()"
                                (click)="viewJobList(val)"
                              >
                                <i
                                  class="fa fa-suitcase"
                                  aria-hidden="true"
                                ></i>

                                {{ "go_grab_it" | translate }}
                              </button>
                              <button
                                class="btn btn_alkafu w-100 my-2"
                                *ngIf="service.isEmployerLogin()"
                                disabled="disabled"
                              >
                                <i
                                  class="fa fa-suitcase"
                                  aria-hidden="true"
                                ></i>

                                {{ "go_grab_it" | translate }}
                              </button>
                              <button
                                class="btn btn_alkafu w-100 my-2"
                                *ngIf="service.noLogin"
                                routerLink="/signup"
                                routerLinkActive="router-link-active"
                              >
                                <i
                                  class="fa fa-suitcase"
                                  aria-hidden="true"
                                ></i>

                                {{ "go_grab_it" | translate }}
                              </button>
                            </div>

                            <app-iconset
                              [employerDetails]="val.employerDetails"
                              [val]="val"
                            ></app-iconset>
                          </div>
                        </div>
                      </div>
                    </div>

                    <app-lazyloader *ngIf="service.loader"></app-lazyloader>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 my-2 d-sm-block d-md-block d-none ">
            <app-leaderboard></app-leaderboard>
            <div class="row">
              <div class="col-md-12 my-4">
                <app-reviewswidget></app-reviewswidget>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>

<!-- <div class="container-fluid">
  <hr>
</div> -->
<!-- 
<div class="pb-1 pt-1 chat-window" id="chat_window_1" style="margin-left:10px;"> -->
<app-groupchatcontainer></app-groupchatcontainer>
<!-- </div> -->
