<!-- <ng4-loading-spinner [timeout]="90000"> </ng4-loading-spinner> -->




<div class="container-fluid">
  <div class="mysidebutton d-block d-sm-none">
    <!-- <button class="btn filterbtn" data-toggle="collapse" data-target="#demo9"> -->
    <button class="btn filterbtn" data-toggle="modal" data-target="#sideFilterModal">
      <img src="assets/images/filterw.png" style="width: 18px;">
    </button>
  </div>

  <!-- iconrow -->

  <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()" class="row">
    <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container mt-4">
        <div class="row bg-white">
          <div class="col-md-12 mb-4">
            <div class="row">
              <div class="col-md-12 mx-auto">
                <h4 class="text-center bg-white pt-3">
                  {{service.transform(jobDetails.jobTitle)}}
                </h4>

              </div>

              <div class="col-md-12 col-12 mx-auto shadow  my-1">
                <div class="">
                  <div class="cards py-2">
                    <div class="row bg-white">
                      <div class="col-md-12 py-3 bg-light">
                        <p class="text-justify">
                          {{service.transform(jobDetails.jobDescription)}} </p>
                      </div>
                      <app-iconset [employerDetails]=[] [showRating]=0 [val]=jobDetails></app-iconset>
                      <div *ngIf="jobDetails.fileDetails" class="col-md-12">  
                         <div class="row" *ngIf="jobDetails.fileDetails.length >0">
                           <div class="col-md-2">
                             <p>
                                {{'attachment' | translate}}
                             </p>
                           </div>
                          <div class="col-md-10">
                             <app-atachmentview [attachments]=jobDetails.fileDetails></app-atachmentview>
                          </div>
                         </div>
                     </div>
                      <hr>
                      <div class="col-md-10 py-3 bkg_ash"></div>

                      <div class="col-md-2 py-3 ml-auto bkg_ash d-none d-sm-block">
                        <span class="btn_alkafu mt-1 mr-1 text-center" data-toggle="collapse" data-target="#demo9">
                          <a class="">
                            <img src="assets/images/filterw.png" style="width: 18px;">
                            &nbsp; {{'filters' | translate}}
                          </a>
                        </span>
                      </div>

                      <div class="col-md-12  b_shadow px-2">
                        <div class="w-100   collapse px-2 py-2" id="demo9">
                          <app-filter></app-filter>
                        </div>
                      </div>

                      <div class="col-md-12 mt-3">
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item" (click)="tabType=1;fetchProposalFromApi(0)">
                            <a class="nav-link text-dark active" data-toggle="tab" href="#newappsn" role="tab">
                              <b>{{'new_applications' | translate}}&nbsp;({{applicationTotalCount}})</b>
                            </a>

                            <div class="active-arrow"></div>
                          </li>

                          <li class="nav-item" (click)="tabType=2;invitedWorkersFromApi(0)">
                            <a class="nav-link text-dark" data-toggle="tab" href="#invitedw" role="tab">
                              <b> {{'invited_workers' | translate}}&nbsp;({{invitedWrkTotalCount}})</b>
                            </a>

                            <div class=""></div>
                          </li>

                          <li class="nav-item" (click)="tabType=3;hiredWorkerFromApi(0)">
                            <a class="nav-link text-dark" data-toggle="tab" href="#hireemp" role="tab">
                              <b> {{'hired_offered' | translate}}&nbsp;({{hiredTotalCount}}) </b>
                            </a>

                            <div class=""></div>
                          </li>

                          <li class="nav-item" (click)="tabType=4;recommendationFromApi(0)">
                            <a class="nav-link text-dark" data-toggle="tab" href="#rec" role="tab">
                              <!-- <b> {{'recommendations' | translate}}</b> -->
                              <b> {{'recommendations' | translate}}&nbsp;({{recommendationTotalCount}}) </b>
                            </a>

                            <div class=""></div>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="row tab-content mt-5">
                      <div class="col-md-12 tab-pane bg-white active" id="newappsn" role="tabpanel">
                        <app-norocordsfound *ngIf="newApplication.length == 0 && !service.loader "></app-norocordsfound>

                        <div *ngFor="let val of newApplication   ;  let i= index">
                          <!--New Application For loop Starts-->
                          <div class="row px-3">
                            <div class="col-md-12  py-3">
                                <span  class="btn_edit_ab pointer">
                                    <!-- <i class="fa fa-pencil-square " aria-hidden="true"></i> -->
            
                                    <div  *ngIf="val.proposalStatus!='Rejected'" class="dropdown show">
                                        <a class="btn accept_edit dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                            
                                        </a>                         
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                          <a class="dropdown-item"  [swal]="rejectProposal"
                                          (click)="tempProposalId=val.proposalId"  > {{'reject' | translate}} </a>
                                         
                                       
                                        </div>
                                      </div>
            
                                  </span>
                              <div class="row px-3 bx_shadow py-4">
                                <div class="col-md-2 pb-2 pt-2 order-1">
                                  <img *ngIf="!val.employeeDetails.profileImage" src="{{service.prfImgTemp}}" class="listpropicview w-100 rounded-circle mx-auto">
                                  <img *ngIf="val.employeeDetails.profileImage" src="{{service.url}}/download/profile.json?fileID={{val.employeeDetails.profileImage}}&token={{service.getStorage('token')}}"
                                    class="listpropicview  w-100 rounded-circle mx-auto">
                                </div>

                                <div class="col-md-6 order-2">
                                  <ul class="view_applicantdetails">
                                    <li>
                                      <h5 (click)="service.setStorage('employeeTempId',val.employeeDetails.employeeId);; pageChange()"
                                        class="text_blue pointer ">{{val.employeeDetails.employee}}</h5>
                                    </li>

                                    <li>
                                      <h6 class="">
                                        {{(val.employeeDetails.profileTitle.length>150)?
                                        (val.employeeDetails.profileTitle
                                        |
                                        slice:0:150)+'..':(val.employeeDetails.profileTitle) }}
                                      </h6>
                                    </li>
                                    <!-- <li *ngIf="val.employeeDetails.skill">
                                      
                                        <p>{{"skill_set" | translate}} : <span class="text-left">
                                          <p *ngFor="let skill of skillFormat(val.employeeDetails.skill)" class="small d-inline p-1 m-1  bg-secondary text-white rounded">{{skill}}</p>
                                        </span></p>                                   
                                    </li> -->
                                  </ul>
                                </div>


                                <div class="col-md-3 text-center mx-auto w-100 order-4 order-md-3">
                                  <button *ngIf="val.proposalStatus=='Pending'" class="btn btn_alkafu  my-2  " (click)="viewEmployee(val)"
                                    routerLink="/view_employee" style="min-width: 125px;"><i class="fa fa-eye"
                                      aria-hidden="true"></i> {{'view_proposal' | translate}}
                                  </button>
                                  <button *ngIf="val.proposalStatus!='Pending'" class="btn btn_alkafu  my-2 w-100"
                                    disabled="disabled" style="min-width: 125px;">{{val.proposalStatus?val.proposalStatus:val.status}}</button>
                                  <br>
                                  <div title="{{val.employeeDetails.mobileNumber}}" class="contact-number"   *ngIf="val.employeeDetails.mobileNumber">
                                    <i class="fa fa-phone" aria-hidden="true"></i> {{val.employeeDetails.mobileNumber}}
                                  </div>
                                  <button class="btn accept_icon  my-2 ml-auto " *ngIf="val.proposalStatus!='Rejected'"
                                    (click)="navigateMsg(val.employeeDetails.employeeId,val.proposalId)" style="min-width: 125px;">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i> {{'message' | translate}}
                                  </button>
                                  <br>
                                  <!-- <button *ngIf="val.proposalStatus!='Rejected'" class="btn btn_alkafu  my-2  " [swal]="rejectProposal"
                                    (click)="tempProposalId=val.proposalId" style="min-width: 125px;"> <i class="fa fa-ban"
                                      aria-hidden="true"></i> {{'reject' | translate}} </button> -->
                                </div>
                                <div class="col-md-12 order-3">
                                  <app-employeeicon  [val]=val.employeeDetails
                                  [proposalRate]="val.proposalStatus=='Pending'?val.wageMode=='hourly'?val.hourlyWages : val.fixedWage :'0'"></app-employeeicon>
                                </div>
                              </div>
                             
                            </div>
                          </div>
                        
                        </div><!-- For loop ends-->
                        <app-lazyloader *ngIf="service.loader"></app-lazyloader>
                        <!-- <pagination-controls *ngIf="newApplication" (pageChange)="new = $event"></pagination-controls> -->

                      </div>


                      <div class="col-md-12 tab-pane  bg-white" id="rec" role="tabpanel">

                        <div *ngFor="let val of recommendation  ;  let i= index">
                          <!--New Application For loop Starts-->
                          <div class="row py-2 px-3">
                            <div class="col-md-12 bx_shadow py-4">
                              <div class="row px-3 ">
                                <div class="col-md-2 pb-2 pt-2 order-1">
                                  <img *ngIf="!val.profileImage" src="{{service.prfImgTemp}}" class="listpropicview w-100 rounded-circle mx-auto">
                                  <img *ngIf="val.profileImage" src="{{service.url}}/download/profile.json?fileID={{val.profileImage}}&token={{service.getStorage('token')}}"
                                    class="listpropicview w-100 rounded-circle mx-auto">
                                </div>

                                <div class="col-md-6 order-2">
                                  <div class="view_applicantdetails row">
                                    <div (click)="service.setStorage('employeeTempId',val.employeeId);; pageChange()"
                                      class="col-md-12 pointer">
                                      <h5 class="text_blue">{{val.employee | titlecase}}</h5>
                                    </div>

                                    <div class="col-md-12">
                                      <h6 *ngIf="val.profileTitle">


                                        {{(val.profileTitle.length>150)? (val.employeeDetails.profileTitle |
                                        slice:0:150)+'
                                        ...':(val.profileTitle) }}
                                      </h6>
                                    </div>

                                    <!-- <div class="col-md-12" *ngIf="val.skill">
                                     
                                        <p>{{"skill_set" | translate}} : <span class="text-left">
                                          <p *ngFor="let skill of skillFormat(val.skill)" class="small d-inline p-1 m-1  bg-secondary text-white rounded">
                                            {{skill}}</p>
  
  
                                        </span></p>
                                     

                                     
                                    </div> -->
                                  </div>
                                </div>


                                <div class="col-md-3 text-center mx-auto order-4 order-md-3">
                                  <button class="btn btn_alkafu  my-2 btn125" (click)="inviteToJob(val.employeeId)">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i> {{'invite_to_job' | translate}}
                                  </button>
                                </div>

                                <div class="col-md-12 order-3 order-md-4">
                                  <app-employeeicon [val]=val.employeeDetails></app-employeeicon>
                                </div>
                              </div>
                            
                            </div>
                          </div>

                         
                        </div><!-- For loop ends-->
                        <app-lazyloader *ngIf="service.loader"></app-lazyloader>
                        <app-norocordsfound *ngIf="recommendation.length == 0 && !service.loader "></app-norocordsfound>



                      </div>

                      <div class="col-md-12 tab-pane  bg-white" id="invitedw" role="tabpanel">


                        <div *ngFor="let val of invitedWorkers  ;  let i= index">
                          <!--- Invited Employee For start-->
                          <div class="row px-3 py-2">
                             
                            <div class="col-md-12  bx_shadow py-4">
                               
                              <div class="row px-1">
                                <div class="col-md-2 pb-2 pt-2 order-1">
                                  <img *ngIf="!val.employeeDetails.profileImage" src="{{service.prfImgTemp}}" class="listpropicview w-100 rounded-circle mx-auto">
                                  <img *ngIf="val.employeeDetails.profileImage" src="{{service.url}}/download/profile.json?fileID={{val.employeeDetails.profileImage}}&token={{service.getStorage('token')}}"
                                    class="listpropicview w-100 rounded-circle mx-auto">
                                </div>

                                <div class="col-md-7 order-2">
                                  <ul class="view_applicantdetails">
                                    <li (click)="service.setStorage('employeeTempId',val.employeeDetails.employeeId);; pageChange()">

                                      <h5 class="text_blue pointer">{{service.transform(val.employeeDetails.employee)}}</h5>
                                    </li>

                                    <li>
                                      <h6>
                                        {{service.transform(val.employeeDetails.profileTitle)}}
                                      </h6>
                                    </li>

                                    <!-- <li *ngIf="val.employeeDetails.skill">
                                    
                                        <p>{{"skill_set" | translate}} : <span class="text-left">
                                          <p *ngFor="let skill of skillFormat(val.employeeDetails.skill)" class="small d-inline p-1 m-1  bg-secondary text-white rounded">{{skill}}</p>
  
  
                                        </span></p>
                                     

                                      
                                    </li> -->
                                  </ul>
                                </div>



                                <div class="col-md-3 w-100 my-auto mx-auto order-4 order-md-3">
                                  <!-- routerLink="/view_employee" -->
                                  <span  *ngIf="val.invitationStatus=='Approve'" >
                                      <button class="btn btn_alkafu   my-2  btn125  mx-auto" (click)="viewEmployee(val)" routerLink="/viewInvitationDetails"
                                      *ngIf="val.proposal.proposalStatus!='Rejected' &&val.proposal.status=='Active'" >
                                      <i class="fa fa-handshake-o" aria-hidden="true"></i> {{'hired_employee' |
                                      translate}} </button>
                                      <button class="btn btn_alkafu  my-2 btn125  mx-auto" disabled
                                      *ngIf="val.proposal.proposalStatus=='Rejected'">
                                      <i class="fa fa-ban" aria-hidden="true"></i> {{val.proposal.proposalStatus}} </button>
                                      <button class="btn btn_alkafu  my-2 btn125  mx-auto" disabled
                                      *ngIf="val.proposal.status!='Active'">
                                      <i class="fa fa-ban" aria-hidden="true"></i> {{val.proposal.status | titlecase}} </button>
                                    <button (click)="tempInvitationId=val.invitationId" disabled class=" mx-auto btn btn_alkafu  my-2 btn125" [swal]="cancelInvitation" *ngIf="val.invitationStatus=='Pending'">
                                        <i class="fa fa-clock" aria-hidden="true"></i>
                                      {{val.invitationStatus}}</button>
                                  </span>
                                 
                                 <span *ngIf="val.invitationStatus=='Pending' || val.invitationStatus=='Rejected'">
                                    <button class="btn btn_alkafu  my-2 btn125  mx-auto" disabled
                                   >
                                    <i class="fa fa-handshake-o" aria-hidden="true"></i> {{val.invitationStatus}} </button>
                                 </span>
                                  <br>
                                  <div title="{{val.employeeDetails.mobileNumber}}" class="contact-number"   *ngIf="val.employeeDetails.mobileNumber">
                                    <i class="fa fa-phone" aria-hidden="true"></i> {{val.employeeDetails.mobileNumber}}
                                  </div>
                                  <button class="btn accept_icon  my-2 btn125  mx-auto" *ngIf="val.proposalId && val.invitationStatus!='Rejected'" (click)="service.navigateMsg(val.employeeDetails.employeeId,val.proposalId)">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    {{'message' |
                                    translate}} </button>
                                  <br>
                                 <span *ngIf="val.invitationStatus=='Approve'">
                                    <button *ngIf="val.proposal.proposalStatus!='Rejected' &&val.proposal.status=='Active'" class="btn btn_alkafu btn125  my-2 mx-auto "
                                    [swal]="rejectProposal" (click)="tempProposalId=val.proposalId" ><i
                                      class="fa fa-ban" aria-hidden="true"></i>
                                    {{'reject' | translate}} </button>
                                 </span>
                                </div>
                               <div class="col-md-12 order-3 order-md-4">
                                 
                                    <app-employeeicon [val]=val.employeeDetails
                              [proposalRate]="val.invitationStatus=='Approve'?val.wageMode=='hourly'?val.hourlyWages : val.fixedWage :'0'"></app-employeeicon>
                                 
                               </div>


                              </div>
                              
                              
                            </div>
                          </div>

                     
                        </div>

                        <app-lazyloader *ngIf="service.loader"></app-lazyloader>
                        <app-norocordsfound *ngIf="invitedWorkers.length == 0 && !service.loader "></app-norocordsfound>


                        <!--- Invited employee for end-->
                        <!-- <pagination-controls *ngIf="invitedWorkers" (pageChange)="invited = $event"></pagination-controls> -->

                      </div>

                      <div class="col-md-12 tab-pane bg-white" id="hireemp" role="tabpanel">

                        <div *ngFor="let val of hiredWorkers  ;">
                          <div class="row px-3 py-2">
                            <div class="col-md-12  bx_shadow py-4">

                          <div class="row px-3   ">
                            <div class="col-md-2 pb-2 pt-2 order-1">
                              <img *ngIf="!val.profileImage" src="{{service.prfImgTemp}}" class="listpropicview w-100 rounded-circle mx-auto">
                              <img *ngIf="val.profileImage" src="{{service.url}}/download/profile.json?fileID={{val.profileImage}}&token={{service.getStorage('token')}}"
                                class="listpropicview w-100 rounded-circle mx-auto">
                            </div>

                            <div class="col-md-6 order-2">
                              <ul class="view_applicantdetails">
                                <li>
                                  <h5 (click)="service.setStorage('employeeTempId',val.employeeId);; pageChange()"
                                    class="text_blue pointer">{{service.transform(val.employee)}}</h5>
                                </li>

                                <li>
                                  <h6>
                                    {{service.transform(val.profileTitle)}}
                                  </h6>
                                </li>

                                <!-- <li *ngIf="val.skill">
                                 
                                    <p>{{"skill_set" | translate}} : <span class="text-left">
                                      <p *ngFor="let skill of skillFormat(val.skill)" class="small d-inline p-1 m-1  bg-secondary text-white rounded">{{skill}}</p>
  
  
                                    </span></p>
                                </li> -->
                                <li>
                                  {{'status' | translate}}&nbsp;:&nbsp;{{val.contractStatus=='Pending'?'Offered':val.contractStatus=='Approve'?'Hired':val.contractStatus}}
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-3 text-center mx-auto order-4 order-md-3">
                              <button *ngIf="val.contractStatus!='Rejected'" class="btn btn_alkafu  my-2 btn125" (click)="setValue(val)">
                                <i class="fa fa-eye" aria-hidden="true"></i> {{'view_contract' | translate}} </button>
                                <button *ngIf="val.contractStatus=='Rejected'" disabled class="btn btn_alkafu  my-2 btn125" >
                                    <i class="fa fa-ban" aria-hidden="true"></i> {{val.contractStatus}} </button>
                              <br>
                              <div title="{{val.employeeDetails.mobileNumber}}" class="contact-number"  *ngIf="val.employeeDetails.mobileNumber">
                                <i class="fa fa-phone" aria-hidden="true"></i> {{val.employeeDetails.mobileNumber}}
                              </div>
                              <button class="btn accept_icon  my-2 btn125" *ngIf="val.proposalId" (click)="service.navigateMsg(val.employeeId,val.proposalId)">
                                <i class="fa fa-comments-o" aria-hidden="true"></i> {{'message' |
                                translate}} </button>
                            </div>
                            <div class="col-md-12 order-3 order-md-3">
                              <app-employeeicon [val]=val.employeeDetails?val.employeeDetails:[]
                              [proposalRate]="val.contractStatus=='Pending'?(val.proposalDetails.wageMode=='hourly'?val.proposalDetails.hourlyWage : val.proposalDetails.fixedWage) :'0'"></app-employeeicon>
                            </div>


                          </div>
                          <!-- {{val.proposalDetails | json}} -->
                         
                          </div>
                        </div>

                        
                        </div>
                        <app-lazyloader *ngIf="service.loader"></app-lazyloader>
                        <app-norocordsfound *ngIf="hiredWorkers.length == 0 && !service.loader "></app-norocordsfound>


                        <!-- <pagination-controls *ngIf="invitedWorkers" (pageChange)="hire = $event"></pagination-controls> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- </div>
                                <div class="row"> -->
        </div>

        <!-- row -->
      </div>

      <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                   </div> -->
    </div>

    <!-- end iconrow -->
  </div>
</div>
<!-- filtermodal -->

<div class="modal fade" id="sideFilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'filters' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-filter></app-filter>
      </div>

    </div>
  </div>

</div>
<!-- end filter modal -->
<swal #rejectProposal [title]="'areyousure' | translate" [text]="'cantbeundone' | translate" type="question"
  [showCancelButton]="true" [focusCancel]="true" (confirm)="rejectProposals(tempProposalId)">
</swal>

<swal #cancelInvitation [title]="'areyousure' | translate" [text]="'cantbeundone' | translate" type="question"
  [showCancelButton]="true" [focusCancel]="true" (confirm)="withdrawInvitation(tempInvitationId)">
</swal>