h6
{
    word-wrap:break-word;
}

.contact-number {
    border: solid 1px #d8dbdc;
    background: #eeeeee;
    border-radius: 5px;
    padding: 2px;
    text-overflow: ellipsis;
    max-width: 128px;
    min-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    float: right;
    margin-right: 53px;
}