<div class="profileheader">
  <!-- for Responsive Viewport (Insert Carousel or other item for "cover" effect) -->
  <!-- Carousel container -->
</div>

<div class="container-fluid">
  <div class="page_w_90">
    <!-- iconrow -->

    <div class="row mb-4">
      <div class="col-md-3 proimg">
        <img
          src="assets/images/Almarai-Logoash.jpg"
          class="rounded-circle img-fluid img-position-cls"
          style="width: 80%;"
        >
      </div>

      <div class="col-md-9 mainheading text-center text-md-left mt-4 mb-4 ml-auto">
        <h3>Almarai Company</h3>

        <p>Dammam, Saudi Arabia</p>

        <div class="container">
          <div class="mt-3 mb-3">
            <div class="row">
              <div class="col-md-12 row4_home">
                Almarai Co, the largest dairy company in Saudi Arabia by market value, operates dairy farms and processes food, in addition to marketing dairy products and fruit juices. The name Almarai means ‘green pastures’ in Arabic.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="row card py-4 px-2">
            <div class="col-md-12">
              <h4 class="yellow_bg_text text-center">How it works</h4>

              <div id="accordion">
                <div class="card">
                  <p class="text-left px-2 pt-1">
                    <a
                      class="card-link"
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#menuone"
                    >
                      <span class="txt_how_it">
                        <i
                          class="fa fa-dot-circle-o"
                          aria-hidden="true"
                        ></i>

                         Search your employee
                      </span>
                    </a>
                  </p>
                </div>

                <div
                  id="menuone"
                  class="collapse show"
                >
                  <div class="card-body text-justify">
                    Connecting businesses with the right employee, contact and part-time professionals. On Up part-time, you run your own business and choose your own clients and projects. Just complete your profile and we’ll highlight ideal jobs. Also search projects, and respond to client invitations.
                  </div>
                </div>
              </div>

              <br>

              <div class="card">
                <div class="card-header bg_body px-2 p-1">
                  <p class="text-left">
                    <a
                      class="card-link"
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#menutwo"
                    >
                      <span class="txt_how_it">
                        <i
                          class="fa fa-dot-circle-o"
                          aria-hidden="true"
                        ></i>

                         It's a match
                      </span>
                    </a>
                  </p>
                </div>

                <div
                  id="menutwo"
                  class="collapse"
                >
                  <div class="card-body text-justify">
                    Uppart-time makes it easy to connect with clients and begin doing great work.. Enjoy higher visibility with the added status of prestigious programs.
                  </div>
                </div>
              </div>

              <br>

              <div class="card">
                <div class="card-header bg_body px-2 p-1">
                  <p class="text-left">
                    <a
                      class="card-link"
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#menuthree"
                    >
                      <span class="txt_how_it">
                        <i
                          class="fa fa-dot-circle-o"
                          aria-hidden="true"
                        ></i>

                         Connect and hire.
                      </span>
                    </a>
                  </p>
                </div>

                <div
                  id="menuthree"
                  class="collapse"
                >
                  <div class="card-body text-justify">
                    Connecting businesses with the right freelance, contact and part-time professionals. On Up part-time, you run your own business and choose your own clients and projects. Just complete your profile and we’ll highlight ideal jobs. Also search projects, and respond to client invitations.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="container-fluid">
            <div class="row borderbox mainheading mx-2 bg-white">
              <div class="col-md-4  py-4">
                <h5 class="text-center">
                  <i
                    class="fa fa-globe"
                    aria-hidden="true"
                  ></i>
                </h5>

                <h5 class="text-center">www.almarai.com</h5>
              </div>

              <div class="col-md-4 py-4">
                <h5 class="text-center">
                  <i
                    class="fa fa-map-marker"
                    aria-hidden="true"
                  ></i>
                </h5>

                <p class="text-center">
                  Exit 7, North Circle Road, Al Izdihar District-8524
                </p>
              </div>

              <div class="col-md-4 boxblueclr py-4">
                <h5 class="text-center">
                  <i
                    class="fa fa-phone-square"
                    aria-hidden="true"
                  ></i>
                </h5>

                <h5 class="text-center">966 1 4700005</h5>
              </div>
            </div>

            <!-- work histry -->

            <div class="row  work_history mt-4 mb-4">
              <div class="col-md-12">
                <h4>About</h4>
              </div>

              <!-- history -->
              <!-- <div class="col-md-12  mt-4 ">
                          <h5 class="text-left ">About Almarai</h5>
                           <p class="text-left "><small>April 25, 2018</small></p>
                       </div> -->

              <div class="col-md-12">
                <p class="text-justify">
                  The firm began 2009 in bold fashion as it looks to consolidate its presence in the Kingdom and expand overseas. It announced in February it was entering into a joint venture with drinks giant PepsiCo to invest in dairy and juice processors in the Middle East, South East Asia and Africa. Known as International Dairy and Juice, the venture will be 52 percent owned by PepsiCo and 48 percent by Almarai.
                </p>
              </div>

              <div class="col-md-12">
                <hr>
              </div>

              <!-- end history -->
              <!-- history -->
              <!-- end history -->
            </div>

            <!-- work history end -->
          </div>
        </div>
      </div>

      <!-- end iconrow -->
    </div>
  </div>
</div>