<div class="row">
    <div class="col-md-4">
      <p>
        <b> {{'category' | translate}} </b>
      </p>

      <div class="accordion2" id="accordion3">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">Legal</a>
          </div>

          <div id="collapse4" class="accordion-body in collapse" style="height: auto;">
            <div class="accordion-inner">
              <ul id="category" class="list-unstyled">
                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> All Legal
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Paralegal Services
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Family Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Contract Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Corporate Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Criminal Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Intellectual Property
                    Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Other – Legal
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse5">Web,
              Mobile & Software Dev.</a>
          </div>

          <div id="collapse5" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
              <ul id="category" class="list-unstyled">
                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> All Legal
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Paralegal Services
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Family Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Contract Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Corporate Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Criminal Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Intellectual Property
                    Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Other – Legal
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse6">IT
              & Networking:</a>
          </div>

          <div id="collapse6" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
              <ul id="category" class="list-unstyled">
                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> All Legal
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Paralegal Services
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Family Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Contract Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Corporate Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Criminal Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Intellectual Property
                    Law
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Other – Legal
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">Legal</a>
          </div>

          <div id="collapse4" class="accordion-body in collapse" style="height: auto;">
            <div class="accordion-inner">
              <ul id="category" class="list-unstyled">
                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> All Legal
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Paralegal Services
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Family Law
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">Data
              Science & Analytics</a>
          </div>

          <div id="collapse4" class="accordion-body in collapse" style="height: auto;">
            <div class="accordion-inner">
              <ul id="category" class="list-unstyled">
                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> All Legal
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Paralegal Services
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Family Law
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">Engineering
              & Architecture</a>
          </div>

          <div id="collapse4" class="accordion-body in collapse" style="height: auto;">
            <div class="accordion-inner">
              <ul id="category" class="list-unstyled">
                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> All Legal
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Paralegal Services
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Family Law
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">Design
              & Creative</a>
          </div>

          <div id="collapse4" class="accordion-body in collapse" style="height: auto;">
            <div class="accordion-inner">
              <ul id="category" class="list-unstyled">
                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> All Legal
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Paralegal Services
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Family Law
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">
              Human Medicine (Health Specialties
            </a>
          </div>

          <div id="collapse4" class="accordion-body in collapse" style="height: auto;">
            <div class="accordion-inner">
              <ul id="category" class="list-unstyled">
                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> All Legal
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Paralegal Services
                  </a>
                </li>

                <li>
                  <a href="" class="colourdarkblue">
                    <input type="checkbox" class="filter_check_example" /> Family Law
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <p>
        <b>Status</b>
      </p>

      <div class="custom-control custom-radio">
        <input type="radio" id="Anystatus" name="statusRadio" class="custom-control-input" checked="checked" />

        <label class="custom-control-label" for="Anystatus">Any status</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="OpenRadio1" name="statusRadio" class="custom-control-input" />

        <label class="custom-control-label" for="OpenRadio1">Open</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="AwardedRadio2" name="statusRadio" class="custom-control-input" />

        <label class="custom-control-label" for="AwardedRadio2">Awarded</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="PendingRadio3" name="statusRadio" class="custom-control-input" />

        <label class="custom-control-label" for="PendingRadio3">Pending</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="DisabledRadio3" name="statusRadio" class="custom-control-input" />

        <label class="custom-control-label" for="DisabledRadio3">Disabled</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="CompletedRadio3" name="statusRadio" class="custom-control-input" />

        <label class="custom-control-label" for="CompletedRadio3">Completed</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="ClosedRadio3" name="statusRadio" class="custom-control-input" />

        <label class="custom-control-label" for="ClosedRadio3">Closed</label>
      </div>
    </div>

    <div class="col-md-4">
      <p>
        <b>Date</b>
      </p>

      <div class="custom-control custom-radio">
        <input type="radio" id="Anytime" name="DateRadio" class="custom-control-input" checked="checked" />

        <label class="custom-control-label" for="Anytime">Any time</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="2weeksRadio2" name="DateRadio" class="custom-control-input" />

        <label class="custom-control-label" for="2weeksRadio2">Within 2 weeks</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="1month3" name="DateRadio" class="custom-control-input" />

        <label class="custom-control-label" for="1month3">Within 1 month</label>
      </div>
    </div>
  </div>