.fa-star{
   
    font-size: 2rem;
}
.fa-star-o{
   
    font-size: 2rem;
}
.d-none-comment{
    display: none;
}
.test_fade  {
    display: block;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #001c4e;
  }

    /* IMAGE STYLES */
    [type=radio] + i {
        cursor: pointer;
        cursor: pointer;
    border: 2px solid #757575;
    padding: 4px;
    border-radius: 50%;
    margin-right: 10px;
    color: #757575;
      }
      
      /* CHECKED STYLES */
      [type=radio]:checked + i {
        /* outline: 2px solid #001c4e; */
        border: 2px solid #001c4e;
        color: #001c4e;
      }