<p>
  <b>
    {{service.transform(service.jobTitleModal)}} <br>
  </b>

  {{service.transform(service.jobDescriptionModal)}}
</p>

<div class="container  mt-4">

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="service.isEmployerLogin()" class="card py-4 px-4">
        <div class="container tabs-wrap">
          <!-- <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                          <a href="#billing1" aria-controls="billing" role="tab" data-toggle="tab" aria-expanded="true">Rating </a>
                        </li>
                        <li role="presentation" class="active1">
                          <a href="#shipping1" aria-controls="shipping" role="tab" data-toggle="tab" aria-expanded="false"> Review </a>
                        </li>
                       
                      </ul> -->

          <div style="background-color: #fff;" class="tab-content">

            <!-- <div role="tabpanel" class="tab-pane active" id="billing1" style="background-color: #fff;"> -->

            <span *ngIf="service.showNext==0">
              <div class="row">
                <!-- <div class="col-md-5 field-label-responsive">
                                      <label for="password">
                                        {{'task_number' | translate }}
                                      </label>
                                    </div>
                  
                                    <div class="col-md-7">
                                      <div class="form-group">
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                          <div class="input-group-addon"></div>
                  
                                          <input disabled="disabled" type="text" name="name" class="form-control" value="{{service.getStorage('tempTaskId')}}"
                                            id="name" placeholder="Task number" required="required" autofocus="autofocus" />
                                        </div>
                                      </div>
                                    </div> -->
                <div class="col-md-12 field-label-responsive text-center">
                  <label for="password " class="text-center">
                    {{'rate_employee' | translate }}
                  </label>
                </div>

                <div class="col-md-12">
                  <div class="form-group">

                    <div class="text-center">
                      <span *ngFor="let record of service.recordList ">
                        <a *ngFor="let item of record.myList; let i=index " (click)="t=1;setStarTable(record,i)">
                          <i *ngIf="item" class="fa star fa-star-o"></i>
                          <i *ngIf="!item" class="fa bad fa-star"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div >
                <div class="col-md-12 field-label-responsive text-center">
                  <label for="password" >
                   <span class="labelrequired"> {{'comment' | translate }}</span>
                  </label>
                </div>
                <div class="col-md-12 test_fade">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon"></div>

                      <textarea maxlength="150" class="form-control" id="aboutme" [(ngModel)]="service.employercomment"
                        placeholder="{{'comment' | translate }}" rows="5" id="about_me"></textarea>
<!-- {{service.employercomment}} -->
                    </div>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon"></div>
                      <small *ngIf="service.employercomment" class="mt-2 mr-auto text-left text-dark">{{150 -
                        service.employercomment.length}} {{'left' | translate}}</small>
                    </div>
                    <span *ngIf="service.buttonClick==1&&!employercomment" class="danger">
                      <small>{{validationMsg.comentMissing}}</small>
                    </span>
                  </div>
                </div>


              </div>
            </span>
            <a (click)="service.employercomment?service.showNext=1:service.buttonClick=1" *ngIf="service.showNext==0" class="btn btn_alkafu continue float-right text-white">{{'continue' | translate}}</a>



            <!-- </div> -->

            <!-- <div role="tabpanel" class="tab-pane " id="shipping1" style="background-color: #fff;"> -->

            <div *ngIf="service.showNext==1" class="row">

              <div class="col-md-12 field-label-responsive">
                <label for="password">
                  {{'done_the_job_perfectly' | translate }}
                </label>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>

                    <select [(ngModel)]="service.A1" class="form-control" id="em_state" name="em_state" placeholder="State"
                      required="required" autofocus="autofocus">
                      <option *ngFor="let item of service.optionArray;let i=index" [selected]="service.A1==i+1">{{i+1}}</option>


                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-12 field-label-responsive">
                <label for="password">
                  {{'he_attend_time' | translate }}
                </label>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="radio-inline">
                    <input type="radio" [checked]="service.A2==0" [(ngModel)]="service.A2" name="a2" value="0" />

                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  </label>

                  &nbsp;

                  <label class="radio-inline">
                    <input name="a2" checked="checked" (click)="employera2Event($event)" value='1' type="radio" />
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </label>
                </div>
              </div>

              <div class="col-md-12 field-label-responsive">
                <label for="password">
                  {{'he_left_on_time' | translate }}
                </label>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="radio-inline">
                    <input type="radio" [checked]="service.A3==0" [(ngModel)]="service.A3" name="a3" value="0" />

                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  </label>

                  &nbsp;

                 <label class="radio-inline">
                    <input name="a3" checked="checked" (click)="employera3Event($event)" value='1' type="radio" />
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </label>
                </div>
              </div>
              <div class="col-md-12 field-label-responsive">
                <label for="password">
                  {{'he_behaved_with_superiors' | translate }}
                </label>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>

                    <select class="form-control" [(ngModel)]="service.A4" id="em_state" name="em_state" placeholder="State"
                      required="required" autofocus="autofocus">
                      <option *ngFor="let item of service.optionArray;let i=index" [selected]="service.A4==i+1">{{i+1}}</option>

                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-6 float-left">
                <button (click)="service.showNext=0" class="accept_icon submit">{{'previous' | translate}}</button>
              </div>
              <div class="col-md-6 col-6 float-right">
                <button (click)="submitEvaluation()" class="btn_alkafu submit">{{'submit' | translate}}</button>
              </div>




            </div>


            <!-- <ul class="nav nav-tabs pull-right " role="tablist">
                <li role="presentation" class="active btn btn_alkafu text-white back">
                  <a href="#billing" aria-controls="billing" role="tab" data-toggle="tab" aria-expanded="true">Go Back
                  </a>
                </li> &nbsp;

                <input type="button" (click)="submitEvaluation()" name="submit" class="submit btn_alkafu pull-right"
                  value="{{'submit' | translate}}" />

              </ul> -->
            <!-- <div class="col-md-12">
                                        <input type="button"  (click)="submitEvaluation()" name="submit" class="submit btn_alkafu pull-right"
                                          value="{{'submit' | translate}}" />
                                      </div> -->


            <!-- </div> -->


          </div>


        </div>
      </div>
      <!-------------------------------EMPLOYEE LOGIN MODAL--------------------------------------------------------- -->
      <div *ngIf="service.isEmployeeLogin()" class="card py-4 px-4">

        <div class="container tabs-wrap">


          <div style="background-color: #fff;" class="tab-content">


            <span *ngIf="service.showNext==0">
              <div class="row">

              <div class="col-md-12 field-label-responsive text-center">
                  <label for="password">
                    {{'rate_employer' | translate }}
                  </label>
                </div>

                <div class="col-md-12">
                  <div class="form-group">

                    <div class="text-center mx-auto">
                      <span *ngFor="let record of service.recordList ">
                        <a *ngFor="let item of record.myList; let i=index " (click)="t=1;setStarTable(record,i)">
                          <i *ngIf="item" class="fa star fa-star-o"></i>
                          <i *ngIf="!item" class="fa bad fa-star"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>


              </div>

              <div >
                <div class="col-md-12 field-label-responsive text-center">
                  <label for="password" >
                   <span class="labelrequired"> {{'comment' | translate }}</span>
                  </label>
                </div>
                <div class="col-md-12 ">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon"></div>

                      <textarea maxlength="150" class="form-control" id="aboutme" [(ngModel)]="service.employercomment"
                        placeholder="{{'comment' | translate }}" rows="5" id="about_me"></textarea>

                    </div>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon"></div>
                      <span>
                        <small *ngIf="service.employercomment" class="mt-2 mr-auto text-left text-dark">{{150 -
                          service.employercomment.length}} {{'left' | translate}}</small>
                      </span>
                    
                    </div>

                    <span *ngIf="service.buttonClick==1 &&!employercomment" class="danger">
                      <small>{{validationMsg.comentMissing}}</small>
                    </span>

                  </div>
                </div>
              </div>
            </span>




            <a (click)="service.employercomment?service.showNext=1:service.buttonClick=1" *ngIf="service.showNext==0" class="btn btn_alkafu continue float-right text-white">{{'continue' | translate}}</a>


            <div *ngIf="service.showNext==1" class="row">
              <div class="col-md-12 field-label-responsive">
                <label for="password">
                  {{'empq1' | translate }}
                </label>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <!-- <label>
                                      <input type="radio"    [checked]="A1==0" [(ngModel)]="A1" name="A1" value="0">
                                      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    </label>
                                    
                                    <label>
                                      <input type="radio"  [checked]="A1!=0" (click)="employera1Event($event)" value='1'>
                                      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </label> -->

                  <label class="radio-inline">
                    <input type="radio" [checked]="service.A1==0" [(ngModel)]="service.A1" name="A1" value="0" />

                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  </label>

                  &nbsp;

                  <label class="radio-inline">
                    <input name="A1" checked="checked" (click)="employera1Event($event)" value='1' type="radio" />
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </label>


                </div>
              </div>
              <div class="col-md-12 field-label-responsive">
                <label for="password">
                  {{'empq2' | translate }}
                </label>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="radio-inline">
                    <input type="radio" [checked]="service.A2==0" [(ngModel)]="service.A2" name="a2" value="0" />

                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  </label>

                  &nbsp;

                  <label class="radio-inline">
                    <input name="a2" checked="checked" (click)="employera2Event($event)" value='1' type="radio" />
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </label>
                </div>
              </div>

              <div class="col-md-12 field-label-responsive">
                <label for="password">
                  {{'empq3' | translate }}
                </label>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="radio-inline">
                    <input type="radio" [checked]="service.A3==0" [(ngModel)]="service.A3" name="a3" value="0" />

                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  </label>

                  &nbsp;

                  <label class="radio-inline">
                    <input name="a3" checked="checked" (click)="employera3Event($event)" value='1' type="radio" />
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </label>
                </div>
              </div>

              <div class="col-md-12 field-label-responsive">
                <label for="password">
                  {{'empq4' | translate }}
                </label>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="radio-inline">
                    <input type="radio" [checked]="service.A4==0" [(ngModel)]="service.A4" name="A4" value="0" />

                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  </label>

                  &nbsp;

                  <label class="radio-inline">
                    <input name="A4" checked="checked" (click)="employera4Event($event)" value='1' type="radio" />
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </label>
                </div>
              </div>

              <div class="col-md-12 field-label-responsive">
                <label for="password">
                  {{'empq5' | translate }}
                </label>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="radio-inline">
                    <input type="radio" [checked]="service.A5==0" [(ngModel)]="service.A5" name="A5" value="0" />

                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  </label>

                  &nbsp;

                  <label class="radio-inline">
                    <input name="A5" checked="checked" (click)="employerA5Event($event)" value='1' type="radio" />
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </label>
                </div>
              </div>

              <div class="col-md-12 field-label-responsive">
                <label for="password">
                  {{'empq6' | translate }}
                </label>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="radio-inline">
                    <input type="radio" [checked]="service.A6==0" [(ngModel)]="service.A6" name="A6" value="0" />

                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  </label>

                  &nbsp;

                  <label class="radio-inline">
                    <input name="A6" checked="checked" (click)="employerA6Event($event)" value='1' type="radio" />
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </label>
                </div>
              </div>
              <!-- <div class="col-md-12 field-label-responsive">
                                <label for="password">
                                  {{'empq7' | translate }}
                                </label>
                              </div>
            
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon"></div>
            
                                    <select [(ngModel)]="A7" class="form-control" id="em_state" name="em_state" placeholder="State"
                                      required="required" autofocus="autofocus">
                                      <option *ngFor="let item of optionArray;let i=index" [selected]="A7==i+1">{{i+1}}</option>
            
            
                                    </select>
                                  </div>
                                </div>
                              </div> -->



              <!-- <div class="col-md-12">
                                <input type="button"  (click)="submitEvaluation()" name="submit" class="submit btn_alkafu pull-right"
                                  value="{{'submit' | translate}}" />
                              </div> -->
                              <div class="col-md-6 col-6 float-left">
                                <button (click)="service.showNext=0" class="accept_icon submit">{{'previous' | translate}}</button>
                              </div>
                              <div class="col-md-6 col-6 float-right">
                                <button (click)="submitEvaluation()" class="btn_alkafu submit">{{'submit' | translate}}</button>
                              </div>
            </div>


          </div>
        </div>
        <!-- tabend -->



      </div>
    </div>
  </div>

  <!-- row -->


</div>