<div class="container-fluid">
  <!-- <ng4-loading-spinner [timeout]="90000"></ng4-loading-spinner> -->
  <!-- iconrow -->

  <div class="row col-mt-5">
    <div class="col-md-9  mainheading text-center text-md-left mt-4 mb-4 mx-auto bx_shadow bg-white">
      <div class="container  py-4">
        <div class="row">
          <div class="col-md-12 mx-auto mb-2">
            <h4 class="text-center bg-white pt-2 pb-2  text_heading">
              {{'my_propsals' | translate }}
            </h4>
          </div>
        </div>

        <!-- -------------- -->

        <div class="col-md-12 mt-3">
          <ul class="nav nav-tabs" role="tablist">
            <!-- <li class="nav-item" (click)="getOffers();currentTab=0">
              <a class="nav-link text-dark " data-toggle="tab" href="#newappsn" role="tab">
                <b>{{'offers' | translate}}</b><span> ({{service.offerLength}}) </span>
              </a>

              <div class="active-arrow"></div>
            </li> -->

            <li class="nav-item" (click)="getInvitationToInterviewFromApi();currentTab=1">
              <a class="nav-link text-dark active" data-toggle="tab" href="#invitedw" role="tab">
                <b> {{'invitations_to_interview' | translate}}</b> <span> ({{service.invitationLength}}) </span>
              </a>

              <div class=""></div>
            </li>

            <li class="nav-item" (click)="getActiveProposalFromApi();currentTab=3">
              <a class="nav-link text-dark" data-toggle="tab" href="#hireemp" role="tab">
                <b> {{'active_proposals' | translate}} </b> ({{activeLength}})
              </a>

              <div class=""></div>
            </li>

            <li class="nav-item" (click)="getSubmitedProposalFromApi();currentTab=4">
              <a class="nav-link text-dark" data-toggle="tab" href="#rec" role="tab">
                <b> {{'submitted_proposals' | translate}} </b> <span> ({{submitedProposalLength}}) </span>
              </a>

              <div class=""></div>
            </li>
          </ul>
        </div>


        <div class="row tab-content mt-5">
          <!-- <div class="col-md-12 tab-pane bg-white active" id="newappsn" role="tabpanel">
            <div class="row">


              <app-newproposal></app-newproposal>
              <app-lazyloader *ngIf="service.loader && !offers"></app-lazyloader>
            </div>
            <app-norocordsfound *ngIf="service.offerLength==0 && service.offers!=null && !service.loader"></app-norocordsfound>
            <pagination-controls *ngIf="newApplication" (pageChange)="new = $event"></pagination-controls> 

          </div> -->

          <div class="col-md-12 tab-pane  bg-white " id="rec" role="tabpanel">

            <div *ngFor="let val of submitedProposal ; let i=index" class="bx_shadow p-4 my-2">
              <div [class]="val.status!='Active'?'row px-3 my-2  bg_darklight ':'row px-3 my-2'  ">
                <!-- <div class="col-md-3 pb-2 pt-2"><img src="images/user_em.png" class="img-fluid">
                </div> -->

                <div class="col-md-12">

                    <span *ngIf="val.status=='Active'" class="btn_edit_ab pointer" >
                        <!-- <i class="fa fa-pencil-square " aria-hidden="true"></i> -->

                        <div  class="dropdown show">
                            <a class="btn accept_edit dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                            
                            </a>                         
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" *ngIf="val.proposalStatus=='Pending'" (click)="gotoEditProposalPage(val.proposalId)">{{'edit' | translate}}</a>
                              <a class="dropdown-item" [swal]="withDrawSwal" (click)="tempProposalId=val.proposalId" >  {{'withdrawproposal' | translate}} </a>
                           
                            </div>
                          </div>

                      </span>
                  
                  <!-- <span *ngIf="val.proposalStatus=='Pending'" (click)="gotoEditProposalPage(val.proposalId)" class="btn_edit_ab pointer">
                    <i class="fa fa-pencil-square " aria-hidden="true"></i>
                  </span> -->
                  <h5 class="text_blue text-left">{{service.transform(val.jobDetails.jobTitle)}}</h5>
                </div>

                <div class="col-md-10">
                  <div class="row">
                    <div (click)="service.setStorage('employerTempId',val.employerDetails.employerId)" [routerLink]="['/view_company_details']"
                      class="pointer col-md-6">
                      <h6 class="text-left">
                        <i class="fa fa-building-o" aria-hidden="true"></i>

                        &nbsp;{{service.transform(val.employerDetails.employerName)}}

                        <br>
                      </h6>
                    </div>

                    <!-- <div class="col-md-6">
                      <p class="float-right"><i class="fa fa-map-marker" aria-hidden="true"></i> jeddah</p>
                           
                      </div> -->

                    <div class="col-md-12">
                      <p class="text-dark text-justify">
                        {{service.transform(val.jobDetails.jobDescription)}}
                      </p>
                      <app-iconset [val]=val.jobDetails [status]=val.status [employerDetails]=val.employerDetails></app-iconset>
                      <!-- <div class="col-md-12">
                        <p>
                            {{'status' | translate}} : <span class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">{{val.status | titlecase}}</span> 
                      
                        </p>
                      </div> -->
                    </div>
                  </div>
                </div>

                <div *ngIf="val.status=='Active'" class="col-md-2 my-auto mx-auto">
                  <button [routerLink]="['/viewProposal/'+val.proposalId]" routerLinkActive="router-link-active" class="btn_alkafu my-2 btn125 ">
                    <i class="fa fa-eye px-1" aria-hidden="true"></i> {{'view_proposal' | translate}}</button>

                  <button class="btn accept_icon  my-2 btn125" (click)="service.navigateMsg(val.employerDetails.employerId,val.proposalId)">
                    <i class="fa fa-comments-o" aria-hidden="true"></i> {{'message' | translate}} </button>

                  <!-- <button [swal]="withDrawSwal" (click)="tempProposalId=val.proposalId" class="btn btn_alkafu w-100 my-2">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    {{'withdrawproposal' | translate}}
                  </button> -->
                </div>
              </div>

              <!-- <hr> -->
            </div>
            <app-lazyloader *ngIf="service.loader && submitedProposal!=null"></app-lazyloader>
            <app-norocordsfound *ngIf="submitedProposalLength==0 && submitedProposal!=null && !service.loader"></app-norocordsfound>

          </div>

          <div class="col-md-12 tab-pane  bg-white active" id="invitedw" role="tabpanel">
            <app-lazyloader *ngIf="service.loader && !service.invitation"></app-lazyloader>

            <app-invitation></app-invitation>
            <app-norocordsfound *ngIf="service.invitationLength==0 && service.invitation!=null"></app-norocordsfound>

          </div>

          <div class="col-md-12 tab-pane bg-white" id="hireemp" role="tabpanel">
            <app-lazyloader *ngIf="service.loader && !activeProposal"></app-lazyloader>

            <div *ngFor="let val of activeProposal ; let i=index" class="bx_shadow p-4 my-2">
              <div [class]="val.status!='Active'?'row px-3 bg_darklight ':'row px-3 my-2'  ">
                <div class="col-md-12 text-left">
                    <span  class="btn_edit_ab pointer">
                        <!-- <i class="fa fa-pencil-square " aria-hidden="true"></i> -->
                        <div class="dropdown show">
                            <a class="btn accept_edit dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                            
                            </a>                        
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" *ngIf="val.proposalStatus=='Pending'" (click)="gotoEditProposalPage(val.proposalId)">{{'edit' | translate}}</a>
                              <a class="dropdown-item"  [swal]="withDrawSwal" (click)="tempProposalId=val.proposalId" >  {{'withdrawproposal' | translate}} </a>
                            </div>
                          </div>
                      </span>
                  <h5 class="text_blue">{{service.transform(val.jobDetails.jobTitle)}}</h5>
                 
                </div>

                <div class="col-md-10 my-2">
                  <div class="row">
                    <div (click)="service.setStorage('employerTempId',val.employerDetails.employerId)" [routerLink]="['/view_company_details']"
                      class="pointer col-md-12 text-left">
                      <h6>
                        <i class="fa fa-building-o" aria-hidden="true"></i>

                        &nbsp;{{service.transform(val.employerDetails.employerName)}}

                        <br>
                      </h6>
                      <p class="text-dark text-justify">
                        {{service.transform(val.jobDetails.jobDescription)}}
                      </p>
                    </div>
                  
                    <app-iconset [val]=val.jobDetails [employerDetails]=val.employerDetails></app-iconset>
                  </div>
                </div>

                <div *ngIf="val.status=='Active'" class="col-md-2 my-auto">
                  <button [routerLink]="['/viewProposal/'+val.proposalId]" routerLinkActive="router-link-active" class="btn_alkafu my-2 btn125">
                    <i class="fa fa-eye px-1" aria-hidden="true"></i> {{'view_proposal' |translate }} </button>
                  <button class="btn accept_icon  my-2 btn125" (click)="service.navigateMsg(val.employerDetails.employerId,val.proposalId)">
                    <i class="fa fa-comments-o" aria-hidden="true"></i> {{'message' | translate}} </button>
                  <!-- <button [swal]="withDrawSwal" (click)="tempProposalId=val.proposalId" class="btn btn_alkafu w-100 my-2">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    {{'withdrawproposal' | translate}}
                  </button> -->

                </div>
                <!-- <div class="col-md-12 text-left">
                  <p>{{'skill_set' | translate}} :

                    <span *ngIf="val.jobDetails.skills" class="text-left">
                      <span *ngFor="let skill of val.jobDetails.skills.split(',')">
                        <span class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">{{skill}}</span>
                      </span>
                    </span>
                  </p>
                </div> -->
              </div>

            </div>
            <app-norocordsfound *ngIf="activeLength==0 && activeProposal!=null"></app-norocordsfound>

          </div>
        </div>
        <app-group-chat></app-group-chat>
      </div>
    </div>
  </div>
</div>
<swal #withDrawSwal [title]="title | translate" [text]="text | translate" type="question" [showCancelButton]="true"
  [focusCancel]="true" (confirm)="withDrawProposal(tempProposalId)">
</swal>