<!-- Header with Background Image -->
<!-- Modal -->

<div
  class="modal fade"
  id="addjob_Modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLabel"
        >{{'add _vacancy' | translate}}</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">  {{'Enter_number_vacancy' | translate}} </label>

            <input
              type="number"
              class="form-control"
              id="vacancy"
              aria-describedby="vacancy"
              placeholder="Enter number of vacancy"
             />

            <small
              id="emailHelp"
              class="form-text text-muted"
            >
              Add to increase number of vacancy
            </small>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
          >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- iconrow -->

  <div class="row mt-4">
    <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
      <div class="container  mt100">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <h4 class="text-center">{{'Job_announced _our' | translate}}</h4>

            <!-- <h5 class="text-left">Hello </h5>
                                         <h6>Enter specification of part time staff.</h6> -->
            <hr>
          </div>
        </div>

        <!-- <div class="row">
                                  <div class="col-lg-6">
                                    <h3>Single Select with Groups</h3>           
                                  </div>   
                                </div> -->

        <div class="row">
          <div class="col-md-12">
            <table
              id="example"
              class="table table-striped table-bordered"
              style="width:100%"
            >
              <thead>
                <tr>
                  <th>Branch</th>

                  <th>Job No.</th>

                  <th>Kind of work</th>

                  <th>Case</th>

                  <!-- <th>Acceptance</th>
                                              <th>Reject</th> -->

                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Engineering</td>

                  <td>61</td>

                  <!-- <td>System Architect</td>
                                              <td>Edinburgh</td> -->

                  <td class="text-center">Engineering</td>

                  <td class="text-center">All of them occupied</td>

                  <td>
                    <div
                      class="btn-toolbar"
                      role="toolbar"
                      aria-label="Toolbar with button groups"
                    >
                      <div
                        class="btn-group mr-2"
                        role="group"
                        aria-label="First group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Add job"
                        >
                          <button
                            type="button"
                            class="btn disabled accept_icon"
                          >
                            <i
                              class="fa fa-plus"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>

                      <div
                        class="btn-group mr-2"
                        role="group"
                        aria-label="Second group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Edit job"
                        >
                          <button
                            type="button"
                            class="btn disabled edit_icon"
                          >
                            <i
                              class="fa fa-pencil"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>

                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Third group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Delete job"
                        >
                          <button
                            type="button"
                            class="btn disabled delete_icon"
                          >
                            <i
                              class="fa fa-times"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Driver</td>

                  <td>63</td>

                  <td class="text-center">Engineering</td>

                  <td class="text-center">Some of them occupied</td>

                  <td>
                    <div
                      class="btn-toolbar"
                      role="toolbar"
                      aria-label="Toolbar with button groups"
                    >
                      <div
                        class="btn-group mr-2"
                        role="group"
                        aria-label="First group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Add job"
                        >
                          <button
                            type="button"
                            class="btn accept_icon"
                            data-toggle="modal"
                            data-target="#addjob_Modal"
                          >
                            <i
                              class="fa fa-plus"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>

                      <div
                        class="btn-group mr-2"
                        role="group"
                        aria-label="Second group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Edit job"
                        >
                          <button
                            type="button"
                            class="btn edit_icon"
                            onclick="job_edit()"
                          >
                            <i
                              class="fa fa-pencil"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>

                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Third group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Delete job"
                        >
                          <button
                            type="button"
                            class="btn delete_icon disabled"
                          >
                            <i
                              class="fa fa-times"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Computer</td>

                  <td>22</td>

                  <td class="text-center">Web development</td>

                  <td class="text-center">None of them occupied</td>

                  <td>
                    <div
                      class="btn-toolbar"
                      role="toolbar"
                      aria-label="Toolbar with button groups"
                    >
                      <div
                        class="btn-group mr-2"
                        role="group"
                        aria-label="First group"
                      >
                        <span
                          href=""
                          data-toggle="tooltip"
                          title="Add job"
                        >
                          <button
                            type="button"
                            class="btn accept_icon"
                            data-toggle="modal"
                            data-target="#addjob_Modal"
                          >
                            <i
                              class="fa fa-plus"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>

                      <div
                        class="btn-group mr-2"
                        role="group"
                        aria-label="Second group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Edit job"
                        >
                          <button
                            type="submit"
                            class="btn edit_icon"
                            onclick="job_edit()"
                          >
                            <i
                              class="fa fa-pencil"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>

                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Third group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Delete job"
                        >
                          <button
                            type="submit"
                            name="submit"
                            class="submit btn delete_icon"
                            value="Submit"
                            onclick="job_delete()"
                          >
                            <i
                              class="fa fa-times"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Accounting</td>

                  <td>33</td>

                  <td class="text-center">Engineering</td>

                  <td class="text-center">None of them occupied</td>

                  <td>
                    <div
                      class="btn-toolbar"
                      role="toolbar"
                      aria-label="Toolbar with button groups"
                    >
                      <div
                        class="btn-group mr-2"
                        role="group"
                        aria-label="First group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Add job"
                        >
                          <button
                            type="button"
                            class="btn accept_icon disabled"
                          >
                            <i
                              class="fa fa-plus"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>

                      <div
                        class="btn-group mr-2"
                        role="group"
                        aria-label="Second group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Edit job"
                        >
                          <button
                            type="button"
                            class="btn edit_icon disabled"
                          >
                            <i
                              class="fa fa-pencil"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>

                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Third group"
                      >
                        <span
                          data-toggle="tooltip"
                          title="Delete job"
                        >
                          <button
                            type="button"
                            class="btn delete_icon disabled"
                          >
                            <i
                              class="fa fa-times"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- row -->
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>

<div class="container-fluid">
  <hr>
</div>