<div class="modal fade" id="allJobsOfMe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-body height_90">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal_scroll">
          <app-employer-my-jobs [showClosedJob]="false"></app-employer-my-jobs>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal ends-->

<div class="container-fluid mt100">
  <!-- iconrow -->

  <div class="row mt-4">
    <div class="col-md-12 mainheading1 text-center text-md-left  mx-auto" style="padding:0px">
      <div class="container-fluid ">
        <div class="row">
          <!-- <div class="col-md-12 mx-auto mb-2">
              <h4 class="text-center bg-white pt-2 pb-2 b_shadow heading">{{'postjobs' |translate}}</h4>
            </div> -->
          <div class="col-md-3  ">
            <div class="row  topsubmenu1">
              <div class="col-md-12 ">
                <div class="row bg_lightash_card py-4">
                  <div class="col-md-12 mx-auto text-center">
                    <img *ngIf="
                        !employeeDetails.profileImage ||
                        employeeDetails.profileImage == 'default'
                      " src="{{ service.prfImgTemp }}" class="propicview_detail  w-100 rounded-circle mx-auto " />
                    <img *ngIf="
                        employeeDetails.profileImage &&
                        employeeDetails.profileImage != 'default'
                      " src="{{ userImg }}" class="propicview_detail  w-100 rounded-circle mx-auto " />

                    <!-- <img class="img_ribbon_scroll " src="assets/images/ribbonscroll1.png"> -->
                    <!-- <img class="img_ribbon_scroll " src="assets/images/ribbonscroll1.png" /> -->

                    <div class="txt_hr_rate">
                      <ngb-rating [(rate)]="
                          employeeDetails.rating / employeeDetails.ratingCount
                        ">
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="
                              index <
                              employeeDetails.rating /
                                employeeDetails.ratingCount
                            ">&#9733;</span>
                        </ng-template>
                      </ngb-rating>
                    </div>
                    <!-- <h5 class="txt_hr_rate"> INR {{ employeeDetails.hourlyWages | titlecase }} / Hr</h5> -->
                  </div>

                  <div class="col-md-12 mt-3">
                    <div class="text-center">
                      <img class="veri" src="assets/images/verified_logo.png" />
                    </div>
                    <h4 class=" text_blue pt-2  text-center">
                      {{ employeeDetails.fulleName | titlecase }}
                    </h4>

                    <h6 class="text-center">
                      {{ employeeDetails.profileTitle | titlecase }}
                    </h6>
                    <p class="text-center">
                      <!-- <i class="fa fa-user" aria-hidden="true"></i>-->
                      {{ employeeDetails.gender }} (
                      {{ employeeDetails.age }}&nbsp;{{ "years" | translate }} )
                    </p>
                  </div>
                  <div class="col-md-12 my-auto mx-auto text-center">
                    <button *ngIf="service.isEmployerLogin()" class="btn btn_alkafu  text-center" data-toggle="modal"
                      data-target="#allJobsOfMe" style="padding: 10px;
                                padding-left: 20px;
                                padding-right: 20px;">
                      {{ "create_job_post" | translate }}
                    </button>

                   
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <div class="w-90p">
                      <p class="text-left  txt_hr_rate1">
                        <i class="fa fa-money  txt_light_blue_clr" aria-hidden="true"></i>
                        {{ "hourly_rate" | translate }} -
                        {{ employeeDetails.hourlyWages | titlecase }}
                        {{ employeeDetails.currency | titlecase }}
                      </p>
                      <p class="text-left">
                        <i class="fa fa-suitcase txt_light_blue_clr" aria-hidden="true"></i>
                        {{ employeeDetails.experiencYear | titlecase }}
                        {{ "years" | translate }} {{ "experiance" | translate }}
                      </p>

                      <p class="text-left">
                        <i class="fa fa-phone txt_light_blue_clr" aria-hidden="true"></i>
                        {{employeeDetails.mobile?employeeDetails.mobile:''}}
                        <i class="fa fa-check clr_verified" aria-hidden="true"></i>
                      </p>
                      <p class="text-left">
                        <i class="fa fa-envelope txt_light_blue_clr" aria-hidden="true"></i>
                        {{employeeDetails.email?employeeDetails.email:''}}
                        <i class="fa fa-check clr_verified" aria-hidden="true"></i>
                      </p>

                      <p class="text-left">
                        <i class="fa fa-map-marker  txt_light_blue_clr" aria-hidden="true"></i>
                        {{ employeeDetails.state | titlecase }} -
                        {{ employeeDetails.country | titlecase }}
                      </p>
                      <p class="text-left">
                        <i class="fa fa-graduation-cap txt_light_blue_clr" aria-hidden="true"></i>
                        <!-- {{"education" | translate}} :  -->
                        {{ employeeDetails.education | titlecase }}
                        <i class="fa fa-check clr_verified" aria-hidden="true"></i>
                      </p>

                      <p *ngIf="employeeDetails.disabilityStatus" class="text-left">
                        <i class="fa fa-wheelchair-alt txt_light_blue_clr" aria-hidden="true"></i>
                        <!-- {{"education" | translate}} :  -->
                        {{ "physically_challenged" | translate }}
                        <i class="fa fa-info-circle" placement="right" [ngbTooltip]="tipContent" aria-hidden="true"></i>
                        <ng-template #tipContent>
                          {{employeeDetails.disabilityDescription}}
                        </ng-template>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6 bdr_right_left patern_line pt-4">
            <div class="">
              <div class="row  topsubmenu1">
                <div class="col-md-12 ">
                  <h5 class="title_ash_clr text-left">
                    {{ "skillsandexpertise" | translate }}
                  </h5>
                  
                 <div class="bdr_category_details">
                    <p>
                        <span class="">
                          {{
                            (employeeDetails.category
                              ? employeeDetails.category
                              : "any") | translate
                          }}
                          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                          {{
                            (employeeDetails.subCategory
                              ? employeeDetails.subCategory
                              : "any") | translate
                          }}
                        </span>
                      </p>
                      <p *ngFor="let item of employeeDetails.secCategories" >
                        <span class="">
                          {{
                            (item.categoryName
                              ? item.categoryName
                              : "any") | translate
                          }}
                          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                          {{
                            (item.subCategoryName
                              ? item.subCategoryName
                              : "any") | translate
                          }}
                        </span>
                      </p>
                 </div>
                  

                  <hr />
                  <span *ngIf="!service.noLogin">
                    <h5 class="title_ash_clr text-left">
                      {{ "about_me" | translate }}
                    </h5>


                    <div id="summary">
                      <p class="text-justify collapse" id="collapseSummary">
                        {{ employeeDetails.profileDescription | slice :0:aboutSplice | titlecase }}
                      </p>
                      <a *ngIf="employeeDetails.profileDescription.length > aboutSplice || aboutSplice==1500"
                        (click)="aboutSplice==1500?aboutSplice=350:aboutSplice=1500" class="collapsed"
                        data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
                        aria-controls="collapseSummary"></a>

                    </div>

                    <div class="row my-3">
                      <div class="col-md-4">
                        <p class="text-center">
                          <i class="fa fa-pencil-square-o txt_light_blue_clr" aria-hidden="true"></i>

                          {{ "mother_tongue" | translate }} <br />
                          <b>{{checkValueAvilable(employeeDetails.motherTongue)}} </b>
                        </p>
                      </div>
                      <div class="col-md-4">
                        <p class="text-center">
                          <i class="fa fa-pencil-square-o txt_light_blue_clr" aria-hidden="true"></i>
                          {{ "other_language" | translate }} <br />
                          <b>{{checkValueAvilable(employeeDetails.firstOtherLanguage)}} </b>
                          <i *ngIf="employeeDetails.firstOtherLanguage" class="fa fa-info-circle" placement="right"
                            [ngbTooltip]="tipContent1" aria-hidden="true"></i>
                          <ng-template #tipContent1>
                            <p>
                              <span><i class="fa fa-book"></i>
                                {{formatLamguageLevel(employeeDetails.firstOtherLanguageReadingWritingLevel)}} </span>
                            </p>
                            <p class="">
                              <span><i class="fa fa-bullhorn "></i>
                                {{formatLamguageLevel(employeeDetails.firstOtherLanguageConversationLevel)}} </span>
                            </p>
                          </ng-template>
                          <br>
                          <b>{{employeeDetails.secondOtherLanguage}} </b>
                          <i *ngIf="employeeDetails.secondOtherLanguage" class="fa fa-info-circle" placement="right"
                            [ngbTooltip]="tipContent2" aria-hidden="true"></i>
                          <ng-template #tipContent2>
                            <p>
                              <span><i class="fa fa-book"></i>
                                {{formatLamguageLevel(employeeDetails.secondOtherLanguageReadingWritingLevel)}} </span>
                            </p>
                            <p class="">
                              <span><i class="fa fa-bullhorn "></i>
                                {{formatLamguageLevel(employeeDetails.secondOtherLanguageConversationLevel)}} </span>
                            </p>
                          </ng-template>

                        </p>
                      </div>
                      <div class="col-md-4">
                        <p class="text-center">
                          <i class="fa fa-eercast txt_light_blue_clr" aria-hidden="true"></i>
                          {{ "accept_other_works" | translate }} <br />
                          <b>{{checkValueAvilable(employeeDetails.acceptOtherWorkStatus)}}</b>
                        </p>
                      </div>
                      <div class="col-md-4">
                        <p class="text-center">
                          <i class="fa fa-hourglass txt_light_blue_clr" aria-hidden="true"></i>
                          {{ "max_hours_of_work_perday" | translate }} <br />
                          <b>{{checkValueAvilable(employeeDetails.maximumWorkingHour)}}</b>
                        </p>
                      </div>
                      <div class="col-md-4">
                        <p class="text-center">
                          <i class="fa fa-hourglass-end txt_light_blue_clr" aria-hidden="true"></i>
                          {{ "min_hours_of_work_perday" | translate }} <br />
                          <b>{{checkValueAvilable(employeeDetails.minumumWorkingHour)}} </b>
                        </p>
                      </div>
                      <div class="col-md-4">
                        <p class="text-center">
                          <i class="fa  fa-clock-o txt_light_blue_clr" aria-hidden="true"></i>
                          {{ "availibility" | translate }} <br />
                          <b>{{checkValueAvilable(employeeDetails.availibility)}}</b>
                        </p>
                      </div>
                    </div>
                    <hr />
                  </span>

                  <span *ngIf="service.noLogin">
                    <div class="row">
                      <div class="col-md-12">
                        <h5 class="title_ash_clr text-left">
                            {{'join_babkrim_and_access' | translate :{name:employeeDetails.fulleName} }}
                        </h5>
                        <p class="text-left  ">
                            {{'As a Babkrim member, you can connect with thousands of professionals in your area. Hire them for
                            any work and pay one touch.' | translate}}
                          </p>
                        
                            <ul>
                              <li> {{'Post your Job' | translate}} </li>
                              <li> {{'Send an invitation to employee' | translate}} </li>
                              <li> {{"Get your work done" | translate}} </li>
                            </ul>
                         
                      </div>
                    </div>
                    <button (click)="
                    this.service.setStorage(
                      'tempemployeeTempId',
                      this.employeeId
                    )
                  " routerLink="/signup" class="btn btn_alkafu  text-center" style="padding: 10px;
                            padding-left: 20px;
                            padding-right: 20px;">
                  {{ "join_now" | translate }}
                    </button>
                    <hr>
                  </span>


                </div>
              </div>

              <app-employeefeaturedwork [featuredImage]="featuredImage" [imageUrl]="imageUrl"
                [featuredVideo]="featuredVideo" [videoUrl]="videoUrl"></app-employeefeaturedwork>
              <h5 class=" text-left title_ash_clr text-left pt-2 ">
                {{ "work_history_and_feedback" | translate }}
              </h5>

              <div *ngIf="feedBack.length > 0" class="col-md-12">
                <hr />

                <div class="row  topsubmenu1"></div>
                <span *ngFor="let val of feedBack; let i = index">
                  <div class="row my-2">
                    <div class="col-md-12 ">
                      <h6 class="text-left text_blue">
                        <b> {{ val.jobTitle | titlecase }}</b>
                      </h6>
                      <h6 class="text-left">
                        {{ val.createUserName | titlecase }}
                      </h6>
                    </div>
                    <div class="col-md-5 ">
                      <ngb-rating [(rate)]="val.rating">
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100"
                            [class.bad]="index < val.rating">&#9733;</span>
                        </ng-template>
                      </ngb-rating>

                      <!-- <span class="mx-1 text-left">({{val.employerDetails.ratingCount}} {{'reviews' | translate}})</span> -->
                    </div>

                    <div class="col-md-7 ">
                      <p class="text-left">
                        {{ service.convertDateToGmt(val.createdAt) }}
                      </p>
                    </div>
                    <div class="col-md-12 ">
                      <p class="text-left font-italic">
                        {{ val.comment | titlecase }}
                      </p>
                    </div>
                  </div>
                </span>
              </div>
              <div *ngIf="feedBack.length == 0" class="col-md-12 min_h100 my-auto">
                <b>
                  <h6 class="text-center text_blue pt-4 ">
                    {{ "no_feed" | translate }}
                  </h6>
                </b>
              </div>
            </div>
          </div>
          <div class="col-md-3  style-scroll pt-4 " id="style-scroll">
            <div class="scroll_employees">
              <h5 class="title_ash_clr">{{ "recommendations" | translate }}</h5>
              <div *ngFor="let val of service.employeeList; let i = index" class="pt-3">
                <!-- <img  class="" src="assets/images/ofr_half_blue.png" class="list_pic_rate"> -->
                <div (click)="loadNewemployee(val.employeeId)" class="pointer row">
                  <div class="col-md-3  w-100 ">
                    <img *ngIf="
                        val.profileImage != 'default' &&
                        val.profileImage != 'undefined'
                      " src="{{
                        this.service.url +
                          '/download/profile.json?fileID=' +
                          val.profileImage +
                          '&token=' +
                          this.service.getStorage('token')
                      }}" class="employee_list_propic1  w-100 rounded-circle mx-auto " />
                    <img *ngIf="
                        val.profileImage == 'default' ||
                        val.profileImage == 'undefined' ||
                        !val.profileImage
                      " src="{{ this.service.prfImgTemp }}"
                      class="employee_list_propic w-100 rounded-circle mx-auto " />
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-12">
                        <p class="text-left scroll_employees_text mb_0">
                          <b class="text_blue text-left ">
                            {{ val.fullName | titlecase }}</b><br />
                          {{ val.profileTitle | titlecase }}
                          <br />

                          <i class="fa fa-money" aria-hidden="true"></i>
                          {{ val.hourlyWages ? val.hourlyWages : 0 }}&nbsp;{{
                            "defaultcurrency" | translate
                          }}<br />
                        </p>
                      </div>
                      <div class="col-md-8">
                        <p class="text-left scroll_employees_text  mb_0">
                          <i class="fa fa-male" aria-hidden="true"></i>
                          {{ "gender" | translate }} : {{ val.gender }} <br />
                        </p>
                      </div>
                      <div class="col-md-4">

                      </div>
                      <div class="col-md-12">
                        <p class="text-left scroll_employees_text  mb_0">
                          <ngb-rating [(rate)]="val.rating / val.ratingCount">
                            <ng-template let-fill="fill" let-index="index">
                              <span class="star" [class.filled]="fill === 100" [class.bad]="
                                  index < val.rating / val.ratingCount
                                ">&#9733;</span>
                            </ng-template>
                          </ngb-rating>
                          <small>
                            <span class="mx-1 text-left">({{ val.ratingCount }}
                              {{ "reviews" | translate }}
                              )</span></small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>