<!------ Header for edit------ -->
<div class="container-fluid">
  <div *ngIf="service.getRegisterLevel() == '0'" class="row bg-white">
    <!-- for Responsive Viewport (Insert Carousel or other item for "cover" effect) -->
    <!-- Carousel container -->

    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto my-3 pt-3">
          <h4 class="text-center text_heading">
            {{ "edit_information" | translate }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-white">
  <!-- iconrow -->

  <div class="row bg-white vh-100">
    <div
      class="col-md-12 mainheading text-center text-md-left pt-3 pb-3 mx-auto bg-white"
    >
      <div class="container  mt-4 mb-2">
        <div
          *ngIf="service.getStorage('emailVerify') == 'false'"
          class="row my-2"
        >
          <div class="col-md-12 mx-auto bkgdarkblue text-white">
            <p class="text-white">
              {{ "title_email_verify_message" | translate }}
              {{ "verify_email_address" | translate }}

              <!-- <a >
                                <u>{{'verify_email_address' | translate}}</u>
                            </a> -->
              <button class="btn accept_icon1" (click)="service.sendEmail()">
                {{ "r_send" | translate }}
              </button>
            </p>
          </div>
        </div>

        <div class="row  " style="background-color: #ccc;">
          <div class="col-md-4 ple-0 ">
            <div class=" w-100">
              <div class="arrowreg_page">
                <p class="text-white px-2">{{ "account_setup" | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class=" w-100">
              <div class="arrowreg_page_ash">
                <p class=" text-dark mx-2">
                  {{ "educational_setup" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class=" w-100">
              <div class="arrowreg_page_ash">
                <p class=" text-dark mx-2">
                  {{ "professional_ setup" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- multistep form -->

          <form id="msform" [formGroup]="signupForm" role="form" method="POST">
            <!-- progressbar -->

            <div class="d-none">
              <ul id="progressbar">
                <li class="active">{{ "account_setup" | translate }}</li>

                <li>{{ "educational_setup" | translate }}</li>

                <li>{{ "professional_ setup" | translate }}</li>
              </ul>
            </div>

            <!-- fieldsets -->

            <fieldset>
              <!-- <h2 class="fs-title">{{'add_personal _information' | translate }}</h2> -->

              <!-- <h3 class="fs-subtitle">{{'step_1' | translate }}</h3> -->

              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="row text-left">
                    <div class="col-md-4">
                      <label for="password" class="labelrequired">
                        {{ "upload_prf_ic" | translate }}</label
                      >
                    </div>
                    <div class="col-md-8">
                      <div class="container">
                        <div class="avatar-upload">
                          <div
                            class="avatar-edit file_up_style"
                            style="display: none;"
                          >
                            <span class="hide_fileup"
                              ><input
                                type="file"
                                id="file"
                                (change)="fileEvent($event)"
                                class="{{ fileLoader }}"
                                [value]="prf_pic"
                                id="imageUpload"
                                accept="{{ service.imageFormat }}"
                              />
                            </span>

                            <span onclick="triggerFileInput()" id="button_up">{{
                              "selectfile" | translate
                            }}</span>
                            <label for="imageUpload"></label>
                            <span
                              class="danger"
                              *ngIf="bottonClick == 1 && !profileImage"
                              >{{ validationMsg.noProfileImage }}</span
                            >
                          </div>

                          <div class="avatar-preview ">
                            <div
                              id="imagePreview"
                              onclick="triggerFileInput()"
                              style="width:150px;"
                              class="pointer"
                            >
                              <i
                                class="fa fa-paperclip attach_clip"
                                aria-hidden="true"
                              ></i>
                              <img
                                *ngIf="!fileLoader"
                                src="{{ this.service.prfImg }}"
                                id="img_pic"
                                class=" mb-4 rounded-circle attach_propic"
                                alt=""
                              />
                              <img
                                *ngIf="fileLoader"
                                src="assets/images/loader.gif"
                                id="img_pic"
                                class="  rounded-circle attach_propic"
                                alt=""
                              />
                            </div>
                          </div>
                          
                          <span
                            class="danger"
                            *ngIf="bottonClick == 1 && !profileImage"
                            >{{ validationMsg.noProfileImage }}
                          </span >
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'father_name' | translate }}</label>
                                        </div> -->

                    <!-- <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input autocomplete="off" type="text" name="name" class="form-control"
                                                        id="father_name" [(ngModel)]="prfatherName" formControlName="father_name"
                                                        placeholder="{{'father_name' | translate }}" required="required"
                                                        maxlength=50 autofocus="autofocus" />
                                                </div>
                                                <span class="danger" *ngIf="bottonClick==1 && !prfatherName">{{validationMsg.lastnameInvalid}}</span>
                                            </div>
                                        </div> -->

                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="labelrequired">
                        {{ "gender" | translate }}</label
                      >
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <ng-select
                            placeholder="{{ 'gender' | translate }}"
                            id="gender"
                            [items]="genderList"
                            bindLabel="gender"
                            bindValue="id"
                            formControlName="gender"
                            class="ng_select form-control"
                            (remove)="onGenderItemDeselect()"
                            (clear)="onGenderItemDeselect()"
                            [ngClass]="service.initialLoader"
                            (change)="onGenderItemSelect($event)"
                            [(ngModel)]="prgender"
                          >
                          </ng-select>
                        </div>
                        <span
                          class="help-block danger"
                          *ngIf="
                            !signupForm.get('gender').value &&
                            this.bottonClick == 1
                          "
                          >{{ validationMsg.genderInvalid }}</span
                        >
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="labelrequired">{{
                        "date_of_birth" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>
                          <input
                            placeholder="DD/MM/YYYY"
                            formControlName="dob"
                            [(ngModel)]="prdob"
                            (dateTimeChange)="CalculateAge()"
                            (keydown)="service.preventDefault($event)"
                            [max]="today | date: 'yyyy-MM-dd'"
                            [min]="minDate | date: 'yyyy-MM-dd'"
                            class="form-control"
                            id="dob"
                            [owlDateTimeTrigger]="dt3"
                            [owlDateTime]="dt3"
                          />
                          <owl-date-time
                            [pickerType]="'calendar'"
                            #dt3
                          ></owl-date-time>

                          <div class="input-group-append">
                            <span
                              *ngIf="age"
                              class="input-group-text"
                              id="basic-addon2"
                            >
                              {{ age }}&nbsp;{{ "yrs" | translate }}</span
                            >
                          </div>
                        </div>

                        <span
                          class=" danger"
                          *ngIf="
                            !signupForm.get('dob').valid &&
                            this.bottonClick == 1
                          "
                          >{{ validationMsg.dobInvalid }}</span
                        >
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="labelrequired">
                        {{ "about_me" | translate }}</label
                      >
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>
                          <textarea
                            maxlength="1500"
                            class="form-control"
                            id="aboutme"
                            formControlName="aboutme"
                            [(ngModel)]="aboutmeModal"
                            placeholder="{{ 'about_me' | translate }}"
                            rows="5"
                            id="about_me"
                          ></textarea>
                        </div>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>
                          <small class="mt-2 mr-auto text-left text-dark"
                            >{{ 1500 - aboutmeModal.length }} {{'left' | translate}}</small
                          >
                        </div>

                        <span
                          class="help-block danger"
                          *ngIf="
                            !signupForm.get('aboutme').valid &&
                            this.bottonClick == 1
                          "
                          >{{ validationMsg.aboutme }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row text-left">
                    <div class="col-md-4 field-label-responsive">
                      <label class="labelrequired">{{
                        "address1" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>
                          <!-- <textarea name="name" id="address1" rows=3
                                                            class="form-control" id="father_name" [(ngModel)]="prAddress1"
                                                            formControlName="address1" placeholder="{{'address1' | translate }}"
                                                            required="required" maxlength=300 autofocus="autofocus" ></textarea> -->

                          <input
                            autocomplete="off"
                            type="text"
                            name="name"
                            id="address1"
                            class="form-control"
                            id="father_name"
                            [(ngModel)]="prAddress1"
                            formControlName="address1"
                            placeholder="{{ 'door_number' | translate }}"
                            required="required"
                            maxlength="300"
                            autofocus="autofocus"
                          />
                        </div>
                        <small
                          *ngIf="prAddress1"
                          class="mt-2 mr-auto text-left text-dark"
                          >{{ 300 - prAddress1.length }}&nbsp;{{'left' | translate}}</small
                        >
                        <span
                          class="danger"
                          *ngIf="
                            !signupForm.get('address1').valid &&
                            bottonClick == 1
                          "
                          >{{ validationMsg.addressLine1Invalid }}</span
                        >
                      </div>
                    </div>
                    <div class="col-md-4 field-label-responsive">
                      <label class="">{{ "address2" | translate }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            autocomplete="off"
                            type="text"
                            name="name"
                            id="address2"
                            class="form-control"
                            id="father_name"
                            [(ngModel)]="prAddress2"
                            formControlName="address2"
                            placeholder="{{ 'locality' | translate }}"
                            required="required"
                            maxlength="100"
                            autofocus="autofocus"
                          />
                        </div>
                        <!-- <span class="danger" *ngIf="!signupForm.get('address2').valid && bottonClick==1">{{validationMsg.address2}}</span> -->
                      </div>
                    </div>

                    <!-- <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'height' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input autocomplete="off" type="number" (keydown)="service.validateExperience($event)"
                                                        name="name" class="form-control" id="height" [(ngModel)]="height"
                                                        formControlName="height" placeholder="{{'height' | translate }}"
                                                        required="required" maxlength=3 autofocus="autofocus" />
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2"> {{'cm' |
                                                            translate}} </span>
                                                    </div>
                                                   
                                                </div>


                                                <span class="danger" *ngIf="!height && bottonClick==1 ||
                                                heightlengthIssue==1 || this.signupForm.get('height').value < 50.00 || 
                                                this.signupForm.get('height').value > 250.00 ">{{validationMsg.heightInvalid}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'weight' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input autocomplete="off" type="number" (keydown)="service.validateExperience($event)"
                                                        name="name" class="form-control" id="weight" [(ngModel)]="weight"
                                                        formControlName="weight" placeholder="{{'weight' | translate }}"
                                                        required="required" maxlength=3 autofocus="autofocus" />

                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2"> {{'kg' |
                                                            translate}} </span>
                                                    </div>
                                                </div>

                                            </div>

                                            <span class="danger" *ngIf="!weight && bottonClick==1 ||weightlengthIssue==1|| this.signupForm.get('weight').value < 20 || this.signupForm.get('weight').value > 1000">{{validationMsg.weight}}</span>

                                        </div> -->

                    <!-- <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'nationality' | translate}}</label>
                                        </div> -->

                    <!-- <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <ng-select placeholder="{{'nationality' | translate}}" (remove)="onNationalityItemDeselect()"
                                                        (clear)="onNationalityItemDeselect()" [items]="service.nationality "
                                                        bindLabel="nationality" bindValue="id" class="ng_select form-control"
                                                        [ngClass]=" service.initialLoader" formControlName="nationality"
                                                        id="nationality" dropdownPosition="bottom" [(ngModel)]="prnationality"
                                                        (change)="onNationalityItemSelect($event)">
                                                    </ng-select>

                                                </div>
                                                <span class=" danger" *ngIf="!signupForm.get('nationality').value && this.bottonClick==1 ">{{validationMsg.nationalityInvalid}}</span>
                                            </div>
                                        </div> -->

                    <!-- <div *ngIf="age" class="col-md-2">
                                                <span>{{age}}&nbsp;{{'years' | translate}}</span>
                                        </div> -->

                    <!-- <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'country' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text" name="" class="form-control" value="India" disabled id="">

                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'country' | translate }}" id="country"
                                                        (remove)="onCountryItemDeselect()" (clear)="onCountryItemDeselect()"
                                                        [items]="service.country" dropdownPosition="bottom" bindLabel="country"
                                                        bindValue="id" class="ng_select form-control" [ngClass]=" service.initialLoader"
                                                        formControlName="country" [(ngModel)]="prcountry" (change)="onCountryItemSelect($event)">
                                                    </ng-select>

                                                </div>
                                                <span class="help-block danger" *ngIf="!signupForm.get('country').value && this.bottonClick==1">{{validationMsg.countryInvalid}}</span>


                                            </div>
                                        </div> -->

                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="labelrequired">{{
                        "state" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8" id="state">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon "></div>

                          <ng-select
                            placeholder="{{ 'state' | translate }}"
                            id="state"
                            (remove)="onStateItemDeselect()"
                            (clear)="onStateItemDeselect()"
                            [items]="state"
                            bindLabel="state"
                            bindValue="id"
                            dropdownPosition="bottom"
                            class="ng_select form-control"
                            [ngClass]="stateLoader"
                            formControlName="state"
                            [(ngModel)]="prstate"
                            (change)="onStateItemSelect($event)"
                          >
                          </ng-select>
                        </div>
                        <span
                          class="help-block danger"
                          *ngIf="
                            !signupForm.get('state').value &&
                            this.bottonClick == 1
                          "
                          >{{ validationMsg.stateInvalid }}</span
                        >
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="labelrequired ">{{
                        "city" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <ng-select
                            placeholder="{{ 'city' | translate }}"
                            (remove)="onCityItemDeselect()"
                            (clear)="onCityItemDeselect()"
                            [items]="cities"
                            bindLabel="city"
                            bindValue="id"
                            dropdownPosition="bottom"
                            class="ng_select form-control"
                            [ngClass]="cityLoader"
                            formControlName="city"
                            [(ngModel)]="prcity"
                            (change)="onCityItemSelect($event)"
                          >
                          </ng-select>
                        </div>
                        <span
                          class="help-block danger"
                          *ngIf="
                            !this.cityId &&
                            this.cityId != 0 &&
                            this.bottonClick == 1
                          "
                          >{{ validationMsg.cityInvalid }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <input
                type="button"
                (click)="personalInformationSubmit(1)"
                [disabled]="fileLoader"
                (click)="bottonClick = 1"
                class="btn_alkafu pl-3 pr-3"
                *ngIf="service.getRegisterLevel() == '0'"
                value="{{ 'save' | translate }}"
              />
              &nbsp;
              <input
                type="button"
                (click)="personalInformationSubmit(0)"
                [disabled]="fileLoader"
                (click)="bottonClick = 1"
                class="btn_alkafu pl-3 pr-3"
                value="{{ 'next' | translate }}"
              />
            </fieldset>
          </form>
        </div>

        <!-- row -->
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>
