<h5> {{'time_zone' | translate}} </h5>

<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-md-5">
            <label> {{'enter_time_zone' | translate}} </label>
          </div>

          <div class="col-md-7">
            <div class="form-group pass_show">
              <select class="form-control" [(ngModel)]="myTimeZone">
                <option [selected]="myTimeZone==0" [ngValue]="'0'">--select
                  timezone--</option>

                <option *ngFor="let timezone of timeZones" [selected]="myTimeZone==timezone.text" [ngValue]="timezone.text">{{timezone.text}}</option>
              </select> 


            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <button class="btn btn_alkafu float-right  btn-block" style="width: 100px;" type="button" (click)="updateTimeZone()">
          {{'update' |
          translate}} </button>
      </div>
    </div>

    <div class="row" style="display:none;">
      <div class="col-12">
        <p class="payment-errors"></p>
      </div>
    </div>

  </div>
</div>
<p style="visibility: hidden;">
    Ut eget lectus tristique, tempus purus sit amet, porta augue. Mauris lobortis
    sem nec augue ultricies blandit. Nullam sed sem venenatis, pretium urna eget,
    scelerisque dolor. Morbi nec volutpat leo, quis faucibus tortor. Aenean vel
    rutrum mauris. Pellentesque lectus massa, tincidunt quis leo non, sodales
    sagittis nulla. Proin interdum est at nulla laoreet, pulvinar pretium nisl
    rutrum. In vel elit a risus rhoncus accumsan vulputate non sapien. Sed et
    rhoncus velit..
</p>