<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container mt-4">
        <div class="row bg-white">
          <div class="col-md-11 mx-auto mb-4">
            <div class="row">
              <div class="col-md-12 mx-auto ">
                <h4 class="text-center bg-white pt-3">
                  <h5 class="text_heading text-center"> {{'my_works' | translate}}  </h5>
                </h4>
              </div>
              <div class="col-md-11 col-10 mx-auto shadow   my-1">
                <div class="">
                  <div class="cards p-3">
                    <div class="row mt-5 mb-4">
                      <div class="col-md-12  bg-white ">


                        <div class="row">
                          <div class="col-md-8">

                            <h5> {{'add_image_work_details' | translate}} </h5>
                            <div class="form-group">
                              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"></div>

                                <div class="input-group mb-3 file_up_style">
                                  <span class="hide_fileup">
                                    <!-- <span class="float-left" *ngIf="fileName">{{service.fileNameFormater(fileName[fileName.length
                                            - 1]) }}</span> -->
                                    <input type="file" multiple id="imageUpload" accept={{service.imageFormat}}
                                      (change)="uploadImage($event)" aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                  </span>

                                  <span onclick="triggerFileInput2()" id='button_up'>{{'selectfile' | translate}}</span>

                                  <div class="input-group-append">

                                  </div>
                                </div>

                                <div>
                                  <div  class="row">

                                    <div *ngFor="let item of featuredImage;let i=index" class="col-md-3 my-1">
                                      <span class="close_file_img" (click)="deleteImage(i,item.fileId)"> <i class="fa fa-times-circle-o"
                                          aria-hidden="true"></i></span>
                                      <img src="{{item.url}}" (click)="imageUrl=item.url" alt="" class="img-fluid pointer shadow featuredwork">
                                    </div>

                                  </div>


                                </div>


                              </div>
                            </div>

                            <p class="mt-2  mb-2">
                              <small> {{'fileuploadlimit' | translate}} </small>
                            </p>
                          </div>

                          <div *ngIf="imageUrl && !imageUpload" class="col-md-4 my-auto">
                            <img [src]="imageUrl" alt="" class="img-fluid shadow">
                          </div>
                          <div *ngIf="imageUpload" class="col-md-1 my-auto mx-auto"><img class="img-fluid pointer w-100  mx-auto featuredwork"
                              src="assets/images/loaderinput.gif"></div>
                        </div>

                      </div>




                      <div class="col-md-12   bg-white">

                        <div class="row">
                          <div class="col-md-8">

                            <h5> {{'add_videos_work_details' | translate}} </h5>
                            <div class="form-group">
                              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"></div>

                                <div class="input-group mb-3 file_up_style">
                                  <span class="hide_fileup">
                                    <!-- <span class="float-left" *ngIf="fileName">{{service.fileNameFormater(fileName[fileName.length
                                            - 1]) }}</span> -->
                                    <input type="file" id="upload_experience" (change)="uploadVideo($event)" accept={{service.videoFormat}}
                                      aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                  </span>

                                  <span onclick="triggerFileInput1()" id='button_up'>{{'selectfile' | translate}}</span>

                                  <div class="input-group-append">

                                  </div>
                                </div>

                                <div>
                                  <div class="row">




                                    <div *ngFor="let item of featuredVideo;let i=index" class="col-md-3 my-1">
                                        <span class="close_file_img" (click)="deleteVideo(i,item.fileId)"> <i class="fa fa-times-circle-o"
                                          aria-hidden="true"></i></span>
                                      <img [src]="item.thumbnail" (click)="videoUrl=item.url" alt="" class="img-fluid shadow pointer featuredwork">
                                    </div>

                                  
                                  </div>


                                </div>


                              </div>
                            </div>

                            <p class="mt-2  mb-2">
                              <small> {{'videouploadlimit' | translate}} </small>
                            </p>
                          </div>

                          <div *ngIf="!videoUpload && videoUrl" class="col-md-4 my-auto">
                             <app-player [videoUrl]="videoUrl"></app-player>
                          
                           
                            <!-- <iframe src=""></iframe> -->
                            <!-- <img src="assets/images/ed13.jpg" alt="" class="img-fluid shadow"> -->
                           
                          </div>
                          <div *ngIf="videoUpload" class="col-md-1 my-auto mx-auto"><img class="img-fluid pointer w-100  mx-auto featuredwork"
                            src="assets/images/loaderinput.gif"></div>
                        </div>

                        <div class="row">
                          <div class="col-md-12 mt-2">
                            <input type="button" [disabled]="imageUpload || videoUpload" (click)="uploadFeaturedVideo()" class="pull-right btn_alkafu pl-3 pr-3" value="{{'upload' | translate }}" />
                          </div>
                        </div>



                      </div>


                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- </div>
                                <div class="row"> -->
        </div>

        <!-- row -->
      </div>

      <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                   </div> -->
    </div>

    <!-- end iconrow -->
  </div>
</div>