<!-- Header with Background Image -->
<!-- Modal -->


<div class="modal fade" id="ModalCenter_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white "> {{'trems_employee' | translate}} </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <p class="mt-2  mb-2 font-weight-bold text-left">
            {{'amount_you_would_like_to_bid' | translate}}
          </p>

          <form [formGroup]="jobForm">


            <div class="row">
              

              <div *ngIf="this.jobForm.get('wageMode').value=='hourly'"
                class="col-md-4 field-label-responsive text-left">
                <label for="password" class="labelrequired">{{'minimumhour' | translate}}</label>
              </div>

              <div *ngIf="this.jobForm.get('wageMode').value=='hourly'" class="col-md-6">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>

                    <div class="input-group mb-3">
                      <input type="text" maxlength=2 (keydown)="validateInputKey($event)" class="form-control"
                        placeholder="{{'minimumhour' | translate}}" formControlName="minhour"
                        aria-label="Recipient's username" aria-describedby="basic-addon2" />


                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"> {{'hr' | translate}} </span>
                      </div>

                    </div>
                  </div>

                  <span class="danger"
                    *ngIf="!this.jobForm.get('minhour').valid  && submitError==true">{{validationMsg.invalidMinhour}}</span><br>
                  <span class="danger"
                    *ngIf="this.jobForm.get('minhour').valid && this.jobForm.get('minhour').value >24 && submitError==true">{{validationMsg.invalidMinHour}}</span>

                </div>
              </div>

              <div *ngIf="this.jobForm.get('wageMode').value=='hourly'"
                class="col-md-4 field-label-responsive text-left">
                <label for="password" class="labelrequired">{{'hourly_rate' | translate}}</label>
              </div>

              <div *ngIf="this.jobForm.get('wageMode').value=='hourly'" class="col-md-6">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>

                    <div class="input-group mb-3">
                      <input type="text" maxlength=4 (keydown)="validateInputKey($event)" class="form-control"
                        placeholder="{{'hourly_rate' | translate}}" formControlName="hourlyWages"
                        aria-label="Recipient's username" aria-describedby="basic-addon2" />


                      <div class="input-group-append text-left">
                        <span class="input-group-text" id="basic-addon2"> {{'defaultcurrency' | translate}} </span>
                      </div>

                    </div>
                  </div>
                  <p class="text-left">
                  <span
                    *ngIf="this.jobForm.get('hourlyWages').valid && 
                  this.jobForm.get('minhour').valid && this.jobForm.get('hourlyWages').value >=standardWage" >
                   
                    {{'uptoxhrs' | translate: {'hrs':this.jobForm.get('minhour').value} }}
                    {{(this.jobForm.get('minhour').value*this.jobForm.get('hourlyWages').value)}}&nbsp;
                    {{'defaultcurrency' | translate}} . 
                    {{'afterXhrs' | translate:{'x':this.jobForm.get('minhour').value} }}
                   {{this.jobForm.get('hourlyWages').value}} {{'defaultcurrency' | translate}} / {{'hr' | translate}}
                  </span>
                  <span class="danger"
                    *ngIf="!this.jobForm.get('hourlyWages').valid  && submitError==true">{{validationMsg.wagesInvalid}}</span><br>
                  <span class="danger"
                    *ngIf="this.jobForm.get('hourlyWages').value < standardWage">{{validationMsg.belowStandardWage}}</span>    
                    </p>
                </div>
              </div>



              <div *ngIf="this.jobForm.get('wageMode').value=='fixed'"
                class="col-md-4 field-label-responsive text-left">
                <label for="password" class="labelrequired">{{'fixed_rate' | translate}}</label>
              </div>

              <div *ngIf="this.jobForm.get('wageMode').value=='fixed'" class="col-md-6">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>

                    <div class="input-group mb-3">
                      <input type="text" maxlength=4 (keydown)="validateInputKey($event)" class="form-control"
                        placeholder="{{'fixed_rate' | translate}}" formControlName="fixedWages"
                        aria-label="Recipient's username" aria-describedby="basic-addon2" />


                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"> {{'defaultcurrency' | translate}} </span>
                      </div>

                    </div>
                  </div>
                  <p class="text-left">
                  <span class="danger"
                    *ngIf="!this.jobForm.get('fixedWages').valid  && submitError==true">{{validationMsg.invalidFixedRate}}</span><br>
                  <span class="danger"
                    *ngIf="this.jobForm.get('fixedWages').value < standardWage">{{validationMsg.belowStandardWage}}</span>
                    </p>
                </div>
              </div>
              <div class="col-md-12">
                <app-ratecard
                  [budget]='this.viewJobModal.hourlyWages?this.viewJobModal.hourlyWages:this.viewJobModal.fixedWage'
                  [wageMode]='this.viewJobModal.wageMode' 
                  [minWage]="this.viewJobModal.jobPostType!='urgent'?this.viewJobModal.wageMode=='hourly'?this.standardWage:
                this.viewJobModal.fixedStandardWage : this.viewJobModal.wageMode=='hourly'?this.viewJobModal.urgentStandardWage:
                this.viewJobModal.urgentFixedStandardWage" [minHour]="this.jobForm.get('minhour').value" [proposal]="this.viewJobModal.wageMode=='hourly'?this.jobForm.get('hourlyWages').value:
                this.jobForm.get('fixedWages').value"></app-ratecard>
              </div>
              <div class="col-md-4 field-label-responsive text-left">
                <label for="password">{{'attachment' | translate}}</label>
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>

                    <div class="input-group mb-3 file_up_style " style="display:none">
                      <span class="hide_fileup ">
                        <span class="float-left" *ngIf="fileName">{{service.fileNameFormater(fileName[fileName.length -
                          1]) }}</span>
                        <input type="file" multiple accept="{{service.fileFormat}}" id="upload_file"
                          class="{{fileLoader}}" (change)=fileEvent($event) formControlName="attachment"
                          placeholder="file" />
                      </span>
                      <span onclick="triggerFileInput()" id='button_up'>{{'selectfile' | translate}}</span>

                    </div>
                    <div *ngIf="counter!=0">
                      <app-editattachment [attachments]="proposalAttachments" [fileName]="fileName"
                        (messageEvent)="deleteFileicon($event)"></app-editattachment>
                    </div>
                    <div *ngIf="this.counter <5 " class="img_attach_sm img_plus " onclick="triggerFileInput()">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>

                <p class="mt-2  mb-2 text-left">
                  {{'fileuploadlimit' | translate}}
                </p>
              </div>
              <!-- <div *ngIf="service.loader" class="col-md-1 col-3 mx-auto my-auto"><img class="img-fluid" src="assets/images/loaderinput.gif"></div> -->

              <div class="col-md-4 field-label-responsive text-left">
                <label for="password" class="labelrequired">{{'coverLetter' | translate}}</label>
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  <textarea formControlName="coverLetter" maxlength="1500" class="form-control"
                    id="exampleFormControlTextarea1" rows="6"></textarea>
                    <p class="text-left">
                      <small class="text-left">{{1500- jobForm.get('coverLetter').value.length }}&nbsp;{{('left')| translate}}</small>
                    </p>
                  <p class="text-left">
                  <span class="danger"
                    *ngIf="!this.jobForm.get('coverLetter').valid && submitError">{{validationMsg.coverLetter}}</span>
                  </p>
                  <br>

                </div>

              </div>

              <div class="col-md-12" *ngIf="viewJobModal.jobPostType=='urgent'">
                  <p class="text-left">
                    <span class="text-danger">{{validationMsg.urgentJobMessage}}</span>
                  </p>  
              </div>

              <div class="col-md-4 ml-auto">
                <div class="btn-group w-100">

                  <button type="button" [disabled]="this.fileLoader" class="accept_icon w-100 my-2 btn_alkafu"
                    (click)="submit()">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {{'submit_proposal' | translate}}
                  </button>
                </div>
              </div>
            </div>

          </form>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- Modal -->



<!-- Modal -->

<div class="modal fade" id="joblist_Modal" tabindex="-1" role="dialog" aria-labelledby="joblist_ModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="joblist_ModalLabel">Still available</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body"></div>
    </div>
  </div>
</div>

<div class="container-fluid mt100">
  <!-- iconrow -->

  <div class="row mt-4">
    <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container  mt-2">
        <div class="row">
          <!-- <div class="col-md-12 mx-auto mb-2">
    <h4 class="text-center bg-white pt-2 pb-2 b_shadow">{{'job_details' | translate}}</h4>
    </div> -->

          <div class="col-md-9">
            <div class="card bx_shadow">
              <div class="card-body" style="padding-top: 7px;">
                <div class="row  topsubmenu1">
                  <div class="col-md-12 bg-medium-blue bdr-radius ">
                    <h5 class="card-title  text-white pt-2 px-2 text-left text-uppercase">{{viewJobModal.jobTitle}}</h5>
                  </div>

                  <div class="col-md-12 py-2">
                    <h6 class="text-left">
                      {{viewJobModal.employerDetails.companyName}}
                    </h6>
                  </div>

                  <div class="col-md-4">
                    <p class="text-left">
                      <i class="fa fa-suitcase" aria-hidden="true"></i> {{'experiance' | translate}} :
                      <!-- {{viewJobModal | json}} -->
                      {{(viewJobModal.minYearofExperience==0 ?'':viewJobModal.minYearofExperience) }} &nbsp;{{(viewJobModal.minYearofExperience==0 ?'any':'years')|translate }} 


                    </p>
                  </div>

                  <div class="col-md-8">
                    <!-- <p>
    <i
    class="fa fa-map-marker"
    aria-hidden="true"
    ></i>
    
    Saudi Arabia - Saudi Arabia
    </p> -->
                  </div>

                  <div class="col-md-8">
                    <p class="text-left">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      {{'education' | translate}} :&nbsp;
                      {{viewJobModal.education}}
                    </p>
                  </div>

                  <!-- <div class="col-md-4">
    <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> Btech / BCA / MCA /Bsc</p>
    </div> -->
                  <hr>
                </div>

                <hr>

                <div class="row  topsubmenu1">
                  <div class="col-md-12">
                    <p class="text-justify">
                      {{viewJobModal.jobDescription}}
                    </p>

                    <hr>
                  </div>

                  <!-- <div class="col-md-12">
                    <p class="text-left">{{'skill_set' |translate}} :
                      <span *ngIf="!viewJobModal.skill" class="small d-inline p-1 mb-1 mt-1 mx-1 bg-secondary text-white rounded">{{'any'
                        | translate}}</span>
                      <span *ngFor="let skill of viewJobModal.skill" class="small d-inline p-1 mb-1 mt-1 mx-1 bg-secondary text-white rounded">{{skill}}</span>
                    </p>


                  </div> -->
                </div>



                <div class="row  topsubmenu1">
                  <!-- <div class="col-md-12">
                    <p class="text-left">
                      {{'industry_type'|translate}} : {{viewJobModal.category}}
                      <br>
                      {{'functional_area' | translate}} :{{viewJobModal.subCategory}}
                    </p>
                  </div> -->
                  <div class="col-md-12" *ngIf=" viewJobModal.fileDetails.length >0">
                    <hr>
                    <app-atachmentview [attachments]="viewJobModal.fileDetails"></app-atachmentview>

                  </div>
                </div>

            

                <app-iconset [val]=viewJobModal></app-iconset>



                <!-- <div class="col-md-12 py-2">
                <h6>Terms</h6>
                  </div>
                 -->




                <div class="row mt-3 blog">


                  <div *ngIf="service.isEmployeeLogin()" class="col-md-12 mt-3">
                    <h6 class="yellow_bg_text pointer text-center p-2" style="text-align: center"> {{'location' |
                      translate}} </h6>

                      <agm-map [latitude]="service.stringToNumber(viewJobModal.latitude)"
                      [longitude]="service.stringToNumber(viewJobModal.longitude)" [zoom]="16"
                      [disableDefaultUI]="false" [zoomControl]="false" [styles]="service.mapStyle"
                      style="height: 430px;">

                      <agm-marker [iconUrl]="viewJobModal.jobPostType=='urgent'?urgentIcon:currentIcon"
                        [latitude]="service.stringToNumber(viewJobModal.latitude)"
                        [longitude]="service.stringToNumber(viewJobModal.longitude)" [label]=""
                        [markerDraggable]="false">
                      </agm-marker>
                    </agm-map>

                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="col-md-3">
            <app-rightsidebar></app-rightsidebar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>