<!-- Modal -->
<div class="modal fade" id="addWalletModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <div class="input-group">
                <input type="tel" class="form-control" maxlength=15 [(ngModel)]="service.walletAmount" (keydown)="service.validateInputKey($event)" name="cardNumber" placeholder="{{'walletPlaceholder' | translate}} " autocomplete="cc-number"
                  required="required" autofocus="autofocus" />
    
              </div>
              <span class="danger" *ngIf="service.wallet < service.walletAmount && service.walletAmount">{{'ammountnot' | translate}}</span>
            </div>
            
        <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions" (change)="cardUpdated($event)" (error)="error = $event"></ngx-stripe-card>
        <div class="error">
          {{error?.message}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close" | translate}}</button>
        <button type="button" class="btn btn-primary" [disabled]="!complete || service.wallet < service.walletAmount || !service.walletAmount" (click)="getCardToken()">{{'add_money' | translate}}</button>

        
      </div>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------------------------------->

<h5>{{'walletdetails' | translate}}</h5>

<hr>

<div class="row px-3 w-100">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-2 col-4">
        <img src="assets/images/wallet.ico" class="img-fluid mx-auto">
      </div>

      <div class="col-md-7 col-8">
        <h6>{{'defaultcurrency' | translate}} {{this.service.wallet}} </h6>

        <small> {{'your_wallet_balance' | translate}} </small>
      </div>

     
    </div>
  </div>
  <div class="col-md-6">
  
      <div class="row">
        <div class="col-md-6 col-6 "> <button class="btn btn_alkafu" data-toggle="modal"   data-target="#addWalletModal">
        {{"add_money" | translate}} </button></div>
         <div class="col-md-6 col-6"> <button class="btn btn_alkafu" data-toggle="modal"   data-target="#withdrawWalletModal">
           {{"withdraw_money" | translate}} </button></div>
      </div>
     </div>
 
  
</div>

<hr *ngIf="service.walletDetailsList.length!=0">

<div  *ngIf="service.walletDetailsList.length!=0" class="row">
  <div class="col-md-12 mx-auto">
    <h2 class="text-center">{{'Transaction History' | translate}}</h2>
    <div class="card d-none d-sm-block ">
      <div class="card-header bkgdarkblue text-white">
        <div class="row">
          <div class="col-md-2">{{"date" | translate}}</div>
          <div class="col-md-2"> {{'amount' | translate}} </div>
          <div class="col-md-2"> {{'account_holder_number' | translate}} </div>

          <div class="col-md-2"> {{'Request Id' | translate}} </div>

        
          <div class="col-md-4"> {{'status' | translate}} </div>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <li  *ngFor="let val of service.walletDetailsList  | slice:0:transactionLimit;"  class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <!-- <h6>Saudi Armco</h6> -->
              <p>
                <!-- Transaction ID 1944280351820
                                                                    <br> -->
              {{val.createdTime | date : 'dd-MM-yyyy'}}
              </p>
            </div>
            <div class="col-md-2"> {{val.amount }}&nbsp;</div>
            <div class="col-md-2"> {{val.bankDetails?val.bankDetails.accountNumber:'' }}&nbsp;</div>

            <div  class="col-md-2"> {{val.requestId | slice:0:10  }}..</div>
            <div class="col-md-4">{{service.transform(val.paymentStatus)}}</div>
          </div>
        </li>

       
      </ul>
      <p *ngIf="transactionLimit > limit+1" (click)="transactionLimit=transactionLimit-limit!=0?transactionLimit-limit:limit" class="pl-3 text_blue pointer text-left">
          {{'viewless' | translate}}
        </p>
      <p *ngIf="service.walletDetailsList.length > transactionLimit"  (click)="transactionLimit=transactionLimit+limit" class="pr-3 text_blue pointer text-right">
          {{'viewmore' | translate}}
        </p>
    </div>

     <!-- trans his card xs sceen -->
     <div class="card d-block d-sm-none">
        <ul class="list-group list-group-flush">
            <li  *ngFor="let val of service.walletDetailsList  | slice:0:transactionLimit;"  class="list-group-item">
         <div class="row">
             <div class="col-6"> {{"date" | translate}}</div>
             <div class="col-6"> {{val.createdTime | date : 'dd-MM-yyyy'}} </div>
         </div>
         <hr>
         <div class="row">
            <div class="col-6"> {{"ammount" | translate}}</div>
            <div class="col-6"> {{val.amount}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6"> {{"account_holder_number" | translate}}</div>
            <div class="col-6"> {{val.bankDetails?val.bankDetails.accountNumber:'' }}&nbsp; </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6"> {{"Request Id" | translate}}</div>
            <div class="col-6"> {{val.requestId | slice:0:10  }}.. </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6"> {{"status" | translate}}</div>
            <div class="col-6">{{service.transform(val.paymentStatus)}}</div>
        </div>
        <hr>
         </li>
         </ul>

         <p *ngIf="transactionLimit > limit+1" (click)="transactionLimit=transactionLimit-limit!=0?transactionLimit-limit:limit" class="pl-3 text_blue pointer text-left">
            {{'viewless' | translate}}
          </p>
        <p *ngIf="service.walletDetailsList.length > transactionLimit"  (click)="transactionLimit=transactionLimit+limit" class="pr-3 text_blue pointer text-right">
            {{'viewmore' | translate}}
          </p>
          
      </div>
       <!--end trans his card small screen -->
    
  </div>
</div>
<hr *ngIf="service.paymentRequestList.length != 0">

<div *ngIf="service.paymentRequestList.length != 0" class="row">
    
    <div class="col-md-12 mx-auto text-center mt-4">
        <h2 class="text_blue">{{'Wallet History' | translate}}</h2>
        <!-- wallet his card largesceen -->
      <div class="card d-none d-sm-block">
        <div class="card-header bkgdarkblue text-white">
          <div class="row">
            <div class="col-md-2">{{"date" | translate}}</div>
            <div class="col-md-2"> {{'ammount' | translate}} </div>
          
            <div class="col-md-2"> {{'comment' | translate}} </div>
            <div class="col-md-2"> {{'Mode' | translate}} </div>

            <div class="col-md-2">{{'status' | translate}} </div>
  
          
          </div>
        </div>
  
        <ul class="list-group list-group-flush">
          <li *ngFor="let val of service.paymentRequestList | slice:0:walletHistoryLimit;" class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <!-- <h6>Saudi Armco</h6> -->
                <p>
                  <!-- Transaction ID 1944280351820
                                                                      <br> -->
                 {{val.createdTime | date : 'dd-MM-yyyy'}}
                </p>
              </div>
              <div class="col-md-2">{{val.amount}}</div>
              
              <div class="col-md-2">{{val.comment}}</div>
              <div class="col-md-2">{{val.mode}}</div>
              <div class="col-md-2">{{val.status}}</div>
  
             
            </div>
          </li>
  
        
        </ul>
        <p *ngIf="walletHistoryLimit > limit+1" (click)="walletHistoryLimit=walletHistoryLimit-5!=0?walletHistoryLimit-limit:limit" class="pl-3 text_blue pointer text-left">
            {{'viewless' | translate}}
          </p>
        <p *ngIf="service.paymentRequestList.length > walletHistoryLimit"  (click)="walletHistoryLimit=walletHistoryLimit+limit" class="pr-3 text_blue pointer text-right">
            {{'viewmore' | translate}}
          </p>
      </div>
        <!-- end wallet his card small screen -->
          <!-- wallet his card largesceen -->
           <div class="card d-block d-sm-none">
              <ul class="list-group list-group-flush">
                  <li *ngFor="let val of service.paymentRequestList | slice:0:walletHistoryLimit;" class="list-group-item">
               <div class="row">
                   <div class="col-6"> {{"date" | translate}}</div>
                   <div class="col-6"> {{val.createdTime | date : 'dd-MM-yyyy'}} </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-6"> {{"ammount" | translate}}</div>
                  <div class="col-6"> {{val.amount}} </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-6"> {{"comment" | translate}}</div>
                  <div class="col-6"> {{val.comment }} </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-6"> {{"Mode" | translate}}</div>
                  <div class="col-6"> {{val.mode }} </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-6"> {{"status" | translate}}</div>
                  <div class="col-6"> {{val.status }} </div>
              </div>
              <hr>
               </li>
               </ul>
            </div>
             <!--end wallet his card small screen -->
    </div>
  </div>
<p style="visibility: hidden;">
  Ut eget lectus tristique, tempus purus sit amet, porta augue. Mauris lobortis
  sem nec augue ultricies blandit. Nullam sed sem venenatis, pretium urna eget,
  scelerisque dolor. Morbi nec volutpat leo, quis faucibus tortor. Aenean vel
  rutrum mauris. Pellentesque lectus massa, tincidunt quis leo non, sodales
  sagittis nulla. Proin interdum est at nulla laoreet, pulvinar pretium nisl
  rutrum. In vel elit a risus rhoncus accumsan vulputate non sapien. Sed et
  rhoncus velit..
</p>