<div class="modal fade" id="Modaladdjob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bkg_ash">
      <div class="modal-header bkgdarkblue">
        <h5 class="modal-title text-white" id="exampleModalLabel"> {{'postjobs' | translate}} </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body p-4">
        <div class="row">
          <div class="col-md-12">
            <p>
              <b>
                {{'announce_for_new_part_time_workers' | translate}}
            
              </b>
            </p>
          </div>
          <div class="col-md-5 mx-auto">
            <div class="imgicon1">
              <div class="cards p-2">
                <a routerLink="/job_post/non-urgentrequest" data-dismiss="modal">
                  <div class="cards py-2">
                    <img src="assets/images/ousern.png" class="img-fluid50">

                    <p>
                      <br>

                      <b class="text-dark">
                        {{'new_parttime_worker1' | translate }} <br> <span class="text-success"> ({{'non_urgent' |
                          translate}}) </span>
                      </b>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-5 mx-auto">
            <div class="imgicon1">
              <div class="cards p-2">
                <a routerLink="/job_post/Urgent requests" data-dismiss="modal">
                  <div class="cards py-2">
                    <img src="assets/images/ourgent.png" class="img-fluid50">

                    <p class="mb-3">
                      <br>

                      <b class="text-dark">
                        {{'new_parttime_worker1' | translate }} <br> <span class="danger">( {{'urgent' | translate}}
                          ) </span>

                      </b>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="Modalsearchcategorymenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue text-left  ">
        <span class="modal-title text-white" id="exampleModalLabel"> <b>{{'are_u_want_find_employee_jobs' |
            translate}}</b> </span>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>



      <div class="modal-body p-5 bkg_ash">
        <div class="row ">

          <div class="col-md-5 mx-auto">
            <div class="imgicon1 b_shadow ">
              <div class="cards py-2 ">
                <a routerLink="/search_all_person" data-dismiss="modal">
                  <div class="cards py-2">
                    <img src="assets/images/omuser1.png" class="img-fluid50">
                    <p>

                      <br>

                      <b class="text-dark">{{'find_employee' | translate}}</b>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-5 mx-auto ">
            <div class="imgicon1 b_shadow ">
              <div class="cards py-2 ">
                <a routerLink="employee_joblist" data-dismiss="modal">
                  <div class="cards py-2">
                    <img src="assets/images/ourgent.png" class="img-fluid50">
                    <p>
                      <br>
                      <b class="text-dark">{{'find_jobs' | translate}}</b>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="Modalprofilemenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div data-dismiss="modal">
          <img src="" class="img_propic">

          <h5 class="text-white text-center">{{service.userName}}</h5>

          <a class="dropdown-item" routerLink="/companyprofile">{{'my_profile' | translate }}</a>

          <a class="dropdown-item" routerLink="">{{'my_profile' | translate }}</a>



          <a class="dropdown-item" routerLink="/how_it_work">{{'howitwork' | translate}}</a>

          <a class="dropdown-item" routerLink="user_settings/1">{{'setting' | translate}}</a>

          <a class="dropdown-item" (click)="logout()" routerLink="">{{'logout' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{'all_categories' | translate}}
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <ul class="">
          <div class="row  dropdown-menu-width mx-auto">
            <div class="col-md-3" *ngFor="let val of category ; let i = index">
              <ul class="multi-column-dropdown">
                <li>


                  <div id="accordion-copy" role="tablist" aria-multiselectable="true">
                    <div class="">
                      <div role="tab" id="headingOne-copy{{i}}">
                        <h5 class="mb-2">
                          <a class="text-muted" data-toggle="collapse" data-parent="#accordion-copy" href="#collapseOne-copy{{i}}"
                            aria-expanded="false" (click)="service.searchCatId=category[categoryIndex(i)].id;service.pushCategoryFilter(category[categoryIndex(i)].name,category[categoryIndex(i)].id);;">{{category[i].name}}
                          </a>
                        </h5>
                      </div>

                      <div *ngIf="isSub(category[i].subCategories)" id="collapseOne-copy{{i}}" class="collapse in" role="tabpanel"
                        aria-labelledby="headingOne-copy">
                        <ul class="multi-column-dropdown_sub">
                          <li *ngFor="let sub of category[i].subCategories;let j = index">
                            <a class="dropdown-item" routerLink="#" (click)="service.searchSubId=sub.id;service.pushSubCategoryFilter(sub.name,sub.id,category[i].id)"
                              data-toggle="modal" data-target="#Modalsearchcategorymenu">{{sub.name}} </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="fixed-top bkgdarkblue font07">
  <div class="logodivmain ml-4 mr-4">
    <div class="row">
      <div class="col-md-2 col-sm-2  d-none d-sm-none d-md-block mr-auto">
        <a class="navbar-brand" routerLink="/home">
          <img src="assets/images/logoreal.png" class="img-fluid logocss ">

        </a>
      </div>

      <div class="col-md-3 d-none d-sm-none d-md-block mr-auto">
        <form role="form">
          <div class="form-group toplogoinput">
            <div class="form-group toplogoinput">
              <div class="row">
                <div class="col-md-9">
                  <div *ngIf="service.noLogin" class="input-group">

                    <div class="input-group-btn">
                      <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-search ml-2" aria-hidden="true"></i>
                      </button>

                      <div class="dropdown-menu" id="selectionType" style="min-width: 100%;">
                        <a class="dropdown-item" value="0" style="min-width: 100%;" (click)="selectSearch('employer')">
                          {{'find_employee' | translate}}
                        </a>

                        <a class="dropdown-item" value="1" (click)="selectSearch('employee')">{{'searchjob' |
                          translate}}</a>
                      </div>
                    </div>


                    <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
                      style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
                      name="search">

                  </div>



                  <div *ngIf="service.employee_login && service.showMenu" class="input-group">

                    <div class="input-group-btn">
                      <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-search ml-2" aria-hidden="true"></i>
                      </button>

                      <div class="dropdown-menu" id="selectionType" style="min-width: 100%;">

                        <a class="dropdown-item" value="1" (click)="selectSearch('employee')">{{'searchjob' |
                          translate}}</a>
                      </div>
                    </div>


                    <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
                      style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
                      name="search">

                  </div>

                  <div *ngIf="service.employer_login && service.showMenu" class="input-group">

                    <div class="input-group-btn">
                      <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-search ml-2" aria-hidden="true"></i>
                      </button>

                      <div class="dropdown-menu" id="selectionType" style="min-width: 100%;">
                        <a class="dropdown-item" value="0" style="min-width: 100%;" (click)="selectSearch('employer')">
                          {{'find_employee' | translate}}
                        </a>


                      </div>
                    </div>


                    <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
                      style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
                      name="search">

                  </div>
                </div>
                <div *ngIf="service.showMenu" class="col-md-3 padding_l0">
                  <button routerLink="/search_all_person" type="button" class="btn btn-warning search_main1" (click)="allSearchPerson()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
                <div *ngIf="service.noLogin" class="col-md-3 padding_l0">
                  <button routerLink="/search_all_person" type="button" class="btn btn-warning search_main1" (click)="allSearchPerson()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              </div>




            </div>
          </div>
        </form>
      </div>

      <div *ngIf="service.noLogin" class="col-md-6 ml-auto topsubmenu d-none d-sm-none d-md-block mt-3">
        <ul class="ml-auto">


          <li>
            <a routerLink="/home">{{'home' | translate}}</a>

          </li>

          <li>
            <a routerLink="/how_it_work">{{'howitwork' | translate}}</a>
          </li>


          <li>
            <a routerLink="/login">{{'login' | translate}}</a>
          </li>

          <li>
            <a routerLink="/signup">{{'sign_up' | translate}}</a>
          </li>
          <li>
            <a routerLink="/contact_us">{{'contactus' | translate}}</a>
          </li>
        </ul>
      </div>

      <div *ngIf="service.employer_login" class="col-md-7 ml-auto topsubmenu d-none d-sm-none d-md-block pt17">
        <ul class="ml-auto">

          <li>

            <a *ngIf="service.showMenu" class="" routerLink="/how_it_work">{{'howitwork' | translate}}</a>


          </li>


          <li>

            <a *ngIf="service.showMenu" class="" routerLink="faqs"> {{'faqs' | translate}} </a>

          </li>
          <li>

            <a *ngIf="service.showMenu" class="" routerLink="disputes"> {{'disputes' | translate}} </a>

          </li>

          <li>
            <a class="" *ngIf="service.showMenu" routerLink="contact_us"> {{'contactus' | translate}} </a>
          </li>

          <li *ngIf="service.showMenu" class="dropdown">
            <app-notification></app-notification>
          </li>

          <li *ngIf="service.showMenu">
            <p class="icon_top_menu" routerLink="employee_message">
              <i class="fa fa-comments-o dynamic-badge" placement="top" ngbTooltip="{{'messages' | translate}} "
                aria-hidden="true"> <span *ngIf="service.messageBadgeIcon!=0" class="dynamic-badge1">
                  {{service.messageBadgeIcon}}
                </span>
              </i>
            </p>
          </li>

          <li class="dropdown">
            <p href="" class="icon_top_menu1 wdbrk  text-uppercase font-weight-bold " style="padding-top: 20px;" id="about-pofile"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{service.prfImg}}" class="img_top_propic">

              <span class="text-uppercase font-weight-normal "> &nbsp; {{service.userName}} &nbsp; </span>
              <i class="fa fa-sort-desc" aria-hidden="true"></i>

            </p>

            <div class="dropdown-menu propic_bkg" style="margin-top: 0.7rem;" aria-labelledby="about-pofile">
              <img src="{{service.prfImg}}" class="img_propic">

              <a *ngIf="service.showMenu" class="dropdown-item" routerLink="/companyprofile">{{'my_profile' |
                translate }}</a>

              <a *ngIf="service.showMenu" class="dropdown-item" routerLink="user_settings/1">{{'setting' | translate }}</a>

              <a class="dropdown-item" (click)="logout()" routerLink="">{{'logout' | translate}}</a>
            </div>
          </li>

        </ul>
      </div>

      <div *ngIf="service.employee_login" class="col-md-6 ml-auto topsubmenu d-none d-sm-none d-md-block pt17">

        <ul class="ml-auto">

          <li>

            <a *ngIf="service.showMenu" class="" routerLink="/how_it_work">{{'howitwork' | translate}}</a>


          </li>
          <li>

            <a *ngIf="service.showMenu" class="" routerLink="faqs"> {{'faqs' | translate}} </a>

          </li>
          <li>

            <a *ngIf="service.showMenu" class="" routerLink="disputes"> {{'disputes' | translate}} </a>

          </li>

          <li>
            <a class="" *ngIf="service.showMenu" routerLink="contact_us"> {{'contactus' | translate}} </a>
          </li>



          <li *ngIf="service.showMenu" class="dropdown">
            <app-notification></app-notification>
          </li>




          <li *ngIf="service.showMenu">
            <p class="icon_top_menu" routerLink="employee_message">
              <i class="fa fa-comments-o   dynamic-badge" placement="top" ngbTooltip="{{'messages' | translate}}"
                aria-hidden="true">
                <span *ngIf="service.messageBadgeIcon!=0" class="dynamic-badge1">
                  {{service.messageBadgeIcon}}
                </span>
              </i>

            </p>
          </li>

          <li class="dropdown">


            <p href="" class="icon_top_menu1 wdbrk  text-uppercase font-weight-bold" style="padding-top: 20px;" id="about-pofile"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{service.prfImg}}" class="img_top_propic">
              <span class="text-uppercase font-weight-normal "> &nbsp; {{service.userName}} &nbsp; </span>

              <i class="fa fa-sort-desc" aria-hidden="true"></i>


            </p>

            <div class="dropdown-menu propic_bkg" style="margin-top: 0.7rem;" aria-labelledby="about-pofile">
              <img src="{{service.prfImg}}" class="img_propic">
              <a *ngIf="service.showMenu" class="dropdown-item" routerLink="employee_edit">{{'my_profile' | translate
                }}</a>

              <a *ngIf="service.showMenu" class="dropdown-item" routerLink="featuredworks">{{'my_works' | translate
                }}</a>

              <a *ngIf="service.showMenu" class="dropdown-item" routerLink="user_settings/1">{{'setting' | translate }}</a>

              <a class="dropdown-item" (click)="logout()" routerLink="">{{'logout' | translate }}</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-12 d-block  d-sm-block d-md-none py-1">
        <div id="accordion" class="accordion">
          <div class="row">

            <div class=" col-sm-4  d-none d-sm-block d-md-none mr-auto">
              <a class="navbar-brand" routerLink="/home">
                <img src="assets/images/logoreal.png" class="img-fluid logocss ">

              </a>
            </div>
            <div class="col-3  text-center d-block d-sm-none">

              <a class="navbar-brand" routerLink="/home">
                <img src="assets/images/logomobsize.png" class="img-fluid logocss ">

              </a>

            </div>
            <div *ngIf="service.showMenu" class="col-2 collapsed text-center ml-auto" data-toggle="collapse" href="#collapseOne">
              <a class="text-white text">
                <i class="fa fa-search my-3" aria-hidden="true"></i>
              </a>
            </div>
            <div *ngIf="service.noLogin" class="col-2 collapsed text-center ml-auto" data-toggle="collapse" href="#collapseOne">
              <a class="text-white text">
                <i class="fa fa-search my-3" aria-hidden="true"></i>
              </a>
            </div>
            <div class="col-4 ml-auto">
              <div class="topsubmenu">
                <ul class="ml-auto topsubmenu1  my-2">
                  <li class="profile_dropdown" style="background-color: #002d68;">
                    <select onchange="lan(this.value)" (change)="service.switchLanguage($event.target.value);getAllCategory();service.getAllCategory()"
                      class="selectpicker profile_dropdown" data-width="fit" id="languageSelect" style="background-color: #002d68;">
                      <option value="en" data-content='<span class="flag-icon flag-icon-us"></span>&nbsp; <span class="text-muted">English</span>'>

                      </option>

                      <option value="ar" data-content='<span class="flag-icon flag-icon-sa"></span> &nbsp;<span class="text-muted">Arabic</span>'>


                      </option>
                    </select>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div id="collapseOne" class="col-12 collapse" data-parent="#accordion">


            <div class="form-group toplogoinput">
              <div class="form-group toplogoinput">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fa fa-search ml-2" aria-hidden="true"></i>
                    </button>

                    <div class="dropdown-menu" id="selectionType" style="min-width: 100%;">
                      <a class="dropdown-item" value="0" style="min-width: 100%;" (click)="selectSearch('employer')">
                        {{'find_employee' | translate}}
                      </a>

                      <a class="dropdown-item" value="1" (click)="selectSearch('employee')">{{'searchjob' |
                        translate}}</a>
                    </div>
                  </div>

                  <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
                    style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
                    name="search">
                </div>

              </div>
            </div>


          </div>

          <div id="collapseTwo" class="col-12 collapse" data-parent="#accordion">
            <form role="form">
              <div class="form-group toplogoinput">
                <input type="text" class="form-control empty" placeholder="&#xf041; {{'enter_your_country' | translate}}" />
              </div>

              <div class="form-group toplogoinput">
                <ng-select placeholder="{{'state' | translate }}" (remove)="service.onStateItemDeselect()" (clear)="service.onStateItemDeselect()"
                  [items]="service.state" bindLabel="state" bindValue="id" dropdownPosition="bottom" class="inputstyletop"
                  [ngClass]="service.stateLoader" (change)="service.onStateItemSelect($event)"></ng-select>
              </div>
            </form>
          </div>

          <div id="collapseThree" class="col-12  topsubmenu collapse" data-parent="#accordion">
            <!-- - No lOgin -->

            <div *ngIf="service.noLogin">
              <ul class="ml-auto">
                <li>
                  <a routerLink="/home"> {{'home' | translate}} </a>
                </li>

                <li>
                  <a routerLink="/how_it_work">{{'howitwork' | translate}}</a>
                </li>

                <li>
                  <a routerLink="">{{ 'faqs' | translate}}</a>
                </li>

                <li>
                  <a routerLink="/login">{{'login' | translate}}</a>
                </li>

                <li>
                  <a routerLink="/signup">{{'sign_up' | translate}}</a>
                </li>
              </ul>
            </div>

            <!-- Employer login -->

            <div *ngIf="service.employer_login">
              <ul class="ml-auto">




                <li *ngIf="service.showMenu" class="dropdown">


                  <div class="dropdown-menu propic_bkg" style="margin-top: 0.7rem;" aria-labelledby="about-pofile">
                    <div>
                      <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#Modaladdjob">{{'postjob'
                        | translate }}</a>

                      <a class="dropdown-item" routerLink="newapplication_jobs">
                        {{'new_applicant' | translate }}
                      </a>

                      <a class="dropdown-item" routerLink="/employer_evaluate">{{'evaluation' | translate }}</a>


                    </div>
                  </div>
                </li>

                <li *ngIf="service.showMenu">
                  <p class="icon_top_menu" routerLink="faqs">
                    <i class="fa fa-question" aria-hidden="true"></i>
                  </p>
                </li>

                <li *ngIf="service.showMenu">
                  <p class="icon_top_menu" routerLink="user_notifications">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                  </p>
                </li>

                <li *ngIf="service.showMenu">
                  <p class="icon_top_menu" routerLink="employee_message">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                  </p>
                </li>


                <li class="dropdown">

                  <p href="" class="icon_top_menu1 wdbrk" id="about-pofile" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="{{service.prfImg}}" class="img_top_propic">
                    {{service.userName}}

                    <i class="fa fa-sort-desc" aria-hidden="true"></i>


                  </p>

                  <div class="dropdown-menu propic_bkg" style="margin-top: 0.7rem;" aria-labelledby="about-pofile">


                    <a *ngIf="service.showMenu" class="dropdown-item" routerLink="/companyprofile">{{'my_profile' |
                      translate }}</a>



                    <a *ngIf="service.showMenu" class="dropdown-item" routerLink="/how_it_work">{{'howitwork' |
                      translate}}</a>

                    <a *ngIf="service.showMenu" class="dropdown-item" routerLink="user_settings/1">{{'setting' |
                      translate }}</a>

                    <a class="dropdown-item" (click)="logout()" routerLink="">{{'logout' | translate}}</a>
                  </div>
                </li>
              </ul>
            </div>

            <!-- - employee login -->

            <div *ngIf="service.employee_login">
              <ul class="ml-auto">
                <li *ngIf="service.showMenu" class="dropdown">


                  <div class="dropdown-menu propic_bkg" style="margin-top: 0.7rem;" aria-labelledby="about-pofile">
                    <div>
                      <a class="dropdown-item" routerLink="employee_joblist">
                        {{'part_time _list' | translate}}
                      </a>

                      <a class="dropdown-item" routerLink="employee_view_map">
                        {{'part_time_map' | translate}}
                      </a>



                      <a class="dropdown-item" routerLink="proposals">{{'proposals' | translate }}</a>
                    </div>
                  </div>
                </li>

                <li *ngIf="service.showMenu">
                  <p class="icon_top_menu" routerLink="faqs">
                    <i class="fa fa-question" aria-hidden="true"></i>
                  </p>
                </li>

                <li *ngIf="service.showMenu">

                </li>

                <li *ngIf="service.showMenu">
                  <p class="icon_top_menu" routerLink="employee_message">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                  </p>
                </li>



                <li class="dropdown">
                  <p href="" class="icon_top_menu" id="about-pofile" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="{{service.prfImg}}" class="img_top_propic">

                    <i class="fa fa-sort-desc" aria-hidden="true"></i>


                  </p>

                  <div class="dropdown-menu propic_bkg" style="margin-top: 0.7rem;" aria-labelledby="about-pofile">
                    <a *ngIf="service.showMenu" class="dropdown-item" routerLink="profile">{{'my_profile' | translate
                      }}</a>

                    <a class="dropdown-item" (click)="logout()" routerLink="">{{'logout' | translate }}</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-md bg-medium-blue d-none d-sm-none d-md-block">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-1">
          <i class="fa fa-bars text-white"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul *ngIf="service.noLogin" class="navbar-nav">
          <li *ngFor="let commonHeaders of commonHeaders ; let i = index" class="nav-item">
            <a (click)="checkCat(commonHeaders)" class="nav-link" href="#" data-toggle="modal" data-target="#Modalsearchcategorymenu">{{commonHeaders}}
            </a>
          </li>

          <li class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{'all_categories' | translate }}
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="row  dropdown-menu-width mx-auto">
                <div class="col-md-3" *ngFor="let lp of loop  ; let k = index">
                  <div *ngFor="let val of category | slice:0:10; let i = index">
                    <ul class="multi-column-dropdown text-left">

                      <!-- 1st submenuclmn -->

                      <div id="accordion-copy" role="tablist" aria-multiselectable="true">
                        <div class="">
                          <div>
                            <h5 class="mb-2" (click)="service.searchCatId=category[categoryIndex(i,k)].id">
                              <!-- No Login Category-->
                              <a role="tab" class="text-muted w-100" data-toggle="collapse" data-parent="#accordion-copy"
                                href="#11collapseOne-copy{{k}}{{i}}" aria-expanded="false">
                                {{category[categoryIndex(i,k)].name}}
                              </a>

                            </h5>
                          </div>

                          <div *ngIf="isSub(category[categoryIndex(i,k)].subCategories)" id="11collapseOne-copy{{k}}{{i}}"
                            class="collapse in" role="tabpanel">
                            <ul class="multi-column-dropdown_sub">
                              <li *ngFor="let sub of category[categoryIndex(i,k)].subCategories;let j = index">
                                <a class="dropdown-item" href="" (click)="service.searchSubId=sub.id;service.pushSubCategoryFilter(sub.name,sub.id,category[categoryIndex(i,k)].id)"
                                  data-toggle="modal" data-target="#Modalsearchcategorymenu">{{sub.name}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </ul>
                  </div>
                </div>


              </div>
            </ul>
          </li>

          <li class="d-block d-sm-block d-md-none nav-item">

            <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong"> {{'all_categories' |
              translate}}</a>
          </li>
        </ul>

        <ul *ngIf="service.employee_login" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" style="font-weight: 700 !important;
                      padding-left: 2rem !important;
                      padding-right: 2rem !important;"
              *ngIf="service.showMenu" routerLink="employee_home">{{'home' | translate}}</a>
          </li>

          <li *ngIf="service.showMenu" class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg1">
            <a class="nav-link nav-link_login dropdown-toggle" style="font-weight: 700 !important;
                      padding-left: 2rem !important;
                      padding-right: 2rem !important;"
              href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'find_jobs'|
              translate}}</a>
            <ul class="dropdown-menu" style="left: 0rem;
                    width: 200px;
                    overflow: unset;
                    height: auto;background-color: #0c2d67 !important;
                    color: #fff !important;"
              aria-labelledby="navbarDropdownMenuLink">
              <div class="row  dropdown-menu-width mx-auto">
                <ul class="multi-column-dropdown ar_ml">
                  <li style="width: 198px;">
                    <a style="margin-left: -7px;" class="nav-link text-white ar_ml" routerLink="employee_joblist">
                      {{'part_time _list' | translate}}
                    </a>
                  </li>

                  <li style="">
                    <a style="margin-left: -7px;" class="nav-link text-white ar_ml" routerLink="employee_view_map">
                      {{'part_time_map' | translate}}
                    </a>
                  </li>
                </ul>
              </div>
            </ul>
          </li>



          <li class="nav-item">
            <a class="nav-link" style="font-weight: 700 !important;
                      padding-left: 2rem !important;
                      padding-right: 2rem !important;"
              *ngIf="service.showMenu" routerLink="proposals">{{'proposals' | translate }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="font-weight: 700 !important;
                      padding-left: 2rem !important;
                      padding-right: 2rem !important;"
              *ngIf="service.showMenu" routerLink="../completed_contracts">{{'contracts' | translate }}</a>
          </li>



          <li *ngIf="service.showMenu" class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg">
            <a class="nav-link  dropdown-toggle" style="font-weight: 700 !important;
                      padding-left: 2rem !important;
                      padding-right: 2rem !important;"
              href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'all_categories' | translate }}
            </a>

            <ul class="dropdown-menu" style="left:-22rem;" aria-labelledby="navbarDropdownMenuLink">
              <div class="row  dropdown-menu-width mx-auto">
                <div class="col-md-3" *ngFor="let lp of loop; let k = index">
                  <div *ngFor="let val of category | slice:0:categoryLength; let i = index">
                    <ul class="multi-column-dropdown text-left">

                      <!-- 1st submenuclmn -->

                      <div id="accordion-copy_employee" role="tablist" aria-multiselectable="true">
                        <div class="">
                          <div role="tab" id="headingOne-copy{{k}}{{i}}">
                            <h5 class="mb-2">
                              <!-- Employee Login Category-->
                              <a role="tab" class="text-muted" (click)="service.searchCatId=category[categoryIndex(i,k)].id;"
                                data-toggle="collapse" data-parent="#accordion-copy_employee" href="#collapseOne-copy1{{k}}{{i}}"
                                aria-expanded="false">
                                {{category[categoryIndex(i,k)].name}}
                              </a>
                              <!-- Employee Login no category-->

                            </h5>
                          </div>



                          <div *ngIf="isSub(category[categoryIndex(i,k)].subCategories)" id="collapseOne-copy1{{k}}{{i}}"
                            class="collapse" role="tabpanel" aria-labelledby="headingOne-copy">
                            <ul class="multi-column-dropdown_sub">
                              <li *ngFor="let sub of category[categoryIndex(i,k)].subCategories;let j = index">
                                <a (click)="service.searchSubId=sub.id;service.pushSubCategoryFilter(sub.name,sub.id,category[categoryIndex(i,k)].id);service.pushCategoryFilter(category[categoryIndex(i,k)].name,category[categoryIndex(i,k)].id)"
                                  class="dropdown-item" routerLink="employee_joblist" style="margin-left: 0px;">{{sub.name}}</a>
                              </li>
                            </ul>
                          </div>

                        </div>
                      </div>

                    </ul>
                  </div>
                </div>
              </div>
            </ul>
          </li>

          <li class="d-block d-sm-block d-md-none nav-item">


            <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong">{{'all_categories' |
              translate}}</a>
          </li>
        </ul>

        <ul *ngIf="service.employer_login" class="navbar-nav">
          <li *ngIf="service.showMenu" class="nav-item">
            <a class="nav-link" style="font-weight: 700 !important;
                      padding-left: 2rem !important;
                      padding-right: 2rem !important;"
              routerLink="employer_home">{{'home' | translate }}</a>
          </li>

          <li *ngIf="service.showMenu" class="nav-item" data-toggle="modal" data-target="#Modaladdjob">
            <a style="font-weight: 700 !important;
                    padding-left: 2rem !important;
                    padding-right: 2rem !important;"
              class="nav-link" href="javascript:void(0)">{{'postjob' | translate }}</a>
          </li>

          <li *ngIf="service.showMenu" class="nav-item">


            <a style="font-weight: 700 !important;
                  padding-left: 2rem !important;
                  padding-right: 2rem !important;"
              class="nav-link" routerLink="my_jobs">{{'my_jobs' | translate }}</a>
          </li>

          <li *ngIf="service.showMenu" class="nav-item">
            <a style="font-weight: 700 !important;
                          padding-left: 2rem !important;
                          padding-right: 2rem !important;"
              class="nav-link" routerLink="../employer_contracts">{{'contracts' | translate }}</a>
          </li>




          <li *ngIf="service.showMenu" class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg">
            <a style="font-weight: 700 !important;
                  padding-left: 2rem !important;
                  padding-right: 2rem !important;"
              class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{'all_categories' | translate }}
            </a>

            <ul class="dropdown-menu" style="left: -10rem;" aria-labelledby="navbarDropdownMenuLink">
              <div class="row  dropdown-menu-width mx-auto">
                <div class="col-md-3" *ngFor="let lp of loop; let k = index">
                  <div *ngFor="let val of category | slice:0:categoryLength; let i = index">
                    <ul class="multi-column-dropdown text-left">

                      <!-- 1st submenuclmn -->

                      <div id="accordion-copy" role="tablist" aria-multiselectable="true">
                        <div class="">
                          <div role="tab" id="headingOne-copy{{k}}{{i}}">
                            <h5 class="mb-2">
                              <!-- Employer Login Category-->
                              <a role="tab" class="text-muted" data-toggle="collapse" data-parent="#accordion-copy"
                                href="#collapseOne-copy22{{k}}{{i}}" (click)="service.searchCatId=category[categoryIndex(i,k)].id"
                                aria-expanded="false">
                                {{category[categoryIndex(i,k)].name}}
                              </a>
                              <!-- Employer Login no category-->

                            </h5>
                          </div>

                          <div *ngIf="isSub(category[categoryIndex(i,k)].subCategories)" id="collapseOne-copy22{{k}}{{i}}"
                            class="collapse in" role="tabpanel" aria-labelledby="headingOne-copy">
                            <ul class="multi-column-dropdown_sub">
                              <li *ngFor="let sub of category[categoryIndex(i,k)].subCategories;let j = index">
                                <a (click)="service.searchSubId=sub.id;service.pushSubCategoryFilter(sub.name,sub.id,category[categoryIndex(i,k)].id)"
                                  class="dropdown-item" [routerLink]="['/search_all_person']">{{sub.name}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </ul>
                  </div>
                </div>

              </div>
            </ul>
          </li>

          <li class="d-block d-sm-block d-md-none nav-item">


            <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong"> {{'all_categories' |
              translate}}</a>
          </li>
        </ul>
      </div>

      <div class="ml-auto topsubmenu d-none d-sm-none d-md-block">

        <ul class="ml-auto topsubmenu1">
          <li class="profile_dropdown  mx-2  arabic_fl_right " *ngIf="service.showMenu " style="margin-top: 6px;">
            <span routerLink="user_settings/1" *ngIf="service.isEmployeeLogin()">
              <img src="assets/images/wallet-outline.png" class="wallet_img mx-1">
              <span class="text-white ">
                <font class=""> {{'wallet' | translate}} <b>{{'defaultcurrency' | translate}} {{service.wallet}}</b>
                </font>
              </span>

            </span>
            <span routerLink="user_settings/1" *ngIf="service.isEmployerLogin()">
              <img src="assets/images/wallet-outline.png" class="wallet_img mx-1">
              <span class="text-white ">
                <font class=""> {{'wallet' | translate}} <b>{{'defaultcurrency' | translate}} {{service.wallet}}</b>
                </font>
              </span>

            </span>
          </li>

          <li class="profile_dropdown">
            <span class="text-white">{{'language' | translate }}</span>

            <select onchange="lan(this.value)" (change)="service.switchLanguage($event.target.value);getAllCategory();service.getAllCategory()"
              class="selectpicker profile_dropdown" data-width="fit" id="languageSelect">
              <option value="en" data-content='<span class="flag-icon flag-icon-us"></span> &nbsp;English'>

              </option>

              <option value="ar" data-content='<span class="flag-icon flag-icon-sa"></span>&nbsp;Arabic'>

              </option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" style="font-size: 1rem !important;" onclick="closeNav()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>

    <!-- mobilesidemenu -->
    <div *ngIf="service.employer_login" class="w-250px">

      <img src="{{service.prfImg}}" class=" rounded-circle   img_top_propic_sidebar">

      <p class="text-center text-white my-2">
        <li class="dropdown" style="list-style: none;">
          <p href="" class="icon_top_menu" id="about-pofile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>{{service.userName}}</b> &nbsp;
            <i class="fa fa-sort-desc" aria-hidden="true"></i>

            <!-- {{service.userName}} -->
          </p>

          <div class="dropdown-menu propic_bkg" onclick="closeNav()" style="margin-top: 0.7rem;
                margin-top: 0.7rem;
    position: absolute;
    will-change: transform;
    width: 100%;
    overflow: hidden;
    height: auto;
    transition-delay: 5e+06s;
    top: 0px;
    left: 0px;
    transform: translate3d(-5px, 33px, 0px);background-color: #001c4e;"
            aria-labelledby="about-pofile">

            <a *ngIf="service.showMenu" class="dropdown-item" routerLink="/companyprofile">{{'my_profile' | translate
              }}</a>



            <a *ngIf="service.showMenu" class="dropdown-item" routerLink="/how_it_work">{{'howitwork' | translate}}</a>

            <a *ngIf="service.showMenu" class="dropdown-item" routerLink="user_settings/1">{{'setting' | translate }}</a>

            <a class="dropdown-item" (click)="logout()" routerLink="">{{'logout' | translate}}</a>
          </div>
        </li>
      </p>

      <p class="text-center text-white my-2">
        <a class="dropdown-item text-center pr-4" (click)="logout()" routerLink="">{{'logout' | translate}} </a>
      </p>

      <hr class="bg-white">

      <ul class="social" style="text-align-last: center;   padding-left: 0px;" onclick="closeNav()">
        <li class="d-inline circledarkblue">
          <p class="icon_top_menu mx-2 " routerLink="faqs">
            <i class="fa fa-question" aria-hidden="true"></i>
          </p>
        </li>

        <li class="d-inline circledarkblue">
          <p class="icon_top_menu mx-2" routerLink="user_notifications">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          </p>
        </li>

        <li class="d-inline circledarkblue">
          <p class="icon_top_menu mx-2" routerLink="employee_message">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
          </p>
        </li>

      </ul>
    </div>
    <!-- employeemobilemenu -->
    <div *ngIf="service.employee_login" class="w-250px" onclick="closeNav()">
      <img src="{{service.prfImg}}" class=" rounded-circle img_top_propic_sidebar">

      <p class="text-center text-white my-2">
        <li class="dropdown" style="list-style: none;">
          <p href="" class="icon_top_menu" id="about-pofile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>{{service.userName}}</b> &nbsp;
            <i class="fa fa-sort-desc" aria-hidden="true"></i>

            <!-- {{service.userName}} -->
          </p>

          <div class="dropdown-menu propic_bkg" style="margin-top: 0.7rem;
                  margin-top: 0.7rem;
      position: absolute;
      will-change: transform;
      width: 100%;
      overflow: hidden;
      height: auto;
      transition-delay: 5e+06s;
      top: 0px;
      left: 0px;
      transform: translate3d(-5px, 33px, 0px);background-color: #001c4e;"
            aria-labelledby="about-pofile">

            <a *ngIf="service.showMenu" class="dropdown-item" routerLink="/companyprofile">{{'my_profile' | translate
              }}</a>



            <a *ngIf="service.showMenu" class="dropdown-item" routerLink="/how_it_work">{{'howitwork' | translate}}</a>

            <a *ngIf="service.showMenu" class="dropdown-item" routerLink="user_settings/1">{{'setting' | translate }}</a>

            <a class="dropdown-item" (click)="logout()" routerLink="">{{'logout' | translate}}</a>
          </div>
        </li>
      </p>

      <p class="text-center text-white my-2">
        <a class="dropdown-item text-center pr-4" (click)="logout()" routerLink="">{{'logout' | translate}} </a>
      </p>

      <hr class="bg-white">

      <ul class="social" style="text-align-last: center;   padding-left: 0px;">
        <li class="d-inline circledarkblue">
          <p class="icon_top_menu mx-2 " routerLink="faqs">
            <i class="fa fa-question" aria-hidden="true"></i>
          </p>
        </li>

        <li class="d-inline circledarkblue">
          <p class="icon_top_menu mx-2" routerLink="user_notifications">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          </p>
        </li>

        <li class="d-inline circledarkblue">
          <p class="icon_top_menu mx-2" routerLink="employee_message">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
          </p>
        </li>
      </ul>
    </div>
    <!-- service.noLoginsidemenu -->
    <div *ngIf="service.noLogin" class="w-250px" onclick="closeNav()">
      <img src="assets/images/logoreal.png" class="mx-auto " style="width: 80%; margin-left: 10% !important;">

      <hr class="bg-white">

      <p class="text-white">
        <a routerLink="/home">{{'home' | translate}}</a>
      </p>
      <p class="text-white">
        <a routerLink="/how_it_work">{{'howitwork' | translate}}</a>
      </p>
      <p class="text-white">
        <a routerLink="/login">{{'login' | translate}}</a>
      </p>
      <p class="text-white">
        <a routerLink="/signup">{{'sign_up' | translate}}</a>
      </p>
      <p class="text-white">
        <a routerLink="/contact_us">{{'contactus' | translate}}</a>
      </p>
    </div>
    <!-- endsidebarnav -->


    <hr class="bg-white">

    <ul *ngIf="service.noLogin" onclick="closeNav()" class="navbar-nav ml-3">
      <li *ngFor="let commonHeaders of commonHeaders ; let i = index" class="nav-item" style="justify-content: left;">
        <a class="nav-link" routerLink="" data-toggle="modal" data-target="#Modalsearchcategorymenu">{{commonHeaders}}</a>
      </li>

      <li class="d-block d-sm-block d-md-none nav-item">
        <!-- <a class="nav-link" href="index.html">Marketing </a> -->

        <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong"> {{'all_categories' |
          translate}}</a>
      </li>
    </ul>

    <ul *ngIf="service.employer_login" class="navbar-nav ml-3" onclick="closeNav()">
      <li class="nav-item" style="justify-content: left !important;">
        <a class="nav-link" *ngIf="service.showMenu" routerLink="employer_home">{{'home' | translate}}</a>
      </li>



      <li class="nav-item" style="justify-content: left !important;" data-toggle="modal" data-target="#Modaladdjob">
        <a class="nav-link" *ngIf="service.showMenu" routerLink="">{{ 'postjob' | translate }}</a>
      </li>

      <li class="nav-item" style="justify-content: left !important;">
        <a class="nav-link" routerLink="my_jobs">{{'my_jobs' | translate}}</a>
      </li>
      <li class="nav-item" style="justify-content: left !important;">
        <a class="nav-link" routerLink="/employer_contracts">{{'contracts' | translate }}</a>
      </li>

      <li class="nav-item" style="justify-content: left !important;">

        <a *ngIf="service.showMenu" class="nav-link" routerLink="faqs"> {{'faqs' | translate}} </a>

      </li>
      <li class="nav-item" style="justify-content: left !important;">

        <a *ngIf="service.showMenu" class="nav-link" routerLink="disputes"> {{'disputes' | translate}} </a>

      </li>

      <li class="nav-item" style="justify-content: left !important;">
        <a style="justify-content: left !important;" class="nav-link" *ngIf="service.showMenu" routerLink="contact_us">
          {{'contactus' | translate}} </a>
      </li>



      <li class="d-block d-sm-block d-md-none nav-item" style="justify-content: left !important;">
        <!-- <a class="nav-link" href="index.html">Marketing </a> -->

        <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong"> {{'all_categories' |
          translate}}</a>
      </li>
    </ul>

    <ul *ngIf="service.employee_login" class="navbar-nav ml-3" onclick="closeNav()">
      <li class="nav-item" style="justify-content: left !important;">
        <a class="nav-link" *ngIf="service.showMenu" routerLink="employee_home">{{'home' | translate}}</a>
      </li>



      <li class="nav-item" style="justify-content: left !important;">
        <a class="nav-link" *ngIf="service.showMenu" routerLink="employee_joblist">
          {{'part_time _list' | translate}}
        </a>
      </li>

      <li class="nav-item" style="justify-content: left !important;">
        <a class="nav-link" *ngIf="service.showMenu" routerLink="employee_view_map">
          {{'part_time_map' | translate}}
        </a>
      </li>
      <li class="nav-item" style="justify-content: left !important;">
        <a class="nav-link" *ngIf="service.showMenu" routerLink="proposals">{{'proposals' | translate }}</a>
      </li>
      <li class="nav-item" style="justify-content: left !important;">
        <a class="nav-link" *ngIf="service.showMenu" routerLink="../completed_contracts">{{'contracts' | translate }}</a>
      </li>
      <li class="nav-item" style="justify-content: left !important;">

        <a *ngIf="service.showMenu" class="nav-link" routerLink="faqs"> FAQ </a>

      </li>
      <li class="nav-item" style="justify-content: left !important;">

        <a *ngIf="service.showMenu" class="nav-link" routerLink="disputes"> {{'disputes' | translate}} </a>

      </li>

      <li class="nav-item" style="justify-content: left !important;">
        <a style="justify-content: left !important;" class="nav-link" *ngIf="service.showMenu" routerLink="contact_us">
          {{'contactus' | translate}} </a>
      </li>

      <li class="d-block d-sm-block d-md-none nav-item" style="justify-content: left !important;">


        <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong">
          {{'all_categories' | translate}}

        </a>
      </li>
    </ul>
  </div>

  <div class="navbar navbar-expand-md bg-medium-blue d-block d-sm-block d-md-none">
    <span class="text-white ml-1" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  </div>
</div>