<footer class="bg-white" style="border-top: 4px solid #7a7a7a;">
  <!-- Page Content -->
  <a (click)="bodyscrolltop()"  id="return-to-top"> <i class="fa fa-chevron-up" aria-hidden="true"></i> </a>
  <div class="container-fluid ftr pt-3">
    <div class="page_w_90">
      <div class="row mt-4 mb-4">
        <div class="col-md-2">
          <h6>
            {{ 'informations' | translate }}
          </h6>

          <ul class="ml_font_size">
            <li>
              <a routerLink="/about_us">{{ 'aboutus' | translate }}</a>
            </li>

            <li>
              <a routerLink="terms">{{ 'terms' | translate }}</a>
            </li>

            <li>
              <a routerLink="privacy">{{ 'policy' | translate }}</a>
            </li>
            <li>
              <a routerLink="cookies"> {{'cookies' | translate}} </a>
            </li>


          </ul>
        </div>

        <div class="col-md-2">
          <span *ngIf="!service.isEmployerLogin()">
            <h6>{{'jobseekers' | translate }}</h6>

          <ul class="ml_font_size">
            <li *ngIf="service.noLogin" >
              <a routerLink="signup">
                {{ 'registernow' | translate}}
              </a>
            </li>

            <li>
              <a routerLink="employee_joblist">{{'searchjob' | translate}}</a>
            </li>

            <li *ngIf="!service.isEmployeeLogin()&&!service.isEmployerLogin">
              <a (click)="service.whoesLogin=1" routerLink="/login">{{'login' | translate}}</a>
            </li>

          </ul>
          </span>
         <span *ngIf="!service.isEmployeeLogin()" >
          <h6>{{'employer' | translate}}</h6>

          <ul class="ml_font_size">
            <li >
              <a  (click)="service.whoesLogin=0" routerLink="/login">{{"postjobs" | translate}}</a>
            </li>
            <li *ngIf="!service.isEmployeeLogin()&&!service.isEmployerLogin">
              <a (click)="service.whoesLogin=0" routerLink="/login">
                {{'login' | translate }}
              </a>
            </li>
          </ul>
         </span>

        
        </div>
        <div class="col-md-2">
            <h6>{{'support' | translate}}</h6>

            <ul class="ml_font_size">
              <li *ngIf="service.showMenu">
                <a  routerLink="contact_us">{{ 'contactus' | translate }}</a>
              </li>
   
              <li>
                <a routerLink="faqs">{{ 'faqs' | translate }}</a>
              </li>
   
              <li>
                <a routerLink="/plans_and_services">{{'plans' | translate}}</a>
              </li>
   
            </ul>
        </div>
       

        <div class="col-md-6">
          <div class="row">
          

            <div class="col-md-4" *ngIf="service.noLogin">

              <h6>
                {{'download_app' | translate}}
              </h6>

                <!-- <div class="d-inline-block ">
                 
                  <img style="width:50px;height:50px" class="mx-2" src="assets/images/play_store.png">
                </div>
                <div class="d-inline-block my-2">
                    <a href="" placement="left" [ngbTooltip]="tipContent1">
                        <ng-template #tipContent1>
      
                            <div class="d-inline-block ">
                                <img style="width:80px;height:80px" src="assets/images/employee_qr.png">
                              </div>
                            
                        </ng-template>
                    <h6> Employee </h6>
                    </a>
                    <a href="" placement="left" [ngbTooltip]="tipContent2">
                        <ng-template #tipContent2>
                              <div class="d-inline-block ">
                                  <img style="width:80px;height:80px" src="assets/images/employer_qr.png">
                              </div>
                        
                        </ng-template>
                    <h6> Employer </h6>
                    </a>
                </div> -->
              <a href="https://play.google.com/store/apps/details?id=com.up_part_time.jobportal"  target="_blank" placement="left" [ngbTooltip]="tipContent">
                <img src="assets/images/appstore.png" class="img-fluid">
                <ng-template #tipContent>
                    <div class="d-inline-block ">
                     
                        <img style="width:80px;height:80px" src="assets/images/employee_qr.png">
                      </div>
                     
                  <!-- <img style="width:80px;height:80px" src="https://chart.googleapis.com/chart?chs=100x100&amp;cht=qr&amp;chl=bit.ly/IKhs7o"> -->
                 

                </ng-template>
              </a>
             
              <a href="https://play.google.com/store/apps/details?id=com.up_part_time.jobportal" target="_blank" placement="left" [ngbTooltip]="tipContent4">
                <img src="assets/images/playstore.png" class="img-fluid">

                <ng-template #tipContent4>
                   
                      <div class="d-inline-block ">
                         
                          <img style="width:80px;height:80px" src="assets/images/employer_qr.png">
                      </div>
                  <!-- <img style="width:80px;height:80px" src="https://chart.googleapis.com/chart?chs=100x100&amp;cht=qr&amp;chl=bit.ly/IKhs7o"> -->
                 

                </ng-template>
               
              </a>
            </div>
            <div class="col-md-4" *ngIf="service.employee_login">
              <h6>
                {{'download_app' | translate}}
              </h6>
              <a href="https://play.google.com/store/apps/details?id=com.up_part_time.jobportal"  target="_blank" placement="left" [ngbTooltip]="tipContent">
                <img src="assets/images/appstore.png" class="img-fluid">
                <ng-template #tipContent>
                    <div class="d-inline-block ">
                     
                        <img style="width:80px;height:80px" src="assets/images/employee_qr.png">
                      </div>
                   
                </ng-template>
              </a>
             
              <a href="https://play.google.com/store/apps/details?id=com.up_part_time.jobportal" target="_blank" placement="left" [ngbTooltip]="tipContent4">
                <img src="assets/images/playstore.png" class="img-fluid">

                <ng-template #tipContent4>
                   
                      <div class="d-inline-block ">
                         
                          <img style="width:80px;height:80px" src="assets/images/employee_qr.png">
                      </div>
                
                </ng-template>
               
              </a>
            </div>
            <div class="col-md-4" *ngIf="service.employer_login">
              <h6>
                {{'download_app' | translate}}
              </h6>
              <a href="https://play.google.com/store/apps/details?id=com.babkrim.employer_job_portal" target="_blank" placement="left" [ngbTooltip]="tipContent">
                <img src="assets/images/appstore.png" class="img-fluid">
                <ng-template #tipContent>
                    <div class="d-inline-block ">
                     
                        <img style="width:80px;height:80px" src="assets/images/employer_qr.png">
                      </div>
                   
                </ng-template>
              </a>
             
              <a href="https://play.google.com/store/apps/details?id=com.babkrim.employer_job_portal" target="_blank" placement="left" [ngbTooltip]="tipContent4">
                <img src="assets/images/playstore.png" class="img-fluid">

                <ng-template #tipContent4>
                   
                      <div class="d-inline-block ">
                         
                          <img style="width:80px;height:80px" src="assets/images/employer_qr.png">
                      </div>
                
                </ng-template>
               
              </a>
            </div>
            
            <div class="col-md-8">
             

                <div id="fb-root"></div>
                <div class="fb-page" data-href="https://www.facebook.com/babkrim1/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/babkrim1/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/babkrim1/">Babkrim</a></blockquote></div> 
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /.row -->
    <!-- /.row -->
  </div>

  <!-- footerend -->
  <!-- /.container -->

  <div class="container-fluid">
    <hr>

    <p class="text-center text-secondary pb-2" style="margin-bottom: 0px;">
      {{'copyright' | translate}} &copy;{{'website' | translate}}
    </p>

    <!-- ---- -->
    <!-- -------- -->
  </div>
</footer>