<div class="msg_container_base">

  <div class="card pointer grp_chat_card ">

    <div (click)="setDefaultGroupValues()" class="card-body pointer">
      <div class="row">
        <div class="col-md-12 col-12">
          <h6 class="card-title">
            
            {{service.getStorage('groupChatGroupName').length > 15 ?
            service.getStorage('groupChatGroupName').slice(0,15)+'..':
            service.getStorage('groupChatGroupName') | titlecase}}
            <i class="fa fa-desktop" aria-hidden="true"></i></h6>
          <small>
            <p class="card-text">
              {{service.getStorage('groupChatGroupDescription').length > 50 ?
              service.getStorage('groupChatGroupDescription').slice(0,50)+'..':
              service.getStorage('groupChatGroupDescription') | titlecase}}
            </p>
          </small>


        </div>
        
      </div>

    </div>
  </div>


  <div (click)="setValues(val,1)" *ngFor="let val of ownGroup" class="card grp_chat_card pointer">

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h6 class="card-title">{{val.groupName.length > 15 ? val.groupName.slice(0,15)+'..':val.groupName |
            titlecase}}
            <i class="fa fa-shield" aria-hidden="true"></i></h6>
          <small>
            <p *ngIf=val.adminName class="card-text">Admin name :
              {{val.adminName.length > 15 ?val.adminName.slice(0,15)+'..':val.adminName | titlecase}}
            </p>
          </small>
          <small>Created on : {{service.convertDateToGmt(val.createdTime )}}</small>

        </div>

      </div>

    </div>
  </div>

  <div *ngFor="let val of joinedGroup" class="card grp_chat_card pointer">

    <div class="card-body bg_ash_light">
      <div class="row">
        <div *ngIf="val.status=='pending'" class="col-md-11">
          <h6 class="card-title">{{val.groupName.length > 15 ? val.groupName.slice(0,15)+'..':val.groupName |
            titlecase}} <i class="fa fa-ban" aria-hidden="true"></i> </h6>
          <small>
            <p class="card-text txt_ash_small">Status : {{val.status}} </p>
          </small>
          <small>
            <p class="card-text txt_ash_small">Requested on : {{val.joinedTime | date : 'dd MMM yyyy hh:mm a' : 'GMT'}}</p>
          </small>


        </div>
        <div (click)="setValues(val,0)" *ngIf="val.status!='pending'" class="col-md-11">
          <h6 class="card-title">{{val.groupName.length > 15 ? val.groupName.slice(0,15)+'..':val.groupName |
            titlecase}} <i class="fa fa-check" aria-hidden="true"></i> </h6>
          <small>
            <p class="card-text txt_ash_small">Created on: {{val.joinedTime | date : 'dd MMM yyyy hh:mm a' : 'GMT'}}
            </p>
          </small>
          <small>
            <p *ngIf=val.adminName class="card-text txt_ash_small">Admin name :
              {{val.adminName.length > 15 ?val.adminName.slice(0,15)+'..':val.adminName | titlecase}}
            </p>
          </small>


        </div>
        <div class="col-md-1">


        </div>
      </div>

    </div>
  </div>


</div>