<div class="col-md-12">
  <div class="row  topsubmenu1">

    
    <div class="col-md-4  fafa_blue">
      <p class="text-left">
        <i class="fa fa-hourglass-start" aria-hidden="true"></i>
        {{'starting_time' | translate}} : {{ service.formatTimezone(val.fromTime ) }}


      </p>
    </div>

    <div class="col-md-4 fafa_blue">
      <p class="text-left">
        <i class="fa fa-hourglass-end" aria-hidden="true"></i>

        {{'ending_time' | translate}} : {{ service.formatTimezone(val.toTime ) }}
      </p>
    </div>



    <div class="col-md-4 fafa_blue">
      <p class="text-left">
        <i class="fa fa-money" aria-hidden="true"></i>

        {{'wagemode' | translate}} : {{(val.wageMode ? val.wageMode  : val.jobDetails.wageMode) | translate | titlecase }}&nbsp;
      </p>
    </div>

    <div class="col-md-4 fafa_blue">
      <p class="text-left">
        <i class="fa fa-money" aria-hidden="true"></i>

        <span *ngIf="val.wageMode=='hourly'"> {{'hourly_fair' | translate}} : {{ returnFloat(val.hourlyWages ? val.hourlyWages :
          val.hourlyWage) | number : '1.2-2'}}&nbsp;{{val.currency}} / {{'hr' | translate}}</span>
        <span *ngIf="val.wageMode=='fixed'"> {{'fixedfair' | translate}} : {{returnFloat(val.fixedWage ? val.fixedWage :
         0)| number : '1.2-2'}}&nbsp;{{val.currency}}</span>
      </p>
    </div>

    <div class="col-md-4 fafa_blue">
      <p class="text-left">
        <i class="fa fa-user" aria-hidden="true"></i>

        {{'gender' | translate}} : {{val.gender | translate}}
      </p>
    </div>

    <div class="col-md-4 fafa_blue">
      <p class="text-left">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>

        {{'age' | translate}} :
        <span *ngIf="val.minAge!=0 && val.maxAge!=0 && val.minAge!= val.maxAge">{{val.minAge}}&nbsp;-
          {{val.maxAge}}&nbsp;{{'years' | translate}}</span>
        <span *ngIf="val.minAge!=0 && val.maxAge!=0 && val.minAge== val.maxAge">
          {{val.maxAge}}&nbsp;{{'years' | translate}}</span>
        <span *ngIf="val.minAge==0 && val.maxAge ==0">{{'any' | translate}}</span>
      </p>
    </div>


    <div class="col-md-4 fafa_blue">
      <p class="text-left">
        <i class="fa fa-users" aria-hidden="true"></i>

        {{'no_worker' | translate}} : {{val.noOfVacancy ?val.noOfVacancy : val.noOfVacancies }}
      </p>
    </div>
  
    
    <div *ngIf="employerDetails && service.isEmployeeLogin()" class="col-md-4 fafa_blue">
      <p class="text-left">
        <i class="fa fa-money" aria-hidden="true"></i>
        {{'money_spent' | translate}} :
      
        <b> {{employerDetails.amountSpend ? employerDetails.amountSpend :0}}</b> {{'defaultcurrency' | translate}}
      </p>
    </div>

    <div class="col-md-4 fafa_blue">
        <p class="text-left"> <i class="fa fa-industry " aria-hidden="true"></i> {{'functional_area' | translate}} :
          {{val.category}} </p>
      </div>
    <div class="col-md-4 fafa_blue">
      <p class="text-left"> <i class="fa fa-tasks" aria-hidden="true"></i> {{'industry_type' | translate}} :
        {{val.subCategory}} </p>
    </div>
    <!-------JOB mode removed on 13-03-2019 informed by Pinky---->
    <!---------JOB mode added on 16-03 informed by jamsheer--------------->
    <div class="col-md-4 fafa_blue"  *ngIf="val.jobMode">
      <p class="text-left"> <i class="fa fa-code-fork " aria-hidden="true"></i> {{'jobmode' | translate}} :
       {{(val.jobMode=='onsite'?'onsite':'online') | translate | titlecase }} </p>
    </div>
   
    
  </div>

  <div class="row p-2">
    <!-- <div class="col-md-12  float-right fafa_blue"> -->
        <div *ngIf="showRating==1 && !status" class="col-md-6 float-right  fafa_blue text-left">
            <span *ngIf=val.employerDetails class="starrate_btn text-left">
              <ngb-rating [(rate)]="val.employerDetails.rating/val.employerDetails.ratingCount">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100" [class.bad]="index < val.employerDetails.rating/val.employerDetails.ratingCount">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <span class="mx-1 text-left">({{val.employerDetails.ratingCount}} {{'reviews' | translate}})</span>
      
            </span>
  
          </div>
          <div *ngIf="status" class="col-md-6 float-right fafa_blue text-left">
              <p>
                  {{'status' | translate}} : <span class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">{{status | titlecase}}</span>          
              </p>
          </div>
         
          <div class="col-md-6 fafa_blue mt-2 ml-auto" >
              <p class="text-right mr-3 ">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;
                 <i>{{'jobpostedon' | translate}} : {{ service.convertDateToGmt(val.createdAt) | timeAgo  }}</i> 
            
            
                </p>
          </div>
     
  </div>
</div>

