<!-- filtermodal -->

<!-- end filter modal -->

<div class="mysidebutton d-block d-sm-none">
  <button
    class="btn filterbtn"
    data-toggle="modal"
    data-target="#filtermodalmap"
  >
    <img src="assets/images/filterw.png" style="width: 18px;" />
  </button>
</div>
<div class="container-fluid mt100 pb-5" style="background-color: #fff;">
  <div class="page_w_90">
    <!-- iconrow -->

    <div class="row m_top">
      <div class="col-md-12 mx-auto mt-2">
        <h4 class="text-center text_heading">
          {{ "jobs_near_me" | translate }}
          <!-- <button class=" btn_alkafu float-right  "  routerLink="/employee_joblist" >
               {{"listview" | translate}} </button> -->
        </h4>
        <p class="text-center">
          {{ "selectjobsnearyou" | translate }}
        </p>

        <div class="row padding_r0">
          <div class="col-md-2  my-auto text-center ml-auto">
            <button
              class=" accept_icon my-2 my-sm-0 text-center ml-auto w-100 "
              routerLink="/employee_joblist"
            >
              <i class="fa fa-map-o" aria-hidden="true"></i> &nbsp;
              {{ "listview" | translate }}
            </button>
          </div>
          <div class="col-md-2  my-auto text-center d-none d-sm-block ">
            <button
              class="w-100 ml-auto btn_alkafu text-center "
              data-toggle="collapse"
              data-target="#demo9"
            >
              <a class="">
                <img src="assets/images/filterw.png" style="width: 14px;" />
                &nbsp; {{ "filters" | translate }}
              </a>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12 bg-white b_shadow">
        <div class="w-100   collapse px-2 py-2" id="demo9">
          <app-filter></app-filter>
        </div>
      </div>

      <div
        class="col-md-12 mainheading text-center text-md-left   mx-auto bg-white"
      >
        <span
          class=""
          onclick="openNavmap()"
          class="iconstyle_map d-none d-sm-block rotate180 leftpopbtn"
        >
          <!-- &#9776; --><i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>

        <div
          class="mapcardfilter d-none d-sm-block"
          style="border:none !important ; border-left: 1px solid #ccc !important;"
        >
          <div id="mySidenavmap" class="sidenavmap">
            <!-- &times; -->

            <div class="" style="overflow-y: scroll; height: 68vh;">
              <div class="container-fluid">
                <div class="row">
                  <span
                    ><a
                      href="javascript:void(0)"
                      id="close_btn_filterab"
                      class="closebtn iconstyle_map"
                      onclick="closeNavmap()"
                    >
                      <i
                        class="fa fa-chevron-left rotate180"
                        aria-hidden="true"
                      ></i></a></span
                  ><br />

                  <div class="col-md-12">
                    <div class="filter_side" style="width: 295px;">
                      <span class="text-white"></span>
                      <app-side-barfilter
                        [shadowClass]="1"
                      ></app-side-barfilter>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="map_card_right">
          <div class="row">
            <div
              (mouseover)="mouseoverEvent(m, i)"
              *ngFor="let m of service.markers; let i = index"
              class="col-md-12 my-1"
            >
              <div class="container-fluid " class="right_card_ab">
                <div class="row p-3">
                  <div class="col-md-9 col-9 py-3">
                    <p
                      class="text-left text_blue text-uppercase font-weight-bold"
                    >
                      {{ m.jobTitle | titlecase }}
                    </p>

                    <p>
                      <i aria-hidden="true" class="fa fa-building-o"></i> &nbsp;
                      {{
                        (m.companyName.length > 15
                          ? m.companyName.slice(0, 15) + "..."
                          : m.companyName) | titlecase
                      }}
                    </p>
                    <p>
                      <i aria-hidden="true" class="fa fa-list-alt"></i> &nbsp;
                      {{
                        (m.category.length > 15
                          ? m.category.slice(0, 15) + "..."
                          : m.category) | titlecase
                      }}
                    </p>
                    <p *ngIf="m.subCategory">
                      <i aria-hidden="true" class="fa fa-list-ul"></i> &nbsp;
                      {{ m.subCategory }}
                    </p>
                    <p>
                      <ngb-rating
                        [(rate)]="
                          m.allDetails.employerDetails.rating /
                          m.allDetails.employerDetails.ratingCount
                        "
                      >
                        <ng-template let-fill="fill" let-index="index">
                          <span
                            class="star"
                            [class.filled]="fill === 100"
                            [class.bad]="
                              index <
                              m.allDetails.employerDetails.rating /
                                m.allDetails.employerDetails.ratingCount
                            "
                            >&#9733;</span
                          >
                        </ng-template>
                      </ngb-rating>
                    </p>
                  </div>
                  <div class="col-md-3 col-3 py-3">
                    <img
                      class="img-fluid d_ar_none"
                      *ngIf="m.allDetails.jobPostType != 'non-urgent'"
                      src="assets/images/urgent128.png"
                    />
                    <img
                    class="img-fluid d_ar_block"
                    *ngIf="m.allDetails.jobPostType != 'non-urgent'"
                    src="assets/images/urgent128ar.png"
                  />
                    
                  </div>
                  <div class="col-md-6  ">
                    <div class="container-fluid">
                      <div class="row mapRate">
                        <div class="col-md-4 pr-0  col-5">
                          <img
                            class="img-fluid"
                            style="width: 20px"
                            src="assets/images/hr_tag_white.png"
                          />
                        </div>
                        <div class="col-md-8 pl-0 col-7">
                          <span *ngIf="m.allDetails.wageMode == 'hourly'">
                            {{ m.allDetails.hourlyWages }}
                            {{ "defaultcurrency" | translate }}&nbsp;{{
                              "hr" | translate
                            }}
                          </span>
                          <span *ngIf="m.allDetails.wageMode != 'hourly'"
                            >{{ m.allDetails.fixedWage }}&nbsp;{{
                              "defaultcurrency" | translate
                            }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- {{m | jason}} -->
                  <div class="col-md-6">
                    <span
                      (click)="viewMore(m.allDetails)"
                      class="text_gray pointer"
                      >{{ "viewmore" | translate }}&nbsp;>></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card  mt-1 pt-2 px-2">
          <agm-map
            style="height: 75vh;"
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            (zoomChange)="zoomEvent($event)"
            [disableDefaultUI]="false"
            [zoomControl]="false"
            [styles]="service.mapStyle"
          >
            <span *ngIf="zoom >= 14">
              <agm-marker
                *ngFor="let m of service.markers; let i = index"
                [iconUrl]="m.jobPostType == 'urgent' ? urgentIcon : currentIcon"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
                [markerDraggable]="m.draggable"
              >
                <agm-info-window [isOpen]="m.isOpen">
                  <div class="container-fluid " style="width: 250px;">
                    <div class="row py-2">
                      <div class="col-md-9 col-9 py-3">
                        <p
                          class="text-left text_blue text-uppercase font-weight-bold"
                        >
                          {{ m.jobTitle | titlecase}}
                        </p>

                        <p>
                          <i aria-hidden="true" class="fa fa-building-o"></i>
                          &nbsp;
                          {{
                            (m.companyName.length > 15
                              ? m.companyName.slice(0, 15) + "..."
                              : m.companyName) | titlecase
                          }}
                        </p>
                        <p>
                          <i aria-hidden="true" class="fa fa-list-alt"></i>
                          &nbsp;
                          {{
                            (m.category.length > 15
                              ? m.category.slice(0, 15) + "..."
                              : m.category) | titlecase
                          }}
                        </p>
                        <p *ngIf="m.allDetails.subCategory">
                          <i aria-hidden="true" class="fa fa-list-ul"></i>
                          &nbsp; {{ m.allDetails.subCategory }}
                        </p>
                        <p>
                          <ngb-rating
                            [(rate)]="
                              m.allDetails.employerDetails.rating /
                              m.allDetails.employerDetails.ratingCount
                            "
                          >
                            <ng-template let-fill="fill" let-index="index">
                              <span
                                class="star"
                                [class.filled]="fill === 100"
                                [class.bad]="
                                  index <
                                  m.allDetails.employerDetails.rating /
                                    m.allDetails.employerDetails.ratingCount
                                "
                                >&#9733;</span
                              >
                            </ng-template>
                          </ngb-rating>
                        </p>
                      </div>
                      <div class="col-md-3 col-3 py-3">
                        <img
                          class="img-fluid d_ar_none"
                          *ngIf="m.allDetails.jobPostType != 'non-urgent'"
                          src="assets/images/urgent128.png"
                        />
                      <img
                      class="img-fluid d_ar_block"
                      *ngIf="m.allDetails.jobPostType != 'non-urgent'"
                      src="assets/images/urgent128ar.png"
                    />
                      </div>
                      <div class="col-md-6 ">
                        <div class="row mapRate">
                          <div class="col-md-4 pr-0  col-5">
                            <img
                              class="img-fluid"
                              style="width: 20px"
                              src="assets/images/hr_tag_white.png"
                            />
                          </div>
                          <div class="col-md-8 pl-0 col-7">
                            <span *ngIf="m.allDetails.wageMode == 'hourly'">
                              {{ m.allDetails.hourlyWages }}
                              {{ "defaultcurrency" | translate }}&nbsp;{{
                                "hr" | translate
                              }}
                            </span>
                            <span *ngIf="m.allDetails.wageMode != 'hourly'"
                              >{{ m.allDetails.fixedWage }}&nbsp;{{
                                "defaultcurrency" | translate
                              }}</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <span
                          (click)="viewMore(m.allDetails)"
                          class="text_gray pointer"
                          >{{ "viewmore" | translate }}&nbsp;>></span
                        >
                      </div>
                    </div>
                  </div>
                </agm-info-window>
              </agm-marker>
            </span>
            <agm-marker-cluster
              *ngIf="zoom < 14"
              [imagePath]="
                'https://googlemaps.github.io/js-marker-clusterer/images/m'
              "
            >
              <agm-marker
                *ngFor="let m of service.markers; let i = index"
                [iconUrl]="m.jobPostType == 'urgent' ? urgentIcon : currentIcon"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
                [markerDraggable]="m.draggable"
              >
                <agm-info-window>
                  <div class="container-fluid " style="width: 250px;">
                    <div class="row py-2">
                      <div class="col-md-9 col-9 py-3">
                        <p
                          class="text-left text_blue text-uppercase font-weight-bold"
                        >
                          {{ m.jobTitle | titlecase}}
                        </p>

                        <p>
                          <i aria-hidden="true" class="fa fa-building-o"></i>
                          &nbsp;
                          {{
                            (m.companyName.length > 15
                              ? m.companyName.slice(0, 15) + "..."
                              : m.companyName) | titlecase
                          }}
                        </p>
                        <p>
                          <i aria-hidden="true" class="fa fa-list-alt"></i>
                          &nbsp;
                          {{
                            (m.category.length > 15
                              ? m.category.slice(0, 15) + "..."
                              : m.category) | titlecase
                          }}
                        </p>
                        <p *ngIf="m.subCategory">
                          <i aria-hidden="true" class="fa fa-list-ul"></i>
                          &nbsp; {{ m.subCategory }}
                        </p>
                        <p>
                          <ngb-rating
                            [(rate)]="
                              m.allDetails.employerDetails.rating /
                              m.allDetails.employerDetails.ratingCount
                            "
                          >
                            <ng-template let-fill="fill" let-index="index">
                              <span
                                class="star"
                                [class.filled]="fill === 100"
                                [class.bad]="
                                  index <
                                  m.allDetails.employerDetails.rating /
                                    m.allDetails.employerDetails.ratingCount
                                "
                                >&#9733;</span
                              >
                            </ng-template>
                          </ngb-rating>
                        </p>
                      </div>
                      <div class="col-md-3 col-3 py-3">
                        <img
                          class="img-fluid d_ar_none"
                          *ngIf="m.allDetails.jobPostType != 'non-urgent'"
                          src="assets/images/urgent128.png"
                        />
                        <img
                        class="img-fluid d_ar_block"
                        *ngIf="m.allDetails.jobPostType != 'non-urgent'"
                        src="assets/images/urgent128ar.png"
                      />

                      </div>

                      <div class="col-md-6 ">
                        <div class="row mapRate">
                          <div class="col-md-4 pr-0  col-5">
                            <img
                              class="img-fluid"
                              style="width: 20px"
                              src="assets/images/hr_tag_white.png"
                            />
                          </div>
                          <div class="col-md-8 pl-0 col-7">
                            <span *ngIf="m.allDetails.wageMode == 'hourly'">
                              {{ m.allDetails.hourlyWages }}
                              {{ "defaultcurrency" | translate }}&nbsp;{{
                                "hr" | translate
                              }}
                            </span>
                            <span *ngIf="m.allDetails.wageMode != 'hourly'"
                              >{{ m.allDetails.fixedWage }}&nbsp;{{
                                "defaultcurrency" | translate
                              }}</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <span
                          (click)="viewMore(m.allDetails)"
                          class="text_gray pointer"
                          >{{ "viewmore" | translate }}&nbsp;>></span
                        >
                      </div>
                    </div>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-marker-cluster>
          </agm-map>
          <app-group-chat></app-group-chat>

          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente
              ea proident.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>

<div class="container-fluid">
  <!-- <hr> -->
</div>

<div
  class="modal fade w-100"
  id="filtermodalmap"
  aria-labelledby="mapModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue text-left ">
        <span class="modal-title text-white " id="mapModalLabel">
          <b> {{ "filters" | translate }} </b>
        </span>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid  mt-4">
          <div class="row">
            <div class="col-md-12">
              <app-sidebarfiltermobile></app-sidebarfiltermobile>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
