.filter_side > .card{
    border: none !important;
}

.map_card_right{
    position: absolute;
    width: 310px;
    background-color: transparent;
    /* right: 20px; */
    z-index: 10;
    overflow-y: scroll;
    height: 76vh;
    top: 14px;
}
.right_card_ab{
    width: 300px;background-color: #fff;border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
}