<!-- filtermodal -->
<!-- <ng4-loading-spinner [timeout]="90000"> </ng4-loading-spinner> -->

<div class="container-fluid">
  <!-- iconrow -->

  <!-- <div class="mysidebutton d-block d-sm-none">
    <button class="btn filterbtn" data-toggle="collapse" data-target="#demo9">
      <img src="assets/images/filterw.png" style="width: 18px;">
    </button>
  </div> -->

  <div
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()"
    class="row"
  >
    <div
      class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto"
    >
      <div class="container mt-4">
        <div class="row bg-white">
          <div class="col-md-12 mb-4">
            <div class="row">
              <div class="col-md-12 mx-auto pt-1 mb-2">
                <h4 class="text-center bg-white pt-2 pb-2 text_heading">
                  {{ "Job_announced _our" | translate }}
                </h4>
              </div>

              <div class="col-md-11 col-10 mx-auto shadow   my-2">
                <div class="">
                  <div class="cards py-2">
                    <div class="row  my-1 bg-light">
                      <div class="col-md-7 bg-light pb-1">
                        <div class="search-container ">
                          <form
                            action="/action_page.php"
                            class=" rtl_w_300 ml-rtl_auto"
                          >
                            <input
                              type="text"
                              placeholder="{{'search' | translate}}"
                              name="search"
                              [(ngModel)]="searchText"
                              class=""
                            />

                            <button type="submit ">
                              <i class="fa fa-search"></i>
                            </button>
                          </form>
                        </div>
                      </div>

                      <!-- <div class="col-md-2 d-none d-sm-block  ml-auto mt-2 bg-light pb-1">
                        <button class="btn btn_alkafu mt-1 ml-1 text-center" data-toggle="collapse" data-target="#demo9">
                          <a class="">
                            <img src="assets/images/filterw.png" style="width: 18px;"> {{'filters' | translate}}
                          </a>
                        </button>
                      </div> -->
                      <div
                        class="col-md-2 mx-auto my-auto text-center"
                        *ngIf="!buttonShow"
                      >
                        <button
                          data-dismiss="modal"
                          data-target="#Modaladdjob"
                          data-toggle="modal"
                          (click)="
                            service.setStorage(
                              'employeeId',
                              service.getStorage('employeeTempId')
                            )
                          "
                          aria-label="Close"
                          class="btn accept_icon  my-2 text-center"
                        >
                          {{ "createNewJob" | translate }}
                        </button>
                      </div>
                      <div class="col-md-12 bg-light b_shadow">
                        <div class="w-100   collapse px-2 py-2" id="demo9">
                          <app-employer-filter></app-employer-filter>
                        </div>
                      </div>

                      <div class="col-md-12  bg-white">
                        <!-- <div *ngIf="service.loader " class="col-md-1 col-3 mx-auto my-auto"><img class="img-fluid" src="assets/images/loaderinput.gif"></div> -->

                        <div
                          id="myjobs"
                          *ngFor="
                            let val of (myJobs | filter: searchText);
                            let i = index
                          "
                          class="m-4"
                        >
                          <!-- For loop start -->

                          <div
                            *ngIf="
                              showClosedJob ? 1 : val.status == 'Active' ? 1 : 0
                            "
                            [class]="
                              val.status == 'Active'
                                ? 'row px-3 bx_shadow p-3 '
                                : 'row px-3 bx_shadow p-3 bg_darklight'
                            "
                          >
                            <span class="btn_edit_ab pointer">
                              <!-- <i class="fa fa-pencil-square " aria-hidden="true"></i> -->

                              <div
                                *ngIf="
                                  val.status == 'Active' && this.buttonShow
                                "
                                class="dropdown show"
                              >
                                <a
                                  class="btn accept_edit dropdown-toggle"
                                  id="dropdownMenuLink"
                                  data-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                >
                                </a>
                                <div
                                  class="dropdown-menu dropdown-menu-right"
                                  aria-labelledby="dropdownMenuLink"
                                >
                                  <a
                                    class="dropdown-item"
                                    *ngIf="
                                      val.status == 'Active' &&
                                      val.summary.proposalCount == 0
                                    "
                                    (click)="editJob(val)"
                                    >{{'edit' | translate}}</a
                                  >
                                  <a
                                    class="dropdown-item"
                                    *ngIf="endJobFlag == 1"
                                    disabled
                                  >
                                    {{ "close_job" | translate }}
                                  </a>
                                  <a
                                    class="dropdown-item"
                                    (click)="jobid = val.jobId"
                                    *ngIf="
                                      endJobFlag == 0 &&
                                      val.status != 'Complete'
                                    "
                                    [swal]="deleteSwal"
                                  >
                                    {{ "close_job" | translate }}
                                  </a>

                                  <!-- <a class="dropdown-item"  *ngIf="val.jobPostType=='urgent'" (click)="this.service.setStorage('tempJobId',val.jobId);this.service.setStorage('lat',val.latitude);this.service.setStorage('lng',val.longitude);" routerLink="/urgentjobmap" >  {{'map_view' | translate}} </a> -->
                                </div>
                              </div>
                            </span>

                            <div
                              class="col-md-9 pointer"
                              (click)="viewJobDetails(val)"
                            >
                              <h5 class="text_blue">
                                {{ service.transform(val.jobTitle) }}
                              </h5>

                              <p class="text-justify">
                                {{ service.transform(val.jobDescription) }}
                              </p>

                              <div class="row mt-2">
                                <div class="col-md-6 pb-2 pt-2">
                                  <ul class="view_applicantdetails">
                                    <li>
                                      <p
                                        [style.font-size]="
                                          !buttonShow ? '15px' : ''
                                        "
                                      >
                                        {{ "starting" | translate }} :
                                        {{ val.fromDate | date: "dd MMM yyyy" }}
                                      </p>
                                    </li>

                                    <li>
                                      <p
                                        [style.font-size]="
                                          !buttonShow ? '15px' : ''
                                        "
                                      >
                                        {{ "from_time" | translate }} :
                                        {{
                                          service.formatTimezone(val.fromTime)
                                        }}
                                      </p>
                                    </li>
                                    <li>
                                      <p
                                        [style.font-size]="
                                          !buttonShow ? '15px' : ''
                                        "
                                      >
                                        {{ "to_time" | translate }} :
                                        {{ service.formatTimezone(val.toTime) }}
                                      </p>
                                    </li>
                                  </ul>
                                </div>

                                <!-- routerLink="/all_employee_list/{{val.jobId}}/{{val.categoryId}}" -->
                                <div class="col-md-3 pb-2 pt-2 hover_style">
                                  <p
                                    [style.font-size]="
                                      !buttonShow ? '15px' : ''
                                    "
                                    class="mt-0  text-center"
                                  >
                                    {{ "proposals" | translate }}
                                  </p>

                                  <p
                                    [style.font-size]="
                                      !buttonShow ? '15px' : ''
                                    "
                                    class="mt-0 text-center"
                                  >
                                    <small>
                                      <b>{{ val.summary.proposalCount }}</b>
                                    </small>
                                  </p>
                                </div>

                                <!-- <div class="col-md-2 pb-2 pt-2">
                                      <p class="mt-0  text-center">{{'message' | translate }}</p>
        
                                      <p class="mt-0 text-center">
                                        <small>
                                          <b>0</b>
                                        </small>
                                      </p>
                                    </div> -->

                                <div class="col-md-3 pb-2 pt-2">
                                  <p
                                    [style.font-size]="
                                      !buttonShow ? '15px' : ''
                                    "
                                    class="mt-0  text-center"
                                  >
                                    {{ "hired" | translate }}
                                  </p>

                                  <p
                                    [style.font-size]="
                                      !buttonShow ? '15px' : ''
                                    "
                                    class="mt-0 text-center"
                                  >
                                    <small>
                                      <b
                                        >{{ val.summary.hiredCount }}/{{
                                          val.summary.totalVacancy
                                        }}</b
                                      >
                                    </small>
                                  </p>
                                </div>

                                <div class="col-md-12"></div>
                              </div>
                            </div>

                            <div
                              class="col-md-3 mx-auto my-auto text-center"
                              *ngIf="buttonShow"
                            >
                              <button
                                class="btn btn_alkafu  my-2"
                                (click)="viewJobDetails(val)"
                                routerLink="/all_employee_list/{{
                                  val.jobId
                                }}/{{ val.categoryId }}"
                              >
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                {{ "view" | translate }}
                              </button>
                              <br />

                              <!-- <button class=" btn accept_icon  my-2 " (click)="jobid=val.jobId" *ngIf="endJobFlag==0 && val.status!='Complete'" [swal]="deleteSwal">
                                  <i class="fa fa-times-circle-o" aria-hidden="true"></i>     {{'close_job' | translate}} </button> -->

                              <!-- <button class="btn accept_icon  my-2" *ngIf="endJobFlag==1" disabled>
                                      <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                      <i class="fa fa-times-circle-o" aria-hidden="true"></i>  {{'close_job' | translate}} </button> -->

                              <button
                                class="btn accept_icon  my-2"
                                *ngIf="
                                  val.jobPostType == 'urgent' &&
                                  val.status == 'Active'
                                "
                                (click)="
                                  this.service.setStorage(
                                    'tempJobId',
                                    val.jobId
                                  );
                                  this.service.setStorage('lat', val.latitude);
                                  this.service.setStorage('lng', val.longitude)
                                "
                                routerLink="/urgentjobmap"
                              >
                                <i
                                  class="fa fa-map-marker"
                                  aria-hidden="true"
                                ></i>
                                {{ "map_view" | translate }}
                              </button>
                              <br
                                *ngIf="
                                  endJobFlag == 0 && val.status != 'Complete'
                                "
                              />
                            </div>

                            <div
                              class="col-md-3 mx-auto my-auto text-center"
                              *ngIf="!buttonShow"
                            >
                              <button
                                (click)="inviteToJob(val.jobId)"
                                class="btn accept_icon  my-2"
                              >
                                {{ "invitetothisjob" | translate }}
                              </button>
                            </div>

                            <div class="col-md-6">
                              <p class=" float-left">
                                {{ "status" | translate }} :
                                <span
                                  class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded"
                                  >{{ (val.status) | translate | titlecase }}</span
                                >
                              </p>
                            </div>
                            <div class="col-md-6 ">
                              <p class="float-right1">
                                {{ "job_type" | translate }}
                                <span
                                  class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded"
                                >
                                  {{
                                    (val.jobPostType == "non-urgent"
                                      ? "non_urgent"
                                      : "urgent") | translate | titlecase
                                  }}</span
                                >
                              </p>
                            </div>
                          </div>
                        </div>

                        <app-norocordsfound
                          *ngIf="
                            myJobs.length == 0 && !service.loader && buttonShow
                          "
                        ></app-norocordsfound>
                        <div
                          *ngIf="
                            myJobs.length == 0 && !service.loader && !buttonShow
                          "
                          class="row"
                        >
                          <div class="col-md-5"></div>
                          <div class="col-md-2">
                            <img src="assets/images/loader.gif" alt="" />
                          </div>
                          <div class="col-md-5"></div>
                        </div>
                        <!-- For loop Ends -->
                      </div>
                      <app-lazyloader *ngIf="service.loader"></app-lazyloader>
                      <!-- <div class="col-md-12">
                          <p *ngIf="myJobs.length !=0 && !service.loader " class="float-right">
                              <span *ngIf=" pageCount!=0" (click)="pageNo=pageNo+1;getAllJobOfEmployer(pageNo)" class="pointer">
                                {{'viewmore' | translate}}
                              </span>
                            </p>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- </div>
                                <div class="row"> -->
        </div>

        <!-- row -->
      </div>

      <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                   </div> -->
    </div>

    <!-- end iconrow -->
  </div>
</div>
<swal
  #deleteSwal
  [title]="title | translate"
  [text]="text | translate"
  type="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="endJob()"
>
</swal>
