<app-smart-table (customEvent)="customEvent($event)" [tableSetting]=settings  [tableData]=this.variable.contactUsList></app-smart-table>
<li class="d-none" *ngFor="let item of variable.contactUsList | paginate: { itemsPerPage: 50, currentPage: p, totalItems: variable.contactUsList.length }"></li>
<pagination-controls (pageChange)="this.variable.pageNo = $event; this.api.getContactDetails()"></pagination-controls>
