<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container mt-4">
        <div class="row ">
          <div class="col-md-12 my-3">
            <div class="row my-1">


              <div class="col-md-8 col-10 mx-auto p-3 ">
                <div class="card shadow" style=" margin: auto;">
                  <div class="card-body py-2 mt-2">


                    <div class="row tab-content mt-1 mb-4 ">
                      <div class="col-md-12  bg-white ">
                        <h5 class="text_heading text-center"> {{'contactus' | translate}} </h5>

                        <div class="form-area">
                          <!-- <form role="form"> -->
                          <br style="clear:both">

                          <div class="form-group">
                            <input type="text" class="form-control" maxlength=50 [(ngModel)]="name" id="name" name="name"
                              placeholder=" {{'name' | translate}} {{'required' | translate}}" required>
                            <span class="danger" *ngIf="buttonClick==1 && !name">
                              {{validationMsg.level1FullnameInvalid}}</span>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="email" maxlength=50 [(ngModel)]="email" name="email"
                              placeholder="{{'email' | translate}} {{'required' | translate}}" required>
                            <span class="danger" *ngIf="buttonClick==1 && emailValid==false ">
                              {{validationMsg.level1EmailInvalid}}</span>

                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" (keydown)="service.validateInputKey($event)" id="mobile"
                              maxlength=10 name="mobile" [(ngModel)]="mobile" placeholder="{{'mobile_no' | translate}} {{'required' | translate}}"
                              required>
                            <span class="danger" *ngIf="buttonClick==1 && !mobile ||  (buttonClick==1 && mobile.length!=10)"> 
                              {{validationMsg.invalidMobile}}

                            </span>
                            <!-- <p class="danger" *ngIf="buttonClick==1 && mobile.length<11"> {{validationMsg.invalidMobile}} -->
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="subject" maxlength=100 name="subject"
                              [(ngModel)]="subject" placeholder="{{'subject' | translate}} {{'required' | translate}}"
                              required>
                            <span class="danger" *ngIf="buttonClick==1 && !subject"> {{validationMsg.required}}</span>

                          </div>
                          <div class="form-group">
                            <textarea class="form-control" [(ngModel)]="message" type="textarea" id="message" maxlength=""
                              placeholder="{{'contactmessage' | translate}} {{'required' | translate}}" maxlength="1500"
                              rows="7"></textarea>
                            <span *ngIf=message>{{1500-message.length}}&nbsp;{{'left' | translate}}</span>
                            <span class="danger" *ngIf="buttonClick==1 && !message"> {{validationMsg.required}}</span>

                          </div>

                          <button type="button" id="submit" (click)="contactUs()" name="submit" class="btn btn_alkafu pull-right">
                            {{'send'
                            | translate}} </button>
                          <!-- </form> -->
                        </div>









                      </div>



                    </div>
                  </div>



                </div>
              </div>

              <div class="col-md-4  py-3 px-3">
                <div class="card py-3 px-3 shadow">
                  <h5 class="yellow_bg_text text-center"> {{'faqs' | translate }}</h5>
                  <p>
                    <b class="text-left">{{'how_to_find_job' | translate}}</b>
                  </p>

                  <p class="text-justify">
                    {{'faq_long4' | translate}}
                  </p>





                  <p>
                    <b class="text-left"> {{'What is Up part-time?' | translate}} </b>
                  </p>

                  <p class="text-justify">
                    {{'What is Up part-time_ans' | translate}}
                  </p>

                </div>
              </div>




            </div>
          </div>





          <!-- </div>
                                  <div class="row"> -->
        </div>

        <!-- row -->
      </div>

      <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                     </div> -->
    </div>

    <!-- end iconrow -->
  </div>
</div>