<div class="container-fluid">
    <div class="row">
      <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
        <div class="container mt-4">
          <div class="row bg-white">
            <div class="col-md-12 mb-4">
              <div class="row">
               
  
                <div class="col-md-11 col-10 mx-auto shadow  my-1">
                  <div class="">
                    <div class="cards py-2">
                     
  
                      <div class="row tab-content mt-5 mb-4">
                        <div
                          class="col-md-12 tab-pane bg-white active"
                       
                          role="tabpanel"
                        >
                          <h5 class="text_heading text-center"> {{'dispute_assistance' | translate }} </h5>
                          <hr>


                          <div class="p-1">
                            
                            <p class="text-secondary text-left"> {{'dispute1' | translate}} </p>
                          </div>
  
                          <div class="p-1">
                           
                            <p class="text-secondary text-left"> {{'dispute2' | translate}} </p>
                            <p class="text-secondary text-left"> {{'dispute3' | translate}}  </p>
                            <p class="text-secondary text-left"> {{'dispute4' | translate}}</p>
                          </div>
                       
                            <div class="p-1 ">
                               <h6 routerLink="/contact_us" class="text-left pointer"> {{'contact' | translate}} : <i class="fa fa-envelope" aria-hidden="true"></i> info@babkrim.com </h6>
                            </div>
                     
                        <div class="p-1">
                            <h6 class="text-left"> {{'dispute5' | translate}} </h6>

                              
                          </div>
                        </div>
  
                     
  
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>


            <!-- </div>
                                  <div class="row"> -->
          </div>
  
          <!-- row -->
        </div>
  
        <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                     </div> -->
      </div>
  
      <!-- end iconrow -->
    </div>
  </div>
  