<div class="container-fluid">
  <div class="row">
    <div
      class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto"
    >
      <div class="container mt-4">
        <div class="row bg-white">
          <div class="col-md-12 mb-4">
            <div class="row">
              <div class="col-md-11 col-10 mx-auto shadow  my-1">
                <div class="">
                  <div class="cards py-2">
                    <div class="row tab-content mt-5 mb-4">
                      <div
                        class="col-md-12 tab-pane bg-white active"
                        role="tabpanel"
                      >
                        <h5 class="text_heading text-center">
                          {{ "resetPassword" | translate }}
                        </h5>
                        <hr />

                        <form
                          class="form-horizontal py-2 my-3"
                          [formGroup]="passwordForm"
                          role="form"
                        >
                          <div class="row">
                            <div class="col-sm-8">
                              <div class="row">
                                <div class="col-md-5">
                                  <label>{{ "newPassword" | translate }}</label>
                                </div>

                                <div class="col-md-7">
                                  <div class="form-group pass_show">
                                    <input
                                      type="password"
                                      maxlength="20"
                                      formControlName="newPassword"
                                      class="form-control"
                                      placeholder="{{
                                        'newPassword' | translate
                                      }}"
                                    />
                                  </div>

                                  <span
                                    class="danger"
                                    *ngIf="
                                      !passwordForm.get('newPassword').valid &&
                                      buttonClick == 1
                                    "
                                    >{{
                                      validationMsg.level1PasswordInvalid
                                    }}</span
                                  >
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-5">
                                  <label>{{
                                    "confirm_password" | translate
                                  }}</label>
                                </div>

                                <div class="col-md-7">
                                  <div class="form-group pass_show">
                                    <input
                                      type="password"
                                      class="form-control"
                                      formControlName="confirmPassword"
                                      maxlength="20"
                                      placeholder="{{
                                        'confirm_password' | translate
                                      }}"
                                    />
                                  </div>
                                  <span
                                    class="danger"
                                    *ngIf="
                                      !passwordForm.get('confirmPassword')
                                        .valid && buttonClick == 1
                                    "
                                    >{{
                                      validationMsg.level1PasswordInvalid
                                    }}</span
                                  >
                                  <br />
                                  <span
                                    class="danger"
                                    *ngIf="
                                      buttonClick == 1 &&
                                      this.passwordForm.get('newPassword')
                                        .value !=
                                        this.passwordForm.get('confirmPassword')
                                          .value
                                    "
                                    >{{
                                      validationMsg.level1PasswordNotMatch
                                    }}</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-2">
                              <button
                                class="btn btn_alkafu  btn-block"
                                (click)="forgotPasswordReset()"
                                type="button"
                              >
                                {{ "update" | translate }}
                              </button>
                            </div>
                          </div>

                          <div class="row" style="display:none;">
                            <div class="col-12">
                              <p class="payment-errors"></p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- </div>
                                  <div class="row"> -->
        </div>

        <!-- row -->
      </div>

      <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                     </div> -->
    </div>

    <!-- end iconrow -->
  </div>
</div>
