<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container mt-4">
        <div class="row bg-white">
          <div class="col-md-12 mb-4">
            <div class="row">
             

              <div class="col-md-11 col-10 mx-auto shadow  my-1">
                <div class="">
                  <div class="cards py-2">
                   

                    <div class="row tab-content mt-5 mb-4">
                      <div
                        class="col-md-12 tab-pane bg-white active"
                     
                        role="tabpanel"
                      >
                        <h5 class="text_heading text-center">  {{'aboutus' | translate}} </h5>
                        <hr>
                        <div class="p-2 " >

                              <p class="text-justify my-3 ">
                                {{'about1' | translate}}
                              </p>
                              <h5 class="text-left">
                                {{'simplified_description_of_the_platform' | translate}}
                              </h5>


                              <p class="text-justify">
                                {{'about2' | translate}}
                              </p>
                              <p class="text-justify">
                                {{'about22' | translate}}
                              </p>

                              <h5 class="text-left"> {{'platform_Message' | translate}} </h5>


                              <p class="text-justify">
                                {{'about3' | translate}}
                              </p>
                              <h5 class="text-left">{{'ourvision' | translate}} </h5>
                              <p class="text-justify">
                                {{'about4' | translate}}
                              </p>
                     
                        
                         
                             
                          </div>

                         
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <!-- </div>
                                <div class="row"> -->
        </div>

        <!-- row -->
      </div>

      <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                   </div> -->
    </div>

    <!-- end iconrow -->
  </div>
</div>
