<div class="msg_container_base">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="exampleFormControlTextarea1"> {{'description' | translate}} </label>
        <textarea class="form-control" maxlength="70" [(ngModel)]="groupDescription" id="exampleFormControlTextarea1" rows="3"></textarea>
    <span *ngIf="groupDescription"><small>{{70-groupDescription.length +' left'}}</small></span>
      </div>
      <div class="col-md-6 float-left">
        <button *ngIf="! this.loading" (click)="service.groupActiveTab=3"  type="submit" class="btn accept_icon">
          {{'cancel' | translate}} </button>
       
      </div>
      <div class="col-md-6 float-right">
        <button *ngIf="! this.loading" (click)="updateGroupDescription()" [disabled]="!groupDescription" type="submit" class="btn btn_alkafu">
          {{'update' | translate}} </button>
        <button *ngIf="this.loading" disabled type="submit" class="btn btn_alkafu"><i class="fa fa-spinner fa-spin"></i>
          {{'update' | translate}} </button>
      </div>
    </div>
  </div>
</div>