<div class="container">
  <!-- iconrow -->

  <div class="row mt-4">
    <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container  mt100">
        <form
          class="form-horizontal py-2"
          role="form"
        >
          <!-- <form class="form-horizontal py-2" role="form" method="POST" onsubmit="openModal()" id="Form_signuppersonal"> -->
          <!-- <form class="form-horizontal py-2" role="form" method="POST" action="employer_signup.html" id="" > -->

          <div class="row">
            <div class="col-md-12 mx-auto">
              <h4 class="text-center b_shadow bg-white py-2"> {{'evaluate_employe' | translate }} </h4>

              <!-- <h5 class="text-left">Hello </h5>
                                         <h6>Enter specification of part time staff.</h6> -->
              <hr>
            </div>
          </div>

          <!-- <div class="row">
                                  <div class="col-lg-6">
                                    <h3>Single Select with Groups</h3>           
                                  </div>   
                                </div> -->

          <div class="row">
            <div class="col-md-6">
              <div class="card py-4 px-4">
                <div class="row">
                  <div class="col-md-4 field-label-responsive">
                    <label for="password"  class="labelrequired">{{'his_number' | translate }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="{{'his_number' | translate }}"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password"  class="labelrequired">{{'his_number' | translate }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Name"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password"  class="labelrequired">{{'task_number' | translate }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Task number"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password"  class="labelrequired">{{'Date_task_performance' | translate }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="date"
                          class="form-control"
                          id="exampleInputDOB1"
                          name="dob"
                          placeholder="Date"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-9 field-label-responsive">
                    <label for="password">
                        {{'Done_the_job_perfectly' | translate }}
                    </label>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>1</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card py-4 px-4">
                <div class="row">
                  <div class="col-md-5 field-label-responsive">
                    <label for="password"  class="labelrequired"> {{'he_attend _time' | translate }}</label>
                  </div>

                  <div class="col-md-7">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          value="No"
                        />

                        No
                      </label>

                      <label class="radio-inline">
                        <input type="radio"/>
                        Yes
                      </label>
                    </div>
                  </div>

                  <div class="col-md-5 field-label-responsive">
                    <label for="password"  class="labelrequired"> {{'he _left_on_time' | translate }}</label>
                  </div>

                  <div class="col-md-7">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="l_time"
                          value="No"
                        />

                        No
                      </label>

                      <label class="radio-inline">
                        <input
                          type="radio"
                          value="yes"
                          name="l_time"
                        />

                        Yes
                      </label>
                    </div>
                  </div>

                  <div class="col-md-6 field-label-responsive">
                    <label for="password" class="labelrequired">{{'rate_employee' | translate }}</label>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="star-rating">
                        <span
                          class="fa fa-star-o"
                          data-rating="1"
                        ></span>

                        <span
                          class="fa fa-star-o"
                          data-rating="2"
                        ></span>

                        <span
                          class="fa fa-star-o"
                          data-rating="3"
                        ></span>

                        <span
                          class="fa fa-star-o"
                          data-rating="4"
                        ></span>

                        <span
                          class="fa fa-star-o"
                          data-rating="5"
                        ></span>

                        <input
                          type="hidden"
                          name="whatever1"
                          class="rating-value"
                          value="2.56"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-9 field-label-responsive">
                    <label for="password">
                        {{'he_behaved_with _superiors' | translate }}
                    </label>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>1</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                    
                  </div>

                  <div class="col-md-12">
                    <input
                      type="submit"
                      name="submit"
                      class="submit btn_alkafu float-right"
                      value="Submit"
                      onclick="em_signup()"
                    />
                  </div>
                </div>
              </div>

              <!-- </div>
                                <div class="row"> -->
            </div>
          </div>

          <!-- row -->
        </form>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>