<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container mt-4">
        <div class="row bg-white">
          <div class="col-md-12 mb-4">
            <div class="row">
              <div class="col-md-12 mx-auto">
                <h4 class="text-center bg-white pt-3">
                  {{'faqs' | translate}}
                </h4>
              </div>

              <div class="col-md-11 col-10 mx-auto shadow  my-1">
                <div class="">
                  <div class="cards py-2">
                    <div class="row bg-white">
                    

                      <hr>
                    

                      <div class="col-md-12 mt-3">
                        <ul
                          class="nav nav-tabs justify-content-center"
                          role="tablist"
                        >
                          <li class="nav-item" >
                            <a
                            
                              class="nav-link text-dark active"
                              data-toggle="tab"
                              href="#newappsn"
                              role="tab"
                            >
                              <b> {{'ABOUT UP PART-TIME' | translate}}</b>
                            </a>

                            <div class="active-arrow"></div>
                          </li>

                          <li class="nav-item" >
                            <a

                              class="nav-link text-dark"
                              data-toggle="tab"
                              href="#invitedw"
                              role="tab"
                            >
                              <b>{{'ABOUT HIRING' | translate}}</b>
                            </a>

                            <div class=""></div>
                          </li>

                          <li class="nav-item" >
                            <a
                              class="nav-link text-dark"
                              data-toggle="tab"
                              href="#hireemp"
                              role="tab"
                            >
                              <b>{{'About working' | translate}}</b>
                            </a>

                            <div class=""></div>
                          </li>

                         
                        </ul>
                      </div>
                    </div>

                    <div class="row tab-content mt-5 mb-4">
                      <div
                        class="col-md-12 tab-pane bg-white active"
                        id="newappsn"
                        role="tabpanel"
                      >
                        <h5 class="text_heading text-center">{{'ABOUT UP PART-TIME' | translate}}</h5>
                        <hr>
                        <div class="p-1">
                          <h6>{{'What is Up part-time?' | translate}}</h6>
                          <p class="text-secondary"> {{'What is Up part-time_ans' | translate}}</p>
                        </div>

                        <div class="p-1">
                          <h6>{{'What types of Profiles Up part-time have?' | translate}}</h6>
                          <p class="text-secondary"> {{'ans2' | translate}}</p>
                        </div>
                      </div>

                     

                      <div
                        class="col-md-12 tab-pane  bg-white"
                        id="invitedw"
                        role="tabpanel"
                      >
                      <h5 class="text_heading text-center">{{'ABOUT HIRING' | translate}}</h5>
                      <hr>
                      <div class="p-1">
                        <h6>{{'How do I get start work through Up part-time?' | translate}}</h6>
                        <p class="text-secondary"> {{'ans3' | translate}}</p>
                      </div>

                      <div class="p-1">
                        <h6>{{'ques4' | translate}}</h6>
                        <p class="text-secondary"> {{'ans4' |translate}}</p>
                      </div>
                     
                    
                       
                      </div>

                      <div
                        class="col-md-12 tab-pane bg-white"
                        id="hireemp"
                        role="tabpanel"
                      >
                      <h5 class="text_heading text-center">{{'About working' | translate}}</h5>
                      <hr>
                      <div class="p-1">
                        <h6>{{'ques4' | translate}}</h6>
                        <p class="text-secondary"> {{'ans4' |translate}}</p>
                      </div>

                      <div class="p-1">
                        <h6>{{'ques5' | translate}}</h6>
                        <p class="text-secondary">{{'ans5' | translate}}</p>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- </div>
                                <div class="row"> -->
        </div>

        <!-- row -->
      </div>

      <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                   </div> -->
    </div>

    <!-- end iconrow -->
  </div>
</div>
