<div class="container-fluid">
  <div class="row">
    <!-- map_urgent -->
    <div class="col-md-12 ">
      <!-- <div class="collapse show" id="collapseExample"> -->
      <div class="card ">
        <!-- map_urgent -->
        <div class="container-fluid mt-2 " >
          <agm-map style="height: 35vh; " #map [zoom]="zoom"
          [styles]="service.mapStyle"
          [streetViewControl]=false
          [disableDefaultUI]="true"
          [zoomControl]="false"
           [latitude]="lat" [longitude]="lng">
            <agm-direction  [renderOptions]="renderOptions" [markerOptions]="markerOptions" [origin]="origin"
              [destination]="destination">
            </agm-direction>
          </agm-map>
        </div>
      </div>
      <!-- </div> -->

    </div>
    <div class="col-md-12 " *ngIf="showJobDetails!=1" >
      <!-- style="margin-top: 50vh;" -->
      <div class="container-fluid">
        <div class="row bg-white pt-4">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9">

                <h4 class="text-justify text_heading p-2 mb-4">
                  {{service.transform(data.jobDetails.jobDescription.length >60 ?
                  data.jobDetails.jobDescription.slice(0,60)+'...':data.jobDetails.jobDescription)}}
                </h4>

              </div>

            </div>
          </div>


          <div class="col-md-11 col-10 mx-auto bx_shadow ">
            <div class="">
              <div class="cards ">
                <div class="row bg-white">
                  <div class="col-md-12 ">
                    <p class="text-justify">
                    </p>
                    <app-iconset [employerDetails]=[] [showRating]=0 [val]=data.jobDetails></app-iconset>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>