<div *ngIf="service.loader" class="col-md-3 col-3 mx-auto my-auto">
    <img class="img-fluid"
    src="assets/images/loaderinput.gif">
  </div>
<div class="row sideBar" style="height: auto;">
  <div class="col-md-12" style="height: 5rem;">
    <h6 class="text-center text_blue my-3">{{'uploadedFile' | translate}}</h6>
  </div>
 

  <div *ngFor="let val of chatService.chatFile | slice :0 :limit" class="row sideBar-body w-100 mx-auto " style="height: 5rem;">


    <div class="col-sm-9 col-9 sideBar-main">
      <div class="row">
        <div class="col-sm-9 col-xs-8 sideBar-name">
          <span class="name-meta">{{val.fileName.length>10?val.fileName.slice(0,10)+'..'+val.fileName.split('.').pop():val.fileName}}
          </span>

        </div>

      </div>
    </div>
    <div class="col-sm-3 col-3 sideBar-avatar ">
      <div class="avatar-icon pt-2">
        <a href="{{service.url}}/download/chatFiles.json?fileID={{val.fileId}}&token={{service.getStorage('token')}}"
          target="_blank">
          <i class="fa fa-download" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <span class="float-left mx-auto" *ngIf="chatService.chatFile.length > limit" (click)="limit=limit+3">
    <a >{{'loadmore' | translate}}</a>
  </span>

</div>