<!-- <canvas id="canvas">{{ chart }}</canvas> --><br>
<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-evaluate></app-evaluate>