<div class="container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon mt-1">
      <i class="fa fa-bars text-white"></i>
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul *ngIf="service.noLogin" class="navbar-nav">
      <li *ngFor="let commonHeaders of commonHeaders ; let i = index" class="nav-item">
        <a (click)="checkCat(commonHeaders)" class="nav-link" href="#" data-toggle="modal" data-target="#Modalsearchcategorymenu">{{commonHeaders}}
        </a>
      </li>

      <li class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{'all_categories' | translate }}
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div class="row  dropdown-menu-width mx-auto">
            <div class="col-md-4" *ngFor="let lp of loop  ; let k = index">
              <div *ngFor="let val of category | slice:0:10; let i = index">
                <ul class="multi-column-dropdown text-left">

                  <!-- 1st submenuclmn -->

                  <div id="accordion-copy" role="tablist" aria-multiselectable="true">
                    <div class="">
                      <div>
                        <h5 class="mb-2" (click)="service.searchCatId=category[categoryIndex(i,k)].id">
                          <!-- No Login Category-->
                          <a role="tab" class="text-muted w-100" data-toggle="collapse" data-parent="#accordion-copy"
                            href="#11collapseOne-copy{{k}}{{i}}" aria-expanded="false">
                            <!-- {{category[categoryIndex(i,k)].name}} -->
                            {{returnCategoryName(i,k)}}
                          </a>

                        </h5>
                      </div>
                      
                      <div *ngIf="isSub(returnSubCategories(i,k))" id="11collapseOne-copy{{k}}{{i}}"
                        class="collapse in" role="tabpanel">
                        <ul class="multi-column-dropdown_sub">
                          <li *ngFor="let sub of category[categoryIndex(i,k)].subCategories;let j = index">
                            <a class="dropdown-item" href="" (click)="service.searchSubId=sub.id;service.pushSubCategoryFilter(sub.name,sub.id,category[categoryIndex(i,k)].id)"
                              data-toggle="modal" data-target="#Modalsearchcategorymenu">{{sub.name}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </ul>
              </div>
            </div>


          </div>
        </ul>
      </li>

      <li class="d-block d-sm-block d-md-none nav-item">

        <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong"> {{'all_categories' |
          translate}}</a>
      </li>
    </ul>

    <ul *ngIf="service.employee_login" class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="font-weight: 700 !important;
                padding-left: 2rem !important;
                padding-right: 2rem !important;"
          *ngIf="service.showMenu" routerLink="employee_home">{{'home' | translate}}</a>
      </li>

      <li *ngIf="service.showMenu" class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg1">
        <a class="nav-link nav-link_login dropdown-toggle" style="font-weight: 700 !important;
                padding-left: 2rem !important;
                padding-right: 2rem !important;"
          href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'find_jobs'|
          translate}}</a>
        <ul class="dropdown-menu" style="left: 0rem;
              width: 200px;
              overflow: unset;
              height: auto;background-color: #0c2d67 !important;
              color: #fff !important;"
          aria-labelledby="navbarDropdownMenuLink">
          <div class="row  dropdown-menu-width mx-auto">
            <ul class="multi-column-dropdown ar_ml">
              <li style="width: 198px;">
                <a style="margin-left: -7px;" class="nav-link text-white ar_ml" routerLink="employee_joblist">
                  {{'part_time _list' | translate}}
                </a>
              </li>

              <li style="">
                <a style="margin-left: -7px;" class="nav-link text-white ar_ml" routerLink="employee_view_map">
                  {{'part_time_map' | translate}}
                </a>
              </li>
            </ul>
          </div>
        </ul>
      </li>



      <li class="nav-item">
        <a class="nav-link" style="font-weight: 700 !important;
                padding-left: 2rem !important;
                padding-right: 2rem !important;"
          *ngIf="service.showMenu" routerLink="proposals">{{'proposals' | translate }}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="font-weight: 700 !important;
                padding-left: 2rem !important;
                padding-right: 2rem !important;"
          *ngIf="service.showMenu" routerLink="../completed_contracts">{{'contracts' | translate }}</a>
      </li>



      <li *ngIf="service.showMenu" class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg">
        <a class="nav-link  dropdown-toggle" style="font-weight: 700 !important;
                padding-left: 2rem !important;
                padding-right: 2rem !important;"
          href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'all_categories' | translate }}
        </a>

        <ul class="dropdown-menu" style="left:-22rem;" aria-labelledby="navbarDropdownMenuLink">
          <div class="row  dropdown-menu-width mx-auto">
            <div class="col-md-4" *ngFor="let lp of loop; let k = index">
              <div *ngFor="let val of category | slice:0:categoryLength; let i = index">
                <ul class="multi-column-dropdown text-left">

                  <!-- 1st submenuclmn -->

                  <div id="accordion-copy_employee" role="tablist" aria-multiselectable="true">
                    <div class="">
                      <div role="tab" id="headingOne-copy{{k}}{{i}}">
                        <h5 class="mb-2">
                          <!-- Employee Login Category-->
                          <a role="tab" class="text-muted" (click)="service.searchCatId=category[categoryIndex(i,k)].id;"
                            data-toggle="collapse" data-parent="#accordion-copy_employee" href="#collapseOne-copy1{{k}}{{i}}"
                            aria-expanded="false">
                           {{returnCategoryName(i,k)}}
                          </a>
                          <!-- Employee Login no category-->

                        </h5>
                      </div>



                      <div *ngIf="isSub(returnSubCategories(i,k))" id="collapseOne-copy1{{k}}{{i}}"
                        class="collapse" role="tabpanel" aria-labelledby="headingOne-copy">
                        <ul class="multi-column-dropdown_sub">
                          <li *ngFor="let sub of category[categoryIndex(i,k)].subCategories;let j = index">
                            <a (click)="service.searchSubId=sub.id;service.pushSubCategoryFilter(sub.name,sub.id,category[categoryIndex(i,k)].id);service.pushCategoryFilter(category[categoryIndex(i,k)].name,category[categoryIndex(i,k)].id)"
                              class="dropdown-item" routerLink="employee_joblist" style="margin-left: 0px;">{{sub.name}}</a>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>

                </ul>
              </div>
            </div>
          </div>
        </ul>
      </li>

      <li class="d-block d-sm-block d-md-none nav-item">


        <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong">{{'all_categories' |
          translate}}</a>
      </li>
    </ul>

    <ul *ngIf="service.employer_login" class="navbar-nav">
      <li *ngIf="service.showMenu" class="nav-item">
        <a class="nav-link" style="font-weight: 700 !important;
                padding-left: 2rem !important;
                padding-right: 2rem !important;"
          routerLink="employer_home">{{'home' | translate }}</a>
      </li>

      <li *ngIf="service.showMenu" class="nav-item" data-toggle="modal" data-target="#Modaladdjob">
        <a style="font-weight: 700 !important;
              padding-left: 2rem !important;
              padding-right: 2rem !important;"
          class="nav-link" href="javascript:void(0)">{{'postjob' | translate }}</a>
      </li>

      <li *ngIf="service.showMenu" class="nav-item">


        <a style="font-weight: 700 !important;
            padding-left: 2rem !important;
            padding-right: 2rem !important;"
          class="nav-link" routerLink="my_jobs">{{'my_jobs' | translate }}</a>
      </li>

      <li *ngIf="service.showMenu" class="nav-item">
        <a style="font-weight: 700 !important;
                    padding-left: 2rem !important;
                    padding-right: 2rem !important;"
          class="nav-link" routerLink="../employer_contracts">{{'contracts' | translate }}</a>
      </li>




      <li *ngIf="service.showMenu" class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg">
        <a style="font-weight: 700 !important;
            padding-left: 2rem !important;
            padding-right: 2rem !important;"
          class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{'all_categories' | translate }}
        </a>

        <ul class="dropdown-menu" style="left: -10rem;" aria-labelledby="navbarDropdownMenuLink">
          <div class="row  dropdown-menu-width mx-auto">
            <div class="col-md-4" *ngFor="let lp of loop; let k = index">
              <div *ngFor="let val of category | slice:0:categoryLength; let i = index">
                <ul class="multi-column-dropdown text-left">

                  <!-- 1st submenuclmn -->

                  <div id="accordion-copy" role="tablist" aria-multiselectable="true">
                    <div class="">
                      <div role="tab" id="headingOne-copy{{k}}{{i}}">
                        <h5 class="mb-2">
                          <!-- Employer Login Category-->
                          <a role="tab" class="text-muted" data-toggle="collapse" data-parent="#accordion-copy"
                            href="#collapseOne-copy22{{k}}{{i}}" (click)="service.searchCatId=category[categoryIndex(i,k)].id"
                            aria-expanded="false">
                            {{returnCategoryName(i,k)}}
                          </a>
                          <!-- Employer Login no category-->

                        </h5>
                      </div>

                      <div *ngIf="isSub(returnSubCategories(i,k))" id="collapseOne-copy22{{k}}{{i}}"
                        class="collapse in" role="tabpanel" aria-labelledby="headingOne-copy">
                        <ul class="multi-column-dropdown_sub">
                          <li *ngFor="let sub of category[categoryIndex(i,k)].subCategories;let j = index">
                            <a (click)="service.searchSubId=sub.id;service.pushSubCategoryFilter(sub.name,sub.id,category[categoryIndex(i,k)].id)"
                              class="dropdown-item" [routerLink]="['/search_all_person']">{{sub.name}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </ul>
              </div>
            </div>

          </div>
        </ul>
      </li>

      <li class="d-block d-sm-block d-md-none nav-item">


        <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong"> {{'all_categories' |
          translate}}</a>
      </li>
    </ul>
  </div>

 
</div>