<div class="col-md-6 mb-5 pb-5 mx-auto ">
    <div class="card mx-auto mt-5 mb-5" style="width: 100%;">

        <h3 style="margin-top: 20px; " class="text-center text_blue"> We are processing your transaction </h3>

        <img class="card-img-top" src="assets/images/prosload.gif" alt="Card image cap" style="width: 13%;" class="mx-auto">
        <div class="card-body mx-auto text-center">
          <!-- <h5 class="card-title">{{'plz_verify' | translate}}</h5> -->
          <p class="card-text"> Please be patient, this process might take some time.<br> Please do not hit refresh or browser back button or close this window </p>
          
        </div>
      </div>
</div>