<h6 class="text-left">. التعاريف</h6>
<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i>  أ‌.	المنصة : هي منصة Up-parttime الإلكترونية، والتي تشمل الموقع الإلكتروني وجميع التطبيقات التابعة لها. </p>
<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> أ‌.	المنصة : هي منصة Up-parttime الإلكترونية، والتي تشمل الموقع الإلكتروني وجميع التطبيقات التابعة لها.</p>
<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> ب‌.	الشركة : شركة المنصات الذكية المحدودة. </p>
<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> ت‌.	طالب العمل، الموظف، العامل، العامل المستقل freelancer: هو من يقوم بالعمل الجزئي أي كان تخصصه من خلال منصة </p>
<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> ج‌.	المستخدم : هو مستخدم المنصة والمسجل فيها. </p>
<p class="text-secondary text-left "> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> ح‌.	المنشأة : هي أي كيان يقوم باستئجار العامل سواء كانت مؤسسة أو شركة أو محل أو غير ذلك.. </p>
<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> خ‌.	الطرف الآخر : هو الطرف المقابل وهو واحد من إثنين إما طالب عمل أو صاحب عمل. </p>

<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> خ‌.	الطرف الآخر : هو الطرف المقابل وهو واحد من إثنين إما طالب عمل أو صاحب عمل. </p>
<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> ذ‌.	الاتفاقية بالعمل أو الإنجاز : أي يكون الأجر بإنجاز العمل أو جزء منه. </p>

<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> ر‌.	عقد العمل : هو الاتفاقية الذي بين طالب العمل وصاحب العمل. </p>

<p class="text-secondary text-left "> <i class="fa fa-dot-circle-o" aria-hidden="true"></i>  ز‌.	الاتفاقية أو عقد الخدمة : هو الاتفاقية أو الاتفاقية المبرم بين شركة المنصات الذكية المحدودة وبين المستخدم. </p>

<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> ش‌.	حقوق الملكية الفكرية:أي حقوق براءات الاختراع والتأليف والتصميم وحقوق الطبع والنشر والدعاية والعلامات التجارية وغيرها من حقوق الملكية الفكرية المعروفة قانونا،والتي قد توجد الآن أو تتحدث أتي فيما بعد.  </p>

<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> ص‌.	الخصوصية : هي خصوصية المستخدم ( من بيانات، ومعلومات، وحقوق ، وأسرار ألخ ) </p>
<p class="text-secondary text-left"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> ض‌.	ملفتعريفالإرتباط :هوعبارةعنمجموعةصغيرةمنالبياناتوالتييقومالمنصةبوضعهاعلىجهاز المحمولوالكمبيوترالخاصبك.</p>


<p class="text-secondary text-justify" >
 <b>نودالاتفاقية:</b> <br>
 1.	عزيزي مستخدم منصتنا، هذه الاتفاقية هي بيننا نحن شركة المنصات الذكيةالحدودة مالكي وإدارةUp-parttime وبينك كمستخدم لمنصتنا وملحقاتها وما يتبعها من المواقع الإلكترونية وتطبيقات الهواتف الذكية، سواء تم تقديم خدمة هذه المنصة لكم من قبلنا أو من خلال الشركات التابعة لنا أو من قبل وكلائنا في أنحاء العالم ، وأنت تقر بأن لديك متسعًا من الوقت لمراجعة الاتفاقية وجميع البنود والشروط الواردة فيها بعناية وأنك لم توافق عليها إلا بعد قراءتها يتمعن، وفهمها دون غموض ونحن نمنحك الوقت للسؤال أو الاستفسار عن أي نقاط لم تفهمها قبل الإقرار، واستخدام هذه المنصة بأي صفة تعني قبولك بها كاتفاقية بيننا وبينك، وتحكيم ما يخص فيها اتفاقية العمل بين الطرف الآخر وبينك، بجميع مواقعها وتطبيقاتها.<br>
 2.	مدة الاتفاقية وإنتهائها: ابتداء من زيارتك الأولى وطوال مدة استخدامك للمنصة فإن بنود هذا الاتفاقية والعقود الأخرى والمعدلة من وقت لآخر تكون سارية المفعول في وقت لاحق من تاريخ السريان ما لم تبرم مع المنصة أو وكلائها المعتمدين المخولين إتفاق مكتوب وصريح على خلاف ما هو في هذه العقود والاتفاقيات. 
باستثناء ما هو منصوص عليه في هذه الاتفاقيةيجوز لأي طرف إنهاء هذه الاتفاقية وفقًا لتقديره الخاص، في أي وقت ، دون تقديم تبرير أو تفسير، بناءً على إشعار كتابي إلى الطرف الآخر، بشرط إنهاء الإلتزامات السابقة سواء مع المنصة أو مع الأطراف الأخرى ( عاملين أو أصحاب عمل ) مقدماً. وإذا كان لديك أي التزامات مفتوحة عند إنهاء هذه الاتفاقية ، فستستمر في الالتزام بهذه الاتفاقية وبنود الخدمة الأخرى حتى يتم إغلاق جميع هذه التعيينات على المنصة ؛ وستستمر Up-parttime في تنفيذ خدماتها الضرورية لإكمال أي عقود عمل مفتوحة أو أي معاملة ذات صلة بينك وبين مستخدم آخر ما دام تسجيلك فيها ساري المفعول، وسوف تظل ملتزمًا بدفع أي مبالغ مستحقة للمنصة أو لمستخدم آخر، وفي حالة انتهاء الاتفاقية بشكل صحيح فإنه سيتم إغلاق حسابك ولم يعد لك الحق في استخدام المنصة إلا بتسجيل جديد .
<br>
2.	مدة الاتفاقية وإنتهائها: ابتداء من زيارتك الأولى وطوال مدة استخدامك للمنصة فإن بنود هذا الاتفاقية والعقود الأخرى والمعدلة من وقت لآخر تكون سارية المفعول في وقت لاحق من تاريخ السريان ما لم تبرم مع المنصة أو وكلائها المعتمدين المخولين إتفاق مكتوب وصريح على خلاف ما هو في هذه العقود والاتفاقيات. 
باستثناء ما هو منصوص عليه في هذه الاتفاقيةيجوز لأي طرف إنهاء هذه الاتفاقية وفقًا لتقديره الخاص، في أي وقت ، دون تقديم تبرير أو تفسير، بناءً على إشعار كتابي إلى الطرف الآخر، بشرط إنهاء الإلتزامات السابقة سواء مع المنصة أو مع الأطراف الأخرى ( عاملين أو أصحاب عمل ) مقدماً. وإذا كان لديك أي التزامات مفتوحة عند إنهاء هذه الاتفاقية ، فستستمر في الالتزام بهذه الاتفاقية وبنود الخدمة الأخرى حتى يتم إغلاق جميع هذه التعيينات على المنصة ؛ وستستمر Up-parttime في تنفيذ خدماتها الضرورية لإكمال أي عقود عمل مفتوحة أو أي معاملة ذات صلة بينك وبين مستخدم آخر ما دام تسجيلك فيها ساري المفعول، وسوف تظل ملتزمًا بدفع أي مبالغ مستحقة للمنصة أو لمستخدم آخر، وفي حالة انتهاء الاتفاقية بشكل صحيح فإنه سيتم إغلاق حسابك ولم يعد لك الحق في استخدام المنصة إلا بتسجيل جديد .
<br>
3.	عام :
3.1.	تعتبر هذه الشروط خاضعة للتعديل حسب المتغيرات. وهي تطبق على جميع خدماتنا، ودخولكم لموقعنا واستخدامكم لخدماتنا المتاحة في الشبكة العنكبوتية، سواء في الكمبيوتر أو الهاتف المحمول أو غيرها.
3.2.	إن  شركة المنصات الذكية ذات المسئولية المحدودة، ومقرها الرئيسي في مدينة الخبر، المملكة العربية السعودية بسجل تجاري رقم (  ) والصادر من الدمام  تملك منصة up-parttime.com بجميع نطاقاتها ( Domains  ):<br> 


upparttime.com <br>
uppart-time.com <br>
up-parttime.com <br>
up-part-time.net <br>
upparttime. net <br>
uppart-time. net <br>
up-parttime. Net <br>


وما يتبعها من مواقع وتطبيقات نحوه، ويعتبر كل ما هو فيها ملك لها وجميع حقوقها ملكاً لها.  يخدمها شركات أخرى ومكاتب تتبعنافي عدد من الدول الأخرى، وسيتم مساندة الشركة بشركات ومؤسسات أخرى صديقة موجودة في أنحاء العالم، وستقدم هذه الشركات والمؤسسات مساندة خاصة ومحددة للمنصة، لدعم المستفيدين من خلال مراكز الاتصال الهاتفي، أو البريد الألكتروني، أو الميداني في بعض الحالات التي تحتاج ضرورة إلى ذلك. هذه الشركات والمؤسسات الصديقة لا تملك مواقع الكترونية  مشابهة لهذا الخصوص، وليس لها أي صلاحية للتحكم أو إدارة المنصة، كما أنها لا تملك أي صفة قانونية لتمثيل شركتنا أو المنصة وليست مخولة قانونيا بإبرام أي اتفاقيات أو عقود إلا ما هو موضح لكل شركة أو مؤسسة. وكذلك فإن هذه الشركات المساندة ليستأيضًامخولة قانونيا بأنتتصرفبأيشكلمنالأشكالكعميلخدمةلـِ .Up-parttime   إلا في حدود الصلاحيات الممنوحة لها من شركتنا، لذا فإننا لا نتحمل أي مسئولية لأي تصرف تقوم بها أي شركة أو مؤسسة أو جهة باسم شركة المصنات الألكترونية أو أي من اشركاتها التابعة لها أو منصةup-parttimeالإلكترونية، إذا كانت ليست مخولة بتوكيل معتمد من مكتب الإدارة العامة. 
3.3.	لايسمحلأي فرد أو جهة أو منشأة بتنزيل أو نسخ أو عرض أو رصد أو استخدام أوإعادةإنتاجأيمحتوىأومعلوماتأوبرمجياتأومنتجاتأوخدماتمتوفرةعلىموقعناالإلكتروني إعادة أو بيعأوتعميقالارتباط،لأينشاطأوغرضتجاريأوتنافسي.<br>


3.4.	الغرض من Up-parttime وخدماتها:Up-parttime عبارة عن منصة ألكترونية تحتوي على مواقع ألكترونية وتطبيقات للهواتف الذكية، وهي منصة متاحةللجميع ممن يرغب العمل جزئي، أو استئجار عاملين مستقلين freelancer   بوقت جزئي، سواء بالحضور في مكان العمل Inline أو عن بعد onlineحيث تقوم المنصة بمهمةبالتعريف بين الأطراف، والإعلان عن الخدمات وفقًا لبنود الخدمة ، كما توفر Up-parttime   خدمات التنسيق بين الأطراف والإشراف بشكل مقتضب على إبرام العقود ،مع إدارة النزاعات الناشئة بين الطرفين إذا تم إشعارها بالخلاف، وتوفير خدمة التواصل والدردشة الممكنة بما يخدم السوق. بالإضافة إلى توفير معلومات متكاملة حسب ما يتم تسجيله في سجلات الأعضاء ليسهل اتخاذ القرار للمستأجر والأجير. كذلك يتم إنشاء عقود خدمة مباشرة بين هؤلاء المستخدمين ، مع مراعاة الأحكام المنصوص عليها .
<br>
3.5.	تستندالمعلوماتالمذكورة عن كل منشأة أو عن طالب العمل على ما يقدم إلينا من قبلهم دون تدخل منا، حيث يحصلالمستخدمعلىإذنبدخولالشبكةالداخليةعلىأنهممسؤولونبشكلكاملعنتحديثجميعالمعلوماتالمتعلقةبهم،ومع اهتمامنا بدقة المعلومات إلا أنه لا يمكننا التحققأوالضمانماإذاكانتجميعالمعلوماتدقيقةأوكاملةأوصحيحة. وعليه فإننا غير مسئولين عن معلوماتهم إذا كانت غيردقيقةأومضللةأوغيرصحيحة،ويبقىكلمستخدممسؤولاًعندقةواكتمالوصحةالمعلومات التي يوردها.
<br>
3.6.	ورود معلومات وبيانات عن مستخدم  في منصتنالا يعتبر تزكية أو توصية لمستوى الجودة لخدماتهم أو تصنيف وإن كتبت عبارة ( يوصى بها ) في خانات الدعاية.ولن نكون مسؤولينعنأيأخطاءسواء كانت بيانيةأومطبعية أو غيرها. ولسنا ملزمون قانونيا ولكننا سنأخذ أي ملاحظات أو تعليق على أي مقدم خدمة في الحسبان حيث نقوم بالتأكد منه واتخاذ الإجراء المتاح في توجيهه أو حجبه من الإعلان عندنا. وسنعمل على التواصل مع أي مستفيد المسجل بياناته لدينا لمتابعة ومعرفة استفادته من المنشأة ومدى استفادته من منصاتنا.
<br>
4.	الخصوصية: 
Up-parttimeتحترمخصوصيتك.إلى أقصى حد لذا يرجىالاطلاع على منسياسةالخصوصيةو ملفاتتعريفالارتباط.

<br>
5.	لغة المنصة :
ستترجم هذه الشروط والأحكام إلى لغات عدة، عن طريق مكاتب ترجمة معتمدة، وستبقى النسخة الأصلية باللغة العربية حسب القانون السعودي التي تنتمي إليه الشركة ( شركة المنصات السعودية المحدودة ) المرجع الأساسي لأي نزاع في الدول العربيةبينما ستعتبر نسخة اللغة الإنجليزية هي المرجع الرئيسي في باقي دول العالم، وفيحالحدوثأي اختلافأوتعارضمابينالنسخةالعربيةونسخةاللغة الإنجليزية لهذهالشروطوالأحكام،فستكونالنسخةالعربيةهيالنسخةالمرجع التي عليها يتم التقاضي.

<br>
6.	القانون الذي تخضع له المنصة ومستخدميها:
تخضع أنظمة شركتنا وهذه الاتفاقية وشروط الخدمة الأخرى بما يتعلق بـ Up-parttime  والشركات التابعة وفقًا لقوانين المملكة العربية السعودية، التي تقع فيها المركز الرئيسي لشركة المنصات الذكية بغض النظر عن تعارضها مع أحكام القوانين الأخرى .
<br>
7.	سياسة تعديل البنود :
وفقًا للشروط المنصوص عليها هنا ، وللمصلحة العامة والمنصة حسب تقديرنا، فإنه يجوز لشركتنا  تعديل هذه الاتفاقية وبنودها في أي وقت، وسنقوم مسبقاً بنشر نسخة منقحة على المنصة ، وسيتم الإشارة إلى هذا التعديل بوقت معقول إذا كان يتضمن بنوداً تخص المستخدم، وإذا كان التغيير بسيطاً على تقديرنا، أما إذا كان التغيير يتضمن زيادة في الرسوم التي نتقاضاها فإننا سوف نقوم بإشعاركم قبل سريانها ب 30 يوماً على الأقل.
<br>

إن استمرارك في استخدام منصتنا بعد التعديل لهذه البنود يعني موافقتك عليها والتزامك بشروطها وتعديلاتها الجديدة، إذا كان لدينا بنود خاصة بخدمات أخرى فإن أي تعارض بينهما تعتبر هذه الاتفاقية هي المتحكمة، ما لم ينص في تلك البنود صراحة على أن تلغي أو تتحكم في ببنود هذه الاتفاقية. 

<br>
<b>8.	معلومات التسجيل :</b><br>
8.1.	الموافقة على كمال وصحة معلوماتك:
أنت توافق على أنك تقومبكتابة ملفك الشخصي أو التجاري بكل دقة، وأن كل معلوماتك التي ستكتبها صحيحة، وأنك تتعهد بتحديثها في حسابك عند تغيرأي منها. 
<br>
التحقق من الهوية والبيانات: 
توافق على أنه لنا الحق في التحقق من هويتك ومن صحة البيانات، ومن الوثائق الحكومية أو القانونية الخاصة بك من وقت لآخر ، وأنك تفوضنا أو تفوض طرف ثالث له اتصال بنا بأي صفة بإجراء أي استفسارات ضرورية للتحقق من صحة هويتك وتأكيد ملكيتك لعنوانك البريد الإلكتروني أو الحسابات المالية في الجزئية التي تتعامل معنا من خلالها، وأنك تخضع للقانون المعمول به في المنصةوأنه عند طلبنا فإنهيجب عليك تزويدنا بمعلومات عنك وعن عملك الذي يهمنا في المنصة.

<br>
8.2 التحقق من الهوية والبيانات: 
توافق على أنه لنا الحق في التحقق من هويتك ومن صحة البيانات، ومن الوثائق الحكومية أو القانونية الخاصة بك من وقت لآخر ، وأنك تفوضنا أو تفوض طرف ثالث له اتصال بنا بأي صفة بإجراء أي استفسارات ضرورية للتحقق من صحة هويتك وتأكيد ملكيتك لعنوانك البريد الإلكتروني أو الحسابات المالية في الجزئية التي تتعامل معنا من خلالها، وأنك تخضع للقانون المعمول به في المنصةوأنه عند طلبنا فإنهيجب عليك تزويدنا بمعلومات عنك وعن عملك الذي يهمنا في المنصة.
<br>
3.8. صلاحية تسجيل المنشأة:
تقر بأن لديك كامل الحق والسلطة في تسجيل أي منشأة  تقوم بتسجيلها في المنصة، وأنك تتحمل جميع ما يترتب على هذا التسجيل من التزامات مالية أو قانونية.
كما يجب أن تكون المنشأة ذات نشاط معترفا به، سواء كان ذو ملكية مفردة أو شركة، أو منضمة معترف بها مع إدراج ما يثبت ذلك من تراخيص وسجلات رسمية من خلال التسجيل في المنصة. مع الالتزام بجميع متطلبات التراخيص المطلوبة.
وتقر بأنه يسمح لمنشأتكم حسب أنظمة بلدكم استئجار مثل هذا النوع من العمل الذي تقدمه خدمة Up-parttime وأننا لسنا مسئولين عن أي مخالفة في هذا الشأن وغيره.
<br>

.8.4 صلاحية النشر والحقوق :
تقر أنك مخول بكل ما تقوم بنشره في Up-parttimeمن وسائط أو أي تكنولوجيا معروفة الآن أو ستبتكر لاحقاً من نصوص أو صور أو أصوات أو فيديو أو صور متحركة أو غيرها وأنك لوحدك تتحمل أي انتهاك لحقوق ذلك الطرف بما فيها الحقوق الفكرية وحقوق الدعاية والإعلان المحمية بحقوق الطبع والنشر، وأنك تخول على مسئوليتك شركة المنصات الذكية وما يتبعها من منصات وشركات تابعة تسجيل أو نشر ما سجلته أو نشرته أو أعلنته في المنصة دون أي إلتزام قانوني أو مالي علينا.
وأنك تمنحنا وتحت مسئوليتك هذه الصلاحية في جميع أنحاء العالم وبأي لغة وبشكل علني. ولشركائنا ووكلائنا صلاحية دائمة وغير قابلة للإلغاء لنشرها أو استخدامها وإعادة أنتاجها أو تعديلها وإعادة توزيعها في أي وسيلة عبر الانترنت أو أي وسيلة إعلامية.
كما تمنح الصلاحية لكل مستخدم تسمح له المنصة الدخول إلى هذه المعلومات والاطلاع عليها، من أجل أغراض المنفعة المتداولة في المنصة وجميعها تخضع لسياسة الخصوصية الموضحة في المنصة. 
<br>

8.5.اسم المستخدم والرقم السري :
عندما تقوم بالتسجيل على حساب خاص بك ، سيُطلب منك اختيار اسم مستخدم وكلمة مرور خاص للحساب. وبهذا ستكون لوحدك مسئولاً مسئولية كاملة عن حسابك، وأي دخول من قبل شخص أو جهة أخرى بهذا الرقم فإنه سيتم التعامل على أن المستخدم هو صاحب الحساب ونفسه والذي سوف يتحمل تبعاته المالية والقانونية وأي تبعات أخرى، لذا فإنه يتعين عليك عدم إطلاع أطراف أخرى عليه، والاحتفاظ بهما في مكان آمن وتغيير الرقم السري من وقت لآخر. وأنت توافق بأنه يجب عليك الإبلاغ الفوري إذا شككت في تسرب هذا الرقم، أو وقوعه  في يد طرف ثالث غير مصرح لهم بالدخول فيه، مع عدم تخليك عن المسئولية كاملة حتى يتم إجراء تجميد الحساب أو تغيير اسم المستخدم والرقم السري الجديد.

<br>
.6الإبلاغ عن أي تغيير في العناوين أو وسائل الاتصال:  
تتعهد بأنك سوف تبلغنا فوراً، بأي تغيير طاريء على بريدك الأكتروني أو البريد الوطني أو أرقام التلفونات الخاصة بك، أو أي عناوين مطلوبة، وسوف تتحمل المسئولية كاملة في ما يترتب على عدم إبلاغنا بهذا التغيير. 

<br>
7عدم التسجيل لأكثر من حساب :
كما أنك توافق على عدم التسجيل لأكثر من حساب واحد لك. وتسجيل أكثر من حساب يعني مخالفة قانونية بالنسبة لشركتنا. 
<br>
.8.عدم السماح لطرف ثالث بإنشاء حساب لك:
أنت توافق على عدم طلب أو السماح لشخص آخر بإنشاء حساب نيابة عنك أو لاستخدامك أو لصالحك.وسوف تتحمل وحدك المسئولية إذا كنت متعمدا، أو راضياً أو عالماً ولم تبلغ المنصة بذلك.
<br>
.9المستخدم يمثل نفسه أو منشأته شخصيا:
إذا كنت عاملاً  في أي تخصص وترغب العمل من خلال Up-parttime  وقمت بالتسجيل في منصتنا، فإنك تتعهد بأنك تمثل نفسك شخصياً، وأن استخدامك هوا استخداماً شخصياً، ولا يتبع أي تنظيم أو مؤسسة وأنك تمثل نفسك فقط ولا تمثل آخرين.

<br>
11 بلوغ السن القانوني للعامل:
أنك تقر بأنك في السن القانوني حسب بلدك الذي يخولك للعمل. وإذا كان عملك الذي ستقوم به مرخص فيه عمرك الأقل من السن القانوني للعمل في بلدك  فيجب عليك الإفصاح عنه.

<br>
9.	إمتلاكك لما تنشره:
أنت تقر بأنك تملك جميع حقوق ما تقوم بتحميله من صور أو نصوص أو نحو ذلك ،وأنكتملكحقوقالطبعوالنشرلها وأنكموافقعلىاستخدامUp-parttimeلتلك الصور والنصوص ونحو ذلك على موقعهاالإلكتروني والمواقع والتطبيقات التابعة لها أو لشركة المنصات الذكية،وأنكتعطينا حقا غير حصري وغير مشروط ودائملارجعةفيه في جميع أنحاء العالم على استخدامهافيالأنشطةالترويجيةوالمنشوراتالالكترونية والغير الألكترونية، وأنك موافق بالاستخداموالاستنساخ،والعرض،وإعادةالإنتاجأوالتوزيعأوإعادةالترخيص، وبناء عليه فإنه يقبلالشخصالقائمتحميلالصور تحملالمسؤوليةالقانونيةوالأخلاقيةالكاملةالناتجةعنجميعالمطالباتالقانونيةالتييتمإجراؤهابواسطةأيطرفثالث. إن Up-parttimeتُخليمسئوليتها منالمسؤوليةالقانونيةلجميعالصورالتيتمتحميلهاأونشرها على موقعها من قبل المعلنين والمشاركين والمستفيدين.

<br>
10.	تحمل المسئولية قانونيا على نوع الخدمة أو العمل الذي تقوم به:
باستخدامك منصتنا فإنك لوحدك تتحمل المسئولية كاملة حيال بلدكإن كنت مواطناً، أو البلد الذي تقيم فيه إن كنت مقيماً، أو أي بلد آخر نحو قيامك بأي عمل أو خدمة محضورة في هذا البلد أو أي استخدام يخالف نظامه أو يخالف نظام البلد الذي تعمل فيه أو تقوم بالخدمة لصالح مواطنيه. 

<br>
11.	لا تعمل مع منظمات إرهابية أو تؤيدها:
سواء كنت فرداً أم منشأة فإنك بموجب هذه الاتفاقية تقر بأنك لا تعمل مع أي منظمة من أي نوع مسجلة في قوائم الإرهاب أو تؤيده، أو تعمل ضد الحكومات الأعضاء في هيئة الأمم المتحدة ما لم تكن ضمن أحزاب المعارضة النظامية. وإن الشركة وجميع الشركات أو المنظمات أو الأفراد التابعين لها أو التعاونين معها غير مسئولين عن انتمائك السياسي أو الفكري أو التنظيمي، وأنه يحق لنا فور علمنا يقينا بانتمائك إلى مثل هذه التيارات أو التنظيمات غير القانونية إلغاء اشتراكك فوراً مع عدم خلو مسئوليتك من الالتزامات المالية والقانونية المترتبة عليك.

<br>
12.	عدم تنفيذ أو طلب عمل ممنوع عرفاً أو قانونا:
كصاحب عمل توافق بأنك لا تطلب إجراء أي عمل في بلدك أو من عامل مستقل في بلد آخر أو تنفيذ عمل في أي بلد إلا وأنت مسموح لك بهذا العمل قانوناً في تلك البلاد.
كما توافق بأنك كعامل أو صاحب عمل لا تمارس أو تقوم بأي عمل أو تطلب من عامل خلال Up-parttime القيام بنشاط أو عمل من أي نوع مخالف لنظام البلد الذي تعمل فيه أو في البلد الذي يقيم فيه الطرف الآخر، أو تطلب أي عمل يحقر الأعراف الدينية أو الأخلاقية أو القانونية، وأنك لا تقوم بتنفيذ أو تطلب تنفيذ عمل من شأنه أن يصنف كعمل إرهابي في ذلك البلد أو غيره أو فيه شيء من العنصرية أو يحث على العنف بأي نوع من هذه الأنواع. أو القيام بعمل يمت إلى المخدرات أو البغاء أو الجنس أو الاتجار بالبشر بصلة.  
<br>
13.	التوقيع الألكتروني:
أي موافقة على أي اتفاقية بيننا أو بنك وبين الطرف الآخر بالضغط على ( موافق ) أو ( استمر ) أو ( التالي ) أو ا( إنهاء ) أو أي عبارة تفيد أنك موافق أو الإشارة  أمام أي من العبارات التي تفهم بأنك موافق فإنه بموجب هذه الإتفاقية يعتبر توقيعا ألكترونيا بالقبول والموافقة، ملزما حسب الأنظمة والقوانين المرعية. 
<br>
14.	الموافقة على استخدام السجلات الألكترونية بدلاً من السجلات الورقية :
من طبيعة عمل منصتنا Up-parttime استخدام السجلات الإلكترونية في جميع تعاملاتنا مثل المراسلات والتعميدات وأوامر العمل والإشعارات والسجلات بيننا وبين عملائنا سواء أفراد أو شركات، لذا فإنك توافق على إرسال واستقبال كل ذلك ألكترونياً فقط..
<br>

15.	مراسلاتنا لكم:
بدخولكم منصاتنا فإنكم توافقون على تلقي رسائلنا والشركات التابعة لنا أو الشركات المعمدة من قبلنا أو ووكلائنا  في بريدكم الألكترونيأو صفحتك فيالمنصةأو هاتفك المحمول أو في حسابك في وسائل التواصل  سواء لإبلاغكم عن حجزكم أو معلومات عنه أو طلب تقييم للمنشأة التي بحثتم عنها أو رسائل دعائية في مجالنا، وسوف نضع رابط في الرسائل الدعائية تمكنكم من طلب إيقاف مثل هذه الرسائل. وعليه فإنك تتحمل ما تيرتب على ذلك من فوات بعض الفرص أو المنفعة، أو معرفة التعديلات في الاتفاقيات، أو أي إشعات مهمة، كما أنك توافق بأن الإلغاء سوف لن يكون فورياً، لمنح الإدارة الإطلاع على طلبك وتنفيذه. مع أن الإدارة لها الحق في الاستمرار في إرسال بعض الرسائل المهمة ولو قمت بإلغاء الرسائل.

<br>
16.	حقوقالملكيةالفكرية للمنصة:
 إن شركة المنصات الذكية المحدودةتملك الحقوق الملكية والفكرية بموجب القانون للبرمجيات والتصاميم والنصوص والشعارات والأسماء والعلامات التجارية والرموز الخاصة بها. كذلك تعليقات المستفيدين المستخدمة في جميع مواقعها وتطبيقاتها. 
وليس أي أحدمخولًابنسخأوكشطأواستخدامالروابطأونشرأوترويجأوتسويقأودمجأواستخدام أي شيء من المحتوىدونالحصولعلىإذنخطي معتمد من الإدارة العامة.

إنك توافق على أن لك ترخيصاً محدوداً لاستخدام Up-parttimeوالدخول في الصفحات المسموح لك الدخول فيها لغرض استخدامه فيما هو محدد لك في شروط الخدمة، ولا يجوز لك الدخول بأي وسيلة أخرى غير الواجهة المقدمةولن تستخدم معلومات من المنصة أو خدمات المنصة لأي أغراض أخرى غير الأغراض التي سجلت من أجلها.
كما توافق على عدم إعداد أعمال مشتقة من المنصة تستند إلى أو إعادة نشر أو استخدام أي محتوى من المنصة أو خدماتها بأي شكل من الأشكال لأي غرض عام أو تجاري أو خاص بدون موافقة خطية مسبقة من Up-partte. توافق على أنه غير مسموح لك أن تستخدم أي محتوى من المنصة أو خدمات المنصةفي أي موقع ويب آخر أو في بيئة حاسوبية متصلة بالشبكة لأي غرض باستثناء المشاهدة الخاصة بك دون موافقة كتابية مسبقة من Up-parttime.
توافق على عدم وضع إطار أو ارتباط بموقع المنصة أو خدماتها باستثناء ما هو مسموح به كتابياً فيUp-parttime .
توافق وتعلم أننا نجرم محاولة أي إجراء تعديل برمجي أو تصميم أو تكييف أو ترجمة أو إعداد أعمال مشتقة منه أو إلغاء أو محاولة التدخل في تشغيل أو محاولة اشتقاق شفرة المصدر من أي جزء من المنصة أو خدمات المنصة ما لم يسمح بذلك صراحة القانون. أو الوصول إلى أي جزء من المنصة من أجل بناء خدمة أو تطبيق مماثل أو مشابه أو منافس. 



</p>
