.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .li {
    transition: all 200ms ease-in;
  }
  
  .timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
  }
  
  .status {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
  }
  .status h4 {
    font-weight: 600;
  }
  .status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
  }
  
  .li.complete .status {
    border-top: 2px solid #4a8ee6;
    min-height: 50px;
  }
  .li.complete .status:before {
    background-color: #4a8ee6;
    border: none;
    transition: all 200ms ease-in;
  }
  .li.complete .status h4 {
    color: #4a8ee6;
  }
  
  @media (min-width: 320px) and (max-width: 700px) {
    /* .timeline {
      list-style-type: none;
      display: block;
    }
  
    .li {
      transition: all 200ms ease-in;
      display: flex;
      width: inherit;
    }
  
    .timestamp {
      width: 100%;
    }
    .timestamp {
      margin-bottom: 0px;
      padding: 0px 5px;
     
  }
  
    .status:before {
      left: -8%;
      top: 30%;
      transition: all 200ms ease-in;
    } */
  }
  @media screen and (max-width: 768px) {

    .timeline {
      list-style-type: square;
      display: block;
    }
  
    .li {
      transition: all 200ms ease-in;
      display: flex;
      width: inherit;
      
    }
  
    .timestamp {
      width: 50%;
    }
    .timestamp {
      margin-bottom: 0px;
      padding: 0px 5px;
     
  }
  
    .status:before {
        /* left: -191%;
        top: -25%;
        transition: all 200ms ease-in;
        transition: all 200ms ease-in; */
        display: none;
    }
    /* .timestamp:before {
      content: "";
      width: 25px;
      height: 25px;
      background-color: #4a8ee6;
      border-radius: 25px;
      border: 1px solid #4a8ee6;
      position: absolute;
      top: -15px;
      left: 42%;
      transition: all 200ms ease-in;
    } */
    
    .li.complete .status {
      border-top: none;
      /* border-left: 2px solid #4a8ee6; */
     }
     .li.complete .timestamp {
      border-top:none;
      border-left: 2px solid #4a8ee6;
     }
     
     
     .timestamp {
      margin-bottom: 20px;
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      font-weight: 100;
  }
  .status {
    padding: 0px 10px;
  }

  }


  html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* font-family: "Titillium Web", sans serif; */
    /* color: #758D96; */
  }
  
  button {
    position: absolute;
    width: 100px;
    min-width: 100px;
    padding: 20px;
    margin: 20px;
    /* font-family: "Titillium Web", sans serif; */
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
  }
  
  #toggleButton {
    position: absolute;
    left: 50px;
    top: 20px;
    background-color: #75C7F6;
  }
time{
    font-size: 10px;
}  
p{
    margin-top: 10px;
}
.text_blue{
    font-weight: 600
}