<div
  class="modal fade terms-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue">
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button
          type="button"
          class="close "
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 80vh; overflow-y: scroll;">
        <app-terms-english *ngIf="modalPage == 0"></app-terms-english>
        <app-privacy-english *ngIf="modalPage == 1"></app-privacy-english>
        <app-cookies *ngIf="modalPage == 2"></app-cookies>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white vh-100">
  <!-- iconrow -->

  <div class="row ">
    <div
      class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto"
    >
      <div class="container  mt-4">
        <!-- <form class="form-horizontal py-2" role="form" method="POST" onsubmit="openModal()" id="Form_signuppersonal"> -->

        <div *ngIf="service.getStorage('emailVerify') == 'false'" class="row">
          <div class="col-md-12 mx-auto bkgdarkblue text-white m-2">
            <p class="text-white">
              {{ "title_email_verify_message" | translate }}
              {{ "verify_email_address" | translate }}
              <button class="btn accept_icon1" (click)="service.sendEmail()">
                {{ "r_send" | translate }}
              </button>
              <!-- <a href="">
                              <u>{{'verify_email_address' | translate}}</u>
                          </a> -->
            </p>
          </div>

          <!-- <div class="col-md-12 mx-auto mt-2 mb-2">
                                      <h4>Add personal information</h4>
                                      <hr>
                                  </div> -->
        </div>

        <div class="row " style="background-color: #ccc;">
          <div class="col-md-4 ">
            <div class=" w-100">
              <div class="arrowreg_page_ash">
                <p class=" t_w text-dark">
                  {{
                    (employerType == "company"
                      ? "add_company_details"
                      : "addyourdetails") | translate
                  }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class=" w-100">
              <div class="arrowreg_page">
                <p class=" text-white mx-2">
                  {{
                    (employerType == "company"
                      ? "add_manager_details"
                      : "addyourjoblocation") | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- multistep form -->

          <form id="msform" [formGroup]="signupForm" role="form" method="POST">
            <!-- progressbar -->

            <div class="d-none">
              <ul id="progressbar">
                <li>
                  {{
                    (employerType == "company"
                      ? "add_company_details"
                      : "addyourdetails") | translate
                  }}
                </li>

                <!-- <li>Educational setup</li> -->

                <li class="active">
                  {{
                    (employerType == "company"
                      ? "add_manager_details"
                      : "addyourjoblocation") | translate
                  }}
                </li>
              </ul>
            </div>
            <!---------------------------COMPANy---------------------------------------------->
            <fieldset *ngIf="employerType == 'company'" class="mt-4">
              <!-- <h2 class="fs-title">{{'add_company_details' | translate }}</h2>

                            <h3 class="fs-subtitle">{{'about_your_company' | translate }}</h3> -->

              <div class="row text-left">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-left">
                        <b>{{ "manager_in_charge" | translate }}</b>
                      </p>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label class="labelrequired" for="password">{{
                        "first_name" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            formControlName="ma_fname"
                            class="form-control"
                            [(ngModel)]="prMfname"
                            id="ma_fname"
                            placeholder="{{ 'first_name' | translate }}"
                            required="required"
                            autofocus="autofocus"
                            maxlength="50"
                          />
                        </div>
                        <p
                          class="help-block danger"
                          *ngIf="
                            !this.signupForm.get('ma_fname').valid &&
                            buttonClick == 1
                          "
                        >
                          {{ validationMsg.managerFnameInvalid }}
                        </p>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="">{{
                        "middle_name" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            name="name"
                            class="form-control"
                            [(ngModel)]="prMmname"
                            id="ma_mname"
                            formControlName="ma_mname"
                            placeholder="{{ 'middle_name' | translate }}"
                            required="required"
                            autofocus="autofocus"
                            maxlength="50"
                          />
                        </div>
                        <!-- <p class="help-block danger" *ngIf="!this.signupForm.get('ma_mname').valid && buttonClick==1">{{validationMsg.managerMnameInvalid}}</p> -->
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label class="labelrequired" for="password">{{
                        "last_name" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            name="name"
                            class="form-control"
                            id="ma_lname"
                            [(ngModel)]="prMlname"
                            formControlName="ma_lname"
                            placeholder="{{ 'last_name' | translate }}"
                            required="required"
                            autofocus="autofocus"
                            maxlength="50"
                          />
                        </div>

                        <p
                          class="help-block danger"
                          *ngIf="
                            !this.signupForm.get('ma_lname').valid &&
                            buttonClick == 1
                          "
                        >
                          {{ validationMsg.managerLnameInvalid }}
                        </p>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="labelrequired">{{
                        "position" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            name="name"
                            class="form-control"
                            id="ma_position"
                            [(ngModel)]="prMposition"
                            formControlName="ma_position"
                            placeholder="{{ 'position' | translate }}"
                            required="required"
                            autofocus="autofocus"
                            maxlength="50"
                          />
                        </div>

                        <span
                          class="danger"
                          *ngIf="
                            !signupForm.get('ma_position').valid &&
                            buttonClick == 1
                          "
                          >{{ validationMsg.managerPositionInvalid }}</span
                        >
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{
                        "his_mobile_no" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            (keydown)="service.validateInputKey($event)"
                            name="name"
                            class="form-control"
                            disabled
                            [(ngModel)]="prMmob"
                            id="ma_mobile"
                            formControlName="ma_mobile"
                            placeholder="{{ 'his_mobile_no' | translate }}"
                            required="required"
                            autofocus="autofocus"
                            maxlength="10"
                          />
                        </div>

                        <!-- <span class="danger" *ngIf="!signupForm.get('ma_mobile').valid && signupForm.get('ma_mobile').touched">{{validationMsg.managerMobileInvalid}}</span> -->
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label class="label" for="password">{{
                        "his_phone_no" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            (keydown)="service.validateInputKey($event)"
                            name="name"
                            class="form-control"
                            [(ngModel)]="prMphn"
                            id="ma_phone"
                            formControlName="ma_phone"
                            placeholder="{{ 'his_phone_no' | translate }}"
                            required="required"
                            autofocus="autofocus"
                            maxlength="15"
                          />
                        </div>

                        <!-- <span class="danger" *ngIf="!signupForm.get('ma_phone').valid && buttonClick==1">{{validationMsg.managerPhoneInvalid}}</span> -->
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label class="" for="password">{{
                        "his_email" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            name="name"
                            class="form-control"
                            [(ngModel)]="prMemail"
                            id="ma_email"
                            formControlName="ma_email"
                            placeholder="{{ 'his_email' | translate }}"
                            required="required"
                            autofocus="autofocus"
                            maxlength="50"
                          />
                        </div>

                        <!-- <span class="danger" *ngIf="!signupForm.get('ma_email').valid && buttonClick==1">{{validationMsg.managerEmailInvalid}}</span> -->
                      </div>
                    </div>
                    <div class="col-md-12">
                      <p class="text-left">
                        <b>{{ "executive_manager_in_charge" | translate }}</b>
                      </p>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="">{{
                        "executive_manager" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            name="name"
                            [(ngModel)]="prExname"
                            class="form-control"
                            maxlength="50"
                            id="ex_name"
                            formControlName="ex_name"
                            placeholder="{{ 'executive_manager' | translate }}"
                            required="required"
                            autofocus="autofocus"
                          />
                        </div>

                        <!-- <span class="danger" *ngIf="!signupForm.get('ex_name').valid && signupForm.get('ex_name').touched">{{validationMsg.required}}</span> -->
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label class="" for="password">{{
                        "his_mobile_no" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            name="name"
                            maxlength="10"
                            [(ngModel)]="prExmob"
                            class="form-control"
                            (keydown)="service.validateInputKey($event)"
                            id="ex_mobile"
                            formControlName="ex_mobile"
                            placeholder="{{ 'his_mobile_no' | translate }}"
                            required="required"
                            autofocus="autofocus"
                          />
                        </div>

                        <span
                          class="danger"
                          *ngIf="
                            signupForm.get('ex_mobile').value &&
                            signupForm.get('ex_mobile').value.length != 10 &&
                            buttonClick == 1
                          "
                          >{{ validationMsg.invalidMobile }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="">{{
                        "his_phone_no" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            [(ngModel)]="prExphn"
                            maxlength="15"
                            name="name"
                            class="form-control"
                            (keydown)="service.validateInputKey($event)"
                            id="ex_phone"
                            formControlName="ex_phone"
                            placeholder="{{ 'his_phone_no' | translate }}"
                            required="required"
                            autofocus="autofocus"
                          />
                        </div>

                        <!-- <span class="danger" *ngIf="!signupForm.get('ex_phone').valid && signupForm.get('ex_phone').touched">{{validationMsg.inavlidPhone}}</span> -->
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="">{{
                        "his_email" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            autocomplete="off"
                            name="name"
                            maxlength="50"
                            [(ngModel)]="prExemail"
                            class="form-control"
                            id="ex_email"
                            formControlName="ex_email"
                            placeholder="{{ 'his_email' | translate }}"
                            required="required"
                            autofocus="autofocus"
                          />
                        </div>

                        <!-- <span class="danger" *ngIf="!signupForm.get('ex_email').valid && signupForm.get('ex_email').touched">{{validationMsg.inavalidEmail}}</span> -->
                      </div>
                    </div>

                    <div class="col-md-12">
                      <p class="text-left labelrequired">
                        <b
                          >{{ "confirm_your_company_location" | translate }}
                        </b>
                      </p>
                      <input
                        [(ngModel)]="location"
                        placeholder="{{ 'searchlocation' | translate }}"
                        autocorrect="off"
                        autocapitalize="off"
                        formControlName="companyLocation"
                        spellcheck="off"
                        type="text"
                        class="form-control"
                        #search
                      />
                      <!-- {{searchElementRef.nativeElement}} -->
                      <p
                        class="danger"
                        *ngIf="
                          buttonClick == 1 &&
                          !this.signupForm.get('companyLocation').valid
                        "
                      >
                        {{ validationMsg.companyLocation }}
                      </p>
                      <agm-map
                        #map
                        [latitude]="lat"
                        [longitude]="lng"
                        [zoom]="zoom"
                        [disableDefaultUI]="false"
                        [zoomControl]="false"
                        [styles]="service.mapStyle"
                        (mapClick)="mapClicked($event)"
                      >
                        <agm-marker
                          *ngFor="let m of markers; let i = index"
                          (markerClick)="clickedMarker(m.label, m)"
                          [latitude]="m.lat"
                          [longitude]="m.lng"
                          [label]="m.label"
                          style="transition-delay: 25s;"
                          [markerDraggable]="m.draggable"
                          (dragEnd)="markerDragEnd(m, $event)"
                        >
                        </agm-marker>
                      </agm-map>
                    </div>

                    <div class="col-md-12 mt-3">
                      <div *ngIf="service.getStorage('registerLevel') != '0'">
                        <input
                          type="checkbox"
                          name="terms"
                          id="terms"
                          [checked]="prTerm == 1"
                          [(ngModel)]="prTerm"
                          formControlName="terms"
                        />
                        <label class="labelrequired">
                          <a class="terms_tick">
                            &nbsp;&nbsp;{{ "terms1" | translate }}
                            <span
                              (click)="modalPage = 0"
                              data-toggle="modal"
                              data-target=".terms-modal-lg"
                            >
                              <u> {{ "terms2" | translate }}</u>
                            </span>
                            <span
                              (click)="modalPage = 1"
                              data-toggle="modal"
                              data-target=".terms-modal-lg"
                            >
                              &nbsp; <u> {{ "privacy" | translate }}</u>
                            </span>
                            {{ "and" | translate }}
                            <span
                              (click)="modalPage = 2"
                              data-toggle="modal"
                              data-target=".terms-modal-lg"
                            >
                              &nbsp; <u> {{ "cookies" | translate }}</u>
                            </span>
                          </a>
                        </label>
                        <br />
                      </div>
                      <input
                        type="checkbox"
                        name="terms"
                        id="terms"
                        [checked]="prMap == 1"
                        formControlName="map"
                      />&nbsp;

                      {{ "terms4" | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <input
                type="button"
                name="previous"
                id="previous"
                (click)="previous()"
                class="previous btn_alkafu"
                value="{{ 'previous' | translate }}"
              />
              &nbsp;

              <input
                type="button"
                name="submit"
                [ngStyle]="{ cursor: step2btnValid }"
                class="submit btn_alkafu"
                value="{{ 'submit' | translate }}"
                (click)="managerDetails()"
              />
            </fieldset>
            <!--------------------------------------------INDIVIDUAL---------------------------------------->
            <fieldset *ngIf="employerType != 'company'" class="mt-4">
              <div class="row text-left">
                <div class="col-md-12">
                  <p class="text-left labelrequired">
                    <b>{{ "yourlocation" | translate }} </b>
                  </p>
                  <input
                    [(ngModel)]="location"
                    placeholder="{{ 'searchlocation' | translate }}"
                    autocorrect="off"
                    autocapitalize="off"
                    formControlName="companyLocation"
                    spellcheck="off"
                    type="text"
                    class="form-control"
                    #search
                  />
                  <!-- {{searchElementRef.nativeElement}} -->
                  <p
                    class="danger"
                    *ngIf="
                      buttonClick == 1 &&
                      !this.signupForm.get('companyLocation').valid
                    "
                  >
                    {{ validationMsg.companyLocation }}
                  </p>
                  <agm-map
                    [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="false"
                    [styles]="service.mapStyle"
                    (mapClick)="mapClicked($event)"
                  >
                    <agm-marker
                      *ngFor="let m of markers; let i = index"
                      (markerClick)="clickedMarker(m.label, i)"
                      [latitude]="m.lat"
                      [longitude]="m.lng"
                      [label]="m.label"
                      [markerDraggable]="m.draggable"
                      (dragEnd)="markerDragEnd(m, $event)"
                    >
                    </agm-marker>
                  </agm-map>
                </div>

                <div class="col-md-12 mt-3">
                  <div *ngIf="service.getStorage('registerLevel') != '0'">
                    <input
                      type="checkbox"
                      name="terms"
                      id="terms"
                      [checked]="prTerm == 1"
                      [(ngModel)]="prTerm"
                      formControlName="terms"
                    />
                    <label class="labelrequired">
                      <a class="terms_tick">
                        &nbsp;&nbsp;{{ "terms1" | translate }}
                        <span
                          (click)="modalPage = 0"
                          data-toggle="modal"
                          data-target=".terms-modal-lg"
                        >
                          <u> {{ "terms2" | translate }}</u>
                        </span>
                        <span
                          (click)="modalPage = 1"
                          data-toggle="modal"
                          data-target=".terms-modal-lg"
                        >
                          &nbsp; <u> {{ "privacy" | translate }}</u>
                        </span>
                        {{ "and" | translate }}
                        <span
                          (click)="modalPage = 2"
                          data-toggle="modal"
                          data-target=".terms-modal-lg"
                        >
                          &nbsp; <u> {{ "cookies" | translate }}</u>
                        </span>
                      </a>
                    </label>
                    <br />
                  </div>
                  <input
                    type="checkbox"
                    name="terms"
                    id="terms"
                    [checked]="prMap == 1"
                    formControlName="map"
                  />&nbsp;

                  {{ "terms4" | translate }}
                </div>
              </div>
              <input
                type="button"
                name="previous"
                id="previous"
                (click)="previous()"
                class="previous btn_alkafu"
                value="{{ 'previous' | translate }}"
              />
              &nbsp;

              <input
                type="button"
                name="submit"
                [ngStyle]="{ cursor: step2btnValid }"
                class="submit btn_alkafu"
                value="{{ 'submit' | translate }}"
                (click)="managerDetails()"
              />
            </fieldset>
          </form>
        </div>

        <!-- row -->
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>
