
                                    <h5> {{'Notification_settings' | translate}} </h5>

                                    <div class="card b_shadow">
                                        <div class="card-body">
                                            <h5 class="card-title"> {{'messages' | translate}} </h5>

                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <label> {{'show_notification_for' | translate}} </label>
                                                        </div>

                                                        <div class="col-md-7">
                                                            <div class="form-group pass_show">
                                                                <select class="form-control" id="exampleSelect1">
                                                                    <option>All activity</option>

                                                                    <option>Incoming Messages</option>

                                                                    <option>New offers</option>

                                                                    <option>New invitations</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <label>
                                                                {{'Send_email_unread' | translate}}
                                                            </label>
                                                        </div>

                                                        <div class="col-md-7">
                                                            <div class="form-group pass_show">
                                                                <select class="form-control" id="exampleSelect1">
                                                                    <option>All activity</option>

                                                                    <option>Incoming Messages</option>

                                                                    <option>New offers</option>

                                                                    <option>New invitations</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-2">
                                                            <button class="btn btn_alkafu  btn-block" type="button">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="card-body MY-3">
                                            <h5 class="card-title">
                                                {{'other_upparttime_email_updates' | translate}}
                                            </h5>

                                            <small>
                                                Send email notification to s********@gmail.com when ..
                                            </small>

                                            <div class="row my-2">
                                                <div class="col-md-6">
                                                    <h5 class="mt-2">Recruiting</h5>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group pass_show">
                                                        <label>Receive recruiting emails for</label>

                                                        <select class="form-control" id="exampleSelect1">
                                                            <option>Only job I post</option>

                                                            <option>Incoming Messages</option>

                                                            <option>New offers</option>

                                                            <option>New invitations</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div _ngcontent-c6="" class="col-md-12">
                                                    <!-- <p _ngcontent-c6=""><b _ngcontent-c6="">Status</b></p> -->

                                                    <div _ngcontent-c6="" class="custom-control custom-radio">
                                                        <input _ngcontent-c6="" checked="checked" class="custom-control-input"
                                                            id="Anystatus" name="statusRadio" type="radio" />

                                                        <label _ngcontent-c6="" class="custom-control-label" for="Anystatus">A
                                                            job is posted or modified</label>
                                                    </div>

                                                    <div _ngcontent-c6="" class="custom-control custom-radio">
                                                        <input _ngcontent-c6="" class="custom-control-input" id="OpenRadio1"
                                                            name="statusRadio" type="radio" />

                                                        <label _ngcontent-c6="" class="custom-control-label" for="OpenRadio1">A
                                                            proposal is received</label>
                                                    </div>

                                                    <div _ngcontent-c6="" class="custom-control custom-radio">
                                                        <input _ngcontent-c6="" class="custom-control-input" id="AwardedRadio2"
                                                            name="statusRadio" type="radio" />

                                                        <label _ngcontent-c6="" class="custom-control-label" for="AwardedRadio2">
                                                            An interview is accepted or offer terms are modified
                                                        </label>
                                                    </div>

                                                    <div _ngcontent-c6="" class="custom-control custom-radio">
                                                        <input _ngcontent-c6="" class="custom-control-input" id="PendingRadio3"
                                                            name="statusRadio" type="radio" />

                                                        <label _ngcontent-c6="" class="custom-control-label" for="PendingRadio3">
                                                            An interview or offer is declined or withdrawn
                                                        </label>
                                                    </div>

                                                    <div _ngcontent-c6="" class="custom-control custom-radio">
                                                        <input _ngcontent-c6="" class="custom-control-input" id="DisabledRadio3"
                                                            name="statusRadio" type="radio" />

                                                        <label _ngcontent-c6="" class="custom-control-label" for="DisabledRadio3">An
                                                            offer is accepted</label>
                                                    </div>

                                                    <div _ngcontent-c6="" class="custom-control custom-radio">
                                                        <input _ngcontent-c6="" class="custom-control-input" id="CompletedRadio3"
                                                            name="statusRadio" type="radio" />

                                                        <label _ngcontent-c6="" class="custom-control-label" for="CompletedRadio3">
                                                            A job posting will expire soon
                                                        </label>
                                                    </div>

                                                    <div _ngcontent-c6="" class="custom-control custom-radio">
                                                        <input _ngcontent-c6="" class="custom-control-input" id="ClosedRadio3"
                                                            name="statusRadio" type="radio" />

                                                        <label _ngcontent-c6="" class="custom-control-label" for="ClosedRadio3">A
                                                            job posting expired</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row my-2">
                                                <div class="col-md-12">
                                                    <h5 class="mt-2">Employee and agency proposal</h5>
                                                </div>

                                                <div _ngcontent-c6="" class="col-md-12 mx-auto">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="custom-control custom-radio">
                                                                <input checked="checked" class="custom-control-input"
                                                                    id="proposal1" name="proposal1" type="radio" />

                                                                <label class="custom-control-label" for="proposal1">A
                                                                    proposal is submitted</label>
                                                            </div>

                                                            <div class="custom-control custom-radio">
                                                                <input checked="checked" class="custom-control-input"
                                                                    id="proposal2" name="proposal2" type="radio" />

                                                                <label class="custom-control-label" for="proposal2">An
                                                                    interview is initiated</label>
                                                            </div>

                                                            <div class="custom-control custom-radio">
                                                                <input checked="checked" class="custom-control-input"
                                                                    id="proposal3" name="proposal3" type="radio" />

                                                                <label class="custom-control-label" for="proposal3">
                                                                    An offer or interview invitation is received
                                                                </label>
                                                            </div>

                                                            <div class="custom-control custom-radio">
                                                                <input checked="checked" class="custom-control-input"
                                                                    id="proposal3" name="proposal3" type="radio" />

                                                                <label class="custom-control-label" for="proposal3">
                                                                    An offer or interview invitation is withdrawn
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-2">
                                                    <button class="btn btn_alkafu  btn-block" type="button">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p style="visibility: hidden;">
                                        Aliquam hendrerit nunc vitae nisi efficitur, eu porta sem aliquam. Aenean
                                        tincidunt mi sed mi sodales bibendum. Proin dolor ipsum, mollis venenatis velit
                                        eu, iaculis laoreet mi. Mauris eget egestas felis, sit amet finibus nunc.
                                        Aliquam non dui sit amet erat auctor mollis ac eget ante. Quisque at quam
                                        augue. Nulla dignissim, augue nec cursus consequat, mi nulla efficitur augue,
                                        vel fringilla turpis quam eu nunc. Quisque rutrum vehicula lacus sodales
                                        molestie. Mauris vel felis sit amet erat maximus cursus ut a velit. In hac
                                        habitasse platea dictumst. Vestibulum vel neque sit amet nisl finibus
                                        fermentum.
                                    </p>
                                