.modal-body .row {
    padding: 10px;
}

.modal-header .close {
    margin: -11px;
    color: #ffff;
}

.modal-header { 
    background: #001c4e;
    color: white;
}

.modal-footer .btn {
    background: #001c4e;
    color: #ffff;
    border-radius: 5px;
    padding: 5px 20px;
}