<div class="row mb-2">
  <div class="col-md-6">
    <input type="text" [(ngModel)]="variable.search" class="form-control" maxlength="70" placeholder="{{'search' | translate}}">
  </div>
  <div class="col-md-2">
    <button (click)="search()" class="btn btn-info"><i class="fa fa-search"> </i></button>

  </div>
</div>
<app-smart-table (customEvent)="customEvent($event)"
[tableSetting]=settings
[tableData]="this.variable.paymentList | paginate: { itemsPerPage: 20, currentPage: page,totalItems:variable.totalCount }" ></app-smart-table>
<pagination-controls (pageChange)="page = $event;pageChange()"></pagination-controls>

<!------MODAL-->
<ng-template #bankDetailsModal let-c="close" let-d="dismiss" class="mode">
  <div class="modal-header">
    <h4 class="card-title">{{ modalTitile | titlecase }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div  *ngIf="modalTitile == 'Bank Details'">
    <div class="row">
        <div class="col-sm-4">{{ 'accountHolderName' | translate }}</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7">{{ bankDetails.accountHolderName }}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">{{ 'accountNumber' | translate }}</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7">{{ bankDetails.accountNumber }}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">{{ 'paymentDetailsId' | translate }}</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7">{{ bankDetails.paymentDetailsId }}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{ 'paymentType' | translate }}</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-7">{{ bankDetails.paymentType }}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{ 'routingNumber' | translate }}</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-7">{{ bankDetails.routingNumber }}</div>
    </div>
    </div>
    <div *ngIf="modalTitile === 'Process Payment Request'">
        <form novalidate
        [formGroup]="processRequest">
        <div class="form-group">
            <label>Comment</label>
            <textarea placeholder="Comment" rows="3" class="form-control" formControlName="comment"></textarea>
          </div>
          <div class="form-group">
              <label>Status</label>
              <div>
                  <input type="radio" name="status"  formControlName="status" value="Approve" checked> Approve &nbsp;&nbsp;
                  <input type="radio" name="status" formControlName="status" value="Reject"> Reject 
              </div>
            </div>
        </form>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn " (click)="d('Cross click')"  *ngIf="modalTitile == 'Bank Details'">ok</button>
      <!-- <button type="button" class="btn " [disabled]="!processRequest.valid" (click)="c('Save click');processPaymentRequest;d('Cross click')" *ngIf="modalTitile === 'Process Payment Request'">Process</button> -->
      <button type="button" class="btn " [disabled]="!processRequest.valid" (click)="c('Save click')" *ngIf="modalTitile === 'Process Payment Request'">Process</button>
      <button type="button" class="btn " (click)="d('Cross click')" *ngIf="modalTitile === 'Process Payment Request'">Cancel</button>
  </div>
</ng-template>
