<!-- Header with Background Image -->
<!-- Modal -->
<div
  class="modal fade"
  id="Modalinviteinterview"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white "> {{ "terms_of_employee" | translate }} </span>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div *ngIf="proposalType == 2" class="col-md-12">
          <p class="mt-2  mb-2 font-weight-bold text-left">
            {{ "amount_you_would_like_to_bid" | translate }}
          </p>

          <form [formGroup]="jobForm">
            <p class="mt-2  mb-2 text-left">
              {{ "your_profile_rate" | translate }} :-
            </p>

            <div class="row">
              <!-- <div class="col-md-4 field-label-responsive text-left">
                      <label for="password" class="labelrequired"> {{'hourly_rate' | translate}} </label>
                    </div> -->
              <div
                *ngIf="this.jobForm.get('wageMode').value == 'hourly'"
                class="col-md-4 field-label-responsive text-left"
              >
                <label for="password" class="labelrequired">{{
                  "minimumhour" | translate
                }}</label>
              </div>

              <div
                *ngIf="this.jobForm.get('wageMode').value == 'hourly'"
                class="col-md-6"
              >
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>

                    <div class="input-group mb-3">
                      <input
                        type="text"
                        maxlength="4"
                        (keydown)="service.validateInputKey($event)"
                        class="form-control"
                        placeholder="{{ 'minimumhour' | translate }}"
                        formControlName="minhour"
                        aria-label="Recipient's username"
                        aria-describedby="basic-addon2"
                      />

                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">
                          {{ "hr" | translate }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <span
                    class="danger"
                    *ngIf="
                      !this.jobForm.get('minhour').valid && submitError == true
                    "
                    >{{ validationMsg.invalidMinhour }}</span
                  ><br />
                  <span
                    class="danger"
                    *ngIf="
                      this.jobForm.get('minhour').valid &&
                      this.jobForm.get('minhour').value > 24 &&
                      submitError == true
                    "
                    >{{ validationMsg.invalidMinHour }}</span
                  >
                </div>
              </div>
              <div
                *ngIf="this.jobForm.get('wageMode').value == 'hourly'"
                class="col-md-4 field-label-responsive text-left"
              >
                <label for="password" class="labelrequired">
                  {{ "hourly_rate" | translate }}</label
                >
              </div>

              <div
                *ngIf="this.jobForm.get('wageMode').value == 'hourly'"
                class="col-md-6"
              >
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>

                    <div class="input-group mb-3">
                      <input
                        type="text"
                        maxlength="4"
                        (keydown)="service.validateInputKey($event)"
                        class="form-control"
                        placeholder="Hourly rate"
                        formControlName="hourlyWages"
                        aria-label="Recipient's username"
                        aria-describedby="basic-addon2"
                      />

                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">
                          {{ "defaultcurrency" | translate }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <span
                    *ngIf="
                      this.jobForm.get('hourlyWages').valid &&
                      this.jobForm.get('minhour').valid &&
                      this.jobForm.get('hourlyWages').value >= this.standardWage
                    "
                  >
                  {{'uptoxhrs' | translate : {'hrs':this.jobForm.get("minhour").value} }}
                    
                    {{
                      this.jobForm.get("minhour").value *
                        this.jobForm.get("hourlyWages").value
                    }}&nbsp; {{ "defaultcurrency" | translate }} .
                    {{'afterXhrs' | translate : {'x' : this.jobForm.get("minhour").value } }}
                    {{
                      
                        this.jobForm.get("hourlyWages").value
                    }}
                    {{ "defaultcurrency" | translate }} / {{ "hr" | translate }}
                  </span>
                  <span
                    class="danger"
                    *ngIf="
                      !this.jobForm.get('hourlyWages').valid &&
                      submitError == true
                    "
                    >{{ validationMsg.wagesInvalid }}</span
                  ><br />
                  <!-- <span class="danger" *ngIf="!this.jobForm.get('currency').value && submitError">{{validationMsg.currencyInvalid}}</span> -->
                  <span
                    class="danger"
                    *ngIf="
                      this.jobForm.get('hourlyWages').value < this.standardWage
                    "
                    >{{ validationMsg.belowStandardWage }}</span
                  >
                </div>
              </div>

              <div
                *ngIf="this.jobForm.get('wageMode').value == 'fixed'"
                class="col-md-4 field-label-responsive text-left"
              >
                <label for="password" class="labelrequired">{{
                  "fixed_rate" | translate
                }}</label>
              </div>

              <div
                *ngIf="this.jobForm.get('wageMode').value == 'fixed'"
                class="col-md-8"
              >
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>

                    <div class="input-group mb-3">
                      <input
                        type="text"
                        maxlength="4"
                        (keydown)="service.validateInputKey($event)"
                        class="form-control"
                        placeholder="{{ 'fixed_rate' | translate }}"
                        formControlName="fixedWages"
                        aria-label="Recipient's username"
                        aria-describedby="basic-addon2"
                      />

                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">
                          {{ "defaultcurrency" | translate }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <span
                    class="danger"
                    *ngIf="
                      !this.jobForm.get('fixedWages').valid &&
                      submitError == true
                    "
                    >{{ validationMsg.invalidFixedRate }}</span
                  ><br />
                  <span
                    class="danger"
                    *ngIf="
                      this.jobForm.get('fixedWages').value < this.standardWage
                    "
                    >{{ validationMsg.belowStandardWage }}</span
                  >
                </div>
              </div>

              <div class="col-md-12">
                <app-ratecard
                  [budget]="
                    this.offer.jobDetails.hourlyWages
                      ? this.offer.jobDetails.hourlyWages
                      : this.offer.fixedWage
                  "
                  [wageMode]="this.offer.jobDetails.wageMode"
                  [minWage]="
                    this.offer.jobDetails.jobPostType != 'urgent'
                      ? this.offer.jobDetails.wageMode == 'hourly'
                        ? this.standardWage
                        : this.offer.jobDetails.fixedStandardWage
                      : this.offer.jobDetails.wageMode == 'hourly'
                      ? this.offer.jobDetails.urgentStandardWage
                      : this.offer.jobDetails.urgentFixedStandardWage
                  "
                  [minHour]="this.jobForm.get('minhour').value"
                  [proposal]="
                    this.offer.jobDetails.wageMode == 'hourly'
                      ? this.jobForm.get('hourlyWages').value
                      : this.jobForm.get('fixedWages').value
                  "
                ></app-ratecard>
              </div>

              <div class="col-md-4 field-label-responsive text-left">
                <label for="password">{{ "attachment" | translate }}</label>
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>

                    <div
                      class="input-group mb-3 file_up_style"
                      style="display: none"
                    >
                      <span class="hide_fileup ">
                        <span class="float-left" *ngIf="fileName">{{
                          service.fileNameFormater(
                            fileName[fileName.length - 1]
                          )
                        }}</span>
                        <input
                          type="file"
                          multiple
                          accept="{{ service.fileFormat }}"
                          id="upload_file"
                          class="{{ fileLoader }}"
                          (change)="fileEvent($event)"
                          formControlName="attachment"
                          placeholder="file"
                        />
                      </span>
                      <span onclick="triggerFileInput()" id="button_up">{{
                        "selectfile" | translate
                      }}</span>

                      <div *ngIf="service.loader" class="">
                        <img
                          class="img-fluid"
                          src="assets/images/loaderinput.gif"
                        />
                      </div>

                      <div class="input-group-append"></div>
                    </div>
                    <div *ngIf="counter != 0">
                      <app-editattachment
                        [attachments]="proposalAttachments"
                        [fileName]="fileName"
                        (messageEvent)="deleteFileicon($event)"
                      ></app-editattachment>
                    </div>
                    <div
                      *ngIf="this.counter < 5"
                      class="img_attach_sm img_plus "
                      onclick="triggerFileInput()"
                    >
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>

                <p class="mt-2  mb-2">
                  {{ "fileuploadlimit" | translate }}
                </p>
              </div>
              <!-- <div *ngIf="service.loader" class="col-md-1 col-3 mx-auto my-auto"><img class="img-fluid" src="assets/images/loaderinput.gif"></div> -->

              <div class="col-md-4 field-label-responsive text-left">
                <label for="password" class="labelrequired">
                  {{ "coverLetter" | translate }}</label
                >
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  <textarea
                    formControlName="coverLetter"
                    maxlength="1500"
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="8"
                  ></textarea>
                  <span
                    class="danger"
                    *ngIf="
                      !this.jobForm.get('coverLetter').valid && submitError
                    "
                    >{{ validationMsg.coverLetter }}</span
                  ><br />
                  {{ 1500 - jobForm.get("coverLetter").value.length}}&nbsp;{{'left' | translate}}
                </div>
              </div>

              <div class="col-md-4 ml-auto">
                <div class="btn-group w-100">
                  <button
                    *ngIf="proposalType == 2"
                    type="button"
                    class="btn btn_alkafu w-100 my-2"
                    (click)="submit()"
                  >
                    <i class="fa fa-check" aria-hidden="true"></i>

                    {{ "accept_invitation" | translate }}
                  </button>

                  <!-- <button type="button" class="btn btn_reject "> {{'reject' | translate}} </button> -->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div
  class="modal fade"
  id="joblist_Modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="joblist_ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="joblist_ModalLabel">Still available</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body"></div>
    </div>
  </div>
</div>

<div *ngIf="offer.length != 0" class="container-fluid mt100">
  <!-- iconrow -->

  <div class="row mt-4">
    <div
      class="col-md-12 mainheading text-center text-md-left mt-2 mb-3 mx-auto"
    >
      <div class="container  mt-2">
        <div class="row">
          <div class="col-md-9 ">
            <div class="card bx_shadow">
              <div class="card-body" style="padding-top: 7px;">
                <div class="row  topsubmenu1">
                  <div class="col-md-12 bg-medium-blue">
                    <h5 class="card-title  text-white pt-2 px-2 text-left">
                      {{ service.transform(offer.jobDetails.jobTitle) }}
                    </h5>
                  </div>

                  <div class="col-md-12 py-2">
                    <h6 class="text-left">
                      {{
                        service.transform(offer.employerDetails.employerName)
                      }}
                    </h6>
                  </div>

                  <div class="col-md-4">
                    <p class="text-left">
                      <i class="fa fa-suitcase" aria-hidden="true"></i> &nbsp;
                      {{ "experiance" | translate }} :
                      {{
                        offer.jobDetails.minExperience == 0
                          ? ""
                          : offer.jobDetails.minExperience
                      }}&nbsp;{{
                        (offer.jobDetails.minExperience == 0
                          ? "any"
                          : 'years')|translate
                      }}
                    </p>
                  </div>

                  <div class="col-md-8">
                    <p class="text-left ">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>

                      {{
                        service.transform(offer.employerDetails.addressLine1)
                      }}
                      {{
                        offer.employerDetails.addressLine2
                          ? "," +
                            service.transform(
                              offer.employerDetails.addressLine2
                            )
                          : ""
                      }}
                    </p>
                  </div>

                  <!-- <div class="col-md-8">
                    <p class="text-left">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>

                      Btech / BCA / MCA /Bsc
                    </p>
                  </div> -->

                  <!-- <div class="col-md-4">
                                                 <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> Btech / BCA / MCA /Bsc</p>
                                               </div> -->
                  <hr />
                </div>

                <hr />
                <app-timeline-jobdetails
                  [showNumber]="proposalType == 1 ? 3 : 2"
                  [type]="'proposal'"
                  [data]="offer"
                  [proposalMode]="proposalType == 1 ? 'grab' : 'invitation'"
                ></app-timeline-jobdetails>
                <hr />

                <div class="row  topsubmenu1">
                  <div class="col-md-12">
                    <p class="text-justify">
                      {{ offer.jobDetails.jobDescription }}
                    </p>

                    <hr />
                  </div>

                  <!-- <div class="col-md-12">
                    <p class="text-left"> {{'skill_set' | translate}} :

                      <span *ngIf="offer.jobDetails.skills" class="text-left">
                        <span *ngFor="let skill of offer.jobDetails.skills.split(',')">
                          <p class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded text-left">{{skill}}</p>
                        </span>
                      </span>
                    </p>

                  </div> -->
                </div>

                <div class="row  topsubmenu1">
                  <div
                    class="col-md-12"
                    *ngIf="offer.jobDetails.attachments.length > 0"
                  >
                    <hr />
                    <app-atachmentview
                      [attachments]="offer.jobDetails.attachments"
                    ></app-atachmentview>
                  </div>
                </div>

                <hr />
                <app-iconset
                  [val]="offer.jobDetails"
                  [employerDetails]="offer.employerDetails"
                ></app-iconset>
                <hr />

                <div *ngIf="proposalType == 1" class="col-md-12">
                  <div class="row">
                    <!----- Hourly wage mode---->

                    <!---- Fixed wage mode-->

                    <div class="col-md-12 field-label-responsive text-left">
                      <b>
                        <label for="password" class="text-left">
                          {{ "commentemployer" | translate }} :
                        </label>
                      </b>
                      &nbsp;
                      <span class="text-left">
                        {{ offer.comment ? offer.comment : offer.coverLetter }}
                      </span>
                    </div>

                    <div
                      *ngIf="offer.attachments.length > 0"
                      class="col-md-4 field-label-responsive text-left"
                    >
                      <label for="password" class="label text-left">
                        {{ "attachments" | translate }}
                      </label>
                    </div>

                    <div *ngIf="offer.attachments" class="col-md-8 ml-auto">
                      <app-atachmentview
                        [attachments]="offer.attachments"
                      ></app-atachmentview>
                    </div>

                    <div class="col-md-8"></div>
                  </div>
                  <hr />
                </div>
                <div class="col-md-12">
                  <h6 class="pointer text-left  p-2 yellow_bg_text">
                    {{ "location" | translate }}
                  </h6>

                  <agm-map
                    [latitude]="
                      service.stringToNumber(offer.jobDetails.latitude)
                    "
                    [longitude]="
                      service.stringToNumber(offer.jobDetails.longitude)
                    "
                    [zoom]="16"
                    [disableDefaultUI]="false"
                    [zoomControl]="false"
                    [styles]="service.mapStyle"
                    style="height: 430px;"
                  >
                    <agm-marker
                      [iconUrl]="
                        offer.jobPostType == 'urgent' ? urgentIcon : currentIcon
                      "
                      [latitude]="
                        service.stringToNumber(offer.jobDetails.latitude)
                      "
                      [longitude]="
                        service.stringToNumber(offer.jobDetails.longitude)
                      "
                      [label]=""
                      [markerDraggable]="false"
                    >
                    </agm-marker>
                  </agm-map>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-">
            <!---IF Invitation -->
            <div
              *ngIf="proposalType == 2"
              class="card bx_shadow mb-3"
              style="min-height: auto;"
            >
              <div class="card-body">
                <span class="text-white"></span>

                <h6 class=" p-2 yellow_bg_text">
                  {{ "overview" | translate }}
                </h6>

                <p *ngIf="offer.fromDate" class="text-left">
                  <i class="fa fa-calendar" aria-hidden="true"></i>

                  {{ "from" | translate }} :
                  {{ offer.fromDate | date: "dd-MM-yyyy" }}
                </p>

                <div *ngIf="offer.wageMode" class="row  my-3">
                  <div class="col-md-3 col-2">
                    <img src="assets/images/hr_tag.png" class="img-fluid" />
                  </div>
                  <div class="col-md-9 col-9 px-0 mx-0">
                    <p class="text-left text_blue font_20_over">
                      <!-- <i class="fa fa-money" aria-hidden="true"></i>&nbsp;
                              {{'wagemode' | translate}} : -->
                      <span *ngIf="offer.wageMode">
                       
                        {{ (offer.wageMode) | translate | titlecase }}</span
                      >&nbsp;
                    </p>
                  </div>
                </div>
                <div *ngIf="offer.jobDetails" class="row my-3">
                  <div class="col-md-3 col-2">
                    <img src="assets/images/rupee.png" class="img-fluid" />
                  </div>
                  <div class="col-md-9 col-9 px-0 mx-0">
                    <p
                      *ngIf="offer.jobDetails"
                      class="text-left text_blue font_20_over"
                    >
                      <!-- <i class="fa fa-money" aria-hidden="true"></i>&nbsp; -->
                      <span *ngIf="offer.jobDetails.wageMode == 'hourly'">
                        <!-- {{'hourly_fair' | translate}} : -->
                        {{
                          offer.jobDetails.hourlyWages
                            ? offer.jobDetails.hourlyWages
                            : offer.jobDetails.hourlyWage
                        }}&nbsp;{{ offer.jobDetails.currency }} / {{'hr' | translate}}</span
                      >
                      <span *ngIf="offer.jobDetails.wageMode == 'fixed'">
                        <!-- {{'fixedfair' | translate}} : -->
                        {{
                          offer.jobDetails.fixedWage
                            ? offer.jobDetails.fixedWage
                            : 0
                        }}&nbsp;{{ offer.jobDetails.currency }}</span
                      >
                    </p>
                  </div>
                </div>

                <button
                  *ngIf="proposalType == 2"
                  [disabled]="this.fileLoader"
                  type="button"
                  class="btn btn_alkafu w-100 my-2"
                  data-toggle="modal"
                  data-target="#Modalinviteinterview"
                >
                  <i class="fa fa-check" aria-hidden="true"></i>

                  {{ "accept_invitation" | translate }}
                </button>

                <button
                  type="button"
                  [swal]="rejectProposal"
                  class="btn btn_reject "
                >
                  {{ "reject" | translate }}
                </button>
              </div>
            </div>
            <!----------If offer---------------->
            <div
              *ngIf="proposalType == 1"
              class="card bx_shadow mb-3"
              style="min-height: auto;"
            >
              <div class="card-body">
                <span class="text-white"></span>

                <h6 class=" p-2 yellow_bg_text">
                  {{ "terms_of_contract" | translate }}
                </h6>

                <div *ngIf="offer.wageMode" class="row  my-3">
                  <div class="col-md-3 col-2">
                    <img src="assets/images/hr_tag.png" class="img-fluid" />
                  </div>
                  <div class="col-md-9 col-9 px-0 mx-0">
                    <p class="text-left text_blue font_20_over">
                      <!-- <i class="fa fa-money" aria-hidden="true"></i>&nbsp;
                            {{'wagemode' | translate}} : -->
                      <span *ngIf="offer.wageMode">
                        {{ offer.wageMode |translate | titlecase }}</span
                      >&nbsp;
                    </p>
                  </div>
                </div>
                <div *ngIf="offer.jobDetails" class="row my-3">
                  <div class="col-md-3 col-2">
                    <img src="assets/images/rupee.png" class="img-fluid" />
                  </div>
                  <div class="col-md-9 col-9 px-0 mx-0">
                    <p
                      *ngIf="offer.jobDetails"
                      class="text-left text_blue font_20_over"
                    >
                      <!-- <i class="fa fa-money" aria-hidden="true"></i>&nbsp; -->
                      <span *ngIf="offer.jobDetails.wageMode == 'hourly'">
                        <!-- {{'hourly_fair' | translate}} : -->
                        {{
                          offer.hourlyWages
                            ? offer.hourlyWages
                            : offer.hourlyWage
                        }}&nbsp;{{ offer.currency }} / {{'hr' | translate}}</span
                      >
                      <span *ngIf="offer.jobDetails.wageMode == 'fixed'">
                        <!-- {{'fixedfair' | translate}} : -->
                        {{ offer.fixedWage ? offer.fixedWage : 0 }}&nbsp;{{
                          offer.currency
                        }}</span
                      >
                    </p>
                  </div>
                </div>

                <!-- <p *ngIf=" offer.jobDetails" class="text-left">
                  <i class="fa fa-money" aria-hidden="true"></i>&nbsp;
                  <span *ngIf="offer.jobDetails.wageMode=='hourly'">{{'hourly_fair' | translate}} :
                    {{offer.jobDetails.hourlyWages ?
                    offer.jobDetails.hourlyWages :
                    offer.jobDetails.hourlyWage}}&nbsp;{{offer.jobDetails.currency}} / hr</span>
                  <span *ngIf="offer.jobDetails.wageMode=='fixed'">{{'fixedfair' | translate}} :
                    {{offer.jobDetails.fixedWage ?
                    offer.jobDetails.fixedWage :
                    0}}&nbsp;{{offer.jobDetails.currency}}</span>


                </p> -->

                <button
                  *ngIf="proposalType == 1"
                  [disabled]="this.fileLoader"
                  type="button"
                  class="btn btn_alkafu w-100 my-2"
                  (click)="submitOffer()"
                >
                  <i class="fa fa-check" aria-hidden="true"></i>

                  {{ "accept_Offer" | translate }}
                </button>

                <button
                  *ngIf="proposalType == 2"
                  [disabled]="this.fileLoader"
                  type="button"
                  class="btn btn_alkafu w-100 my-2"
                  data-toggle="modal"
                  data-target="#Modalinviteinterview"
                >
                  <i class="fa fa-check" aria-hidden="true"></i>

                  {{ "accept_invitation" | translate }}
                </button>

                <button
                  type="button"
                  [swal]="rejectProposal"
                  class="btn btn_reject "
                >
                  {{ "reject" | translate }}
                </button>
              </div>
            </div>

            <div class="card bx_shadow mt-3" style="min-height: auto;">
              <div class="card-body">
                <h6
                  (click)="
                    service.setStorage(
                      'employerTempId',
                      offer.employerDetails.employerId
                    )
                  "
                  [routerLink]="['/view_company_details']"
                  class="pointer text-center p-2 yellow_bg_text"
                >
                  {{ "about_employer" | translate }}
                </h6>

                <img
                  *ngIf="
                    !offer.employerDetails.employerProfileImage ||
                    offer.employerDetails.employerProfileImage == 'default'
                  "
                  src="assets/images/pro_company.jpg"
                  class="right_img_user rounded-circle"
                  alt=""
                />
                <img
                  *ngIf="
                    offer.employerDetails.employerProfileImage &&
                    offer.employerDetails.profileImage != 'default'
                  "
                  src="{{ service.url }}/download/profile.json?fileID={{
                    offer.employerDetails.employerProfileImage
                  }}&token={{ service.getStorage('token') }}"
                  class="right_img_user   rounded-circle mx-auto"
                />
                <p class="text-left">
                  <b
                    class="text_blue"
                    *ngIf="offer.employerDetails.employerName"
                  >
                    {{ service.transform(offer.employerDetails.employerName) }}
                  </b>
                </p>

                <!-- <i
                    class="fa fa-suitcase"
                    aria-hidden="true"
                  ></i>
                  Balubaid -->

                <p class="text-left">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  {{
                    service.transform(offer.employerDetails.addressLine1 + ",")
                  }}&nbsp;{{
                    offer.employerDetails.addressLine2
                      ? offer.employerDetails.addressLine2
                      : ""
                  }}
                </p>

                <!-- <p class="text-left">
                  <i aria-hidden="true" class="fa fa-money"></i>&nbsp;<b
                    >{{ "total_money_spent" | translate }} <br
                  /></b>
                  <span class="text-center">
                    {{
                      offer.employerDetails.amountSpend
                        ? offer.employerDetails.amountSpend
                        : 0
                    }}
                    {{ "defaultcurrency" | translate }}
                  </span>
                </p> -->
                <!-- <p>
                    <i  aria-hidden="true" class="fa fa-money"></i> &nbsp; <b>Hourly rate :</b> 11 {{'defaultcurrency' | translate}} - 20 {{'defaultcurrency' | translate}}
                  </p> -->

                <p>
                  <span class="starrate_btn">
                    <ngb-rating
                      [(rate)]="
                        offer.employerDetails.rating /
                        offer.employerDetails.ratingCount
                      "
                    >
                      <ng-template let-fill="fill" let-index="index">
                        <span
                          class="star"
                          [class.filled]="fill === 100"
                          [class.bad]="
                            index <
                            offer.employerDetails.rating /
                              offer.employerDetails.ratingCount
                          "
                          >&#9733;</span
                        >
                      </ng-template>
                    </ngb-rating>
                    <span class="mx-1"
                      >({{ offer.employerDetails.ratingCount }})</span
                    >
                  </span>
                </p>

                <!-- <p *ngIf="offer.jobDetails"><b>{{'industry_type' | translate}} : </b>
                  {{service.transform(offer.jobDetails.category)}}
                  <br><b *ngIf="offer.jobDetails">{{ 'functional_area' | translate}} :</b>
                  {{service.transform(offer.jobDetails.subCategory)}}</p>
                <br> -->

                <!-- <div class="row mt-3 blog">
                    <div class="col-md-12 my-2">
                      <h6 class="yellow_bg_text pointer text-center p-2" style="text-align: center"> {{'other_jobs_by_this_employer' | translate}} </h6>
                    </div>
               
   
                        <div class="col-md-12">
                           
        
                        </div>
                  
                 
                  </div> -->
              </div>
            </div>

            <app-employerotherjobs
              *ngIf="service.isEmployeeLogin()"
              [jobId]="offer.jobDetails ? offer.jobDetails.jobId : offer.jobId"
              [employerId]="offer.employerDetails.employerId"
            ></app-employerotherjobs>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>
<app-norocordsfound *ngIf="offer.length == 0"></app-norocordsfound>
<swal
  #rejectProposal
  [title]="'areyousure' | translate"
  [text]="'cantbeundone' | translate"
  type="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="rejectProposals()"
>
</swal>
