<div class="row pointer px-1 py-2">
  <div [class]="cssChange==0?'col-md-4 text-left':'col-md-12 text-left'" >
    <ul class="view_applicantdetails fafa_blue">

      <li class="my-1">
        <p> <i class="fa fa-money" aria-hidden="true"></i> &nbsp;{{'money_earned' |
          translate}} : <b>{{val.amountEarned?val.amountEarned:0}}
            &nbsp;{{'defaultcurrency' | translate}} </b>
        </p>
      </li>
    </ul>

  </div>
  <div [class]="cssChange==0?'col-md-4 text-left':'col-md-12 text-left'">
    <ul class="view_applicantdetails fafa_blue">
      <li class="my-1">
        <p >
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <!----Ui updated on 11-03-2019 => removed notavailable text , informed by sujith------>
         <span> {{val.city?val.city+',':''}}&nbsp;{{val.state?val.state+',':''}}&nbsp;{{val.country?val.country:''}}</span>
        </p>
        <p *ngIf="!val.city && !val.state && !val.country">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        <small>{{'sorrynorecordsfound' | translate}}</small>
        </p>
      </li>
    </ul>
  </div>
  <div [class]="cssChange==0?'col-md-4 text-left':'col-md-12 text-left'">
    <ul class="view_applicantdetails fafa_blue">

      <li class="my-1">
        <p *ngIf="proposalRate==0"> <i class="fa  fa-money " aria-hidden="true"></i> &nbsp;{{'profilerate' |
          translate}} : <b>{{val.hourlyWages?val.hourlyWages :'0'}} &nbsp;{{'defaultcurrency' | translate}}
          </b>
        </p>
        <p *ngIf="proposalRate!=0"> <i class="fa  fa-money " aria-hidden="true"></i> &nbsp;{{'proposalrate' |
          translate}} : <b>{{proposalRate?proposalRate :'0'}} &nbsp;{{'defaultcurrency' | translate}}
          </b>
        </p>
      </li>

    </ul>
  </div>


  <div [class]="cssChange==0?'col-md-4 text-left':'col-md-12 text-left'">
    <ul class="view_applicantdetails fafa_blue">

      <li class="my-1">
        <p> <i class="fa  fa-industry " aria-hidden="true"></i> &nbsp;{{'general_specialization' |
          translate}} : <b>{{val.category?val.category :'Any'}}
          </b>
        </p>
      </li>
    </ul>

  </div>
  <div [class]="cssChange==0?'col-md-4 text-left':'col-md-12 text-left'">
    <ul class="view_applicantdetails fafa_blue">
      <li class="my-1">
        <p> <i class="fa  fa-tasks " aria-hidden="true"></i> &nbsp;{{'industry_type' |
          translate}} : <b>{{val.subCategory?val.subCategory :'Any'}}
          </b>
        </p>
      </li>
    </ul>
  </div>
  <div [class]="cssChange==0?'col-md-4 text-left':'col-md-12 text-left'">
    <ul class="view_applicantdetails fafa_blue">
      <li class="my-1">
        <span class="starrate_btn">
          <ngb-rating [(rate)]="(val.rating)/val.ratingCount">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < val.rating/val.ratingCount">&#9733;</span>
            </ng-template>

          </ngb-rating>
          <br class="d-sm-none">
          <small> <span class="mx-1 text-left">({{val.ratingCount}} {{'reviews' |
              translate}} )</span></small>
        </span>
      </li>
    </ul>
  </div>
</div>