<div class="container-fluid">
    <div class="row">
      <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
        <div class="container mt-4">
          <div class="row bg-white">
            <div class="col-md-12 mb-4">
              <div class="row">
               
  
                <div class="col-md-11 col-10 mx-auto shadow  my-1">
                  <div class="">
                    <div class="cards py-2">
                     
  
                      <div class="row tab-content mt-5 mb-4">
                        <div
                          class="col-md-12 tab-pane bg-white active"
                       
                          role="tabpanel"
                        >
                          <h5 class="text_heading text-center"> {{'terms2' | translate}} </h5>
                          <hr>

                       
                            <div class="p-1 "   *ngIf="service.getStorage('language') == 'ar'">
                             <app-termsar></app-termsar>
                            
                            </div>

                            <div class="p-1 "   *ngIf="service.getStorage('language') == 'en'">
                             
                                <app-termsen></app-termsen>
                           
                           </div>
                     
                          
                        </div>
  
                      </div>
                    </div>



                  </div>
                </div>




              </div>
            </div>



            
  
            <!-- </div>
                                  <div class="row"> -->
          </div>
  
          <!-- row -->
        </div>
  
        <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                     </div> -->
      </div>
  
      <!-- end iconrow -->
    </div>
  </div>
  