<!-- <div  *ngIf="employer_login" class="container-fluid"> -->

<div class="mysidebutton d-block d-sm-none">
  <button class="btn filterbtn" data-toggle="collapse" data-target="#demo9">
    <img src="assets/images/filterw.png" style="width: 18px;">
  </button>
</div>

<div class="container-fluid bg-white">
  <!-- iconrow -->

  <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()" class="row">

    <div class="col-md-12 mx-auto my-3">
      <h4 class="text-center bg-white pt-3 pb-2 text_heading ">{{'employee_list'| translate}}</h4>
      
    </div>
    <div class="col-md-3 mt-3 mb-2 d-none d-sm-block ">
      <app-side-barfilter></app-side-barfilter>
    </div>
    <div class="col-md-9 mainheading text-center text-md-left mt-1 mb-1 mx-auto">
      <div class="container-fluid mt-1">
        <div class="row bg-white">
          <div class="col-md-12 mb-4">
            <div class="row">


              <div class="col-md-11 col-10 mx-auto shadow  my-2 ">
                <div class="">
                  <div class="cards">

                    <div class="row bg-light">

                      <hr>
                      <div class="col-md-9   pb-1 ">

                        <div class="search-container fl_right mx-2">
                          <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" placeholder="{{'search' | translate}}"
                            name="search">
                          <button (click)="service.fetchAllJobDetailsFromApi(0)" type="submit"><i class="fa fa-search"></i></button>

                        </div>

                      </div>
                      <div class="col-md-3 mx-auto my-auto text-center  d-none d-sm-block"> <button class="w-132 btn_alkafu text-center mx-auto"
                          data-toggle="collapse" data-target="#demo9"><a class=""> <img src="../assets/images/filterw.png"
                              class="w-20px" alt=""> {{'filters'|translate}}</a></button></div>
                      <!-- ISHide -->

                      <div class="col-md-12 bg-white b_shadow">
                        <div class="w-100   collapse px-2 py-2" id="demo9">
                          <app-filter></app-filter>
                        </div>
                      </div>
                    </div>
                    <div class="row tab-content mt-5">
                      <div class="col-md-12   bg-white ">


                        <app-appleid-filter></app-appleid-filter>
                        <div style="    word-break: break-word;" *ngFor="let val of service.employeeList ">
                          <div (click)="service.setStorage('employeeTempId',val.employeeId);
                          service.setStorage('employeeName',service.transform(val.fullName)); pageChange()"
                           class="row pointer px-3 py-2">
                            <div class="col-md-12  bx_shadow py-4">

                              <div  class="row px-3 pointer  p-2">

                                <div class="col-md-2 pb-2 pt-2 ">
                                  <span *ngIf="val.profileImage">
                                    <img *ngIf="val.profileImage!='default' && val.profileImage!='undefined'" src='{{this.service.url+"/download/profile.json?fileID="+val.profileImage+"&token="+this.service.getStorage("token")}}'
                                      class="employee_list_propic  w-100 rounded-circle mx-auto ">
                                  </span>

                                  <img *ngIf="val.profileImage=='default' || val.profileImage=='undefined' || !val.profileImage"
                                    src='{{this.service.prfImgTemp}}' class="employee_list_propic w-100 rounded-circle mx-auto ">
                                </div>


                                <div class="col-md-10">
                                  <div class="row">
                                    <div class="col-md-9">
                                      <ul class="view_applicantdetails ar_txt_right">

                                        <li class="my-1">
                                          <h5 class="text_blue text-left">{{service.transform(val.fullName)}}</h5>
                                        </li>
                                        <li class="my-1">
                                          <h6 class="text-left">{{service.transform(val.profileTitle)}}</h6>
                                        </li>
                                        <li class="my-1">
                                          <p class="text-justify">{{service.transform(val.profileDesc)}}</p>
                                        </li>
                                        <!-- <li class="my-1">
                                          <p class="text-left"> <b>{{'skill_set' | translate}} : </b>
                                            <span *ngFor="let skill of skillFormat(val.skillDetails)   " class="small d-inline p-1 m-1  bg-secondary text-white rounded">
                                              {{skill}}</span>
                                          </p>
                                        </li> -->

                                      </ul>

                                    </div>

                                    <div class="col-md-3 my-auto mx-auto">
                                      <button class="btn btn_alkafu  my-2" *ngIf="service.isEmployerLogin()"
                                        (click)="service.setStorage('employeeTempId',val.employeeId);service.setStorage('employeeName',service.transform(val.fullName));"
                                        routerLink="/hire_person_direct">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i> {{'create_job_post'|
                                        translate}} </button>
                                      <button class="btn btn_alkafu   my-2" disabled="disabled" *ngIf="service.isEmployeeLogin()">

                                        <i class="fa fa-user-plus" aria-hidden="true"></i> {{'create_job_post'|
                                        translate}} </button>
                                      <button (click)="service.setStorage('employeeTempId',val.employeeId);pageChange()"
                                        class="btn btn_alkafu  my-2" *ngIf="service.noLogin">

                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        {{'create_job_post'|translate}} </button>
                                    </div>

                                    
                                  </div>

                                </div>

                              </div>
                              <app-employeeicon [val]=val></app-employeeicon>
                            </div>
                          </div>

                        </div>
                        <app-lazyloader *ngIf="service.loader"></app-lazyloader>

                        <!-- <p-paginator *ngIf="service.employeeList.length!=0" [rows]="10" (onPageChange)="service.getemployeeDetails($event.page)"
                          [totalRecords]="service.pageCounter"></p-paginator> -->
                        <app-norocordsfound *ngIf="service.employeeList.length==0 && !service.loader"></app-norocordsfound>

                      </div>


                    </div>
                  </div>
                </div>
              </div>






            </div>
          </div>

          <!-- </div>
                                <div class="row"> -->
        </div>

        <!-- row -->
      </div>

      <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                   </div> -->
    </div>

    <!-- end iconrow -->
  </div>
</div>