
  <div class="card-body" *ngFor="let val of service.offers; let i=index">
      <div class="row p-3 bx_shadow ">
          <div class="col-md-10 my-2">
              <div class="row">
                  <div class="col-md-12">
                        <h5 class="text_blue text-left">
                             {{service.transform(val.jobDetails.jobTitle)}}
                        </h5>
                  </div>

                  <div class="col-md-12">
                      <div  (click)="service.setStorage('employerTempId',val.employerDetails.employerId)" [routerLink]="['/view_company_details']"  class=" pointer">
                        <h6 class="text-left">
                          <i class="fa fa-building-o" aria-hidden="true"></i>

                          {{service.transform(val.employerDetails.employerName)}}

                          <br>
                        </h6>
                      </div>

                   
                        <p class="text-dark text-justify">
                          {{service.transform(val.jobDetails.jobDescription)}}
                        </p>
<app-iconset [employerDetails]=val.employerDetails [val]=val.jobDetails ></app-iconset>
                       
                  
                    </div>
                  </div>
          </div>  
                  <!-- col-10-div -->




                  <div class="col-md-2 my-2">
                    <button (click)="service.viewOffer(val,'1')" class="btn btn_alkafu w-100 my-2"> <i class="fa fa-eye px-1" aria-hidden="true"></i>  {{'view' | translate}} </button>
                    <button class="btn accept_icon  my-2 w-100" (click)="service.navigateMsg(val.employerDetails.employerId,val.proposalId)">
                        <i class="fa fa-comments-o" aria-hidden="true"></i> {{'message' | translate}} </button>
                  </div>

                  <!-- <div *ngIf=" val.jobDetails.skills" class="col-md-12 text-left">
                    <p class="text-left"> {{'skill_set' | translate}} :                  
                      <span *ngFor="let skill of val.jobDetails.skills.split(',')">
                        <span class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded text-left">{{skill}}</span>
                      </span>

                   
                     </p>
                  </div> -->
               
                <hr>
      </div>   <!-- </div> outer row -->
  </div><!-- card-body -->