<div class="container">

  <!-- iconrow -->
  <div class="row mt100">



    <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto ">

      <div class="container  mt-4">
        <form class="form-horizontal py-2" role="form">
          <!--  <form class="form-horizontal py-2" role="form" method="POST" onsubmit="openModal()" id="Form_signuppersonal"> -->
          <!-- <form class="form-horizontal py-2" role="form" method="POST" action="employer_signup.html" id="" > -->
          <div class="row b_shadow mb-4 bg-white py-2">
            <div class="col-md-12 mx-auto ">
              <h4 class="text-center">List of applicants.</h4>
              <!-- <h5 class="text-left">Hello </h5>
                                         <h6>Enter specification of part time staff.</h6> -->

            </div>
          </div>

          <!-- <div class="row">
                                  <div class="col-lg-6">
                                    <h3>Single Select with Groups</h3>           
                                  </div>   
                                </div> -->
          <div class="row">
            <div class="col-md-12 b_shadow py-1 bg-white">
              <span class="ISHide btn_alkafu mt-1 mr-1" data-toggle="collapse" data-target="#demo9"><a class="text-white"><i
                    class="fa fa-filter" aria-hidden="true"></i>Filters</a></span>
            </div>

            <div class="col-md-12 bg-white b_shadow">
              <div class="w-100   collapse px-2 py-2" id="demo9">
                <div class="row">
                  <div class="col-md-4">
                    <p><b>Category</b></p>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="AnycategoryRadio1" name="customRadio" class="custom-control-input"
                        checked>
                      <label class="custom-control-label" for="AnycategoryRadio1">Any category</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio1">Engineering</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio2">IT</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3"> Design & Creative</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3"> Design & Creative</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3"> Design & Creative</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3"> Design & Creative</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3"> Design & Creative</label>
                    </div>

                  </div>
                  <div class="col-md-4">
                    <p><b>Status</b></p>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="Anystatus" name="statusRadio" class="custom-control-input" checked>
                      <label class="custom-control-label" for="Anystatus">Any status</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="OpenRadio1" name="statusRadio" class="custom-control-input">
                      <label class="custom-control-label" for="OpenRadio1">Open</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="AwardedRadio2" name="statusRadio" class="custom-control-input">
                      <label class="custom-control-label" for="AwardedRadio2">Awarded</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="PendingRadio3" name="statusRadio" class="custom-control-input">
                      <label class="custom-control-label" for="PendingRadio3">Pending</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="DisabledRadio3" name="statusRadio" class="custom-control-input">
                      <label class="custom-control-label" for="DisabledRadio3">Disabled</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="CompletedRadio3" name="statusRadio" class="custom-control-input">
                      <label class="custom-control-label" for="CompletedRadio3">Completed</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="ClosedRadio3" name="statusRadio" class="custom-control-input">
                      <label class="custom-control-label" for="ClosedRadio3">Closed</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <p><b>Date</b></p>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="Anytime" name="DateRadio" class="custom-control-input" checked>
                      <label class="custom-control-label" for="Anytime">Any time</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="2weeksRadio2" name="DateRadio" class="custom-control-input">
                      <label class="custom-control-label" for="2weeksRadio2">Within 2 weeks</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="1month3" name="DateRadio" class="custom-control-input">
                      <label class="custom-control-label" for="1month3">Within 1 month</label>
                    </div>

                  </div>

                </div>

              </div>
            </div>
            <div class="col-md-12 b_shadow pb-4 bg-white ">
              <hr>
              <table id="example" class="table table-striped table-bordered" style="width:100%">

                <thead>
                  <tr>
                    <th>Job title</th>
                    <th>Category</th>
                    <th>No. of applications</th>
                    <th>Awarded positions</th>
                    <th>Status</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>System Architect</td>
                    <td>Engineering</td>
                    <td>61</td>
                    <td>3 Out of 10</td>
                    <td>Open</td>
                    <td> <button type="button" class="btn btn_action btn-sm"> <a routerLink="/view_applicants"> <i
                            class="fa fa-eye" aria-hidden="true"></i> View</a></button></td>
                  </tr>
                  <tr>
                    <td>Android Mobile Software Engineer</td>
                    <td>IT</td>
                    <td>61</td>
                    <td>5 Out of 10</td>
                    <td>Open</td>
                    <td> <button type="button" class="btn btn_action btn-sm"> <a routerLink="/view_applicants"> <i
                            class="fa fa-eye" aria-hidden="true"></i> View</a></button></td>
                  </tr>
                  <tr>
                    <td>Android App Developer</td>
                    <td>Engineering</td>
                    <td>61</td>
                    <td>3 Out of 10</td>
                    <td>Open</td>
                    <td> <button type="button" class="btn btn_action btn-sm"> <a routerLink="/view_applicants"> <i
                            class="fa fa-eye" aria-hidden="true"></i> View</a></button></td>
                  </tr>
                  <tr>
                    <td>Web developer</td>
                    <td>IT</td>
                    <td>61</td>
                    <td>2 Out of 10</td>
                    <td>Open</td>
                    <td> <button type="button" class="btn btn_action btn-sm"> <a routerLink="/view_applicants"> <i
                            class="fa fa-eye" aria-hidden="true"></i> View</a></button></td>
                  </tr>
                  <tr>
                    <td>IT Consultant</td>
                    <td>IT</td>
                    <td>61</td>
                    <td>3 Out of 10</td>
                    <td>Open</td>
                    <td> <button type="button" class="btn btn_action btn-sm"> <a routerLink="/view_applicants"> <i
                            class="fa fa-eye" aria-hidden="true"></i> View</a></button></td>
                  </tr>
                  <tr>
                    <td>Senior Java EE Developer</td>
                    <td>IT</td>
                    <td>61</td>
                    <td>6 Out of 10</td>
                    <td>Open</td>
                    <td> <button type="button" class="btn btn_action btn-sm"> <a routerLink="/view_applicants"> <i
                            class="fa fa-eye" aria-hidden="true"></i> View</a></button></td>
                  </tr>
                  <tr>
                    <td>SAP BPC Consultant</td>
                    <td>Software engineering</td>
                    <td>61</td>
                    <td>5 Out of 10</td>
                    <td>Open</td>
                    <td> <button type="button" class="btn btn_action btn-sm"> <a routerLink="/view_applicants"> <i
                            class="fa fa-eye" aria-hidden="true"></i> View</a></button></td>
                  </tr>





                </tbody>
                <!--  <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot> -->
              </table>
            </div>

          </div><!-- row -->
        </form>
      </div>

    </div>
  </div>


  <!-- end iconrow -->

</div>