<div class="card-group">
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg bg-danger">
                        <i class="ti-clipboard text-white"></i>
                    </span>
                </div>
                <div>
                    {{'newemployee' | translate}}
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{variable.cardCount ?variable.cardCount.newEmployeeCount:0}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg btn-info">
                        <i class="ti-wallet text-white"></i>
                    </span>
                </div>
                <div>
                    {{"totalemployee" | translate}}

                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{variable.cardCount ?variable.cardCount.employeeCount:0}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg bg-success">
                        <i class="ti-shopping-cart text-white"></i>
                    </span>
                </div>
                <div>
                  {{"totalemployer" | translate}}


                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{variable.cardCount ?variable.cardCount.employerCount:0}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg bg-warning">
                        <i class="mdi mdi-currency-usd text-white"></i>
                    </span>
                </div>
                <div>
                  {{"totaljobs" | translate}}


                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{variable.cardCount ?variable.cardCount.jobCount:0}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Column -->
</div>
