<!-- Header with Background Image -->
<!-- Modal -->

<div class="modal fade" id="joblist_Modal" tabindex="-1" role="dialog" aria-labelledby="joblist_ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="joblist_ModalLabel">Still available</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body"></div>
    </div>
  </div>
</div>

<div *ngIf="offerLength!=0" class="container-fluid mt100">
  <!-- iconrow -->

  <div class="row mt-4">
    <div class="col-md-12 mainheading text-center text-md-left mt-2 mb-3 mx-auto">
      <div class="container  mt-2">
        <div class="row">
          <div class="col-md-12 mx-auto mb-2">
            <!-- <h4 class="text-center bg-white pt-2 pb-2 b_shadow  text_heading">{{title | translate}}</h4> -->
          </div>

          <div class="col-md-9">
            <div class="card bx_shadow">
              <div class="card-body">
                <div class="row  topsubmenu1">
                  <div class="col-md-12 bg-medium-blue">
                    <h5 class="card-title  text-white pt-2 px-2">{{service.transform(offer.jobDetails.jobTitle)}}</h5>
                  </div>

                  <div class="col-md-12 py-2">
                    <h6 *ngIf="offer.employerDetails">

                      {{service.transform(offer.employerDetails.employerName)}}
                    </h6>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i class="fa fa-suitcase" aria-hidden="true"></i> {{'experiance' | translate}} :

                      {{offer.jobDetails.minExperience==0?'':offer.jobDetails.minExperience}}&nbsp;
                      {{(offer.jobDetails.minExperience==0?'any':'years') | translate}}
                    </p>
                  </div>

                  <div class="col-md-8">
                    <p *ngIf="offer.employerDetails">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>

                      {{service.transform(offer.employerDetails.addressLine1)}}
                      {{offer.employerDetails.addressLine2?','+offer.employerDetails.addressLine2:'' | titlecase}}
                    </p>
                  </div>

                  <!-- <div class="col-md-8">
                    <p>
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>

                      Btech / BCA / MCA /Bsc
                    </p>
                  </div> -->

                  <!-- <div class="col-md-4">
                                                 <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> Btech / BCA / MCA /Bsc</p>
                                               </div> -->
                  <hr>
                </div>

                <hr>
                <app-timeline-jobdetails [showNumber]="service.isEmployeeLogin()?'2':'3'"
                 [type]="service.isEmployeeLogin()?'edit':'proposal'" [data]="offer"
                [proposalMode]='offer.proposalMode'></app-timeline-jobdetails>
                <hr>

                <div class="row  topsubmenu1">
                  <div class="col-md-12">
                    <p class="text-justify">
                      {{offer.jobDetails.jobDescription}}
                    </p>

                    <hr>
                  </div>

                  <!-- <div class="col-md-12">


                    <div *ngIf="offer.jobDetails.skills" class="text-left">
                      <p>{{'skill_set' | translate}} :

                        <span *ngFor="let skill of offer.jobDetails.skills.split(',')">
                          <span class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">{{skill}}</span>
                        </span>
                      </p>
                      <br>

                    </div>



                  
                  </div> -->
                </div>



                <div class="row  topsubmenu1">
                  <!-- <div class="col-md-12">
                    <p>
                      {{'industry_type' | translate}} : {{offer.jobDetails.category}}

                      <br> {{'functional_area' | translate}}:{{offer.jobDetails.subCategory}}
                    </p>
                  </div> -->

                  <div class="col-md-12" *ngIf=" offer.jobDetails.attachments.length > 0">
                    <app-atachmentview [attachments]="offer.jobDetails.attachments"></app-atachmentview>

                  </div>
                </div>

                <hr>
                <app-iconset *ngIf="service.isEmployerLogin()" [val]=offer.jobDetails [employerDetails]=offer.employeeDetails></app-iconset>

                <app-iconset *ngIf="service.isEmployeeLogin()" [val]=offer.jobDetails [employerDetails]=offer.employerDetails></app-iconset>
                <hr>
              
                <div class="col-md-12">

                  <!-- <p class="mt-2  mb-2 text-left"> <b> {{'employer_profile_rate' | translate}} :-</b> </p> -->

                  <div class="row">
                   

                    <div class="col-md-12 field-label-responsive text-left">
                      <b> <label for="password" class="text-left"> {{'comment' | translate}} : </label> </b>
                      &nbsp; <span class="text-left">
                        {{offer.comment ? offer.comment:offer.coverLetter }}
                      </span>
                    </div>



                    <div *ngIf="offer.attachments.length > 0" class="col-md-3 field-label-responsive text-left">
                      <label for="password" class="label text-left"> {{'attachments' | translate}} </label>
                    </div>


                    <div *ngIf="offer.attachments" class="col-md-9 ml-auto">
                      <app-atachmentview [attachments]="offer.attachments"></app-atachmentview>
                    </div>

                    <div class="col-md-8">

                    </div>

                  </div>

                </div>
                <div *ngIf="service.isEmployeeLogin()" class="col-md-12 mt-3">
                  <h6 class="yellow_bg_text pointer text-center p-2" style="text-align: center"> {{'location' |
                    translate}} </h6>

                  <agm-map [latitude]="service.stringToNumber(offer.jobDetails.latitude)" [longitude]="service.stringToNumber(offer.jobDetails.longitude)"
                    [zoom]="16" [disableDefaultUI]="false" [zoomControl]="false" [styles]="service.mapStyle">

                    <agm-marker [iconUrl]="offer.jobPostType=='urgent'?urgentIcon:currentIcon" [latitude]="service.stringToNumber(offer.jobDetails.latitude)" [longitude]="service.stringToNumber(offer.jobDetails.longitude)"
                      [label]="" [markerDraggable]="false">
                    </agm-marker>
                  </agm-map>
                  <hr>
                </div>



              </div>
            </div>
          </div>

          <div class="col-md-3">
            <app-rightsidebar></app-rightsidebar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>
<app-norocordsfound *ngIf="offerLength==0  && !service.loader"></app-norocordsfound>