.nav-tabs .nav-link {
    background-color: transparent;
    color: #7b7979;
    border-color: #002d68;
    border-radius: 15px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    margin: 10px;
}

    .nav-link.active {
        background-color: #002d68 !important;
        color: #fff !important;
        box-shadow: none;
        border: none
    }

    
    .circle {
        padding: 13px 20px;
        border-radius: 50%;
        background-color: #002d68;
        color: #fff;
        max-height: 50px;
        z-index: 2;
      }
      
      .how-it-works.row .col-2 {
        align-self: stretch;
      }
      .how-it-works.row .col-2::after {
        content: "";
        position: absolute;
        border-left: 3px solid #002d68;
        z-index: 1;
      }
      .how-it-works.row .col-2.bottom::after {
        height: 50%;
        left: 50%;
        top: 50%;
      }
      .how-it-works.row .col-2.full::after {
        height: 100%;
        left: calc(50% - 3px);
      }
      .how-it-works.row .col-2.top::after {
        height: 50%;
        left: 50%;
        top: 0;
      }
      
      
      .timeline div {
        padding: 0;
        height: 40px;
      }
      .timeline hr {
        border-top: 3px solid #002d68;
        margin: 0;
        top: 17px;
        position: relative;
      }
      .timeline .col-2 {
        display: flex;
        overflow: hidden;
      }
      .timeline .corner {
        border: 3px solid #002d68;
        width: 100%;
        position: relative;
        border-radius: 15px;
      }
      
     
     
      
      