<div class="row">
  <div class="col-md-4 d-none d-sm-block">
    <p>
      <b> {{'gender' | translate}} </b>
    </p>

    <div (click)="this.service.employeeList=[];this.service.jobDetails = [];service.filterGender=null;service.fetchAllJobDetailsFromApi(0)"
      class="custom-control custom-radio">
      <input type="radio" id="Anygender" name="gender" class="custom-control-input" [checked]="service.filterGender==null" />

      <label class="custom-control-label" for="Anygender"> {{'all_gender' | translate}} </label>
    </div>

    <div (click)="service.filterGender=1;service.fetchAllJobDetailsFromApi(0)"
      class="custom-control custom-radio">
      <input type="radio" id="gender_male" name="gender"  class="custom-control-input" />

      <label class="custom-control-label" for="gender_male"> {{ 'male' | translate}} </label>
    </div>

    <div (click)="service.filterGender=2;service.fetchAllJobDetailsFromApi(0)"
      class="custom-control custom-radio">
      <input type="radio" id="gender_female" name="gender" class="custom-control-input" />

      <label class="custom-control-label" for="gender_female"> {{'female' | translate}} </label>
    </div>
  </div>
   <div *ngIf="showWageFilter"  class="col-md-4 d-none d-sm-block">
    <p>
      <b> {{'jobmode' | translate}} </b>
    </p>

    <div (click)="this.service.employeeList=[];this.service.jobDetails = [];service.jobmode=null;service.fetchAllJobDetailsFromApi(0)"
      class="custom-control custom-radio">
      <input type="radio" id="jobmode_any" name="jobmode" class="custom-control-input"[checked]="service.jobmode==null" />

      <label class="custom-control-label" for="jobmode_any"> {{'any' | translate}} </label>
    </div>

    <div (click)="service.jobmode='onsite';service.fetchAllJobDetailsFromApi(0)"
      class="custom-control custom-radio">
      <input type="radio" id="jobmode_online" name="jobmode" class="custom-control-input" />

      <label class="custom-control-label" for="jobmode_online"> {{ 'onsite' | translate}} </label>
    </div>

    <div (click)="service.jobmode='offsite';service.fetchAllJobDetailsFromApi(0)"
      class="custom-control custom-radio">
      <input type="radio" id="jobmode_offline" name="jobmode" class="custom-control-input" />

      <label class="custom-control-label" for="jobmode_offline"> {{'offsite' | translate}} </label>
    </div>
  </div>

  <div *ngIf="showWageFilter" class="col-md-4 d-none d-sm-block">
    <p>
      <b> {{'wagemode' | translate}} </b>
    </p>

    <div (click)="service.wageModeFilter=null;service.fetchAllJobDetailsFromApi(0)"
      class="custom-control custom-radio">
      <input type="radio" id="anywage" name="wage" class="custom-control-input" [checked]="service.wageModeFilter==null" />

      <label class="custom-control-label" for="anywage"> {{'any' | translate}} </label>
    </div>

    <div (click)="service.wageModeFilter='hourly';service.fetchAllJobDetailsFromApi(0)"
      class="custom-control custom-radio">
      <input type="radio" id="hourlywage" name="wage" class="custom-control-input" />

      <label class="custom-control-label" for="hourlywage"> {{ 'hourly' | translate}} </label>
    </div>

    <div (click)="service.wageModeFilter='fixed';service.fetchAllJobDetailsFromApi(0)"
      class="custom-control custom-radio">
      <input type="radio" id="fixedwage" name="wage" class="custom-control-input" />

      <label class="custom-control-label" for="fixedwage"> {{'fixed' | translate}} </label>
    </div>
  </div>
  <div *ngIf="!this.showWageFilter"  class="col-md-4 d-none d-sm-block">
    <p>
      <b> {{'availability' | translate}} </b>
    </p>

    <div class="custom-control custom-radio">
      <input (click)="service.availability='';service.fetchAllJobDetailsFromApi(0)" type="radio" id="anytime" name="anytime"
        class="custom-control-input" checked="checked" />

      <label class="custom-control-label" for="anytime"> {{'any' | translate}} </label>
    </div>

    <div class="custom-control custom-radio">
      <input (click)="service.availability='Morning';service.fetchAllJobDetailsFromApi(0)" type="radio" id="morning"
        name="anytime" class="custom-control-input" />

      <label class="custom-control-label" for="morning"> {{ 'morning' | translate}} </label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" (click)="service.availability='Evening';service.fetchAllJobDetailsFromApi(0)" id="evening"
        name="anytime" class="custom-control-input" />

      <label class="custom-control-label" for="evening"> {{ 'evening' | translate}} </label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" (click)="service.availability='Night';service.fetchAllJobDetailsFromApi(0)" id="night" name="anytime"
        class="custom-control-input" />

      <label class="custom-control-label" for="night"> {{ 'night' | translate}} </label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" (click)="service.availability='Weekend';service.fetchAllJobDetailsFromApi(0)" id="weekend"
        name="anytime" class="custom-control-input" />

      <label class="custom-control-label" for="weekend"> {{ 'weekend' | translate}} </label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" (click)="service.availability='Day';service.fetchAllJobDetailsFromApi(0)" id="Day" name="anytime"
        class="custom-control-input" />

      <label class="custom-control-label" for="Day"> {{ 'day' | translate}} </label>
    </div>
  </div>

  <div class="col-md-4">
    <p>
      <b> {{'wages' | translate}}</b>
    </p>

    <section class="mt-3 mb-3">
      <div class="range-slider mt-3 mb-3">
        <!-- <input class="range-slider__range" type="range" value="25" min="0" max="50"> -->

        <ng5-slider [(value)]="service.hourlyWrkWagesMin" [(highValue)]="service.hourlyWrkWagesMax" [(ngModel)]="service.hourlyWrkWagesModal"
          [options]="service.hourlyWrkWagesOptions"></ng5-slider>
      </div>
    </section>
  </div>

  <div class="col-md-4">
    <p>
      <b> {{"hour_of_work" | translate}} </b>
    </p>

    <section class="mt-3 mb-3">
      <div class="range-slider mt-3 mb-3">
        <ng5-slider [(value)]="service.hourWrkMin" [(highValue)]="service.hourWrkMax" [(ngModel)]="service.hourWrkModal"
          [options]="service.hourWrkOptions"></ng5-slider>
      </div>
    </section>
  </div>

  <div class="col-md-4">
    <p>
      <b> {{'experience' | translate}} ( {{'yrs' | translate}} ) </b>
    </p>

    <section class="mt-3 mb-3">
      <div class="range-slider mt-3 mb-3">
        <!-- <input class="range-slider__range" type="range" value="25" min="0" max="50"> -->

        <ng5-slider [(value)]="service.expMin" [(highValue)]="service.expMax" [(ngModel)]="service.expModal" [options]="service.expOptions"></ng5-slider>
      </div>
    </section>
  </div>

  <div class="col-md-4">
    <p>
      <b> {{'age' | translate}} ({{'yrs' | translate}} ) </b>
    </p>

    <section class="mt-3 mb-3">
      <div class="range-slider mt-3 mb-3">
        <!-- <input class="range-slider__range" type="range" value="25" min="0" max="50"> -->

        <ng5-slider [(value)]="service.ageMin" [(highValue)]="service.ageMax" [(ngModel)]="service.ageModal" [options]="service.ageOptions"></ng5-slider>
      </div>
    </section>
  </div>

  <div class="col-md-4 mt-2  ml-auto">

    <section class="mt-3 mb-3">
      <div class="range-slider mt-3 mb-3">
        <!-- <input class="range-slider__range" type="range" value="25" min="0" max="50"> -->
        <button class="d-none d-sm-block btn_alkafu text-center ml-auto btn125" (click)="service.fetchAllJobDetailsFromApi(0)"
          data-toggle="collapse" data-target="#demo9"><a class="">
            &nbsp;
            {{'apply' | translate}}</a></button>

        <button class=" btn_alkafu text-center ml-auto btn125 d-block d-sm-none" (click)="service.fetchAllJobDetailsFromApi(0)"
          data-dismiss="modal" data-target="#demo9"><a class="">
            &nbsp;
            {{'apply' | translate}}</a></button>

      </div>
    </section>

  </div>
</div>