<div class="row">
  <!-- {{variable.tempData | json}} -->


  <!-- {{variables.getApiUrl}}/download/docs.json?fileID={{val}}&token={{service.getStorage('token')}} -->

  <div class="col-md-6">
    <div class="card p-3">
      <div class="avatar-preview row">
        <div id="imagePreview" style="width:150px;" class="pointer col-md-6">
            <img *ngIf="!variable.tempData.profileImage" src="/assets/images/userpropic.png"
            id="img_pic" class=" mb-4 rounded-circle attach_propic" alt="">
          <img *ngIf="variable.tempData.profileImage" src="{{variable.getApiUrl}}download/profile.json?fileID={{variable.tempData.profileImage}}&token={{method.getStorage('admintoken')}}"
            id="img_pic" class=" mb-4 rounded-circle attach_propic" alt="">
        </div>
        <div class="col-md-6">
          <p> <i class="fa fa-user text-blue"></i>&nbsp;{{data.name | titlecase}}</p>
          <p> <i class="fa fa-envelope  text-blue"></i>&nbsp;{{data.email }}</p>
          <p> <i class="fa fa-phone  text-blue"></i>&nbsp;{{data.mobileNumber }}</p>
          <p class="pointer" (click)="showLocationModal()"> <i class="fa fa-map  text-blue"></i>&nbsp;{{'viewlocation' | translate }}</p>

        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-md-6 col-form-label">{{'profiletitle' | translate}}</label>
        <div class="col-md-6">
          <label>{{(variable.tempData.profileTitle ? variable.tempData.profileTitle : '-')| titlecase}}</label>

        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-md-6 col-form-label">{{'profiledescription' | translate}}</label>
        <div class="col-md-6">
          <label>{{(variable.tempData.profileDescription ? variable.tempData.profileDescription : '-') | titlecase}}</label>

        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-md-6 col-form-label">{{'experience' | translate}}</label>
        <div class="col-md-6">
          <label>{{(variable.tempData.experiencYear ? variable.tempData.experiencYear : 0) | number :'.2'}}</label>

        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-md-6 col-form-label">{{'education' | translate}}</label>
        <div class="col-md-6">
          <label>{{(variable.tempData.education ? variable.tempData.education : '-') | titlecase}}</label>

        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-md-6 col-form-label">{{'gender' | translate}}</label>
        <div class="col-md-6 text_grey">
          <label *ngIf="variable.tempData.gender">
            <i [class]="variable.tempData.gender=='Male' ? 'fa fa-male fa-2x' :
            variable.tempData.gender=='Female'?'fa fa-female fa-2x' : 'fa fa-transgender fa-2x'"></i>
          </label>
          <label *ngIf="!variable.tempData.gender">-</label>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-md-6 col-form-label">{{'age' | translate}}</label>
        <div class="col-md-6">
          <label>{{(variable.tempData.age ? variable.tempData.age : 0) | number }}</label>

        </div>
      </div>

    </div>

  </div>
  <div class="col-md-6">
   <div class="card p-3">
    <div class="form-group row">
      <label for="inputEmail3" class="col-md-6 col-form-label">{{'height' | translate}}</label>
      <div class="col-md-6 ">
        <label>{{(variable.tempData.height ? variable.tempData.height : 0) | number:'.2-2' }}&nbsp;cm</label>

      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-md-6 col-form-label">{{'weight' | translate}}</label>
      <div class="col-md-6 ">
        <label>{{(variable.tempData.weight ? variable.tempData.weight : 0) | number:'.2-2' }}&nbsp;kg</label>

      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-md-6 col-form-label">{{'hourlywages' | translate}}</label>
      <div class="col-md-6 ">
        <label>{{(variable.tempData.hourlyWages ? variable.tempData.hourlyWages : '-') }}</label>

      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-md-6 col-form-label">{{'state' | translate}}</label>
      <div class="col-md-6 ">
        <label>{{(variable.tempData.state ? variable.tempData.state : '-') }}</label>

      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-md-6 col-form-label">{{'city' | translate}}</label>
      <div class="col-md-6 ">
        <label>{{variable.tempData.city ? variable.tempData.city : '-'}}</label>

      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-md-6 col-form-label">{{'createddate' | translate}}</label>
      <div class="col-md-6 ">
        <label>
          {{data.creaedTime ? method.convertDateToGmt(data.creaedTime) : '-'}}</label>

      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-md-6 col-form-label">{{'emailverification' | translate}}</label>
      <div class="col-md-6">
        <label class="switch">
          <input (click)="emailearification=='true' ? emailearification='false' : emailearification = 'true'" [checked]="data.emailVerify=='true'"
            type="checkbox">
          <span class="slider"></span>

        </label>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-md-6 col-form-label">{{'mobileverification' | translate}}</label>
      <div class="col-md-6">
        <label class="switch">
          <input (click)="mobileVerification=='true' ? mobileVerification='false' : mobileVerification = 'true'"
            [checked]="data.mobileVerify=='true'" type="checkbox">
          <span class="slider"></span>

        </label>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-md-6 col-form-label">{{'userverification' | translate}}</label>
      <div class="col-md-6">
        <label class="switch">
          <input (click)="userVerification=='true' ? userVerification='false' : userVerification = 'true'" [checked]="data.userVerify=='true'"
            type="checkbox">
          <span class="slider"></span>

        </label>


      </div>
    </div>
   </div>
  </div>
</div>




<div class="form-group row">
  <div class="col-sm-6 float-left">
    <button type="button" [routerLink]="['/user/employee']" routerLinkActive="router-link-active" class="btn btn-dark">{{'back' | translate}}</button>
  </div>
  <div class="col-sm-6 float-right">
    <button type="button" (click)="updateUserStatus()" class="btn btn-primary">{{'update' | translate}}</button>
  </div>
</div>

<!------MODAL-->
<ng-template #locationModal let-c="close" let-d="dismiss" class="mode">
  <div class="modal-header">
    <h4 class="card-title">{{ modalTitile | titlecase }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-map
  [startLat]="lat"
  [startLng]="lan"
  [height]="350"

  (outputEvent)="agmMapOutput($event)"
  [markers]="[
    {
      lat: lat,
      lng: lan,

      draggable: false
    }
  ]"
  ></app-map>
</ng-template>
