<div class="modal fade" id="employeeAdd_category" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-left text_blue" id="exampleModalLabel"> {{'specialization' | translate}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div *ngIf="this.tempSpecialization.length < 5" class="col-md-4 field-label-responsive">
                        <label class="labelrequired" for="password">{{'general_specialization' |
                                translate }}</label>
                    </div>

                    <div *ngIf="this.tempSpecialization.length < 5" class="col-md-8">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"></div>
                                <ng-select placeholder="{{'general_specialization' | translate }}"
                                    (remove)="categoryDeselect()" (clear)="categoryDeselect()" [items]="category "
                                    bindLabel="category" bindValue="id" class="ng_select form-control"
                                    [ngClass]=" initialLoader" [(ngModel)]="prGeneralspec"
                                    (change)="onCategorySelect($event);categorySelect($event)">
                                </ng-select>
                               
                            </div>
                           
                        </div>
                    </div>

                    <div *ngIf="this.tempSpecialization.length < 5" class="col-md-4 field-label-responsive">
                        <label class="labelrequired" for="specialization">{{'specialization' |
                                translate }}</label>
                    </div>

                    <div *ngIf="this.tempSpecialization.length < 5" class="col-md-8">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"></div>

                                <ng-select placeholder="{{'specialization' | translate }}"
                                    (remove)="subcategoryDeselect()" (clear)="subcategoryDeselect()"
                                    [items]="subCategory " bindLabel="subCategory" bindValue="id"
                                    class="ng_select form-control" [ngClass]=" subCategoryLoader" [(ngModel)]="prSpec"
                                    (change)="onSubCategorySelected($event)">
                                </ng-select>


                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-12 mx-auto my-2 text-center">
                        <button *ngIf="this.tempSpecialization.length < 5 && showAddButton" (click)="pushItemToCategory()" type="button"
                            class="btn  btn_alkafu ">
                            <i class="fa fa-plus"></i>&nbsp;{{ 'add' | translate }}
                        </button>
                    </div>
                    <div class="col-md-12 mt-2">
                        <div class="card" *ngIf="tempSpecialization.length!=0">

                            <table class="table card-body">

                                <tbody>
                                    <tr *ngFor="let  collection of tempSpecialization;let indes=index">
                                        <td (click)="removeSpecialization(indes)" class="pointer">
                                            <i class="fa fa-trash text_blue" aria-hidden="true"></i>
                                        </td>
                                        <td>{{collection.category}}&nbsp;>&nbsp;{{collection.subCategory}}</td>
                                        <td>
                                            <small *ngIf="collection.primary" class="green_label ">
                                                {{'primary' | translate}}
                                            </small>
                                            <small (click)="makeAsPrimary(indes)" data-toggle="tooltip" data-placement="top" title="{{'make_primary' | translate}}" *ngIf="!collection.primary" class="ash_label pointer">
                                                {{'primary' | translate}}
                                            </small>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                    <div *ngIf="tempSpecialization.length!=0" class="col-md-12 mx-auto my-2 text-center">
                        <button type="button" data-dismiss="modal" aria-label="Close " class="btn  btn_alkafu ">
                            {{ 'save' | translate }}
                        </button>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<!------------------Modal withdraw wallet --------------------------->
<div class="modal fade" id="withdrawWalletModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="paymentDetails.length > 0" class="">
                        <div class="form-group">
                                <div class="input-group">
                                  <input type="tel" class="form-control" maxlength=15 [(ngModel)]="service.walletAmount" (keydown)="service.validateInputKey($event)" name="cardNumber" placeholder="{{'walletPlaceholder' | translate}} " autocomplete="cc-number"
                                    required="required" autofocus="autofocus" />
                      
                                </div>
                                <span class="danger" *ngIf="service.wallet < service.walletAmount && service.walletAmount">{{'ammountnot' | translate}}</span>
                              </div>
                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-6">
                                <label for="exampleFormControlInput1">
                                    {{'account_holder_name' | translate}} </label>
                            </div>
                            <div class="col-md-6">

                                <label>{{paymentDetails[0].accountHolderName}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-6">
                                <label for="exampleFormControlInput1">
                                    {{'account_holder_number' | translate}} </label>
                            </div>
                            <div class="col-md-6">
                                {{paymentDetails[0].accountNumber}}

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">


                            <div class="col-md-6">
                                <label for="exampleFormControlInput1">
                                    {{'Ifsc Code' |
                                translate}} </label>
                            </div>
                            <div class="col-md-6">
                                {{paymentDetails[0].routingNumber}}

                            </div>
                        </div>
                    </div>

                    
                </div>
                <p *ngIf="paymentDetails.length == 0">
                    <b>
                        {{'you_have_not_set_up' | translate}}
                    </b>

                </p>

                <p *ngIf="paymentDetails.length == 0">
                    {{'set_up_your_billing_methods' | translate}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn accept_icon d-inline-block mx-2" data-dismiss="modal">{{"close" | translate}}</button>
                <button id="payment-button" [disabled]=" service.wallet < service.walletAmount || !service.walletAmount" (click)="requestPayment('paypal')" type="button"
                class="btn btn-lg btn_alkafu  mx-2 ">
                <i class="fa fa-lock fa-lg"></i>&nbsp;
                <span id="payment-button-amount"> {{'proceed' |
                translate}} </span>

            </button>


            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------->
<div class="container-fluid">
    <!-- modalpaymentModal -->

    <div class="modal fade" id="modalpayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered   " role="document">
            <div class="modal-content">
                <div class="modal-header bg-medium-blue text-left">
                    <span class="modal-title text-white" id="exampleModalLongTitle"> {{(paymentDetails.length == 0?'add_bank_details':'edit_bank_details') | translate}}
                    </span>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid   py-2">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                    <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <label for="exampleFormControlInput1">
                                                        {{'account_holder_name' | translate}} </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" maxlength="70"
                                                        [(ngModel)]="accountHolder" class="form-control"
                                                        id="exampleFormControlInput1"
                                                        placeholder="Account holder name">
                                                    <span class="danger"
                                                        *ngIf="!accountHolder && button==1">{{validationMsg.accountHoldermissing}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <label for="exampleFormControlInput1">
                                                        {{'account_holder_number' | translate}} </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="email" maxlength="50"
                                                        [(ngModel)]="accountNumber"
                                                        (keydown)="service.validateInputKey($event)"
                                                        class="form-control" id="exampleFormControlInput1"
                                                        placeholder="{{'account_holder_number' | translate}}">
                                                    <span class="danger"
                                                        *ngIf="!accountNumber && button==1">{{validationMsg.accountNumbermissing}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <label for="exampleFormControlInput1">
                                                        {{'Ifsc Code' | translate}} </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="email" maxlength="50"
                                                        [(ngModel)]="ifscCode" class="form-control"
                                                        id="exampleFormControlInput1"
                                                        placeholder="{{'Ifsc Code' | translate}}">
                                                    <span class="danger"
                                                        *ngIf="!ifscCode && button==1">{{validationMsg.required}}</span>
                                                    <span class="danger"
                                                        *ngIf="ifscCode && ifscCode.match(regexNumberAndCharOnly)">{{validationMsg.ifscInvalid}}</span>
                                                </div>
                                            </div>
                                        </div>
                                       

                                        <div class="form-group">
                                            <div class="row">


                                                <div class="col-md-6 ml-auto">
                                                    <button id="payment-button" (click)="addPayment('card')"
                                                        type="button"
                                                        class="btn btn-lg btn_alkafu btn-block">
                                                        <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                        <span id="payment-button-amount"> {{'submit' |
                                                            translate}} </span>

                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- endmodalpaymentModal -->

    <!-- Wallet add page Modal-->

    <div class="modal fade" id="modalwalletadd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-medium-blue">
                    <h5 class="modal-title text-white" id="exampleModalLongTitle"> Wallet details</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid   py-2">
                        <div class="row">
                            <div class="col-md-12 mx-auto mb-2">

                                <div class="d-flex flex-row mt-2">

                                    <div class="row">
                                        <div class="col-md-3 col-12 mx-auto">
                                            <ul class="nav nav-tabs nav-tabs  nav-tabs mx-auto my-2 " role="navigation"
                                                style="min-height: 200px;">

                                                <li class="nav-item settingnav mx-auto">
                                                    <a href="#paypal1" class="nav-link active" style="min-width: 180px;"
                                                        data-toggle="tab" role="tab" aria-controls="ipsum"> {{'pay_pal'
                                                        | translate}} </a>
                                                </li>


                                                <br>
                                                <li class="nav-item settingnav mx-auto">
                                                    <a href="#debittab1" class="nav-link " style="min-width: 180px;"
                                                        data-toggle="tab" role="tab" aria-controls="dolor">
                                                        {{'debit_card' | translate}} &nbsp; &nbsp;&nbsp;</a>
                                                </li>

                                                <br>

                                                <li class="nav-item settingnav mx-auto">
                                                    <a href="#cedittab1" class="nav-link" style="min-width: 180px;"
                                                        data-toggle="tab" role="tab" aria-controls="dolor">
                                                        {{'credit_card' | translate}} </a>
                                                </li>

                                                <br>


                                            </ul>

                                        </div>

                                        <div class="col-md-9 col-12" style="background-color: #fff;">
                                            <div class="tab-content p-4"
                                                style="min-height: 50vh;  background-color: #fff;">

                                                <div class="tab-pane fade" id="debittab1" role="tabpanel">

                                                    <form action="" method="post" novalidate="novalidate">

                                                        <div class="form-group text-center">
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item"><i
                                                                        class="text-muted fa fa-cc-visa fa-2x"></i></li>
                                                                <li class="list-inline-item"><i
                                                                        class="fa fa-cc-mastercard fa-2x"></i></li>
                                                                <li class="list-inline-item"><i
                                                                        class="fa fa-cc-amex fa-2x"></i></li>
                                                                <li class="list-inline-item"><i
                                                                        class="fa fa-cc-discover fa-2x"></i></li>
                                                            </ul>
                                                        </div>

                                                        <div class="form-group has-success">
                                                            <label for="cc-name" class="control-label">Name on
                                                                card</label>
                                                            <input id="cc-name" name="cc-name" type="text"
                                                                class="form-control cc-name valid" data-val="true"
                                                                data-val-required="Please enter the name on card"
                                                                autocomplete="cc-name" aria-required="true"
                                                                aria-invalid="false" aria-describedby="cc-name-error">
                                                            <span class="help-block field-validation-valid"
                                                                data-valmsg-for="cc-name"
                                                                data-valmsg-replace="true"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="cc-number" class="control-label">Card
                                                                number</label>
                                                            <input id="cc-number" name="cc-number" type="tel"
                                                                class="form-control cc-number identified visa" value=""
                                                                data-val="true"
                                                                data-val-required="Please enter the card number"
                                                                data-val-cc-number="Please enter a valid card number"
                                                                autocomplete="cc-number">
                                                            <span class="help-block" data-valmsg-for="cc-number"
                                                                data-valmsg-replace="true"></span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="cc-exp"
                                                                        class="control-label">Expiration</label>
                                                                    <input id="cc-exp" name="cc-exp" type="tel"
                                                                        class="form-control cc-exp" value=""
                                                                        data-val="true"
                                                                        data-val-required="Please enter the card expiration"
                                                                        data-val-cc-exp="Please enter a valid month and year"
                                                                        placeholder="MM / YY" autocomplete="cc-exp">
                                                                    <span class="help-block" data-valmsg-for="cc-exp"
                                                                        data-valmsg-replace="true"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <label for="x_card_code" class="control-label"> CVV
                                                                </label>
                                                                <div class="input-group">
                                                                    <input id="x_card_code" name="x_card_code"
                                                                        type="tel" class="form-control cc-cvc" value=""
                                                                        data-val="true"
                                                                        data-val-required="Please enter the security code"
                                                                        data-val-cc-cvc="Please enter a valid security code"
                                                                        autocomplete="off">

                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div>
                                                            <button id="payment-button" type="submit"
                                                                class="btn btn-lg btn_alkafu btn-block">
                                                                <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                                <span id="payment-button-amount"> {{'submit' |
                                                                    translate}} </span>

                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="tab-pane fade" id="cedittab1" role="tabpanel">
                                                    <form action="" method="post" novalidate="novalidate">

                                                        <div class="form-group text-center">
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item"><i
                                                                        class="text-muted fa fa-cc-visa fa-2x"></i></li>
                                                                <li class="list-inline-item"><i
                                                                        class="fa fa-cc-mastercard fa-2x"></i></li>
                                                                <li class="list-inline-item"><i
                                                                        class="fa fa-cc-amex fa-2x"></i></li>
                                                                <li class="list-inline-item"><i
                                                                        class="fa fa-cc-discover fa-2x"></i></li>
                                                            </ul>
                                                        </div>

                                                        <div class="form-group has-success">
                                                            <label for="cc-name" class="control-label">Name on
                                                                card</label>
                                                            <input id="cc-name" name="cc-name" type="text"
                                                                class="form-control cc-name valid" data-val="true"
                                                                data-val-required="Please enter the name on card"
                                                                autocomplete="cc-name" aria-required="true"
                                                                aria-invalid="false" aria-describedby="cc-name-error">
                                                            <span class="help-block field-validation-valid"
                                                                data-valmsg-for="cc-name"
                                                                data-valmsg-replace="true"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="cc-number" class="control-label">Card
                                                                number</label>
                                                            <input id="cc-number" name="cc-number" type="tel"
                                                                class="form-control cc-number identified visa" value=""
                                                                data-val="true"
                                                                data-val-required="Please enter the card number"
                                                                data-val-cc-number="Please enter a valid card number"
                                                                autocomplete="cc-number">
                                                            <span class="help-block" data-valmsg-for="cc-number"
                                                                data-valmsg-replace="true"></span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="cc-exp"
                                                                        class="control-label">Expiration</label>
                                                                    <input id="cc-exp" name="cc-exp" type="tel"
                                                                        class="form-control cc-exp" value=""
                                                                        data-val="true"
                                                                        data-val-required="Please enter the card expiration"
                                                                        data-val-cc-exp="Please enter a valid month and year"
                                                                        placeholder="MM / YY" autocomplete="cc-exp">
                                                                    <span class="help-block" data-valmsg-for="cc-exp"
                                                                        data-valmsg-replace="true"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <label for="x_card_code" class="control-label"> CVV
                                                                </label>
                                                                <div class="input-group">
                                                                    <input id="x_card_code" name="x_card_code"
                                                                        type="tel" class="form-control cc-cvc" value=""
                                                                        data-val="true"
                                                                        data-val-required="Please enter the security code"
                                                                        data-val-cc-cvc="Please enter a valid security code"
                                                                        autocomplete="off">

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div>
                                                            <button id="payment-button" type="submit"
                                                                class="btn btn-lg btn_alkafu btn-block">
                                                                <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                                <span id="payment-button-amount"> {{'submit' |
                                                                    translate}} </span>

                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="tab-pane fade show active" id="paypal1" role="tabpanel">




                                                </div>


                                            </div>


                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- iconrow -->

    <div class="row col-mt-5">
        <div class="col-md-11  mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
            <div class="container-fluid   py-2">
                <div class="row">
                    <div class="col-md-12 mx-auto mb-2">

                        <h4 class="text-center bg-white pt-2 pb-2  text_heading"> {{'settings' | translate}} </h4>

                        <div class="d-flex flex-row mt-2">

                            <div class="row">
                                <div class="col-md-3 col-12 mx-auto">
                                    <ul class="nav nav-tabs nav-tabs  nav-tabs  mx-auto my-2 " role="navigation"
                                        style="min-height: 200px;">
                                        <li class="nav-item settingnav mx-auto">
                                            <a href="#dolor"  [class]="tab==1?'active nav-link':'nav-link'" 
                                                data-toggle="tab" role="tab" aria-controls="dolor"
                                              >
                                                {{'password_security' | translate}}
                                            </a>
                                        </li>

                                        <li (click)="loadRegisterLevel()" *ngIf="service.isEmployeeLogin()" class="nav-item settingnav mx-auto " >
                                            <a href="#available_tab"   [class]="tab==2?'active nav-link':'nav-link'"  data-toggle="tab"
                                                role="tab" aria-controls="dolor" > {{'availability' | translate}}
                                            </a>
                                        </li>
                                        <li (click)="loadRegisterLevel()" *ngIf="service.isEmployeeLogin()"  class="nav-item settingnav mx-auto" >
                                            <a href="#categories_tab"    [class]="tab==3?'active nav-link':'nav-link'" data-toggle="tab"
                                                role="tab" aria-controls="dolor" > {{'categories' | translate}}
                                            </a>
                                        </li>
                                        <li (click)="getWalletHistory()" class="nav-item settingnav mx-auto">
                                            <a href="#walletview" class="nav-link "
                                                data-toggle="tab" role="tab"
                                                 aria-controls="dolor"> {{'wallet' |
                                                translate}} &nbsp; &nbsp;&nbsp;</a>
                                        </li>

                                        <li class="nav-item settingnav mx-auto" >
                                            <a href="#ipsum" class="nav-link" 
                                                data-toggle="tab" role="tab" >
                                                {{'bank_details' | translate}} </a>
                                        </li>

                                        <!-- <br>

                                         <li class="nav-item settingnav mx-auto">
                                            <a href="#sit-amet" class="nav-link" style="min-width: 180px;" data-toggle="tab"
                                                role="tab" aria-controls="sit-amet"> {{'notification_settings' |
                                                translate}}
                                            </a>
                                        </li> -->



                                        <!-- <br>

                                        <li class="nav-item settingnav mx-auto">
                                            <a href="#app-set" class="nav-link" style="min-width: 180px;" data-toggle="tab"
                                                role="tab" aria-controls="app-set">
                                                {{'app_settings' | translate}} &nbsp; &nbsp; &nbsp;
                                            </a>
                                        </li>

                                        <br> -->
                                    </ul>

                                </div>

                                <div class="col-md-9 col-12">
                                    <div class="tab-content p-4" style="min-height: 50vh">


                                        <div class="tab-pane fade" id="ipsum" role="tabpanel">
                                            <h5> {{'billing_methods' | translate}} </h5>

                                            <hr >

                                            <div  class="row px-3 w-100">
                                                <div class="col-md-9">
                                                    <h6> {{ (paymentDetails.length == 0?'add_billing_method':'edit_billing_method') | translate}} </h6>
                                                </div>

                                                <div class="col-md-3">
                                                    <button class="btn btn_alkafu" data-toggle="modal" (click)="resetBankDetails()"
                                                        data-target="#modalpayment">
                                                        {{(paymentDetails.length == 0?'add_bank_details':'edit_bank_details')  | translate}} </button>
                                                </div>
                                            </div>

                                            <hr>

                                            <p *ngIf="paymentDetails.length == 0">
                                                <b>
                                                    {{'you_have_not_set_up' | translate}}
                                                </b>

                                            </p>

                                            <p *ngIf="paymentDetails.length == 0">
                                                {{'set_up_your_billing_methods' | translate}}
                                            </p>


                                            <div *ngIf="paymentDetails.length > 0" class="row">
                                                <div class="col-md-8 mx-auto">
                                                    <div class="card">
                                                        <div class="card-header bkgdarkblue text-white">Bank account
                                                            details <label [swal]="deleteBanck" class="pointer float-right"  for=""><i class="fa fa-trash text-white"></i></label></div>

                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">{{'account_holder_name' |
                                                                translate}} : {{paymentDetails[0].accountHolderName}}
                                                            </li>

                                                            <li class="list-group-item"> {{'account_holder_number' |
                                                                translate}} : {{paymentDetails[0].accountNumber}}</li>



                                                            <li class="list-group-item">{{'Ifsc Code ' |
                                                                translate}} : {{paymentDetails[0].routingNumber}}</li>


                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                            <p style="visibility: hidden;">
                                                Ut eget lectus tristique, tempus purus sit amet, porta augue. Mauris
                                                lobortis
                                                sem nec augue ultricies blandit. Nullam sed sem venenatis, pretium urna
                                                eget,
                                                scelerisque dolor. Morbi nec volutpat leo, quis faucibus tortor. Aenean
                                                vel
                                                rutrum mauris. Pellentesque lectus massa, tincidunt quis leo non,
                                                sodales
                                                sagittis nulla. Proin interdum est at nulla laoreet, pulvinar pretium
                                                nisl
                                                rutrum. In vel elit a risus rhoncus accumsan vulputate non sapien. Sed
                                                et
                                                rhoncus velit..
                                            </p>
                                        </div>



                                        <div  [class]="tab==2?'show active tab-pane fade':'tab-pane fade'"  id="available_tab"  role="tabpanel" *ngIf="service.employee_login">
                                            <h5>{{'availability' | translate}} </h5>

                                            <hr>
                                            <div class="row px-3 w-100">
                                                <div class="col-md-8">
                                                    <div class="row">
                                                            <div class="col-md-4 p-3">
                                                                    <label>
                                                                            <input type="radio" name="test" (click)="setAvailablity($event)" value="Any" checked>
                                                                            <div class="imgicon">
                                                                            <img src="assets/images/a_scrollw.png" class="img-fluid-70">
                                                                            <h5 class="text-center"> {{'any' | translate}} </h5>
                                                                            </div>
                                                                    </label>
                                                            </div>
                                                        <div class="col-md-4 p-3">
                                                                   
                                                                      <label class="">
                                                                        <input type="radio" name="test" (click)="setAvailablity($event)" value="Morning" >
                                                                        <div class="imgicon">
                                                                        <img src="assets/images/a_sunrisew.png" class="img-fluid-70">
                                                                        <h5 class="text-center"> {{'morning' | translate}} </h5>
                                                                         </div>
                                                                      </label>
                                                                    
                                                        </div>
                                                        <div class="col-md-4 p-3">
                                                                <label>
                                                                        <input type="radio" name="test" (click)="setAvailablity($event)" value="Day">
                                                                        <div class="imgicon">
                                                                        <img src="assets/images/a_sunw.png" class="img-fluid-70">
                                                                        <h5 class="text-center"> {{'day' | translate}} </h5>
                                                                        </div>
                                                                  </label>
                                                        </div>
                                                        <div class="col-md-4 p-3">
                                                                <label>
                                                                        <input type="radio" name="test" (click)="setAvailablity($event)" value="Evening">
                                                                        <div class="imgicon">
                                                                        <img src="assets/images/a_cloudy-morningw.png" class="img-fluid-70">
                                                                        <h5 class="text-center"> {{'evening' | translate}} </h5>
                                                                        </div>
                                                                  </label>
                                                        </div>
                                                        <div class="col-md-4 p-3">
                                                                <label class="">
                                                                  <input type="radio" name="test" (click)="setAvailablity($event)" value="Night" >
                                                                  <div class="imgicon">
                                                                  <img src="assets/images/a_moonw.png" class="img-fluid-70">
                                                                  <h5 class="text-center"> {{'night' | translate}} </h5>
                                                                  </div>
                                                                </label>

                                                         </div>
                                                  <div class="col-md-4 p-3">
                                                          <label> 
                                                                
                                                                  <input type="radio" name="test" (click)="setAvailablity($event)" value="Weekend">
                                                                  <div class="imgicon">
                                                                  <img src="assets/images/a_appointmentw.png" class="img-fluid-70">
                                                                  <h5 class="text-center">  {{'Weekend' | translate}} </h5>
                                                                 </div>
                                                            </label>
                                                  </div>
                                                
                                                    </div>
 
                                                </div>

                                            </div>

                                            <hr>
                                            <p style="visibility: hidden;">
                                                Ut eget lectus tristique, tempus purus sit amet, porta augue. Mauris
                                                lobortis
                                                sem nec augue ultricies blandit. Nullam sed sem venenatis, pretium urna
                                                eget,
                                                scelerisque dolor. Morbi nec volutpat leo, quis faucibus tortor. Aenean
                                                vel
                                                rutrum mauris. Pellentesque lectus massa, tincidunt quis leo non,
                                                sodales
                                                sagittis nulla. Proin interdum est at nulla laoreet, pulvinar pretium
                                                nisl
                                                rutrum. In vel elit a risus rhoncus accumsan vulputate non sapien. Sed
                                                et
                                                rhoncus velit..
                                            </p>
                                        </div>
                                        <div [class]="tab==3?'show active tab-pane fade':'tab-pane fade'"  id="categories_tab" role="tabpanel" *ngIf="service.employee_login">
                                            <h5>{{'categories' | translate}} </h5>

                                            <hr>

                                            <div class="row ">
                                                <div class="col-md-12">
                                                    <div class="card pointer" *ngIf="tempSpecialization.length!=0">

                                                        <table class="table table-sm card-body">
    
                                                                <tbody>
                                                                    <tr *ngFor="let  collection of tempSpecialization;let indes=index">
                                                                        <td (click)="removeSpecialization(indes)" class="pointer">
                                                                            <i class="fa fa-trash text_blue" aria-hidden="true"></i>
                                                                        </td>
                                                                        <td class="d-none d-sm-block" >{{collection.category}}&nbsp;>&nbsp;{{collection.subCategory}}</td>
                                                                        <td class="d-block d-sm-none" ><b>{{collection.category}}</b> &nbsp;> <br> {{collection.subCategory}}</td>

                                                                        <td>
                                                                            <small *ngIf="collection.primary" class="green_label ">
                                                                                {{'primary' | translate}}
                                                                            </small>
                                                                            <small (click)="makeAsPrimary(indes)" data-toggle="tooltip" data-placement="top" title="{{'make_primary' | translate}}" *ngIf="!collection.primary" class="ash_label pointer">
                                                                                {{'primary' | translate}}
                                                                            </small>
                                                                        </td>
                                
                                                                    </tr>
                                
                                                                </tbody>
                                                            </table>
    
                                                    </div>
                                                <div class="row my-2">
                                                    <div class="col-md-6 mt-1">
                                                        <button type="button" *ngIf="this.tempSpecialization.length < 5" (click)="resetModal()" id="employeeAdd_category" class="btn  btn_alkafu"
                                                    data-toggle="modal" data-target="#employeeAdd_category">
                                                    {{ 'add_specialization' | translate }} <i class="fa fa-plus"
                                                        aria-hidden="true"></i>
                                                </button>
                                                    </div>
                                                    <div class="col-md-6 mt-1">
                                                        <button type="button"  (click)="submitPersonalData()" id="employeeAdd_category" class="btn  btn_alkafu"
                                                   >
                                                    {{ 'save' | translate }} 
                                                </button>
                                                    </div>
                                                </div>
                                                </div>

                                               
                                            </div>

                                            <p style="visibility: hidden;">
                                                Ut eget lectus tristique, tempus purus sit amet, porta augue. Mauris
                                                lobortis
                                                sem nec augue ultricies blandit. Nullam sed sem venenatis, pretium urna
                                                eget,
                                                scelerisque dolor. Morbi nec volutpat leo, quis faucibus tortor. Aenean
                                                vel
                                                rutrum mauris. Pellentesque lectus massa, tincidunt quis leo non,
                                                sodales
                                                sagittis nulla. Proin interdum est at nulla laoreet, pulvinar pretium
                                                nisl
                                                rutrum. In vel elit a risus rhoncus accumsan vulputate non sapien. Sed
                                                et
                                                rhoncus velit..
                                            </p>
                                        </div>
                                        

                                        <div class="tab-pane fade  " id="walletview" role="tabpanel">
                                            <app-wallet></app-wallet>
                                        </div>
                                        <!-- class="show active tab-pane fade"  -->
                                        <div  [class]="tab==1?'show active tab-pane fade':' tab-pane fade'" id="dolor" role="tabpanel">
                                            
                                            <app-password></app-password>
                                        </div>

                                        <div  class="tab-pane fade" id="app-set" role="tabpanel">
                                            <app-app-settings></app-app-settings>
                                        </div>

                                        <div class="tab-pane fade" id="sit-amet" role="tabpanel">
                                            <app-notification-settings></app-notification-settings>
                                        </div>
                                    </div>


                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<swal #deleteBanck [title]="'areyousure' | translate" [text]="'cantbeundone' | translate" type="question"
  [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteBanckDetails()">
</swal>