// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
.process-button{
    padding: 2px 10px;
    margin: 0px 49px;
}