<div class="container-fluid">
    <div class="row">
      <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
        <div class="container mt-4">
          <div class="row bg-white">
            <div class="col-md-12 mb-4">
              <div class="row">
               
  
                <div class="col-md-11 col-10 mx-auto shadow  my-1">
                  <div class="">
                    <div class="cards py-2">
                     
  
                      <div class="row tab-content mt-5 mb-4">
                        <div
                          class="col-md-12 tab-pane bg-white active"
                       
                          role="tabpanel"
                        >
                          <h5 class="text_heading text-center">  {{"privacy" | translate}} </h5>
                          <hr>


                          <div class="p-1 "   *ngIf="service.getStorage('language') == 'ar'">
                              من منطلق الأمانة فإنه بعد تقديرنا للثقة التي وضعتها فينا فإننا نشكرك على الثقة التي أوليتها إيانا، ونشجعك على فتح حساب لدينا في Up-parttimeوالذي سوف يطلب منك فيه معلوماتكالشخصية ،ونحن ملتزمون أخلاقياً وقانونياً بخصوصيتك، وحماية البيانات الشخصية التي تسجلها في موقعنا، سواء اسمك أو عنوانك أو أرقام هواتفك أو عنوانك البريدي وبينات الدفع.
                              جمع معلومات معينة تخصك :
                              كأي موقع مماثل في العالم - وهو ما لا يعلمه كثير من المستخدمين - فإننا نشعرك مقدما بأنه عندما تقوم بزيارة موقعنا فإننا نقوم بجمع معلومات معينة مثل معلومات عن خطوط الطول والعرض الذي تقع عليه، وعنوان الـ IP ونوع المتصفح الذي تستخدمه في جهازك، ونظام التشغيل الذي يشغل حاسوبك، وإعدادات اللغة ومعلومات أخرى حول جهازك. وربما أيضا نقوم بجمع معلومات عنك عند استخدامك لشبكات التواصل الاجتماعية والتي يجمعها مقدمي الخدمات على الشبكة العنكبوتية، وهذا ما تلاحظه دائما عندما تقوم بتحميل أي تطبيق جديد، إلا أننا نؤكد أن هذه المعلومات التي نجمعها هي معلومات عامة ولا تستخدم أو يزود بها أي جهة أخرى للإضرار بك أو بحريتك أو بأسرارك.
                              نحن نقوم بجمع هذه المعلومات من أجل استخدام بياناتك لحجوزات العمل التي توافق عليها أو يمنح أهمها للمستخدم الذي سيتعامل معك، ومن أجل وتسهيل خدمتك على فريق خدمة العملاء خلال 24 ساعة .
                              يمكنك: إدارةحسابك وإعداداتك
                              يمكنك إدارةحسابك وإعداداتك والتي تسمحلكبمشاركةقوائموصورومعلومات عن أصحاب عمل أو منشآت أو طالبي عمل،ومشاهدةمعلوماتأخرىقمتبتزويدنابها. وتسمحلكأيضًابمشاهدةأيتعليققمتبإرسالهعنالمنشئات التي عملت معها.
                              نستخدممعلوماتك الشخصية لتزويدك بفرص العمل وتوفر طالبي عمل مميزين:
                              نقومأيضًابإستخداممعلوماتك الشخصية لتزويدك بالعروض والإعلانات عن وظائف شاغرة، وسير طالبي عمل. أو إرسال معلومات تهم تخصصك.
                              تعليقاتك قد نستفيد منها وعرضها في موقعنا ليستفيد منها الآخرون ولتحسين مستوى الخدمة وطرق العمل في مجال العمل بالوقت الجزئي.
                              طرق التواصل معك :
                              تواصلنا معك قد يكون بأي من طرقالتواصلالمختلفة مثل البريدالإلكترونيوالهاتفوالإعلانوالرسائلالنصيةووسائل وتطبيقات التواصل الاجتماعي، إعتمادًاعلىمعلوماتالإتصالالتيقمتبتزويدنا بها. 
                              
                             
                           </div>
 
                          <div class="p-1 "   *ngIf="service.getStorage('language') == 'en'">
                              
                                 
                          <div class="p-1">
                            
                              <p class="text-secondary"> Thank you for the trust you have given us, We encourage you to sign up at Up-parttime, which will ask you for your personal information, We are morally and legally committed to your privacy and to protecting the personal data you record on our site, whether your name, address, phone numbers, postal address, and payment evidence. </p>
                            </div>
    
                         
                              <div class="p-1 ">
                                 <h6 class="text-left">Collect certain information about you:</h6>
                                 <p class="text-secondary"> Like any similar site in the world - which many users do not know - we inform you in advance that when you visit our site we collect certain information Such as information about latitude and longitude, IP address, type of browser you use on your device, operating system running your computer, language settings and other information about your device. We may also collect information about you when you use social networks that are collected by web service providers, This is what you always notice when you download a new application, but we confirm that the information we collect is general information and is not used or provided by any third party to harm you or your privacy or your secrets. <br> We collect this information in order to use your data for business bookings that you agree to or provide the most important to the user who will deal with you, and to facilitate your service to the customer service team within 24 hours. </p>
                              
                              </div>
                       
                             <div class="p-1">
                              <h6 class="text-left"> You can: Manage your account and settings:</h6>
                              <p class="text-secondary"> Manage your account and settings that allow you to share lists, photos, and information about employers, establishments or job seekers, and see other information you've provided. It also allows you to see any comments you've sent about the facilities you've worked with. </p>
                              
                            </div>
                            <div class="p-1">
                                <h6 class="text-left"> We use your personal information to provide you with job opportunities and provide excellent job seekers:</h6>
                                <p class="text-secondary">We also use your personal information to provide you with offers and advertisements for vacancies, and job seekers. Or send information that is important to your specialty.</p>
                                <p class="text-secondary">Your comments may be used and displayed on our site for the benefit of others and to improve the level of service and ways of working in the field of work in part time.</p>
  
                              </div>
  
                              <div class="p-1">
                                  <h6 class="text-left"> Ways to communicate with you:</h6>
                                  <p class="text-secondary">Our communication with you may be in any of the different ways of communication such as e-mail, telephone, advertising, text messages, social media means and applications, depending on the contact information you provided us.</p>
  
                                </div>
  
                            
                            
                              
                                  <div class="p-1">
                                      <h6 class="text-left"> We may suggest establishment for your specialty: </h6>
                                      <p class="text-secondary"> Sometimes, if you do not choose a particular establishment or employer, or you are an employer or an establishment, we may send you an email, text message, or any other social media that we suggest to you for any suitable employer or job applicant. </p>
                                      <p class="text-secondary">  When you choose an establishment, we will send some additional information related to that Est. </p>
                                  </div>
                                  <div class="p-1">
                                      <h6 class="text-left"> Fraud Detection: </h6>
                                      <p class="text-secondary">Unfortunately, in all communities there are people who are fraudulent and therefore, in order to provide a credible and credible service, we may use your personal information to detect fraud or illegal or unwanted activities in order to prevent them. Without causing any harm to you.</p>
                                      
                                  </div>
                                  <div class="p-1">
                                      <h6 class="text-left"> Using up-parttime social media:</h6>
                                      <p class="text-secondary">We use social mediaof all kinds to develop our services and serve our partners.  <br> You can share with us through these networks, these social services may enable you to share information with up-parttime.<br>
                                        The information you share with us may include some basic information that is available on your social networking site, your email address, your friends' list, and status in this social network. We inform you that this information is necesszary to provide you with unique experience either on the application itself or on the website.Our applications facilitate this subject to suit your needs, connect with your friends, analyze and improve our associated business services. <br>
                                        Our team may enable you to sign up for up-parttime services through your social networking accounts. Your social networking provider will be able to tell you more about how they use and manage your data in those situations.Of course, when you deal with another party, whether you are an employer or job applicant, we will send your personal information, such as your name, nature of work, experience, contact details, etc. <br>
                                        There are other parties to the advertising networks, perhaps for analytical purposes of the labor market, we may provide them with such information in very narrow conditions and will not be allowed by us and in our legal contracts with them to use your data for purposes other than the above.We will have partners, service offices, distributors, delegates and service providers on our behalf around the world, when needed they will be provided with this information to better serve you.<br>
                                        Manage your account and settings that allow you to share lists, photos, and information about employers, establishments or job seekers, and see other information you've provided. It also allows you to see any comments you've sent about the facilities you've worked with.
                                       </p>
                                    </div>
  
                                    <div class="p-1">
                                        <h6 class="text-left"> Provide your data to the authorities: </h6>
                                        <p class="text-secondary">We work under the rule of law, and it is sometimes our duty to provide your registered personal data with the governmental and legal authorities that have the right to enforce the application and who are submitting formal requests, but the application must be made by judicial authorities and recognized legal procedures.. The information will be as little as possible and according to judicial demand.</p>
                                        
                                    </div>
                                    <div class="p-1">
                                        <h6 class="text-left"> Sharing information: </h6>
                                        <p class="text-secondary">For the breadth and breadth of work, we are working with other sites in the world to share the concept of working in the part time, in our site and on mobile applications.Therefore, in the case of (and in a narrow range) that you participate in a site, some personal data, of course, may share with us.This is part of your account management process so that they can ultimately handle your orders associated with booking and for marketing purposes.so . Your limited information is therefore subject to the policies of our partners and governed by our policy on this subject.</p>
                                        
                                    </div>
                                    <div class="p-1">
                                        <h6 class="text-left"> Your evaluation: </h6>
                                        <p class="text-secondary">After you have worked at an establishment or employer or when a part-time job applicant has done business with you, there is a form at the platform to evaluate other party,This evaluationis important for us to develop our servaces and to develop the establishment and the employee himself, and to provide the other beneficiaries with information that may concern them,On which they will base their decisions. The completion of this evaluation allows us to publish it in our means, and we are the choice if we see a public interest to publish it in our means or not.. While maintaining the confidentiality of the name of the evaluator if requested.</p>
                                        
                                    </div>
  
                            
                            </div>


                        </div>
  
                     
  
                      </div>
                    </div>



                  </div>
                </div>




              </div>
            </div>



            
  
            <!-- </div>
                                  <div class="row"> -->
          </div>
  
          <!-- row -->
        </div>
  
        <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                     </div> -->
      </div>
  
      <!-- end iconrow -->
    </div>
  </div>
  