<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="m-b-0">{{'usersthisweek' | translate}}</h4>
                        <h6 class="font-light m-b-0">March 2019</h6>
                    </div>
                    <!-- <div class="ml-auto">
                        <ul class="list-inline font-12 dl m-r-10">
                            <li class="list-inline-item">
                                <i class="fas fa-dot-circle text-info"></i> Ipad
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-dot-circle text-danger"></i> Iphone</li>
                        </ul>
                    </div> -->
                </div>
                <div id="product-sales" style="height:305px"></div>
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body bg-light-warning text-white">
                <div style="height: 270px">
                  <!-- {{variable.jobbarChart | json}} -->
                    <x-chartist id="weeksales-bar" class="position-relative" [data]="variable.jobbarChart.data" [type]="variable.jobbarChart.type" [options]="variable.jobbarChart.options"></x-chartist>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center">

                    <div>
                        <span class="btn-circle btn-lg btn btn-outline-secondary">
                            <i class="ti-shopping-cart"></i>
                        </span>
                    </div>
                    <div class="m-l-10">
                        <h4 class="card-title">{{'jobs' | translate}}</h4>
                        <h5 class="card-subtitle">{{'overviewoflatestmonth' | translate}}</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
