.nav-tabs .nav-link {
    background-color: transparent;
    color: #7b7979;
    border-color: #002d68;
    border-radius: 15px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    margin: 10px;
}

    .nav-link.active {
        background-color: #002d68 !important;
        color: #fff !important;
        box-shadow: none;
        border: none
    }
    .nav-tabs {
        background-color: #fff;
      
    }
    .tab-content{
        width: 80%;
        margin: auto;
    }