<!-- Header with Background Image -->


<div class="masthead1"  >
   <div class="container my-auto">
      <div class="row " style="height: 70vh;">
          <div class="col-md-6 my-auto  text-center">
                 <h2 class=" text_blue py-1 px-2 text-center">{{ 'baner1_title' | translate }}</h2>
                 <h6 class=" txt_ash  py-1 px-2 text-center"> <b> {{'banner1_body' | translate }} </b> </h6>
                 <button routerLink="/how-it-work" class="btn btn_alkafu pl-3 pr-3  text-center">
                {{'banne_btn' | translate }}</button>
          </div>
      </div>
   </div>
</div>

<div class="container">
  <!-- iconrow -->

  <div class="row">
    <div class="col-md-12 mainheading text-center mt-4 mb-4">
      <h3  data-trn-key="test">{{'most_popular' | translate }}</h3>

      <p>
        {{'most_popular_sub' | translate}}
      </p>
    </div>
  </div>

  <div class="iconrow">
    <div class="row"   data-toggle="modal" data-target="#Modalsearchcategorymenu" routerLink="">
        <div class="col-xs-2 col-md-2 line1" *ngFor="let categories of topCategories; let i = index" (click)="updateCategoryFilter(categories)" >
         
            <img
              src="{{categories.image}}"
              class="ico_top mx-auto"
            >
          <p class="text-center mt-2" >{{categories.name}}</p>
        </div>
    </div>
  </div>

  <!-- <div class="iconrow">
    <div class="row"   data-toggle="modal" data-target="#Modalsearchcategorymenu" routerLink="">
      <div class="col-xs-3 col-md-3 line1">
         
          <img
            src="assets/images/1.png"
            class="ico_top mx-auto"
          >
        <p class="text-center mt-2" >{{"maintenance" | translate}}</p>
      </div>

      <div class="col-xs-3 col-md-3 line2">
         
          <img
            src="assets/images/3.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{'cleaning_services' | translate }}</p>
      </div>

      <div class="col-xs-3 col-md-3 line2">
         
          <img
            src="assets/images/5.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{'office_jobs' | translate}}</p>
      </div>

      <div class="col-xs-3 col-md-3 line3">
         
          <img
            src="assets/images/6.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{'repair' | translate}}</p>
      </div>

      <div class="col-xs-3 col-md-3 line1">
         
          <img
            src="assets/images/7.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{'construction' | translate}}</p>
      </div>

      <div class="col-xs-3 col-md-3 line2">
         
          <img
            src="assets/images/8.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{'automotive' | translate}}</p>
      </div>

      <div class="col-xs-3 col-md-3 line2">
         
          <img
            src="assets/images/10.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{'event_management' | translate}}</p>
      </div>

      <div class="col-xs-3 col-md-3 line3">
         
          <img
            src="assets/images/11.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{'agricultural' | translate}}</p>
      </div>

      <div class="col-xs-3 col-md-3 line4">
         
          <img
            src="assets/images/17.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{'tutors' | translate}}</p>
      </div>

      <div class="col-xs-3 col-md-3 line5">
         
          <img
            src="assets/images/16.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{"travel_services" | translate}}</p>
      </div>

      <div class="col-xs-3 col-md-3 line5">
         
          <img
            src="assets/images/14.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{'professionals' | translate}}</p>
      </div>

      <div class="col-xs-3 col-md-3 line6">
         
          <img
            src="assets/images/9.png"
            class="ico_top mx-auto"
          >
         

        <p class="text-center mt-2">{{"hire_vehicle_drivers" | translate}}</p>
      </div>
    </div>
  </div> -->

  <!-- end iconrow -->
  <!-- 2 rowrow -->

  

  <!-- end 2 nd row -->
  <!-- end 3 row -->

  

  <!-- 3dr row end --> 
  </div>

  <div class="container-fluid  py-3 mt-3 hideme"  style="background-color: #d7d8e1;">
      
      <div class="row mt-4 mb-0  page_w_90 mx-auto ">
          <div class="col-md-6 mainheading text-left mt-4 mb-4 my-auto ">
            <h2 class="text_blue">
              {{'jobs_of'  | translate}}
            </h2>
          
              <h4 style="font-size: 1.4rem;">
              {{'find_the_one' | translate}}
              </h4>
      
            <!-- <p>
              {{'jobs_of_sub' | translate}}
            </p> -->
      
            <button
              type="button"
              class="btn_alkafu pl-3 pr-3 mb-4" (click)="service.whoesLogin=1" routerLink="/login"
            >{{'register_for_job' | translate}}</button>
          </div>
      
          <div
            class="col-md-6 mb-3"
            style="">
             
              <img
                src="assets/images/rightimg.jpg"
                class="img-fluid  mx-auto"
              >
             
          </div>
        </div>
  </div>

  <div class="container-fluid py-3 hideme " style="background-color: #e6e5e8">

      <div class="row mt-4 mb-4 page_w_90 mx-auto" >
          <div
            class="col-md-6"
            style=""
          >
             
              <img
                src="assets/images/adminiW.png"
                class="img-fluid  mx-auto"
              >
             
          </div>
      
          <div class="col-md-6 mainheading text-left mt-4 mb-4 my-auto">
            <h2 class="mt-4 text_blue ">
              {{'hire_people' | translate}}
            </h2>
            <h4 style="font-size: 1.4rem;">
              {{'find_them'  | translate}}
            </h4>
      
            <!-- <p>
              {{'hire_people_content' | translate}}
            </p> -->
      
            <button
              type="button"
              class="btn_alkafu pl-3 pr-3 " (click)="service.whoesLogin=0" routerLink="/login"
            >{{'postjobs' | translate}}</button>
          </div>
        </div>
  <!-- 4throw -->
</div>
<div class="container-fluid hideme" style="background-color: #fff;">
  <div class="row">
    <div class="col-md-12 mainheading text-center mt-4 mb-4">
      <h3>{{'howitwork' | translate}}</h3>

      <!-- <p>
        {{'connect_business' | translate}}
      </p> -->
    </div>
  </div>

  <div class="row mb-3 ">
      <div class="col-md-12  ">
               <div class="w-100 " style="background-color: #fff;" >

                 <ul class="nav nav-tabs mx-auto justify-content-center" role="tablist" style="background-color: #fff;" >
                   <li class="nav-item" style=" text-align: center;">
                     <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"> {{'employee' | translate}} </a>
                   </li>
                   <li class="nav-item" style=" text-align: center;">
                     <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">  {{'employer' | translate}} </a>
                   </li>
                  
                 </ul>

               </div>
                 <!-- Tab panes -->
                 <div class="tab-content">
                   <div role="tabpanel" class="tab-pane  active" id="profile" style="background-color: #fff;" >
                      <div class="row">

                          <div class="col-md-3 row4_home">
                           
                              <!-- <p class="text-center  my-3 ">
                            
                                <iframe width="140" height="110" class="mx-auto" src="https://www.youtube.com/embed/_q9OEOtoqO4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              </p> -->
                                 <!-- <video class="embed-responsive embed-responsive-16by9" controls>
                                   <source class="embed-responsive-item" src="assets/images/employee_job_search.mp4" type="video/mp4">      
                                 </video> -->
                                 <iframe width="100%" src="https://www.youtube.com/embed/7IEbAF5Zhdo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <h5 class="text-center">{{'how_to_use' | translate}}</h5>
              
                            <p class="text-center">
                             {{'post_your_job_content' | translate}}
                            </p>
                          </div>
                        <div class="col-md-3 row4_home">
                           
                            <img
                              src="assets/images/howiticon4.png"
                              class="img-fluid  mx-auto"
                            >
                           
            
                          <h5 class="text-center">{{'search_your_jobs' | translate}}</h5>
            
                          <p class="text-center">
                           {{'search_your_jobs_content' | translate}}
                          </p>
                        </div>
            
                        
            
                        <div class="col-md-3 row4_home">
                           
                            <img
                              src="assets/images/howiticon2.png"
                              class="img-fluid  mx-auto"
                            >
                           
            
                          <h5 class="text-center">{{'its_match' | translate}}</h5>
            
                          <p class="text-center">
                           {{'its_a_match_content' | translate}}
                          </p>
                        </div>
            
                        <div class="col-md-3 row4_home">
                           
                            <img
                              src="assets/images/howiticon5.png"
                              class="img-fluid  mx-auto"
                            >
                           
            
                          <h5 class="text-center">{{'grab_your_job' | translate }}</h5>
            
                          <p class="text-center">
                           {{'grab_your_job_content' | translate}}
                          </p>
                        </div>
                      </div>
                   </div>
                   <div role="tabpanel" class="tab-pane " id="buzz" style="background-color: #fff;">
                      <div class="row">
                          <div class="col-md-3 row4_home">
                              <!-- <video class="embed-responsive embed-responsive-16by9" controls>
                                  <source class="embed-responsive-item" src="assets/images/employer_job_post.mp4" type="video/mp4">      
                              </video> -->
                              <iframe width="100%" h src="https://www.youtube.com/embed/fk_LdLNpFtA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              <!-- <p class="text-center  my-3 ">
                                <i class="fa fa-youtube-square fa-5x text_blue pt-3" aria-hidden="true"></i>
                                <iframe width="140" height="110" class="mx-auto" src="https://www.youtube.com/embed/_q9OEOtoqO4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              </p> -->
                             
                            <h5 class="text-center">{{'how_to_use' | translate}}</h5>
              
                            <p class="text-center">
                             {{'post_your_job_content' | translate}}
                            </p>
                          </div>
                        <div class="col-md-3 row4_home">
                           
                            <img
                              src="assets/images/howiticon1.png"
                              class="img-fluid  mx-auto"
                            >
                           
            
                          <h5 class="text-center">{{'post_your_job' | translate}}</h5>
            
                          <p class="text-center">
                           {{'post_your_job_content' | translate}}
                          </p>
                        </div>
            
                        <div class="col-md-3 row4_home">
                           
                            <img
                              src="assets/images/howiticon2.png"
                              class="img-fluid  mx-auto"
                            >
                           
            
                          <h5 class="text-center">{{'its_match' | translate}}</h5>
            
                          <p class="text-center">
                           {{'its_a_match_content' | translate}}
                          </p>
                        </div>
            
                        <div class="col-md-3 row4_home">
                           
                            <img
                              src="assets/images/howiticon3.png"
                              class="img-fluid  mx-auto"
                            >
                           
            
                          <h5 class="text-center">{{'connect_hire' | translate}}</h5>
            
                          <p class="text-center">
                           {{'connect_hire_content' | translate}}
                          </p>
                        </div>
                      </div>
                          
                   </div>
                   
                 </div>

           

         
     </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div
        class="container"
        ng-app="myApp"
        ng-controller="customersCtrl"
      > 
        
    
      </div>
    </div>
  </div>

  <!-- end 4throw -->
</div>

<header class="business-header pt-4 hideme">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-md-3 row5_home">
         
          <img
            src="assets/images/row5certi.png"
            class="img-fluid  mx-auto"
          >
         

        <h5 class="text-center">{{'certified' | translate }}</h5>

        <p class="text-center">
         {{'certified_content' | translate}}
        </p>
      </div>

      <div class="col-md-3 row5_home">
         
          <img
            src="assets/images/row5insur.png"
            class="img-fluid  mx-auto"
          >
         

        <h5 class="text-center">{{'insure_work' | translate}}</h5>

        <p class="text-center">
         {{'insure_work_content' | translate}}
        </p>
      </div>

      <div class="col-md-3 row5_home">
         
          <img
            src="assets/images/row5satisfaction.png"
            class="img-fluid  mx-auto"
          >
         

        <h5 class="text-center">{{'satisfaction_guaranteed' | translate}}</h5>

        <p class="text-center">
         {{'satisfaction_guaranteed_content' | translate}}
        </p>
      </div>

      <div class="col-md-3 row5_home">
         
          <img
            src="assets/images/row5ontime.png"
            class="img-fluid  mx-auto"
          >
         

        <h5 class="text-center">{{'on_time_arrival' | translate}}</h5>

        <p class="text-center">
         {{'on_time_arrival_content' | translate}}
        </p>
      </div>
    </div>
  </div>
</header>