<div class="container-fluid mt100">
  <!-- iconrow -->

  <div class="row mt-4">
    <div
      class="col-md-12 mainheading1 text-center text-md-left  mx-auto"
      style="padding:0px"
    >
      <div class="container-fluid ">
        <div class="row">
          <div class="col-md-3  ">
            <div class="row  topsubmenu1">
              <div class="col-md-12 ">
                <div class="row bg_lightash_card py-4">
                  <div class="col-md-12 mx-auto text-center">
                    <img
                      *ngIf="
                        employer.profileImage &&
                        employer.profileImage != 'default'
                      "
                      src="{{ service.url }}/download/profile.json?fileID={{
                        employer.profileImage
                      }}&token={{ service.getStorage('token') }}"
                      class="propicview_detail  w-100 rounded-circle mx-auto "
                    />
                    <img
                      *ngIf="
                        !employer.profileImage ||
                        employer.profileImage == 'default'
                      "
                      src="assets/images/pro_company.jpg"
                      class="propicview_detail  w-100 rounded-circle mx-auto"
                    />

                    <!-- <img
                      class="img_ribbon_scroll "
                      src="assets/images/ribbonscroll1.png"
                    /> -->

                    <div class="txt_hr_rate">
                      <ngb-rating [(rate)]="currentRate">
                        <ng-template let-fill="fill" let-index="index">
                          <span
                            class="star"
                            [class.filled]="fill === 100"
                            [class.bad]="index < currentRate"
                            >&#9733;</span
                          >
                        </ng-template>
                      </ngb-rating>
                      &nbsp;
                    </div>
                    <!-- <h5 class="txt_hr_rate"> INR {{ employeeDetails.hourlyWages | titlecase }} / Hr</h5> -->
                  </div>

                  <div class="col-md-12 mt-3">
                    <div class="text-center">
                      <img class="veri" src="assets/images/verified_logo.png" />
                    </div>
                    <h4 class=" text_blue pt-2  text-center">
                      {{ service.transform(employer.companyName) }}
                    </h4>
                    <p class="text-center">
                      ( {{ checkValueAvilable(employer.employerType) }} )
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <div class="w-80p">
                      <span *ngIf="employer.POBox"
                        >,&nbsp; {{ employer.POBox }}&nbsp;</span
                      >
                      <p class="text-left">
                        <i
                          class="fa fa-phone txt_light_blue_clr"
                          aria-hidden="true"
                        ></i>
                        {{ employer.mobileNumber }}
                        <i
                          class="fa fa-check clr_verified"
                          aria-hidden="true"
                        ></i>
                      </p>
                      <p class="text-left">
                        <i
                          class="fa fa-envelope txt_light_blue_clr"
                          aria-hidden="true"
                        ></i>
                        {{ employer.companyEmail
                        }}<i
                          class="fa fa-check clr_verified"
                          aria-hidden="true"
                        ></i>
                      </p>

                      <p *ngIf="employer.companyWebsite" class="text-left">
                       
                        <i
                          class="fa fa-globe txt_light_blue_clr"
                          aria-hidden="true"
                        ></i>
                        <a href="Javascript:vaoid(0)" (click)="gotoWegsite(employer.companyWebsite)" target="_blank"> {{ checkValueAvilable(employer.companyWebsite) | lowercase 
                          }}</a>
                      </p>

                      <p class="text-left">
                        <i
                          class="fa fa-map-marker  txt_light_blue_clr"
                          aria-hidden="true"
                        ></i>
                        {{ employer.city ? employer.city+',' : "" }} &nbsp;{{
                          employer.state? service.transform(employer.state):''
                        }}&nbsp;{{ employer.country?','+service.transform(employer.country):'' }}
                      </p>

                      <p class="text-left">
                        <i
                          class="fa  fa-location-arrow txt_light_blue_clr"
                          aria-hidden="true"
                        ></i>
                        {{ checkValueAvilable(employer.addressLine1 )}} 
                        {{ employer.addressLine2?','+employer.addressLine2:'' }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 bdr_right_left patern_line pt-4">
             <!-- employer_about details -->

            <div  *ngIf="!service.noLogin">
              <div class="row  topsubmenu1">
                <div class="col-md-12 ">
                  <h5 class="title_ash_clr text-left">
                    {{ "about_me" | translate }}
                  </h5>
                 

                  <div id="summary">
                    <p class="collapse text-justify" id="collapseSummary">
                        {{ employer.profileDescription | slice:0:aboutLimit | translate }}
                    </p>
                    <a
                    *ngIf="(employer.profileDescription.length > aboutLimit || aboutLimit==1500)" 
                    (click)="aboutLimit==1500?aboutLimit=350:aboutLimit=1500"
                      class="collapsed"
                      data-toggle="collapse"
                      href="#collapseSummary"
                      aria-expanded="false"
                      aria-controls="collapseSummary"
                    ></a>
                  </div>
                </div>
              </div>

              <div class="row mt-3 blog">
                <div *ngIf="!service.noLogin" class="col-md-12 mt-3">
                  <h5
                    class="text-left title_ash_clr text-left pt-2"
                    style="text-align: center"
                  >
                    {{ "location" | translate }}
                  </h5>

                  <agm-map
                    [latitude]="getfloatValue(employer.latitude)"
                    [longitude]="getfloatValue(employer.longitude)"
                    [zoom]="16"
                    [disableDefaultUI]="false"
                    [zoomControl]="false"
                    [styles]="service.mapStyle"
                    style="height: 150px;"
                  >
                    <agm-marker
                      [iconUrl]="iconUrl"
                      [latitude]="getfloatValue(employer.latitude)"
                      [longitude]="getfloatValue(employer.longitude)"
                      [label]=""
                      [markerDraggable]="false"
                    >
                    </agm-marker>
                  </agm-map>
                </div>
              </div>

              <h5 class=" text-left title_ash_clr text-left pt-2 ">
                {{ "work_history_and_feedback" | translate }}
              </h5>

              <div *ngIf="feedBack.length > 0" class="col-md-12">
                <hr />

                <div class="row  topsubmenu1"></div>
                <span *ngFor="let val of feedBack; let i = index">
                  <div class="row my-2">
                    <div class="col-md-12 ">
                      <h6 class="text-left text_blue">
                        <b> {{ val.jobTitle | titlecase }}</b>
                      </h6>
                      <h6 class="text-left">
                        {{ val.createUserName | titlecase }}
                      </h6>
                    </div>
                    <div class="col-md-5 ">
                      <ngb-rating [(rate)]="val.rating">
                        <ng-template let-fill="fill" let-index="index">
                          <span
                            class="star"
                            [class.filled]="fill === 100"
                            [class.bad]="index < val.rating"
                            >&#9733;</span
                          >
                        </ng-template>
                      </ngb-rating>

                      <!-- <span class="mx-1 text-left">({{val.employerDetails.ratingCount}} {{'reviews' | translate}})</span> -->
                    </div>

                    <div class="col-md-7 ">
                      <p class="text-left">
                        {{ service.convertDateToGmt(val.createdAt) }}
                      </p>
                    </div>
                    <div class="col-md-12 ">
                      <p class="text-left font-italic">
                        {{ val.comment | titlecase }}
                      </p>
                    </div>
                  </div>
                </span>
              </div>
              <div
                *ngIf="feedBack.length == 0"
                class="col-md-12 min_h100 my-auto"
              >
                <b>
                  <h6 class="text-center text_blue pt-4 ">
                    {{ "no_feed" | translate }}
                  </h6>
                </b>
              </div>
            </div>
             <!-- end employer_details -->
             <span *ngIf="service.noLogin">

                <div class="row">
                    <div class="col-md-12">
                      <h5 class="title_ash_clr text-left">
                          {{'join_babkrim_apply' | translate }}
                      </h5>
                      <p class="text-left">
                          As a Babkrim member, you can connect with thousands of companies in your area. Search job that match your skills, apply online and grab it.
                        </p>

                          <ul>
                            <li> Get notification for urgent jobs in your area or Search with your preferences. </li>
                            <li> Grab the Job and get paid </li>
                            <li> Apply online </li>
                          </ul>
                          <button (click)="
                          this.service.setStorage(
                            'tempemployeeTempId',
                            this.employeeId
                          )
                        " routerLink="/signup" class="btn btn_alkafu  text-center" style="padding: 10px;
                                  padding-left: 20px;
                                  padding-right: 20px;">
                        {{ "join_now" | translate }}
                          </button>
                     
                    </div>
                  </div>

             </span>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>

<!-- <div class="container py-4">
  <div class="page_w_90">

    <div class="container-fluid">
      <div class="row my-4  my-2">
        <div class="col-md-12  my-2">
          <div class="card shadow">
            <div class="row  ">
              <div class="col-md-4 my-auto">
                
              </div>

              <div class="col-md-8 mainheading text-center text-md-left my-auto">
                <h3 class="text-left text_blue">
                
                </h3>
                <p class="text-left text-dark"> <i class="fa fa-map-marker" aria-hidden="true"></i>
              </p>

                <div class="container">
                  <div class=" mt-3 mb-3">
                    <div class="row">

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      

        <div class="col-md-12 ">
          <div class="card shadow">
            <div class="row borderbox mainheading  mt-3 bg-white mx-1 ">
              <div class="col-md-4  py-4">
                <h5 class="text-center"><i class="fa fa-globe" aria-hidden="true"></i></h5>
                <h5 class="text-center">
                  
                </h5>
              </div>
              <div class="col-md-4 py-4">
                <h5 class="text-center "><i class="fa fa-map-marker" aria-hidden="true"></i></h5>
                <p class="text-center">

                  <span>{{employer.addressLine1}}</span>

                  <span *ngIf="employer.addressLine2">,&nbsp;{{employer.addressLine2}}</span>
                  <span *ngIf="employer.POBox">,&nbsp; {{employer.POBox}}&nbsp;</span>
                 
                 
                </p>
              </div>

              <div class="col-md-4 boxblueclr py-4">
                <h5 class="text-center"><i class="fa fa-phone-square" aria-hidden="true"></i></h5>
                <h5 class="text-center">
                  {{employer.companyPhoneNumber}}
                </h5>
              </div>
            </div>
           
            <div class="row  work_history mt-4 mb-4 mx-1">
              <div class="col-md-12">
                <h4 class="text-left">{{'aboutus' | translate}}</h4>
              </div>
           
              <div class="col-md-12  ">
                <p class="text-justify ">
                
                </p>

              </div>



            </div>
         

            <div *ngIf="feedBack.length > 0" class="col-md-12">

              <div class="row  topsubmenu1">
                <div class="col-md-12 bg-medium-blue">
                  <h5 class=" text-left card-title  text-white pt-2 px-2"> {{'work_history_and_feedback' |
                    translate}} </h5>
                </div>
                <hr>
              </div>


              <span *ngFor="let val of feedBack ;let i =index">
                <div class="card">
                  <div class="card-body">
                    <div class="row my-2">
                      <div class="col-md-12 ">
                        <h5 class="text-left text_blue">
                          {{val.jobTitle | translate}}
                        </h5>
                        <h6 class="text-left"> {{service.transform(val.createUserName)}} </h6>
                      </div>
                      <div class="col-md-3 arb_right " >
                       
                        <ngb-rating [(rate)]="feedBackRating[i]">
                          <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100" [class.bad]="index < feedBackRating[i]">&#9733;</span>
                          </ng-template>
                        </ngb-rating>
                      </div>
                   
                      <div class="col-md-7 ">
                        <p class="text-left"> {{dateTransform(val.createdAt) | date: 'dd MMMM yyyy h:mm a'}}</p>
                      </div>
                      <div class="col-md-12 ">
                        <p class="text-left font-italic">
                          {{service.transform(val.comment)}}
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
                <hr>
              </span>




            </div>


          </div>
        </div>
      </div>
    </div>




 

  </div>
</div> -->
