<div class="container-fluid bkg_ash vh-100 mt100">
  <!-- iconrow -->

  <div class="row bkg_ash">
    <div class="col-md-12 mainheading text-center text-md-left mt-5 mb-4 mx-auto bkg_ash">
      <div class="container">
        <div class="col-md-12 mx-auto">
          <h4 class="text-center">{{'edit_information' | translate}}</h4>

          <p>
           {{'form_to_edit_information' | translate}}
          </p>

          <hr>
        </div>

        <!-- <div class="row " style="background-color: #ccc;">
          <div class="col-md-4 " >
              <div class=" w-100">
                     <div class="arrowreg_page">
                      <p class=" t_w text-dark">  {{'add_company_details' | translate }}</p>
                     </div>
              </div>
                
          </div>
          <div class="col-md-4 ">
                  <div class=" w-100">
                         <div class="arrowreg_page_ash">
                          <p class=" text-white mx-2">  {{'add_manager_details' | translate }}</p>
                         </div>
                  </div>
                    
          </div>
          <div class="col-md-4 ">
            <div class=" w-100">
                   <div class="arrowreg_page_ash">
                    <p class=" text-white mx-2">  {{'add_manager_details' | translate }}</p>
                   </div>
            </div>
              
           </div>
        
         </div> -->

        <div class="row">
          <!-- multistep form -->

          <form id="msform">
            <!-- progressbar -->

          

            <ul id="progressbar">
              <li class="active">{{'account_setup' | translate }}</li>

              <li>{{'educational_setup' | translate }}</li>

              <li>{{'professional_ setup' | translate }}</li>
            </ul>

            <!-- fieldsets -->

            <fieldset>
              <h2 class="fs-title">{{'add_personal _information' | translate }}</h2>

              <h3 class="fs-subtitle">{{'step_1' | translate }}</h3>

              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{'father_name' | translate }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            name="name"
                            class="form-control"
                            id="name"
                            placeholder="{{'father_name' | translate }}"
                            required="required"
                            autofocus="autofocus"
                           />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{'mobile_no' | translate}}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            name="name"
                            class="form-control"
                            id="name"
                            placeholder="{{'mobile_no' | translate}}"
                            required="required"
                            autofocus="autofocus"
                           />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{'gender' | translate }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_gender"
                            name="em_gender"
                            placeholder="Gender"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option value="Male">Male</option>

                            <option value="Female">Female</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{'nationality' | translate}}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_nationality"
                            name="em_nationality"
                            placeholder="Nationality"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>Nationality</option>

                            <option>Nationality</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{'date_of_birth' | translate}}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="date"
                            class="form-control"
                            id="exampleInputDOB1"
                            name="dob"
                            placeholder="Date of Birth"
                            required="required"
                            autofocus="autofocus"
                           />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{'country' | translate}}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_Country"
                            name="em_Country"
                            placeholder="Country"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>Country</option>

                            <option>Country</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{'state' | translate}}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_state"
                            name="em_state"
                            placeholder="State"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>State</option>

                            <option>State</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{'city' | translate}}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_city"
                            name="em_city"
                            placeholder="City"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>city</option>

                            <option>city</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <input
                type="button"
                name="next"
                class="btn_alkafu pl-3 pr-3 next"
                value="Next"
               />
            </fieldset>

            <fieldset>
              <h2 class="fs-title">Add educational information</h2>

              <h3 class="fs-subtitle">Your education details here</h3>

              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Up load your photo</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <input
                          type="file"
                          id="imgInp"
                         />

                        <img
                          id="blah"
                          src="images/howiticon5.png"
                          alt="your image"
                          class="img_signup_propic"
                        >
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Mother tongue</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_gender"
                            name="em_gender"
                            placeholder="Gender"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option value="Male">English</option>

                            <option value="Female">Arabic</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Id Type</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_gender"
                            name="em_gender"
                            placeholder="Gender"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option value="Male">Passport</option>

                            <option value="Female">Passport</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">ID No</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            name="name"
                            class="form-control"
                            id="name"
                            placeholder="Last name"
                            required="required"
                            autofocus="autofocus"
                           />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">ID issue date</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="date"
                            class="form-control"
                            id="exampleInputDOB1"
                            name="dob"
                            placeholder="Date of Birth"
                            required="required"
                            autofocus="autofocus"
                           />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">
                        Last level of education you got it.
                      </label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_gender"
                            name="em_gender"
                            placeholder="Gender"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option value="Male">Education</option>

                            <option value="Female">B tech</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">College/School/Institute</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            name="name"
                            class="form-control"
                            id="name"
                            placeholder="College/School/Institute"
                            required="required"
                            autofocus="autofocus"
                           />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Graduation Date</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="date"
                            class="form-control"
                            id="exampleInputDOB1"
                            name="dob"
                            placeholder="Date of Birth"
                            required="required"
                            autofocus="autofocus"
                           />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">General</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_nationality"
                            name="em_nationality"
                            placeholder="Nationality"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>General</option>

                            <option>B tech</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Specialization</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_nationality"
                            name="em_nationality"
                            placeholder="Nationality"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option
                              value=""
                              disabled="disabled"
                              selected="selected"
                            >Specialization</option>

                            <!-- <option>Specialization</option> -->

                            <option>IT</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Up load your certificates</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <input
                          type="file"
                          id="imgInp1"
                         />
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Other language you speaks</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_nationality"
                            name="em_nationality"
                            placeholder="Nationality"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>Other language</option>

                            <option>English</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Reading and writting level</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_nationality"
                            name="em_nationality"
                            placeholder="Nationality"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>1</option>

                            <option>2</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Conversation level</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_nationality"
                            name="em_nationality"
                            placeholder="Nationality"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>1</option>

                            <option>2</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">2nd language you speaks</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_nationality"
                            name="em_nationality"
                            placeholder="Nationality"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>Other language</option>

                            <option>English</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Reading and writting level</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_nationality"
                            name="em_nationality"
                            placeholder="Nationality"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>1</option>

                            <option>2</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Conversation level</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_nationality"
                            name="em_nationality"
                            placeholder="Nationality"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>1</option>

                            <option>2</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <input
                type="button"
                name="previous"
                class="previous btn_alkafu pl-3 pr-3"
                value="Previous"
               />

              <input
                type="button"
                name="next"
                class="next btn_alkafu pl-3 pr-3"
                value="Next"
               />
            </fieldset>

            <fieldset>
              <h2 class="fs-title">Add professional information</h2>

              <h3 class="fs-subtitle">About your job.</h3>

              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Previous Experience</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            name="name"
                            class="form-control"
                            id="name"
                            placeholder="College/School/Institute"
                            required="required"
                            autofocus="autofocus"
                           />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">
                        Up load your experience certificates
                      </label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <input
                          type="file"
                          id="imgInp1"
                         />
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">General specialization</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_career"
                            name="em_career"
                            placeholder="Career"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option
                              value=""
                              disabled="disabled"
                              selected="selected"
                            >General specialization</option>

                            <option>specialization</option>

                            <option>specialization</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Specialization</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_career"
                            name="em_career"
                            placeholder="Career"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option
                              value=""
                              disabled="disabled"
                              selected="selected"
                            >Specialization</option>

                            <option>specialization</option>

                            <option>specialization</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">More precise specialization</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_Country"
                            name="em_Country"
                            placeholder="Country"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option
                              value=""
                              disabled="disabled"
                              selected="selected"
                            >Precise pecialization</option>

                            <option>specialization</option>

                            <option>specialization</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label
                        for="work"
                        class="text-justify"
                      >
                        Do you accept to work in other than mentioned ?
                      </label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="disability"
                            value="want_work"
                           />

                          Yes
                        </label>

                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="disability"
                            value="want_hire"
                           />

                          No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4 field-label-responsive">
                      <label for="password">
                        Do you have some kind of disability
                      </label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="disability"
                            value="want_work"
                           />

                          Yes
                        </label>

                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="disability"
                            value="want_hire"
                           />

                          No
                        </label>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">
                        If yes, what type of disability
                      </label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            name="name"
                            class="form-control"
                            id="name"
                            placeholder="Type of disability"
                            required="required"
                            autofocus="autofocus"
                           />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">The minimum hourly wages</label>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="text"
                            name="name"
                            class="form-control"
                            id="name"
                            placeholder="Hourly wages"
                            required="required"
                            autofocus="autofocus"
                           />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                             <div class="input-group-addon"> </div>                                                          
                                       <select class="form-control" id="em_state" name="em_state"  placeholder="State" required autofocus >
                                        <option>{{'defaultcurrency' | translate}}</option>
                                        <option>INR</option>
                                        <option>USD</option>
                                        <option>GBP</option>
                                        <option>JPY</option>
                                        <option>EUR</option>

                                      </select>
                          </div>
                      </div>
                  </div> 
                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Max. hours of work per day</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_Country"
                            name="em_Country"
                            placeholder="Max.workday"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>8hr</option>

                            <option>7hr</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">Min. hours of work per day</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_Country"
                            name="em_Country"
                            placeholder="Max.workday"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>1hr</option>

                            <option>2hr</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-8 field-label-responsive">
                      <label
                        for="password"
                        class="text-justify"
                      >
                        Would you like to receive a message about the part-time work of your choive on your registered mobile phone (free-now).
                      </label>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="disability"
                            value="want_work"
                           />

                          Yes
                        </label>

                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="disability"
                            value="want_hire"
                           />

                          No
                        </label>
                      </div>
                    </div>

                    <div class="col-md-8 field-label-responsive">
                      <label
                        for="password"
                        class="text-justify"
                      >
                        Would you like to receive a voice alert on your mobile when you approach a company that has part time job opportunities.
                      </label>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="disability"
                            value="want_work"
                           />

                          Yes
                        </label>

                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="disability"
                            value="want_hire"
                           />

                          No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <input
                type="button"
                name="previous"
                class="previous btn_alkafu"
                value="Previous"
               />

              <input
                type="submit"
                name="submit"
                class="submit btn_alkafu"
                value="Submit"
                onclick="em_signup()"
               />
            </fieldset>
          </form>
        </div>

        <!-- row -->
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>

<div class="container-fluid">
  <hr>
</div>