<!-- modaljob -->
<!-- Modal -->
<!-- <ng4-loading-spinner [timeout]="90000"></ng4-loading-spinner> -->


<div class="modal fade" id="modal_job_invoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">


      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " id="exampleModalLabel"> {{'invoice' | translate}} </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <div class="row">

            <div class="col-md-8 col-8"> <label for="exampleInputEmail1"> {{'basic_fare' | translate}} </label> &nbsp;
              <span *ngIf="service.invoiceDetails">
                <span *ngIf="service.invoiceDetails.wageMode=='hourly'">
                  {{'uptoxhrs' | translate : {'hrs':service.invoiceDetails?service.invoiceDetails.minHour:'0'} }}
                 </span>
              </span>
            </div>

            <div class="col-md-4 col-4 text-right"> <label>{{service.invoiceDetails?service.invoiceDetails.invoiceDetails.baseFare:'0'
                | number : '1.2-2'}}</label>
            </div>

          </div>
        </div>
        <div class="form-group">
          <div class="row">

            <div class="col-md-8 col-10"><label for="exampleInputEmail1"> {{'aditionalfare' | translate}} </label>
              <span *ngIf="service.invoiceDetails">
                <span *ngIf="service.invoiceDetails.wageMode=='hourly'">
                  (
                  {{service.invoiceDetails.additionalHour?service.invoiceDetails.additionalHour:'X'}}&nbsp;*&nbsp;{{service.invoiceDetails?service.invoiceDetails.hourlyWage:'0'}}
                  )</span>
              </span>
            </div>
            <div class="col-md-4 col-2 text-right"><label>{{service.invoiceDetails?
                this.returnParseFloat(service.invoiceDetails.invoiceDetails.additionalFare):'0'
                | number : '1.2-2'}}</label>
            </div>
          </div>
        </div>

        <div *ngIf="service.invoiceList.length>0" class="form-group">
          <div class="row">
            <div class="col-md-5 col-5 text-left">
              <label for="exampleTextarea"> {{'item' | translate}} </label>


            </div>
            <div class="col-md-2 col-3 text-left">
              <label for="exampleTextarea"> {{'qty' | translate}} </label>

            </div>
            <div class="col-md-3 col-4 text-left">
              <label for="exampleTextarea"> {{'price' | translate}} </label>

            </div>
            <div class="col-md-2 col-2 mt-4 d-none d-sm-block">

            </div>
          </div>

          <div *ngFor="let item of this.service.invoiceList;let i=index;" class="row invoice-items-row">
            <div class="col-md-5 col-5 text-left">
              <input type="text" maxlength="100" [(ngModel)]="item.item" class="form-control text-left" id="item"
                placeholder="{{'item' | translate}}" />
            </div>
            <div class="col-md-2 col-3 text-left">
              <input type="text" maxlength="3" (keyup)="calculateTotal()" (keydown)="service.validateInputKey($event)"
                [(ngModel)]="item.quantity" class="form-control text-right" id="qty" placeholder="{{'qty' | translate}}" />
            </div>
            <div class="col-md-3 col-4 text-left">
              <input type="text" maxlength="5" class="form-control text-right" (keyup)="calculateTotal()" (keydown)="service.validateExperience($event)"
                [(ngModel)]="item.price" id="qty" placeholder="{{'price' | translate}}" />
            </div>
            <div class="col-md-2 col-12 text-center add-remove-block">
              <div class="col-md-1 col-6 text-center" *ngIf="this.service.invoiceList.length>1" (click)="this.removeInvoiceList(i)"><i class="fa fa-minus-circle"
                  style="font-size: 1.5rem;" aria-hidden="true"></i>
              </div>
              <div class="col-md-1 col-6 text-center" *ngIf="i+1==this.service.invoiceList.length" (click)="this.addInvoiceList()"><i class="fa fa-plus-circle"
                  style="font-size: 1.5rem;" aria-hidden="true"></i>
              </div>
            </div>
          </div>


        </div>

        <div *ngIf="this.service.invoiceSubTotal!=0" class="row">
          <div class="col-md-5 col-5 text-right ml-auto">
            {{'subtotal' | translate}}
          </div>
          <div class="col-md-5 col-5">{{this.service.invoiceSubTotal | number : '1.2-2'}}</div>
        </div>
        <div *ngIf="this.service.invoiceTotal!=0" class="row">
          <div class="col-md-5 col-5 text-right ml-auto">
            {{'grandtotal' | translate}}
          </div>
          <div class="col-md-5 col-5">{{(this.tempTotal==0? this.service.invoiceTotal :tempTotal )| number : '1.2-2'}}</div>
        </div>
        <span *ngIf="invoiceError" class="danger">{{'plzprovideanitem' | translate}}</span>
        <button type="button" (click)="submitInvoice()" class="btn btn_alkafu pull-right">{{'send_invoice'
          |
          translate}} </button>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="modal_job_description" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">


      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " id="exampleModalLabel"> {{'enter_your_description_about_work' | translate}} </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <!-- <div class="form-group">
          <div class="row">
            <div class="col-md-12 text-left">
              <label for="exampleInputEmail1"> {{'comment' | translate}} </label>

              <input type="email" class="form-control" maxlength=70 [(ngModel)]="service.taskName" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="{{'comment' | translate}}" />
              <span class="danger" *ngIf="service.taskName.length > 71 ">{{validationMsg.contractTitle}}</span>
            </div>
          </div>
        </div> -->
        <div *ngIf="service.isEmployeeLogin() && service.taskType=='start'" class="form-group">
          <div class="row">
            <div class="col-md-12 text-left">
              <label for="exampleInputEmail1"> {{'securitykey' | translate}} </label>

              <input type="email" class="form-control" [(ngModel)]="service.securityKey" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="{{'securitykey' | translate}}" />

              <span class="danger" *ngIf="!service.securityKey && this.service.buttonFlag">{{validationMsg.required}}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 text-left">
              <label for="exampleTextarea"> {{'comment' | translate}} </label>

              <textarea class="form-control" maxlength="150" [(ngModel)]="service.taskDescription" id="exampleTextarea"
                rows="7"></textarea>
              <span class="danger" *ngIf="service.taskDescription.length > 151 ">{{validationMsg.contractTitle}}</span>
              <small>{{service.taskDescription?150-service.taskDescription.length+' left':''}}</small>
            </div>
          </div>
        </div>


        <button type="button" (click)="service.startTimecontract()" class="btn btn_alkafu pull-right">{{'submit' |
          translate}} </button>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<!-----------------QR Code modal------------------>
<div class="modal fade" id="modal_qrCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">


      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " id="exampleModalLabel"> {{'scancode' | translate}} </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="">
          <img class="img-fluid w-50 mx-auto d-block" src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{service.tempSecurityKey}}">
        </div>
        <hr>

        <div class="col-md-12 text-center">
          <label>{{'securitykey' | translate}} <h4><b>{{service.tempSecurityKey}}</b></h4></label>
        </div>

      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<!-- modalend -->



<div class="container-fluid bg-white">
  <!-- iconrow -->

  <div class="row">
    <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container mt-4">
        <div class="row">
          <div class="col-md-12 mx-auto mb-2">
            <!-- <h4 class="text-center text_blue pt-2 pb-2"> {{'completed_contracts' | translate }}</h4> -->

            <h4 class="text-center text_blue pt-2 pb-2 text_heading"> {{'contracts' | translate}} </h4>
          </div>


          <div class="col-md-12 mb-4">
            <div class="row bg-white">
              <div class="col-md-8 mx-auto mb-2">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" (click)="service.contractActiveTab=1;service.getActiveContracts()">
                    <a class="nav-link text-dark active" data-toggle="tab" href="#activecontracttab" role="tab">
                      <h6>
                        <b>
                          {{'active_contracts' | translate}}
                        </b>
                      </h6>
                    </a>

                    <div class="active-arrow"></div>
                  </li>

                  <li class="nav-item" (click)="service.contractActiveTab=0;service.getCompletedContractsFromApi()">
                    <a class="nav-link text-dark" data-toggle="tab" href="#completedcontracttab" role="tab">
                      <h6>
                        <b>
                          {{'completed_contracts' | translate}}
                        </b>
                      </h6>
                    </a>

                    <div class=""></div>
                  </li>
                </ul>
              </div>
              <div class="col-md-2 mx-auto mb-2">


              </div>
              <div class="col-md-2 mx-auto mb-2">

                <button (click)="service.getActiveContracts();service.getCompletedContractsFromApi()"
                  class="btn accept_icon  my-2 w-100">
                  <i class="fa fa-refresh" aria-hidden="true"></i> {{'refresh' | translate}} </button>
              </div>
            </div>

            <div class="row tab-content bkg_ash" style="background-color: #eaeaea;">
              <div class="col-md-12 tab-pane py-2 active" id="activecontracttab" role="tabpanel">

                <app-active-contract (messageEvent)="resetInvoice()"></app-active-contract>
                <app-lazyloader *ngIf="service.loader "></app-lazyloader>
              </div>

              <div class="col-md-12 tab-pane  py-2" id="completedcontracttab" role="tabpanel">

                <app-completed-contract></app-completed-contract>
                <app-lazyloader *ngIf="service.loader "></app-lazyloader>

              </div>
            </div>
            <app-group-chat *ngIf="service.isEmployeeLogin()"></app-group-chat>
          </div>

          <!-- </div>
                              <div class="row"> -->
        </div>

        <!-- row -->
      </div>
    </div>

    <!-- end iconrow -->
  </div>
</div>