<h5>{{'password&security' | translate}}</h5>

<div class="card">
  <div class="card-body">

    <form class="form-horizontal py-2 my-3" [formGroup]="passwordForm" role="form">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-md-5">
              <label>{{'name' | translate}}</label>
            </div>

            <div class="col-md-7">
              <div class="form-group pass_show">
                <input type="text" disabled="disabled" class="form-control" value="{{service.getStorage('userName')}}"
                  placeholder="{{'name' | translate}}" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label>{{'email' | translate}}</label>
            </div>

            <div class="col-md-7">
              <div class="form-group pass_show">
                <input type="text" disabled="disabled" class="form-control" value="{{service.getStorage('email')}}"
                  placeholder="{{'email' | translate}}" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label>{{'mobile_no' | translate}}</label>
            </div>

            <div class="col-md-7">
              <div class="form-group pass_show">
                <input type="text" disabled="disabled" class="form-control" value="{{service.getStorage('mobileNo')}}"
                  placeholder="{{'mobile_no' | translate}}" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label>{{'curentPassword' | translate}}</label>
            </div>

            <div class="col-md-7">
              <div class="form-group pass_show">
                <input type="password" maxlength="20" class="form-control" [(ngModel)]="curpwd" formControlName="currentPassword" placeholder="{{'curentPassword' | translate}}" />
              </div>
              <span class="danger" *ngIf="!passwordForm.get('currentPassword').valid && buttonClick==1">{{validationMsg.level1PasswordInvalid}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <label>{{'newPassword' | translate}}</label>
            </div>

            <div class="col-md-7">
              <div class="form-group pass_show">
                <input type="password" maxlength="20" class="form-control" formControlName="newPassword" placeholder="{{'newPassword' | translate}}" />
              </div>
              <span class="danger" *ngIf="!passwordForm.get('newPassword').valid && buttonClick==1">{{validationMsg.level1PasswordInvalid}}</span>

            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <label>{{'confirm_password' | translate }}</label>
            </div>

            <div class="col-md-7">
              <div class="form-group pass_show">
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="{{'confirm_password' | translate }}" />
              </div>
              <span class="danger" *ngIf="!passwordForm.get('confirmPassword').valid && buttonClick==1">{{validationMsg.level1PasswordInvalid}}</span>
              <br>
              <span class="danger" *ngIf=" buttonClick==1 && this.passwordForm.get('newPassword').value!=this.passwordForm.get('confirmPassword').value">{{validationMsg.level1PasswordNotMatch}}</span>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <button class="btn btn_alkafu  btn-block" (click)="changePassword()" type="button">{{'save' | translate}}</button>
        </div>
      </div>

      <div class="row" style="display:none;">
        <div class="col-12">
          <p class="payment-errors"></p>
        </div>
      </div>
    </form>
  </div>
</div>
<p style="visibility: hidden;">
  Ut eget lectus tristique, tempus purus sit amet, porta augue. Mauris lobortis
  sem nec augue ultricies blandit. Nullam sed sem venenatis, pretium urna eget,
  scelerisque dolor. Morbi nec volutpat leo, quis faucibus tortor. Aenean vel
  rutrum mauris. Pellentesque lectus massa, tincidunt quis leo non, sodales
  sagittis nulla. Proin interdum est at nulla laoreet, pulvinar pretium nisl
  rutrum. In vel elit a risus rhoncus accumsan vulputate non sapien. Sed et
  rhoncus velit..
</p>