<div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
[infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()"
class="container-fluid">
  <div  class="row">
    <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container mt-4">
        <div class="row bg-white">
          <div class="col-md-12 mb-4">
            <div class="row">
              <div class="col-md-11 col-10 mx-auto shadow  my-3">
                <div class="">
                  <div  class="cards py-2 ">


                    <div  class="row tab-content  mb-4 ">
                      <!-- employeelogin -->
                      <div class="col-md-12 tab-pane bg-white active " id="newappsn" role="tabpanel">
                        <h4 class="text_heading text-center"> {{'notifications' | translate}}</h4>
                        <hr>
                        <!-- <div *ngIf="this.loader" class="col-md-1 mt-4 col-3 mx-auto "><img class="img-fluid" src="assets/images/loaderinput.gif"></div> -->

                        <!-- <p class="text-center">Today</p> -->
                        <div class="p-1" *ngFor="let val of notification;let i=index">
                          <div class="row">
                           
                            <div class="col-md-8">
                              <p *ngIf="val.status==0" style="cursor: pointer" (click)="checkType(val)"><i class="fa fa-envelope text_blue mx-2"
                                  aria-hidden="true"></i>
                                <span style="font-weight: 550" class="text-secondary">{{service.transform(val.notificationMessage)}}</span>
                                <span class="small1">
                                  {{service.convertDateToGmt(val.createdTime)}}
                                  <!-- {{val.createdTime | date : 'dd MMM yyyy h:mm a' : 'GMT'}}  -->
                                </span>
                              </p>
                              <p *ngIf="val.status==1" style="cursor: pointer" (click)="checkType(val)"><i class="fa fa-envelope-open  mx-2"
                                  aria-hidden="true"></i>
                                <span class="text-secondary">{{service.transform(val.notificationMessage)}}</span>
                                <span class="small1"> {{service.convertDateToGmt(val.createdTime)}}</span>
                              </p>
                            </div>
                            <div class="col-md-4">
                              <!-- <i class="fa fa-calendar mx-1" aria-hidden="true"></i>28/8/2018  &nbsp; <i class="fa fa-clock-o" aria-hidden="true"></i> 10.00 -->
                            </div>
                          </div>

                        </div>
                     
                        <app-lazyloader *ngIf="this.loader"></app-lazyloader>
                        <div *ngIf="notificationLength==0">
                          <app-norocordsfound></app-norocordsfound>
                        </div>
                      </div>
                      <!-- employer login -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- </div>
                                  <div class="row"> -->
        </div>

        <!-- row -->
      </div>

      <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                     </div> -->
    </div>

    <!-- end iconrow -->
  </div>
</div>