<div *ngIf="!chatService.historyLoad" class="row heading1">
  <div class="col-md-1 col-sm-2  col-5 heading-avatar">
    <div class="heading-avatar-icon" *ngIf="chatService.proposalDescription">
      <img *ngIf="chatService.contactProfileImage=='default' || !chatService.contactProfileImage" src="{{service.prfImgTemp}}">
      <img *ngIf="chatService.contactProfileImage!='default' && chatService.contactProfileImage" src="{{service.url}}/download/profile.json?fileID={{chatService.contactProfileImage}}&token={{service.getStorage('token')}}">

    </div>

    <button *ngIf="chatService.proposalId" [routerLink]="['/viewProposal/'+chatService.proposalId]" routerLinkActive="router-link-active"
      class="btn_alkafu d-block d-sm-block d-md-none mt-1" style="min-width:50px;">{{'view' | translate}}</button>

  </div>
  <div class=" col-md-7 col-sm-8 col-7 heading-name">
    <a class="heading-name-meta">
      <p>{{chatService.contactName}}</p>
    </a>
    <p *ngIf="chatService.proposalDescription">{{ service.transform( (chatService.proposalDescription.length>32)?
      (chatService.proposalDescription | slice:0:32)+'..':(chatService.proposalDescription)
      ) }}</p>
  </div>
  <div class="col-md-2 col-sm-3 col-2 my-auto  heading-dot pull-right float-right d-none d-sm-block d-md-block">
    <button *ngIf="chatService.proposalId && !chatService.contractId" [routerLink]="['/viewProposal/'+chatService.proposalId]" routerLinkActive="router-link-active"
      class="btn_alkafu pull-right float-right">{{'view_proposal' | translate}}</button>
      <button *ngIf="chatService.contractId" [routerLink]="['/viewContract/'+chatService.contractId]" routerLinkActive="router-link-active"
      class="btn_alkafu pull-right float-right">{{'view_contract' | translate}}</button>
  </div>
</div>

<div class="row message" #scrollMe [scrollTop]="scrollMe.scrollHeight" id="conversation">
  <div class="row message-previous">
    <div class="col-sm-12 previous">
      <a id="ankitjain28" name="20">
        <!-- <div *ngIf="service.loader" class="col-md-1 mt-4 col-3 mx-auto "><img class="img-fluid" src="assets/images/loaderinput.gif"></div> -->
        <div *ngIf="this.chatService.historyPageNo != 1 && !this.service.loader && this.chatService.message.length < this.chatService.historyTotalCount"
          class="text-center">
          <small (click)=" service.loader=true;this.chatService.getChatHistory(this.chatService.receiverId,this.chatService.proposalId)"
            style="cursor: pointer">{{'loadmore' |
            translate}}</small>
        </div>
        <!-- Previous chats -->
      </a>
    </div>
  </div>


  <div *ngIf="chatService.message.length==0 && !chatService.proposalId" class=" col-md-12 text-center ">
    
        <h5 class=" text-center text_blue">{{'norecentchat' | translate}}</h5>
   <p>
     {{'clickonchat' | translate}}
   </p>
    
  </div>


  <div *ngFor="let val of chatService.message" id="messageBody" class="row message-previous">
    <!-- SEND MESSAGE -->
    <div *ngIf="val.send" class="col-sm-6 ml-auto message-main-sender">
      <!-- TEXT MESSAGE-->
      <div *ngIf="val.send.messageType=='text'" class="sender">
        <div class="message-text">
          {{val.send.message}}

        </div>
        <span class="message-time pull-right">
          <span *ngIf="checkTime(val.send.createdTime | date : 'dd-MM-yyyy')==1">
            {{(val.send.createdTime) | date : 'h:m a' }}
          </span>
          <span *ngIf="checkTime(val.send.createdTime | date : 'dd-MM-yyyy')==0">
            {{(val.send.createdTime) }}
          </span>
          <!-- {{dateFormat(val.send.createdTime)}} -->
          <!-- {{val.send.createdTime | timeAgo}} -->
        </span>
      </div>
      <!--TExt MEssage end-->
      <!-- FIle Message-->
      <div *ngIf="val.send.messageType=='file'" class="sender">
        <div class="message-text">

          <div class="row">
            <div class="col-md-3">
              <i class="fa fa-file-text fa-2x text_blue" aria-hidden="true"></i>
            </div>
            <div class="col-md-6">

              {{val.send.fileName}}
            </div>
            <div class="col-md-3">
              <a href="{{service.url}}/download/chatFiles.json?fileID={{val.send.message}}&token={{service.getStorage('token')}}"
                target="_blank">
                <!-- <i class="fa fa-download fa-1x bkg_ash p-2 shadow rounded-circle text_blue" aria-hidden="true"></i> -->
                <i class="fa fa-arrow-down fa-1x bg-medium-blue text-white p-1 rounded-circle" aria-hidden="true"></i>
              </a>

            </div>

          </div>
          <span class="message-time pull-right">
            <span *ngIf="checkTime(val.send.createdTime | date : 'dd-MM-yyyy')==1">
              {{(val.send.createdTime) | date : 'h:m a' }}
            </span>
            <span *ngIf="checkTime(val.send.createdTime | date : 'dd-MM-yyyy')==0">
              {{val.send.createdTime | date :'dd-MM-yyyy h:s:a'}}
            </span>
            <!-- {{val.send.createdTime | timeAgo}} -->
          </span>
        </div>
      </div>
      <!--File message end-->
    </div>
    <!-- SEND ENDS-->
    <!-- Received Message-->
    <div *ngIf="val.receive" class="col-sm-12 my-1 message-main-receiver">
      <div class="row">
        <div class="col-md-2 ">
          <img *ngIf="chatService.contactProfileImage=='default' || !chatService.contactProfileImage" class="img_top_propic ml-auto m-1"
            src="{{service.prfImgTemp}}">
          <img *ngIf="chatService.contactProfileImage!='default' && chatService.contactProfileImage" class="img_top_propic ml-auto m-1"
            src="{{service.url}}/download/profile.json?fileID={{chatService.contactProfileImage}}&token={{service.getStorage('token')}}">


        </div>
        <div class="col-md-10">
          <!-- Text message-->
          <div *ngIf="val.receive.messageType=='text'" class="receiver">
            <div class="message-text">
              {{val.receive.message}}
            </div>
            <span *ngIf="!failed" class="message-time pull-right">
              <!-- {{val.receive.createdTime | date : 'dd-MM-yyyy h:M:s'}} -->
              <span *ngIf="checkTime(val.receive.createdTime | date : 'dd-MM-yyyy')==1">
                {{(val.receive.createdTime) | date : 'h:m a'}}
                
              </span>
              <span *ngIf="checkTime(val.receive.createdTime | date : 'dd-MM-yyyy')==0">
                {{val.receive.createdTime | date :'dd MMM yyyy h:m:a'}}
              </span>
              <!-- {{(val.receive.createdTime) | timeAgo}} -->
            </span>

          </div>
          <!-- TEXT message-->
          <!--file -->
          <div *ngIf="val.receive.messageType=='file'" class="receiver">
            <div class="message-text">

              <div class="row">
                <div class="col-md-3">
                  <i class="fa fa-file-text fa-2x text_blue" aria-hidden="true"></i>
                </div>
                <div class="col-md-6">

                  {{val.receive.fileName}}
                </div>
                <div class="col-md-3">
                  <a href="{{service.url}}/download/docs.json?fileID={{val.receive.message}}&token={{service.getStorage('token')}}"
                    target="_blank">
                    <!-- <i class="fa fa-download fa-1x bkg_ash p-2 shadow rounded-circle text_blue" aria-hidden="true"></i> -->
                    <i class="fa fa-arrow-down fa-1x bg-medium-blue text-white p-1 rounded-circle" aria-hidden="true"></i>
                  </a>

                </div>
              </div>
              <span class="message-time pull-right">
                <span *ngIf="checkTime(val.receive.createdTime | date : 'dd-MM-yyyy')==1">
                  {{(val.receive.createdTime) | date : 'h:m a' }}
                </span>
                <span *ngIf="checkTime(val.receive.createdTime | date : 'dd-MM-yyyy')==0">
                  {{service.convertDateToGmt(val.receive.createdTime )}}
                </span>
                <!-- {{val.send.createdTime | timeAgo}} -->
              </span>
            </div>
          </div>
          <!---File ends-->
        </div>
      </div>

    </div>
    <!--Recieved message-->

  </div>




</div>
<!-- <file-drop customstyle="mystyle" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
  headertext="Drop files here" (onFileDrop)="dropped($event)"> </file-drop> -->
<div *ngIf="chatService.fileUploadLoader " class="col-md-1 mt-4 col-3 mx-auto "><img class="img-fluid" src="assets/images/loaderinput.gif"></div>


<div *ngIf="this.chatService.proposalId" (keydown)="chatService.onKeydown($event)" class="row reply">
  <!--*ngIf="chatService.contactName" -->


  <div class="col-sm-1 col-2 reply-recording">

    <i class="fa fa-paperclip fa-2x" style="color: #002d68;" onclick="triggerFileInput1()" aria-hidden="true"></i>
    <input type="file" accept="{{service.fileFormat}}" id="upload_experience" (change)=chatService.uploadFile($event)
      style="visibility: hidden">
  </div>

  <div class="col-sm-10 col-7 reply-main">
    <input type="text" maxlength="150" class="form-control" [(ngModel)]="chatService.messageBox" id="message">
  </div>

  <div (click)="chatService.sendMsg()" class="col-sm-1 col-2 reply-send">
    <i class="fa fa-send fa-2x" id="send" style="color: #002d68;" aria-hidden="true"></i>
  </div>

</div>
<!-- if chat records found-->
<!-- <div *ngIf="!chatService.contactName "  class="row reply">

  <div class="col-sm-1 col-xs-1 reply-recording">
   <div class="col-sm-1 col-2 reply-recording">
     <input type="file"disabled="disabled"  class="custom-file-input1">
    </div>
  </div>
  <div class="col-sm-10 col-xs-9 reply-main">
   <input type="text" disabled="disabled"  class="form-control" [(ngModel)]="chatService.messageBox" id="message">
  </div>

  <div  class="col-sm-1 col-2 reply-send">
    <i class="fa fa-send fa-2x" id="send" style="color: #002d68;" aria-hidden="true"></i>
  </div>

</div> -->