<ng2-slim-loading-bar></ng2-slim-loading-bar>
<ng-progress ></ng-progress>
<ng-http-loader 
    [backgroundColor]="'#ff0000'"
    [spinner]="spinkit.skWave"
    [debounceDelay]="100"
    [minDuration]="300"
    [extraDuration]="300">
</ng-http-loader>
<router-outlet>
    <app-spinner (activate)="onActivate()"></app-spinner>
</router-outlet>