<agm-map [style.height.px]=height [latitude]="startLat"
 [zoom]="zoom" [longitude]="startLng">
  <agm-marker
    *ngFor="let m of markers; let i = index"

    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event)"
    (mapClick)="markerDragEnd(m,$event)"
  >
    <agm-info-window>
      <strong>{{formatedAddress }}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>

