<div class="card">
  <div class="card-body bg_lightash ">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-1 my-auto" (click)="service.groupActiveTab=2">
            <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
          </div>
          <div (click)="service.isGroupAdmin==1 ? service.groupActiveTab=6:''" class="col-md-10 pointer">
            <h6 class="card-title text_blue"> <b>{{groupInfo.groupName | titlecase}}</b> </h6>
            <small>
              <p class="card-text txt_ash">
                {{'created_by' | translate}}
                {{ service.getStorage('userIdentifier')==groupInfo.adminId?'you': groupInfo.adminName | titlecase}} ,
                {{groupInfo.createdTime | date :'dd/MM/yy'}}
              </p>
            </small>

          </div>
        </div>



      </div>
      <div *ngIf="service.isGroupAdmin==1" (click)="service.isGroupAdmin==1 ? service.groupActiveTab=6:''" class="col-md-2 pointer">
        <p><i class="fa fa-pencil text_blue" aria-hidden="true"></i></p>

      </div>
    </div>

  </div>
</div>





<div class="card grp_chat_card">

  <div class="card-body ">
    <div class="row">
      <div (click)="service.isGroupAdmin==1 ? service.groupActiveTab=7:''" class="col-md-10 pointer">
        <h6 class="card-title txt_ash">{{'description' | translate}} </h6>
        <small>{{groupInfo.groupDescription | titlecase}}</small>

      </div>
      <div *ngIf="service.isGroupAdmin==1" (click)="service.isGroupAdmin==1 ? service.groupActiveTab=7:''" class="col-md-2 pointer">
        <p><i class="fa fa-pencil txt_ash" aria-hidden="true"></i></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h6 class="card-title text_blue">{{members.length >0 ?members.length :0 }} {{'participants' | translate}} </h6>
      </div>
      <hr>

      <div *ngFor="let val of members" class="col-md-12">
        <div [class]="service.getStorage('userIdentifier')==groupInfo.adminId ?'row py-1' : 'row py-2'">
          <div class="col-md-2">
            <img class="img_top_propic" src="assets/images/userpropic.png">
          </div>
          <div class="col-md-8">
            {{this.service.getStorage('userIdentifier')==val.memberId ?'You':val.memberName | titlecase}}
          </div>
          <div class="col-md-2 ">
            <!------ADMIN MODULE-->
            <div *ngIf="service.getStorage('userIdentifier')==groupInfo.adminId && val.memberId!=service.getStorage('userIdentifier')"
              class="btn-group dropleft ">
              <button type="button" class="btn btn_transparnt " data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-v text-black-50" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" [swal]="remove" (click)="memberId=val.memberId"> {{'remove' | translate}} </a>

              </div>
            </div>
            <!------------MEMBER MODULE------------------>
            <div *ngIf="val.memberId==service.getStorage('userIdentifier')" class="btn-group dropleft ">
                <button type="button" class="btn btn_transparnt " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v text-black-50" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [swal]="exitgroup" (click)="memberId=val.memberId"> 
                    <span *ngIf="service.getStorage('userIdentifier')==groupInfo.adminId">{{'delete_group' | translate}}</span>
                    <span *ngIf="service.getStorage('userIdentifier')!=groupInfo.adminId">{{'exit_group' | translate}}</span>
                     </a>
                 
                </div>
              </div>

          </div>

        </div>
      </div>


    </div>
    <hr>

    <div *ngIf="request.length >0" class="row">
      <div class="col-md-12">
        <h6 class="card-title text_blue">{{request.length >0 ?request.length :0 }} {{'newrequest' | translate}} </h6>
      </div>
      <hr>

      <div *ngFor="let val of request" class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <img class="img_top_propic" src="assets/images/userpropic.png">
          </div>
          <div class="col-md-8">
            {{val.memberName | titlecase}}
          </div>
          <div class="col-md-2">
            <div class="btn-group droptop mb-1">
              <button type="button" class="btn btn_transparnt " data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-v text-black-50" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="memberId=val.memberId" [swal]="aprove"> {{'approve' | translate}} </a>
                <a class="dropdown-item" [swal]="reject" (click)="memberId=val.memberId"> {{'reject' | translate}} </a>

              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>

</div>

<swal #aprove [title]="'areyousure' | translate" type="question" [showCancelButton]="true" [focusCancel]="true"
  (confirm)="aproveRequest()">
</swal>

<swal #reject [title]="'areyousure' | translate" type="question" [showCancelButton]="true" [focusCancel]="true"
  (confirm)="rejectRequest()">
</swal>
<swal #remove [title]="'areyousure' | translate" type="question" [showCancelButton]="true" [focusCancel]="true"
  (confirm)="removeMember()">
</swal>

<swal #exitgroup [title]="'areyousure' | translate" type="question" [showCancelButton]="true" [focusCancel]="true"
(confirm)="exitGroup()">
</swal>