<div class="card ">
  <h5 class="txt_dark_blue_header p-2 bkg_widget_head">{{'last3monthincome' | translate:params}} </h5>
  <!-- <hr> -->

  <div class="line-chart-block block">
    <div class="line-chart">
        <canvas baseChart 
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>

    </div>
    </div>
</div>

