<div class="col-md-6 mb-5 pb-5 mx-auto ">
    <div class="card mx-auto mt-5 mb-5" style="width: 100%;">

        <h3 style="margin-top: 20px; " class="text-center text_blue"> Transaction failed! </h3>

        <i class="fa fa-times-circle text-center" aria-hidden="true" style="color: #f70000;font-size: 8rem;"></i>
        <div class="card-body mx-auto text-center">
          <h5 class="card-title">Sorry, Your transaction was failed</h5>
          <p class="card-text text-left">  Amount : 50 {{'defaultcurrency' | translate}}  <br> Transaction Id : 5020256520  <br> Date : 10/10/2018</p>
          
        </div>
      </div>
</div>