<div class="card p-3">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">{{'fullname' | translate}}</label>
    <div class="col-sm-10">
      <label>{{data.fullName | titlecase}}</label>

    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">{{'email' | translate}}</label>
    <div class="col-sm-10">
      <label>{{data.email }}</label>

    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">{{'mobile' | translate}}</label>
    <div class="col-sm-10">
      <label>{{data.mobileNumber | titlecase}}</label>

    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">{{'usertype' | translate}}</label>
    <div class="col-sm-10">
      <label class="switch">
        {{data.registerType | titlecase}}

      </label>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">{{'subject' | translate}}</label>
    <div class="col-sm-10">
      <label class="switch">
        {{data.subject | titlecase}}

      </label>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">{{'comment' | translate}}</label>
    <div class="col-sm-10">
      <label class="switch">
        {{data.comment}}
      </label>


    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">{{'resolvecomment' | translate}}</label>
    <div class="col-sm-10">
      <textarea name="" class="form-control" maxlength="1500" [(ngModel)]="resolveComment" id="" cols="15" rows="8"></textarea>
      <p>
        <small> {{resolveComment?1500-resolveComment.length:1500 }}&nbsp;{{'left' | translate}}</small>
      </p>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4 float-left">
      <button type="button" (click)="goBack()"  routerLinkActive="router-link-active" class="btn btn-dark">
        {{'back' | translate}}</button>
    </div>
    <div class="col-sm-4 text-center">
        <button type="button" (click)="saveFeedback()" class="btn btn-primary">{{'save' | translate}}</button>
      </div>
    <div class="col-sm-4 float-right">
      <button type="button" (click)="resolveFeedback()" class="btn btn-primary">{{'resolve' | translate}}</button>
    </div>
  </div>
</div>
