<!-- <div id="mySidenavmsg" class="sidenavmsg">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   
  </div> -->


  <div class="container-fluid">


    <div class="row bg-white">
      <!-- <button class=" btn filterbtn d-block d-sm-none" onclick="openNavmsg()"><i class="fa fa-comments text-white "
          aria-hidden="true"></i></button> -->
      <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
  
  
        <div class="container-fluid mt-4">
          <div class="row">
  
            <!-- <div class="col-md-12 mx-auto mb-2 ">
            <h4 class="text-center pt-2 pb-2 text_heading ">Messages</h4>
        </div> -->
            <div class="col-md-12 mb-4">
  
              <div class="card bg_body ">
  
                <!-- CHATrow -->
                <div class="row app-one">
  
                    <div class="col-md-12 mt-3 d-sm-block  d-block d-md-none ">
                        <ul
                          class="nav nav-tabs justify-content-center"
                          role="tablist"
                        >
                          <li class="nav-item" >
                            <a
                            
                              class="nav-link text-dark active"
                              data-toggle="tab"
                              href="#newappsn"
                              role="tab"
                            >
                              <b> {{'message' | translate}}</b>
                            </a>
  
                            <div class="active-arrow"></div>
                          </li>
  
                          <li class="nav-item" >
                            <a
  
                              class="nav-link text-dark"
                              data-toggle="tab"
                              href="#invitedw"
                              role="tab"
                            >
                              <b>{{'recent_chat' | translate}}</b>
                            </a>
  
                            <div class=""></div>
                          </li>
  
                          <li class="nav-item" >
                            <a
                              class="nav-link text-dark"
                              data-toggle="tab"
                              href="#hireemp"
                              role="tab"
                            >
                              <b>{{'contact' | translate}}</b>
                            </a>
  
                            <div class=""></div>
                          </li>
  
                         
                        </ul>
  
                        <div class="row tab-content mt-5 mb-4">
                            <div
                              class="col-md-12 tab-pane bg-white active"
                              id="newappsn"
                              role="tabpanel" style="overflow-y:scroll;height:454px;"
                            >
                            <app-chat-panel></app-chat-panel>
                        
                            </div>
      
                           
      
                            <div
                              class="col-md-12 tab-pane  bg-white"
                              id="invitedw"
                              role="tabpanel" style="overflow-y:scroll;height:454px;"
                            >
                           
                            <app-recent-mesage></app-recent-mesage>
                          
                             
                            </div>
      
                            <div
                              class="col-md-12 tab-pane bg-white"
                              id="hireemp"
                              role="tabpanel" style="overflow-y:scroll;height:454px;"
                            >
                            <div class="side-one">
  
                                <ngb-tabset type="pills">
            
                                  <ngb-tab>
                                    <ng-template ngbTabTitle> <i (click)="chatService.chatContactList()" class="fa fa-users text_blue"
                                        aria-hidden="true"></i>
                                    </ng-template>
                                    <ng-template ngbTabContent>
                                      <app-chat-contact></app-chat-contact>
                                    </ng-template>
                                  </ngb-tab>
            
                                  <ngb-tab>
                                    <ng-template ngbTabTitle> <i (click)="chatService.chatFileLoader(chatService.receiverId,chatService.proposalId)" class="fa fa-file text_blue"
                                        aria-hidden="true"></i> </ng-template>
                                    <ng-template ngbTabContent>
                                     
                                      <app-chat-file></app-chat-file>
                                    </ng-template>
            
                                  </ngb-tab>
                                </ngb-tabset>
            
                              </div>
            
                          
                            </div>
                          </div>
  
                      </div>
  
                  <div class="col-md-4 side d-none d-sm-none d-md-block">
                    <app-recent-mesage></app-recent-mesage>
                  </div>
  
                  <div style="border: none !important;" class="col-sm-6 conversation d-none d-sm-none d-md-block">
                    <app-chat-panel></app-chat-panel>
                  </div>
                  <div class="col-md-2 side d-none d-sm-none d-md-block" style="overflow-y:scroll;height:454px;">
                    <div class="side-one">
  
                      <ngb-tabset type="pills">
  
                        <ngb-tab>
                          <ng-template ngbTabTitle> <i (click)="chatService.chatContactList()" class="fa fa-users text_blue"
                              aria-hidden="true"></i>
                          </ng-template>
                          <ng-template ngbTabContent>
                            <app-chat-contact></app-chat-contact>
                          </ng-template>
                        </ngb-tab>
  
                        <ngb-tab>
                          <ng-template ngbTabTitle> <i (click)="chatService.chatFileLoader(chatService.receiverId,chatService.proposalId)" class="fa fa-file text_blue"
                              aria-hidden="true"></i> </ng-template>
                          <ng-template ngbTabContent>
                           
                            <app-chat-file></app-chat-file>
                          </ng-template>
  
                        </ngb-tab>
                      </ngb-tabset>
  
                    </div>
  
  
                  </div>
                </div>
                <!-- end CHATrow -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>