<!-- <div class="pb-1 pt-1 chat-window" id="chat_window_1" style="margin-left:10px;">
  <div class="panel panel-default">


    <div  class=" top-bar1 row pt-1 pb-1   " >
      <div class="col-md-6 col-6 d-block d-sm-block" (click)="service.groupActiveTab?service.groupActiveTab=null:service.groupActiveTab=1" data-toggle="collapse"
      data-target="#collapsemsggp">
        <h6 class="panel-title">
          <span class="glyphicon glyphicon-comment"></span>
          {{'chat_box' | translate}} 
        </h6>
      </div>

    

      <div class="col-md-6 col-6 d-block d-sm-block" style="text-align: right;cursor: default;" >
        <a>
       
          <span id="" class="glyphicon glyphicon-minus  text-white">
            <i *ngIf="service.groupActiveTab" (click)="service.groupActiveTab=4" class="fa fa-plus-circle" aria-hidden="true"></i>
            <i *ngIf="service.groupActiveTab" (click)="service.groupActiveTab=1" class="fa fa-users dynamic-badge mx-4"  aria-hidden="true" style="font-size: 1rem;"></i>
           
            <i (click)="service.groupActiveTab?service.groupActiveTab=null:service.groupActiveTab=1" data-toggle="collapse"
             data-target="#collapsemsggp" aria-expanded="false" 
             aria-controls="collapsemsggp"  [class]="service.groupActiveTab?'fa fa-minus':'fa fa-plus'" aria-hidden="true"></i>
          </span>
        </a>
        <a>
          <span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span>
        </a>
      </div>

    
    </div>

   
    <div class="row panel-body1 bkgdarkblue_transparent  pt-2 collapse"    id="collapsemsggp">
    <app-grouplist *ngIf="service.groupActiveTab==1"></app-grouplist> 
    <app-groupmessage *ngIf="service.groupActiveTab==2"></app-groupmessage>
    <app-groupinfo *ngIf="service.groupActiveTab==3"></app-groupinfo>
    <app-groupsearch *ngIf="service.groupActiveTab==4"></app-groupsearch>
    <app-groupcreate *ngIf="service.groupActiveTab==5"></app-groupcreate>
    <app-edit-group-name *ngIf="service.groupActiveTab==6"></app-edit-group-name>
    <app-edit-group-description *ngIf="service.groupActiveTab==7"></app-edit-group-description>
    </div>
  </div>
</div>
 -->
