
<div id="accordion" class="accordion">
  <div class="row">

    <div class=" col-sm-4  d-none d-sm-block d-md-none mr-auto">
      <a class="navbar-brand" routerLink="/home">
        <img src="{{service.WebLogoUrl}}" class="img-fluid logocss ">

      </a>
    </div>
    <div class="col-3  text-center d-block d-sm-none">

      <a class="navbar-brand" routerLink="/home">
        <img src="assets/images/logomobsize.png" class="img-fluid logocss ">

      </a>

    </div>
    <div *ngIf="service.showMenu" class="col-2 collapsed text-center ml-auto" data-toggle="collapse" href="#collapseOne">
      <a class="text-white text">
        <i class="fa fa-search my-3" aria-hidden="true"></i>
      </a>
    </div>
    <div *ngIf="service.noLogin" class="col-2 collapsed text-center ml-auto" data-toggle="collapse" href="#collapseOne">
      <a class="text-white text">
        <i class="fa fa-search my-3" aria-hidden="true"></i>
      </a>
    </div>

  </div>

  <div id="collapseOne" class="col-12 collapse" data-parent="#accordion">



      <form role="form">
          <div class="form-group toplogoinput">
            <div class="form-group toplogoinput">
              <div class="row">
                <div class="col-10">
                  <div *ngIf="service.noLogin" class="input-group">

                    <div class="input-group-btn">
                      <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-search ml-2" aria-hidden="true"></i>
                      </button>

                      <div class="dropdown-menu" id="selectionType" style="min-width: 100%;">
                        <a class="dropdown-item" value="0" style="min-width: 100%;" (click)="selectSearch('employer')">
                          {{'find_employee' | translate}}
                        </a>

                        <a class="dropdown-item" value="1" (click)="selectSearch('employee')">{{'searchjob' |
                          translate}}</a>
                      </div>
                    </div>


                    <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
                      style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
                      name="search">

                  </div>



                  <div *ngIf="service.employee_login && service.showMenu" class="input-group">

                    <div class="input-group-btn">
                      <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-search ml-2" aria-hidden="true"></i>
                      </button>

                      <div class="dropdown-menu" id="selectionType" style="min-width: 100%;">

                        <a class="dropdown-item" value="1" (click)="selectSearch('employee')">{{'searchjob' |
                          translate}}</a>
                      </div>
                    </div>


                    <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
                      style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
                      name="search">

                  </div>

                  <div *ngIf="service.employer_login && service.showMenu" class="input-group">

                    <div class="input-group-btn">
                      <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-search ml-2" aria-hidden="true"></i>
                      </button>

                      <div class="dropdown-menu" id="selectionType" style="min-width: 100%;">
                        <a class="dropdown-item" value="0" style="min-width: 100%;" (click)="selectSearch('employer')">
                          {{'find_employee' | translate}}
                        </a>


                      </div>
                    </div>


                    <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
                      style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
                      name="search">

                  </div>
                </div>
                <div *ngIf="service.showMenu || service.noLogin" class="col-2 padding_l0">
                  <button routerLink="/search_all_person" type="button" class="btn btn-warning search_main1" (click)="allSearchPerson()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              
              </div>




            </div>
          </div>
        </form>


    <!-- <div class="form-group toplogoinput">
      <div class="form-group toplogoinput">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-search ml-2" aria-hidden="true"></i>
            </button>
           
            <div *ngIf="service.noLogin" class="dropdown-menu" id="selectionType" style="min-width: 100%;">
              <a class="dropdown-item" value="0" style="min-width: 100%;" (click)="selectSearch('employer')">
                {{'find_employee' | translate}}
              </a>
              <a class="dropdown-item" value="1" (click)="selectSearch('employee')">{{'searchjob' |
                translate}}</a>
            </div>
         
            <div *ngIf="service.isEmployeeLogin()" class="dropdown-menu" id="selectionType" style="min-width: 100%;">

              <a class="dropdown-item" value="1" (click)="selectSearch('employee')">{{'searchjob' |
                translate}}</a>
            </div>
        
            <div *ngIf="service.isEmployerLogin()" class="dropdown-menu" id="selectionType" style="min-width: 100%;">
              <a class="dropdown-item" value="0" style="min-width: 100%;" (click)="selectSearch('employer')">
                {{'find_employee' | translate}}
              </a>

            </div>
          </div>

          <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
            style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
            name="search">
        </div>

      </div>
    </div> -->


  </div>

  <div id="collapseTwo" class="col-12 collapse" data-parent="#accordion">
    <form role="form">
      <div class="form-group toplogoinput">
        <input type="text" class="form-control empty" placeholder="&#xf041; {{'enter_your_country' | translate}}" />
      </div>

      <div class="form-group toplogoinput">
        <ng-select placeholder="{{'state' | translate }}" (remove)="service.onStateItemDeselect()" (clear)="service.onStateItemDeselect()"
          [items]="service.state" bindLabel="state" bindValue="id" dropdownPosition="bottom" class="inputstyletop"
          [ngClass]="service.stateLoader" (change)="service.onStateItemSelect($event)"></ng-select>
      </div>
    </form>
  </div>

  <div id="collapseThree" class="col-12  topsubmenu collapse" data-parent="#accordion">
    <!-- - No lOgin -->

    <div *ngIf="service.noLogin">
      <ul class="ml-auto">
        <li>
          <a routerLink="/home"> {{'home' | translate}} </a>
        </li>

        <li>
          <a routerLink="/how_it_work">{{'howitwork' | translate}}&nbsp;?</a>
        </li>

        <li>
          <a routerLink="">{{ 'faqs' | translate}}</a>
        </li>

        <li>
          <a routerLink="/login">{{'login' | translate}}</a>
        </li>

        <li>
          <a routerLink="/signup">{{'sign_up' | translate}}</a>
        </li>
      </ul>
    </div>

    <!-- Employer login -->


  </div>
</div>