
  <div class="container-fluid sideBar" style="height: auto;">
    <div *ngIf="chatService.ContactLoader" class="col-md-3 col-3 mx-auto my-auto"><img class="img-fluid" src="assets/images/loaderinput.gif"></div>
    <span *ngFor="let val of chatService.chatContact">
      <div *ngIf="val.recentProposal_id" (click)="  chatService.proposalId=val.proposalId;chatService.historyPageNo=1;;chatService.getChatHistory(val.createdUserId,val.recentProposal_id);chatService.contactName=val.createdUserName;chatService.contactProfileImage=val.profileImage"
        class="row sideBar-body w-100 mx-auto " style="height: 5rem;">
        <div class="col-md-4 col-sm-4 col-4 sideBar-avatar ">
          <div class="avatar-icon">
            <img *ngIf="val.profileImage=='default' || !val.profileImage" src="{{service.prfImgTemp}}">
            <img *ngIf="val.profileImage!='default' && val.profileImage" src="{{service.url}}/download/profile.json?fileID={{val.profileImage}}&token={{service.getStorage('token')}}">
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-8 sideBar-main">
        <div class="row">
            

                <div class="col-md-9 col-sm-9 col-9 sideBar-name">
                
                  <span class="name-meta">

                    <!-- {{val.createdUserName}} -->
                    <small>{{(val.createdUserName.length)>8 ? val.createdUserName.slice(0,8)+ "..." : val.createdUserName}}</small>
                  </span>
      
                </div>
                <div class="col-md-3 col-sm-1 col-1 pull-right sideBar-time">
                  <span *ngIf="val.mobOnlineStatus==0"  class="time-meta float-right">
                    <i *ngIf="val.onlineStatus==1" class="fa fa-circle text-success" aria-hidden="true"></i>
                    <i *ngIf="val.onlineStatus==0" class="fa fa-circle text-dark" aria-hidden="true"></i>
                  </span>
                  <span *ngIf="val.mobOnlineStatus==1"  class="time-meta float-right">
                      <i  class="fa fa-mobile-phone text-success" aria-hidden="true"></i>
                     
                    </span>
                </div>
                
              
        </div>
        </div>
      </div>
    </span>
  
  
  
  
  </div>
