<div class="container-fluid">
    <div class="row">
      <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
        <div class="container mt-4">
          <div class="row bg-white">
            <div class="col-md-12 mb-4">
              <div class="row">
               
  
                <div class="col-md-11 col-10 mx-auto shadow  my-1">
                  <div class="">
                    <div class="cards py-2">
                     
  
                      <div class="row tab-content mt-5 mb-4">
                        <div
                          class="col-md-12 tab-pane bg-white active"
                       
                          role="tabpanel"
                        >
                          <h5 class="text_heading text-center">  I am not sure  </h5>
                          <hr>


                          <div class="p-1">
                            <h6> What is urgent Jobs ? </h6>
                            <p class="text-secondary"> {{'What is Up part-time_ans' | translate}}</p>
                          </div>
  
                          <div class="p-1">
                            <h6> What is non urgent jobs ? </h6>
                            <p class="text-secondary"> {{'ans2' | translate}}</p>
                          </div>
                       
                            <div class="p-1">
                            <h6> How do hourly contracts work? </h6>
                            <p class="text-secondary"> Before work begins, you and your freelancer agree to a certain hourly rate and weekly limit (if appropriate).We will track the time with our  application for you to calculate the exact amount to be paid </p>
                            </div>
                     
                        <div class="p-1">
                            <h6> How do I pay? </h6>
                            <p class="text-secondary"> You can pay the money directly to the employee.</p>
                          </div>
                    
  
                        <div class="p-1">
                            <h6> What if there is a problem?</h6>
                            <p class="text-secondary"> Even though we are not ensuring any  Payment Protection, we will help you to resolve the disputes by our dispute resolution programs.
                              </p>
                          </div>
                        </div>
  
                     
  
                      </div>
                    </div>



                  </div>
                </div>




              </div>
            </div>



            
  
            <!-- </div>
                                  <div class="row"> -->
          </div>
  
          <!-- row -->
        </div>
  
        <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                     </div> -->
      </div>
  
      <!-- end iconrow -->
    </div>
  </div>
  