<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <!-- User Profile-->
    <li>
      <!-- User Profile-->
      <div class="user-profile m-t-20" ngbDropdown>
        <div class="user-pic">
          <img
            src="assets/images/logo.png"
            alt="users"
            class="rounded-circle img-fluid"
          />
        </div>
        <div class="user-content hide-menu m-t-10">
          <h5 class="m-b-10 user-name font-medium">
            {{
              loginDetails.displayname
                ? loginDetails.displayname
                : ("Admin" | titlecase)
            }}
          </h5>
          <a
            ngbDropdownToggle
            href="javascript:void(0)"
            class="btn btn-circle btn-sm m-r-5"
            id="Userdd"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="ti-settings"></i>
          </a>
          <a
            href="javascript:void(0)"
            (click)="method.logOutSession()"
            title="Logout"
            class="btn btn-circle btn-sm"
          >
            <i class="ti-power-off"></i>
          </a>
          <div
            class="animated flipInY"
            aria-labelledby="Userdd"
            ngbDropdownMenu
          >
            <a
              *ngIf="this.method.whoseLogin"
              class="dropdown-item"
              href="javascript:void(0)"
            >
              <i class="ti-user m-r-5 m-l-5"></i>{{ "myprofile" | translate }}
            </a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">
              <i class="ti-settings m-r-5 m-l-5"></i
              >{{ "accountsetting" | translate }}</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              (click)="method.logOutSession()"
              href="javascript:void(0)"
            >
              <i class="fa fa-power-off m-r-5 m-l-5"></i>
              {{ "logout" | translate }}</a
            >
          </div>
        </div>
      </div>
      <!-- End User Profile-->
    </li>
    <!-- First level menu -->
    <span *ngFor="let sidebarnavItem of sidebarnavItems">
      <li
        class="sidebar-item"
        [class.selected]="showMenu === sidebarnavItem.title"
        [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'"
      >
        <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">
          <i [ngClass]="[sidebarnavItem.icon]"></i>
          <span class="hide-menu">{{ sidebarnavItem.title | translate }}</span>
        </div>
        <a
          class="sidebar-link waves-effect waves-dark"
          [routerLink]="
            sidebarnavItem.class === '' ? [sidebarnavItem.path] : null
          "
          [ngClass]="[sidebarnavItem.class]"
          *ngIf="!sidebarnavItem.extralink"
          (click)="addExpandClass(sidebarnavItem.title)"
          [routerLinkActive]="
            sidebarnavItem.submenu.length != 0 ? '' : 'active'
          "
        >
          <i [ngClass]="[sidebarnavItem.icon]"></i>
          <span class="hide-menu">{{ sidebarnavItem.title | translate }}</span>
        </a>
        <!-- Second level menu -->
        <ul
          aria-expanded="false"
          class="collapse first-level"
          *ngIf="sidebarnavItem.submenu.length > 0"
          [ngClass]="{ in: showMenu === sidebarnavItem.title }"
        >
          <li
            class="sidebar-item"
            *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
            [class.active]="showSubMenu === sidebarnavSubItem.title"
            [routerLinkActive]="
              sidebarnavSubItem.submenu.length > 0 ? '' : 'active'
            "
          >
            <a
              class="sidebar-link"
              [routerLink]="
                sidebarnavSubItem.submenu.length > 0
                  ? null
                  : [sidebarnavSubItem.path]
              "
              [routerLinkActive]="
                sidebarnavSubItem.submenu.length > 0 ? '' : 'router-link-active'
              "
              [ngClass]="[sidebarnavSubItem.class]"
              *ngIf="!sidebarnavSubItem.extralink"
              (click)="addActiveClass(sidebarnavSubItem.title)"
            >
              <i [ngClass]="[sidebarnavSubItem.icon]"></i>
              <span class="hide-menu">{{
                sidebarnavSubItem.title | translate
              }}</span>
            </a>
            <!-- Third level menu -->
            <ul
              aria-expanded="false"
              class="collapse second-level"
              *ngIf="sidebarnavSubItem.submenu.length > 0"
              [ngClass]="{ in: showSubMenu === sidebarnavSubItem.title }"
            >
              <li
                class="sidebar-item"
                *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                routerLinkActive="active"
                [ngClass]="[sidebarnavSubsubItem.class]"
              >
                <a
                  class="sidebar-link"
                  [routerLink]="[sidebarnavSubsubItem.path]"
                  *ngIf="!sidebarnavSubsubItem.extralink"
                  [routerLinkActive]="
                    sidebarnavSubsubItem.submenu.length > 0
                      ? ''
                      : 'router-link-active'
                  "
                >
                  <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                  <span class="hide-menu">{{
                    sidebarnavSubsubItem.title | translate
                  }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </span>
  </ul>
</nav>
