<div class="container mt100">
  <!-- iconrow -->

  <div class="row mt-4">
    <div class="col-md-12 mainheading text-center text-md-left mt-5 mb-4 mx-auto bg-white">
      <div class="container  mt-4">
        <form
          class="form-horizontal py-2"
          role="form"
        >
          <!-- <form class="form-horizontal py-2" role="form" method="POST" onsubmit="openModal()" id="Form_signuppersonal"> -->
          <!-- <form class="form-horizontal py-2" role="form" method="POST" action="employer_signup.html" id="" > -->

          <div class="row">
            <div class="col-md-12 mx-auto">
              <h4 class="text-center">
                Edit Job announced by company.
              </h4>

              <!-- <h5 class="text-left">Hello </h5>
                                         <h6>Enter specification of part time staff.</h6> -->
              <hr>
            </div>
          </div>

          <!-- <div class="row">
                                  <div class="col-lg-6">
                                    <h3>Single Select with Groups</h3>           
                                  </div>   
                                </div> -->

          <div class="row">
            <div class="col-md-6">
              <div class="card py-4 px-4">
                <div class="row">
                  <div class="col-md-4 field-label-responsive">
                    <label for="password" class="labelrequired">Business location name</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Business"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password" class="labelrequired">Branch</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Branch"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-md-4 field-label-responsive">
                                                  <label for="password">Company name</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                            <div class="input-group-addon" ></div>
                                                            <input type="text" name="name" class="form-control" id="name"
                                                                   placeholder="Name" required autofocus>
                                                        </div> 
                                                    </div>
                                                </div> -->

                  <div class="col-md-4 field-label-responsive">
                    <label for="password" class="labelrequired">City</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>City</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="neighborhood" class="labelrequired">Neighborhood</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>Neighborhood</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="Street" class="labelrequired">Street</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>Street</option>

                          <option>Street</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="Street" class="labelrequired">Kind of work details</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>Kind of work</option>

                          <option>Street</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password" class="labelrequired">Starting date of task</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="date"
                          class="form-control"
                          id="exampleInputDOB1"
                          name="dob"
                          placeholder="Date"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="Street" class="labelrequired">The number of work days</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>1</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="Street" class="labelrequired">
                      The number of working hours per days
                    </label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>1</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="Street" >End of work hours</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>1</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="Street" class="labelrequired">The hourly fare</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>{{'defaultcurrency' | translate}} 10</option>

                          <option>{{'defaultcurrency' | translate}} 20</option>

                          <option>{{'defaultcurrency' | translate}} 30</option>

                          <option>{{'defaultcurrency' | translate}} 40</option>

                          <option>{{'defaultcurrency' | translate}} 50</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card py-4 px-4">
                <div class="row">
                  <div class="col-md-4 field-label-responsive">
                    <label for="Street"  class="labelrequired">Total hourly fare</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>{{'defaultcurrency' | translate}} 100</option>

                          <option>{{'defaultcurrency' | translate}} 200</option>

                          <option>{{'defaultcurrency' | translate}} 300</option>

                          <option>{{'defaultcurrency' | translate}} 400</option>

                          <option>{{'defaultcurrency' | translate}} 500</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password">Sex of the worker</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_gender"
                          name="em_gender"
                          placeholder="Gender"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option value="Male">Male</option>

                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password"  class="labelrequired">Nationality</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_nationality"
                          name="em_nationality"
                          placeholder="Nationality"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>Nationality</option>

                          <option>Nationality</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password"  class="labelrequired">
                      Last level of education you got it.
                    </label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_gender"
                          name="em_gender"
                          placeholder="Gender"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option value="Male">Education</option>

                          <option value="Female">B tech</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password"  class="labelrequired">Specialization</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_nationality"
                          name="em_nationality"
                          placeholder="Nationality"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option
                            value=""
                            disabled="disabled"
                            selected="selected"
                          >Specialization</option>

                          <option>Engineering</option>

                          <option>IT</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password"  class="labelrequired">
                      Experience in the nature of work
                    </label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_nationality"
                          name="em_nationality"
                          placeholder="Nationality"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>Experience</option>

                          <option>Experience</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password">Age</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="Age"
                          name="Age"
                          placeholder="Age"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>Age</option>

                          <option>20</option>

                          <option>21</option>

                          <option>23</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password">
                      The number of workers wanted at this time.
                    </label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="No_workerse"
                          name="No_workers"
                          placeholder="No_workers"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>No_workers</option>

                          <option>20</option>

                          <option>21</option>

                          <option>23</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password"  class="labelrequired">Mobile No</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Mobile No"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-7 field-label-responsive">
                    <label for="password">
                      Do you like to include these function in the immediate competition.
                    </label>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="l_time"
                          value="No"
                        />

                        No
                      </label>

                      <label class="radio-inline">
                        <input
                          type="radio"
                          value="yes"
                          name="l_time"
                        />

                        Yes
                      </label>
                    </div>
                  </div>

                  <div class="col-md-2 ml-auto">
                    <div class="ml-auto">
                      <input
                        type="submit"
                        name="submit"
                        class="submit btn_alkafu"
                        value="Submit"
                        onclick="employer_request()"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- </div>
                                <div class="row"> -->
            </div>
          </div>

          <!-- row -->
        </form>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>

<div class="container-fluid">
  <hr>
</div>