<div class="container">
  <!-- iconrow -->

  <div class="row mt100">
    <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container  mt-4">
        <form
          class="form-horizontal py-2"
          role="form"
        >
          <div class="row">
            <div class="col-md-12 mx-auto">
              <h4 class="text-center b_shadow bg-white py-2">{{'evaluate_ employee' | translate }}</h4>

              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card py-4 px-4">
                <div class="row">
                  <div class="col-md-4 field-label-responsive">
                    <label for="password" class="labelrequired">{{'branch' | translate}}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="His number"
                          required="required"
                          autofocus="autofocus"
                       />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password" class="labelrequired" >{{'company_name' | translate}} </label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Name"
                          required="required"
                          autofocus="autofocus"
                       />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password" class="labelrequired">{{'city' | translate}} </label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>City</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="neighborhood" class="labelrequired"> {{'neighborhood'| translate}} </label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>Neighborhood</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="Street" class="labelrequired">Street</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>Street</option>

                          <option>Street</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password" class="labelrequired">Task number</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Task number"
                          required="required"
                          autofocus="autofocus"
                       />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password" class="labelrequired">Date of task performance</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="date"
                          class="form-control"
                          id="exampleInputDOB1"
                          name="dob"
                          placeholder="Date"
                          required="required"
                          autofocus="autofocus"
                       />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-7 field-label-responsive">
                    <label for="password" class="labelrequired">
                      Is the working period more or less than specified on the site
                    </label>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          value="No"
                       />

                        More
                      </label>

                      <label class="radio-inline">
                        <input type="radio"/>
                        Less
                      </label>
                    </div>
                  </div>

                  <div class="col-md-7 field-label-responsive">
                    <label for="password" class="labelrequired">
                      Is the type of work as defined on the site or different
                    </label>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="work_type"
                          value="No"
                       />

                        Same
                      </label>

                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="work_type"
                       />

                        Different
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card py-4 px-4">
                <div class="row">
                  <div class="col-md-7 field-label-responsive">
                    <label for="password" class="labelrequired">
                      Have you been treated with the human treatment you deserve?
                    </label>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="l_time"
                          value="No"
                       />

                        No
                      </label>

                      <label class="radio-inline">
                        <input
                          type="radio"
                          value="yes"
                          name="l_time"
                       />

                        Yes
                      </label>
                    </div>
                  </div>

                  <div class="col-md-7 field-label-responsive">
                    <label for="password" class="labelrequired">Have you been fully paid?</label>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="l_time"
                          value="No"
                       />

                        No
                      </label>

                      <label class="radio-inline">
                        <input
                          type="radio"
                          value="yes"
                          name="l_time"
                       />

                        Yes
                      </label>
                    </div>
                  </div>

                  <div class="col-md-7 field-label-responsive">
                    <label for="password" class="labelrequired">
                      Is the work environment conducive to overtime?
                    </label>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="l_time"
                          value="No"
                       />

                        No
                      </label>

                      <label class="radio-inline">
                        <input
                          type="radio"
                          value="yes"
                          name="l_time"
                       />

                        Yes
                      </label>
                    </div>
                  </div>

                  <div class="col-md-7 field-label-responsive">
                    <label for="password" class="labelrequired">
                      Is you have the opportunity to work again, will you work with them?
                    </label>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="l_time"
                          value="No"
                       />

                        No
                      </label>

                      <label class="radio-inline">
                        <input
                          type="radio"
                          value="yes"
                          name="l_time"
                       />

                        Yes
                      </label>
                    </div>
                  </div>

                  <div class="col-md-7 field-label-responsive">
                    <label for="password" class="labelrequired">
                      Do you advise others to work with them?
                    </label>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="l_time"
                          value="No"
                       />

                        No
                      </label>

                      <label class="radio-inline">
                        <input
                          type="radio"
                          value="yes"
                          name="l_time"
                       />

                        Yes
                      </label>
                    </div>
                  </div>

                  <div class="col-md-9 field-label-responsive">
                    <label for="password" class="labelrequired">
                      How much does thee work site give a score of 10, giving him a score of 1 to 10, 1 for bad and 10 excellent.
                    </label>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>1</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 field-label-responsive">
                    <label for="password" class="labelrequired">Rate your employer</label>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="star-rating">
                        <span
                          class="fa fa-star-o"
                          data-rating="1"
                        ></span>

                        <span
                          class="fa fa-star-o"
                          data-rating="2"
                        ></span>

                        <span
                          class="fa fa-star-o"
                          data-rating="3"
                        ></span>

                        <span
                          class="fa fa-star-o"
                          data-rating="4"
                        ></span>

                        <span
                          class="fa fa-star-o"
                          data-rating="5"
                        ></span>

                        <input
                          type="hidden"
                          name="whatever1"
                          class="rating-value"
                          value="2.56"
                       />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label for="password">Do you have a comment</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="comment"
                          required="required"
                          autofocus="autofocus"
                       />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 ml-auto">
                    <div class="ml-auto">
                      <input
                        type="submit"
                        name="submit"
                        class="submit btn_alkafu"
                        value="Send"
                        onclick="em_signup()"
                     />
                    </div>
                  </div>
                </div>
              </div>

              <!-- </div>
                                <div class="row"> -->
            </div>
          </div>

          <!-- row -->
        </form>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>