<div class="row mb-2">
    <div class="col-md-6">
      <input type="text" [(ngModel)]="variable.search" class="form-control" maxlength="70" placeholder="{{'search' | translate}}">
    </div>
    <div class="col-md-2">
      <button (click)="ngOnInit()" class="btn btn-info"><i class="fa fa-search"> </i></button>

    </div>
  </div>
<app-smart-table (customEvent)="customEvent($event)"
[tableSetting]=settings
 [tableData]=this.variable.newUserList></app-smart-table>
