<ul class="timeline" id="timeline">
    <li class="li complete">
      <div class="timestamp ">
        <span style="font-weight  : 600;" class="author">{{'jobcreatedon' | translate }}</span>
        <time>{{service.convertDateToGmt(data.jobDetails.createdAt)}}</time>
      </div>
      <div class="status ">
          <p style="font-size: 11px;" class="text-center">{{'budgetwas' | translate}} <br>
              <span class="text_blue" style="font-size: 12px;">
                {{data.jobDetails.wageMode=='fixed' ? data.jobDetails.fixedWage+' '+data.jobDetails.currency :
                data.jobDetails.hourlyWages+' '+data.jobDetails.currency+'/ '+ (('hr' )| translate)}}
              </span>
            </p>
      </div>
    </li>
    <li *ngIf="showNumber>=2 && type=='proposal'" class="li complete">
      <div class="timestamp">
          <span  style="font-weight: 600;" *ngIf="service.isEmployerLogin()" class="author">{{(proposalMode=='grab' ? 'gotproposalon':'gotinvitationapprove')| translate}}</span>

        <span  style="font-weight: 600;" *ngIf="service.isEmployeeLogin()" class="author">{{(proposalMode=='grab' ? 'submitproposalon':'gotinvitation')| translate}}</span>
        <time>{{service.convertDateToGmt(data.proposalDetails?data.proposalDetails.createdAt:data.jobDetails.createdAt)}}</time>
      </div>
      <div class="status">
          <p style="font-size: 11px;" *ngIf="data.proposalDetails" class="text-center" >{{ (data.proposalDetails?'proposalamountwas':'-') | translate}} <br>
              <span class="text_blue" style="font-size: 12px;" *ngIf="data.proposalDetails" >
                <!-- {{data.proposalDetails.wageMode | json}} -->
                {{data.proposalDetails.wageMode=='fixed' ? data.proposalDetails.fixedWage+' '+
                data.jobDetails.currency :
                data.proposalDetails.hourlyWage+' '+'/ '+(( 'hr') | translate)}}
              </span>
            </p>
            <p style="font-size: 11px;visibility: hidden;" *ngIf="!data.proposalDetails" class="text-center" >No display<br>
              <span class="text_blue" style="font-size: 12px;" >
                No display
              </span>
            </p>
      </div>
    </li>
    
    <li *ngIf="showNumber>=2 && type=='edit'" class="li complete">

        <div class="timestamp ">
          <span  style="font-weight: 600;" class="author">{{(proposalMode=='grab' ? 'submitproposalon':'gotinvitation')| translate}}</span>
          <time>{{service.convertDateToGmt(data.createdAt)}}</time>
        </div>
        
        <div class="status ">
            <p style="font-size: 11px;" class="text-center" >{{ ('proposalamountwas') | translate}} <br>
                <span class="text_blue" style="font-size: 12px;" >
                
                  {{data.wageMode=='fixed' ? data.fixedWage+' '+
                  data.currency :
                  data.hourlyWage? data.hourlyWage: data.hourlyWages+' '+data.currency+'/ '+(( 'hr') | translate)}}
                </span>
              </p>
        </div>
      </li>
    <li *ngIf="showNumber>=3" class="li complete">
        <div class="timestamp">
          <span style="font-weight: 600;" class="author">{{( service.isEmployeeLogin()?'yougotoffer' : 'yougotofferapprove')| translate}}</span>
          <time>{{service.convertDateToGmt(data.createdAt)}}</time>
        </div>
        <div class="status">
            <p style="font-size: 11px;" class="text-center" >{{ 'offer' | translate}} <br>
                <span style="font-size: 12px;" class="text_blue" *ngIf="data.proposalDetails" >
                  <!-- {{data.proposalDetails.wageMode | json}} -->
                  {{data.wageMode=='fixed' ? data.fixedWage+' '+
                  data.currency :
                  data.hourlyWages+' '+data.currency+'/ '+(( 'hr') | translate)}}
                </span>
              </p>
        </div>
      </li>
  
   </ul>  

