h2{
  font-size: 1.7rem;
}
p{
  font-size: 0.8rem;
}
body a {
 font-size: 0.8rem;
}
.arrowreg_page:before{
  
    color: #001c4e;
      border-left: 18.5px solid;
      border-top: 18.5px solid transparent;
      border-bottom: 18.5px solid transparent;
      display: inline-block;
      content: '';
      position: absolute;
      right: -18.5px;
  }
  .img_attachment_left{
    float: left;
  }
  
  .search-container input[type=text]{
    border-radius: 8px 0 0 8px;
  
  }
  .search-container button {
    border-radius: 0px 8px 8px 0px;
  }
  .text-left{
    text-align: left !important;
  
  }
  .text-md-left{
    text-align: left !important;
  }
  .ple-0{
    padding-left: 0px;
  }
  
  .modal-header .close{padding:1rem;margin:-1rem -1rem -1rem auto}
  
  .mainheading h3 {
    /* text-align: left !important; */
  }
  .mainheading h6 {
    /* text-align: left !important; */
  }
  .topsubmenu ul { 
      float: right;
      padding-left: 0rem;
  }
  .ftr ul {
     padding-left: 0px;
  }
  .loginheader {
      background: transparent url("../../images/resume.jpg") no-repeat fixed 0px 0px / cover;
     background-color: #edecfa;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     background-position: center;
     height: 70vh;
   }
   .line2{
      border-bottom:solid 1px #CCCCCC;
      border-right:solid 1px #CCCCCC;
      padding:1rem;
    }
    .line3{
      border-bottom:solid 1px #CCCCCC;
      padding:1rem;
    }
    .line4{
      border-right:solid 1px #CCCCCC;
      padding:1rem;
    }
    .line5{
     border-right:solid 1px #CCCCCC;
      padding:1rem;
    }
    .line6{
     
      padding:1rem;
    }
    .line1{
      /* border:solid 1px #CCCCCC;
      border-top: none;
      border-left: none; */
      padding:1rem;
    }
    .leader::after{
      content: "";
      background: url('assets/images/IPadminiWhite.png') no-repeat;
      position:absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 300px;
   }
  
   .padding_r0{
     padding-right: 0px !important;
   }
  
   .padding_l0{
    padding-left: 0px !important;
  }
  .flagInput{
    border: 1px solid #ccc !important;
      border-radius: 0px !important;
      border-right: none !important;
  }
  .flagInput:hover{
   background-color: #dee2e6;
  }
  
  .attach_clip{
    border-radius: 50%;
      height: 40px;
      width: 40px;
      position: absolute;
      padding: 12px;
      color: #fff;
      background-color: rgba(8, 60, 133,1);
      bottom: 21px;
      left: 100px;
  }
  .float-left1{
    float: left !important;
  }
  .float-right1{
    float: right !important;
  }
  
  .map_card_right{
    right: 20px;
  }
  .arb_right{
    margin-top: -8px;
  }
  
  .sidenavmap .closebtn {
    position: absolute;
    z-index: 1;
    float: right;
    top: 61px !important;
    right: 14px !important;
    font-size: 24px !important; 
    margin-right: 18px !important;
     margin-top: 10px !important;
    padding: 0!important;
    padding-left: 12px !important;
    background-color: #1955bd;
      color: #fff;
  }
  .d_ar_block{
    display: none;
  }
  .d_ar_none{
    display: block;
  }
  .ml_200{
    /* margin-left: 200%; */
  }
  .mainheading h6 {
    font-size: 0.8rem;
}
  .mainheading h3 {
    font-size: 1.2rem;
}
  .font07 a {
    font-size: 0.66rem !important;
    }
    h5 {
        font-size: 0.9rem;
    }
    .txt_dark_blue_header {
        font-size: 0.8rem;
    }
    .language_width{
      width: 120px !important;
      text-align: left !important;
    }
    label , .label{
      font-size: 0.8rem;
    }
    .starrate_btn{
      font-size: 0.8rem;
     }
     .ml_font_size  li  a {
         font-size: 0.8rem !important;
     }
      .nav-tabs li a
     {
       font-size: 0.7rem;  
     }
     .settingnav  a{
       min-width: 201px !important;
       font-size: 0.9rem !important; 
     }
     .btn_alkafu{
       font-size: 0.7rem !important;
     }
     ::-webkit-input-placeholder { 
       font-size: 0.8rem !important;
    }
    ::-moz-placeholder {
      font-size: 0.8rem !important;
    }
    :-ms-input-placeholder { 
      font-size: 0.8rem !important;
    }
    :-moz-placeholder {
      font-size: 0.8rem !important;
    }
    input::placeholder{
      font-size: 0.7rem !important;
    }
    .logout {
      font-size: 0.6rem;
    }
    .settingnav  > .nav-link  {
     min-width: 250px !important;
    }
    .text_gray {
      font-size: 0.8rem;
    }
    .title_ash_clr {
      font-size: 16px !important;
      font-weight: 600 !important;
  }
  .dropdown-item {
    font-size: 0.7rem;
  }
  .view_applicantdetails li{
      font-size: 0.8rem;
  }
  input[type=text] {
    font-size:0.8rem;
  }
  input[type=password] {
    font-size:0.8rem;
  }
  .search-container input[type=text] {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}
.help-block {
  font-size: 0.8rem;
}
.btn-link{
  font-size: 0.8rem;
}
.ng-select div, .ng-select input, .ng-select span {                                                                                 
  font-size: 0.8rem;
}
   .table td, .table th {
     font-size: 0.8rem;
     }
     .form-group .danger{
        font-size: 0.8rem;
     }

     /* how_it_style */
.timeline .top-right {
  left: 50%;
  top: -50%;
  
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
/* end_how it */

     @media only screen and (max-width: 1230px) and (min-width: 900px)
     {
     .mainheading p {
    font-size: 1.2vw;
    }
    .settingnav  > .nav-link  {
      min-width: 248px !important;
     }
    }
  @media screen and (min-width: 768px) {
    .btn-warning {
      /* margin-left: -5%; */
      left: 0 !important;
    }
    
  }
    @media screen and (max-width: 768px) {
   
      .line1,.line2 ,.line3,.line4,.line5,.line6{
     border: none !important;
      }
  }
  @media only screen and (min-width:1115px) and (max-width:1229px){
    
    .font07 a, .logout {
      font-size: 0.6rem !important;
     }
  
  }
  
  @media only screen and (min-width:1080px) and (max-width:1115px){
    
    .font07 a , .logout{
      font-size: 0.5rem !important;
     }
  
  }
  @media only screen and (min-width:769px) and (max-width:1080px){
    
    .font07 a , .logout {
      font-size: 0.5rem !important;
     }
  
  }
  .btn_edit_ab {
     
    right: 45px !important;
   
  }
  @media screen and (max-width: 700px) {
    .btn_edit_ab {
   
        right: 25px !important;
        
       
    }
    
  }
  