<div class="modal fade" id="modal_approve_proposal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " id="exampleModalLabel">
          {{ "enter_your_description_about_work" | translate }}
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-left">
          <p class="mt-2  mb-2 font-weight-bold">
            {{ "amount_you_would_like_to_bid" | translate }}
          </p>
          <p class="mt-2  mb-2 text-left">
            {{ "your_profile_rate" | translate }} :-
          </p>
          <div class="row">
            <!----------->
            <div *ngIf="proposalDetails.wageMode == 'hourly'" class="col-md-4 field-label-responsive text-left">
              <label for="password" class="labelrequired">{{
                "minimumhour" | translate
              }}</label>
            </div>

            <div *ngIf="proposalDetails.wageMode == 'hourly'" class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon"></div>

                  <div class="input-group mb-3">
                    <input type="text" maxlength="2" (keydown)="service.validateInputKey($event)" class="form-control"
                      placeholder="{{ 'minimumhour' | translate }}" [(ngModel)]="minHour"
                      aria-label="Recipient's username" aria-describedby="basic-addon2" />

                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">
                        {{ "hr" | translate }}
                      </span>
                    </div>
                  </div>
                </div>

                <span class="danger" *ngIf="submitError && !minHour">{{
                  validationMsg.invalidMinhour
                }}</span><br />
                <span class="danger"
                  *ngIf="submitError && minHour && minHour > 24">{{ validationMsg.invalidMinHour }}</span>
              </div>
            </div>

            <div *ngIf="proposalDetails.wageMode == 'hourly'" class="col-md-4 field-label-responsive text-left">
              <label for="password" class="labelrequired">{{
                "hourly_rate" | translate
              }}</label>
            </div>

            <div *ngIf="proposalDetails.wageMode == 'hourly'" class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon"></div>

                  <div class="input-group mb-3">
                    <input type="text" maxlength="4" (keydown)="service.validateInputKey($event)" class="form-control"
                      placeholder="{{ 'hourly_rate' | translate }}" [(ngModel)]="hourlyRate"
                      aria-label="Recipient's username" aria-describedby="basic-addon2" />

                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">
                        {{ "defaultcurrency" | translate }}
                      </span>
                    </div>
                  </div>
                </div>
                <span *ngIf="minHour && hourlyRate">
                  
                    {{'uptoxhrs' | translate: {'hrs': minHour} }}
                    {{ minHour * hourlyRate }}&nbsp;
                    {{ "defaultcurrency" | translate }} ,
                    {{'afterXhrs' | translate : {'x' :minHour } }}
                    {{  hourlyRate }}
                    {{ "defaultcurrency" | translate }} / {{ "hr" | translate }}
                </span>
                <span class="danger"
                  *ngIf="!hourlyRate && submitError == true">{{ validationMsg.wagesInvalid }}</span><br />
                <span class="danger" *ngIf="hourlyRate < standardWage">{{
                  validationMsg.belowStandardWage
                }}</span>
              </div>
            </div>

            <div *ngIf="proposalDetails.wageMode == 'fixed'" class="col-md-4 field-label-responsive text-left">
              <label for="password" class="labelrequired">{{
                "fixed_rate" | translate
              }}</label>
            </div>

            <div *ngIf="proposalDetails.wageMode == 'fixed'" class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon"></div>

                  <div class="input-group mb-3">
                    <input type="text" maxlength="4" (keydown)="service.validateInputKey($event)" class="form-control"
                      placeholder="{{ 'fixed_rate' | translate }}" [(ngModel)]="fixedRate"
                      aria-label="Recipient's username" aria-describedby="basic-addon2" />

                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">
                        {{ "defaultcurrency" | translate }}
                      </span>
                    </div>
                  </div>
                </div>
                <span class="danger"
                  *ngIf="!fixedRate && submitError == true">{{ validationMsg.invalidFixedRate }}</span><br />
                <span class="danger" *ngIf="fixedRate < fixedStandardWage">{{
                  validationMsg.belowStandardWage
                }}</span>
              </div>
            </div>
            <div class="col-md-12">
              <app-ratecard [budget]="
                  this.proposalDetails.hourlyWages
                    ? this.proposalDetails.hourlyWages
                    : this.proposalDetails.fixedWage
                " [wageMode]="this.proposalDetails.wageMode" [minWage]="
                this.proposalDetails.jobPostType!='urgent'?
                  this.proposalDetails.wageMode == 'hourly'
                    ? this.standardWage
                    : this.fixedStandardWage :
                    this.proposalDetails.wageMode == 'hourly'
                    ? this.proposalDetails.urgentStandardWage
                    : this.proposalDetails.urgentFixedStandardWage
                " [minHour]="this.minHour" [proposal]="
                  this.proposalDetails.wageMode == 'hourly'
                    ? this.hourlyRate
                    : fixedRate
                "></app-ratecard>
            </div>

            <!--------------->
            <div class="col-md-4 field-label-responsive">
              <label for="password">{{ "attachments" | translate }}</label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon"></div>

                  <div class="input-group mb-3 file_up_style" style="display: none">
                    <span class="hide_fileup">
                      <span class="float-left" *ngIf="fileName">{{
                        service.fileNameFormater(fileName[fileName.length - 1])
                      }}</span>
                      <input type="file" multiple #attachment accept="{{ service.fileFormat }}" id="upload_file"
                        (change)="fileEvent($event)" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" />
                    </span>
                    <span onclick="triggerFileInput()" id="button_up">{{
                      "selectfile" | translate
                    }}</span>
                    <div class="input-group-append"></div>
                  </div>
                  <div *ngIf="counter != 0">
                    <app-editattachment [attachments]="proposalAttachments" [fileName]="fileName"
                      (messageEvent)="deleteFileicon($event)"></app-editattachment>
                  </div>
                  <div *ngIf="this.counter < 5" class="img_attach_sm img_plus " onclick="triggerFileInput()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <p class="mt-2  mb-2">
                {{ "fileuploadlimit" | translate }}
              </p>
            </div>
            <div class="col-md-4 field-label-responsive">
              <label for="password" class="labelrequired">{{
                "comment" | translate
              }}</label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <textarea #cover [(ngModel)]="coverLetter" maxlength="1500" class="form-control"
                  id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <span>{{ 1500 - coverLetter.length  }}&nbsp;{{'left' | translate}}</span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <p *ngIf="error && submitError == true" class="danger">
                {{ error }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <!--Approve proposal-->
          <div class=" w-100">
            <button [disabled]="fileLoader" type="button" *ngIf="!loaderShow" class="btn btn_alkafu  my-2 pull-right"
              (click)="this.submitError = false; approveProposal()">
              <i class="fa fa-check" aria-hidden="true"></i>
              {{ "create_job_post" | translate }}
            </button>
            <button type="button" *ngIf="loaderShow" class="btn btn_alkafu  my-2 pull-right">
              <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              {{ "create_job_post" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- map_urgent new aplication -->
    <div *ngIf="urgentMapViewStatus==0" class="col-md-6 ">
      <!-- <div class="collapse show" id="collapseExample"> -->
      <div class="card ">
        <!-- map_urgent -->
        <div class="container-fluid    ">
          <agm-map style="height: 100vh; " [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
            [zoomControl]="false" [styles]="service.mapStyle">


            <agm-marker *ngFor="let m of markers; let i = index" [iconUrl]="currentIcon" [latitude]="m.lat"
              [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">
            </agm-marker>


            <!---Employee list-->
            <agm-marker-cluster [imagePath]="
                'https://googlemaps.github.io/js-marker-clusterer/images/m'
              ">
              <agm-marker (markerClick)="
                  viewWindow = 1;
                  returnLatLang(
                    employee.employeeDetails.lastSyncLatitude,
                    employee.employeeDetails.lastSyncLongitude
                  )
                " *ngFor="let employee of mapViewIcon; let i = index" [latitude]="
                  returnFloatValue(employee.employeeDetails.lastSyncLatitude)
                " [iconUrl]="currentIconEmployee" [animation]="'BOUNCE'" [longitude]="
                  returnFloatValue(employee.employeeDetails.lastSyncLongitude)
                " [label]="employee.label" [markerDraggable]="false">
                <agm-info-window (infoWindowClose)="viewWindow = 0">
                  <div class="container-fluid " style="width: 250px;">
                    <div class="row py-1">
                      <div class="col-md-12">
                        <p class="text-left text_blue text-uppercase font-weight-bold">
                          {{ employee.employeeDetails.employee }}<br />
                          <span class="starrate_btn text-left">
                            <ngb-rating [(rate)]="
                                employee.employeeDetails.rating /
                                employee.employeeDetails.ratingCount
                              ">
                              <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100" [class.bad]="
                                    index <
                                    employee.employeeDetails.rating /
                                      employee.employeeDetails.ratingCount
                                  ">&#9733;</span>
                              </ng-template>
                            </ngb-rating>

                            <span class="mx-1 text-left">({{
                                employee.employeeDetails.ratingCount
                              }})</span>
                          </span>
                        </p>
                        <hr />
                        <p>
                          <b>
                            {{ "profiletitle" | translate }} :{{
                              employee.employeeDetails.profileDescription
                                .length > 50
                                ? employee.employeeDetails.profileDescription.slice(
                                    0,
                                    50
                                  ) + "..."
                                : employee.employeeDetails.profileDescription
                            }}</b>
                        </p>

                        <p *ngIf="employee.wageMode == 'hourly'" class="col-md-12">
                          <b>
                            <label for="password" class=" text-left">
                              {{ "hourly_rate" | translate }} :
                            </label></b>
                          <span class="text_blue">
                            {{ employee.hourlyWages }}&nbsp;{{
                              employee.proposalCurrency
                            }}</span>

                          <b>
                            <label for="password" class=" text-left">
                              {{ "minimumhour" | translate }} :
                            </label></b>
                          <span class="text_blue">
                            {{ employee.minHour }}&nbsp;{{
                              "hrs" | translate
                            }}</span>
                        </p>

                        <p *ngIf="employee.wageMode == 'fixed'" class="col-md-12">
                          <b>
                            <label for="password" class=" text-left">
                              {{ "fixedfair" | translate }} :
                            </label></b>
                          <span class="text_blue">
                            {{ employee.fixedWage }}&nbsp;{{
                              employee.proposalCurrency
                            }}</span>
                        </p>

                        <p>
                          <b>
                            {{ "comment" | translate }} :
                            {{
                              employee.proposalCoverLetter.length > 50
                                ? employee.proposalCoverLetter.slice(0, 50) +
                                  ".."
                                : employee.proposalCoverLetter
                            }}</b>
                        </p>
                        <p class="text-left text_blue "></p>
                        <hr />
                      </div>
                      <div class="col-md-12 text-center">
                        <p>
                          <button data-toggle="modal" (click)="
                              this.submitError = false;
                              proposalDetails = employee;
                              setValues();
                              proposalId = employee.proposalId
                            " data-target="#modal_approve_proposal" class="btn btn_alkafu  my-2">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{ "create_job_post" | translate }}
                          </button>
                        </p>
                      </div>
                    </div>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-marker-cluster>
          </agm-map>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <!----Map hire employee-->
    <div *ngIf="urgentMapViewStatus==1" class="col-md-6 ">
      <!-- <div class="collapse show" id="collapseExample"> -->
      <div class="card ">
       
        <div class="container-fluid    ">
          <agm-map style="height: 100vh; " [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
            [zoomControl]="false" [styles]="service.mapStyle">


            <agm-marker *ngFor="let m of markers; let i = index" [iconUrl]="currentIcon" [latitude]="m.lat"
              [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">
            </agm-marker>


            <!---Employee list-->
            <agm-marker-cluster [imagePath]="
                'https://googlemaps.github.io/js-marker-clusterer/images/m'
              ">
              <agm-marker (markerClick)="
                  viewWindow = 1;
                  returnLatLang(
                    employee.employeeDetails.lastSyncLatitude,
                    employee.employeeDetails.lastSyncLongitude
                  )
                " *ngFor="let employee of hiredWorkers; let i = index" [latitude]="
                  returnFloatValue(employee.employeeDetails.lastSyncLatitude)
                " [iconUrl]="currentIconEmployee" [animation]="'BOUNCE'" [longitude]="
                  returnFloatValue(employee.employeeDetails.lastSyncLongitude)
                " [label]="employee.label" [markerDraggable]="false">
                <agm-info-window (infoWindowClose)="viewWindow = 0">
                  <div class="container-fluid " style="width: 250px;">
                    <div class="row py-1">
                      <div class="col-md-12">
                        <p class="text-left text_blue text-uppercase font-weight-bold">
                          {{ employee.employee }}<br />
                          <span class="starrate_btn text-left">
                            <ngb-rating [(rate)]="
                                employee.employeeDetails.rating /
                                employee.employeeDetails.ratingCount
                              ">
                              <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100" [class.bad]="
                                    index <
                                    employee.employeeDetails.rating /
                                      employee.employeeDetails.ratingCount
                                  ">&#9733;</span>
                              </ng-template>
                            </ngb-rating>

                            <span class="mx-1 text-left">({{
                                employee.employeeDetails.ratingCount
                              }})</span>
                          </span>
                        </p>
                        <hr />
                        <p>
                          <b>
                            {{ "profiletitle" | translate }} :{{
                              employee.profileTitle
                                .length > 50
                                ? employee.profileTitle.slice(
                                    0,
                                    50
                                  ) + "..."
                                : employee.profileTitle
                            }}</b>
                        </p>

                        
                       
                        <p class="text-left text_blue "></p>
                        <hr />
                      </div>
                     
                    </div>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-marker-cluster>
          </agm-map>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <!----------Hire employee end-------->
    <div class="col-md-6 ml-auto  vh-100_map">
      <!-- style="margin-top: 50vh;" -->
      <div class="container-fluid">
        <div class="row bg-white pt-4">
          <div class="col-md-12">
            <div class="row">

              <div class="col-md-9">

                <h4 class="text-center text_heading p-2">
                  {{ "hire_employees_nearby" | translate }}
                </h4>
              </div>

              <div class="col-md-3">
                <button class="btn125 accept_icon btn125 mx-auto my-2 my-sm-0 " 
                *ngIf="jobDetails.status=='Active' && publicListingStatus!=1" (click)="showModal()">
                  {{ "options" | translate }}
                </button>
                <button class="btn125 accept_icon btn125 mx-auto my-2 my-sm-0 " 
                *ngIf="jobDetails.status=='Active' && publicListingStatus==1" [swal]="deleteSwal">
                {{ "endjob" | translate }}
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="(testval<100 && this.retryAttemptCount < 2) && publicListingStatus!=1" class="col-md-11 col-10 mx-auto bx_shadow card mb-2">
            <progress-bar [progress]="testval | number"
              [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}">
            </progress-bar>


          </div>
          <div class="col-md-11 col-10 mx-auto bx_shadow ">
            <div class="">
              <div class="cards ">
                <div class="row bg-white">
                  <div class="col-md-12 ">
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                      <li (click)="fetchProposalFromApi(0);urgentMapViewStatus=0" class="nav-item">
                        <a class="nav-link text-dark active" data-toggle="tab" href="#newappsn" role="tab">
                          <b> {{ "employees_near" | translate }}</b>
                        </a>

                        <div class="active-arrow"></div>
                      </li>

                      <li class="nav-item">
                        <a (click)="hiredWorkerFromApi(0);urgentMapViewStatus=1" class="nav-link text-dark" data-toggle="tab" href="#invitedw"
                          role="tab">
                          <b>{{ "hired_offered" | translate }}</b>
                        </a>

                        <div class=""></div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row tab-content mt-5 mb-4">
                  <div class="col-md-12 tab-pane bg-white active" id="newappsn" role="tabpanel">
                    <!-- <h5 class="text_heading text-center">{{'employees_near' | translate}}</h5> -->

                    <div *ngFor="let val of newApplication; let i = index" class="container ">
                      <div class="col-md-12  cards imgsmicon1 py-2">
                        <div class="row  ">
                          <div class="col-md-5 pb-2 pt-2 mx-auto">
                            <img *ngIf="!val.employeeDetails.profileImage" src="{{ service.prfImgTemp }}"
                              class="listpropicview  rounded-circle mx-auto" />
                            <img *ngIf="val.employeeDetails.profileImage" src="{{
                                service.url
                              }}/download/profile.json?fileID={{
                                val.employeeDetails.profileImage
                              }}&token={{ service.getStorage('token') }}"
                              class="  listpropicview  rounded-circle mx-auto" />
                            <br />

                            <ul class="view_applicantdetails">
                              <li>
                                <h5 class="text_blue ">
                                  {{ val.employeeDetails.employee }}
                                </h5>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-7 text-left">
                            <ul class="view_applicantdetails">
                              <!-- <li>
                                            <h5 class="text_blue">{{val.employeeDetails.employee}}</h5>
                                        </li>-->
                              <li>
                                <h6>
                                  {{
                                    val.employeeDetails.profileTitle.length >
                                    150
                                      ? (val.employeeDetails.profileTitle
                                          | slice: 0:150) + ".."
                                      : val.employeeDetails.profileTitle
                                  }}
                                </h6>
                              </li>
                              <li>
                                <div class="row">
                                  <div *ngIf="val.wageMode == 'hourly'" class="col-md-12">
                                    <b>
                                      <label for="password" class=" text-left">
                                        {{'uptoxhrs' | translate: {'hrs':val.minHour} }}
                                       
                                        :
                                      </label></b>
                                    <span class="text_blue">
                                      {{
                                        val.hourlyWages * val.minHour
                                      }}&nbsp;{{ val.proposalCurrency }}</span>

                                    <br />
                                    <b>
                                      <label for="password" class=" text-left">
                                          {{'afterXhrs' | translate:{'x' :val.minHour } }} :

                                      </label></b>
                                    <span class="text_blue">
                                      {{ val.hourlyWages }}&nbsp;{{
                                        "hrs" | translate
                                      }}</span>
                                  </div>

                                  <div *ngIf="val.wageMode == 'fixed'" class="col-md-12">
                                    <b>
                                      <label for="password" class=" text-left">
                                        {{ "fixedfair" | translate }} :
                                      </label></b>
                                    <span class="text_blue">
                                      {{ val.fixedWage }}&nbsp;{{
                                        val.proposalCurrency
                                      }}</span>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="row">
                                  <div class="col-md-12">
                                    <p>
                                      <i class="fa fa-user" aria-hidden="true"></i>

                                      {{ "gender" | translate }} :
                                      {{ val.employeeDetails.gender }}
                                    </p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-12 text-left">
                          <app-employeeicon [val]="val.employeeDetails" 
                          [cssChange]=1
                          [proposalRate]="
                              val.proposalStatus == 'Pending'
                                ? val.wageMode == 'hourly'
                                  ? val.hourlyWages
                                  : val.fixedWage
                                : '0'
                            "></app-employeeicon>
                        </div>
                        <div class="col-md-3 text-center mx-auto w-100">
                          <button data-toggle="modal" (click)="
                              this.submitError = false;
                              proposalDetails = val;
                              setValues();
                              proposalId = val.proposalId
                            " data-target="#modal_approve_proposal" class="btn btn_alkafu  my-2  "
                            style="min-width: 125px;">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{ "create_job_post" | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- For loop ends-->

                    <div class="container">
                      <div *ngIf="newApplication.lenth == 0" class="wrapper">
                        <div class="wrapper-cell">
                          <div class="image"></div>
                          <div class="text">
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                          </div>
                        </div>
                        <div class="wrapper-cell">
                          <div class="image"></div>
                          <div class="text">
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                          </div>
                        </div>
                        <div class="wrapper-cell">
                          <div class="image"></div>
                          <div class="text">
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-2" *ngIf="newApplication.lenth != 0">
                        <div class="col-md-10">
                          <span>{{'waitingforemployees' | translate}}</span>
                        </div>
                        <div class="col-md-2">
                          <img src="assets/images/loader.gif" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 tab-pane  bg-white" id="invitedw" role="tabpanel">
                    <!-- <h5 class="text_heading text-center">{{'hired_offered' | translate}}</h5> -->
                    <hr />
                    <div *ngFor="let val of hiredWorkers; let i = index" class="container ">
                      <div class="col-md-12   cards imgsmicon1 py-4 ">
                        <div class="row">
                          <div class="col-md-2 pb-2 pt-2 mx-auto">
                            <img *ngIf="!val.profileImage" src="{{ service.prfImgTemp }}"
                              class=" w-75 rounded-circle mx-auto" />
                            <img *ngIf="val.profileImage" src="{{
                                service.url
                              }}/download/profile.json?fileID={{
                                val.profileImage
                              }}&token={{ service.getStorage('token') }}" class="  w-75 rounded-circle mx-auto" />
                          </div>
                          <div class="col-md-7 text-left">
                            <ul class="view_applicantdetails">
                              <li>
                                <h5 class="text_blue">{{ val.employee }}</h5>
                              </li>
                              <li>
                                <h6>
                                  {{
                                    val.profileTitle.length > 150
                                      ? (val.profileTitle | slice: 0:150) + ".."
                                      : val.profileTitle
                                  }}
                                </h6>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 text-left">
                            <app-employeeicon [val]="val.employeeDetails" 
                            [cssChange]=1
                            [proposalRate]="
                                val.proposalStatus == 'Pending'
                                  ? val.wageMode == 'hourly'
                                    ? val.hourlyWages
                                    : val.fixedWage
                                  : '0'
                              "></app-employeeicon>
                          </div>
                        </div>
                      </div>

                      <!-- For loop ends-->

                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-2 ml-auto mr-auto">
                          <img src="assets/images/loader.gif" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <swal #deleteSwal [title]="title | translate" [text]="text | translate" type="question" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="endJob()">
  </swal>
</div>

<!--------MODAL----------->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="jobpostmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bkgdarkblue">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text_blue">

        <span *ngIf="newApplication.length==0">
          <p>{{'noemployeefoundforjob' | translate}}</p>
          <p  *ngIf=" this.retryAttemptCount < 2 && jobDetails.status=='Active'">{{'doyouwantto' | translate}}&nbsp;
            <label class="mx-auto my-2 my-sm-0 pointer" (click)="retry();">{{'retry' | translate}}</label>
            <!-- <button class="btn125 accept_icon btn125 mx-auto my-2 my-sm-0" (click)="retry();">{{'retry' | translate}}
            </button> -->
          </p>

          <div class="row">
            <div class="col-md-6">
              <p  *ngIf="jobDetails.status=='Active'" class="text-left">
                <button class="btn125 accept_icon btn125 mx-auto my-2 my-sm-0 " *ngIf="endJobFlag == 0"
                  [swal]="deleteSwal">
                  {{ "endjob" | translate }}
                </button>
              </p>
            </div>
            <div class="col-md-6">
              <p  *ngIf="publicListingStatus==0  && jobDetails.status=='Active'" class="text-right" [ngbTooltip]="tipContent">
                <ng-template #tipContent>
                  {{'makepublictooltip' | translate}}
                </ng-template>
                <button class="btn125 accept_icon btn125 mx-auto my-2 my-sm-0 " (click)="makeaspublic()">
                  {{ "makeitpublic" | translate }}
                </button>
              </p>
            </div>
          </div>


        </span>
        <span *ngIf="newApplication.length!=0">
          <p>{{newApplication.length}}{{'employeefoundforjob' | translate}}</p>
          <p>{{'doyouwantto' | translate}}&nbsp;
              <label class="mx-auto my-2 my-sm-0 pointer" (click)="retry();">{{'retry' | translate}}</label>
              <!-- <button class="btn125 accept_icon btn125 mx-auto my-2 my-sm-0" (click)="retry();">{{'retry' | translate}}
              </button> -->
            </p>
  
            <div class="row">
              <div class="col-md-6">
                <p class="text-left">
                  <button class="btn125 accept_icon btn125 mx-auto my-2 my-sm-0 " *ngIf="endJobFlag == 0"
                    [swal]="deleteSwal">
                    {{ "endjob" | translate }}
                  </button>
                </p>
              </div>
              <div class="col-md-6">
                <p class="text-right" [ngbTooltip]="tipContent">
                  <ng-template #tipContent>
                    {{'makepublictooltip' | translate}}
                  </ng-template>
                  <button class="btn125 accept_icon btn125 mx-auto my-2 my-sm-0 " (click)="makeaspublic()">
                    {{ "makeitpublic" | translate }}
                  </button>
                </p>
              </div>
            </div>
  
  


        </span>
      </div>

    </div>
  </div>
</div>