<div *ngIf="employerJob" class="mt-2 card bx_shadow" style="min-height: auto">
  <div class="card-body" style="height: auto">
    <div class="row  blog">
      <div class="col-md-12 my-2">
        <h6 class="yellow_bg_text  text-center p-2" style="text-align: left;"> {{'related_jobs'
          | translate}} </h6>
      </div>


      <div class="col-md-12 slider_ctroller_hover">


        <div id="blogCarousel" class="carousel slide" data-ride="carousel">


          <div class="carousel-inner">


            <div *ngFor="let val of employerJob ; let i=index" [class]="i==0 ? 'carousel-item active' : 'carousel-item '">
              <!-- *ngIf="val.employerName!=='null'" -->
              <div class="row">
                <div class="col-md-12" style="min-height: 220px;">
                  <div (click)="viewJobList(val)" class="card pointer">
                    <div class="card-body">
                      <div class="text-left fafa_blue">
                        <b class="text_blue text-left">{{val.jobTitle.length>20 ? val.jobTitle.slice(0,20)+'..' :
                          val.jobTitle | titlecase }}</b><br>
                        <!-- <div class="row">
                          <div class="col-md-3 col-3 pr-0 ">
                            <i class="fa fa-suitcase text_blue mx-auto d-block" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-9 col-9 pl-0">
                            {{val.noOfVacancy?val.noOfVacancy:1}}&nbsp;{{'vacancies' | translate}}
                          </div>
                        </div> -->
                        <div class="row">
                          <div class="col-md-3 col-3 pr-0">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-9 col-9 pl-0">
                            <!-- {{service.dateWithoutTime(val.fromDate) }} -->
                            <!-- {{service.formatTimezone(val.fromDate) }} -->
                            <p>{{val.fromDate | date : 'dd MMM yyyy'}}</p>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-3 pr-0">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-9 col-9 pl-0">
                            <p>  {{val.jobPostType | translate | titlecase}}</p>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-3 pr-0">
                                <i class="fa fa-industry " aria-hidden="true"></i>
                            </div>
                            <div class="col-md-9 col-9 pl-0">
                              <p>{{val.category | titlecase}} </p>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3 col-3 pr-0">
                                  <i class="fa fa-tasks" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-9 col-9 pl-0">
                               <p> {{val.subCategory | titlecase}}</p>
                              </div>
                            </div>
                        <div class="row">
                          <div class="col-md-3 col-3 pr-0">
                            <i class="fa fa-money" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-9 col-9 pl-0">
                            <span *ngIf="val.wageMode=='fixed'">
                              <p>{{returnFloat(val.fixedWage)| number : '1.2-2'}}&nbsp;{{val.currency}}</p>
                            </span>
                            <span *ngIf="val.wageMode=='hourly'">
                                <p>{{returnFloat(val.hourlyWages) | number : '1.2-2'}}&nbsp;{{val.currency+' / '}} {{'hr' | translate }}</p>
                              </span>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>




              <!--.item-->



            </div>



          </div>
          <a class="carousel-control-prev" data-target="#blogCarousel" role="button" data-slide="prev">
            <span aria-hidden="true"> <i class="fa fa-chevron-left txt_ash_small " aria-hidden="true"></i> </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" data-target="#blogCarousel" role="button" data-slide="next">
            <span aria-hidden="true"> <i class="fa fa-chevron-right txt_ash_small" aria-hidden="true"></i> </span>
            <span class="sr-only">Next</span>
          </a>


        </div>
      </div>
    </div>

  </div>