.carousel-control-next, .carousel-control-prev {
  
    opacity: .1;
}
.carousel-control-next:hover {
  
    opacity: 1 !important;
}
.carousel-control-prev:hover {
  
    opacity: 1 !important;
}
.carousel-control-next, .carousel-control-prev {
    
    /* width: 50% !important; */
   
}

.slider_ctroller_hover:hover .carousel-control-prev {
    opacity: 1 !important;
}
.slider_ctroller_hover:hover .carousel-control-next {
    opacity: 1 !important;
}