<a
  href="javascript:void(0)"
  class="closebtn"
  style="font-size: 1rem !important;"
  onclick="closeNav()"
>
  <i class="fa fa-times" aria-hidden="true"></i>
</a>

<!-- mobilesidemenu -->
<div *ngIf="service.employer_login" class="w-250px">
  <img
    src="{{ service.prfImg }}"
    class=" rounded-circle   img_top_propic_sidebar"
  />

  <p class="text-center text-white my-2">
    <li class="dropdown" style="list-style: none;">
      <p
        href=""
        class="icon_top_menu"
        id="about-pofile"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <b>{{ service.userName }}</b> &nbsp;
        <i class="fa fa-sort-desc" aria-hidden="true"></i>

        <!-- {{service.userName}} -->
      </p>

      <div
        class="dropdown-menu propic_bkg"
        onclick="closeNav()"
        style="margin-top: 0.7rem;
            margin-top: 0.7rem;
position: absolute;
will-change: transform;
width: 100%;
overflow: hidden;
height: auto;
transition-delay: 5e+06s;
top: 0px;
left: 0px;
transform: translate3d(-5px, 33px, 0px);background-color: #001c4e;"
        aria-labelledby="about-pofile"
      >
        <a
          *ngIf="service.showMenu"
          class="dropdown-item"
          routerLink="/companyprofile"
          >{{ "my_profile" | translate }}</a
        >

        <a
          *ngIf="service.showMenu"
          class="dropdown-item"
          routerLink="/how_it_work"
          >{{ "howitwork" | translate }}&nbsp;?</a
        >

        <a
          *ngIf="service.showMenu"
          class="dropdown-item"
          routerLink="user_settings"
          >{{ "setting" | translate }}</a
        >

        <span class="dropdown-item logout pointer" (click)="logout()">{{
          "logout" | translate
        }}</span>
      </div>
    </li>
  </p>

  <p class="text-center text-white my-2">
    <span class="dropdown-item logout pointer" (click)="logout()">{{
      "logout" | translate
    }}</span>
  </p>

  <hr class="bg-white" />

  <ul
    class="social"
    style="text-align-last: center;   padding-left: 0px;"
    onclick="closeNav()"
  >
    <li class="d-inline circledarkblue">
      <p class="icon_top_menu mx-2 " routerLink="faqs">
        <i class="fa fa-question" aria-hidden="true"></i>
      </p>
    </li>

    <li class="d-inline circledarkblue">
      <p class="icon_top_menu mx-2" routerLink="user_notifications">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
      </p>
    </li>

    <li class="d-inline circledarkblue">
      <p class="icon_top_menu mx-2" routerLink="employee_message">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
      </p>
    </li>
  </ul>
</div>
<!-- employeemobilemenu -->
<div *ngIf="service.employee_login" class="w-250px" >
  <img
    src="{{ service.prfImg }}"
    class=" rounded-circle img_top_propic_sidebar"
  />

  <p class="text-center text-white my-2">
    <li class="dropdown" style="list-style: none;">
      <p
        href=""
        class="icon_top_menu"
        id="about-pofile"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <b>{{ service.userName }}</b> &nbsp;
        <i class="fa fa-sort-desc" aria-hidden="true"></i>

        <!-- {{service.userName}} -->
      </p>

      <div
      onclick="closeNav()"
        class="dropdown-menu propic_bkg"
        style="margin-top: 0.7rem;
              margin-top: 0.7rem;
  position: absolute;
  will-change: transform;
  width: 100%;
  overflow: hidden;
  height: auto;
  transition-delay: 5e+06s;
  top: 0px;
  left: 0px;
  transform: translate3d(-5px, 33px, 0px);background-color: #001c4e;"
        aria-labelledby="about-pofile"
      >
      <a
      *ngIf="service.showMenu "
      class="dropdown-item"
      routerLink="/employee-edit"
      >{{ "my_profile" | translate }}</a
    >

       

        <a
          *ngIf="service.showMenu"
          class="dropdown-item"
          routerLink="user_settings"
          >{{ "setting" | translate }}</a
        >

        <span class="dropdown-item logout pointer" (click)="logout()">{{
          "logout" | translate
        }}</span>
      </div>
    </li>
  </p>

  <p class="text-center text-white my-2">
    <span class="dropdown-item logout pointer" (click)="logout()">{{
      "logout" | translate
    }}</span>
  </p>

  <hr class="bg-white" />

  <ul class="social" style="text-align-last: center;   padding-left: 0px;">
    <li class="d-inline circledarkblue">
      <p class="icon_top_menu mx-2 " routerLink="faqs">
        <i class="fa fa-question" aria-hidden="true"></i>
      </p>
    </li>

    <li class="d-inline circledarkblue">
      <p class="icon_top_menu mx-2" routerLink="user_notifications">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
      </p>
    </li>

    <li class="d-inline circledarkblue">
      <p class="icon_top_menu mx-2" routerLink="employee_message">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
      </p>
    </li>
  </ul>
</div>
<!-- service.noLoginsidemenu -->
<div *ngIf="service.noLogin" class="w-250px" onclick="closeNav()">
  <img
    src="{{service.WebLogoUrl}}"
    class="mx-auto "
    style="width: 80%; margin-left: 10% !important;"
  />

  <hr class="bg-white" />

  <p class="text-white">
    <a routerLink="/home">{{ "home" | translate }}</a>
  </p>
  <p class="text-white">
    <a routerLink="/how_it_work">{{ "howitwork" | translate }}&nbsp;?</a>
  </p>
  <p class="text-white">
    <a routerLink="/login">{{ "login" | translate }}</a>
  </p>
  <p class="text-white">
    <a routerLink="/signup">{{ "sign_up" | translate }}</a>
  </p>
  <p class="text-white"></p>
  <p *ngIf="service.showMenu" class="text-white">
    <a routerLink="/contact_us">{{ "contactus" | translate }}</a>
  </p>
</div>
<!-- endsidebarnav -->

<hr class="bg-white" />

<ul *ngIf="service.noLogin" onclick="closeNav()" class="navbar-nav ml-3">
  <li
    *ngFor="let commonHeaders of commonHeaders; let i = index"
    class="nav-item"
    style="justify-content: left;"
  >
    <a
      class="nav-link"
      routerLink=""
      data-toggle="modal"
      data-target="#Modalsearchcategorymenu"
      >{{ commonHeaders }}</a
    >
  </li>

  <li class="d-block d-sm-block d-md-none nav-item">
    <!-- <a class="nav-link" href="index.html">Marketing </a> -->

    <a
      class="nav-link text-white"
      data-toggle="modal"
      data-target="#exampleModalLong"
    >
      {{ "all_categories" | translate }}</a
    >
  </li>
</ul>

<ul *ngIf="service.employer_login" class="navbar-nav ml-3" onclick="closeNav()">
  <li class="nav-item" style="justify-content: left !important;">
    <a class="nav-link" *ngIf="service.showMenu" routerLink="employer_home">{{
      "home" | translate
    }}</a>
  </li>

  <li
    class="nav-item"
    style="justify-content: left !important;"
    data-toggle="modal"
    data-target="#Modaladdjob"
  >
    <a class="nav-link" *ngIf="service.showMenu" routerLink="">{{
      "postjob" | translate
    }}</a>
  </li>

  <li class="nav-item" style="justify-content: left !important;">
    <a class="nav-link" routerLink="my_jobs">{{ "my_jobs" | translate }}</a>
  </li>
  <li class="nav-item" style="justify-content: left !important;">
    <a class="nav-link" routerLink="/employer_contracts">{{
      "ongoingjobs" | translate
    }}</a>
  </li>

  <li class="nav-item" style="justify-content: left !important;">
    <a *ngIf="service.showMenu" class="nav-link" routerLink="faqs">
      {{ "faqs" | translate }}
    </a>
  </li>
  <li class="nav-item" style="justify-content: left !important;">
    <a *ngIf="service.showMenu" class="nav-link" routerLink="disputes">
      {{ "disputes" | translate }}
    </a>
  </li>

  <li class="nav-item" style="justify-content: left !important;">
    <a
      style="justify-content: left !important;"
      class="nav-link"
      *ngIf="service.showMenu"
      routerLink="contact_us"
    >
      {{ "contactus" | translate }}
    </a>
  </li>

  <li
    class="d-block d-sm-block d-md-none nav-item"
    style="justify-content: left !important;"
  >
    <!-- <a class="nav-link" href="index.html">Marketing </a> -->

    <a
      class="nav-link text-white"
      data-toggle="modal"
      data-target="#exampleModalLong"
    >
      {{ "all_categories" | translate }}</a
    >
  </li>
</ul>

<ul *ngIf="service.employee_login" class="navbar-nav ml-3" onclick="closeNav()">
  <li class="nav-item" style="justify-content: left !important;">
    <a class="nav-link" *ngIf="service.showMenu" routerLink="employee_home">{{
      "home" | translate
    }}</a>
  </li>

  <li class="nav-item" style="justify-content: left !important;">
    <a class="nav-link" *ngIf="service.showMenu" routerLink="employee_joblist">
      {{ "part_time _list" | translate }}
    </a>
  </li>

  <li class="nav-item" style="justify-content: left !important;">
    <a class="nav-link" *ngIf="service.showMenu" routerLink="employee_view_map">
      {{ "part_time_map" | translate }}
    </a>
  </li>
  <li class="nav-item" style="justify-content: left !important;">
    <a class="nav-link" *ngIf="service.showMenu" routerLink="proposals">{{
      "proposals" | translate
    }}</a>
  </li>
  <li class="nav-item" style="justify-content: left !important;">
    <a
      class="nav-link"
      *ngIf="service.showMenu"
      routerLink="../completed_contracts"
      >{{ "contracts" | translate }}</a
    >
  </li>
  <li class="nav-item" style="justify-content: left !important;">
    <a *ngIf="service.showMenu" class="nav-link" routerLink="faqs"> FAQ </a>
  </li>
  <li class="nav-item" style="justify-content: left !important;">
    <a *ngIf="service.showMenu" class="nav-link" routerLink="disputes">
      {{ "disputes" | translate }}
    </a>
  </li>

  <li class="nav-item" style="justify-content: left !important;">
    <a
      style="justify-content: left !important;"
      class="nav-link"
      *ngIf="service.showMenu"
      routerLink="contact_us"
    >
      {{ "contactus" | translate }}
    </a>
  </li>

  <li
    class="d-block d-sm-block d-md-none nav-item"
    style="justify-content: left !important;"
  >
    <a
      class="nav-link text-white"
      data-toggle="modal"
      data-target="#exampleModalLong"
    >
      {{ "all_categories" | translate }}
    </a>
  </li>
</ul>
