
<div
class="modal fade w-100"
id="exampleModal"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div
  class="modal-dialog modal-dialog modal-lg"
  role="document"
>
  <div class="modal-content">
    <div class="modal-header">
      <h5
        class="modal-title text-center"
        id="exampleModalLabel"
      >
        {{'evaluate_employee' | translate }}
      </h5>

      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <p><b>Design and Implement web app development:</b> Timely Administration of Job Tickets to meet Client SLAs - Deliver technical support and advice to clients - Remote and Onsite maintenance and support of client’s network infrastructure.
      </p>

      <div class="container  mt-4">
        <form
          class="form-horizontal py-2"
          role="form"
        >
          <div class="row">
            <div class="col-md-12">
              <div class="card py-4 px-4">
                <div class="row">
                  <div class="col-md-6 field-label-responsive">
                    <label
                      for="password"
                      class="labelrequired"
                    >{{'branch' | translate}}</label>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Branch name"
                          required="required"
                          autofocus="autofocus" disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 field-label-responsive">
                    <label
                      for="password"
                      class="labelrequired"
                    >
                      {{'company_name' | translate}}
                    </label>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Company name"
                          required="required"
                          autofocus="autofocus" disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 field-label-responsive">
                    <label
                      for="password"
                      class="labelrequired"
                    >{{'city' | translate}}</label>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus" disabled
                        >
                          <option>City</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-md-4 field-label-responsive">
                    <label
                      for="neighborhood"
                      class="labelrequired"
                    >{{'neighborhood'| translate}}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>Neighborhood</option>

                          <option>2</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div> -->

                  <!-- <div class="col-md-4 field-label-responsive">
                    <label
                      for="Street"
                      class="labelrequired"
                    >Street</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <select
                          class="form-control"
                          id="em_state"
                          name="em_state"
                          placeholder="State"
                          required="required"
                          autofocus="autofocus"
                        >
                          <option>Street</option>

                          <option>Street</option>

                          <option>3</option>

                          <option>4</option>

                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div> -->

                  <div class="col-md-6 field-label-responsive">
                    <label
                      for="password"
                      class="labelrequired"
                    >Task number</label>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          placeholder="Task number"
                          required="required"
                          autofocus="autofocus" disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 field-label-responsive">
                    <label
                      for="password"
                      class="labelrequired"
                    > Starting date</label>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          type="date"
                          class="form-control"
                          id="exampleInputDOB1"
                          name="dob"
                          placeholder="Date"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 field-label-responsive">
                      <label
                        for="password"
                        class="labelrequired"
                      > Ending date</label>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            type="date"
                            class="form-control"
                            id="exampleInputDOB1"
                            name="dob"
                            placeholder="Date"
                            required="required"
                            autofocus="autofocus"
                          />
                        </div>
                      </div>
                    </div>

                  <div class="col-md-6 field-label-responsive">
                    <label
                      for="password"
                      class="labelrequired"
                    >
                      Is the working period more or less than specified on the site
                    </label>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          value="No"
                        />

                        More
                      </label>

                      <label class="radio-inline">
                        <input type="radio"/>
                        Less
                      </label>
                    </div>
                  </div>

                  <div class="col-md-6 field-label-responsive">
                    <label
                      for="password"
                      class="labelrequired"
                    >
                      Is the type of work as defined on the site or different
                    </label>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="work_type"
                          value="No"
                        />

                        Same
                      </label>

                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="work_type"
                        />

                        Different
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 field-label-responsive">
                      <label
                        for="password"
                        class="labelrequired"
                      >
                        Have you been treated with the human treatment you deserve?
                      </label>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="l_time"
                            value="No"
                          />

                          No
                        </label>

                        <label class="radio-inline">
                          <input
                            type="radio"
                            value="yes"
                            name="l_time"
                          />

                          Yes
                        </label>
                      </div>
                    </div>

                    <div class="col-md-6 field-label-responsive">
                      <label
                        for="password"
                        class="labelrequired"
                      >Have you been fully paid?</label>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="l_time"
                            value="No"
                          />

                          No
                        </label>

                        <label class="radio-inline">
                          <input
                            type="radio"
                            value="yes"
                            name="l_time"
                          />

                          Yes
                        </label>
                      </div>
                    </div>

                    <div class="col-md-6 field-label-responsive">
                      <label
                        for="password"
                        class="labelrequired"
                      >
                        Is the work environment conducive to overtime?
                      </label>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="l_time"
                            value="No"
                          />

                          No
                        </label>

                        <label class="radio-inline">
                          <input
                            type="radio"
                            value="yes"
                            name="l_time"
                          />

                          Yes
                        </label>
                      </div>
                    </div>

                    <div class="col-md-6 field-label-responsive">
                      <label
                        for="password"
                        class="labelrequired"
                      >
                        Is you have the opportunity to work again, will you work with them?
                      </label>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="l_time"
                            value="No"
                          />

                          No
                        </label>

                        <label class="radio-inline">
                          <input
                            type="radio"
                            value="yes"
                            name="l_time"
                          />

                          Yes
                        </label>
                      </div>
                    </div>

                    <div class="col-md-6 field-label-responsive">
                      <label
                        for="password"
                        class="labelrequired"
                      >
                        Do you advise others to work with them?
                      </label>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="radio-inline">
                          <input
                            type="radio"
                            name="l_time"
                            value="No"
                          />

                          No
                        </label>

                        <label class="radio-inline">
                          <input
                            type="radio"
                            value="yes"
                            name="l_time"
                          />

                          Yes
                        </label>
                      </div>
                    </div>

                    <div class="col-md-6 field-label-responsive">
                      <label
                        for="password"
                        class="labelrequired"
                      >
                        How much does thee work site give a score of 10, giving him a score of 1 to 10, 1 for bad and 10 excellent.
                      </label>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <select
                            class="form-control"
                            id="em_state"
                            name="em_state"
                            placeholder="State"
                            required="required"
                            autofocus="autofocus"
                          >
                            <option>1</option>

                            <option>2</option>

                            <option>3</option>

                            <option>4</option>

                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 field-label-responsive">
                      <label
                        for="password"
                        class="labelrequired"
                      >Rate your employer</label>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="star-rating">
                          <span
                            class="fa fa-star-o"
                            data-rating="1"
                          ></span>

                          <span
                            class="fa fa-star-o"
                            data-rating="2"
                          ></span>

                          <span
                            class="fa fa-star-o"
                            data-rating="3"
                          ></span>

                          <span
                            class="fa fa-star-o"
                            data-rating="4"
                          ></span>

                          <span
                            class="fa fa-star-o"
                            data-rating="5"
                          ></span>

                          <input
                            type="hidden"
                            name="whatever1"
                            class="rating-value"
                            value="2.56"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 field-label-responsive">
                      <label for="password">Do you have a comment</label>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <!-- <input
                            type="text"
                            name="name"
                            class="form-control"
                            id="name"
                            placeholder="comment"
                            required="required"
                            autofocus="autofocus"
                          /> -->
                          <textarea
                          name="name"
                            class="form-control"
                            id="name"
                           
                            required="required"
                            autofocus="autofocus"
                          >Do you have a comment
                          </textarea>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2 mx-auto">
                      <div class="ml-auto">
                        <input
                          type="submit"
                          name="submit"
                          class="submit btn_alkafu"
                          value="Submit"
                          onclick="em_signup()"
                        />
                      </div>
                    </div>
                  </div>
              </div>
            </div>

           
          </div>

          <!-- row -->
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container-fluid bg-white">
<!-- iconrow -->

<div class="row">
  <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
    <div class="container mt-4">
      <div class="row">

          <div class="col-md-12 mx-auto mb-2">
              <!-- <h4 class="text-center text_blue pt-2 pb-2"> {{'completed_contracts' | translate }}</h4> -->
              <h4 class="text-center text_blue pt-2 pb-2 text_heading">  {{'contracts' | translate}} </h4>
            </div>

        <div class="col-md-12 mb-4">
          <div class="row bkg_ash ">
            <div class="col-md-12 mx-auto mb-2  ">
                <ul class="nav nav-tabs " role="tablist">
                    <li class="nav-item " (click)="getActiveContracts()" >
                        <a class="nav-link text-dark active" data-toggle="tab" href="#newappsn" role="tab"><h6><b>Active contracts</b></h6></a>
                        <div class=" active-arrow"></div>
                    </li>
                   
                  
                    <li class="nav-item ">
                        <a class="nav-link text-dark " (click)="getCompletedContractsFromApi()" data-toggle="tab" href="#rec" role="tab"><h6><b>Completed contracts</b></h6></a>
                      
                        <div class=""></div>
                      </li>
                  </ul>
            </div>
          </div>
            <div class="row tab-content bkg_ash" style="background-color: #eaeaea;">
            <div class="col-md-12 tab-pane py-2 active"   id="newappsn" role="tabpanel">
             <div *ngFor="let val of activeContract " >

              
              <div class="row">
                <div class="col-md-11 col-11 mx-auto imgsmicon  my-2">
                    <div class="">
                      <div class="cards py-2">
                        <a >
                          <div class="row">
                            <div class="col-md-2 col-11">
                              <div class="row">
                                <div class="col-md-12">
                                  <img *ngIf="!val.employerDetails.employerProfileImage"
                                  src="{{componyLogo}}"
                                    class="img-fluid60"
                                  >
                                  <img *ngIf="val.employerDetails.employerProfileImage"
                                src="{{service.url}}/download/profile.json?fileID={{val.employerDetails.employerProfileImage}}&token={{service.getStorage('token')}}"
                                class="img-fluid60"
                              >
                                </div>
      
                                <div class="col-md-12 text-center">
                                  <!-- <p class="mt-3 text-center">Rating</p> -->
                                  <button (click)="startTimecontract()"
                                 
                                  class="btn btn_alkafu  my-2"
                                  
                                   > <i class="fa fa-play-circle" aria-hidden="true"></i> Start
                                  </button>
                                  
                                  <br>
                                </div>
                              </div>
                            </div>
      
                            <div class="col-md-9 col-11 text-left mt-2">
                              <div class="row">
                                <div class="col-md-12">
                               
                                    <u>
                                      <b>
                                        <h5 class="text_blue">  {{service.transform(val.employerDetails.employerName)}}</h5>
                                      </b>
                                    </u>
                                      
                          
                                </div>
      
                                <div class="col-md-6">
                                  <p class="mt-0  text-center">Job Title</p>
      
                                  <p class="mt-0 text-center">
                                    <span class=""> {{service.transform(val.jobDetails.jobTitle)}}</span>
                                  </p>
                                </div>
      
                                <div class="col-md-3">
                                  <p class="mt-0  text-center">Starting date</p>
      
                                  <p class="mt-0 text-center">
                                    <small>{{val.jobDetails.fromDate.split('.')[0] | date : 'dd MMM yyyy'}}</small>
                                  </p>
                                </div>
      
                                <div class="col-md-3">
                                  <p class="mt-0  text-center">Ending date</p>
      
                                  <p class="mt-0 text-center">
                                    <small>{{endDateCalculate(val.jobDetails.fromDate,val.jobDetails.noOfDays) | date : 'dd MMM yyyy'}}</small>
                                  </p>
                                </div>
      
                              
                              </div>
      
                              <hr>
      
                              <div class="row">
                                <div class="col-md-4">
                                  <p class="mt-0  text-center">Task number</p>
      
                                  <p class="mt-0 text-center">
                                    <small>0123574</small>
                                  </p>
                                </div>
      
                                <div class="col-md-4">
                                  <p class="mt-0  text-center">Money earned</p>
      
                                  <p class="mt-0 text-center">
                                    <small>1000 {{'defaultcurrency' | translate}}</small>
                                  </p>
                                </div>
      
                                <div class="col-md-4">
                                  <p class="mt-0  text-center">Time </p>
      
                                  <p class="mt-0 text-center">
                                    00:00:00
                                    <!-- <cd-timer format="hms"  [startTime]="00" [endTime]="00"> 00:00:00 </cd-timer> -->
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
             </div>
            
             </div>
    
            </div>

            <div class="col-md-12 tab-pane  py-2 "   id="rec" role="tabpanel">
                <div *ngFor="let val of completedContracts " >
                    <div class="row">
                      <div class="col-md-11 col-11 mx-auto imgsmicon  my-2">
                          <div class="">
                            <div class="cards py-2">
                              <a >
                                <div class="row">
                                  <div class="col-md-2 col-11">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <img *ngIf="!val.employerDetails.employerProfileImage"
                                        src="{{componyLogo}}"
                                          class="img-fluid60"
                                        >
                                        <img *ngIf="val.employerDetails.employerProfileImage"
                                      src="{{service.url}}/download/profile.json?fileID={{val.employerDetails.employerProfileImage}}&token={{service.getStorage('token')}}"
                                      class="img-fluid60"
                                    >
                                      </div>
            
                                      <div class="col-md-12 text-center">
                                        <!-- <p class="mt-3 text-center">Rating</p> -->
                                        <button
                                        class="btn btn_alkafu  my-2"
                                        data-toggle="modal"
                                        data-target="#exampleModal"
                                      >Evaluate</button>
                                        
                                        <br>
                                      </div>
                                    </div>
                                  </div>
            
                                  <div class="col-md-9 col-11 text-left mt-2">
                                    <div class="row">
                                      <div class="col-md-12">
                                     
                                          <u>
                                            <b>
                                              <h5 class="text_blue">  {{service.transform(val.employerDetails.employerName)}}</h5>
                                            </b>
                                          </u>
                                            
                                
                                      </div>
            
                                      <div class="col-md-6">
                                        <p class="mt-0  text-center">Job Title</p>
            
                                        <p class="mt-0 text-center">
                                          <span class=""> {{service.transform(val.jobDetails.jobTitle)}}</span>
                                        </p>
                                      </div>
            
                                      <div class="col-md-3">
                                        <p class="mt-0  text-center">Starting date</p>
            
                                        <p class="mt-0 text-center">
                                          <small>{{val.jobDetails.fromDate.split('.')[0] | date : 'dd MMM yyyy'}}</small>
                                        </p>
                                      </div>
            
                                      <div class="col-md-3">
                                        <p class="mt-0  text-center">Ending date</p>
            
                                        <p class="mt-0 text-center">
                                          <small>{{endDateCalculate(val.jobDetails.fromDate,val.jobDetails.noOfDays) | date : 'dd MMM yyyy'}}</small>
                                        </p>
                                      </div>
            
                                    
                                    </div>
            
                                    <hr>
            
                                    <div class="row">
                                      <div class="col-md-4">
                                        <p class="mt-0  text-center">Task number</p>
            
                                        <p class="mt-0 text-center">
                                          <small>0123574</small>
                                        </p>
                                      </div>
            
                                      <div class="col-md-4">
                                        <p class="mt-0  text-center">Money earned</p>
            
                                        <p class="mt-0 text-center">
                                          <small>1000 {{'defaultcurrency' | translate}}</small>
                                        </p>
                                      </div>
            
                                      <div class="col-md-4">
                                        <p class="mt-0  text-center">Time </p>
            
                                        <p class="mt-0 text-center">
                                          00:00:00
                                          <!-- <cd-timer format="hms"  [startTime]="00" [endTime]="00"> 00:00:00 </cd-timer> -->
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                   </div>
                  
                   </div>
        
              </div>
        
            </div>

       
        </div>

        <!-- </div>
                              <div class="row"> -->
      </div>

      <!-- row -->
    </div>

  
  </div>

  <!-- end iconrow -->
</div>
</div>
