<div class="row  mx-auto">
  <div class="col-md-6 mb-5 pb-5 mx-auto ">
    <div class="card mx-auto  bx_shadow  mt-5 mb-5" style="width: 100%;">
      <img class="card-img-top mt-4 mx-auto" src="assets/images/smartphoneotp.png" alt="Card image cap" style="width: 20%;">
      <div class="card-body mx-auto text-justify">
      
        <div  class="row">

         

          <div class="col-md-10 mx-auto pb-2 text-center">
              <p *ngIf='!otp_valid' class="labelrequired text-center" for="password">{{'enter_otp' | translate }}</p>
            <div *ngIf='!otp_valid' class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon"></div>

                <input maxlength="5" (keydown)="service.validateInputKey($event)" autocomplete="off" type="text"
                  [(ngModel)]="otp" maxlength="" name="name" class="form-control" id="otp" placeholder="{{'enter_otp' | translate }}"
                  required="required" autofocus="autofocus" />



              </div>
              <span class="help-block danger" *ngIf="!otp && this.bottonClick==1">{{validationMsg.required}}</span>

            </div>
            <div class="row">
              <div class="col-md-5 col-sm-6 col-12">
                <button *ngIf='!otp_valid' type="button" (click)="verifyOtp()" class=" btn_alkafu mb-2"><small>{{'verify'|
                    translate}}</small></button>

              </div>
              <div class="col-md-5 col-sm-6 col-12">
                <label *ngIf='!otp_valid && resendtimeleft!=0 && service.getStorage("resendOtpFlag")!="true"' class="disabled accept_icon mb-2 text-center">
                  {{'r_sendx'|
                  translate : {x: '('+resendtimeleft+')' } }}  
                </label>
                <button *ngIf='!otp_valid && resendtimeleft==0 && service.getStorage("resendOtpFlag")!="true"' type="button"
                  (click)="sendSms()" class="accept_icon mb-2">
                  <small>{{'r_send'|
                    translate}}</small>
                </button>
                <button *ngIf='!otp_valid && callOtp==0  && service.getStorage("resendOtpFlag")=="true" && service.getStorage("callOtpFlag")!="true"' type="button"
                  (click)="callSmsOtp()" class="accept_icon mb-2">
                  <small>{{'callotp'|
                    translate}}</small>
                </button>
                <label *ngIf='!otp_valid && resendtimeleft==0 && callOtp!=0 && service.getStorage("callOtpFlag")!="true"' class="disabled accept_icon mb-2 text-center">
                  {{'callotpx'|
                  translate: {x: callOtp} }}  
                </label>
                <label *ngIf='!otp_valid && callOtp==0 && showMessage!=0 && service.getStorage("callOtpFlag")=="true"' class="disabled accept_icon mb-2 text-center">
                    ( {{showMessage}})
                  </label>
              </div>
            </div>



          </div>
         
          <div class="col-md-10 mx-auto pb-2 text-center">
            <div *ngIf='otp_valid && service.getRegisterLevel()!="0"' class="alert alert-success" role="alert">
              <small> {{'no_verified' | translate }} &nbsp;(<i class="fa fa-check text-success " aria-hidden="true"></i>)</small>
            </div>

            <div *ngIf='smsOtpMsg && !otp_valid' class="alert alert-primary" role="alert">
              <small > {{ this.smsOtpMsg}}</small>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>