<div class="msg_container_base">


  <div class="msg_container_base">


    <div class="row">
      <div class="col-md-8 my-auto">

        <h6> <b>Search Group & Join</b> </h6>

      </div>
      <div class="col-md-4 ml-auto">

        <button (click)="service.groupActiveTab=5" class="btn_alkafu float-right mt-1" style="min-width: 75px !important;">
          <i class="fa fa-plus" aria-hidden="true"></i> {{'create' | translate}} </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="search-container w-100 ml-auto">

          <input type="text" autocomplete="off" [(ngModel)]="groupName" placeholder="{{'search' | translate}} " name="search"
            style="width: 86%;">
          <button (click)="searchGroup()" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div style="background: #e5e5e5">
      <img *ngIf="loader" src="assets/images/loader.gif" alt="">
    </div>
    <div *ngFor="let val of groupList">
      <!----Group Status notJoined------>
      <div *ngIf="val.chatStatus=='notJoined'" [class]="'pointer card  grp_chat_card my-1'">
        <div (click)="tempGroupId=val.groupId;tempGroupName=val.groupName;tempGroupDescription=val.groupDescription"
          [swal]="joingroup" class="card-body ">
          <div class="row">
            <div class="col-md-10">
              <h6 class="card-title">{{val.groupName.length > 15 ?val.groupName.slice(0,15)+'...' :val.groupName }}
              </h6>
              <small>
                <p class="card-text"> {{service.convertDateToGmt(val.createdTime)}} </p>
              </small>
            </div>
            <div class="col-md-2">
              <i *ngIf="val.chatStatus=='notJoined'" class="fa fa-plus-circle text_blue" aria-hidden="true"></i>

            </div>
          </div>
        </div>
      </div>

      <!-------Group status Pending------>
      <div *ngIf="val.chatStatus!='notJoined'" [class]="'card  grp_chat_card my-1'">
        <div (click)="tempGroupId=val.groupId;tempGroupName=val.groupName;tempGroupDescription=val.groupDescription"
          class="card-body ">
          <div class="row">
            <div class="col-md-10">
              <h6 class="card-title">{{val.groupName.length > 15 ?val.groupName.slice(0,15)+'...' :val.groupName }}
              </h6>
              <small>
                <p class="card-text"> {{service.convertDateToGmt(val.createdTime)}} </p>
              </small>
            </div>
            <div class="col-md-2">
              <i *ngIf="val.chatStatus=='pending'" class="fa fa-ban" aria-hidden="true"></i>
              <i *ngIf="val.chatStatus=='joined' || val.chatStatus=='approved'" class="fa fa-check" aria-hidden="true"></i>

            </div>
          </div>
        </div>
      </div>

    </div>



  </div>
  <swal #joingroup [title]="'areyousure' | translate" type="question" [showCancelButton]="true" [focusCancel]="true"
    (confirm)="joinGroup()">
  </swal>
  <!-- <div class="card pointer grp_chat_card my-1 ">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-10">
            <h6 class="card-title">Kochi, Kerala </h6>
            <small>
              <p class="card-text"> 10 Participants </p>
            </small>
          </div>
          <div class="col-md-2">
            <i class="fa fa-check text-success" aria-hidden="true"></i>

          </div>
        </div>
      </div>
    </div>
    <div class="card pointer grp_chat_card my-1 ">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-10">
            <h6 class="card-title">Kochi, Kerala </h6>
            <small>
              <p class="card-text"> 10 Participants </p>
            </small>
          </div>
          <div class="col-md-2">
            <i class="fa fa-ban text-danger" aria-hidden="true"></i>

          </div>
        </div>
      </div>
    </div> -->