.settingnav > .nav-link {
    color: #000 !important;
    width: 100% !important;
}
.settingnav > .nav-link.active {
    color: #002d68 !important;
    /* background-color: #f1f3f6  !important; */
    /* border:none !important; */
    border-bottom: 5px solid #002d68 !important;
}
.tab-content {
 background-color: #f1f3f6 !important;
}
settingnav{
    width: 100% !important;
}
.nav-tabs {}
	.vertical {
		border-bottom: none;
		border-right: 1px solid #000;
		/* display: flex;
		flex-flow: column nowrap; */
	}
	
	.left {
		margin: 0 15px;
    }
		.nav-item + .nav-item {
			margin-top: .25rem;
		}
		
		.nav-link {
			transition: border-color .125s ease-in;
			white-space: nowrap;
        }
		.nav-link:hover {
				background-color: lighten(#ddd, 10%);
				border-color: transparent;
			}
	
		
		.nav-link.active {
			border-bottom-color: #ddd;
			border-right-color:#fff;
			border-bottom-left-radius: 0.25rem;
			border-top-right-radius: 0;
			margin-right: 0.25rem;
        }
			.nav-link.active:hover {
				background-color: #fff;
				border-color: #0275d8 #fff #0275d8 #0275d8;
			}

			/* HIDE RADIO */
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
	cursor: pointer;
	padding: 15px;
	width: 70%;
	margin: auto;
	
	}
	[type=radio] + .imgicon {
		cursor: pointer;
		padding: 15px;
		margin: auto;
		
		}
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
	outline: 2px solid #002d68;
	/* background-color: #2ae4f2; */
	}
	/* CHECKED STYLES */
  [type=radio]:checked + .imgicon {
		outline: 2px solid #002d68;
	
		}
		.img-fluid-70{
			width: 70%;
			border-radius: 50%;
    background-color: #3c71b5;
		}
	

