<div class="container-fluid">
    <div class="row">
      <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
        <div class="container mt-4">
          <div class="row bg-white">
            <div class="col-md-12 mb-4">
              <div class="row">
               
  
                <div class="col-md-11 col-10 mx-auto shadow  my-1">
                  <div class="">
                    <div class="cards py-2">
                     
  
                      <div class="row tab-content mt-5 mb-4">
                        <div
                          class="col-md-12 tab-pane bg-white active"
                       
                          role="tabpanel"
                        >
                          <h5 class="text_heading text-center">  {{'cookies' | translate}} </h5>
                          <hr>

                       
                            <div class="p-1 " *ngIf="service.getStorage('language') == 'en'" >
                           
                                A cookie is a small set of data that the site places on your mobile device and computer
                                Why do sites use cookies?
                                It is also known that our sites use web pages so we use cookies to identify your browser on other pages of the site and the cookies mainly have no memory.
                                If you browse from one page to another within the website, the cookies are also used to save your options such as your language and the currency you want to use.
                                Not all cookies work the same way because there are many types of cookies and a variety of ways to use them. Cookies can be categorized by function, age and who posted them on the website.
                                We use our technical, functional, business and analytical cookie types.
                                You can remove all cookies from your browser at any timeClick hereand if you want to manage your cookies settings Click here.
                                To be aware, as we share your personal information with you as mentioned above, we provide our trusted advertising companies with these links for analytical purposes.
                                Security: We are very concerned about the security of your personal data. Therefore, according to the data protection laws, we have developed electronic procedures to prevent unauthorized access to your personal data, as permitted by our electronic capabilities.Your credit card details - when needed as part of the booking process - are stored on our way for ten days thereafter either permanently deleted from our systems or kept fragmented in our system for fraud detection purposes on our system. 
                                Store credit card details on your account on our website, where details will be stored without the last four digits on your card).
                            </div>

                            <div class="p-1 " *ngIf="service.getStorage('language') == 'ar'" >
                           
                               
ملفتعريفالإرتباطهوعبارةعنمجموعةصغيرةمنالبياناتوالتييقومالموقعبوضعهاعلىجهاز المحمولوالكمبيوترالخاصبك.
لماذاتقومالمواقعبإستخدامملفاتتعريفالإرتباط ؟
كما هو معلوم أن مواقعنا تستخدم صفحاتالانترنت لذا فإننا نستخدم ملفات تعريف الارتباط ليمكن التعرف على متصفحك في الصفحات الأخرى في الموقع كما أن ملفات تعريف الارتباط بشكل رئيسي لاتملكذاكرة. إذاكنتتتصفحمنصفحةلأخرىضمنالموقعالإلكتروني، كذلك فإن ملفاتتعريفالإرتباطتستخدم لحفظالخياراتالتيقمتبهامثل لغتكوالعملةالتيتريدإستخدامها.
ولاتقومجميعملفاتتعريفالإرتباطبنفسالعمل إذ أن هناكأنواععديدةلملفاتتعريفالإرتباطوطرقمتنوعةلإستخدامها. حيث أنهيمكنتصنيفملفاتتعريفالإرتباطبحسبوظيفتهاوعمرهاوبحسبمنقامبوضعهاعلىالموقعالإلكتروني.
نحن نستخدم في موقعنا أنواع ملفاتتعريفالإرتباطالتقنية والوظيفية والتجارية والتحليلية.
يمكنكإزالةجميعملفاتتعريفالإرتباطمنمتصفحكفيأيوقتشئت اضغط هناوإذا أردت أنتديراعداداتملفاتتعريفالإرتباطالخاصةبكاضغط هنا. 
وللعلم فإننا كما نتبادل بمعلوماتك الشخصية المسجلة لدينا  كما ذكر سابقاً فإننا نزود شركات الإعلانات الموثوقة لدينا بهذه الارتباطات لأغراض تحليلية .
الأمان:يهمنا جدا أمان بياناتك الشخصية لذا فإنه طبقاً لقوانين حماية البيانات فقد قمنا بوضع إجراءات إلكترونية تمنع الوصول غير المصرح له إلى بياناتك الشخصية بما تسمح به قدراتنا الألكترونية.
( بياناتالبطاقةالإئتمانيةالخاصةبك - عندالحاجةإليهاكجزءمنعمليةالحجز - تخزنعنطريقنالمدةعشرةأيامبعدذلكفإماأنيتمحذفهابشكلدائممنانظمتناأوأنتبقىمجزأةفينظامنالأغراضالتحريعنعملياتالإحتيالعلىنظامنا. هذامالمتقمباختيارتخزينتفاصيلالبطاقةالإئتمانيةعلىحسابكالخاصبكعلىموقعناحيثستخزنالتفاصيلبدونآخرأربعةارقامفيبطاقتك) .

                            </div>

                     
                          
                        </div>
  
                      </div>
                    </div>



                  </div>
                </div>




              </div>
            </div>



            
  
            <!-- </div>
                                  <div class="row"> -->
          </div>
  
          <!-- row -->
        </div>
  
        <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                     </div> -->
      </div>
  
      <!-- end iconrow -->
    </div>
  </div>
  