<ng-progress direction=ltr speed=200 trickleSpeed=500 debounceTime=1 meteor=true spinner=true spinnerPosition=right
  thick=true fixed=false min=0 max=10 ease=linear color=red></ng-progress>
  <ng-snotify></ng-snotify>
<div class="modal fade" id="Modaladdjob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bkg_ash">
      <div class="modal-header bkgdarkblue text-left">
        <span class="modal-title text-white" id="exampleModalLabel"> {{'postjobs' | translate}} </span>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body p-4">
        <div class="row">
          <div class="col-md-12">
            <p>
              <b>
                {{'announce_for_new_part_time_workers' | translate}}
              </b>
            </p>
          </div>
          <div class="col-md-6 mx-auto">
            <div class="imgicon1 min_height_300">
              <div class="cards p-2">
                <a routerLink="/job_post/nonurgentrequest" data-dismiss="modal">
                  <div class="cards py-2">
                    <img src="assets/images/ousern.png" class="img-fluid50">

                    <p>
                      <br>

                      <b class="text-dark ">
                        <span> {{'non_urgent' | translate }} </span>
                      </b>
                    </p>
                    <p class="text-left" style="font-size: 12px;color: grey;">
                     {{'regularjobdesc' | translate}}
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-6 mx-auto">
            <div class="imgicon1 min_height_300">
              <div class="cards p-2">
                <a routerLink="/job_post/urgentrequests" data-dismiss="modal">
                  <div class="cards py-2">
                    <img src="assets/images/ourgent.png" class="img-fluid50">

                    <p class="mb-3">
                      <br>

                      <b class="text-dark">
                        <span> {{'urgent' | translate}}
                        </span>

                      </b>
                    </p>
                    <p class="text-left" style="font-size: 12px;color: grey;">
                      {{'urgentjobdesc' | translate}}
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="Modalsearchcategorymenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue text-left  ">
        <span class="modal-title text-white" id="exampleModalLabel"> <b>{{'are_u_want_find_employee_jobs' |
            translate}}</b> </span>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>



      <div class="modal-body p-5 bkg_ash">
        <div class="row ">

          <div class="col-md-5 mx-auto">
            <div class="imgicon1 b_shadow ">
              <div class="cards py-2 ">
                <a routerLink="/search_all_person" data-dismiss="modal">
                  <div class="cards py-2">
                    <img src="assets/images/omuser1.png" class="img-fluid50">
                    <p>

                      <br>

                      <b class="text-dark">{{'find_employee' | translate}}</b>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-5 mx-auto ">
            <div class="imgicon1 b_shadow ">
              <div class="cards py-2 ">
                <a routerLink="employee_joblist" data-dismiss="modal">
                  <div class="cards py-2">
                    <img src="assets/images/ourgent.png" class="img-fluid50">
                    <p>
                      <br>
                      <b class="text-dark">{{'find_jobs' | translate}}</b>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>





<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{'all_categories' | translate}}
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <ul class="">
          <div class="row  dropdown-menu-width mx-auto">
            <div class="col-md-3" *ngFor="let val of category ; let i = index">
              <ul class="multi-column-dropdown">
                <li>


                  <div id="accordion-copy" role="tablist" aria-multiselectable="true">
                    <div class="">
                      <div role="tab" id="headingOne-copy{{i}}">
                        <h5 class="mb-2">
                          <a class="text-muted" data-toggle="collapse" data-parent="#accordion-copy" href="#collapseOne-copy{{i}}"
                            aria-expanded="false" 
                            (click)="service.searchCatId=category[categoryIndex(i)].id;
                            service.pushCategoryFilter(category[categoryIndex(i)].name,category[categoryIndex(i)].id);;">
                            {{category[i].name}}
                          </a>
                        </h5>
                      </div>

                      <div *ngIf="isSub(category[i].subCategories)" id="collapseOne-copy{{i}}" class="collapse in" role="tabpanel"
                        aria-labelledby="headingOne-copy">
                        <ul class="multi-column-dropdown_sub">
                          <li *ngFor="let sub of category[i].subCategories;let j = index">
                            <a class="dropdown-item" routerLink="#" (click)="service.searchSubId=sub.id;service.pushSubCategoryFilter(sub.name,sub.id,category[i].id);
                            "
                              data-toggle="modal" data-target="#Modalsearchcategorymenu">{{sub.name}} </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="fixed-top  bkgdarkblue font07">
  <div class="logodivmain ml-4 mr-4">
    <div class="row">
      <div class="col-md-2 col-sm-2  d-none d-sm-none d-md-block mr-auto">
        <a class="navbar-brand" routerLink="/home">
          <img src="{{service.WebLogoUrl}}" class="img-fluid logocss ">

        </a>
      </div>

      <div class="col-md-3 d-none d-sm-none d-md-block mr-auto">
        <form role="form">
          <div class="form-group toplogoinput">
            <div class="form-group toplogoinput">
              <div class="row">
                <div class="col-md-9">
                  <div *ngIf="service.noLogin" class="input-group">

                    <div class="input-group-btn">
                      <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-search ml-2" aria-hidden="true"></i>
                      </button>

                      <div class="dropdown-menu" id="selectionType" style="min-width: 100%;">
                        <a class="dropdown-item" value="0" style="min-width: 100%;" (click)="selectSearch('employer')">
                          {{'find_employee' | translate}}
                        </a>

                        <a class="dropdown-item" value="1" (click)="selectSearch('employee')">{{'searchjob' |
                          translate}}</a>
                      </div>
                    </div>


                    <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
                      style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
                      name="search">

                  </div>



                  <div *ngIf="service.employee_login && service.showMenu" class="input-group">

                    <div class="input-group-btn">
                      <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-search ml-2" aria-hidden="true"></i>
                      </button>

                      <div class="dropdown-menu" id="selectionType" style="min-width: 100%;">

                        <a class="dropdown-item" value="1" (click)="selectSearch('employee')">{{'searchjob' |
                          translate}}</a>
                      </div>
                    </div>


                    <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
                      style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
                      name="search">

                  </div>

                  <div *ngIf="service.employer_login && service.showMenu" class="input-group">

                    <div class="input-group-btn">
                      <button type="button" class="btn btn_white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-search ml-2" aria-hidden="true"></i>
                      </button>

                      <div class="dropdown-menu" id="selectionType" style="min-width: 100%;">
                        <a class="dropdown-item" value="0" style="min-width: 100%;" (click)="selectSearch('employer')">
                          {{'find_employee' | translate}}
                        </a>


                      </div>
                    </div>


                    <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search" aria-label="Text input with dropdown button"
                      style="box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;" class="form-control" placeholder="{{placeHolder | translate}}"
                      name="search">

                  </div>
                </div>
                <div *ngIf="service.showMenu || service.noLogin" class="col-md-3 padding_l0">
                  <button routerLink="/search_all_person" type="button" class="btn btn-warning search_main1" (click)="allSearchPerson()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              
              </div>




            </div>
          </div>
        </form>
      </div>

      <div *ngIf="service.noLogin" class="col-md-6 ml-auto topsubmenu d-none d-sm-none d-md-block mt-3">
        <ul class="ml-auto flt_right" >
          <li>
            <a routerLink="/home">{{'home' | translate}}</a>

          </li>

          <li>
            <a routerLink="/how_it_work">{{'howitwork' | translate}}&nbsp;?</a>
          </li>


          <li>
            <a routerLink="/login">{{'login' | translate}}</a>
          </li>

          <li>
            <a routerLink="/signup">{{'sign_up' | translate}}</a>
          </li>
          
        </ul>
      </div>
      <!------EMPLOYER LOGIN HEADER WEB VIEW ------>
      <div *ngIf="service.employer_login" class="col-md-7 ml-auto topsubmenu d-none d-sm-none d-md-block pt17">
        <app-employerheader></app-employerheader>

      </div>
      <!-------------EMPLOYEE LOGIN HEADER WEB VIEW ------------>
      <div *ngIf="service.employee_login" class="col-md-7 ml-auto topsubmenu d-none d-sm-none d-md-block pt17">
        <app-employeeheader></app-employeeheader>
      </div>
      <div class="col-12 d-block  d-sm-block d-md-none py-1">
        <app-header-tab-view></app-header-tab-view>
      </div>
    
    </div>
  </div>
<!---NAVIGATION LINKS (ACCORDIONS )-->
  <nav class="navbar navbar-expand-md bg-medium-blue d-none d-sm-none d-md-block">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-1">
              <i class="fa fa-bars text-white"></i>
            </span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul *ngIf="service.noLogin" class="navbar-nav">
              <li *ngFor="let commonHeaders of commonHeaders ; let i = index" class="nav-item">
                <a (click)="checkCat(commonHeaders)" class="nav-link" href="#" data-toggle="modal" data-target="#Modalsearchcategorymenu">{{commonHeaders}}
                </a>
              </li>
        
              <li class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{'all_categories' | translate }}
                </a>
        
                <ul class="dropdown-menu  ml_200" aria-labelledby="navbarDropdownMenuLink"  >
                  <div class="row  dropdown-menu-width mx-auto">
                    <div class="col-md-4" *ngFor="let lp of loop  ; let k = index">
                      <div *ngFor="let val of category | slice:0:limitCount; let i = index">
                        <ul class="multi-column-dropdown text-left">
        
                          <!-- 1st submenuclmn -->
        
                          <div id="accordion-copy" role="tablist" aria-multiselectable="true">
                            <div class="">
                              <div>
                                <h5 class="mb-2" (click)="service.searchCatId=category[categoryIndex(i,k)].id">
                                  <!-- No Login Category-->
                                  <a role="tab" class="text-muted w-100" data-toggle="collapse" data-parent="#accordion-copy"
                                    href="#11collapseOne-copy{{k}}{{i}}" aria-expanded="false">
                                    <!-- {{category[categoryIndex(i,k)].name}} -->
                                    {{returnCategoryName(i,k)}}
                                  </a>
        
                                </h5>
                              </div>
                              
                              <div *ngIf="isSub(returnSubCategories(i,k))" id="11collapseOne-copy{{k}}{{i}}"
                                class="collapse in" role="tabpanel">
                                <ul class="multi-column-dropdown_sub">
                                  <li *ngFor="let sub of category[categoryIndex(i,k)].subCategories;let j = index">
                                    <a class="dropdown-item" href="" 
                                    (click)="service.searchSubId=sub.id;
                                    service.pushSubCategoryFilter(sub.name,sub.id,category[categoryIndex(i,k)].id);
                                   "
                                      data-toggle="modal" data-target="#Modalsearchcategorymenu">{{sub.name}}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
        
                        </ul>
                      </div>
                    </div>
        
        
                  </div>
                </ul>
              </li>
        
              <li class="d-block d-sm-block d-md-none nav-item">
        
                <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong"> {{'all_categories' |
                  translate}}</a>
              </li>
            </ul>
        
            <ul *ngIf="service.employee_login" class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" style="font-weight: 700 !important;
                        padding-left: 2rem !important;
                        padding-right: 2rem !important;"
                  *ngIf="service.showMenu" routerLink="employee_home">{{'home' | translate}}</a>
              </li>
        
              <li *ngIf="service.showMenu" class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg1">
                <a class="nav-link nav-link_login dropdown-toggle" style="font-weight: 700 !important;
                        padding-left: 2rem !important;
                        padding-right: 2rem !important;"
                  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'find_jobs'|
                  translate}}</a>
                <ul class="dropdown-menu" style="left: 0rem;
                      width: 200px;
                      overflow: unset;
                      height: auto;background-color: #0c2d67 !important;
                      color: #fff !important;"
                  aria-labelledby="navbarDropdownMenuLink">
                  <div class="row  dropdown-menu-width mx-auto">
                    <ul class="multi-column-dropdown ar_ml">
                      <li style="width: 198px;">
                        <a style="margin-left: -7px;" class="nav-link text-white ar_ml" routerLink="employee_joblist">
                          {{'part_time _list' | translate}}
                        </a>
                      </li>
        
                      <li style="">
                        <a style="margin-left: -7px;" class="nav-link text-white ar_ml" routerLink="employee_view_map">
                          {{'part_time_map' | translate}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </ul>
              </li>
        
        
        
              <li class="nav-item">
                <a class="nav-link" style="font-weight: 700 !important;
                        padding-left: 2rem !important;
                        padding-right: 2rem !important;"
                  *ngIf="service.showMenu" routerLink="proposals">{{'proposals' | translate }}</a>
              </li>
        
              <li class="nav-item">
                <a class="nav-link" style="font-weight: 700 !important;
                        padding-left: 2rem !important;
                        padding-right: 2rem !important;"
                  *ngIf="service.showMenu" routerLink="../completed_contracts">{{'ongoingjobs' | translate }}</a>
              </li>
        
        
        
              <li *ngIf="service.showMenu" class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg">
                <a class="nav-link  dropdown-toggle" style="font-weight: 700 !important;
                        padding-left: 2rem !important;
                        padding-right: 2rem !important;"
                  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{'all_categories' | translate }}
                </a>
        
                <ul class="dropdown-menu" style="left:-22rem;" aria-labelledby="navbarDropdownMenuLink">
                  <div class="row  dropdown-menu-width mx-auto">
                    <div class="col-md-4" *ngFor="let lp of loop; let k = index">
                      <div *ngFor="let val of category | slice:0:limitCount; let i = index">
                        <ul class="multi-column-dropdown text-left">
        
                          <!-- 1st submenuclmn -->
        
                          <div id="accordion-copy_employee" role="tablist" aria-multiselectable="true">
                            <div class="">
                              <div role="tab" id="headingOne-copy{{k}}{{i}}">
                                <h5 class="mb-2">
                                  <!-- Employee Login Category-->
                                  <a role="tab" class="text-muted" (click)="service.searchCatId=category[categoryIndex(i,k)].id;"
                                    data-toggle="collapse" data-parent="#accordion-copy_employee" href="#collapseOne-copy1{{k}}{{i}}"
                                    aria-expanded="false">
                                   {{returnCategoryName(i,k)}}
                                  </a>
                                  <!-- Employee Login no category-->
        
                                </h5>
                              </div>
        
        
        
                              <div *ngIf="isSub(returnSubCategories(i,k))" id="collapseOne-copy1{{k}}{{i}}"
                                class="collapse" role="tabpanel" aria-labelledby="headingOne-copy">
                                <ul class="multi-column-dropdown_sub">
                                  <li *ngFor="let sub of category[categoryIndex(i,k)].subCategories;let j = index">
                                    <a (click)="service.searchSubId=sub.id;
                                    service.pushSubCategoryFilter(sub.name,sub.id,category[categoryIndex(i,k)].id);
                                   "
                                      class="dropdown-item" routerLink="employee_joblist" style="margin-left: 0px;">{{sub.name}}</a>
                                  </li>
                                </ul>
                              </div>
        
                            </div>
                          </div>
        
                        </ul>
                      </div>
                    </div>
                  </div>
                </ul>
              </li>
        
              <li class="d-block d-sm-block d-md-none nav-item">
        
        
                <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong">{{'all_categories' |
                  translate}}</a>
              </li>
            </ul>
        
            <ul *ngIf="service.employer_login" class="navbar-nav">
              <li *ngIf="service.showMenu" class="nav-item">
                <a class="nav-link" style="font-weight: 700 !important;
                        padding-left: 2rem !important;
                        padding-right: 2rem !important;"
                  routerLink="employer_home">{{'home' | translate }}</a>
              </li>
        
              <li *ngIf="service.showMenu" class="nav-item" data-toggle="modal" data-target="#Modaladdjob">
                <a style="font-weight: 700 !important;
                      padding-left: 2rem !important;
                      padding-right: 2rem !important;"
                  class="nav-link" href="javascript:void(0)">{{'postjob' | translate }}</a>
              </li>
        
              <li *ngIf="service.showMenu" class="nav-item">
        
        
                <a style="font-weight: 700 !important;
                    padding-left: 2rem !important;
                    padding-right: 2rem !important;"
                  class="nav-link" routerLink="my_jobs">{{'my_jobs' | translate }}</a>
              </li>
        
              <li *ngIf="service.showMenu" class="nav-item">
                <a style="font-weight: 700 !important;
                            padding-left: 2rem !important;
                            padding-right: 2rem !important;"
                  class="nav-link" routerLink="../employer_contracts">{{'ongoingjobs' | translate }}</a>
              </li>
        
        
        
        
              <li *ngIf="service.showMenu" class="nav-item dropdown  d-none d-sm-none d-md-block dropdown_lg">
                <a style="font-weight: 700 !important;
                    padding-left: 2rem !important;
                    padding-right: 2rem !important;"
                  class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{'all_categories' | translate }}
                </a>
        
                <ul class="dropdown-menu" style="left: -10rem;" aria-labelledby="navbarDropdownMenuLink">
                  <div class="row  dropdown-menu-width mx-auto">
                    <div class="col-md-4" *ngFor="let lp of loop; let k = index">
                      <div *ngFor="let val of category | slice:0:limitCount; let i = index">
                        <ul class="multi-column-dropdown text-left">
        
                          <!-- 1st submenuclmn -->
        
                          <div id="accordion-copy" role="tablist" aria-multiselectable="true">
                            <div class="">
                              <div role="tab" id="headingOne-copy{{k}}{{i}}">
                                <h5 class="mb-2">
                                  <!-- Employer Login Category-->
                                  <a role="tab" class="text-muted" data-toggle="collapse" data-parent="#accordion-copy"
                                    href="#collapseOne-copy22{{k}}{{i}}" (click)="service.searchCatId=category[categoryIndex(i,k)].id"
                                    aria-expanded="false">
                                    {{returnCategoryName(i,k)}}
                                  </a>
                                  <!-- Employer Login no category-->
        
                                </h5>
                              </div>
        
                              <div *ngIf="isSub(returnSubCategories(i,k))" id="collapseOne-copy22{{k}}{{i}}"
                                class="collapse in" role="tabpanel" aria-labelledby="headingOne-copy">
                                <ul class="multi-column-dropdown_sub">
                                  <li *ngFor="let sub of category[categoryIndex(i,k)].subCategories;let j = index">
                                    <a (click)="service.searchSubId=sub.id;service.pushSubCategoryFilter(sub.name,sub.id,category[categoryIndex(i,k)].id);
                                   "
                                      class="dropdown-item" [routerLink]="['/search_all_person']">{{sub.name}}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
        
                        </ul>
                      </div>
                    </div>
        
                  </div>
                </ul>
              </li>
        
              <li class="d-block d-sm-block d-md-none nav-item">
        
        
                <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModalLong"> {{'all_categories' |
                  translate}}</a>
              </li>
            </ul>
          </div>
          <div class="ml-auto topsubmenu d-none d-sm-block">
              <ul  class="ml-auto topsubmenu1">
                <li *ngIf="service.showMenu || service.noLogin" class="profile_dropdown">
                  <select
                    class="selectpicker profile_dropdown"
                    data-width="fit"
                    onchange="location = this.value;"
                  >
                  <option value="{{service.link1}}" data-content='<span class="flag-icon flag-icon-in"></span> India'>
                  </option>
                    <option value="{{service.link2}}" data-content='<span class="flag-icon flag-icon-sa"></span> Saudi'></option>
                   </select>
                </li>
    
                <li class="profile_dropdown " >
                <select 
                    onchange="lan(this.value)"
                    (change)="service.switchLanguage($event.target.value);getAllCategory();"
                    class="selectpicker profile_dropdown langpicker "
                    data-width="fit"
                    id="languageSelect" 
                  >
                    <option
                      value="en" class="language_width"
                      data-content='<span class="flag-icon flag-icon-us"></span>&nbsp;English' >
                    </option>
    
                    <option
                      value="ar" class="language_width"
                      data-content=' <span class="flag-icon flag-icon-sa"></span>&nbsp;عربى' >
                    </option>
                    <option
                      value="hi" class="language_width"
                      data-content='<span class="flag-icon flag-icon-in"></span>&nbsp;हिंदी' >
                    </option>
                    <option
                    value="ml" class="language_width"
                    data-content='<span class="flag-icon flag-icon-in "></span>&nbsp;മലയാളം' >
                  </option>
                  </select>
                </li>
              </ul>
            </div>
         
        </div>
  </nav>
<!--------------------------Navigation ends----------------------------------------------------------------->
  <div id="mySidenav" class="sidenav">
    <app-header-mobile-view [commonHeaders]=commonHeaders></app-header-mobile-view>
  </div>

  <div class="navbar navbar-expand-md bg-medium-blue d-block d-sm-block d-md-none">
    <span class="text-white ml-1" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  </div>
</div>

<div class="bg-white mt-4p">
  <router-outlet></router-outlet>
</div>
<!-- footer -->



<app-footer></app-footer>
