<div class="card ">
    <h5 class="p-2  bkg_widget_head txt_dark_blue_header txt_ash "> {{'reviews' | translate }}&nbsp; ({{service.summeryDetails['reviews'].total}})</h5>
    <!-- <hr> -->
    <div class="row  ">
      <div class="col-sm-12 col-12 sideBar-avatar my-auto p-1">
        <!-- <h2 class="txt_ash text-left mx-2">2500</h2> -->
        <h6 class="txt_ash text-left mx-2"></h6>
      </div>

    </div>


   <div class="container-fluid py-3 px-3">
      <div class="row  ">
          <div class="col-sm-2 col-2  my-auto">
            <i class="fa fa-smile-o fa-2x txt_ash_small text-center" aria-hidden="true"></i>
          </div>
          <div class="col-sm-9 col-9 sideBar-main my-auto">
            <h5 class="txt_ash">{{'positivereviews' | translate}} </h5>
            <p class="txt_ash_small">{{service.summeryDetails['reviews'].positive}}&nbsp;{{'reviews' | translate}}</p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" [style.width.%]='service.positive' aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row  ">
          <div class="col-sm-2 col-2  my-auto">
              <i class="fa fa fa-meh-o fa-2x txt_ash_small text-center" aria-hidden="true"></i>
          </div>
          <div class="col-sm-9 col-9 sideBar-main my-auto">
            <h5 class="txt_ash">{{'neutralreviews' | translate}} </h5>
            <p class="txt_ash_small">{{service.summeryDetails['reviews'].neutral}}&nbsp;{{'reviews' | translate}}</p>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" [style.width.%]='service.neutral'  aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row  ">
          <div class="col-sm-2 col-2  my-auto">
              <i class="fa  fa-frown-o fa-2x txt_ash_small text-center" aria-hidden="true"></i>
    
          </div>
          <div class="col-sm-9 col-9 sideBar-main my-auto">
            <h5 class="txt_ash"> {{'negativereviews' | translate}} </h5>
            <p class="txt_ash_small">{{service.summeryDetails['reviews'].negative}}&nbsp;{{'reviews' | translate}}</p>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" [style.width.%]='service.negative' aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>
   </div>


  </div>