<footer class="bg-white" style="border-top: 4px solid #7a7a7a;">
  <!-- Page Content -->
  <a (click)="bodyscrolltop()"  id="return-to-top"> <i class="fa fa-chevron-up" aria-hidden="true"></i> </a>
  <div class="container-fluid ftr pt-3">
    <div class="page_w_90">
      <div class="row mt-4 mb-4">
        <div class="col-md-2">
          <h6>
            {{ 'informations' | translate }}
          </h6>

          <ul class="ml_font_size">
            <li>
              <a routerLink="/about_us">{{ 'aboutus' | translate }}</a>
            </li>

            <li>
              <a routerLink="terms">{{ 'terms' | translate }}</a>
            </li>

            <li>
              <a routerLink="privacy">{{ 'policy' | translate }}</a>
            </li>
            <li>
              <a routerLink="cookies"> {{'cookies' | translate}} </a>
            </li>


          </ul>
        </div>

        <div class="col-md-2">
          <span *ngIf="!service.isEmployerLogin()">
            <h6>{{'jobseekers' | translate }}</h6>

          <ul>
            <li *ngIf="service.noLogin" >
              <a routerLink="signup">
                {{ 'registernow' | translate}}
              </a>
            </li>

            <li>
              <a routerLink="employee_joblist">{{'searchjob' | translate}}</a>
            </li>

            <li *ngIf="!service.isEmployeeLogin()&&!service.isEmployerLogin">
              <a (click)="service.whoesLogin=1" routerLink="/login">{{'login' | translate}}</a>
            </li>

          </ul>
          </span>
         <span *ngIf="!service.isEmployeeLogin()" >
          <h6>{{'employer' | translate}}</h6>

          <ul>
            <li >
              <a  (click)="service.whoesLogin=0" routerLink="/login">{{"postjobs" | translate}}</a>
            </li>
            <li *ngIf="!service.isEmployeeLogin()&&!service.isEmployerLogin">
              <a (click)="service.whoesLogin=0" routerLink="/login">
                {{'login' | translate }}
              </a>
            </li>
          </ul>
         </span>

        
        </div>
        <div class="col-md-2">
            <h6>{{'support' | translate}}</h6>

            <ul>
              <li *ngIf="service.showMenu">
                <a  routerLink="contact_us">{{ 'contactus' | translate }}</a>
              </li>
   
              <li>
                <a routerLink="faqs">{{ 'faqs' | translate }}</a>
              </li>
   
              <li>
                <a routerLink="/plans_and_services">{{'plans' | translate}}</a>
              </li>
   
            </ul>
        </div>
       

        <div class="col-md-6">
          <div class="row">
          

            <div class="col-md-4">

              <h6>
                {{'download_app' | translate}}
              </h6>


              <a href="" placement="left" [ngbTooltip]="tipContent">
                <img src="assets/images/appstore.png" class="img-fluid">
                <ng-template #tipContent>
                  <img style="width:80px;height:80px" src="https://chart.googleapis.com/chart?chs=100x100&amp;cht=qr&amp;chl=bit.ly/IKhs7o">
                </ng-template>
              </a>

              <a href="" placement="left" [ngbTooltip]="tipContent">
                <img src="assets/images/playstore.png" class="img-fluid">
              </a>
            </div>
            <div class="col-md-8">
             

                <div id="fb-root"></div>
                <div class="fb-page" data-href="https://www.facebook.com/babkrim1/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/babkrim1/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/babkrim1/">Babkrim</a></blockquote></div> 
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /.row -->
    <!-- /.row -->
  </div>

  <!-- footerend -->
  <!-- /.container -->

  <div class="container-fluid">
    <hr>

    <p class="text-center text-secondary pb-2" style="margin-bottom: 0px;">
      {{'copyright' | translate}} &copy;{{'website' | translate}}
    </p>

    <!-- ---- -->
    <!-- -------- -->
  </div>
</footer>