<div *ngIf="!key" class="row  mx-auto">
  <div class="col-md-6 mb-5 pb-5 mx-auto ">
      <div class="card mx-auto mt-5 mb-5" style="width: 100%;">
          <img class="card-img-top" src="assets/images/verifyemail.png" alt="Card image cap" style="width: 40%;" class="mx-auto">
          <div class="card-body mx-auto text-justify">
            <h5 class="card-title text-center">{{'plz_verify' | translate}}</h5>
            <p class="card-text">{{'title_email_verify_message' | translate}} {{'verify_email_address' | translate}}</p>
            <p class="card-text">{{'redirecthelptext' | translate}}</p>

            <button  (click)="service.sendEmail()" class="btn_alkafu pl-3 pr-3 text-center float-left" type="button">{{'resend_email' | translate}}</button>
            <button  (click)="verificationCheck()" class="accept_icon pl-3 pr-3 text-center float-right" type="button">{{'refresh' | translate}}</button>
        
          </div>
        </div>
  </div>
</div>

<div *ngIf="key" class="row  mx-auto">
  <div class="col-md-6 mb-5 pb-5 mx-auto ">
      <div class="card mx-auto mt-5 mb-5" style="width: 100%;">
          <img class="card-img-top" src="assets/images/veri.gif" alt="Card image cap" style="width: 40%;" class="mx-auto">
          <div class="card-body mx-auto">
            <h5 class="card-title text-center">{{'verifying_email' | translate}}</h5>
            
          </div>
        </div>
  </div>
</div>