<div class="row">
    <div class="col-12">
        <!-- <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Delete and update Table</h4>
                <h6 class="card-subtitle">Smart data table library with sorting, filtering, pagination & add/edit/delete functions.</h6>
                <div class="table table-responsive smart-table">
                    <ng2-smart-table [settings]="settings" [source]="source" class=""></ng2-smart-table>
                </div>
            </div>
        </div> -->
        <div class="card">
            <div class="card-body">
                <div class="table table-responsive smart-table">
                    <ng2-smart-table (custom)="sendData($event)" [settings]="tableSetting" [source]="tableData" class=""></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>

