<div class="modal fade" id="employeeAdd_category" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-left text_blue" id="exampleModalLabel"> {{'specialization' | translate}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div *ngIf="this.tempSpecialization.length < 5" class="col-md-4 field-label-responsive">
                        <label class="labelrequired" for="password">{{'general_specialization' |
                                translate }}</label>
                    </div>

                    <div *ngIf="this.tempSpecialization.length < 5" class="col-md-8">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"></div>
                                <ng-select placeholder="{{'general_specialization' | translate }}"
                                    (remove)="categoryDeselect()" (clear)="categoryDeselect()" [items]="category "
                                    bindLabel="category" bindValue="id" class="ng_select form-control"
                                    [ngClass]=" initialLoader" [(ngModel)]="prGeneralspec"
                                    (change)="onCategorySelect($event);categorySelect($event)">
                                </ng-select>
                               
                            </div>
                           
                        </div>
                    </div>

                    <div *ngIf="this.tempSpecialization.length < 5" class="col-md-4 field-label-responsive">
                        <label class="labelrequired" for="specialization">{{'specialization' |
                                translate }}</label>
                    </div>

                    <div *ngIf="this.tempSpecialization.length < 5" class="col-md-8">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"></div>

                                <ng-select placeholder="{{'specialization' | translate }}"
                                    (remove)="subcategoryDeselect()" (clear)="subcategoryDeselect()"
                                    [items]="subCategory " bindLabel="subCategory" bindValue="id"
                                    class="ng_select form-control" [ngClass]=" subCategoryLoader" [(ngModel)]="prSpec"
                                    (change)="onSubCategorySelected($event)">
                                </ng-select>


                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-12 mx-auto my-2 text-center">
                        <button *ngIf="this.tempSpecialization.length < 5 && showAddButton" (click)="pushItemToCategory()" type="button"
                            class="btn  btn_alkafu ">
                            <i class="fa fa-plus"></i>&nbsp;{{ 'add' | translate }}
                        </button>
                    </div>
                    <div class="col-md-12 mt-2">
                        <div class="card" *ngIf="tempSpecialization.length!=0">

                            <table class="table card-body">

                                <tbody>
                                    <tr *ngFor="let  collection of tempSpecialization;let indes=index">
                                        <td (click)="removeSpecialization(indes)" class="pointer">
                                            <i class="fa fa-trash text_blue" aria-hidden="true"></i>
                                        </td>
                                        <td>{{collection.category}}&nbsp;>&nbsp;{{collection.subCategory}}</td>
                                        <td>
                                            <small *ngIf="collection.primary" class="green_label ">
                                                {{'primary' | translate}}
                                            </small>
                                            <small (click)="makeAsPrimary(indes)" data-toggle="tooltip" data-placement="top" title="{{'make_primary' | translate}}" *ngIf="!collection.primary" class="ash_label pointer">
                                                {{'primary' | translate}}
                                            </small>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                    <div *ngIf="tempSpecialization.length!=0" class="col-md-12 mx-auto my-2 text-center">
                        <button type="button" data-dismiss="modal" aria-label="Close " class="btn  btn_alkafu ">
                            {{ 'save' | translate }}
                        </button>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="service.getRegisterLevel()=='0'" class="row bg-white">

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto my-3 py-3">
                <h4 class="text-center text_heading ">{{'edit_information' | translate}}</h4>


            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white">
    <!-- iconrow -->

    <div class="row bg-white vh-100">
        <div class="col-md-12 mainheading text-center text-md-left pt-3 pb-3 mx-auto bg-white">
            <div class="container  mt-4">
                <!-- <form class="form-horizontal py-2" role="form" method="POST" onsubmit="openModal()" id="Form_signuppersonal"> -->

                <div *ngIf="service.getStorage('emailVerify')=='false'" class="row my-2">
                    <div class="col-md-12 mx-auto bkgdarkblue text-white">
                        <p class="text-white">
                            {{'title_email_verify_message' | translate}} {{'verify_email_address' | translate}}

                            <!-- <a (click)="service.sendEmail()">
                                <u>{{'verify_email_address' | translate}}</u>
                            </a> -->
                            <button class="btn accept_icon1" (click)="service.sendEmail()"> {{'r_send' | translate}}
                            </button>
                        </p>
                    </div>

                </div>

                <div class="row " style="background-color: #ccc;">
                    <div class="col-md-4 ">
                        <div class=" w-100">
                            <div class="arrowreg_page_ash">
                                <p class="text-dark"> {{'account_setup' | translate }}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 ">
                        <div class=" w-100">
                            <div class="arrowreg_page_ash">
                                <p class=" text-dark mx-2"> {{'educational_setup' | translate }}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 bg-white" style="padding-left: 0px;">
                        <div class=" w-100">
                            <div class="arrowreg_page">
                                <p class=" text-white mx-2"> {{'professional_ setup' | translate }}</p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <!-- multistep form -->

                    <form id="msform" [formGroup]="signupForm" role="form" method="POST">
                        <!-- progressbar -->

                        <div class="d-none">
                            <ul id="progressbar">
                                <li>{{'account_setup' | translate }}</li>

                                <li>{{'educational_setup' | translate }}</li>

                                <li class="active">{{'professional_setup' | translate }}</li>
                            </ul>
                        </div>


                        <fieldset>
                            <!-- <h2 class="fs-title">{{'add_professional_setup' | translate }}</h2>

                            <h3 class="fs-subtitle">{{'about_your_job' | translate }}</h3> -->

                            <div class="row text-left">
                                <div class="col-md-6">
                                    <div class="row">

                                        <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired" for="password">{{'profile_headline' |
                                                translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <input formControlName="profileHeadline" type="text" maxlength="140"
                                                        name="name" class="form-control" id="name"
                                                        [(ngModel)]="prHeadline"
                                                        placeholder="{{'profile_headline' | translate }}"
                                                        required="required" autofocus="autofocus" autocomplete="off" />
                                                </div>
                                                <span class="danger"
                                                    *ngIf="!signupForm.get('profileHeadline').valid && bottonClick==1">{{validationMsg.profileTitle}}</span>

                                            </div>
                                        </div>




                                        <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired" for="password">{{'previous_experience' |
                                                translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input formControlName="experience" autocomplete="off" min="0"
                                                        max="52" type="number" [(ngModel)]="prExp" maxlength="50"
                                                        name="name" class="form-control" id="name"
                                                        (keydown)="service.validateExperience($event)"
                                                        placeholder="{{'previous_experience' | translate}}"
                                                        required="required" autofocus="autofocus" />

                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2"> {{'years' |
                                                            translate}} </span>
                                                    </div>

                                                </div>
                                                <p class="help-block danger"
                                                    *ngIf="!signupForm.get('experience').valid && bottonClick==1">
                                                    {{validationMsg.previous_experience}}</p>
                                                <p class="help-block danger"
                                                    *ngIf="signupForm.get('experience').valid && lengthIssue==1">
                                                    {{validationMsg.previous_experience}}</p>

                                                <p class="danger" *ngIf="this.signupForm.get('experience').value > 52">
                                                    {{validationMsg.previous_experienceLimit}}</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password">
                                                {{'up_exp_certificate' | translate}}
                                            </label>
                                        </div>

                                        <div class="col-md-8 pb-1">
                                            <div class="form-group file_up_style" style="display:none">
                                                <span class="hide_fileup">
                                                    <span class="float-left" *ngIf="fileName">{{service.fileNameFormater(fileName[fileName.length
                                                        - 1]) }}</span>
                                                    <input type="file" multiple id="upload_experience"
                                                        class="{{fileLoader}}" (change)=fileEvent($event)
                                                        accept="{{service.fileFormat}}"
                                                        formControlName="upload_experience" />
                                                </span>

                                                <span onclick="triggerFileInput1()" id='button_up'>{{'selectfile' |
                                                    translate}}</span>
                                                <!-- <span (click)="service.downloadFile('docs','')" *ngIf="dwnld_file" title="{{fileName}}" class=""><i class="fa fa-file-text" aria-hidden="true"></i></span> -->
                                                <p class="help-block danger"
                                                    *ngIf="!signupForm.get('upload_experience').valid && signupForm.get('upload_experience').touched">
                                                    {{validationMsg.uploadInvalid}}</p>
                                            </div>
                                            <div *ngIf="dwnld_file" class="my-2">
                                                <app-editattachment [attachments]="experienceCertificate"
                                                    [fileName]="fileName" (messageEvent)="deleteFileicon($event)">
                                                </app-editattachment>
                                                <!-- {{this.fileCounter}} -->

                                            </div>
                                            <div *ngIf="this.fileCounter <5 " class="img_attach_sm img_plus "
                                                onclick="triggerFileInput1()">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </div>

                                        </div>




                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password">
                                                {{'disability' | translate}}
                                            </label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                    <input formControlName="disability" type="radio" name="disability"
                                                        value="1" [checked]="prDisability==1" (click)="prDisability=1"
                                                        onclick="alterDisability('disable','disability_type')" />

                                                    {{'yes' | translate}}
                                                </label>
                                                &nbsp;
                                                <label class="radio-inline">
                                                    <input formControlName="disability" type="radio" name="disability"
                                                        value="0" [checked]="prDisability==0" (click)="prDisability=0"
                                                        onclick="alterDisability('enable','disability_type')" />

                                                    {{'no' | translate}}
                                                </label>

                                                <p class="help-block danger"
                                                    *ngIf="!signupForm.get('disability').valid && signupForm.get('disability').touched">
                                                    {{'requiredValidation' | translate}}</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label *ngIf="prDisability==0" for="password">
                                                {{'if_disability' | translate}}
                                            </label>
                                            <label *ngIf="prDisability==1" class="labelrequired" for="password">
                                                {{'if_disability' | translate}}
                                            </label>

                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <textarea formControlName="type_disability" disabled="disabled"
                                                        [(ngModel)]="prTypeofdisability" maxlength="350"
                                                        [attr.disabled]="prDisability==0 ? '' : null" name="name"
                                                        class="form-control" id="disability_type" required="required"
                                                        autofocus="autofocus" rows="5"></textarea>

                                                </div>
                                                <span class="danger"
                                                    *ngIf="prDisability==1 && !prTypeofdisability">{{validationMsg.diabilityRequired}}</span>
                                            </div>
                                        </div>

                                        <!-- <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired" for="password">{{'general_specialization' |
                                                translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'general_specialization' | translate }}"
                                                        (remove)="categoryDeselect()" (clear)="categoryDeselect()"
                                                        [items]="category " bindLabel="category" bindValue="id"
                                                        class="ng_select form-control" [ngClass]=" initialLoader"
                                                        formControlName="general_specialization"
                                                        
                                                        [(ngModel)]="prGeneralspec" (change)="categorySelect($event)">
                                                    </ng-select>

                                                </div>
                                                <p class="help-block danger"
                                                    *ngIf="!signupForm.get('general_specialization').value && bottonClick==1">
                                                    {{validationMsg.generalspecialization}}</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired" for="specialization">{{'specialization' |
                                                translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <ng-select placeholder="{{'specialization' | translate }}"
                                                        (remove)="subcategoryDeselect()" (clear)="subcategoryDeselect()"
                                                        [items]="subCategory " bindLabel="subCategory" bindValue="id"
                                                        class="ng_select form-control" [ngClass]=" subCategoryLoader"
                                                        formControlName="job_specialization" [(ngModel)]="prSpec"
                                                        (change)="subcategorySelect($event)">
                                                    </ng-select>


                                                </div>
                                                <p class="help-block danger"
                                                    *ngIf="!signupForm.get('job_specialization').value && bottonClick==1">
                                                    {{validationMsg.specialization}}</p>
                                            </div>
                                        </div> -->


                                        <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired" for="specialization">{{'specialization' |
                                                translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <button type="button" *ngIf="this.tempSpecialization.length < 5" (click)="resetModal()" id="employeeAdd_category" class="btn  btn_alkafu"
                                                data-toggle="modal" data-target="#employeeAdd_category">
                                                {{ 'add_specialization' | translate }} <i class="fa fa-plus"
                                                    aria-hidden="true"></i>
                                            </button>
                                            <p class="help-block danger"
                                            *ngIf="tempSpecialization.length==0 && bottonClick==1">
                                            {{validationMsg.specialization}}</p>
                                        </div>
                                        <div class="col-md-4 my-2"></div>
                                        <div class="col-md-8  my-2">
                                            <div class="card pointer" *ngIf="tempSpecialization.length!=0">

                                                    <table class="table card-body">

                                                            <tbody>
                                                                <tr *ngFor="let  collection of tempSpecialization;let indes=index">
                                                                    <td (click)="removeSpecialization(indes)" class="pointer">
                                                                        <i class="fa fa-trash text_blue" aria-hidden="true"></i>
                                                                    </td>
                                                                    <td>{{collection.category}}&nbsp;>&nbsp;{{collection.subCategory}}</td>
                                                                    <td>
                                                                        <small *ngIf="collection.primary" class="green_label ">
                                                                            {{'primary' | translate}}
                                                                        </small>
                                                                        <small (click)="makeAsPrimary(indes)" data-toggle="tooltip" data-placement="top" title="{{'make_primary' | translate}}" *ngIf="!collection.primary" class="ash_label pointer">
                                                                            {{'primary' | translate}}
                                                                        </small>
                                                                    </td>
                            
                                                                </tr>
                            
                                                            </tbody>
                                                        </table>

                                            </div>
                                        </div>

                                        <!-- <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired" for="password">{{'more_specialization' |
                                                translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'more_specialization' | translate }}"
                                                        [items]="nextSubCategory " bindLabel="NextSubCategory"
                                                        bindValue="id" class="ng_select form-control" [ngClass]=" nextSubCategoryLoader"
                                                        formControlName="more_specialization" [(ngModel)]="prMorespec">
                                                    </ng-select>

                                                </div>

                                                <p class="help-block danger" *ngIf="!signupForm.get('more_specialization').value && bottonClick==1">{{validationMsg.morespecialization}}</p>
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired" for="password">{{'skill_set' | translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select class="ng_select form-control" [items]="skill"
                                                        [hideSelected]="true" formControlName="skills" [(ngModel)]="skillModal"
                                                        bindLabel="name" bindValue="name" [addTag]="addCustomUser"
                                                        [multiple]="true" placeholder="{{'skill_set' | translate}}">
                                                    </ng-select>

                                                </div>

                                                <p class="help-block danger" *ngIf="skillModal.length==0 && bottonClick==1">{{validationMsg.skillInvalid}}</p>
                                            </div>
                                        </div> -->

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-8 ml-auto">
                                            <small class="text-left   text-secondary "> {{'note_the_lower_wage' |
                                                translate}} </small>
                                        </div>

                                        <div class="col-md-4 field-label-responsive ">
                                            <label class="labelrequired"
                                                for="password">{{'min_wages' | translate }}</label>
                                        </div>

                                        <div class="col-md-8 ">
                                            <!-- padding_r0 -->
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input formControlName="wages" maxlength='5'
                                                        (keydown)="service.validateExperience($event)" type="text"
                                                        min="0" (keydown)="service.validateExperience($event)"
                                                        name="name" class="form-control" id="name"
                                                        [(ngModel)]="prMinwage"
                                                        placeholder="{{'min_wages' | translate }}" required="required"
                                                        autofocus="autofocus" autocomplete="off" />

                                                    <div class="input-group-append">
                                                        <span class="input-group-text"
                                                            id="basic-addon2">{{"defaultcurrency" | translate}}</span>
                                                    </div>
                                                </div>
                                                <!-- <p class="help-block danger"
                                                    *ngIf="signupForm.get('wages').value <standardWage && standardWage!=0">
                                                    {{validationMsg.belowStandardWage}}</p> -->

                                                <p class="help-block danger"
                                                    *ngIf="!signupForm.get('wages').valid && bottonClick==1 || wageIssue==1">
                                                    {{validationMsg.wagesInvalid}}</p>
                                            </div>
                                        </div>


                                        <!-- <div class="col-md-4 padding_l0">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"> </div>
                                                    <ng-select placeholder="{{'currency' | translate }}" [items]="currency "
                                                        bindLabel="code" bindValue="id" class="ng_select form-control"
                                                        dropdownPosition="bottom" labelForId="test" [ngClass]=" initialLoader"
                                                        formControlName="currency" [(ngModel)]="prCurrency">
                                                    </ng-select>

                                                </div>
                                                <span class="danger" *ngIf="!signupForm.get('currency').valid && bottonClick==1">{{validationMsg.currencyInvalid}}</span>
                                            </div>
                                        </div> -->
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-8 ml-auto">
                                            <small class="text-left   text-secondary "> {{'note_we_recommend_you' |
                                                translate}} </small>
                                        </div>
                                        <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired"
                                                for="password">{{'max_work' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <select formControlName="max_wrk_hrs" [(ngModel)]="prMaxwrk"
                                                        class="form-control" id="em_Country" name="em_Country"
                                                        placeholder="Max.workday" required="required"
                                                        autofocus="autofocus">
                                                        <option [selected]="prMaxwrk==8" value="8">8{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMaxwrk==7" value="7">7{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMaxwrk==6" value="6">6{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMaxwrk==5" value="5">5{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMaxwrk==4" value="4">4{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMaxwrk==3" value="3">3{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMaxwrk==2" value="2">2{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMaxwrk==1" value="1">1{{'hr' | translate}}
                                                        </option>

                                                    </select>
                                                </div>
                                                <span class="danger"
                                                    *ngIf="!signupForm.get('max_wrk_hrs').valid && bottonClick==1 && !prMaxwrk">{{validationMsg.maxHrswrk}}</span>

                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired"
                                                for="password">{{'min_work' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <select formControlName="min_wrk_hrs" [(ngModel)]="prMinwrk"
                                                        class="form-control" id="em_Country" name="em_Country"
                                                        placeholder="Max.workday" required="required"
                                                        autofocus="autofocus">

                                                        <option [selected]="prMinwrk==8" value="8">8{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMinwrk==7" value="7">7{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMinwrk==6" value="6">6{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMinwrk==5" value="5">5{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMinwrk==4" value="4">4{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMinwrk==3" value="3">3{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMinwrk==2" value="2">2{{'hr' | translate}}
                                                        </option>
                                                        <option [selected]="prMinwrk==1" value="1">1{{'hr' | translate}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <span class="danger"
                                                    *ngIf="!signupForm.get('min_wrk_hrs').valid && bottonClick==1 && !prMinwrk">{{validationMsg.minHrswrk}}</span>
                                                <span class="danger"
                                                    *ngIf="prMinwrk >= prMaxwrk">{{validationMsg.minHrswrkGreater}}</span>
                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired"
                                                for="password">{{'availability' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <select formControlName="availability" [(ngModel)]="availability"
                                                        class="form-control" id="" name="" placeholder="Max.workday"
                                                        required="required" autofocus="autofocus">

                                                        <option [selected]="availability=='Any'" value="Any"> {{'any' |
                                                            translate}}
                                                        </option>
                                                        <option [selected]="availability=='Morning'" value="Morning">
                                                            {{'morning' |
                                                            translate}} </option>
                                                        <option [selected]="availability=='Evening'" value="Evening">
                                                            {{'evening' |
                                                            translate}} </option>
                                                        <option [selected]="availability=='Night'" value="Night">
                                                            {{'night' | translate}}
                                                        </option>
                                                        <option [selected]="availability=='Weekend'" value="Weekend">
                                                            {{'weekend' |
                                                            translate}} </option>
                                                        <option [selected]="availability=='Day'" value="Day">
                                                            {{'day' |
                                                            translate}} </option>


                                                    </select>

                                                </div>
                                                <!-- <span class="danger" *ngIf="!signupForm.get('min_wrk_hrs').valid && bottonClick==1 && !prMinwrk">{{validationMsg.minHrswrk}}</span>
                                                <span class="danger" *ngIf="prMinwrk >= prMaxwrk">{{validationMsg.minHrswrkGreater}}</span> -->
                                            </div>
                                        </div>


                                        <div class="col-md-8 field-label-responsive">
                                            <label for="work" class="text-justify labelrequired">{{'other_work' |
                                                translate}}</label>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="radio-inline">
                                                    <input formControlName="work_other" type="radio" name="work_other"
                                                        [checked]="prOtherwrk==1" value="true" />

                                                    {{'yes' | translate}}
                                                </label>
                                                &nbsp;
                                                <label class="radio-inline">
                                                    <input formControlName="work_other" type="radio"
                                                        [checked]="prOtherwrk==0" name="work_other" value="false" />

                                                    {{'no' | translate}}
                                                </label>
                                            </div>
                                        </div>


                                        <div class="col-md-8 field-label-responsive">
                                            <label for="password" class="text-justify labelrequired">
                                                {{'receive_message' | translate}}</label>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                    <input checked formControlName="receive_sms" type="radio"
                                                        name="receive_sms" [checked]="prSms==1" value="true" />

                                                    {{'yes' | translate}}
                                                </label>
                                                &nbsp;
                                                <label class="radio-inline">
                                                    <input formControlName="receive_sms" type="radio"
                                                        [checked]="prSms==0" name="receive_sms" value="false" />

                                                    {{'no' | translate}}
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-8 field-label-responsive">
                                            <label for="password" class="text-justify labelrequired">
                                                {{'receive_voice' | translate}}
                                            </label>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                    <input formControlName="receive_voice_alert" type="radio"
                                                        [checked]="prVoice==1" name="receive_voice_alert"
                                                        value="true" />

                                                    {{'yes' | translate}}
                                                </label>
                                                &nbsp;
                                                <label class="radio-inline">
                                                    <input type="radio" [checked]="prVoice==0"
                                                        formControlName="receive_voice_alert" name="receive_voice_alert"
                                                        value="false" />

                                                    {{'no' | translate}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="button" name="previous" [disabled]="this.fileLoader" class=" btn_alkafu"
                                value=" {{'previous' | translate}}" id="step3" (click)="previous()" />
                            &nbsp;
                            <input type="submit" name="submit" [disabled]="this.fileLoader" class="submit btn_alkafu"
                                value=" {{'submit' | translate}}" (click)="employeeRegister()" />
                        </fieldset>
                    </form>
                </div>

                <!-- row -->
            </div>
        </div>
    </div>

    <!-- end iconrow -->
</div>