<div class="modal fade" id="employeeworksModalvideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button (click)="openPlayer()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
            <app-norocordsfound *ngIf="featuredVideo.length==0"></app-norocordsfound>
            <app-player *ngIf="videoUrl " #vgplayer [videoUrl]="videoUrl"></app-player>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="employeeworksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <app-norocordsfound *ngIf="featuredImage.length==0 "></app-norocordsfound>
              <img [src]="imageUrl" *ngIf="imageUrl" alt="" class=" shadow">
          </div>
          
        </div>
      </div>
    </div>
<!-- <div class="col-md-12 my-2">
  <div class="card bx_shadow">
    <div class="card-body" style="min-height: 62vh;"> -->
        <h5 class="title_ash_clr text-left"> {{'featured_works' | translate}} </h5>
      <!-- <div *ngIf="featuredImage.length!=0 || featuredVideo.length!=0"  class="row  topsubmenu1">
      
          <h5 class="title_ash_clr pt-2 px-2 text-left"> {{'featured_works' | translate}} </h5>
      
      </div> -->
      <div *ngIf="featuredImage.length!=0 || featuredVideo.length!=0" class="col-md-12 my-2">

          <div class="row my-2 flex-row flex-nowrap work_pic_div">
              <div *ngFor="let item of featuredImage" class="col-md-3 col-sm-6 col-12 my-2 ">
                  <!-- (click)="imageUrl=item.url;" -->
                  <img [src]="item.url" data-toggle="modal"  data-target="#employeeworksModal"  (click)="imageUrl=item.url;"  class="work_pic employee_view_scroller pointer border"  alt="Image" style="max-width:100%;">  
                
              </div>
              <div *ngFor="let item of featuredVideo" class="col-md-3 col-sm-6 col-12 my-2">
                                
                  <img [src]="item.thumbnail" data-backdrop="static" data-keyboard="false" data-toggle="modal"   data-target="#employeeworksModalvideo"   (click)="videoUrl=item.url;"  class="work_pic pointer border work_video"  alt="Image" style="max-width:100%;">
                  <div class="middle_video"> 
                      <div class="text_video"><i class="fa fa-play" aria-hidden="true"></i></div>
                    </div>
              </div>
          </div>

         
      </div>
      <div *ngIf="featuredImage.length==0 && featuredVideo.length==0" class="col-md-12 my-2 min_h100">
          <div class="col-md-12 my-2  " >
                                
            <b> <h6 class="text-center text_blue my-auto  pt-4 "> {{"no_images_videos"  | translate}} </h6></b>
          </div>

      </div>
      
            <!-- <ul
              class="nav nav-tabs justify-content-center"
              role="tablist"
            >
              <li
              *ngIf="featuredImage.length!=0"
              class="nav-item" >
                <a
                
                  class="nav-link text-dark active"
                  data-toggle="tab"
                  href="#newappsn"
                  role="tab"
                >
                  <b> {{'images' | translate}}</b>
                </a>

                <div class="active-arrow"></div>
              </li>

              <li *ngIf="featuredVideo.length!=0"  class="nav-item" >
                <a
                  class="nav-link text-dark"
                  data-toggle="tab"
                  href="#invitedw"
                  role="tab"
                > 
                  <b>{{'videos' | translate}}</b>
                </a>

                <div class=""></div>
              </li>

           
             
            </ul> 
          </div>-->
          <!-- <div class="col-md-12 mb-4">
          <div class="row tab-content my-1  " >
                <div
                  class="col-md-12 tab-pane bg-white active"
                  id="newappsn"
                  role="tabpanel"
                >
                <app-norocordsfound *ngIf="featuredImage.length==0 "></app-norocordsfound>
                <img [src]="imageUrl" *ngIf="imageUrl" alt="" class="imgportgall shadow">

                <div class="row my-2">
                        <div *ngFor="let item of featuredImage" class="col-md-2 ">
                            (click)="imageUrl=item.url;"
                            <img [src]="item.url" data-toggle="modal"  data-target="#employeeworksModal"  (click)="imageUrl=item.url;"  class="employee_view_scroller pointer border"  alt="Image" style="max-width:100%;">  
                        </div>
                    </div>
                </div>

                <div
                class="col-md-12 tab-pane  bg-white"
                id="invitedw"
                role="tabpanel" 
                 >
        
              <div class="container-fluid">
                    <div class="row my-2"  >
                            <div *ngFor="let item of featuredVideo" class="col-md-2 ">
                                
                                    <img [src]="item.thumbnail" data-backdrop="static" data-keyboard="false" data-toggle="modal"   data-target="#employeeworksModalvideo"   (click)="videoUrl=item.url;"  class="pointer border"  alt="Image" style="max-width:100%;">
                               
                            </div>
                            
                        </div>
                   
              </div>
              </div>
          </div>
          </div> -->




    <!-- </div>
  </div>
</div> -->
