<!-------------EVALUATE MODAL-->
<div class="modal fade w-100" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog " role="document">
    <div class="modal-content">


      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " *ngIf="service.isEmployeeLogin()" id="exampleModalLabel"> {{'evaluate_employer' |
          translate }} </span>

        <span class="text-white " *ngIf="service.isEmployerLogin()" id="exampleModalLabel"> {{ 'evaluate_employe' |
          translate }} </span>
        <button type="button" (click)="service.resetData()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <app-evaluate></app-evaluate>
      </div>
    </div>
  </div>
</div>
<!------------------------------->
<div *ngIf="service.completedContracts">
  <!-- Employee Login-->
  <div *ngIf="service.isEmployeeLogin()">
    <div *ngFor="let val of service.completedContracts ">
      <div class="row">
        <div class="col-md-11 col-11 mx-auto imgsmicon  my-2">
          <div class="">
            <div class="cards py-2">
              <a>
                <div class="row">
                  <div style="cursor: default" class="col-md-2 col-11 my-auto">
                    <div class="row">
                      <div class="col-md-12">
                        <img *ngIf="!val.employerDetails.employerProfileImage || val.employerDetails.employerProfileImage=='default'"
                          src="{{componyLogo}}" class="img-fluid60 listpropicview img-fluid60 rounded-circle">
                        <img *ngIf="val.employerDetails.employerProfileImage && val.employerDetails.employerProfileImage!='default'"
                          src="{{service.url}}/download/profile.json?fileID={{val.employerDetails.employerProfileImage}}&token={{service.getStorage('token')}}"
                          class="img-fluid60 listpropicview img-fluid60 rounded-circle">
                      </div>
                      <div (click)="gotoMyProfile(val.employerDetails.employerId)" class="col-md-12 pointer">
                        <p class="mt-1 text-center">
                          <b> <span class="">{{service.transform(val.employerDetails.employerName)}} </span></b>
                        </p>
                      </div>
                      <div class="col-md-12 text-center my-2">
                        <!-- <p class="mt-3 text-center">Rating</p> -->
                        <button *ngIf="val.taskId && val.employeeRatingStatus=='false'" (click)="service.resetData();service.setStorage('tempTaskId',val.taskId);service.setStorage('contractTempId',val.contractId);service.setStorage('contractId',val.contractId);service.setStorage('tempName',val.employerDetails.employerName); service.setStorage('jobtitle',val.jobDetails.jobTitle);
  service.setStorage('jobDescription',val.jobDetails.jobDescription)"
                          class="btn btn_alkafu  my-2" data-toggle="modal" data-target="#exampleModal">
                          <i class="fa fa-check" aria-hidden="true"></i> {{'evaluate' | translate}} </button>

                        <br>
                      </div>


                    </div>
                  </div>

                  <div (click)="setValues(val)" class="col-md-9 col-11 text-left mt-2">
                    <div class="row">
                      <div class="col-md-12">


                        <b>
                          <h5 class="text_blue">{{service.transform(val.jobDetails.jobTitle)}}</h5>
                        </b>



                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          <span *ngIf=" val.jobDetails.wageMode=='hourly'">{{'hourly_fair' | translate}}
                          </span>
                          <span *ngIf=" val.jobDetails.wageMode=='fixed'">{{'fixedfair' | translate}}
                          </span>
                        </p>

                        <p class="mt-0 text-center">
                          <span *ngIf=" val.jobDetails.wageMode=='hourly'">
                            {{val.hourlyWages ? val.hourlyWages :
                            val.jobDetails.hourlyWage}}&nbsp;{{val.jobDetails.currency}} / hr</span>
                          <span *ngIf=" val.jobDetails.wageMode=='fixed'">
                            {{val.fixedWage ? val.fixedWage :
                            0}}&nbsp;{{val.jobDetails.currency}}</span>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0 font-weight-bold text-center">{{'starting_date' | translate}} </p>

                        <p class="mt-0 text-center">
                           <!-----------Changed on 13-03-2019 informed by pinky------------------------------>
                           <small>{{service.dateWithoutTime(val.contractApproveTime) }}</small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0 font-weight-bold text-center"> {{'ending_date' | translate}} </p>

                        <p class="mt-0 text-center">
                          <small>{{service.dateWithoutTime(val.lastActionTime) }}</small>
                        </p>
                      </div>


                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-4">
                        <p class="mt-0 font-weight-bold text-center"> {{'task_number' | translate}} </p>

                        <p class="mt-0 text-center">
                          <small>{{val.taskId}}</small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0 font-weight-bold text-center"> {{'money_earned' | translate}} </p>

                        <p class="mt-0 text-center">
                          <small>{{val.cost | number:'.2-2'}}
                            {{'defaultcurrency' | translate}}</small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0 font-weight-bold text-center"> {{'time' | translate}} </p>

                        <p class="mt-0 text-center">
                          {{val.totalTime}}
                          <!-- <cd-timer format="hms"  [startTime]="00" [endTime]="00"> 00:00:00 </cd-timer> -->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Employer Login-->
  <div *ngIf="service.isEmployerLogin()">
    <div *ngFor="let val of service.completedContracts ">
      <div class="row">
        <div class="col-md-11 col-11 mx-auto imgsmicon  my-2">
          <div class="">
            <div class="cards py-2">
              <a>
                <div class="row">
                  <div class="col-md-2 col-11">
                    <div style="cursor: default" class="row">
                      <div class="col-md-12">
                        <img *ngIf="!val.employeeDetails.employeeProfileImage || val.employeeDetails.employeeProfileImage=='default'"
                          src="{{componyLogo}}" class="img-fluid60 rounded-circle">
                        <img *ngIf="val.employeeDetails.employeeProfileImage && val.employeeDetails.employeeProfileImage!='default'"
                          src="{{service.url}}/download/profile.json?fileID={{val.employeeDetails.employeeProfileImage}}&token={{service.getStorage('token')}}"
                          class="listpropicview img-fluid60 rounded-circle">
                      </div>

                      <div class="col-md-12">
                        <p (click)="gotoMyProfile(val.employeeDetails.employeeId)" class="mt-1 text-center pointer"  >
                          <b> <span class=""> {{service.transform(val.employeeDetails.employeeName)}}</span></b>
                        </p>
                      </div>



                      <div class="col-md-12 text-center my-2">
                        <!-- <p class="mt-3 text-center">Rating</p> -->
                        <button  *ngIf="val.taskId && val.employerRatingStatus=='false'" 
                        (click)="service.resetData();service.setStorage('tempTaskId',val.taskId);service.setStorage('contractTempId',val.contractId)"
                          class="btn btn_alkafu  my-2" data-toggle="modal" data-target="#exampleModal">
                          <i class="fa fa-check" aria-hidden="true"></i> {{'evaluate' | translate}} </button>

                        <br>
                      </div>
                    </div>
                  </div>

                  <div (click)="setValues(val)" class="col-md-9 col-11 text-left mt-2">
                    <div class="row">
                      <div class="col-md-12">

                        <b>
                          <h5 class="text_blue"> {{service.transform(val.jobDetails.jobTitle)}}</h5>
                        </b>


                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          <span *ngIf=" val.jobDetails.wageMode=='hourly'">{{'hourly_fair' | translate}}
                          </span>
                          <span *ngIf=" val.jobDetails.wageMode=='fixed'">{{'fixedfair' | translate}}
                          </span>
                        </p>

                        <p class="mt-0 text-center">
                          <span *ngIf=" val.jobDetails.wageMode=='hourly'">
                            {{val.hourlyWages ? val.hourlyWages :
                            val.jobDetails.hourlyWage}}&nbsp;{{val.jobDetails.currency}} / hr</span>
                          <span *ngIf=" val.jobDetails.wageMode=='fixed'">
                            {{val.fixedWage ? val.fixedWage :
                            0}}&nbsp;{{val.jobDetails.currency}}</span>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0 font-weight-bold text-center">{{'starting_date' | translate}} </p>

                        <p class="mt-0 text-center">
                        <!-----------Changed on 13-03-2019 informed by pinky------------------------------>
                        <small>{{service.convertDateToGmt(val.contractApproveTime) }}</small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0 font-weight-bold text-center"> {{'ending_date' | translate}} </p>

                        <p class="mt-0 text-center">
                          <small>{{service.convertDateToGmt(val.lastActionTime) }}</small>
                        </p>
                      </div>


                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-4">
                        <p class="mt-0 font-weight-bold text-center">{{'task_number' | translate}}</p>

                        <p class="mt-0 text-center">
                          <small>{{val.taskId}}</small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0 font-weight-bold text-center"> {{'money_spent' | translate}} </p>

                        <p class="mt-0 text-center">
                          <small>{{returnFloat(val.cost) | number:'.2-2'}}
                            {{'defaultcurrency' | translate}}</small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0 font-weight-bold text-center"> {{'time' | translate}} </p>

                        <p class="mt-0 text-center">
                          {{val.totalTime}}
                          <!-- <cd-timer format="hms"  [startTime]="00" [endTime]="00"> 00:00:00 </cd-timer> -->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<app-norocordsfound *ngIf="service.completedContracts.length==0 && !service.loader"></app-norocordsfound>