<div class="wrapper">
  <div class="wrapper-cell">
    <div class="image"></div>
    <div class="text">
      <div class="text-line"> </div>
      <div class="text-line"></div>
      <div class="text-line"></div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="wrapper-cell">
    <div class="image"></div>
    <div class="text">
      <div class="text-line"> </div>
      <div class="text-line"></div>
      <div class="text-line"></div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="wrapper-cell">
    <div class="image"></div>
    <div class="text">
      <div class="text-line"> </div>
      <div class="text-line"></div>
      <div class="text-line"></div>
      <div class="text-line"></div>
    </div>
  </div>
</div>
