.wrapper {
 
    padding: 3%;
    background: #fff;
   
    min-height: 70px;
    display: flex;
    flex-direction: column;
  }
  
  .wrapper-cell {
    display: flex;
    margin-bottom: 30px;
  }
  
  @-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  .animated-background, .image, .text-line {
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
  }
  
  .image {
    height: 60px;
    width: 60px;
  }
  
  .text {
    margin-left: 30px;
  }
  
  .text-line {
    height: 10px;
    /* width: 640px; */
    margin: 4px 0;
  }
  @media screen and (min-width: 992px){
    
    .text-line {
      width: 700px;
    }
    }
    @media  (min-width: 750px) and (max-width: 992px){
       
      .text-line {
        width: 500px;
      }
      }

      @media  (min-width: 580px) and (max-width: 768px){
        .text-line {
          width: 400px;
        }
        }
        @media  (min-width: 480px) and (max-width: 580px){
          .text-line {
            width: 300px;
          }
          }
        @media screen and (max-width: 380px) {

          .text-line {
            width: 200px;
          }
          
        }
        