/*!
 * Start Bootstrap - Busines Frontpage (https://startbootstrap.com/template-overviews/business-frontpage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-frontpage/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.business-header {
  background-color: #edecfa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.profileheader {
  
  /* background: transparent url("../images/banner__old.jpg") no-repeat fixed 0px 0px / cover;*/
    /* background: transparent url("../images/banner5.png") no-repeat  ; */
    background: #6DB3F2 url('../images/banner5.png');
  background-color: #edecfa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  height: 45vh;
}
.how_it_header {
  background: transparent url("../images/how_it.jpg") no-repeat  ;
  background-color: #edecfa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  height: 45vh;
}
.loginheader {
   background: transparent url("../images/resume.jpg") no-repeat fixed 0px 0px / cover;
  background-color: #edecfa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  height: 70vh;
}
.signupheader{
  background: transparent url("../images/banner1.jpg") no-repeat fixed 0px 0px / cover;
  background-color: #edecfa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.card {
  min-height: 100%;
}

/*slider*/
/* @charset "utf-8"; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css");
/* Global Styles */
/* *, * :  before, *:after{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
} */
/* Specify class=linenums on a pre to get line numbering */

/* Alternate shading for lines */


body{
   
}
html{
  
}
a:hover{
    text-decoration:none;
}
.container-fluid{
   
}

/* Masthead (Header) */
.masthead{
    display: table;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background: transparent url("../images/banner1.jpg") no-repeat fixed 0px 0px / cover;
  z-index: 800;
  background-color:#000;
    margin-left:auto;
    margin-right:auto;
}

/*
Bootstrap 4 Carousel with Fade Captions
Code snippet by Jonathan Adcox (Follow me on Twitter @soldierupdesign) for Bootsnipp.com
Image credits: unsplash.com
*/


/*       Bs Fade carousel       */
.fade-carousel{
    position: relative;
    height: 70vh;
}
.fade-carousel .carousel-inner .carousel-item{
    height: 70vh;
}
.fade-carousel .carousel-indicators > li{
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active{
    width: 10px;
    height: 10px;
    opacity: 1;
}

/*      Carousel Captions       */
.fade-carousel .carousel-inner .carousel-caption{
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
    
}
.fade-carousel .carousel-inner .carousel-caption h1{
    font-size:200%;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
.fade-carousel .carousel-inner .carousel-caption h2{
    font-size:2rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .carousel-caption{
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .active .carousel-caption {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/*          Custom Buttons      */
.btn.btn-lg {
    padding: 10px 40px;
    outline: none;
    margin: 20px auto;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus{
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}


/*       Slides backgrounds     */
.fade-carousel .carousel-inner .slide-1, 
.fade-carousel .carousel-inner .slide-2,
.fade-carousel .carousel-inner .slide-3 {
    height: 70vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .carousel-inner .slide-1 {
    background-image: url(../images/banner6.jpg); 
}
.fade-carousel .carousel-inner .slide-2 {
    background-image: url(../images/banner2.jpg);
}
.fade-carousel .carousel-inner .slide-3 {
    background-image: url(../images/banner7.jpg);
}
@media screen and (max-width: 600px) {

  .fade-carousel .carousel-inner .carousel-caption{

     top: 50%;
    left: 50%;
   width: 80%;
  }

  }