<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="row  toplogoinput bdr_blue_chat">
        <div (click)="service.isGroupAdmin!=2 ?service.groupActiveTab=3:''" class="col-md-10  pointer">
          <div class="row">
            <div class="col-md-2 my-auto">
              <i class="fa fa-users text_blue bg_lightash  p-2" style="border-radius: 50%;" aria-hidden="true"></i>
            </div>
            <div [class]="service.isGroupAdmin!=2 ? 'col-md-10' : 'col-md-10'">
              <h6 class="text-white " style="margin-bottom: 0.4px;"> {{service.groupName.length > 25
                ?service.groupName.slice(0,25)+'...' :service.groupName | titlecase}} </h6>
              <small class="text-white">{{service.groupDescription.length > 50 ?
                service.groupDescription.slice(0,50)+'...':service.groupDescription | titlecase}} </small>

            </div>
          </div>

        </div>

        <div *ngIf="service.isGroupAdmin!=2" class="col-md-2">
          <div  class="btn-group dropleft mb-1">
            <button type="button" class="btn btn_transparnt " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v text-white" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="service.groupActiveTab=3"> {{'group_info' | translate}} </a>
              <a *ngIf="service.isGroupAdmin==0" [swal]="exitgroup" class="dropdown-item"> {{'exit_group' | translate}} </a>
              <a *ngIf="service.isGroupAdmin==1" [swal]="exitgroup" class="dropdown-item"> {{'delete_group' | translate}} </a>

              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="msg_container_base" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <div *ngIf="service.groupChatLoader" class="col-md-2 col-3 mx-auto my-auto "><img class="img-fluid" src="assets/images/loaderinput.gif"></div>
  <div *ngIf="showLoadmore==0" class="text-center">
    <small (click)="loadMoreButton=1;pageNo=pageNo+1;loadGroupChatHistoryFromApi();" style="cursor: pointer">{{'loadmore'
      |
      translate}}</small>
  </div>
  <div *ngFor="let val of groupService.message ">
    <div *ngIf="val.send" class="row msg_container base_sent">
      <div class="col-md-10 col-xs-10">
        <div class="messages msg_sent">
          <p>
            {{val.send.message}}
          </p>

          <time class="text-dark"><b>{{val.send.createdUserName}}</b>&nbsp;
            <span *ngIf="checkTime(val.send.createdTime | date : 'dd-MM-yyyy')==1">
              {{val.send.createdTime | date :'hh:mm a'}}
            </span>
            <span *ngIf="checkTime(val.send.createdTime | date : 'dd-MM-yyyy')==0">
              {{val.send.createdTime | date :'dd-MM-yyyy h:s:a'}}
            </span>

          </time>
          <!--• 51 min-->
        </div>
      </div>

      <div class="col-md-2 col-2 avatar">
        <img *ngIf="!val.send.profileImage || val.send.profileImage=='null'" class="img-responsive img_icon_msg" src="{{service.prfImgTemp}}">
        <img *ngIf="val.send.profileImage && val.send.profileImage!='null'" class="img-responsive img_icon_msg" src="{{service.url}}/download/profile.json?fileID={{val.send.profileImage}}&token={{service.getStorage('token')}}">

        <!-- <img src="assets/images/userpropic.png" class="img-responsive img_icon_msg"> -->
      </div>
    </div>

    <div *ngIf="val.receive" class="row msg_container base_receive">
      <div class="col-md-2 col-2 avatar">
        <img *ngIf="!val.receive.profileImage || val.receive.profileImage=='null'" class="img-responsive img_icon_msg"
          src="{{service.prfImgTemp}}">
        <img *ngIf="val.receive.profileImage && val.receive.profileImage!='null'" class="img-responsive img_icon_msg"
          src="{{service.url}}/download/profile.json?fileID={{val.receive.profileImage}}&token={{service.getStorage('token')}}">

      </div>

      <div class="col-md-10 col-10">
        <div class="messages msg_receive">
          <p>
            {{val.receive.message}}
          </p>

          <time class="text-dark" datetime="2009-11-13T20:00"><b>{{val.receive.createdUserName}}</b>&nbsp;
            <span *ngIf="checkTime(val.receive.createdTime | date : 'dd-MM-yyyy')==1">
              {{val.receive.createdTime | date :'hh:mm a'}}
            </span>
            <span *ngIf="checkTime(val.receive.createdTime | date : 'dd-MM-yyyy')==0">
              {{val.receive.createdTime | date :'dd-MM-yyyy h:s:a'}}
            </span>
          </time>
        </div>
      </div>
    </div>
  </div>


</div>

<div (keydown)="groupService.onKeydown($event)" class="input-group">
  <input id="btn-input" type="text" maxlength=1500 class="form-control input-sm chat_input" [(ngModel)]="groupService.messageBox"
    placeholder="{{'write_your_message_here' | translate}}..." />

  <span class="input-group-btn">
    <button (click)="groupService.sendMsg()" class="btn btn-primary btn-sm h-100" id="btn-chat">{{'send' |
      translate}}</button>
  </span>
</div>

<swal #exitgroup [title]="'areyousure' | translate" type="question" [showCancelButton]="true" [focusCancel]="true"
(confirm)="exitGroup()">
</swal>