<div class="bg_download ">
  <header class="bkg_grd ">
  
  
  
  </header>
  
  <div class="container">
      <div class="row play_card_abs">
          <div class="col-md-6  col-xs-12 mx-auto">
          <div class="card" >
            <div class="card-body play_card text-center">
                
                 <img src="assets/images/logo2bkg.png" alt="" title=""  class="play_card_img"/>
               
                 <h4 class="text-center my-2">
                 Best deals and offers around you
                 </h4>
                 <p class="text-center my-2">
                 Deal KSA helps you to get the best daily deals, coupon deals & offers near you, from restaurants, dining, beauty, spa and hotels in Kingdom Of Saudi Arabia.
                 </p>
                 <a target="_bank" href="https://play.google.com/store/apps/details?id=com.up_part_time.jobportal&hl=en">
                
                 <img src="assets/images/playstore.png" class="text-center img_card_play">
                 </a>
                 <br>
                     <div class="d-inline-block  mx-2">
                 
                            <a href="" placement="left" [ngbTooltip]="tipContent1">
                                    <ng-template #tipContent1>
                  
                                        <div class="d-inline-block ">
                                            <img style="width:80px;height:80px" src="assets/images/employee_qr.png">
                                          </div>
                                        
                                    </ng-template>
                                <p class="txt_ash"> Employee </p>
                                </a>
                    </div>
                <div class="d-inline-block mx-2 ">
                   
                    <a href="" placement="left" [ngbTooltip]="tipContent2">
                        <ng-template #tipContent2>
                              <div class="d-inline-block ">
                                  <img style="width:80px;height:80px" src="assets/images/employer_qr.png">
                              </div>
                        
                        </ng-template>
                    <p class="txt_ash"> Employer </p>
                    </a>
                </div>
                 <br>
                 <a target="_bank" href="https://play.google.com/store/apps/details?id=com.babkrim.employer_job_portal&hl=en">
                 <img src="assets/images/appstore.png" class="text-center img_card_play">
                 </a>
                 <br>
                 <div class="d-inline-block  mx-2">
             
                        <a href="" placement="left" [ngbTooltip]="tipContent3">
                                <ng-template #tipContent3>
              
                                    <div class="d-inline-block ">
                                        <img style="width:80px;height:80px" src="assets/images/employee_qr.png">
                                      </div>
                                    
                                </ng-template>
                            <p class="txt_ash"> Employee </p>
                            </a>
                </div>
            <div class="d-inline-block mx-2 ">
               
                <a href="" placement="left" [ngbTooltip]="tipContent4">
                    <ng-template #tipContent4>
                          <div class="d-inline-block ">
                              <img style="width:80px;height:80px" src="assets/images/employer_qr.png">
                          </div>
                    
                    </ng-template>
                <p class="txt_ash"> Employer </p>
                </a>
            </div>
             <br>
             </div>
             </div>
          </div>
           <div class="col-md-1">
  
          </div>
      </div>
  </div>
  
  
  </div>
  