<div *ngFor="let val of service.invitation ; let i=index">
  <div class="row p-3 bx_shadow my-2">
    <!-- <div class="col-md-3 pb-2 pt-2"><img src="images/user_em.png" class="img-fluid">
  </div> -->

    <div class="col-md-12">
      <h5 class="text_blue text-left">{{service.transform(val.jobDetails.jobTitle)}}</h5>
    </div>

    <div class="col-md-10 my-2">
      <div class="row">
        <div class="col-md-12">
          <div (click)="service.setStorage('employerTempId',val.employerDetails.employerId)" [routerLink]="['/view_company_details']"
            class=" pointer">
            <h6 class="text-left">
              <i class="fa fa-building-o " aria-hidden="true"></i>

              &nbsp;{{service.transform(val.employerDetails.employerName)}}

              <br>
            </h6>
          </div>
          <p class="text-dark text-justify">
              {{service.transform(val.jobDetails.jobDescription)}}
            </p>
          <!-- <div class="col-md-6">
  <p class="float-right"><i class="fa fa-map-marker" aria-hidden="true"></i> jeddah</p>
  
  </div> -->
<app-iconset [val]=val.jobDetails [employerDetails]=val.employerDetails></app-iconset>
          <!-- <div class="col-md-12">
            <p class="text-dark text-justify">
              {{service.transform(val.jobDetails.jobDescription)}}
            </p>

            <div class="row topsubmenu1">
              <div class="col-md-6 text-left">
                <p>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>

                  {{'starting_time' | translate}} :{{ service.formatTimezone(val.jobDetails.fromTime ) }}
                </p>
              </div>

              <div class="col-md-6 text-left">
                <p>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>

                  {{'ending_time' | translate}} : {{ service.formatTimezone(val.jobDetails.toTime ) }}
                </p>
              </div>

              <div class="col-md-6 text-left">
                <p>
                  <i class="fa fa-calendar" aria-hidden="true"></i>

                  {{'no_days' | translate}}: {{val.jobDetails.noOfDays}}
                </p>
              </div>

              <div class="col-md-6 text-left">
                <p>
                  <i class="fa fa-money" aria-hidden="true"></i>

                  {{'hourly_fair' | translate}} : {{val.hourlyWage}} &nbsp; {{val.jobDetails.currency}}
                </p>
              </div>

              <div class="col-md-6 text-left">
                <p>
                  <i class="fa fa-users" aria-hidden="true"></i>

                  {{'no_worker' | translate}}: {{val.jobDetails.noOfVacancies}}
                </p>
              </div>

              <div class="col-md-6 text-left">
                <p>
                  <i class="fa fa-hourglass-half" aria-hidden="true"></i>

                  {{"nohours" | translate}} : {{val.jobDetails.noOfHours}}
                </p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-2 my-2">

      <button (click)="service.viewOffer(val,'2')" class="btn btn_alkafu w-100 my-2"> <i class="fa fa-eye px-1"
          aria-hidden="true"></i> {{"view" | translate}}</button>
      <br>

      <button *ngIf="val.employerDetails.employerId && val.proposalId" class="btn accept_icon  my-2 w-100" (click)="service.navigateMsg(val.employerDetails.employerId,val.proposalId)">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
        {{'message' | translate}}
      </button>
      <button [swal]="rejectProposal" (click)="offer=val" class="btn accept_icon  my-2 w-100" >
        <i class="fa fa-ban" aria-hidden="true"></i>
      {{'reject' | translate}}
    </button>
    </div>


    <!-- <div *ngIf="val.jobDetails.skills" class="col-md-12 text-left">
        <p class="text-left"> {{'skill_sets' | translate}} : 
      <span *ngIf="val.jobDetails.skills" class="text-left">
        <span *ngFor="let skill of val.jobDetails.skills.split(',')">
          <span class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">{{skill}}</span>
        </span>
      </span>
       </p>
    </div> -->
  </div>

  <!-- <hr> -->
</div>
<swal #rejectProposal [title]="'areyousure' | translate" [text]="'cantbeundone' | translate" type="question"
  [showCancelButton]="true" [focusCancel]="true" (confirm)="rejectProposals()">
</swal>