<!-- Header with Background Image -->

<div class="modal fade w-100" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-lg" role="document">
    <div class="modal-content">


      <div class="modal-header  bg-medium-blue text-left ">
        <span class="modal-title text-white" id="exampleModalLabel">
          <b> {{'details_job' | translate }} </b>
        </span>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="viewJobModal" class="modal-body">
        <div class="container-fluid  mt-4">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row  topsubmenu1">
                    <div class="col-md-12 bg-medium-blue text-left">
                      <h5 class="card-title  text-white pt-2 px-2">{{service.transform(viewJobModal.jobTitle)}}</h5>
                    </div>

                    <div class="col-md-12 py-2 text-left">
                      <h6>
                        {{service.transform(viewJobModal.employerDetails.companyName)}}
                      </h6>
                    </div>

                    <div class="col-md-4 text-left">
                      <p>
                        <i class="fa fa-suitcase" aria-hidden="true"></i> {{'experiance' | translate}} :
                        <!-- {{viewJobModal | json}} -->
                        {{(viewJobModal.minYearofExperience==0 ?'':viewJobModal.minYearofExperience) }}
                        &nbsp;{{(viewJobModal.minYearofExperience==0 ?'any':'years')|translate }}

                      </p>
                    </div>

                    <div class="col-md-8 text-left">
                      <p class="text-left">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                          {{viewJobModal.employerDetails.state}},&nbsp;{{viewJobModal.employerDetails.country}}
                        </span>

                      </p>
                    </div>

                    <div class="col-md-8 ">
                      <p class="text-left">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        {{'education' | translate}} :&nbsp;
                        {{viewJobModal.education}}

                      </p>
                    </div>

                    <!-- <div class="col-md-4">
                                           <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> Btech / BCA / MCA /Bsc</p>
                                         </div> -->
                    <hr>
                  </div>

                  <hr>

                  <div class="row  topsubmenu1">
                    <div class="col-md-12">
                      <p class="text-justify">
                        {{service.transform(viewJobModal.jobDescription)}}
                      </p>

                      <hr>
                    </div>

                    <!-- <div class="col-md-12">
                      <p class="text-left"> {{'skill_set' |translate}}
                        <span *ngFor="let skill of viewJobModal.skill" class="small d-inline p-1 m-1  bg-secondary text-white rounded">{{skill}}</span>
                      </p>

                    </div> -->
                  </div>

                  <hr>

                  <div class="row  topsubmenu1">
                    <div class="col-md-12">
                      <p class="text-left">
                        {{'industry_type'|translate}} : {{viewJobModal.category}}

                        <br> {{'functional_area' | translate}} : {{viewJobModal.subCategory}}
                      </p>
                    </div>
                  </div>

                  <hr>

                  <app-iconset [employerDetails]="viewJobModal.employerDetails" [val]="viewJobModal"></app-iconset>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade w-100" id="mapModal" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-header bg-medium-blue text-left ">
        <span class="modal-title text-white " id="mapModalLabel"> <b> {{'map_job' | translate}} </b> </span>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
        <div class="container-fluid  mt-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">

              </div>

              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
                [styles]="service.mapStyle">

                <agm-marker *ngFor="let m of markers; let i = index"
                  [iconUrl]="viewJobModal.jobPostType=='urgent'?urgentIcon:currentIcon" [latitude]="m.lat"
                  [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">
                </agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->

<div class="mysidebutton d-block d-sm-none">
  <button (click)="scrolltop()" class="btn filterbtn" data-toggle="collapse" data-target="#demo9">
    <img src="assets/images/filterw.png" style="width: 14px;">
  </button>
</div>
<div class="container-fluid mt100">




  <div class="row mt-4">
    <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="page_w_90  mt-4">
        <div class="row ">

          <div class="col-md-12 mx-auto">
            <h4 class="text-center  py-1 text_heading">
              {{'part_time_job_list' | translate}}

            </h4>
          </div>

        </div>

        <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
          [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()" class="row">
          <div class="col-md-3 d-none d-sm-block">
            <app-side-barfilter></app-side-barfilter>
          </div>

          <div class="col-md-9 right_section">
            <div class="card">
              <div class="col-md-12 py-1 light_top_ash">
                <div class="row px-3">
                  <div class="col-md-6 mr-auto  pb-1 " style="float: left;">

                    <div class="search-container">

                      <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="service.search"
                        placeholder="{{'search' | translate}}" name="search">
                      <button (click)="service.fetchAllJobDetailsFromApi(0)" type="submit"><i
                          class="fa fa-search"></i></button>


                    </div>

                  </div>
                  <div class="col-md-3  mx-auto my-auto text-center ">
                    <button class=" accept_icon my-2 my-sm-0 text-center mx-auto w-100 "
                      routerLink="/employee_view_map">
                      <i class="fa fa-map-o" aria-hidden="true"></i> &nbsp; {{'map_view' | translate}} </button>

                  </div>
                  <div class="col-md-3 mx-auto my-auto text-center d-none d-sm-block "> <button
                      class=" btn_alkafu text-center mx-auto w-100" data-toggle="collapse" data-target="#demo9"><a
                        class=""> <img src="assets/images/filterw.png" style="width: 14px;"> &nbsp;
                        {{'filters' | translate}} </a></button></div>
                </div>
              </div>

              <div class="col-md-12 bg-white b_shadow">
                <div class="w-100   collapse px-2 py-2" id="demo9">
                  <app-filter></app-filter>

                </div>
              </div>
              <div class="card-body">
                <div class="row  topsubmenu1">
                  <div class="col-md-9">

                  </div>


                </div>
                <app-appleid-filter></app-appleid-filter>
                <div *ngFor="let val of service.jobDetails  ;  let i= index">
                  <div class="row mx-2  bx_shadow my-3">
                    <!-- <div *ngIf="val.jobPostType=='urgent'"  class="col-md-12">
                          <div class="ribbon">
                            <span>
                             {{'urgent' | translate}}
                             <img src="../../../../assets/images/urgent1.png" class="w-100">
                            </span>
                          </div>
                        </div> -->
                    <div *ngIf="val.jobPostType=='urgent'" class="col-md-12 d_ar_none">
                      <img src="assets/images/urgent3.png" class="urgent_badge   mx-auto" style="width: 100px;">
                    </div>
                    <div *ngIf="val.jobPostType=='urgent'" class="col-md-12 d_ar_block">
                      <img src="assets/images/urgent3ar.png" class="urgent_badge   mx-auto" style="width: 100px;">
                    </div>
                    <div class="col-md-12 p-3">
                      <div class="row">

                        <div class="col-md-9 py-1">
                          <h5 class="text_blue text-left px-2" data-toggle="modal" (click)="viewDetails(val)"
                            data-target="#exampleModal" style="cursor: pointer">
                            {{service.transform(val.jobTitle)}}
                          </h5>
                        </div>

                        <div class="col-md-9">


                          <p class="text-left p-1 fafa_blue  hover_style"
                            (click)="service.setStorage('employerTempId',val.employerDetails.employerId)"
                            [routerLink]="['/view_company_details']">
                            <i class="fa fa-building-o" aria-hidden="true"></i>

                            {{service.transform(val.employerDetails.companyName)}}

                            <br>
                          </p>
                          <p class="text-left p-1 fafa_blue">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>{{val.employerDetails.state}},&nbsp;{{val.employerDetails.country}} &nbsp;</span>
                          </p>




                          <p class="text-justify p-1">

                            {{service.transform(val.jobDescription)}}
                          </p>


                          <!-- <p class="text-left p-1">{{'skill_set' | translate}}
  
                              <span *ngFor="let skill of val.skill" class="small d-inline p-1 m-1  bg-secondary text-white rounded">{{service.transform(skill)}}</span>
                            </p> -->




                        </div>

                        <div class="col-md-3 my-auto">

                          <button class="btn btn_alkafu w-100 my-2" *ngIf="service.isEmployeeLogin()"
                            (click)="viewJobList(val)">
                            <i class="fa fa-suitcase" aria-hidden="true"></i>

                            {{'go_grab_it' | translate}}
                          </button>
                          <button class="btn btn_alkafu w-100 my-2" *ngIf="service.isEmployerLogin()"
                            disabled="disabled">
                            <i class="fa fa-suitcase" aria-hidden="true"></i>

                            {{'go_grab_it' | translate}}
                          </button>
                          <button class="btn btn_alkafu w-100 my-2" (click)="setTempData(val)" *ngIf="service.noLogin"
                            >
                            <i class="fa fa-suitcase" aria-hidden="true"></i>

                            {{'go_grab_it' | translate}}
                          </button>
                          <button class="btn accept_icon w-100 my-2" data-toggle="modal" data-target="#mapModal"
                            (click)="viewDetails(val)">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>

                            {{'view_map' | translate}}
                          </button>

                        </div>

                        <app-iconset [employerDetails]=val.employerDetails [val]=val></app-iconset>
                      </div>
                    </div>


                  </div>
                  <!-- <hr> -->
                </div>
                <app-lazyloader *ngIf="service.loader"></app-lazyloader>


                <!-- <pagination-controls  *ngIf="service.jobDetails.length!=0" (pageChange)="service.fetchAllJobDetailsFromApi($event-1);p=$event"></pagination-controls> -->

                <app-group-chat *ngIf="service.isEmployeeLogin()"></app-group-chat>
                <app-norocordsfound *ngIf="service.jobDetails.length==0 && !service.loader"></app-norocordsfound>
              </div>
            </div>
          </div>
        </div>

        <!-- row -->
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>