.cards-img {
    height: 30px;
}

.close {
    margin-left: 0px;
    color: #ffff;
}

.CardField-input-wrapper .CardField-numsber .InputContainer {
    border: thin solid;
    border-radius: 23px;
    cursor: pointer;
    border-color: #00173452;
}

.modal-header {
    background: #6086ba;
    color: #ffff;
}

.amount-input{
    margin-top: 10px;
}

.status-completed {
    color: green;
    height: 28px;
    background: #d1efe1;
    border: 1px solid #9cefc8;
    border-radius: 10px;
    font-weight: 600;
    max-width: 114px;
}

.status-pending {
    color: orange;
    height: 28px;
    background: #ffa50029;
    border: 1px solid #ffa50066;
    border-radius: 10px;
    font-weight: 600;
    max-width: 114px;
}

.status-failed {
    color: red;
    height: 28px;
    background: #ff00001f;
    border: 1px solid #ff00003d;
    border-radius: 10px;
    font-weight: 600;
    max-width: 114px;
}