

<div class="container-fluid mt100">
 <div class="row mt-4">
    <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container  mt-2">
        <div class="row">
          <div class="col-md-9">
            <div class="card bx_shadow">
              <div class="card-body" style="padding-top: 7px;">
                <div class="row  topsubmenu1">
                  <div class="col-md-12 bg-medium-blue bdr-radius ">
                    <h5 class="card-title  text-white pt-2 px-2 text-left text-uppercase">{{viewJobModal.jobTitle}}</h5>
                  </div>

                  <div class="col-md-12 py-2">
                    <h6 class="text-left">
                      {{viewJobModal.employerDetails.companyName}}
                    </h6>
                  </div>

                  <div class="col-md-4">
                    <p class="text-left">
                      <i class="fa fa-suitcase" aria-hidden="true"></i> {{'experiance' | translate}} :
                    
                      {{(viewJobModal.minYearofExperience==0 ?'':viewJobModal.minYearofExperience) }} &nbsp;{{(viewJobModal.minYearofExperience==0 ?'any':'years')|translate }} 


                    </p>
                  </div>

                  <div class="col-md-8">
                   </div>

                  <div class="col-md-8">
                    <p class="text-left">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      {{'education' | translate}} :&nbsp;
                      {{viewJobModal.education?viewJobModal.education.education:''}}
                    </p>
                  </div>
<hr>
                </div>

                <hr>

                <div class="row  topsubmenu1">
                  <div class="col-md-12">
                    <p class="text-justify">
                      {{viewJobModal.jobDescription}}
                    </p>

                    <hr>
                  </div>

                 
                </div>



                <div class="row  topsubmenu1">
                 
                  <div class="col-md-12" *ngIf=" viewJobModal.fileDetails.length >0">
                    <hr>
                    <app-atachmentview [attachments]="viewJobModal.fileDetails"></app-atachmentview>

                  </div>
                </div>

               

                <app-iconset [val]=viewJobModal></app-iconset>
<hr>
                <div class="row mt-3 blog">

                  <span *ngIf="service.noLogin">

                    <div class="row">
                        <div class="col-md-12">
                          <h5 class="title_ash_clr text-left">
                              {{'join_babkrim_apply' | translate }}
                          </h5>
                          <p class="text-left">
                              As a Babkrim member, you can connect with thousands of companies in your area. Search job that match your skills, apply online and grab it.
                            </p>
    
                              <ul>
                                <li> Get notification for urgent jobs in your area or Search with your preferences. </li>
                                <li> Grab the Job and get paid </li>
                                <li> Apply online </li>
                              </ul>
                              <button (click)="
                              this.service.setStorage(
                                'tempemployeeTempId',
                                this.employeeId
                              )
                            " routerLink="/signup" class="btn btn_alkafu  text-center" style="padding: 10px;
                                      padding-left: 20px;
                                      padding-right: 20px;">
                            {{ "join_now" | translate }}
                              </button>
                         
                        </div>
                      </div>
    
                 </span>

                </div>

              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card mb-3 bx_shadow" style="min-height: auto;">
              <div class="card-body">
                <span class="text-white"></span>
            
                <h6 class="yellow_bg_text  text-center p-2">
                  {{ "terms_of_employee" | translate }}
                </h6>
            
                <div *ngIf="offer.jobDetails" class="row my-3">
                  <div class="col-md-3 col-2">
                    <img src="assets/images/rupee.png" class="img-fluid" />
                  </div>
                  <div class="col-md-9 col-9 px-0 mx-0">
                    <p class="text-left text_blue font_20_over">
                      <span *ngIf="offer.wageMode == 'hourly'" class="">
                        {{
                          offer.hourlyWages ? offer.hourlyWages : offer.hourlyWage
                        }}&nbsp;{{ offer.currency }} / {{"hr" | translate}}</span
                      >
                      <span *ngIf="offer.wageMode == 'fixed'">
                        <!-- {{'fixedfair' | translate}} :  -->
                        {{ offer.fixedWage ? offer.fixedWage : 0 }}&nbsp;{{
                          offer.currency
                        }}
                      </span>
                    </p>
                  </div>
                </div>
            
                <div *ngIf="!offer.jobDetails" class="row my-3">
                  <div class="col-md-3 col-2">
                    <img src="assets/images/hr_tag.png" class="img-fluid" />
                  </div>
                  <div class="col-md-9 col-9 px-0 mx-0">
                    <p class="text-left text_blue font_20_over">
                      <!-- <i class="fa fa-money" aria-hidden="true"></i>&nbsp;  {{'wagemode' | translate}} : -->
                      <span *ngIf="offer.wageMode"> {{ (offer.wageMode) | translate | titlecase }}</span
                      >&nbsp;
                    </p>
                  </div>
                </div>
            
               
            
                <div *ngIf="!offer.jobDetails" class="row my-3">
                  <div class="col-md-3 col-2">
                    <img src="assets/images/rupee.png" class="img-fluid" />
                  </div>
                  <div class="col-md-9 col-9 px-0 mx-0">
                    <p class="text-left text_blue font_20_over">
                    
                      <span *ngIf="offer.wageMode == 'hourly'">
                        <!-- {{'hourly_fair' | translate}} :  -->
                        {{
                          offer.hourlyWages ? offer.hourlyWages : offer.hourlyWage
                        }}&nbsp;{{ offer.currency }}
                      </span>
                      <span *ngIf="offer.wageMode == 'hourly' && hideMinHourLabel">
                        <!-- {{'minimumhour' |translate}} :  -->
                        {{ offer.minHour }}&nbsp;{{ offer.currency }} / {{'hr' | translate}}</span
                      >
            
                      <span *ngIf="offer.wageMode == 'fixed'">
                        <!-- {{'fixedfair' | translate}} :  -->
                        {{ offer.fixedWage ? offer.fixedWage : 0 }}&nbsp;{{
                          offer.currency
                        }}
                      </span>
                    </p>
                  </div>
                </div>
            
                <button
                  type="button"
                 
                  class="accept_icon w-100 my-2 btn_alkafu"
                  [routerLink]="['/signup']"
                >
                  <i class="fa fa-check" aria-hidden="true"></i>
                  {{ "join_now" | translate }}
                </button>
               
             
            
              </div>
            </div>
            
            <!-- EMPLOYER DETAILS FOR EMPLOYEE LOGIN -->
            
            <div
            
              [routerLink]="['/view_company_details']"
              (click)="
                service.setStorage('employerTempId', offer.employerDetails.employerId)
              "
              class="card bx_shadow pointer"
              style="min-height: auto;"
            >
              <div class="card-body">
                <h6 class="yellow_bg_text pointer  p-2">
                  {{ "about_employer" | translate }}
                </h6>
                <div
                  *ngIf="!offer.employerDetails.employerProfileImage"
                  class="w-100 mx-auto"
                >
                  <img
                    *ngIf="
                      !offer.employerDetails.profileImage ||
                      offer.employerDetails.profileImage == 'default'
                    "
                    src="assets/images/pro_company.jpg"
                    class="img-fluid right_img_user mx-auto"
                    alt=""
                  />
                  <img
                    *ngIf="
                      offer.employerDetails.profileImage &&
                      offer.employerDetails.profileImage != 'default'
                    "
                    src="{{ service.url }}/download/profile.json?fileID={{
                      offer.employerDetails.profileImage
                    }}&token={{ service.getStorage('token') }}"
                    class="  right_img_user rounded-circle mx-auto"
                  />
                </div>
                <div *ngIf="!offer.employerDetails.profileImage" class="w-100 mx-auto">
                  <img
                    *ngIf="
                      !offer.employerDetails.employerProfileImage ||
                      offer.employerDetails.employerProfileImage == 'default'
                    "
                    src="assets/images/pro_company.jpg"
                    class="img-fluid right_img_user mx-auto"
                    alt=""
                  />
                  <img
                    *ngIf="
                      offer.employerDetails.employerProfileImage &&
                      offer.employerDetails.employerProfileImage != 'default'
                    "
                    src="{{ service.url }}/download/profile.json?fileID={{
                      offer.employerDetails.employerProfileImage
                    }}&token={{ service.getStorage('token') }}"
                    class="  right_img_user rounded-circle mx-auto"
                  />
                </div>
                <p>
                  <b class="text_blue" *ngIf="offer.employerDetails.employerName">
                    {{ service.transform(offer.employerDetails.employerName) }}
                  </b>
                </p>
            
                <p>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  {{ service.transform(offer.employerDetails.addressLine1) }}
                </p>
            
                
                <p>
                  <span class="starrate_btn">
                    <ngb-rating
                      [(rate)]="
                        offer.employerDetails.rating / offer.employerDetails.ratingCount
                      "
                    >
                      <ng-template let-fill="fill" let-index="index">
                        <span
                          class="star"
                          [class.filled]="fill === 100"
                          [class.bad]="
                            index <
                            offer.employerDetails.rating / offer.employerDetails.ratingCount
                          "
                          >&#9733;</span
                        >
                      </ng-template>
                    </ngb-rating>
                    <small>
                      <span class="mx-1 text-left"
                        >({{ offer.employerDetails.ratingCount }}&nbsp;{{
                          "reviews" | translate
                        }}
                        )</span
                      ></small
                    >
                  </span>
                </p>
            
              
            
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>