<!-- Header with Background Image -->
<!-- Modal -->


<div class="modal fade" id="modal_approve_proposal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-lg " role="document">
    <div class="modal-content">

      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " id="exampleModalLabel"> {{'enter_your_description_about_work' | translate}} </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">


        <div class="col-md-12 text-left">
          <p class="mt-2  mb-2 font-weight-bold">
            {{'amount_you_would_like_to_bid' | translate}}
          </p>




          <div class="row">
              <div *ngIf="wageMode=='hourly'" class="col-md-4 field-label-responsive text-left">
                  <label for="password" class="labelrequired">{{'minimumhour' | translate}}</label>
                </div>
    
                <div *ngIf="wageMode=='hourly'" class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon"></div>
    
                      <div class="input-group mb-3">
                        <input type="text" maxlength=4 (keydown)="service.validateInputKey($event)" class="form-control"
                          placeholder="{{'minimumhour' | translate}}" [(ngModel)]="minhour" aria-label="Recipient's username"
                          aria-describedby="basic-addon2" />
    
    
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2"> {{'hr' | translate}} </span>
                        </div>
    
                      </div>
                    </div>
                   
                    <span class="danger" *ngIf="!minhour  && submitError==true">{{validationMsg.invalidMinhour}}</span><br>
                    <span class="danger" *ngIf="minhour&&minhour>24  && submitError==true">{{validationMsg.invalidMinHour}}</span>
    
                  </div>
                </div>

           <div *ngIf="wageMode=='hourly'" class="col-md-4 field-label-responsive">
              <label for="password" class="labelrequired"> {{'hourly_rate' | translate}} </label>
            </div>
            <div *ngIf="wageMode=='hourly'" class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon"></div>

                  <div class="input-group mb-3">
                    <input type="text" maxlength='4' (keydown)="service.validateInputKey($event)" #hourlyRateInput
                      class="form-control" placeholder=" {{'hourly_rate' | translate}} " [(ngModel)]="hourlyRate"
                      aria-label="Recipient's username" aria-describedby="basic-addon2" />

                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"> {{'defaultcurrency' | translate}} </span>
                    </div>

                   
                  </div>
                </div>
                <span *ngIf="minhour && hourlyRate && hourlyRate >=proposal.standardWage">
                  
                    {{'uptoxhrs' | translate:{'hrs':minhour} }}
                    {{(minhour*hourlyRate)}}&nbsp;
                    {{'defaultcurrency' | translate}} . 
                    {{'afterXhrs' | translate : {'x':minhour} }}
                    {{
                    hourlyRate}} {{'defaultcurrency' | translate}} / {{'hr' | translate}}
                  </span>
                <span class="danger" *ngIf="!hourlyRate && submitError==true">{{validationMsg.wagesInvalid}}</span><br>
                <span class="danger"
                *ngIf="hourlyRate < proposal.jobDetails.standardWage">{{validationMsg.belowStandardWage}}</span>
            
              </div>
            </div>
        

            <div *ngIf="wageMode=='fixed'" class="col-md-4 field-label-responsive text-left">
              <label for="password" class="labelrequired">{{'fixed_rate' | translate}}</label>
            </div>

            <div *ngIf="wageMode=='fixed'" class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon"></div>

                  <div class="input-group mb-3">
                    <input type="text" maxlength=4 (keydown)="service.validateInputKey($event)" class="form-control"
                      placeholder="{{'fixed_rate' | translate}}" [(ngModel)]="fixedWages" aria-label="Recipient's username"
                      aria-describedby="basic-addon2" />


                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"> {{'defaultcurrency' | translate}} </span>
                    </div>

                  </div>
                </div>
                <span class="danger" *ngIf="!fixedWages && submitError==true">{{validationMsg.invalidFixedRate}}</span><br>
                <span class="danger"
                *ngIf="fixedWages < proposal.jobDetails.fixedStandardWage">{{validationMsg.belowStandardWage}}</span>
            
              </div>
            </div>
            <div class="col-md-12">
               
              <app-ratecard 
              [budget]='this.proposal.jobDetails.hourlyWages?
              this.proposal.jobDetails.hourlyWages:this.proposal.fixedWage'
              [wageMode]='this.proposal.jobDetails.wageMode'
              [minWage]="this.proposal.jobDetails.jobPostType!='urgent' ?
              this.proposal.jobDetails.wageMode=='hourly'?
              this.proposal.jobDetails.standardWage : this.proposal.jobDetails.fixedStandardWage :
              this.proposal.jobDetails.wageMode=='hourly'?
              this.proposal.jobDetails.urgentStandardWage : this.proposal.jobDetails.urgentFixedStandardWage"
              [minHour]="this.minhour"
              [proposal]="this.proposal.jobDetails.wageMode=='hourly'?this.hourlyRate:
              fixedWages"
              ></app-ratecard>
            </div>
            <div class="col-md-4 field-label-responsive">
              <label for="password">{{'attachments' | translate}}</label>
            </div>

            <div class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon"></div>

                  <div class="input-group mb-3 file_up_style" style="display: none">
                    <span class="hide_fileup">
                      <span class="float-left" *ngIf="fileName">{{service.fileNameFormater(fileName[fileName.length
                        - 1]) }}</span>
                      <input type="file" id="upload_file" multiple #attachment accept="{{service.fileFormat}}" (change)=fileEvent($event)
                        aria-label="Recipient's username" aria-describedby="basic-addon2" />
                    </span>

                    <span onclick="triggerFileInput()" id='button_up'>{{'selectfile' | translate}}</span>

                    <div class="input-group-append">

                    </div>
                  </div>

                  <div *ngIf="counter!=0">
                    <app-editattachment [attachments]="proposalAttachments" [fileName]="fileName" (messageEvent)="deleteFileicon($event)"></app-editattachment>

                  </div>

                  <div *ngIf="this.counter <5 " class="img_attach_sm img_plus "  onclick="triggerFileInput()">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
              </div>

              <p class="mt-2  mb-2">
                {{'fileuploadlimit' | translate}}
              </p>
            </div>
           
            <div class="col-md-4 field-label-responsive">
              <label for="password" class="labelrequired">{{'comment' | translate}}</label>
            </div>

            <div class="col-md-8">
              <div class="form-group">
                <textarea #cover [(ngModel)]="coverLetter" maxlength="1500" class="form-control" id="exampleFormControlTextarea1"
                  rows="3"></textarea>

              </div>
              <span>{{1500-coverLetter.length}}&nbsp;{{'left' | translate}}</span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <p *ngIf="error" class="danger">{{error}} </p>
            </div>

          </div>

        </div>
        
        <div class="col-md-12">
          <!--Approve proposal-->
          <div class=" w-100">
            <button *ngIf="page==0" [disabled]="fileLoader" type="button" class="btn btn_alkafu  my-2 pull-right" (click)="approveProposal()">
              <i class="fa fa-check" aria-hidden="true"></i>

              {{'approve_proposal' | translate}}
            </button>
            <button *ngIf="page==1" [disabled]="fileLoader" type="button" class="btn btn_alkafu  my-2 pull-right" (click)="approveInvitation()">
              <i class="fa fa-check" aria-hidden="true"></i>

              {{'approve_proposal' | translate}}
            </button>

          </div>
          <!-- Invitation proposal-->

        </div>





        <!-- <button type="button" (click)="service.startTimecontract()" class="btn btn_alkafu pull-right">{{'save' | translate}} </button> -->
      </div>


    </div>
  </div>
</div>

<!-- modal end -->

<div class="container-fluid mt100">
  <!-- iconrow -->
  <ng4-loading-spinner *ngIf="loaderShow" [timeout]="90000"> </ng4-loading-spinner>
  <div class="row mt-4">
    <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container-fluid  mt-2">
        <div class="row">
          <!-- <div class="col-md-12 mx-auto mb-2">
            <h4 class="text-center bg-white pt-2 pb-2 b_shadow">Employee details</h4>
          </div> -->

          <div class="col-md-7">
            <div class="card bx_shadow">
              <div class="card-body">
                <div class="row  topsubmenu1">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3">
                        <img *ngIf="!proposal.employeeDetails.profileImage || proposal.employeeDetails.profileImage=='default'"
                          src="{{service.prfImgTemp}}" class="propicview_detail  w-100 rounded-circle mx-auto ">

                        <img *ngIf="proposal.employeeDetails.profileImage && proposal.employeeDetails.profileImage!='default'"
                          src="{{service.url}}/download/profile.json?fileID={{proposal.employeeDetails.profileImage}}&token={{service.getStorage('token')}}"
                          class="propicview_detail  w-100 rounded-circle mx-auto">
                      </div>

                      <div class="col-md-5">
                        <h5 class="text_blue pt-2 text-left">{{proposal.employeeDetails.employee}}</h5>

                        <h6 *ngIf="proposal.profileTitle" class="text-left">
                          {{proposal.employeeDetails.profileTitle }}
                        </h6>

                        <p class="text-left"><i class="fa fa-suitcase" aria-hidden="true"></i> {{'experiance' |
                          translate}} :
                          {{proposal.employeeDetails.experienceYear}}&nbsp; {{'years' | translate}}
                        </p>
                        <p class="text-left"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                          {{proposal.employeeDetails.city}} -
                          {{proposal.employeeDetails.state}} - {{proposal.employeeDetails.country}}</p>
                        <p class="text-left"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                          {{proposal.employeeDetails.education}} </p>
                        <p class="text-left">{{'hourly_rate' | translate}} - {{proposal.employeeDetails.hourlyWages}}
                          {{proposal.employeeDetails.currency}} </p>
                      </div>


                      <div class="col-md-4 ml-auto">
                        <!--Approve proposal-->
                        <div *ngIf="page==0 && proposal.proposalStatus=='Pending'" class="btn-group w-100">
                          <button type="button" data-toggle="modal" data-target="#modal_approve_proposal" class="btn btn_alkafu w-100 my-2">
                            <i class="fa fa-check" aria-hidden="true"></i>

                            {{'approve_proposal' | translate}}
                          </button>
                        </div>
                        <!-- Invitation proposal-->
                        <div *ngIf="page==1 && proposal.proposalStatus=='Pending'" class="btn-group w-100">
                          <button type="button" data-toggle="modal" class="btn btn_alkafu w-100 my-2" data-target="#modal_approve_proposal">
                            <i class="fa fa-check" aria-hidden="true"></i>

                            {{'approve_invitation' | translate}}
                          </button>
                        </div>

                        <div *ngIf="proposal.proposalStatus=='Pending'" class="btn-group w-100">
                          <button class="btn accept_icon w-100  my-2  " [swal]="rejectProposal">
                            {{'reject' | translate}}</button>
                        </div>
                        <div *ngIf="proposal.proposalStatus=='Rejected'" class="btn-group w-100">
                            <button class="btn btn_alkafu w-100  my-2  " disabled  >
                              {{proposal.proposalStatus}}</button>
                          </div>

                      </div>

                    </div>
                  </div>

                </div>


                <!-- <hr>
                <div class="row  topsubmenu1" *ngIf="proposal.employeeDetails.skill!=0">
                  <div class="col-md-12">

                    <p class="text-left">

                      <span class="text-left">{{'skill_set' | translate}} :


                      </span>
                      <span *ngFor="let val of skillFormat(proposal.employeeDetails.skill)" class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">{{val}}</span>

                    </p>


                  </div>
                </div> -->
                <!---->
                <hr>
                <div class="row  topsubmenu1 py-3 text-left">


                  <div class="col-md-4">
                    <p>
                      <i class="fa fa-user" aria-hidden="true"></i>

                      {{'gender' | translate}} : {{proposal.employeeDetails.gender}}
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i class="fa fa-calendar-o" aria-hidden="true"></i>

                      {{'age' | translate}} : {{proposal.employeeDetails.age}}&nbsp;{{'years' | translate}}
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>

                      {{'height' | translate}} : {{proposal.employeeDetails.height}}&nbsp;{{'cm' | translate}}
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i class="fa fa-arrows-h" aria-hidden="true"></i>

                      {{'weight' | translate}} : {{proposal.employeeDetails.weight}} &nbsp;{{'kg' | translate}}
                    </p>
                  </div>

                  <div class="col-md-4">

                    <span class="starrate_btn text-left">
                      <ngb-rating [(rate)]="proposal.employeeDetails.rating/proposal.employeeDetails.ratingCount">

                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < proposal.employeeDetails.rating/proposal.employeeDetails.ratingCount">&#9733;</span>
                        </ng-template>

                      </ngb-rating>
                      <span class="mx-1 text-left">({{proposal.employeeDetails.ratingCount}} {{'reviews' | translate}})</span>

                    </span>

                  </div>

                  <div class="col-md-4">
                    <p> <i class="fa fa-money" aria-hidden="true"></i> &nbsp;{{'money_earned' | translate}} : <b>{{employeeDetails['amountEarned']}}
                        {{'defaultcurrency' | translate}}
                      </b> </p>
                  </div>

                  <div class="col-md-12 py-2">
                    <h5 class="yellow_bg_text text-left"> {{'terms_of_employee' | translate}} </h5>
                  </div>

                  <!------------>



                  <div class="col-md-12">
                    <div class="row">
                      <!----- Hourly wage mode---->
                      <div *ngIf="jobDetails.wageMode=='hourly'" class="col-md-12 field-label-responsive text-left">
                        <b> <label class=" text-left"> {{'wagemode' | translate}} : </label></b>
                        &nbsp; <span class="text_blue" style="font-weight: 700;">{{ jobDetails.wageMode |titlecase }}</span>
                        <br>
                        <b> 
                          <label for="password" class=" text-left"> 
                            {{'uptoxhrs' | translate :{'hrs':proposal.minHour?proposal.minHour:'0'} }}
                            </label></b>
                        &nbsp; <span class="text_blue" style="font-weight: 700;">{{proposal.minHour?(proposal.minHour*proposal.hourlyWages):0}}</span>
                        &nbsp;
                        <span class="">{{proposal.proposalCurrency
                          ?proposal.proposalCurrency:proposal.currency }}</span>
                        <br>
                        <b> <label for="password" class=" text-left"> {{'hourly_rate' | translate}} : </label></b>
                        &nbsp; <span class="text_blue" style="font-weight: 700;">{{proposal.hourlyWages?proposal.hourlyWages:0}}</span>
                        &nbsp;
                        <span class="">{{proposal.proposalCurrency
                          ?proposal.proposalCurrency:proposal.currency }}</span>
                      </div>
                      <!---- Fixed wage mode-->
                      <div *ngIf="jobDetails.wageMode=='fixed'" class="col-md-12 field-label-responsive text-left">
                          <b> <label class=" text-left"> {{'wagemode' | translate}} : </label></b>
                          &nbsp; <span class="text_blue" style="font-weight: 700;">{{ jobDetails.wageMode |titlecase }}</span>
                          
                          <br>
                          <b> <label for="password" class=" text-left"> {{'fixedfair' | translate}} : </label></b>
                          &nbsp; <span class="text_blue" style="font-weight: 700;">{{proposal.fixedWage?proposal.fixedWage:'-'}}</span>
                          &nbsp;
                          <span class="">{{proposal.proposalCurrency
                            ?proposal.proposalCurrency:proposal.currency }}</span>
                        </div>

                      <div class="col-md-12 field-label-responsive text-left">
                        <b> <label for="password" class="text-left"> {{'comment' | translate}} : </label> </b>
                        &nbsp; <span class="text-left">
                          {{proposal.proposalCoverLetter ? proposal.proposalCoverLetter?proposal.proposalCoverLetter:'-':proposal.coverLetter?proposal.coverLetter:'-' }}
                        </span>
                      </div>

                      <div class="col-md-12 field-label-responsive text-left">
                        <!-- Proposal page-->
                        <app-atachmentview [attachments]="proposal.proposalAttachments"></app-atachmentview>

                        <!--Application page-->
                        <app-atachmentview [attachments]="proposal.attachments"></app-atachmentview>

                      </div>

                    </div>

                  </div>
                  <!--------------------------->
                  <hr>
                </div>
                <!---->

                <app-employeefeaturedwork [featuredImage]="featuredImage" [imageUrl]="imageUrl" [featuredVideo]="featuredVideo"
                [videoUrl]="videoUrl"></app-employeefeaturedwork>
                

              </div>
            </div>
          </div>



          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12 my-2">
                <div class="card bx_shadow">
                  <div class="card-body">
                    <div class="row  topsubmenu1">
                      <div class="col-md-12 bg-medium-blue">
                        <h5 class="card-title  text-white pt-2 px-2 text-left"> {{'about_job' | translate}} </h5>
                      </div>

                      <hr>
                    </div>

                    <hr>

                    <div class="row  topsubmenu1">
                      <div class="col-md-12">
                        <h5 class="card-title  text_blue  pt-2 px-2 text-left">{{service.transform(jobDetails.jobTitle)}}</h5>

                        <p class="text-justify">
                          {{service.transform(jobDetails.jobDescription)}}
                        </p>

                        <hr>
                      </div>

                      <!-- <div *ngIf="jobDetails.skill!= 0" class="col-md-12">
                        <p class="text-left"> {{'skill_set' | translate}} :
                          <span *ngFor="let val of skillFormat(jobDetails.skill)" class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">{{val}}</span>
                        </p>
                      </div> -->
                    </div>

                    <div class="row  topsubmenu1">
                      <div class="col-md-12 text-left">
                        <p class="text-left">
                          {{'industry_type' |translate}} : {{jobDetails.category}}

                          <br>
                          {{'functional_area' |translate}} : {{jobDetails.subCategory}}
                        </p>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>

              <div *ngIf="feedBack.length > 0" class="col-md-12">
                <div class="card bx_shadow">
                  <div class="card-body">
                    <div class="row  topsubmenu1">
                      <div class="col-md-12 bg-medium-blue">
                        <h5 class=" text-left card-title  text-white pt-2 px-2"> {{'work_history_and_feedback' |
                          translate}} </h5>
                      </div>
                      <hr>
                    </div>
                    <span *ngFor="let val of feedBack;let i=index">
                      <div class="row my-2">
                        <div class="col-md-12 ">
                          <h6 class="text-left">{{service.transform(val.createUserName)}}</h6>
                        </div>
                        <div class="col-md-3 ">
                            <ngb-rating [(rate)]="feedBackRating[i]">
                              <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100" [class.bad]="index < feedBackRating[i]">&#9733;</span>
                              </ng-template>
                            </ngb-rating>
                         
                        </div>

                        <div class="col-md-7 ">
                          <p class="text-left"> {{(val.createdAt) | date: 'dd MMMM yyyy h:mm a'}}</p>
                        </div>
                        <div class="col-md-12 ">
                          <p class="text-left font-italic">
                            {{service.transform(val.comment)}}
                          </p>
                        </div>

                      </div>
                      <hr>
                    </span>


                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <!-- end iconrow -->
  </div>
  <swal #rejectProposal [title]="'areyousure' | translate" [text]="'cantbeundone' | translate" type="question"
    [showCancelButton]="true" [focusCancel]="true" (confirm)="rejectProposals()">
  </swal>