
h1 , h2 , h3 , h4 ,h5,h6, p ,a , label  {
  word-break:break-word !important;
  /* overflow-wrap: break-word !important; */
}
small{
  word-break: break-all;
}
.vh-100_map{
  height: 100vh;
  overflow-y: scroll;
}
.timerstyle_timelog{
  color: #002d68 !important;
  font-size: 3rem;
  /* padding-top: 40px; */
  font-family: serif !important;
}
/* toastr toastr-success ng-star-inserted */
.toastr{
  margin-top: 120px !important;
  z-index: 999 !important;
 background-color:#dee1e8 !important;
 }
 .toastr-custom {
  /* height: 40px !important; */
 }
 #toastr-container{
  z-index: 100 !important; 
 /* background-color:#dee1e8 !important; */

 
 }
 #toastr-container.bottom-full-width > div, #toastr-container.top-full-width > div {
   width : 100% !important;
 }
.notificationmsg{
  font-size: 15px !important
}
.logout{
  display: block;
  color: white;
  text-align: center;
  padding: 17.5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.logout:hover {
  background-color: #002d68;
  color: #f9ed0b !important;
}
.ongoing{
color: #008700
}
.paused{
  color: #f5a217
}
.stop{
  color: #fe0002
}
.default{
  color: #1569c7
}
.pt-40{
  padding-top: 40px;
}
/* body {
  font-family: "Gotham SSm",Helvetica,Arial,sans-serif !important;
} */

/* fa fa icon changes */

.change-icon > .fa + .fa,
.change-icon:hover > .fa {
  display: none;
}
.change-icon:hover > .fa + .fa {
  display: inherit;
}
/* icon changes */
/* scrolltop_button */
.btn125{
  min-width: 125px !important;
}
.num_li_leader{
  background-color: #ccc;
  border-radius: 50%;
  padding: 4px;
  width: 25px;
  font-size: 10px !important;
  margin-left: 50%;
}
.img_attach_sm{
    /* width: 50px;
    height: 55px;
    object-fit: cover;
    background-color: #fff; */
    margin: 7px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: #fff;
    border-radius: 10px;
}
/* .img_attach_sm > img{
  margin: 7px;
  width: 100px;
  height: 100px;
  object-fit: cover;

} */
.img_plus{
  /* border: 1px solid #6c757d; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  margin-top: 9px;
    text-align: center;
    cursor: pointer;
    
 
}
.lan_item_head{
  font-weight: 700;
    margin-top: 10px;
}
.img_plus>.fa{
    /* margin-top: 17px; */
    font-size: 30px;
    line-height: 95px;
    color: #002d68;
}
.img_other_lan{
  width: 23px;
}
.close_red_corner{
  position: absolute;
    /* left: 79px; */
    background-color: rgba(226, 8, 8, 0.8);
    border-radius: 50%;
    padding: 6px;
    /* top: 3px; */
    margin-left: 31px;
    margin-top: -14px;
    color: #000;
    cursor: pointer !important;
}
.img_attachment_plus{
  object-fit: cover;
    /* width: 100%; */
    height: 100px;
    border-radius: 10px;
}
.bdr_right_left{
     border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}
.title_ash_clr{
  color: #7b7979;
  font-size:20px;
}
.bg_lightash_card{
  background-color: #f7f7f7;
}
/* ::-webkit-scrollbar {
  width: 5px !important;
} */
.style-scroll::-webkit-scrollbar
{
	/* -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.1); */
  width: 0.5px !important; 
	background-color :transparent !important;
}
.scroll_employees_text{
  font-size: 13px !important;
}
.scroll_employee_button{
  background-color: transparent;
  border:3px solid #ccc;
  color: #ccc;
  font-size: 13px !important;
  border-radius: 5px;
}
.txt_light_blue_clr{
  color: #002d68 !important;
  width: 20px;
}
.img_ribbon_scroll{
  position: absolute;
  left: 20%;
    bottom: -18px;
    width: 60%;
  height: 35px;
}
.w-90p{
width: 90%;
margin: auto;
}
.w-80p{
  width: 80%;
  margin: auto;
  }
.patern_line{
  background-image: url("../../images/linepattern22.png");
  background-repeat: repeat;
  /* opacity: 0.5; */
}
::-webkit-scrollbar-thumb {
 
  border-radius: 10px;
}
.list_pic_rate{
  width: 70px;
  position: absolute;
  right: 28px;
}
.min_h100{
  min-height: 80px !important;
}
.work_pic_div{
  overflow-x: scroll;
}
.work_pic{
  /* width: 100px; */
  height: 80px !important;
  border-radius: 10px;
  object-fit: cover;
}
.work_video{
  position: relative;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.work_video:hover{
  opacity: 0.5;
  /* border: px solid #ccc; */
}
.middle_video {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}
.green_label{
  background-color: green;
    padding: 3px;
    color: #fff;
    border-radius: 7px;
    display: block;
    width: 55px;
}
.ash_label{
  background-color: #757678;
    padding: 3px;
    color: #fff;
    border-radius: 7px;
}

.work_video:hover > .middle_video {
  opacity:1;
}
.work_video:hover .text_video {
  opacity:1;
}
 .middle_video:hover {
  opacity:1;
}
.work_video:hover  .middle_video {
  opacity:1;
}

.text_video {
  background-color: #030303;
  color: white;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 50%;
}
.bdr_category_details{
  border: 1px solid #ccc;
    padding: 8px;
    border-radius: 10px;
}
.mb_0{
 margin-bottom: 0.5px !important;
}
.mainheading1{
  color: #7b7979;
    margin-bottom: 0.25rem;
    font-size: 17px;
}
.txt_hr_rate{
  /* position: absolute; */
    text-align: center;
    z-index: 50;
    color: #fff;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    /* left: 0;
    right: 0;
    bottom: -14px; */
    font-size: 18px;
}
.clr_verified{
  color: #fff;
    background-color: #175f0b;
    padding: 3px;
    border-radius: 50%;
    font-size: 10px !important;
}
.scroll_employee_button :hover{
 
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2), -1px 0px 7px 0px rgba(0, 0, 0, 0.19)
}
.scroll_employees{
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.employee_list_propic1{
  width: 50px !important;
    height: 50px;
    object-fit: cover;
}
.txt_hr_rate1{
     color: #002d68;
    font-weight: 700;
}
.time_line_round{
     width: 330px;
    height: 330px;
    margin: auto;
    
    padding: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}
#return-to-top {

  position: fixed;
  bottom: 40px;
  right: 20px;
  /* background: rgb(0, 0, 0); */
  background: rgb(108, 117, 125);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 15px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 28, 78, 0.7);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
/* scroll_top_end */

.grp_chat_card > .card-body {
  padding: 0.8rem !important;
}
.w-70{
  width: 70%;
  margin-left: 15%;
}
.bdgchat{
  background: #21c612;
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.btn_transparnt{
  background-color: transparent !important;
  border: none;
}
.txt_ash_small{
  color: #ccc;
    font-size: 12px;
}
.txt_ash_light{
  color: #a7a3a3;

}
.bg_ash_light{
  background-color: #fcfcfc;
}
.employee_view_scroller {
    /* height: 50px; */
    height: 100px;
    object-fit: cover;
}
.pointer{
  cursor: pointer;
}
label{
  font-weight: 500;
  
}
.bg_darklight{
  background-color: #d8d8d8;}
input[type=text] {
  padding-left: 10px !important;
}
input[type=select]{
  padding-left: 10px !important;
}
.light_top_ash{
  background-color: #e0e2e4;
}
.star {
  font-size: 1.5rem;
    color: #fff;
    /* border: 1px #ccc; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFC107;
}
.btn_edit_ab {
  position: absolute;
  right: 17px;
  font-size: 1.5rem;
  color: #c7c8ca;
}

.map_urgent{
  position: fixed;
    height: 50 vh;
    z-index: 1000;
    display: block;
    background-color: #fff;
}
.filled {
  color: #Fff;
}
.bad {
  color: #FFC107;
}
.filled.bad {
  color: #FFC107;
}
.img_attachment_left{
  width: 13%;
  
  margin: 2px;
    padding: 5px;
   border: 1px solid #ccc;
  
}

.ldr_file{
  position: absolute; width: 20px;z-index: 5;top: 0;
}
.txt_ash {
  color: #2c312b !important;
 
}
.txt_dark_blue_header {
  color: #001c4e !important;
}
.hover_style:hover{
  cursor: pointer;
}

.right_img_user{
  margin-left: 22% !important; width: 120px; height: 120px; object-fit: cover; margin-top: 15px; margin-bottom: 15px;
  box-shadow: 0px 1px 10px #ccc;
}
.bx_shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bdr-radius{
  border-radius: 4px;
}

.arrowreg_page {
  background-color: #001c4e;
    width: 100%;
    height: 38px;
    display: inline-block;
    position: relative;
}
.arrowreg_page > p {
 color: #fff;
 margin-top: 8px;
}
.propichome {
  width: 60px !important;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  text-align: center;
  border: 2px solid #4285df;
}

.arrowreg_page_ash {
  background-color: #ccc;
    width: 100%;
    height: 38px;
    display: inline-block;
    position: relative;
}
.arrowreg_page_ash > p {
 color: #001c4e;
 margin-top: 8px;
}
#active_menu_empoyee li.active > a {
  /* background-color: #001c4e; */
  color: #f9ed0b;
}
.arrowreg_page_ash:before{
  
  /* color: #ccc;
    border-left: 18.5px solid;
    border-top: 18.5px solid transparent;
    border-bottom: 18.5px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    right: -18.5px; */
}
.employee_list_propic{
    height: 100px;
    width: 100px !important;
    object-fit: cover;
}
.bkg_rank{
  background-color: #fff;
  padding: 5px;
  border: 2px solid #007FBB;
  border-radius: 50%;
  width: 50px;
   height: 50px;
}
.font_20_over{
     font-size: 20px;
    font-weight: 700;
}
.rank_icon_gold{
    
    background-color: #FF9800;
    padding: 5px;
    border-radius: 50%;
    margin-top: 5px;
}
.rank_icon_silver{
    
  background-color: silver;
  padding: 5px;
  border-radius: 50%;
  margin-top: 5px;
}
.ribbon {
  position: absolute;
  right: -5px; 
  top: -4px;
  z-index: 1;
  overflow: hidden;
  width: 75px; 
  height: 75px; 
  text-align: right;
  /* background: transparent url("../../images/urgent1.png") no-repeat  ; */

}
.ribbon span {
  font-size: 10px;
    color: #001c4e;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #a07d13;
    background: linear-gradient(#f9ed0b 0%, #ffc107 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}
.urgent_badge{
  -webkit-transform: rotate(48deg);
  -moz-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  -o-transform: rotate(48deg);
  transform: rotate(48deg);
  position: absolute;
    border-right-color: -19px;
    top: 3px;
    right: -31px;
}
.employee_shadow{
  box-shadow: 1px -4px 10px #ccc !important;
}
.t_w{
  color: #fff;
}
.detailview_propic{
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #002d68 !important;
  margin-bottom: 14px;
}
.form_propic{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.txt_bl{
  color: #001c4e;
}
terms_tick:hover{
    color: #001c4e;
}
.top-bar:hover{
 cursor: pointer;
 background: #001c4e;
}
.top-bar1:hover{
  cursor: pointer;
  background: #001c4e;
 }
.rightsidebar_propic{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.sked-tape--has-dates .sked-tape__caption
{
  margin-bottom: 3px !important
}
.resume,.start
{
    background-color: #90d48d !important
}
.pause
{
  background-color: #fff  !important;
  /* border: 1px dotted #0c2d67 !important */
}
.pointer
{
  cursor: pointer !important;
}

/* file upload */
.close_file{
  position: absolute;
  top: 12px;
  color: #e10001;
  /* left: 30px; */
  padding-left: 40px;
}
/* .fa-2x{
  font-size: 3rem !important;
} */
.down_file{
  position: absolute;
  top: 30%;
  color: #000;
  /* left: 30px; */
  padding-left: 17.5px;
    
}
.down_file_icon{
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  padding: 3px;
  background-color: #002d68;
  cursor: pointer;
}
.file_up_style {
  /* width: 400px; */
  height: 32px;
  background-color: white;
  box-shadow: 1px 2px 3px #ededed;
  position:relative;
  border: 1px solid #d8d8d8;
}
.hide_fileup > input[type='file'] {
  
  height:25px;
  opacity:0
}
#val {
 
  height:32px;
  position: absolute;
  top: 0;
  left: 0;
  font-size:13px;
  line-height: 32px;
  text-indent: 10px;
  pointer-events: none;
}
#val1 {
 
  height:32px;
  position: absolute;
  top: 0;
  left: 0;
  font-size:13px;
  line-height: 32px;
  text-indent: 10px;
  pointer-events: none;
}
#button_up, #button_up1 {
  cursor: pointer;
  display: block;
  width: 90px;
  background-color: #002d68;
  height:32px;
  color: white;
  position: absolute;
  right:0;
  top: 0;
  font-size: 11px;
  line-height:32px;
  text-align: center;
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  transition: 500ms all;
}
.featuredwork
{
  height: 70px;
  object-fit: contain;
}
#button_up:hover {
  background-color: #001c4e;
}
/* file upload end */

input[type="date"] ,input[type="file"],input[type="number"]
{
  cursor: pointer !important;
}
.txt_18{
  font-size: 12px;
}
.email_modal_style{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img_propicmap{
  width: 80px;
  height: 80px;
  border-radius: 50% !important;
  margin: auto;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ng5-slider .ng5-slider-pointer {
  cursor: pointer;
  width: 15px !important;
  height: 15px !important;
  top: -7px !important;
  background-color: #0c2d67 !important;
 
}
.ng5-slider .ng5-slider-pointer:after  {
  display: none
}
.ng5-slider .ng5-slider-selection
{
  background-color: #0c2d67 !important;
}
.drop-zone{
  border: none !important;
  height: 10px !important;
}
.content[_ngcontent-c4] {
  color: #f7f7f7 !important;
  background-color: #fff !important;
  text-indent: 100% !important;
    white-space: nowrap !important;
   
  height: 10px !important;
}
*:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
.multi-column-dropdown > li > a:hover {
  background-color: #061c4d !important;
  /* width: 198px !important; */
  /* margin-left: -8px !important; */
  padding-left: 8px !important;
  margin-left: -7px !important;
    width: 197px;
   color: #fff !important;
}
.multi-column-dropdown > li {
  
  width: 198px !important;
  /* margin-left: -8px !important; */
  color: #fff !important;
}
.text_heading{
  /* font-family: 'Playfair Display', serif; */
  font-weight: 700;
  text-transform: uppercase;
  color: #002d68;
  
}
.nav-link_login{
    font-weight: 700 !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    
}
#id,.danger
{
    color: red;
    
}

.ng-select .inputstyletop  .ng-select-container:after
{
    border-bottom: 1px red;
}
.ng-value-container
{
    border:none !important;
    padding: 0 !important
}
.ng_select
{
    min-height: 51px;
}
.ng-select .ng-select-container
{
    min-height: 25px !important;
    padding-top: 3px;
    padding-bottom: 3px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {

  background-color: #fff !important;
  color: #061c4d;

}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  color: rgba(21, 20, 20, 0.54);
}
.ng-optgroup >.ng-option-label {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.dropbtn[_ngcontent-c4] {
    background-color: #eee!important;
    color: #c7c7c7 !important;
    border: 1px solid #a59f9f !important;
    border-right: none !important;
    cursor: pointer;
    border-radius: 0px !important;
}
.ng-dropdown-panel {
  margin-top: 16px !important;
}
.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
  
  top: 0px;
}
#msform fieldset {
  
  box-shadow: none !important;
  padding: 0 !important; 
  
}
.inputstyletop  {
    
    display: block;
    /* line-height: 1.5; */
    min-height: 25px !important;
    border: 0px solid white;
    color: #495057;
    background-color: #fff !important;

    background-clip: padding-box;
    border-radius: .25rem !important;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
    
}
.multiselect-dropdown[_ngcontent-c1] .dropdown-btn[_ngcontent-c1]{
    display: inline-block;
    background-color: #fff !important;
    border: 1px solid #fff !important;
    width: 100%;
    padding: 4.5px 1px!important;
    margin-bottom: 0;
    font-size: 11px !important;;
    font-weight:300 !important;
    
    border-radius: .25rem !important;
    top: 10px;
    width: 0;
    min-height: 25px;
    
    
}
.accept_edit {
  color: #002d68 !important;
    background-color: transparent;
    border: 1px solid #e6e3e3;
    line-height: 0.4;
    margin: auto;
    text-align: center;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: -4rem !important;
    padding-top: 0.6rem;
    /* box-shadow: 0px 3px 5px #ccc; */
    font-size: 1.5rem;
    /* border-radius: 4px; */
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.accept_edit:hover {
  color: #fff !important;
    background-color: #002d68 ;
    
   
}
.accept_icon1 {
  color: #001c4e;
  background-color: #e6e3e3;
  border: 1px solid #e6e3e3;
  margin: auto;
  margin-top: 3px;
  text-align: center;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  /* box-shadow: 0px 3px 5px #ccc; */
  padding: 6px 6px;
  text-transform: uppercase;
  font-size: 0.8rem;
  min-width: 100px;
  border-radius: 0px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
.accept_icon1:hover {
  color: #002d68;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 0px 5px 5px #ccc;
}
.chat-window{
    bottom:0;
    right: 17px;
   /* min-height: 100px;
    height: 410px;*/
    width: 300px;
    position:fixed;
    float:right;
    margin-left:10px;
    z-index: 10000;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.panel-body{
    display: none;

}
.panel-body1{
  display: block;
}
.msg_container_base{
  background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
  overflow-x:hidden;
}
.top-bar {
  background: #002d68;
    color: white;
    /* padding: 10px; */
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}
.top-bar1 {
  background: #1f2f53;
  border: 1px solid #007bff;
  border-bottom: none;
  color: white;
  /* padding: 10px; */
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    /*display: block;*/
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); /* not quite perfect but close*/
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}
.mapRate{
  background: #086ab7;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px;
    
}
.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
th {
    background-color: #002d68;
    color: #fff;
}
.page-item.active .page-link {
    background-color: #002d68 !important;
    border-color: #002d68 !important;
}
.btn_action{
    background-color: #002d68 !important;
    border-color: #002d68 !important;
    color: #fff !important ;
   
}
.btn_action a{
   
    color: #fff !important ;
    padding: 4px 8px !important;  
}
/****************Select box******************************************/
/* Style when highlighting a search. */
.ui-select-highlight {
    font-weight: bold;
  }
  
  .ui-select-offscreen {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
  }
  
  
  .ui-select-choices-row:hover {
    background-color: #f5f5f5;
  }
  
  /* Select2 theme */
  
  /* Mark invalid Select2 */
  .ng-dirty.ng-invalid > a.select2-choice {
      border-color: #D44950;
  }
  
  .select2-result-single {
    padding-left: 0;
  }
  
  .select2-locked > .select2-search-choice-close{
    display:none;
  }
  
  .select-locked > .ui-select-match-close{
      display:none;
  }
  
  body > .select2-container.open {
    z-index: 9999; /* The z-index Select2 applies to the select2-drop */
  }
  
  /* Handle up direction Select2 */
  .ui-select-container[theme="select2"].direction-up .ui-select-match {
      border-radius: 4px; /* FIXME hardcoded value :-/ */
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .ui-select-container[theme="select2"].direction-up .ui-select-dropdown {
      border-radius: 4px; /* FIXME hardcoded value :-/ */
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  
      border-top-width: 1px;  /* FIXME hardcoded value :-/ */
      border-top-style: solid;
  
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
  
      margin-top: -4px; /* FIXME hardcoded value :-/ */
  }
  .ui-select-container[theme="select2"].direction-up .ui-select-dropdown .select2-search {
      margin-top: 4px; /* FIXME hardcoded value :-/ */
  }
  .ui-select-container[theme="select2"].direction-up.select2-dropdown-open .ui-select-match {
      border-bottom-color: #5897fb;
  }
  
  /* Selectize theme */
  
  /* Helper class to show styles when focus */
  .selectize-input.selectize-focus{
    border-color: #007FBB !important;
  }
  
  /* Fix input width for Selectize theme */
  .selectize-control > .selectize-input > input {
    width: 100%;
  }
  
  /* Fix dropdown width for Selectize theme */
  .selectize-control > .selectize-dropdown {
    width: 100%;
  }
  
  /* Mark invalid Selectize */
  .ng-dirty.ng-invalid > div.selectize-input {
      border-color: #D44950;
  }
  
  /* Handle up direction Selectize */
  .ui-select-container[theme="selectize"].direction-up .ui-select-dropdown {
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
  
      margin-top: -2px; /* FIXME hardcoded value :-/ */
  }
  
  /* Bootstrap theme */
  
  /* Helper class to show styles when focus */
  .btn-default-focus {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
    text-decoration: none;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  
  .ui-select-bootstrap .ui-select-toggle {
    position: relative;
  }
  
  .ui-select-bootstrap .ui-select-toggle > .caret {
    position: absolute;
    height: 10px;
    top: 50%;
    right: 10px;
    margin-top: -2px;
  }
  
  /* Fix Bootstrap dropdown position when inside a input-group */
  .input-group > .ui-select-bootstrap.dropdown {
    /* Instead of relative */
    position: static;
  }
  
  .input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
    border-radius: 4px; /* FIXME hardcoded value :-/ */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
    border-radius: 4px !important; /* FIXME hardcoded value :-/ */
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  
  .ui-select-bootstrap > .ui-select-match > .btn{
    /* Instead of center because of .btn */
    text-align: left !important;
  }
  
  .ui-select-bootstrap > .ui-select-match > .caret {
    position: absolute;
    top: 45%;
    right: 15px;
  }
  
  .ui-disabled {
      background-color: #eceeef ;
      border-radius: 4px;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
      opacity: 0.6;
      top: 0;
      left: 0;
      cursor: not-allowed;
  }
  
  /* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
  .ui-select-bootstrap > .ui-select-choices {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: -1px;
  }
  
  body > .ui-select-bootstrap.open {
    z-index: 1000; /* Standard Bootstrap dropdown z-index */
  }
  
  .ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: 3px 3px 0 3px;
  }
  
  .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    background-color: transparent !important; /* To prevent double background when disabled */
    border: none;
    outline: none;
    height: 1.666666em;
    margin-bottom: 3px;
  }
  
  .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    font-size: 1.6em;
    line-height: 0.75;
  }
  
  .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    outline: 0;
    margin: 0 3px 3px 0;
  }
  
  .ui-select-multiple .ui-select-match-item {
    position: relative;
  }
  
  .ui-select-multiple .ui-select-match-item.dropping-before:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    margin-right: 2px;
    border-left: 1px solid #428bca;
  }
  
  .ui-select-multiple .ui-select-match-item.dropping-after:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    margin-left: 2px;
    border-right: 1px solid #428bca;
  }
  
  .ui-select-bootstrap .ui-select-choices-row>a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
  }
  
  .ui-select-bootstrap .ui-select-choices-row>a:hover, .ui-select-bootstrap .ui-select-choices-row>a:focus {
      text-decoration: none;
      color: #262626;
      background-color: #f5f5f5;
  }
  
  .ui-select-bootstrap .ui-select-choices-row.active>a {
      color: #fff;
      text-decoration: none;
      outline: 0;
      background-color: #428bca;
  }
  
  .ui-select-bootstrap .ui-select-choices-row.disabled>a,
  .ui-select-bootstrap .ui-select-choices-row.active.disabled>a {
      color: #777;
      cursor: not-allowed;
      background-color: #fff;
  }
 
  /* fix hide/show angular animation */
  .ui-select-match.ng-hide-add,
  .ui-select-search.ng-hide-add {
      display: none !important;
  }
  
  /* Mark invalid Bootstrap */
  .ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
      border-color: #D44950;
  }
  
  /* Handle up direction Bootstrap */
  .ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
  }
  .ng-dropdown-panel 
  {
      
      left: 0 !important;
  }
  .ng-select .ng-select-container:after
  {
      border-bottom: none;
  }
  .ng-select{
      padding-bottom: 0 !important;
  }
.btn_white{
    background-color: #fff;
    border: none;
    color: #002d68;
    padding: 0px;
    border-radius: 0px;
    margin-top: 1rem;
    height: 25px;
    margin-top: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;  
}
.imgsmicon {
    width: 100%;
    margin: 1.5%;
    text-align: center;
    webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    min-height: 6rem;
    background-color: #fff;
    border: 2px solid #fff;
}
.imgsmicon:hover {
    /* border: 2px solid #002d68; */
    webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 10px 12px rgba(57,73,76,0.35);
}
.imgsmicon1 {
  width: 100%;
  margin: 1.5%;
  text-align: center;
  webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  min-height: 6rem;
  background-color: #fff;
  border: 2px solid #fff;
}
.imgsmicon1:hover {
  /* border: 2px solid #002d68; */
  webkit-box-shadow: 0 5px 16px rgba(57,73,76,0.35);
  box-shadow: 0 10px 12px rgba(57,73,76,0.35);
}
.img-fluid30{
 width: 30%;
}
.img_contract{
  border-radius: 50%;
}

/* filestyyle */

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    background: #002d68;
    border-radius: .5em;
    float: left;
    padding: .5em;
   color: #fff;
}

.fileContainer [type=file] {
    cursor: pointer;
}

.icosize{
    color: #002d68;
    font-size: 2rem !important;
    text-align: left;
    padding: 5px;
}
/* chatbox style */

/* .fa-2x {
    font-size: 1.5em;
  } */
  
  .app {
    position: relative;
    overflow: hidden;
    top: 19px;
    height: calc(100% - 38px);
    margin: auto;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
  
  .app-one {
    background-color: #f7f7f7;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
  
  .side {
    padding: 0;
    margin: 0;
    /* height: 100%; */
    height:488px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
  }
  
  .side-two {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100%;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  
  }
  
  
  .heading1 {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: auto;
    width: 100%;
    background-color: #e4e4e4;
    z-index: 1000;
  }
  
  .heading-avatar {
    padding: 0;
    cursor: pointer;
  
  }
  
  .heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 15px 1px rgba(247, 247, 247, 0.6);
    object-fit: cover;
  }
  
  .heading-name {
    padding: 0 !important;
    cursor: pointer;
  }
  
  .heading-name-meta {
    font-weight: 700;
    /* padding-left: 15px !important; */
    padding: 5px;
    padding-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #002d68  !important;
    display: block;
  }
  .heading-online {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f;
  }
  .heading-compose {
    padding: 0;
  }
  
  .heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
  }
  
  .heading-dot {
    padding: 0;
    margin-left: 10px;
  }
  
  .heading-dot i {
    text-align: right;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
  }
  
  .searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
  }
  
  .searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #f7f7f7;
  }
  
  
  /*#searchBox-inner input {
    box-shadow: none;
  }*/
  
  .searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  
  .sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    overflow-y: scroll;
    height: 54vh;
  }
  
  .sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    /* height: 72px; */
    margin: 0 !important;
    cursor: pointer;
  }
  
  .sideBar-body:hover {
    background-color: #f2f2f2;
  }
  
  .sideBar-avatar {
    text-align: center;
    padding: 0 !important;
  }
  
  .avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
    object-fit: cover;
  }
  .wallet_img{
    width: 22px;
  }
  .sideBar-main {
    padding: 0 !important;
  }
  
  .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .sideBar-name {
    padding: 10px !important;
  }
  
  .name-meta {
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
  }
  
  .sideBar-time {
    padding: 10px !important;
  }
  
  .time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
  }
  
  /*New Message*/
  
  .newMessage {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    left: -100%;
  }
  .newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0 !important;
    height: 100px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001;
  }
  
  .newMessage-main {
    padding: 10px 16px 0 15px !important;
    margin: 0 !important;
    height: 60px;
    margin-top: 30px !important;
    width: 100%;
    z-index: 1001;
    color: #fff;
  }
  
  .newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 5px !important;
  }
  .newMessage-back {
    text-align: center;
    vertical-align: baseline;
    padding: 12px 5px !important;
    display: block;
    cursor: pointer;
  }
  .newMessage-back i {
    margin: auto !important;
  }
  
  .composeBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
  }
  
  .composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
  }
  
  .composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  
  .compose-sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 160px);
  }
  
  /*Conversation*/
  
  .conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, .08);
    border-right: 1px solid rgba(0, 0, 0, .08);
    /*overflow-y: auto;*/
  }
  
  .message {
    padding: 0 !important;
    margin: 0 !important;
    background-color:#fff;
    background-size: cover;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    /* height: calc(100% - 120px); */
    height: 350px;
    overflow-y: scroll;
  }
  .message-previous {
    margin : 0 !important;
    padding: 0 !important;
    height: auto;
    width: 100%;
  }
  .previous {
    /* font-size: 15px; */
    text-align: center;
    /* padding: 10px !important; */
    cursor: pointer;
  }
  
  .previous a {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  .message-body {
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
    height: auto;
  }
  
  .message-main-receiver {
    /*padding: 10px 20px;*/
    max-width: 60%;
  }
  
  .message-main-sender {
    padding: 3px 20px !important;
    /* margin-left: 40% !important; */
    max-width: 100%;
  }
  
  .message-text {
    margin: 0 !important;
    padding: 5px !important;
    word-wrap:break-word;
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 0 !important;
  }
  
  .message-time {
    margin: 0 !important;
    margin-left: 50px !important;
    font-size: 12px;
    text-align: right;
    color: #9a9a9a;
  
  }
  
  .receiver {
    width: auto !important;
    padding: 4px 10px 7px !important;
    border-radius: 10px 10px 10px 0;
    background: #f1f3f6;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    word-wrap: break-word;
    display: inline-block;
  }
  
  .sender {
    float: right;
    width: auto !important;
    background: rgba(14, 107, 229, 0.2);
    border-radius: 10px 10px 0 10px;
    padding: 4px 10px 7px !important;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display: inline-block;
    word-wrap: break-word;
  }
  
  
  /*Reply*/
  
  .reply {
    height: 60px;
    width: 100%;
    background-color: #c3c2c2;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
  }
  
  .reply-emojis {
    padding: 5px !important;
  }
  
  .reply-emojis i {
    text-align: center;
    padding: 5px 5px 5px 5px !important;
    color: #93918f;
    cursor: pointer;
  }
  
  .reply-recording {
    padding: 5px !important;
  }
  
  .reply-recording i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
  }
  
  .reply-send {
    padding: 5px !important;
  }
  
  .reply-send i {
    text-align: center;
    padding: 1px !important;
    color: #fff;
    cursor: pointer;
  }
  
  .reply-main {
    padding: 2px 5px !important;
  }
  
  .reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
  }
  
  .reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
  }
  .topsubmenu a {
   
    padding-left: 8px!important;
    padding-right: 8px !important;
   
}
.btn-warning {
  color: #001c4e !important;
  background-color: #f9ed0b !important;
  border-color: #f9ed0b !important;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0.9rem;
  height: 26.5px;
}
.search-container button {
  
  padding: 6px 8px;
    margin-top: 8px;
    /* margin-right: 16px; */
    background: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-left: none !important;
    border: 1.5px solid #ddd;
}
.search-container  input[type=text] {
  border: 1.5px solid #ddd;
  padding: 6px 2px;
  border-right: none;
}
.tick_verified{
  padding: 4px;
    background-color: #118fe8;
    color: #fff;
    border-radius: 50%;
    font-size: 0.6rem !important;
}
@media screen and (min-width: 700px) {
  .w-sm-100{
    width: 100%;
  }
  
}
  @media screen and (max-width: 700px) {
    .app {
      top: 0;
      height: 100%;
    }
    .heading {
      height: 70px;
      background-color: #002d68;
    }
    .fa-2x {
      font-size: 2em !important;
    }
    .heading-avatar {
      padding: 0 !important;
    }
    .heading-avatar-icon img {
      height: 50px;
      width: 50px;
      object-fit: cover;
    }
    .heading-compose {
      padding: 5px !important;
    }
    .heading-compose i {
      color: #fff;
      cursor: pointer;
    }
    .heading-dot {
      padding: 5px !important;
      margin-left: 10px !important;
    }
    .heading-dot i {
      color: #fff;
      cursor: pointer;
    }
    .sideBar {
      height: calc(100% - 130px);
    }
    .sideBar-body {
      height: 80px;
    }
    .sideBar-avatar {
      text-align: left;
      padding: 0 8px !important;
    }
    .avatar-icon img {
      height: 55px;
      width: 55px;
      object-fit: cover;
    }
    .sideBar-main {
      padding: 0 !important;
    }
    .sideBar-main .row {
      padding: 0 !important;
      margin: 0 !important;
    }
    .sideBar-name {
      padding: 10px 5px !important;
    }
    .name-meta {
      font-size: 16px;
      padding: 5% !important;
    }
    .sideBar-time {
      padding: 10px !important;
    }
    .time-meta {
      text-align: right;
      font-size: 14px;
      padding: 4% !important;
      color: rgba(0, 0, 0, .4);
      vertical-align: baseline;
    }
    /*Conversation*/
    .conversation {
      padding: 0 !important;
      margin: 0 !important;
      height: 100%;
      /*width: 100%;*/
      border-left: 1px solid rgba(0, 0, 0, .08);
      /*overflow-y: auto;*/
    }
    .message {
      height: calc(100% - 140px);
    }
    .reply {
      height: 70px;
    }
    .reply-emojis {
      padding: 5px 0 !important;
    }
    .reply-emojis i {
      padding: 5px 2px !important;
      font-size: 1.8em !important;
    }
    .reply-main {
      padding: 2px 8px !important;
    }
    .reply-main textarea {
      padding: 8px !important;
      font-size: 18px;
    }
    .reply-recording {
      padding: 5px 0 !important;
    }
    .reply-recording i {
      padding: 5px 0 !important;
      font-size: 1.8em !important;
    }
    .reply-send {
      padding: 5px 0 !important;
    }
    .reply-send i {
      padding: 5px 2px 5px 0 !important;
      font-size: 1.8em !important;
    }
    .m_top{
      margin-top: 3rem;
    }

    .arrowreg_page:before{
  
        color: transparent !important;
        border-left: 18.5px solid;
        border-top: 18.5px solid transparent;
        border-bottom: 18.5px solid transparent;
        display: inline-block;
        content: '';
        position: relative;
        right: -18.5px;
    }
  }
 /* chatboxend */
 .form-control1 > .form-control:focus {
 
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,0) !important;
  
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.icon_top_menu{
    color: #fff;
    font-size: 1.1rem;
    padding-top: 0.73rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    cursor: pointer;
    font-family: monospace;
}
.icon_top_menu:hover{
  color: #f9ed0b;
 
}
.icon_top_menu:focus{
  border: none !important;
  box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}
.img_top_propic{
  width: 30px;
    height: 30px;
    object-fit: cover;
    /* margin-left: 40%; */
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #000;
    margin-top: -0.35em !important;
    /* margin-left: 31%; */
}
.img_top_propic_sidebar{
    margin-left: 75px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.w-250px{
  width: 250px
}
.w-20px{
  width: 17px;
  margin-top: -4px;
}
.w-132{
 width: 132px;
}
.fafa_blue  .fa{
 color: #002d68 !important;
}
.starrate_btn:hover{
 cursor: pointer;
}
.topsubmenu1 select {
  border-radius: 0;
  border-color: rgba(24, 22, 22, 0);
  color: #0c2d67;
  background-color: #d3d7e0;
  padding: 5px;
  border-radius: 2px;
}

/* side menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20000;
  top: 0;
  left: 0;
  background-color: rgba(0, 45, 104,1);
  
  /* background: transparent url("../../images/banner7.jpg") no-repeat fixed 0px 0px / cover; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
 .social li {
  display: inline-block !important;
}

.font20{
  font-size: 20px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px !important;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.circledarkblue{
  background-color: #001c4e;
    border-radius: 50%;
    height: 40px;
    width: 42px;
    margin: 5px;
}
/* tabmyjob */
.arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #002d68;
  display: none;
  margin-top: 28px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-arrow {
  display: block;
}

.nav-tabs {
  background-color:#fff;
  border-bottom: 1px solid #fff;
}

.tab-content {
  background-color: #ccc
}
 .nav-link.active {
   color: #002d68 !important;
   background-color: #fff !important;
   border-color: #fff #fff #002d68 !important;
   border-bottom: 5px solid #002d68;
}
/* end my job */
.mapcardfilter{
  background-color: #fff;
  border: 1px solid #bababa!important;
  border-radius: 3px;
  position: absolute;
  z-index: 1000;
  height:75vh;
  /* overflow-y: scroll; */
  top: 10px;

}
#close_mapdis {
  float: right;
  display: inline-block;
  padding: 2.5px 8px;
  /* border-radius: 11px; */
  background: #002d68;
  color: #fff !important;
  cursor: pointer;
}
.mapcardfiltermapcompany{
  background-color: #fff;
  border: 1px solid #bababa!important;
  border-radius: 3px;
  position: absolute;
  z-index: 1000;
  /* overflow-y: scroll; */
  width: 300px;
  /* left: 337px; */
  right: 14px;
  /* height: 580px; */
  min-height: 97.5%;
  top: 11px;

}

.iconstyle_map{
    font-size: 25px;
    color: #fff;
    /* border-radius: 50%; */
    width: 43px;
    height: 40px;
    padding-left: 14px;
    cursor: pointer;
    
    background-color: #1955bd;
}

.sidenavmap {
  height: 100%;
  z-index: 2000;
  width: 0px;
  /* position: fixed; */
  /* z-index: 1; */
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
}

.sidenavmap a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
font-size: .8rem !important;
  display: none;  
  /* display: block; */
  transition: 0.3s;
}

.sidenavmap a:hover {
  color: #1955bd;
}

/* .sidenavmap .closebtn {
  position: absolute;
  z-index: 1;
  float: right;
  top: 61px !important;
  right: 14px !important;
   font-size: 24px !important; 
  margin-right: 18px !important;
    margin-top: 10px !important;
  padding: 0!important;
  padding-left: 12px !important;
  background-color: #1955bd;
    color: #fff;
} */

.sidenavmap .closebtn:hover {
 
  background-color: #1955bd;
    color: #fff;
}
.card-body .collapse .show
{
  display: none;
}

.sidenavfilter {
  height: 100%;
  z-index: 20000;
  width: 0px;
  position: fixed;
  /* z-index: 1; */
  top: 158px;
  left: 0;
  background-color: #f1f3f6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
}

.sidenavfilter a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
font-size: .8rem !important;
  
  display: block;
  transition: 0.3s;
}

.sidenavfilter a:hover {
  color: #002d68;
}

.sidenavfilter .closebtn {
  /* position: absolute; */
  float: right;
  top: 10px !important;
  right: 25px !important;
   font-size: 24px !important; 
  /* margin-left: 50px; */
  margin-right: 18px !important;
    margin-top: 10px !important;
  padding: 0!important;
  padding-left: 12px !important;
}


.filterbtn{
  background-color: #023183fa;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  font-size: 0.8rem;
  padding: 5px 5px;
  text-transform: uppercase;
  padding-left: 6px;
  padding-right: 6px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.mysidebutton{
  position: fixed;
  bottom: 50%;
  left: 5px;
  z-index: 100;
}
.wdbrk{
  width: 123px;
    word-break: break-word;
    /* margin-top: 9px; */
    text-align: center;
}


.card-header{
  position: relative;
}
.card-header[data-toggle="collapse"]:after {
  font-family: FontAwesome;
  content: "\f04b"; /* "play" icon */
  position: absolute;
  color: #b0c5d8;
  font-size: 18px;
  line-height: 22px;
  right: 20px;
  top: calc(50% - 10px);

  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
}
.card-header[data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}
.card-header[data-toggle="collapse"].collapsed:after{
  /* box-shadow: 0px 1px 1px rgba(0,0,0,0.5) */
}
.notification_drop{
  /* width: 250px !important; */
  background-color: #fff !important;
  webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  top:25px !important;
}

.listpropicview{
  width: 80px !important;
    height: 80px;
    text-align: center;
    object-fit: cover;
    box-shadow: 1px 1px 1px #ccc;
    border: 1px solid #ccc;
}
.propicview_detail{
    width: 120px !important;
    height: 120px;
    object-fit: cover;
    text-align: center;
    border: 2px solid #ccc;
}
.bg_wave{
  background-image: url("../../images/wave.png");
   background-position: right bottom; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
   background-size: contain;
   min-height: 85vh;
}
.notification_drop:after {
  content:"";
  position: absolute;
  left: 0px;
  top: -17px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 17px 17px;
  border-color: transparent transparent #ffffff transparent;
  z-index:9998;
}
.readmore_txt{
  font-size: 0.7rem;
    /* font-weight: 600; */
    color: #001c4e;
    /* text-decoration: underline; */
    padding-top: 5px;
    text-align: right;
}
.readmore_txt:hover{
  cursor: pointer;
  
}
.small1{
  font-size: 68%;
  font-weight: 400;
  color: #9e9e9e;
  text-align: right;
  float: right;

}
.leftpopbtn{
  position: absolute;
  z-index: 100;
  top: 5%; 
  bottom: auto;
  left: 24px;
}

/* dynamic-badge */
.dynamic-badge {
  position:relative;
}
.dynamic-badge1{
  position:absolute;
  top: -12px;
  right:-18px;

  font-size:11px;
  font-family:"Roboto","Helvetica","Arial",sans-serif;
  font-weight:600;

  text-align:center;
  line-height:23px;

  background:#ff4040;
  color:white;

  width:22px;
  height:22px;           
  border-radius:50%;
  /* box-shadow:1px 2px 5px #888; */
}
.flag_border{
  border: 1px solid #ccc;
    border-radius: 0px;
    border-right: none;
}

.dynamic-badge[data-badge]:after {
  content:attr(data-badge);

  position:absolute;
  top: -12px;
  right:-18px;

  font-size:11px;
  font-family:"Roboto","Helvetica","Arial",sans-serif;
  font-weight:600;

  text-align:center;
  line-height:23px;

  background:#ff4040;
  color:white;

  width:22px;
  height:22px;           
  border-radius:50%;
  /* box-shadow:1px 2px 5px #888; */
}

.img_icon_msg{
    border-radius: 50%;
    box-shadow: 0px 1px 1px;
    width: 23px;
    height: 23px;
    object-fit: cover;
}
/* end-dynamic-badge */
.bkg_msgr{
    background-color: #001c4e;
    border-radius: 50%;
    float: right;
    /* text-align: right; */
}
.bdr_blue_chat{
    border: 1px solid #007bff;
    border-top: none;
}
.custom-file-input1 {
  visibility: hidden;
  width: 0;
  
  position: relative;
}
.custom-file-input1::before {
  color: #002d68;
  font-family: FontAwesome;
  /* content: "\f04b"; */
  content: "\f0c6";
  display: inline-block;
  /* background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); */
  /* border: 1px solid #999; */
  /* border-radius: 3px; */
  /* padding: 5px 8px; */
  /* outline: none; */
  /* white-space: nowrap; */
  -webkit-user-select: none;
  cursor: pointer;
  /* text-shadow: 1px 1px #fff; */
  /* font-weight: 700; */
  font-size: 22pt;
  visibility: visible;
  position: absolute;
  top: -6px;
  left: 5px;
}
.custom-file-input1:hover::before {
  /* border-color: black; */
}
.custom-file-input1:active::before {
  /* background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); */
}

@media only screen and (max-width: 600px) {
  .top-bar {
    background: transparent;
    color: white;
    /* padding: 10px; */
    position: relative;
    /* width: 100px; */
    overflow: hidden;
    /* float: right; */
    /* border-radius: 10px 10px 0px 0px; */
}
.fa-2x{
  font-size: 1.5em !important;
}
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
};
@media screen and (max-height: 450px) {
  .sidenavmap {padding-top: 15px;}
  .sidenavmap a {font-size: 18px;}
};
/* side bar end */

/* chart_timelog */
/* ==========================================================================
 * Default settings
 * ========================================================================== */
/* ==========================================================================
 * SkedTape
 * ========================================================================== */
 .sked-tape {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.sked-tape * {
  box-sizing: inherit;
}

.sked-tape__aside {
  flex: none;
  max-width: 30%;
  padding: 0 !important;
  border-right: 5px solid transparent;
  position: relative;
}

.sked-tape__locations {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sked-tape__location {
  position: relative;
  padding: 0 15px;
  background-color: #EFEFEF;
  line-height: 54px;
  height: 54px;
}

.sked-tape__location:not(:last-child) {
  border-bottom: 1px solid white;
}

.sked-tape__location--forbidden::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: repeating-linear-gradient(-45deg, rgba(236, 106, 94, 0.5), rgba(236, 106, 94, 0.5) 10px, rgba(255, 0, 0, 0) 10px, rgba(255, 0, 0, 0) 20px);
}

.sked-tape__location > span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.sked-tape__caption {
  display: block;
  background-color: white;
  height: 24px;
  position: relative;
  top: 0;
  text-align: center;
}

.sked-tape--has-dates .sked-tape__caption {
  height: 48px;
  line-height: 48px;
}

.sked-tape__time-wrap {
  flex: 3 0 auto;
  width: 0;
  padding: 0 !important;
}

.sked-tape__time-frame {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.sked-tape__time-frame:focus {
  outline: none;
}

.sked-tape__time-canvas {
  position: relative;
}

.sked-tape__hours {
  background: white;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.sked-tape__hours > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 24px;
  align-items: center;
}

.sked-tape__hours > ul > li {
  flex: none;
  display: block;
  position: relative;
  min-width: 96px;
  width: 96px;
  height: 24px;
  line-height: 24px;
}

.sked-tape__hours > ul > li > time {
  display: block;
  position: absolute;
  left: 0;
  font-size: 13px;
  white-space: nowrap;
}

.sked-tape__hours > ul > li:not(:first-child) > time {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sked-tape__hours > ul > li:last-child {
  width: 0;
  min-width: 0;
}

.sked-tape__hours > ul > li:last-child > time {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.sked-tape__timeline-wrap {
  position: relative;
}

.sked-tape__timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-left: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sked-tape__event-row {
  position: relative;
  background-color: #F4F4F4;
  height: 54px;
}

.sked-tape__event-row:nth-child(odd) {
  background-color: #FDFDFD;
}

.sked-tape__event-row:first-child {
  border-top: 1px solid #E5E5E5;
}

.sked-tape__event-row:last-child {
  border-bottom: 1px solid #E5E5E5;
}

.sked-tape__event-row:not(:last-child) {
  border-bottom: 0;
}

.sked-tape__gap {
  display: block;
  height: 53px;
  line-height: 53px;
  position: absolute;
  z-index: 3;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  pointer-events: none;
}

.sked-tape__intersection {
  /* background: transparent;
  top: 1px;
  bottom: 0;
  display: block;
  position: absolute;
  z-index: 4; */

}

.sked-tape__event {
  background-color: #EC6A5E;
  transition: 200ms background-color;
  top: 1px;
  bottom: 0;
  display: block;
  position: absolute;
  z-index: 3;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  color: white;
  /* border: 1px solid #e32c1b; */
  min-width: 10px;
  cursor: default;
  line-height: 16px;
}

.sked-tape__event:hover {
  background-color: #e74030;
}

.sked-tape__event--low-gap {
  background-color: rgba(51, 175, 12, 0.53);
  border-color: #5ba044;
}

.sked-tape__event--low-gap:hover {
  background-color: rgba(56, 193, 13, 0.79);
  border-color: #579842;
}

.sked-tape__event--disabled, .sked-tape__event--disabled:hover {
  background-color: #b7b1b1;
  border-color: #a79797;
}

.sked-tape__event-row:first-child .sked-tape__event {
  top: 0;
}

.sked-tape__dummy-event {
  display: block;
  position: absolute;
  border: 2px dashed #e32c1b;
  top: 1px;
  bottom: 0;
  z-index: 4;
  white-space: nowrap;
  font-size: 12px;
  color: white;
}

.sked-tape__dummy-event::before, .sked-tape__dummy-event::after {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  /* border: 1px solid #e32c1b; */
  background: rgba(227, 44, 27, 0.69);
  padding: 3px 2px;
  line-height: 1;
}
th
{
  color: #fff !important;
}
.sked-tape__dummy-event::before {
  content: attr(data-start);
  right: 100%;
  margin-right: 5px;
}

.sked-tape__dummy-event::after {
  content: attr(data-end);
  left: 100%;
  margin-left: 5px;
}
.sked-tape__centersss
{
  display:none !important
}
.sked-tape__center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  padding: 0 10px;
}

.sked-tape__grid {
  display: flex;
  align-items: stretch;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.sked-tape__grid > li {
  display: block;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #E5E5E5 1px, #E5E5E5 1px), linear-gradient(to right, #E5E5E5 1px, #E5E5E5 1px), linear-gradient(to right, #E5E5E5 1px, #E5E5E5 1px), linear-gradient(to right, #E5E5E5 1px, #E5E5E5 1px), linear-gradient(to right, #E5E5E5 1px, #E5E5E5 1px);
  background-size: 1px 100%, 1px 100%, 1px 100%, 1px 100%, 1px 100%;
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0, 25% 0, 50% 0, 75% 0;
  min-width: 96px;
  width: 96px;
}

.sked-tape__indicator {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  border-left: 1px solid #e43828;
}

.sked-tape__dates {
  display: flex;
  align-items: stretch;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sked-tape__date {
  display: block;
  margin: 0;
  padding: 0;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  background: #e0e0e0;
}

.sked-tape__date:nth-child(odd) {
  background: #eee;
}

.sked-tape__date:before, .sked-tape__date:after {
  content: attr(title);
  display: block;
  width: calc(50% - 20px);
  height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sked-tape__date:before {
  float: left;
  margin-left: 15px;
  text-align: left;
}

.sked-tape__date:after {
  float: right;
  margin-right: 15px;
  text-align: right;
}

.sked-tape__date--short:before {
  float: none;
  width: auto;
  margin: 0 5px;
  text-align: center;
}

.sked-tape__date--short:after {
  display: none;
}



/*# sourceMappingURL=jquery.skedTape.css.map */
/* mediaquery */
.attach_img_size:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.attach_propic{
  border: 2px solid rgba(8, 60, 133,1);
  width: 115px;
  height: 115px;
  object-fit: cover;
}
.attach_propic:hover{
  /* border: 5px solid rgba(8, 60, 133,1); */
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);

}

.cover_img_70{
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.bkg_widget_head{
  background-color: rgb(234, 234, 234);
}
.lan_box{
  font-size: 24px;
    text-align: center;
    /* line-height: 40px; */
    /* height: 50px; */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
  padding-top: 80%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}
.icon_align{
  position: absolute;
  top: 35%;
  left: 0;
  bottom: 0;
  right: 0;
}
.lan_box:hover{
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}
/* The container_radio */
.container_radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #cecccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container_radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_radio input:checked ~ .checkmark {
  background-color: #002d68;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container_radio  .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}
.modal_scroll{
  overflow-y: scroll;
  height: 83vh
}
.height_90{
  height: 90vh;
}
/* radio style */

.fa-2x {
  font-size: 2em !important ;
}
.hideme
{
    opacity:0;
}

@media screen and (min-width: 1230px) {
  .attach_img_size{
    width: 100px !important;
    height: 100px !important;
    object-fit: cover !important;
  }
  .min_height_300{
    min-height: 296px !important;
  }
  .mainheading p {
    font-size: 14px;
}
.fafa_blue .fa {
  min-width: 15px;
}
.w_7p{
  width: 7%;
}
}
@media only screen and ( min-width: 900px) and ( max-width:1230px ) {
  .attach_img_size{
    width: 70px !important;
    height: 70px !important;
    object-fit: cover !important;
  }
  .employee_list_propic{
    width: 80px !important;
    height: 80px;
  }
  .min_height_300{
    min-height: 296px !important;
  }
  .mainheading p {
    font-size: 1.3vw;
}
.w_7p{
  width: 7%;
}
.fafa_blue .fa {
  min-width:15px;
}

}
@media only screen and ( min-width: 500px) and ( max-width: 900px) {
  .attach_img_size{
    width: 60px !important;
    height: 60px !important;
    object-fit: cover !important;
  }
  .employee_list_propic{
    width: 60px !important;
    height: 60px;
  }
  .min_height_300{
    min-height: 293px !important;
  }
  .bg_blue_tile_round1 , .bg_blue_tile_round2 , .bg_blue_tile_round3 , .bg_blue_tile_round4 ,.bg_blue_tile_round5 {

    padding: 7px !important;
    width: 30px !important;
    height: 30px !important;
    font-size: 18px !important;

   }
   h6{
     font-size: 13px;
   }
   .font07 a {
    font-size: 0.7rem !important;
   }
   .w_7p{
    width: 7%;
  }
  .fafa_blue .fa {
    min-width:15px;
  }

}
@media screen and (max-width: 500px) {
  .attach_img_size{
    width: 40px !important;
    height: 40px !important;
    object-fit: cover !important;
  }
  .right_img_user{
    margin-left: 0% !important; 
  }
  .w_7p{
    width: 3%;
  }
  .fafa_blue .fa {
    min-width: 3%;
  }

  .time_line_round{
    width: 270px;
   height: 270px;
   margin: auto;
   padding: auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 50%;
}
.pt-40{
  padding-top: 20px;
}
.timerstyle_timelog {
  
  font-size: 2rem;
  margin-bottom: 0px;
  
}
}
/* mediaquery */
@media (min-width: 770px) and (max-width: 970px) {
  .btn_alkafu {
    font-size: 10px !important;
  }
  .propicview_detail {
    width: 100px !important;
    height: 100px;
   
}
}
/***********************************/
/*
 * Note that this is toastr v2.1.3, the "latest" version in url has no more maintenance,
 * please go to https://cdnjs.com/libraries/toastr.js and pick a certain version you want to use,
 * make sure you copy the url from the website since the url may change between versions.
 * */
 .toast-title {
  font-weight: bold;
}
.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  line-height: 1;
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
.rtl .toast-close-button {
  left: -0.3em;
  float: left;
  right: 0.3em;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  top: 145px;
  /*overrides*/
}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container > div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#toast-container > div.rtl {
  direction: rtl;
  padding: 15px 50px 15px 15px;
  background-position: right 15px center;
}
#toast-container > div:hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}
#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast {
  background-color: #030303;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
  #toast-container .rtl .toast-close-button {
    left: -0.2em;
    right: 0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
  #toast-container .rtl .toast-close-button {
    left: -0.2em;
    right: 0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
  #toast-container > div.rtl {
    padding: 15px 50px 15px 15px;
  }
}
@media screen and (max-width: 350px) {
  .search-container input[type=text]{
    font-size: 14px !important;
  }
  .search-container button {
    font-size: 14px;
  }
}
/* readmore */
#summary p.collapse:not(.show) {
  height: 54px !important;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}

#summary p.collapsing {
  min-height: 42px !important;
}

#summary a.collapsed:after  {
  content: '+ Read More';
}

#summary a:not(.collapsed):after {
  content: '- Read Less';
}
.veri{
  width: 100px;
}

