.arrowreg_page:before{
  
  color: #001c4e;
    border-left: 18.5px solid;
    border-top: 18.5px solid transparent;
    border-bottom: 18.5px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    right: -18.5px;
}
.img_attachment_left{
  float: left;
}

.search-container input[type=text]{
  border-radius: 8px 0 0 8px;

}
.search-container button {
  border-radius: 0px 8px 8px 0px;
}
.text-left{
  text-align: left !important;

}
.text-md-left{
  text-align: left !important;
}
.ple-0{
  padding-left: 0px;
}

.modal-header .close{padding:1rem;margin:-1rem -1rem -1rem auto}

.mainheading h3 {
  /* text-align: left !important; */
}
.mainheading h6 {
  /* text-align: left !important; */
}
.topsubmenu ul { 
    float: right;
    padding-left: 0rem;
}
.ftr ul {
   padding-left: 0px;
}
.loginheader {
    background: transparent url("../../images/resume.jpg") no-repeat fixed 0px 0px / cover;
   background-color: #edecfa;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   background-position: center;
   height: 70vh;
 }
 .line2{
    border-bottom:solid 1px #CCCCCC;
    border-right:solid 1px #CCCCCC;
    padding:1rem;
  }
  .line3{
    border-bottom:solid 1px #CCCCCC;
    padding:1rem;
  }
  .line4{
    border-right:solid 1px #CCCCCC;
    padding:1rem;
  }
  .line5{
   border-right:solid 1px #CCCCCC;
    padding:1rem;
  }
  .line6{
   
    padding:1rem;
  }
  .line1{
    border:solid 1px #CCCCCC;
    border-top: none;
    border-left: none;
    padding:1rem;
  }
  .leader::after{
    content: "";
    background: url('assets/images/IPadminiWhite.png') no-repeat;
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 300px;
 }

 .padding_r0{
   padding-right: 0px !important;
 }

 .padding_l0{
  padding-left: 0px !important;
}
.flagInput{
  border: 1px solid #ccc !important;
    border-radius: 0px !important;
    border-right: none !important;
}
.flagInput:hover{
 background-color: #dee2e6;
}

.attach_clip{
  border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    padding: 12px;
    color: #fff;
    background-color: rgba(8, 60, 133,1);
    bottom: 21px;
    left: 100px;
}
.float-left1{
  float: left !important;
}
.float-right1{
  float: right !important;
}

.map_card_right{
  right: 20px;
}
.arb_right{
  margin-top: -8px;
}

.sidenavmap .closebtn {
  position: absolute;
  z-index: 1;
  float: right;
  top: 61px !important;
  right: 14px !important;
  font-size: 24px !important; 
  margin-right: 18px !important;
   margin-top: 10px !important;
  padding: 0!important;
  padding-left: 12px !important;
  background-color: #1955bd;
    color: #fff;
}
.d_ar_block{
  display: none;
}
.d_ar_none{
  display: block;
}

@media screen and (min-width: 768px) {
  .btn-warning {
    margin-left: -5%;
  }
}
  @media screen and (max-width: 768px) {
 
    .line1,.line2 ,.line3,.line4,.line5,.line6{
   border: none !important;
    }
}
@media only screen and (min-width:1115px) and (max-width:1229px){
  
  .font07 a, .logout {
    font-size: 0.75rem !important;
   }

}

@media only screen and (min-width:1080px) and (max-width:1115px){
  
  .font07 a , .logout{
    font-size: 0.7rem !important;
   }

}
@media only screen and (min-width:769px) and (max-width:1080px){
  
  .font07 a , .logout {
    font-size: 0.6rem !important;
   }

}
.btn_edit_ab {
   
  right: 45px !important;
 
}
@media screen and (max-width: 700px) {
  .btn_edit_ab {
 
      right: 25px !important;
      
     
  }
  
}
