.arrowreg_page:before{
  color: #001c4e;
    border-right: 18.5px solid;
    border-top: 18.5px solid transparent;
    border-bottom: 18.5px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    left: -18.5px;
}

body{
	direction: rtl;
}
.text_blue{
  direction: ltr;
}
.img_attachment_left{
  float: right;
}
.small1{
  /* text-align:left !important; */
  float: left !important;
}
.close_red_corner{
  
    margin-right: 31px;
    margin-left: 0px !important;
}

.iconstyle_map {
  padding-right: 15px !important;
  
}

/* .topsubmenu ul {
   
  float: left;
 
  padding-left: 0rem;
}
.ftr ul {
 padding-right: 0px !important;

} */

/* .mainheading h3 {
  text-align: right !important;
} */
/* .mainheading h6 {
  text-align: right !important;
} */
input[type=text] {
  padding-right: 10px !important;
}
.text-left{
  text-align: right !important;
}
.text-md-left{
  text-align: right !important;
}
.multiselect-dropdown{
  text-align: right !important;
}
.dropdown-btn{
  text-align: right !important;
}
.modal-header .close{padding:1rem;margin:-1rem auto -1rem -1rem !important; }
.ple-0{
  padding-right: 0px;
}

.pull-right{
  float: left;
}
.modal-header {
  display: block;
 
}
.checkmark{
  right: 0px;
  left: unset;
}
.container_radio {
  padding-right: 35px;
}
.search-container input[type=text]{
  border-radius: 0px 8px 8px 0px;
}
.search-container button {
 
  border-radius: 8px 0 0 8px;
}
.close {
  float: left;
}
.topsubmenu ul {
   
    float: left;
   
    padding-left: 0rem;
}
.yellow_bg_text {
  text-align: right !important;
}
.ftr ul {
   padding-right: 0px !important;
  
}
.leftpopbtn{
  right: 24px;
}

.rotate180{
  -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.loginheader {
    background: transparent url("../../images/resume1.jpg") no-repeat fixed 0px 0px / cover;
   background-color: #edecfa;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   background-position: center;
   height: 70vh;
 }
 
  .topsubmenu  a {
    padding-left: 0.4rem;
    padding-right: 0.4rem;

}

.arabic_fl_right{
  float: right !important;
}
.topsubmenu li {
  float: right;
}
 .font07 a {
    font-size: 0.8rem !important;
  }
.fa_reg{
    padding-left: 1rem;
}
.line2{
    border-bottom:solid 1px #CCCCCC;
    border-right:solid 1px #CCCCCC;
    padding:1rem;
  }
  .line3{
    border-bottom:solid 1px #CCCCCC;
    border-right:solid 1px #CCCCCC;
    padding:1rem;
  }
  .line4{
    border-right:none;
    padding:1rem;
  }
  .line5{
   border-right:solid 1px #CCCCCC;
    padding:1rem;
  }
  .line6{
    border-right:solid 1px #CCCCCC;
    padding:1rem;
  }
  .line1{
    border:solid 1px #CCCCCC;
    border-top: none;
    border-left: none;
    border-right: none;
    padding:1rem;
  }

  .btn_white {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-container button {
 
  margin-right: 0px;
  border-right: none !important;
  border-left: 1.5px solid #ddd !important;
}
.search-container input[type=text] {
  border-left: none !important;
    border-right: 1.5px solid #ddd !important;
}
.ml-auto {
  margin-right: auto!important;
  margin-left: unset !important;
}
.ml-rtl_auto{
  margin-left: auto!important;
}

.logodivmain .btn {
  border-radius: 0 !important;
  min-width: 30px;
  padding-right: 5px;
}

.logodivmain .toplogoinput input {
  border-radius: 0 !important;
 
}

.attach_clip{
  border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    padding: 12px;
    color: #fff;
    background-color: rgba(8, 60, 133,1);
    bottom: 21px;
    left: unset;
}
.img_plus{
  float: right;
}
.float-left1{
  float: right !important;
}
.float-right1{
  float: left !important;
}
.text-right{
  text-align: left !important;
}
.map_card_right{
  left: 20px;
  right: unset;
}
.urgent_badge {
  -webkit-transform: rotate(314deg) !important;
  transform: rotate(314deg) !important;
  right: unset !important;
  left: -29px !important;
}
.pr-0 {
  padding-left: 0!important;
  padding-right: unset !important;
}
.text-center .ml-auto{
    margin-left: auto!important;
}
.arb_right{
    text-align: right;
    margin-top: -8px;
}
.gm-style .gm-style-iw-c {
  padding-right: 12px !important;
}

.sidenavmap .closebtn {
  position: absolute;
  z-index: 1;
  float: left;
  top: 61px !important;
  left: 31px !important;
  font-size: 24px !important;
  /* margin-left: 50px; */
  margin-right: 18px !important;
  margin-top: 10px !important;
  padding: 0!important;
  padding-left: 12px !important;
  background-color: #1955bd;
  color: #fff;
}
.fl_right_list{
  float: right !important;
  margin-top: 0px !important;
  font-size: 13px !important;
}


.d_ar_block{
  display: block;
}
.d_ar_none{
  display: none;
}
@media screen and (min-width: 768px) {
  .btn-warning{
    margin-left: 85px !important;
  }
  .fl_right{
    float: right;
  }
  .ar_txt_right{
    text-align: right;
  }
  .dropdown_lg > .dropdown-menu {
    left: -20rem !important;
}
.dropdown_lg1 > .dropdown-menu {
  width: 260px !important;
}
.ar_ml{
  margin-left: 1px !important;
  padding-left: 7px !important;
}
.ar_ml:hover{
  margin-left: -7px !important;
  padding-left: -7px !important;
}
.multi-column-dropdown > li > a:hover {
  background-color: #0c2d67  !important;
}
.rtl_w_300{
  width: 300px;
}
}
 /* @media screen and (min-width : 768px){
  .rtl_w_300{
    widows: 300px;
  }
 } */
  @media screen and (max-width: 768px) {
 
    .line1,.line2 ,.line3,.line4,.line5,.line6{
   border: none !important;
    }
}
@media only screen and (min-width:1115px) and (max-width:1229px){
  
  .font07 a {
    font-size: 0.6rem !important;
   }

}
@media only screen and (min-width:769px) and (max-width:1115px){
  
  .font07 a {
    font-size: 0.55rem !important;
   }

}

.topsubmenu a {
  padding-left: 6px!important;
  padding-right: 6px !important;
}
.num_li_leader{
  /* margin-left: 0% !important; */
  margin-right: 50% !important;
}
.btn_edit_ab{
  
  left: 0px !important;
}
.btn_edit_ab {
  right: unset !important;
  left: 45px !important;
 
}
@media screen and (max-width: 700px) {
  .btn_edit_ab {
      right: unset !important;
      left: 25px !important;
      
     
  }
}