/* @import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700'); */
/* clrshades    #104E8B	 	#2385E6	 	#86BCF1	 	#E8F2FC   */
body{
  background-color: #f1f3f6;
 }
 

h1 , h2, h3 , h4 , h5 , h6 , p{
  font-family: Arial, "Helvetica Neue" !important;
}
.txt_black{
  color: #000;
}
/* scroll bar style */
 /* width */
 ::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.3); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(216, 134, 134, 0.8);
}
 /* end scorll */
.danger
{
    color: red !important;
}
 a{
   cursor: pointer;
 }
 .w-215{
   max-width: 213px !important;
 }
 .bg_body{
   background-color: #f1f3f6;
 }
 .page_w_90{
   width: 90%;
   margin: auto;
 }
 .bkgdarkblue{
   background-color: #002d68;
 }
 .text_blue{
   color: #002d68 !important;
 }
 .bkgdarkblue_transparent{
   background-color: rgba(31, 47, 83,0.9);
 }
 .bkgyellow_transparent{
   background-color: rgba(0,123,255,.25);
 }
 .bg-medium-blue{
   background-color: #001c4e;
 }
 .bg-white{
   background-color: #fff;
 }
 .b_shadow{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.05);
 }
 .bg-yw{
   background-color: #e8e115;
   color: #000;
 }
 .txt_how_it{
   font-size: 1.1rem;
   color: #001c4e;
   text-align: center;
 }
  .card p{
   margin-bottom: 0.5rem;
  }
 /*.card-header, .card-link,.card-link:hover{background-color:#555;text-align:center;color:hotpink;}*/
 /*.card-body{padding:10px 10px;}
 .card{width:500px;}*/
 .card-link:after {
    /*content: "\f068";*/
    font-family: FontAwesome;
    position:relative;
    float:right;
    margin-top:-3px;
    margin-left:5px;
    font-size:20px;
    font-weight:600;
    color:#000;
  -webkit-animation: minus 0.8s;
    animation: minus 0.8s;
 }
 .card-link.collapsed:after {
   /* content: "\f067";*/
    font-family: FontAwesome;
   -webkit-animation: plus 0.8s;
    animation: plus 0.8s;
 } 
 /*chngesin_07_07----------------------------------------*/
.bootstrap-select .dropdown-menu li a span.text {
    color: #fff;
    background-color: transparent;
}
.dropdown-item.active, .dropdown-item:active {
  
    background-color: transparent;
}
/* div.input-group::after { 
   margin-left:8px;
    content: "*";
    color: red;
    float: right;
} */
.bootstrap-select .dropdown-toggle:focus {
 /*   outline:none !important;*/
  outline-color: #001c4e !important;
  
   outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    box-shadow: 0 0 0 0.2rem rgba(18, 50, 82, 0);
}
.labelrequired::after{
  margin-left:8px;
    content: "*";
    color: red;
    float: right;
    
    position: absolute;
}
/* label::after {
    margin-left:8px;
    content: "*";
    color: red;
    float: right;
} */

.loadinginput {    
  background-color: #ffffff;
  background-image: url("../../images/loaderinput.gif");
  background-size: 25px 25px;
  background-position:right center;
  background-repeat: no-repeat;
  /* http://loadinggif.com/images/image-selection/3.gif */
}

.imgportgall{
  height: 240px;
  object-fit: cover;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .4rem !important;
  padding-left: .4rem !important;
  /* max-width: 8rem; */
}
.navbar-expand-md .navbar-nav .nav-link:last-child {
  /* background: #ff0000; */
  /* border-right: 1px solid #f1f3f6; */
}
/*-------------------------------------------*/
 @keyframes minus {
     0% {transform: rotate(360deg);}
     0% {-webkit-transform: rotate(360deg);}
 }
 
 @keyframes plus {
    0% {transform: rotate(-360deg);}
    0% {-webkit-transform: rotate(-360deg);}
 }
 .bg_lightash{
   background-color: #f9f9f9;
 }
 .colourdarkblue{
   color: #001c4e;
 }
 .bkg_yellow{
   background-color: #f2d114;
 }
 .bkg_ash{
   background-color: #eaeaea;
 }
 .text-white{
   color: #fff;
 }
 .text-white a{
   color: #fff;
 }
 .img-fluid70{
   width: 70%;
 }
 .ht-100{
   min-height: 100vh;
 }
 .img_propic{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #000;
  margin-top: 0.5rem !important;
  margin-left: 33%;
 }
 .img_propic:hover{
 cursor: pointer;
 }
 .propic_bkg{
     padding-top: 0.5rem;
     background-color: rgba(0, 45, 104,1);
 }
 .propic_bkg a:hover{
    color: #fff;
 }
 .delete_icon{
   color: #fff;
     background-color: #868686;
     border: 1px solid #7d7777;
     margin: auto;
     text-align: center;
     padding-left: 0.4rem;
     padding-right: 0.4rem;
     padding-bottom: 0.1rem;
     padding-top: 0.1rem;
 }
 
 .delete_icon:hover{
   color: #868686;
   background-color:#fff;
   border: 1px solid #7d7777;
    cursor: pointer;
 }
 .accept_icon{

  /* background-color:#fff; */
  background: linear-gradient(#ffffff 0%, #eaeaea 100%);
  color: #002d68;
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  border-radius: 4px !important;
  border: none;
  border-radius: 0px;
  font-size: 0.8rem;
  line-height: 14px;
  padding: 8px 6px;

  /* text-transform: uppercase; */
  /* padding-left: 6px; */
  /* padding-right: 6px; */
  min-width: 100px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  /* margin-left: 10px; */
  /* width: 100%; */
 }
 .accept_icon:hover{
   color: #002d68;
   background-color:#fff;
    cursor: pointer;
   /* border: 1px solid #fff; */
   box-shadow: 0px 5px 5px #ccc;
  
 }
 .map_btn{
   color: #fff;
     background-color: #37639c;
     border: 1px solid #002d68;
     margin: auto;
     text-align: center;
     padding-left: 0.4rem;
     padding-right: 0.4rem;
     padding-bottom: 0.1rem;
     padding-top: 0.1rem;
     width: 70% !important;
     margin-left: 2rem;
 }
 .ISHide{
  float: right;
 }
 .edit_icon{
   color: #fff;
   background-color:#1C82F5;
   border: 1px solid #0357D4;
   margin: auto;
   text-align: center;
   padding-left: 0.4rem;
     padding-right: 0.4rem;
     padding-bottom: 0.1rem;
     padding-top: 0.1rem;
 }
 .edit_icon:hover{
   color: #1C82F5;
   background-color:#fff;
    cursor: pointer;
   border: 1px solid #0357D4;
  
 }
 .checkedr{
    color: orange;
    /* border: 2px solid orange; */
 }                                       

 .logocss{
   /*width: 50%;
     border: 2px solid #fff;
     padding: 8px;
     position: absolute;
     z-index: 10000;
     background-color: #002d68;
     margin-top: 9px*/
      width: 190px;
     /* border: 2px solid #fff; */
     padding: 5px;
     /* position: absolute; */
     z-index: 10000;
     /* background-color: #002d68; */
    /* margin-top: 9px;*/
 }
 .font07{
   font-size: 0.8rem !important;
 }
 .font07 a{
   font-size: 0.8rem !important;
 }
 .hrsm{
   margin-top: 0.2rem;
   margin-bottom: 0.2rem;
 }
 button:focus {
     outline: 0px dotted;
     outline: 0px auto -webkit-focus-ring-color;
 }
 input.empty {
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
 }
 /*inputstyle*/
 .toplogoinput input{
    border: 0px solid;
     height:25px;
     margin-top:15px;
     width:100%;
     font-size: 0.8rem !important;
 }
 .mt100{
   margin-top: 1rem;
 }
 .pt100{
   padding-top: 3.5rem;
 }
 .pt17{
   padding-top:17px;
 }
 /*navbar*/
 .navbar {
     padding: 0rem 0.5rem;
 }
 .navbar-nav li:hover > ul.dropdown-menu {
     display: block;
 }
 .dropdown-submenu {
     position:relative;
 }
 .dropdown-submenu>.dropdown-menu {
     top:0;
     left:100%;
     margin-top:-6px;
 }
 .nav-item > a{
   color: #fff;
 }
 .nav-item > a:hover{
   color: #e8e115;
 }
 .active > a{
   color: #e8e115;
 }
 .dropdown-item {
    
     white-space: pre-line;
  
 }
 /* rotate caret on hover */
 .multi-column-dropdown{
   list-style: none;
     display: block;
     width: 100%;
     min-width: 150px;
     margin-left: 0px;
     padding-left: 0px;
     position:static;
     
 }
 .multi-column-dropdown_sub{
   list-style: none;
     display: block;
     width: 100%;
     min-width: 150px;
     margin-left: 0px;
     padding-left: 0px;
     position:static;
     
 }
 .multi-column-dropdown li{
     position:static;
     width: 150px;
     margin-left: 0.5rem;
   /*  border-bottom: 0.5px solid #7b7979; */
 
 }
 .multi-column-dropdown_sub li{
     position:static;
     width: 150px;
     margin-left: 0.5rem;
     border-bottom: 0px solid #7b7979; 
 
 }
 .multi-column-dropdown_sub > li > a:hover:after {
     text-decoration: underline;
     transform: rotate(-90deg);
 } 
 .multi-column-dropdown > li > a:hover:after {
     text-decoration: underline;
     transform: rotate(-90deg);
 } 
 .multi-column-dropdown_sub > li > a:hover {
    background-color: #e8e115;
 } 
 .multi-column-dropdown > li > a:hover {
    background-color: #e8e115;
 } 
 
 .dropdown-menu{
     min-width: 200px;
     margin-top: 0px;
     border-radius: 0px;
     /*left: -30rem;*/
   }
 .dropdown_lg > .dropdown-menu {
     /* min-height: 350px; */
     overflow-y: scroll;
     overflow-x:hidden;
 }
 .profile_dropdown > .dropdown-menu{
     height:auto!important;
     overflow-y: hidden !important;
     overflow-x:hidden;
     background-color: #002d68;
 }
 .profile_dropdown:hover{
   cursor: pointer;
 }
 /*navbar end*/
 /*page content style*/
 .mainheading h3{
   color: #001c4e;
 }
 .mainheading p{
   color: #7b7979;
   margin-bottom: 0.2rem;
 }
 .row-eq-height {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display:         flex;
 }
 

 
 .line1:hover,.line2:hover,.line3:hover,.line4:hover,.line5:hover,.line6:hover,.line7:hover,.line8:hover{
   box-shadow: 1px 10px 15px rgba(76, 77, 78, 0.5);
   cursor: pointer;
 }
 
 .iconrow{
   width: 70%;
   margin: auto;
 }
 .ico_top{
   width: 40%;
   margin-right: 30% !important;
    margin-left: 30% !important;
 }
 /*botton style*/
 .btn_reject{
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  background: linear-gradient(#ffffff 0%, #eaeaea 100%);
  color: #002d68;
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  border-radius: 4px !important;
  border: none;
  border-radius: 0px;
  font-size: 0.8rem;
  line-height: 14px;
  padding: 9px 6px;

  /* text-transform: uppercase; */
  /* padding-left: 6px; */
  /* padding-right: 6px; */
  min-width: 100px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  /* margin-left: 10px; */
  width: 100%;
}
  .bg_blue_grad{
    background: #001c4e;
    background: linear-gradient(#0d52ad 0%, #001c4e 100%);
  }
  .bg_blue_tile1{
    background-color: #3c71b5;
    
   
   
  }
  .bg_blue_tile_round1{
    background-color: #3c71b5;
    padding: 14px;
    width: 60px;
    height: 60px;
    border-radius: 50%;

  }
  .bg_blue_tile2{
    background-color: #4285df;
   
   
  }
  .bg_blue_tile_round2{
    background-color: #4285df;
    padding: 14px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
   
  }
  .bg_blue_tile3{
    background-color: #9f42f1;
   
  }
  .bg_blue_tile_round3{
    /* background-color: #9f42f1; */
    background-color: #1b406f;
    padding: 14px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .bg_blue_tile4{
    background-color: #403d3d;
   
  }
  .bg_blue_tile_round4{
    background-color: #ffc107;
    padding: 14px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .bg_gray_grad{
    background: #e6e3e3;
    background: linear-gradient(#fbf6f6 0%, #e6e3e3 100%);
  }
  .btn_alkafu{
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    /* background-color: #063E75; */
    /* background-color: #063E75; */
    background: #001c4e;
    background: linear-gradient(#0d52ad 0%, #001c4e 100%);
    /* border: 1px solid #12168e !important; */
    border: none;
    border-radius: 4px !important;
    /* border: solid 2px transparent; */
    vertical-align: middle;
    transition: all .15s;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    text-align: center;
    line-height: 14px;
    font-weight: 500;
    color: #ffffff;
    font-size: 0.8rem;
    padding: 9px 6px;
    /* text-transform: uppercase; */
    min-width: 100px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    /* margin-left: 10px; */
  }
  .btn_alkafu:hover{
   background-color:#001c4e ;
   color:#fff;
  /* border:1px solid #001c4e; */
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   cursor: pointer;
   border: none;
    
  }

  
  .dactive1{
    background-color: transparent;
     color:#7b7979;
     border-color: #f2d114 ;
     border-radius: 15px;
     padding: 3px; 
     padding-left: 10px;
     padding-right: 10px;
     text-transform: uppercase;
  }
  .btn_how_it{
     background-color: transparent;
     color:#7b7979;
     border-color: #f2d114 ;
     border-radius: 15px;
     padding: 3px; 
     padding-left: 10px;
     padding-right: 10px;
     text-transform: uppercase;
  }
  .btn_how_it1{
    background-color: transparent;
    color:#7b7979;
    border-color: #f2d114 ;
    border-radius: 15px;
    padding: 3px; 
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
 }
  .btn_how_it:focus{
     background-color: #f2d114;
     color:#7b7979;
     box-shadow:none;
  }
  .btn_how_it:active{
    background-color: #f2d114;
    color:#7b7979;
    box-shadow:none;
 }
 .bactive{
  background-color: #f2d114;
  color:#7b7979;
  box-shadow:none;
}
 .btn_how_it:hover{
  background-color: #f2d114;
  color:#7b7979;
  box-shadow:none;
}
 /*button style end*/
 .row4_home img{
   width: 60%;
   margin: auto;
   margin-right: 20% !important;
    margin-left: 20% !important;
 }
 .row4_home p{
   color: #7b7979;
   margin-bottom: 0.2rem;
 }
 .row5_home IMG{
   width: 35%;
   margin-right: 32.5%!important;
    margin-left: 32.5%!important;
   margin: auto;
 }
 .row5_home p{
   color: #7b7979;
   margin-bottom: 0.2rem;
 }
 .mapcard{
     background-color: #fff;
     border: 1px solid #bababa!important;
     border-radius: 3px;
     position: absolute;
     z-index: 1000;
     /*height: 250px;*/
     min-height: 250px;
     bottom: 0px;
     right: 23px;
 }
 
 .ftr li {
   /*display: inline;*/
   list-style: none;
   /*float: left;*/
   color:#7b7979;
 }
 .ftr a {
   color:#7b7979;
 }
 
 .img-position-cls{
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
     border-width: 8px;
     display: block;
 }
 .proimg{
    position: absolute;
     top: 30vh; /* bottom space */
     left: 100px; /* right space */
 }
 .borderbox{
     border-color: #7b7979;
     border-style: solid;
     border-width: 1px;
 }
 .boxblueclr{
    background-color: #001c4e;
 
 }
 .boxblueclr h3{
   color: #fff;
 }
 .boxblueclr h5{
   color: #f2d114;
 }
 .work_history h4{
  color: #343a40;
 }
 .work_history h5{
  color: #001c4e;
 }
 
 .topsubmenu ul {
     list-style-type: none;
   
     margin-bottom: 0rem;
   
 }
 
 .topsubmenu li {
     float: left;
 }
 
 .topsubmenu  a {
     display: block;
     color: white !important;
     text-align: center;
     padding: 17.5px;
     /* padding-top: 4.5px;
     padding-bottom: 4.5px;
     padding-left: 0.5rem; */
     text-decoration: none !important;
     text-transform: uppercase !important;
     font-size: 14px ;
 }
 .ml-10{
   margin-left: 8rem;
 }
 
 .mr-10{
   margin-right: 8rem;
 }
 
 .topsubmenu  a:hover {
     background-color: #002d68;
     color: #f9ed0b  !important;
 }
 .topsubmenu1 a{
    padding: 0px;
 }
 /*mediaquery*/
 .topsubmenu1 select {
     border-radius: 0px;
     border-color: rgba(169, 169, 169, 0);
 }
 
 .topsubmenu1 select {
    
     color: #fff;
     background-color:#001c4e;
     
 }
 
 
 #st_qr {
     display: none;
 }
 .qr_app:hover #st_qr {
     display:block;
 }
 .img_signup_propic{
   width:10rem;
   height: 10rem;
   object-fit: cover;
 }
 .imgradio{width: 30%;margin:1.5%;text-align: center;
     webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
     box-shadow: 0 1px 6px rgba(57,73,76,0.35);
 
 }
 .imgicon{width: 100%;margin:1.5%;text-align: center;
     webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
     box-shadow: 0 1px 6px rgba(57,73,76,0.35);
     min-height: 8.5rem;
    background-color: #fff;
    border: 2px solid #ffffff;
 }

 .imgicon_widget{width: 100%;
  margin:1.5%;text-align: left;
  min-height:105px;
  webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
 
 /* border: 2px solid #ffffff; */
}

 .imgicon1{width: 100%;margin:1.5%;text-align: center;
  webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
 min-height:12.5rem;
 background-color: #fff;
 border: 2px solid #ffffff;
}
 .imgradio > input{ /* HIDE RADIO */
   visibility: hidden; /* Makes input not-clickable */
   position: absolute; /* Remove input from document flow */
 }
 .imgradio > input + .cards{ /* IMAGE STYLES */
   cursor:pointer;
   border:2px solid transparent;
 }
 .imgradio > input:checked + .cards{ /* (RADIO CHECKED) IMAGE STYLES */
   border:2px solid #002d68;
 }
 .imgradio >  .cards{ /* IMAGE STYLES */
   cursor:pointer;
   border:2px solid transparent;
 }
 .imgradio > checked + .cards{ /* (RADIO CHECKED) IMAGE STYLES */
   border:2px solid #002d68;
 }
 .imgradio:hover{ /* (RADIO CHECKED) IMAGE STYLES */
   border:2px solid #002d68;
 }
 .imgicon_widget:hover{ /* (RADIO CHECKED) IMAGE STYLES */
  /* border:2px solid #002d68; */
  webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 10px 12px rgba(57,73,76,0.35);
}
 .imgicon:hover{ /* (RADIO CHECKED) IMAGE STYLES */
   /* border:2px solid #002d68; */
   webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
   box-shadow: 0 10px 12px rgba(57,73,76,0.35);
 }
 .imgicon1:hover{ /* (RADIO CHECKED) IMAGE STYLES */
  webkit-box-shadow: 0 10px 12px rgba(57,73,76,0.35);
  box-shadow: 0 10px 12px rgba(57,73,76,0.35);
}
 
 .img-fluid50{
   max-width: 50%;
 }
 /*form style*/
 .vh-100{
   min-height: 100vh;
   height: auto;
   display: block;
 }
 .chosen-container-single .chosen-single {
     position: relative;
     display: block;
     overflow: hidden;
     padding: 0 0 0 8px;  
      height: 40px !important; 
     border: 1px solid #aaaaaaa8 !important;
     border-radius: 3px !important;
     background:transparent !important;
     /* background-clip: padding-box; */
     /* box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1); */
     text-decoration: none;
     white-space: nowrap;
     width: 100% !important;
     line-height: 36px !important;
 }
 .view_applicantdetails{
   list-style: none;
     color: #000;
     padding-left: 0px;
 }
 
 .btn-light {
     color: #ffffff !important;
     background-color: #001c4e !important;
     border-color: #001c4e !important;
     font-size: 0.8rem !important ;
 }
 .show>.btn-light.dropdown-toggle {
     color: #ffffff;
     background-color: #001c4e;
     border-color: #001c4e;
 }
 .btn-light:hover {
     color: #ffffff;
     background-color: #001c4e;
     border-color: #001c4e;
 }
 .btn-light1 {
  color: #ffffff !important;
  background-color: #001c4e !important;
  border-color: #001c4e !important;
  font-size: 0.8rem !important ;
}
.show>.btn-light1.dropdown-toggle {
  color: #ffffff;
  background-color: #001c4e;
  border-color: #001c4e;
}
.btn-light1:hover {
  color: #ffffff;
  background-color: #001c4e;
  border-color: #001c4e;
}
 .yellow_bg_text{
  background-color: #e6e3e3;
    color: #002d68;
    text-align: left !important;
    padding: 0.4rem;
    font-weight: 700;
    border-radius: 4px;
 }
 .flter_text{
      font-weight: 500;
     font-size: 0.8rem;
 }
 /*Range Slider*/
 
 .range-slider {
   width:100%;
 }
 
 .range-slider__range {
   -webkit-appearance: none;
   width: 75%;
   border-radius: 5px;
   background:#ccc;
   outline: none;
   padding: 0;
   margin: 0;
 
 }
 
 /* Range Label*/
 .range-slider__value {
   display: inline-block;
     position: relative;
     width: 30px;
     color: #ccc;
     line-height: 20px;
     text-align: center;
     /* border-radius: 3px; */
     background: #001c4e;
     /* padding: 5px 10px; */
     /* margin-left: 8px; */
 
 }
 
 .map_card_title{
   background-color: #002d68;
     color: white;
     text-align: center;
     padding: 2.5px 0 2.5px 0;
 }
 .star-rating {
   line-height:32px;
   font-size:1.25em;
 }
 .star-rating .fa-star{color:#e8e115}
 
 .carousel-control-next, .carousel-control-prev {
     width: 1%;
 }
 
 @media screen and (min-width: 992px){
 .dropdown-menu-width{
     width: 50rem;
   }
   .dropdown_lg > .dropdown-menu{
     width: 900px;
     left: -40rem;
   }
   /* .btn_alkafu{
     width: 180px;
   }
   .accept_icon{
     width: 180px;
   } */
   .mt-4p{
     margin-top: 4.5%;
   }
 }

 @media  (min-width: 770px) and (max-width: 1050px){
   h6 {
    font-size: 0.9rem;
  }
  .h3 {
    font-size: 1.2rem;
  }
  .btn_alkafu > i {
    display: none;
 }
 .accept_icon> i{
   display: none;
 }
 .btn125 ,.btn_alkafu , .accept_icon  {
  min-width:90px !important;
  }
  .mt-4p{
    margin-top: 4.5%;
  }
 }

 @media  (min-width: 767px) and (max-width: 883px){
  .btn125 ,.btn_alkafu , .accept_icon  {
    min-width:85px !important;
    }
   h3{
     font-size: 20px !important;
   }
   .btn_alkafu > i {
      display: none;
   }
   .btn_alkafu , .accept_icon  {
   /* min-width: auto !important ; */
   font-size: 8px;
   font-weight: 200;
 }
 .accept_icon > i {
   display: none;
 }
 small {
  font-size: 60%;
}
h5{
  font-size: 15px;
}
.fa{
  font-size: 15px !important;
}
.avatar-icon img {
  height: 30px;
  width: 30px;
}
.avatar-icon {
  width: 30px;
}
.num_leader{
  font-size: 10px !important;
  text-align: right;
}
.d-none-768{
  display: none !important;
}
.wdbrk {
  width: 70px;
}
.mt-4p{
  margin-top: 4.5%;
}
}

/* tab view */

@media  (min-width: 765px) and (max-width: 992px){
 
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .2rem !important;
    padding-left: .2rem !important;
  
}
.profile_dropdown > .dropdown-menu {
  height: auto!important;
  overflow-y: hidden !important;
  overflow-x: hidden;
  background-color: #002d68 !important;
}
.dropdown-menu{
  /* background-color: #002d68 !important; */
}
.num_li_leader{
 
  padding: 2px;
  width: 14px;
  font-size: 8px !important;
  margin-left: 26%;
}
.mt-4p{
  margin-top: 4.5%;
}

}

/* tab view end */

 @media  (min-width: 750px) and (max-width: 992px){
 /*.dropdown-menu-width{
     width: 700px;
   }*/
   .dropdown_lg > .dropdown-menu{
     width: 750px;
     left: -40rem;
   }
 }
 @media  (min-width: 580px) and (max-width: 768px){
  .logocss {
    width: 115px;
    margin-left: 0px;
    /* width: 60%;  */
   /* width: 200px;*/
    padding: 1px;
    position: relative;
    z-index: 10000;
    margin-top: 4px;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
     border: 0px solid #fff;
}
.mt-4p{
  margin-top: 5%;
}
  }
  @media screen and (max-width: 580px) {

    .logocss {
      width: 40px;
      /* margin-left: 25%; */
      /* width: 60%;  */
     /* width: 200px;*/
      padding: 1px;
      position: relative;
      z-index: 10000;
      margin-top: 4px;
      text-align: center;
      /* margin-left: auto;
      margin-right: auto; */
       border: 0px solid #fff;
  }
  .mt-4p{
    margin-top: 9%;
  }
  }
 @media screen and (max-width: 1100px) {
  .ml-10{
   margin-left: 5rem !important;
  }
 }
 
 /* On screens that are 600px or less, set the background color to olive */
 @media screen and (max-width: 768px) {
 
   .line1,.line2 ,.line3,.line4,.line5,.line6{
  border: none;
   }
 /* .dropdown-menu{
      height: 110px;
     overflow: scroll;
   } */
 
   .topsubmenu  a{
     padding: 5px !important; 
     float: none;
 }
 
 #st_qr {
     display: block;
 }
 .img-fluid70 {
     width: 33%;
 }
 .mt-10{
   padding-top: 6rem;
   padding-bottom: 2rem;
 }
 .vh-100{
   min-height: 200vh;
   
 }
 /*.weblogodisplay{
   display: none!important;
 }*/
 
 .proimg {
     position: unset;
     top: 10vh;
   /*  left: 100px:;*/
 }

 .logodivmain .form-group {
  margin-top: 15px !important;
}
.map_card_right {
    height: 27vh !important;
    top: 58vh !important;
    right: unset !important;
}
 }
 /* mobile screen style end */
 /* Style edit  manu 8/5/2018*/

.logodivmain .toplogoinput input {
  border-radius: 0;
  height: 30px;
  margin-top:0;
}


.logodivmain  .btn {
border-radius: 0;
height: 30px;
margin-top: 0;
}



.logodivmain  .inputstyletop {

border-radius: 0 !important;
 min-height: 30px !important;
/*padding: 7px 10px; */
}

.logodivmain .icon_top_menu {
  /* padding: 0 12px; */
  padding: 18px 10px 0 10px;
}
.logodivmain .icon_top_menu1 {
  /* padding: 0 12px; */
  padding: 0px 0px 0 0px;
  color: #fff;
  cursor: pointer;
}

.logodivmain .ng-select-container {
  padding-left: 7px;
  padding-right: 7px;
}



.ng-arrow-wrapper {
  bottom: 1px;
}

.right_section card {
  background: none;
}
@media screen and (min-width: 768px) {
  .logodivmain .form-group {
    margin-top: 30px !important;
  }
  .logodivmain .search_main {
    padding: 0 10px;
    font-size: 18px;
    margin-top: 30px;
  }

 .search_main1 {
    padding: 0 10px;
    font-size: 18px;
    margin-top: 0px;
    
  }

}
