.bootstrap-select .dropdown-toggle:focus {
    /*   outline:none !important;*/
     outline-color: #001c4e !important;
      outline: 0px auto -webkit-focus-ring-color;
       outline-offset: 0px;
   
   }

