<h6 class="text-left"> Definitions</h6>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i>  Platform : is an Babkrim electronic platform, which includes the website and all its affiliate applications. </p>

<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i>  Company : (Almanassataldhakyeyah Limited Company) </p>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Worker, work seeker, Employee, Freelancer: He is a part-time worker who specializes in the Babkrim platform. </p>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Employer: He who rents the worker either directly or indirectly. Whether it be a person or an establishment. </p>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> An Establishment : Any entity that rents the worker whether it is an establishment, a company, a shop or otherwise. </p>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> The other party :is the counterparty, one of two employee or employer. </p>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> The hourly agreement:  means working at a capacity of sixty minutes, and the hourly wage of the worker regardless of achievement. </p>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Convention on work or completion: that is the wage by completion of the work or part thereof.</p>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> A contract of employment:  is the agreement between the employee  and the employer.</p>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Agreement or Service Contract: The agreement or agreement between (Almanassataldhakyeyah Limited Company)and the user.</p>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Intellectual property rights: Any patent, design, copyright, publicity, trademark, and other intellectual property right known by law, which may now exist or speak hereafter.
  Privacy: The privacy of the user (data, information, rights, secrets etc.)</p>
<p class="text-secondary"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> A cookie is a small set of data that the platform places on your mobile device and computer. </p>
<br>
<p class="text-secondary text-justify" >
    <b>agreement terms:</b> <br>
    1. Dear users of our platform, this agreement is between us. We are the (Almanassataldhakyeyah Limited Company) owners and management of Babkrim and you as a user of our platform and accessories and the subsequent sites and applications of smart phones, Whether this platform is provided to you by us or through our subsidiaries or by our agents around the world, You acknowledge that you have sufficient time to review the Agreement and all of its terms and conditions carefully and that you have not accepted them until you have read them carefully, And understand them without ambiguity We give you time to question or inquire about any points you did not understand before acknowledgment, and use this platform in any capacity means acceptance of it as an agreement between us and you, and arbitration of the terms of the labor agreement between the other party and you, all sites and applications.<br>
    2. Duration and Termination of the Agreement:Starting from your first visitAnd throughout your use of the platformthe terms of this Agreement and other contracts and amended from time to time shall be effective later than the Effective Date unless it has entered into a written and explicit agreement with the platform or its authorized agents, which is contrary to what is in these contracts and agreements.
    Except as provided in this Agreement, any Party may terminate this Agreement at his special estimation. without providing justification or explanation, on written notice to the other party, Provided that the previous obligations are terminated either with the platform or with other parties (employees or employers) in advance.you will continue to be bound by this Agreement and other terms of service until all such appointments have been closed on the platform. Babkrim will continue to perform its necessary services to complete any open employment contracts or any related transaction between you and another user as long as your registration is valid. You will remain committed to paying any amounts owed to the platform or to another user. If the agreement is terminated correctly, your account will be closed and you will no longer have the right to use the platform with new registration. <br>
    3. General: 3.1. These terms are subject to modification by variables. It applies to all our services, your access to our platforms and your use of our services available on the Internet, whether in the computer, mobile phone or otherwise.
    3.2. (Almanassataldhakyeyah Limited Company) headquartered in Al Khobar, Kingdom of Saudi Arabia with Commercial Register No. () issued from Dammam, has an Babkrim.com platform in all its Domains: <br>
    1.1.	
    Babkrim.com <br>
      Babkrim.com  <br>
    Babkrim.com  <br>
    Babkrim.com  <br>
    Babkrim.net  <br>
    Babkrim. net  <br>
    Babkrim. net  <br>
    Babkrim. Net  <br>
    And the subsequent sites and applications towards it, and considers all that is owned by them and all their rights belong to them Served by other companies and offices follow us in a number of other countries, the company will be supported by other friendly companies and institutions around the world and will provide specific support to the platform To support beneficiaries through call centers, e-mail, or field in some cases where need be. these friendly companies do not have similar websites and has no authority to control or manage the platform, nor does it have any legal capacity to represent our company or platform and is not legally authorized to enter into any agreements or contracts. except what is described for each company or organization. These supporting companies are also not legally authorized to act in any way as a service provider for Babkrim except within the limits granted by our company. Therefore, we are not responsible for any actions taken by any company, institution or entity on behalf of the (Almanassataldhakyeyah Limited Company)or any of its affiliates or electronic Babkrim platform, If they are not authorized by an authorized agent from the general management. <br>
    3.3. No individual or entity is permitted download, copy, display, monitor, use or reproduce any content, information, software or products or services available on our website Resell, sell or deepen the link for any commercial or competitive activity or purpose.<br>
    3.4. The purpose of Babkrim and its services: Babkrim is an electronic platform that contains websites and applications for smartphones, It is a platform available to all who wish to work part-time, or to hire freelancers in part-time, either by attending the workplace inline or remotely onlineWhere the platform is defined between the parties, and advertising the services according to the terms of service, Babkrim also provides coordination services between parties and provides brief supervision of contracts, with managing conflicts between the parties if notified of the dispute, and provide the service of communication and chat possible to serve the market. in addition to providing integrated information as recorded in the records of members to facilitate decision-making for the employer and the employee, direct service contracts are also established between these users, subject to the provisions provided.  <br>
    3.5. The above information is based on each facility or applicant for work submitted to us by us without our intervention, where the user gets permission to access the intranet as being fully responsible for updating all information related to them, While we are interested in the accuracy of the information, we cannot verify or guarantee whether all information is accurate, complete or correct. therefore, we are not responsible for their information if it is inaccurate, misleading or incorrect, each user remains responsible for the accuracy, completeness and correctness of the information they provide. <br>
    3.6. The information and data about a user in our platform is not considered a recommendation or recommendation for the quality level of their services or classification. Even  we type the word "Recommended", we will not be liable for any errors, whether graphical, typographical or otherwise. we are not legally bound but we will take any comments on any service provider in mind where we make sure it and take action available to guide or block from advertising . . we will communicate with any registered beneficiary of his data to follow up and know his benefit from the establishment and how he has benefited from our platforms.  <br>

   <b> 4. Privacy:</b><br>
Babkrim respects your privacy. To the fullest, please see our Privacy Policy and Cookies. <br>
 <b>5. Platform language: </b> <br>
 These terms and conditions will be translated into several languages through certified translation offices. the original version will remain in Arabic according to the Saudi law which our Company belongs (Almanassataldhakyeyah Limited Company)the main reference for any dispute in the Arab countries, while the English version will be the main reference in the rest of the world, in the event of any discrepancy or conflict between the Arabic version and the English version of these terms and conditions, the Arabic version shall be the reference version on which the litigation is to be initiated.
<b>6. The law which the platform and its users are subject:</b> <br>
Our Company's regulations, this Agreement and other terms of service with respect to Babkrim and its subsidiaries are governed by the laws of the Kingdom of Saudi Arabia, where Smart Platforms is located, regardless of its conflict with the provisions of other laws.<br>
<b>7. Item Modification Policy:</b><br>
In accordance with the terms set out herein, and for the public interest and the platform at our discretion, our company may amend this Agreement and its terms at any time, we will publish a revised version on the platform in advance, and such amendment will be referred to in a reasonable time if it contains user-specific clauses, if the change is simple to our estimate, but if the change includes an increase in the fees we charge, we will notify you before it takes effect at least 30 days.
Your continued use of our modified platform for these Terms means you have accepted and are bound by its new terms and conditions.
If we have other spicial services, any conflict between them shall be deemed to be the control of this Agreement, unless such provisions expressly provide for the cancellation or control of the terms of this Agreement. 
<b>8. Registration Information:</b> <br>
8.1. Approval of the completeness and validity of your information:<br>
You agree that you are writing your profile accurately, and that all of the information you will write is correct and that you undertake to update it in your account when you change any of it.<br>
8.2. You agree that we have the right to verify your identity and authenticity of the data, and from your governmental or legal documents from time to time, and you authorize us and a  third party to contact us in any capacity by making any inquiries necessary to verify your identity and confirm your ownership of your email address or financial accounts in the part you deal with us, and you are subject to the law in force at the platform, and upon request  you must provide us the information about you and your work that interests us in the platform.<br>
8.3. Validity of Establishment Registration:<br>
You acknowledge that you have full right and authority to register any facility you register on the platform and that you bear all financial and legal obligations arising from such registration.
An establishment  must have recognized activity, whether it is a sole proprietorship, company, or recognized affiliate, with the proof of official licenses and records recorded through the platform registration. With compliance with all required licensing requirements.
You acknowledge that, according to your country's regulations, your establishment is permitted to rent such type of work provided by the Babkrim Service and that we are not responsible for any violation in this regard and others.<br>
8.4. Copyright and Rights:
You acknowledge that you are authorized anything you publish in Babkrim media or technology now known or later created from text, images, sounds, video, animations or otherwise and you alone bear any violation of the rights of that party, including intellectual rights and copyrighted rights, and you are empowered at your own risk, (Almanassataldhakyeyah Limited Company) and its affiliated platforms and subsidiaries to register or publish what you have posted, published or posted on the Platform without any legal or financial obligation on the company. And you grant us and under your responsibility this authority in all parts of the world and in any language and publicly. Our partners and agents have permanent and irrevocable authority to publish, use, reproduce, modify or redistribute it in any medium via the Internet or any media outlet. It is also granted to each user that the platform allows access to and access to this information, for the purposes of the utility traded on the platform, all subject to the privacy policy described in the platform.
8.5. User Name and Password:<br>
When you sign up for your own account, you will be asked to choose a special username and password for the account. By doing so, you only will be solely responsible for your account. any entry by a person or entity to this account shall be treated as the Account Holder, and himself who shall bear the financial, legal and other consequences thereof. , So you should not inform third parties about it, keep it in a safe place, and change your PIN from time to time. You agree that you must immediately report us if you suspect that this number has been stolen, or that it has occurred in the hands of an unauthorized third party, without leaving full responsibility until the account is closed or the user name and password changed.<br>
8.6.   Report any change in addresses or means of communication:<br>
You undertake that you will immediately notify us of any urgent change to your email, national mail, telephone numbers or any addresses required, and you will be fully responsible for the consequences of not informing us of such change.<br>
8.7.  Non-registration for more than one account:<br>
You agree not to register more than one account for you. The registration of more than one account means a legal breach for our company.<br>
8.8. Do not allow a third party to create an account for you:<br>
You agree not to request or allow someone else to create an account on your behalf, for your use or for your benefit. You will be solely responsible if you are intentional, satisfied or knowledgeable and have not inform the platform.<br>
8.9. 9 User represents himself or his personal establishment:<br>
  If you work in any specialty and wish to work through Babkrim and register on our platform, you undertake that you represent yourself personally, that your use is personal use, does not follow any organization or any est., and that you represent only yourself and do not represent others.<br>
8.10. Age of worker:<br>
  You acknowledge that you are of legal age according to your country, which authorizes you to work. If your work is licensed to be under the legal age of employment in your country, you must disclose it.
<b>9. You own what you publish:</b> <br>
You acknowledge that you own all rights to uploads on the platform from images, texts or the like, that you own the copyright to them and that you agree to use Babkrim for such images and text on their website, sites and applications or the Smart Platforms Company, And you give us a truly non-exclusive, unconditional and irrevocable permanent worldwide use for promotional activities and electronic and non-electronic publications, You agree to use, reproduce, display, reproduce, distribute, or re-license, and accordingly accepts the uploader full legal and moral liability arising from all legal claims made by any third party. . Babkrim disclaims liability for all images uploaded or posted on its websites or apps. by advertisers, participants and beneficiaries.<br>
<b>10. Take legal responsibility for the type of service or work you do:</b><br>
By using our platform, you alone bear full responsibility for your country if you are a national, the country you live in if you are a resident, or any other country for any act or service in this country or any use that violates its system or violates the system of the country in which you operate or To serve its citizens.<br>
<br>
11. Do not work with or support terrorist organizations:<br>
Whether you are an individual or a resident, you hereby acknowledge that you are not working with any organization of any kind listed on or supported by terrorist lists or working against UN member governments unless they are part of the regular opposition partiesز And the company and all companies or organizations or individuals affiliated with or cooperating with them are not responsible for your political affiliation, intellectual or organizational,And that we are entitled, as soon as we are sure of your affiliation to such currents or illegal organizations, to cancel your subscription immediately without your liability for your financial and legal obligations.<br>
12. Non-implementation or request for work prohibited legally:<br>
As an employer you agree that you are not required to perform any business in your country or from an independent agent in another country or to perform work in any country unless you are permitted to do so legally in that country. You also agree that you as an employee or employer do not exercise or do any work or request from an agent during an Babkrim activity or work of any kind contrary to the system of the country in which you operate or in the country where the other party resides, or require the implementation of any work of religious norms degrading or Or moral or legal, and that you do not implement or require implementation of action that would be classified as an act of terrorism in that country or in which there is some kind of racism or incitement to violence of any kind or engage in drugs, prostitution, sex or trafficking in persons.<br>
13. Electronic Signature:<br>
Any agreement between us or a bank and the other party by clicking on "OK", "CONTINUE", "FOLLOWING" or "TERMINATION" or "SUBMIT"   or "AGREE" OR any statement stating that you agree or refer to any statement that you understand that you agree. Electronic signature with acceptance and approval, binding according to applicable laws and regulations.<br>
14. Approval of the use of electronic records instead of paper records:
The use of electronic records in all our transactions, such as correspondence, confirmations, work orders, notices and records between us and our customers, whether individuals or companies, so you agree to send and receive all of this electronically only. 
15. Our correspondence to you:<br>
By entering our platforms, you agree to receive our messages and messages from our affiliates or companies, or from our customers in your e-mail, your page on your platform, mobile phone or in your communications account, whether to inform you of your reservation or information about it or to request an evaluation of the facility you have searched for or messages Promotion in our fieldand We will put a link in advertising messages enable you request to stop such messages. And therefore you bear the consequences of the failure of some opportunities or benefit, Or knowing the amendments to the agreements, or any important changes, and you agree that the cancellation will not be immediate, to grant management access to your application. Although the administration has the right to continue to send some important messages even if you cancel the messages.<br>
16. Intellectual Property Rights of the Platform:<br>
Almanassataldhakyeyah Limited Company has the intellectual property rights under the law for its software, designs, text, logos, names, trademarks and symbols. As well as user feedback used in all its locations and applications.
No one is authorized to copy, scrap, use, post, promote, commercialize, merge or use any Content without the written permission of the general Administration.
You agree that you have a limited license to use Babkrim and access the pages you are permitted to access for your use in the Terms of Service. You may not access any other than the provided interface and will not use information from the platform or platform services for any purposes other than The purposes for which it was registered.
You agree not to prepare derivative works from the Platform based on, republishing or using any Content of the Platform or its services in any way for any public, commercial or private purpose without the prior written consent of Babkrim.
You agree that you are not permitted to use any platform content or platform services on any other Web site or in a computer environment connected to the network or apps. for any purpose other than your viewing without the prior written consent of Babkrim.
You agree not to frame or link to the platform site or its apps. or services except as permitted in writing in Babkrim.
You agree and understand that we are criminalizing any attempt to modify, modify, adapt, translate, create derivative works from, modify or attempt to interfere with the operation or attempt to derive source code from any part of the platform or platform services unless explicitly permitted by law. Or access any part of the platform in order to build a like, similar or competing service or application.<br>
17. Intellectual property rights for users:<br>
Each party shall retain full intellectual property rights. If the independent agent undertakes any kind of intellectual work of any kind and the agreement does not provide for the purchase of the rights by the employerو Or that the nature of the work and the customary arbitrator requires that the employer who paid the intellectual property rights, the right of ownership remains for the worker so you agree to maintain this property, and you agree to mention this right in the Convention concluded. In the case of violation or control of any intellectual property of another party, the victim has the right to raise a claim on this subject. Babkrim will not be a party to this dispute, and is not responsible for any infringement of this property, nor is it required to pursue any of these violations.
You agree not to call the Company to testify or to call any of its employees or agents in this dispute except to obtain an electronic scene if it is conclusively proven to be correct.
The Employee agrees to assist the Employer in everything related to the ownership of the intellectual rights of the Employer for the agreed work, including the signing of any reasonably required documents or tools, whether during or after the term of the service contract, The employer may demand this in accordance with the law if the worker does not cooperate or is unable to prove ownership, and he prefers to agree in advance on such procedures If that is at the price it is written explicitly. Babkrim can mediate between the parties through its legal administration, and if no progress is made in the solution, the injured person can apply for this right to the judiciary.
Only after the termination of the Agreement and after all parties have received their financial rights and up-time receive their own fees, the acquisition by any party of the intellectual property rights of any business grants it a right to grant licenses to third parties or even to the other party to use, sell, display,or any act that does not harm the other party, and this only falls on the work received and the end of the dues.<br>
18. Service contracts:<br>
By agreeing to any assignment or employment of a work seeker  you agree to be bound by all terms of service contracts guaranteed by your acceptance between you and Babkrim and between you and the other parties, from the obligation to pay wages, commissions, fees and entitlements for Babkrim. Payments with warranty and value added, taxes,  and any terms provided by the employer, and agrees that Babkrim is not a party to any service contractAnd that the establishment of a contract of up-party of the parties shall under no circumstances create any other business or service relationship between Babkrim and any party to the Agreement.<br>
19. Conditions of service contract
You agree that the terms relating to the Service Contract agreed on the Platform, including fees, wages and hours of personal information, form part of the Service ContractYou agree to obtain the consent of the other party before changes to the service contract by adding additional or different specifications or making other changes to the service contract on the platform, In the event that you do any of this and the other party does not agree first, the other party may refuse these changes by terminating the service contract or accepting these changes by continuing to work on the service contract.<br>
20. Registration of working hours:
You, as an employer, employee  agree to record the start time of the working hour and the end time in the platform strictly as a reference for both parties. Not Babkrim is responsible for any dispute arising in the beginning or end, However, they can confirm this, and punish any user who violates service contracts by canceling or suspending the account.<br>
21. Termination of service contract
Any party may terminate the service contract after providing the required notice, or immediately on the expiry date specified in the terms of the service contract and / or upon completion of the services of the worker or with the consent of the other party. Except as required by law, the Employer shall remain liable to pay the Independent Employee for services he performed prior to the termination of the employment contract plus the Babkrim fees specified in the Agreement or specified in the Platform System.<br>
22. career practice License:<br>
You undertake that you are an independent agent authorized to work in the profession in which you are registered or employed and you are not prohibited from practicing it legally, and you have the skill, license or legal permit in your country Or the country in which you operate that qualifies you to act in accordance with the Babkrim Policy and Methods and that you alone bear all liability that results in your violation of this work. <br>
23. Keep an electronic copy of all refrigerators and notifications:
Under this Agreement, you must keep a copy of all records and notices we electronically send to you. We advise you to print and keep them in a safe place. You may need it someday.
24. Legal validity of the Convention:
If any provision or part of this Agreement or other agreements, annexes or conditions is found to be illegal, or if this provision becomes invalid or unenforceable in any State or jurisdiction, it shall be enforced to the extent that by applicable lawThis provision only applies to this illegal part within the scope of its illegality, incompetence or non-enforceability. The user of the platform or application is at least agree to accept a similar effect to this clause, and shall be deemed to be modified to the extent necessary to conform to the purposes of our Company of this clause and shall give maximum effect to the interests of the Parties. Illegality, invalidity or non-applicability does not affect the rest of the items as they remain valid and binding. nor shall it affect in any way the legality, validity or enforceability of this provision in any other State, jurisdiction or any other provision of any jurisdiction.<br>
25. Conflict Management:<br>
25.1 Our company is not a party to the dispute between users:
You agree that Babkrim and its affiliates, agents or agents are not party to any contract between users, so they will not comply with any claims or assume any damages of any kind And in any way in any dispute you have with another user, whether disputes concerning the performance of the work / or the quality of Financial Claim or refund amounts based on disputes claims services.<br>
As for the conflict between users (employees and employers), if they are in one country, they are subject to the law of the country in which they live, although their nationality varies, If their residence is different, their dispute is subject to the law of the country of the employer, unless they  satisfie the law of the country of the worker.<br>
25.2. Conflict resolution
With respect to disputes arising between you and the parties to this Agreement, you agree to be bound by the Dispute Settlement provisions provided by our Company through additional authorized arbitrators who have employees, If you do not agree to them, you agree to submit to arbitration outside the platform chosen by you and the other party and is obliged to pay the costs of the independent arbitrators according to the judgment in the case or agreed upon between the party.<br>
25.3. Payment of expenses when the case is lost:
If you file a complaint or claim or file a lawsuit against Babkrim or any of its agents or employees, you agree that if you do not win the case you will pay the costs, losses and expenses related to the case, including attorney's fees and all other expenses.
26. Financial Affairs:<br>
. 26.1 Podium Currency:
If the parties to work in one country, the currency between them is the currency of their country, but if the two countries differ, the currency between them is in US dollars, As for platform fees, they are converted into US dollars or euros, unless Almanassataldhakyeyah Limited Company has a bank account in the country in which the participants are located, the platform is accepted in the country's own currency. While if one of the parties to the contract chooses another currency, it must bear a conversion difference to the dollar, and bear the exchange currency difference to the dollar for Babkrim fees. The customer's payment method provider may also charge fees directly to the payment method used to fund the cross-border payment even if there is no currency conversion.<br>
26.2. Any transfer of currency to any currency or money order in favor of Babkrim or for the benefit of the beneficiary through which the client, it is the responsibility of the client alone and not legally on our companies or our collaborators or agents because the customer must understand the laws of his country or the countries to which he will transfer and laws restricting such operations.<br>
26.3 our services Fees  :<br>
Our companies have a large number of employees and spend very large expenses, so we charge commissions for our services and they will be very reasonable. These commissions may be encouraging at the start of the launch but we will have to receive fair commissions that ensure continuity you agree to pay the Babkrim fees as agreed, whether you are a emplyee or employer, by depositing in the approved account (and submitting the proof of deposit) Or by credit card, and agrees to pay for additional services in the platform as per the agreement.<br>
26.3. Membership Fees:
There are different categories of members, some of them for the special services of their choice, they have to pay a subscription fee, By choosing your own category, you agree to pay the full fee. These fees are subject to the terms of the agreement, which can be reviewed from time to time. Changes in these fees will be notified.
26.4. Prices or wages:<br>
The prices or wages of the work that are put on our site are the prices or wages that the users themselves set, and we never interfere with them, nor guarantee their validity, These fees may be tax-free and may be subject to taxation. The user will only mention the taxes that may be collected in the country of the worker or employer where the wage is added or deducted from it. So we advise you to ask your partner in advance if you are interested.
26.5. Invoices, taxes and government fees:
Babkrim will not issue invoices for the transaction between the parties. We will not be liable to any user for any type of tax, except for the taxes imposed on us by the country in which we operate according to applicable law,And each user bear alone and is responsible for the taxes imposed on 
him under the law of his country, and is solely responsible for issuing the required licenses for his profession or to practice the profession and the resulting fees, And is solely responsible for delivering them to the competent authorities of his country or any country to which he is required to pay. Whether those payments are taxes, fees, interest or other penalties.
26.6. payment methods:<br>
A. You agree that you will be charged for processing and managing your payment if any, and as a user, you must provide information about your account for the payment method. Or receive transfers to your account.
B. You agree that you authorize Babkrim or any other financial entities followed by Babkrim or any other financial institution to be notified to you later, to store and operate the licenses of all your credit cards, Or other financial details as a method of payment of money for services and others,. Credit cards, PayPal accounts, and bank accounts in most countries, if any, will be charged through an Babkrim account. And if other companies are selected for collection in any of the excluded countries, you will be notified.<br>
26.7. When there is unauthorized use or fraudulent credit to your card:
A. In the event of unauthorized use of credit to your card by a third party, the banks and credit card companies bear these risks, It covers all the consequences of such fraud or misuse. So you need to check the terms and conditions of your card and company.
B. If you have been exposed to such fraud (God forbid) because you use your credit card in our website, you should promptly notify your credit card provider (in accordance with its reporting rules and procedures) and contact us immediately by e-mail. (customer.relations@Babkrim .com) Explain the method of fraud with evidence that proves the deduction of that amount and we will follow up on the subject and make sure whether this is due to using a safe Babkrim server, and unauthorized use of your credit card due to negligence or default by us.<br>
C. You agree that if we are found to have received fraud, abuse, or violation of our Terms of Service, our Company reserves the right to cancel any payments to you, , And you agree that if it is proved that an agreement has been issued through Babkrim and then has been fraudulently off-duty to evade paying Babkrim fees we have the right to obtain it by legal means, and may result in the termination of your subscription.
26.8. Type of pay and commitment:<br>
If users chose them (worker and employer) fixed wage, they agree that they are committed to this wage without an increase or decrease, and they are committed to the instructions of the system.
If users chose hourly wage, or day, or on a specific compensation for specific conditions, or additional expenses can be provided by the employer or the worker by providing materials, everyone is committed to exactly what has been agreed with keeping the rights of Babkrim, complete.
When the employer agrees to the value of a fixed wage or hourly wage for an worker, he automatically transfers the amount to the Babkrim account after the termination of the remaining procedures required to confirm the employment contract, He hereby authorizes Babkrim to collect the remuneration and transfer it to the independent agent after deduction of the due fees. The transfer will be made to the worker after he / she has completed the work or terminated the agreed period (hours) and completed the form of termination by the parties.<br>
Our company is entitled to provide other ways to pay the platform fees or pay employees, either through the platform or through direct transfers to beneficiaries.
26.9. Non-payment of wages of the employee:<br>
In the case of payment of wages after work, you as an employer agree that if you fail to pay the wage of the employee or any other amounts due under the terms of service, whether by credit card cancellation or expiration, or lack of credit or any other reason or by any other means, Babkrim has the right to suspend or close your account with no rights due to you.<br>
26.10. Responsibility for currency fluctuations and currency conversion:<br>
    Babkrim and its affiliates, affiliates or agents are not responsible for currency fluctuations that occur when currency fluctuations occur when receiving or sending payments by electronic transfer, check or clearing center to and from the Escrow Account.<br>
27. Do not download what hurts the platform or violates the laws:<br>
 27. Do not download what hurts the platform or violates the laws:<br>
You agree and warrant that you download on the platform images, texts or otherwise free of any viruses of any kind or infected files, and free from any political material or pornographic illegal, obscene, humiliating, humiliating or obscene. Or legally prohibited from countries, or inappropriate, or where something of racism, or used by terrorist entities and any other material that infringes the rights of any third party well Babkrim, None of them may be published or deleted at any time and without prior notice. An entity that publishes or replicates such material may be disqualified from participating in Babkrim. The offender may be exposed to legal liability from any official entity without any liability to our company, and you agree that you are solely responsible for what you publish on the platform.<br>
28. Reporting Violators of the Agreement:
  As a member and registrar in Babkrim it is morally agree to inform Babkrim immediately if   a some member of the platform contact you and offers you to work outside of the Babkrim or transfer it to the outside system.<br>
and you agree to notify us of any potential violation of the agreements that damages Babkrim.
29. User Account Cancellation or Deactivation:<br>
We reserve the right, in our sole discretion, without any compensation or grant of rights to you, not to be able to access your account permanently or temporarily, without our legal right to material or moral harm caused by you or a legal breach, the following:<br>
A.	Provide information that violates the Terms of Service: such as providing incorrect, inaccurate or incomplete information in any form or posting on the Platform, or that such information or behavior from you violates the Terms of Service, violates regulations, or violates public taste, customs or traditions affects religions, advocates or supports racism in the country in which you work, belong to or work for, or for any other reason in Babkrim assessment.<br>
B.	. Violation or breach of the terms of the agreement.<br>
C.	 Repetition of complaints against you: Without the legal and material right of any party falling, if you do not perform your work properly, repeat valid complaints against you from employers, or conduct unsatisfactory behavior with your employers, colleagues, clients, etc.<br>
D.	In our sole discretion, or our agents' assessment that you have committed any acts that violate the interests of the platform or the interests of its users.<br>
E.	. Trying to use the platform on behalf of an account other than your account with the account holder assuming responsibility. Or registering another account for you other than your original account.<br>
F.	Fraud or participation in the circumvention of the reduction of fees due to the platform or other parties.
G.	Abuse access or use the platform if you do any of the following:<br>
(1)	If you use any robot, spider, scraper or any means other mechanism to reach the podium for any purpose without the express written permission of us.<br>
(2)	If you try or have audio-visual content, or any of them available on the platform for any purpose or in any way other than broadcasting.
(3)	take any action that we impose or believe may impose (at our own discretion) an unreasonable or disproportionate burden on the site's infrastructure.
(4)	copy, reproduce, modify, create derivative works from, distribute or display any content (other than content that you provided to the platform) from the platform, or any program code is part of the platform, or any services rendered on the platform without express written permission from the company's pre-authorized management and the appropriate third party, as appropriate.<br>
(5)	Attempting to interfere with the operation or any activities in the platform.
(6)	 Sending messages, making unwanted connections, or not required.
(7)	Attempting to override any measures we may use to prevent or restrict access to any part of the platform, including our measures to prevent or restrict the copying of any content therein.
(8)	 Attempting to compromise the security or integrity of the system or to remove any of its symbols or to send any messages or harm the system to or from the servers running the platform.
(9)	Collecting any personal information not permitted from the platform. Advertise or promote, directly or indirectly, to other persons, sites, services, products, or otherwise.
(10)	Submit any invalid data, viruses, or malware to or through the Site. Or Submission and writing of incorrect or misleading information.<br>

30. User Data After Account Cancellation:<br>
  You agree that if your account is canceled for any reason, you will no longer be able to access your data, messages, files, all your posts and so on, and the Platform has the right to retain them for five years from the date you cancel your account.

31. Rejecting new Terms of Service updates:<br>
Babkrim will from time to time update the Terms of Service based on the developments from our point of view and our appreciation of the situation and will be reminded of the members. Therefore, if you reject any of these updates, you must choose to stop using the platform.

32. The right to notify users of your account cancellation:<br>
We will notify you of the closure of your account unless we believe that your notice will cause clear damage, the importance of transparency, the preservation of rights, and the reputation of the platform. You agree to notify other Babkrim users who have previously entered into contracts with you, negotiated or read your resume. Your platform account or the status of your account, along with a summary of why your account was closed or suspended.<br>

33. Assessments from Users and Management:<br>
Feedback (feedback) consists of comments, user satisfaction indicators, and other comments left by other users. Assessments from members and management are very important to the labor market and to users where their decision is based and increases the credibility of the platform for all users. These assessments are for work, not people or enterprises.
You agree that when you write any assessment of an individual or establishment, you must adhere to the professional evaluation, with the supervision of God Almighty, without prejudice to the reputation or personality you evaluate, comment on or defame, And that you will bear any legal bypass or abuse against any individual or entity, whether a member of the platform or otherwise, and that we have the right to cancel such assessments or comments that go beyond professional, without the fall of the right of the injured.<br>
We also have the right to cancel your membership if you exceed any member or others as we see fit.
You agree and do not mind that your work is assessed and shared by others as these ratings are posted to user profiles and other places on the platform.
You acknowledge and agree that Babkrim will make the results of these comments public and available to all users of the Platform.
We Babkrim are not obliged to monitor all the comments, and when there are no comments hold personally or affect personal reputation, you agree to send a letter of complaint management consideration, and we will review it and consider private and our admiration as the platform system can be removed or kept if for the benefit of users. With enough time to read and act on them, and not necessarily because the response is urgent to the large number of beneficiaries.<br>
Do not bear Babkrim any responsibility performed by any member of legal abuses or moral or material damages against any party, whether a member or a third party, but the offending member is alone to bear all the consequences arising therefrom.

34. We accept opinions and ideas:<br>
We appreciate your sending any comments, ideas or opinions that would improve the form or services of the platform, at any time without any financial charge, unless there is prior agreement with you on this, and we are free to use it or not. So we therefore urge you not to hesitate to suggest any new positive ideas. You acknowledge first that such ideas are not owned by third parties and will bear their legal and illegal consequences if their intellectual property is proven to be owned by any party.<br>
You also agree that Babkrim has the right to use similar or related ideas developed by the Babkrim team or from other sources.

35. Links and applications in content:<br>
Babkrim and its applications may contain other external links, whether they are sites or applications. These applications may follow Babkrim, and may be links to chat, e-mail, or otherwise, so Babkrim assumes no responsibility for its content, endorses or does not endorse it,so You agree that Babkrim is not responsible for the availability, content, reliability,and you are responsible for your use of this link. Please note that we are careful not to have invalid links.<br>

36. Disclaimer of the platform in the following cases:<br>
Babkrim like any other electronic platform may be subject to delay, malfunction, errors or invasion of harmful viruses, so you agree that it is not liable for any damages or losses arise if you do not know or are unable to use the platform, delay, disable, or transmit viruses or malware to your devices, or errors or inaccuracies in the information. Comment, delay or action done by you or the other party for you, inaccuracy or reliability in job and profile announcements, classifications, recommendations, and notes.<br>

37. Platform updates:<br>
From time to time, and in our sole discretion, we will update the site and applications of the Platform or its affiliates, so you agree that we have no obligation to make updates, upgrades or corrections, You agree, without notice, that, as any update and development websites may be affected and the platform will not function properly, or may unexpectedly stop the system or some of its services, or the loss of some or all of the information and data stored therein, , Although we have worked to keep all necessary information in safe places. We are very keen that the update or development works for the better.<br>

38. Force majeure effects:<br>
Smart Platforms Limited, its agents, collaborators or other parties to this Agreement shall not be liable in any way for any delay or non-compliance with their obligations if any problems beyond their control prevent or delay the performance of their obligations, Such as: fires, accidents, natural disasters, labor strikes, Internet or telephone failures, power outages, wars, revolutions, Or riots or mutiny, or restrictions imposed by governments or imposed by laws, regulations and government requirements, or other circumstances beyond reasonable control. The performance of that Party will be extended by the time of the delay. Regardless of any extension of time, and in the event of continued impact of these incidents, which is considered a force majeure for 60 days, The other party gives a 30-day termination notice. If Force Majeure continues to effect at the end of the 30-day period, the Agreement and other terms of service will be terminated.<br>

39. Preserving Confidential Information:<br>
You agree to preserve the confidential information of any party that you deal with and undertake not to disclose it to any third party and not to use or store it without the written consent of the owner of the information, As for the platform, it is committed to maintaining the true confidential information of any user except for what the judiciary requires for disclosure and before the authorized official authorities and as much as necessary.<br>

40. Destruction of confidential information after completion of the need:<br>
You undertake that upon completion of the agreement with the other party, you will destroy all of its confidential information and material that the other party does not wish to keep from all paper and electronic files.<br>

.
41. Non-implementation or delay shall not be regarded as a waiver by the other party:<br>
The delay of work by the worker, or failure to implement it does not invalidate the right of the other party, and may demand implementation or compensation for delay or non-performance. Unless the author of the right waives it in writing. In addition, at no time will our affiliates, licensors, or third party service providers ever be liable for any special, consequential, incidental, punitive, excess, indirect or consequential damages, Including, but not limited to, litigation costs, removal costs, loss of data, production, profit or business opportunities.<br>


    
</p>