  <ul class="ml-auto">
    <li>
      <a *ngIf="service.showMenu" class="" routerLink="/how_it_work">{{'howitwork' | translate}}&nbsp;?</a>
    </li>
    <li>
      <a *ngIf="service.showMenu" class="" routerLink="faqs"> {{'faqs' | translate}} </a>
    </li>
    <li>
      <a *ngIf="service.showMenu" class="" routerLink="disputes"> {{'disputes' | translate}} </a>
    </li>
    <li>
      <a class="" *ngIf="service.showMenu" routerLink="contact_us"> {{'contactus' | translate}} </a>
    </li>
    <li *ngIf="service.showMenu" class="dropdown">
      <app-notification #appNotification></app-notification>
    </li>
    <li *ngIf="service.showMenu">
      <p class="icon_top_menu" routerLink="employee_message">
        <i class="fa fa-comments-o   dynamic-badge" placement="bottom" ngbTooltip="{{'messages' | translate}}"
          aria-hidden="true">
          <span *ngIf="service.unreadCount!=0" class="dynamic-badge1">
            {{service.unreadCount}}
          </span>
        </i>

      </p>
    </li>
    <li class="dropdown">
      <p href="" class="icon_top_menu1 wdbrk  text-uppercase font-weight-bold" style="padding-top: 20px;" id="about-pofile"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{service.prfImg}}" class="img_top_propic">
      </p>
      <div class="dropdown-menu propic_bkg" style="margin-top: 0.7rem;" aria-labelledby="about-pofile">
        <img src="{{service.prfImg}}" class="img_propic">
        <a *ngIf="service.showMenu" class="dropdown-item" routerLink="employee_edit">{{'my_profile' | translate
          }}</a>

        <a *ngIf="service.showMenu" class="dropdown-item" routerLink="featuredworks">{{'my_works' | translate
          }}</a>

        <a *ngIf="service.showMenu" class="dropdown-item" routerLink="user_settings/1">{{'setting' | translate }}</a>
        <a *ngIf="service.showMenu" class="dropdown-item" routerLink="user_settings/2">{{'availability' | translate }}</a>
        <a *ngIf="service.showMenu" class="dropdown-item" routerLink="user_settings/3">{{'categories' | translate }}</a>

        <span class="dropdown-item logout pointer" (click)="logout()">{{'logout' | translate }}</span>
      </div>
    </li>
  </ul>
