<div *ngIf="service.activeContract">
  <div *ngIf="service.isEmployeeLogin()">
    <div *ngFor="let val of service.activeContract; let i = index">
      <div class="row">
        <div class="col-md-11 col-11 mx-auto imgsmicon1  my-2">
          <div class="">
            <div class="cards py-2">
              <a>
                <div class="row">
                  <div
                    (click)="gotoMyProfile(val.employerDetails.employerId)"
                    class="col-md-2 col-11 my-auto"
                  >
                    <div class="row">
                      <div class="col-md-12">
                        <img
                          *ngIf="
                            !val.employerDetails.employerProfileImage ||
                            val.employerDetails.employerProfileImage ==
                              'default'
                          "
                          src="{{ componyLogo }}"
                          class="listpropicview img-fluid60 rounded-circle"
                        />
                        <img
                          *ngIf="
                            val.employerDetails.employerProfileImage &&
                            val.employerDetails.employerProfileImage !=
                              'default'
                          "
                          src="{{ service.url }}/download/profile.json?fileID={{
                            val.employerDetails.employerProfileImage
                          }}&token={{ service.getStorage('token') }}"
                          class="listpropicview rounded-circle img-fluid60"
                        />
                      </div>
                      <div class="col-md-12">
                        <p class="mt-1 text-center">
                          <b
                            ><span class="">{{
                              service.transform(
                                val.employerDetails.employerName
                              )
                            }}</span></b
                          >
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-9 col-11 text-left mt-2">
                    <div
                      class="row"
                      (click)="setValue(val, i)"
                      routerLink="/job_time_line"
                    >
                      <div class="col-md-12 text-md-left text-center ">
                        <b>
                          <h5 class="text_blue">
                            {{ service.transform(val.jobDetails.jobTitle) }}
                          </h5>
                        </b>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          <span *ngIf="val.jobDetails.wageMode == 'hourly'"
                            >{{ "hourly_fair" | translate }}
                          </span>
                          <span *ngIf="val.jobDetails.wageMode == 'fixed'"
                            >{{ "fixedfair" | translate }}
                          </span>
                        </p>

                        <p class="mt-0 text-center">
                          <small>
                            <span *ngIf="val.jobDetails.wageMode == 'hourly'">
                              {{
                                val.hourlyWages
                                  ? val.hourlyWages
                                  : (val.jobDetails.hourlyWage
                                    | number: ".2-2")
                              }}&nbsp;{{ val.jobDetails.currency }} / hr</span
                            >
                            <span *ngIf="val.jobDetails.wageMode == 'fixed'">
                              {{
                                val.fixedWage
                                  ? val.fixedWage
                                  : (0 | number: ".2-2")
                              }}&nbsp;{{ val.jobDetails.currency }}</span
                            >
                          </small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          {{ "starting_date" | translate }}
                        </p>

                        <p class="mt-0 text-center ">
                          <small>{{
                            service.dateWithoutTime(val.jobDetails.fromDate)
                           
                          }}</small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          {{ "status" | translate }}
                        </p>

                        <p
                          class="mt-0 text-center 
                        "
                        >
                          <small
                            class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded"
                          >
                            {{ changeStatusText(val.lastAction) }}
                          </small>
                        </p>
                      </div>
                    </div>

                    <hr />

                    <div style="cursor: default" class="row">
                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          {{ "task_number" | translate }}
                        </p>

                        <p class="mt-0 text-center">
                          <small>{{ val.taskId }}</small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          {{ "estimatedearnings" | translate }}
                        </p>

                        <p class="mt-0 text-center">
                          <small *ngIf="val.lastAction == 'default'"
                            >0&nbsp;{{ "defaultcurrency" | translate }}</small
                          >
                          <small
                            *ngIf="
                              val.lastAction == 'START' ||
                              val.lastAction == 'RESUME'
                            "
                          >
                            {{
                              (val.wageMode == "fixed"
                                ? returnFloat(val.fixedWage)
                                : val.lastAction == "RESUME"
                                ? returnFloat(val.cost)
                                : calculateHourlyWages(
                                    val.totalTime,
                                    val.hourlyWages,
                                    val.minHour
                                  )) | number: ".2-2"
                            }}
                            {{ "defaultcurrency" | translate }}</small
                          >
                          <small
                            *ngIf="
                              val.lastAction == 'STOP' ||
                              val.lastAction == 'PAUSE'
                            "
                          >
                            {{ val.cost | number: ".2-2" }}
                          </small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          {{ "time" | translate }}
                        </p>
                        <p class="mt-0 text-center">
                          <cd-timer
                            *ngIf="
                              val.lastAction == 'START' ||
                              val.lastAction == 'RESUME'
                            "
                            [startTime]="service.taskStartTime[i]"
                            [endTime]="00"
                            maxTimeUnit="hour"
                            format="hms"
                          >
                            00:00:00</cd-timer
                          >
                        </p>
                        <p
                          class="mt-0 text-center"
                          *ngIf="
                            val.lastAction != 'START' &&
                            val.lastAction != 'RESUME'
                          "
                        >
                          {{ service.taskTimmer[i] }}
                        </p>
                        <p *ngIf="val.securityKey" class="mt-0  text-center">
                          {{ "securitykey" | translate }} :
                          <span *ngIf="service.taskFlag[i] == 0"
                            >{{ "*" | translate }}
                            <i
                              (click)="service.taskFlag[i] = 1"
                              class="fa fa-eye"
                              aria-hidden="true"
                            ></i
                          ></span>
                          <span *ngIf="service.taskFlag[i] == 1"
                            >{{ val.securityKey }}
                            <i
                              (click)="service.taskFlag[i] = 0"
                              class="fa fa-eye-slash"
                              aria-hidden="true"
                            ></i
                          ></span>
                        </p>
                      </div>

                      <div class="col-md-9 col-12 ml-auto">
                        <div class="row">
                          <div class="col-md-4 mx-auto text-center">
                            <p class="mt-0 text-center">
                              <!-- <button
                                *ngIf="
                                  val.lastAction == 'default' &&
                                  val.navigationStatus == 0
                                "
                                (click)="
                                  resetModal();
                                  service.taskProposal = val.contractId;
                                  tempData = val;openTrackModal()
                                "
                                data-toggle="modal"
                                data-target="#modal_direction"
                                class="btn btn_alkafu  my-2"
                              >
                                <i
                                  class="fa fa-map"
                                  aria-hidden="true"
                                ></i>
                                {{ "startnavigation" | translate }}
                              </button>
                              <button
                              *ngIf="
                                val.lastAction == 'default' &&
                                val.navigationStatus == 1
                              "
                              (click)="
                                resetModal();
                                service.taskProposal = val.contractId;
                                tempData = val;openTrackModal()
                              "
                              data-toggle="modal"
                              data-target="#modal_direction"
                              class="btn btn_alkafu  my-2"
                            >
                              <i
                                class="fa fa-map"
                                aria-hidden="true"
                              ></i>
                              {{ "arrived" | translate }}
                            </button> -->
                              <button
                                *ngIf="
                                  val.lastAction == 'default' 
                                "
                                (click)="
                                  resetModal();
                                  service.taskProposal = val.contractId;
                                  service.taskType = 'start'
                                "
                                data-toggle="modal"
                                data-target="#modal_job_description"
                                class="btn btn_alkafu  my-2"
                              >
                                <i
                                  class="fa fa-play-circle"
                                  aria-hidden="true"
                                ></i>
                                {{ "start" | translate }}
                              </button>
                              <button
                                *ngIf="
                                  val.lastAction == 'START' ||
                                  val.lastAction == 'RESUME'
                                "
                                (click)="
                                  resetModal();
                                  service.taskProposal = val.contractId;
                                  service.taskType = 'pause'
                                "
                                data-toggle="modal"
                                data-target="#modal_job_description"
                                class="btn btn_alkafu  my-2"
                              >
                                <i class="fa fa-pause" aria-hidden="true"></i>
                                {{ "pause" | translate }}
                              </button>
                              <button
                                *ngIf="val.lastAction == 'PAUSE'"
                                (click)="
                                  resetModal();
                                  service.taskProposal = val.contractId;
                                  service.taskType = 'resume'
                                "
                                data-toggle="modal"
                                data-target="#modal_job_description"
                                class="btn btn_alkafu  my-2"
                              >
                                <i class="fa fa-play" aria-hidden="true"></i>
                                {{ "resume" | translate }}
                              </button>
                            </p>
                          </div>
                          <div
                            *ngIf="val.lastAction != 'default'"
                            class="col-md-4 mx-auto text-center"
                          >
                            <button
                              *ngIf="val.lastAction != 'STOP'"
                              (click)="
                                resetModal();
                                service.taskProposal = val.contractId;
                                service.taskType = 'stop'
                              "
                              data-toggle="modal"
                              data-target="#modal_job_description"
                              class="btn btn_alkafu  my-2"
                            >
                              <i class="fa fa-stop" aria-hidden="true"></i>
                              {{ "end" | translate }}
                            </button>
                            <button
                              *ngIf="
                                val.lastAction == 'STOP' &&
                                val.invoiceStatus == 0
                              "
                              (click)="
                                sendMessage($event);
                                emptyInvoiceList();
                                addInvoiceList();
                                service.taskProposal = val.contractId;
                                service.taskType = 'stop';
                                getInvoiceDetails()
                              "
                              data-toggle="modal"
                              class="btn btn_alkafu  my-2"
                            >
                              <i class="fa fa-send" aria-hidden="true"></i>
                              {{ "send_invoice" | translate }}
                            </button>
                          </div>
                          <div class="col-md-4 mx-auto">
                            <p class="mt-0 text-center">
                              <button
                                class="btn btn_alkafu  my-2"
                                (click)="
                                  service.navigateMsg(
                                    val.employerDetails.employerId,
                                    val.proposalId
                                  )
                                "
                              >
                                <i
                                  class="fa fa-comments-o"
                                  aria-hidden="true"
                                ></i>
                                {{ "message" | translate }}
                              </button>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="service.isEmployerLogin()">
    <div *ngFor="let val of service.activeContract; let i = index">
      <div class="row">
        <div class="col-md-11 col-11 mx-auto imgsmicon1  my-2">
          <div class="">
            <div class="cards py-2">
              <a>
                <div class="row">
                  <div
                    (click)="gotoMyProfile(val.employeeDetails.employeeId)"
                    class="col-md-2 col-11 my-auto"
                  >
                    <div class="row">
                      <div class="col-md-12">
                        <img
                          *ngIf="!val.employeeDetails.employeeProfileImage"
                          src="{{ componyLogo }}"
                          class="listpropicview img-fluid60 rounded-circle img-fluid60"
                        />
                        <img
                          *ngIf="val.employeeDetails.employeeProfileImage"
                          src="{{ service.url }}/download/profile.json?fileID={{
                            val.employeeDetails.employeeProfileImage
                          }}&token={{ service.getStorage('token') }}"
                          class="listpropicview img-fluid60 rounded-circle img-fluid60"
                        />
                      </div>
                      <div class="col-md-12">
                        <p class="mt-1 text-center">
                          <b>
                            <span class="">
                              {{
                                service.transform(
                                  val.employeeDetails.employeeName
                                )
                              }}
                            </span></b
                          >
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-9 col-11 text-left mt-2">
                    <div class="row" (click)="setValue(val, i)">
                      <div class="col-md-12  text-md-left text-center">
                        <b>
                          <h5 class="text_blue">
                            {{ service.transform(val.jobDetails.jobTitle) }}
                          </h5>
                        </b>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          <span *ngIf="val.jobDetails.wageMode == 'hourly'"
                            >{{ "hourly_fair" | translate }}
                          </span>
                          <span *ngIf="val.jobDetails.wageMode == 'fixed'"
                            >{{ "fixedfair" | translate }}
                          </span>
                        </p>

                        <p class="mt-0 text-center">
                          <span *ngIf="val.jobDetails.wageMode == 'hourly'">
                            {{
                              val.hourlyWages
                                ? val.hourlyWages
                                : (val.jobDetails.hourlyWage | number: ".2-2")
                            }}&nbsp;{{ val.jobDetails.currency }} / hr</span
                          >
                          <span *ngIf="val.jobDetails.wageMode == 'fixed'">
                            {{
                              val.fixedWage
                                ? val.fixedWage
                                : (0 | number: ".2-2")
                            }}&nbsp;{{ val.jobDetails.currency }}</span
                          >
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          {{ "starting_date" | translate }}
                        </p>

                        <p class="mt-0 text-center">
                          <small>{{
                            service.dateWithoutTime(val.jobDetails.fromDate)
                          }}</small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          {{ "status" | translate }}
                        </p>

                        <p class="mt-0 text-center">
                          <small
                            class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded"
                          >
                            {{ changeStatusText(val.lastAction) }}
                          </small>
                        </p>
                      </div>
                    </div>

                    <hr />

                    <div style="cursor: default" class="row">
                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          {{ "task_number" | translate }}
                        </p>

                        <p class="mt-0 text-center">
                          <small>{{ val.taskId }}</small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          {{ "estimatedspent" | translate }}
                        </p>

                        <p class="mt-0 text-center">
                          <small *ngIf="val.lastAction == 'default'"
                            >0&nbsp;{{ "defaultcurrency" | translate }}</small
                          >
                          <small
                            *ngIf="
                              val.lastAction == 'START' ||
                              val.lastAction == 'RESUME'
                            "
                          >
                            {{
                              (val.wageMode == "fixed"
                                ? returnFloat(val.fixedWage)
                                : val.lastAction == "RESUME"
                                ? returnFloat(val.cost)
                                : calculateHourlyWages(
                                    val.totalTime,
                                    val.hourlyWages,
                                    val.minHour
                                  )) | number: ".2-2"
                            }}
                            {{ "defaultcurrency" | translate }}</small
                          >
                          <small
                            *ngIf="
                              val.lastAction == 'STOP' ||
                              val.lastAction == 'PAUSE'
                            "
                          >
                            {{ val.cost | number: ".2-2" }}
                          </small>
                        </p>
                      </div>

                      <div class="col-md-4">
                        <p class="mt-0  text-center font-weight-bold">
                          {{ "time" | translate }}
                        </p>
                        <p class="mt-0 text-center">
                          <cd-timer
                            *ngIf="
                              val.lastAction == 'START' ||
                              val.lastAction == 'RESUME'
                            "
                            [startTime]="service.taskStartTime[i]"
                            [endTime]="00"
                            maxTimeUnit="hour"
                            format="hms"
                          >
                            00:00:00</cd-timer
                          >
                        </p>
                        <p
                          class="mt-0 text-center"
                          *ngIf="
                            val.lastAction != 'START' &&
                            val.lastAction != 'RESUME'
                          "
                        >
                          {{ service.taskTimmer[i] }}
                        </p>
                      </div>

                      <div class="col-md-9 col-12 ml-auto ">
                        <div class="row">
                          <div class="col-md-4 mx-auto">
                            <p class="mt-0 text-center">
                              <button
                                *ngIf="val.lastAction == 'default'"
                                (click)="
                                  service.tempSecurityKey = val.securityKey
                                "
                                data-toggle="modal"
                                data-target="#modal_qrCode"
                                class="btn btn_alkafu  my-2"
                              >
                                <i class="fa fa-qrcode" aria-hidden="true"></i>
                                {{ "qrcode" | translate }}
                              </button>

                              <button
                                *ngIf="
                                  val.lastAction != 'STOP' &&
                                  val.lastAction != 'default'
                                "
                                (click)="
                                  resetModal();
                                  service.taskProposal = val.contractId;
                                  service.taskType = 'stop'
                                "
                                data-toggle="modal"
                                data-target="#modal_job_description"
                                class="btn btn_alkafu  my-2"
                              >
                                <i class="fa fa-stop" aria-hidden="true"></i>
                                {{ "end" | translate }}
                              </button>
                            </p>
                          </div>
                          <div class="col-md-4 mx-auto">
                            <p class="mt-0 text-center">
                              <button
                                class="btn btn_alkafu mx-auto  my-2"
                                *ngIf="val.lastAction != 'STOP'"
                                (click)="setTrackdata(val)"
                                [routerLink]="['/track-employee']"
                                routerLinkActive="router-link-active"
                              >
                                <i class="fa fa-map" aria-hidden="true"></i>
                                {{ "track" | translate }}
                              </button>
                            </p>
                          </div>

                          <div class="col-md-4 mx-auto">
                            <p class="mt-0 text-center">
                              <button
                                class="btn btn_alkafu mx-auto  my-2"
                                (click)="
                                  service.navigateMsg(
                                    val.employeeDetails.employeeId,
                                    val.proposalId
                                  )
                                "
                              >
                                <i
                                  class="fa fa-comments-o"
                                  aria-hidden="true"
                                ></i>
                                {{ "message" | translate }}
                              </button>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-norocordsfound
  *ngIf="
    service.activeContract.length == 0 &&
    service.activeContract != [] &&
    !service.loader
  "
></app-norocordsfound>

<div
  class="modal fade"
  id="modal_direction"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " id="exampleModalLabel">
          {{ "enter_your_description_about_work" | translate }}
        </span>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <app-agmdirection
          [slat]="tempsLat"
          [slan]="tempsLan"
          [dlat]="tempdLat"
          [dlan]="tempdLan"
        [origin]="tempOrigin"
        [destination]="tempDestination"
        [navigationStatus]="tempData.navigationStatus"
        [contrctId]="tempData.contractId"
        ></app-agmdirection>
      </div>
    </div>
  </div>
</div>
