.card-header{
    margin: 15px !important;
    /* border: 1px solid rgb(0, 45, 104) !important; */
}

.card-header {
    border-bottom: 1px solid rgba(0,0,0,0) !important;
}

.bg_darklight
{
    background-color: #f5f2f2 !important
}

