<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container mt-4">
        <div class="row ">
          <div class="col-md-12  p-5 bg-white">

            <h3 class="text_blue text-center mt-1 mb-3" > {{'find_the_service_for_you' | translate}} </h3>

              <div class=" card-deck   row ">
                <div class="col-md-4 card popular shadow  text-center   mb-4  " style="padding-left: 0px; padding-right: 0px; background-color: #001c4e;">
                    <span class="h4 w-80 mx-auto px-4 py-1 rounded-bottom   text-white ">{{'vip_plan' | translate}} </span>
                    <div class="bg-transparent card-header py-3 border-0">
                        <h1 class="h1 font-weight-normal text-white text-center mb-0" data-pricing-value="15">{{'defaultcurrency' | translate}} <span class="price">100</span><span class="h6  text-white ml-2">/ per month</span></h1>
                    </div>
                    <div class="card-body pt-3 bg-white" >
                        <ul class="list-unstyled mb-4">
                            <li class="text-left py-2"><i class="fa fa-check text-success" aria-hidden="true"></i>  {{'plan1' | translate}} </li>
                            <li class="text-left py-2"> <i class="fa fa-check text-success" aria-hidden="true"></i> {{'plan2' | translate}} </li>
                            <li class="text-left py-2"><i class="fa fa-check text-success" aria-hidden="true"></i>  {{'plan3' | translate}} </li>
                            <li class="text-left py-2"> <i class="fa fa-check text-success" aria-hidden="true"></i> {{'plan4' | translate}} </li>
                            <li class="text-left py-2"> <i class="fa fa-check text-success" aria-hidden="true"></i> {{'plan5' | translate}} </li>
                        </ul>
                        <button type="button" class="btn btn_alkafu mb-3"> {{ 'select' | translate}} </button>
                    </div>
                    
                </div>
                <div class="col-md-4 card popular shadow  text-center   mb-4  " style="padding-left: 0px; padding-right: 0px;background-color: #002d68;">
                    <span class="h4 w-80 mx-auto px-4 py-1 rounded-bottom  text-white ">{{'ip_plan' | translate}} </span>
                    <div class="bg-transparent card-header py-3 border-0">
                            <h1 class="h1 font-weight-normal text-white text-center mb-0" data-pricing-value="15">{{'defaultcurrency' | translate}} <span class="price">50</span><span class="h6  text-white ml-2">/ per month</span></h1>
                        </div>
                    <div class="card-body pt-3 bg-white" >
                        <ul class="list-unstyled mb-4">
                            <li class="text-left py-2"><i class="fa fa-check text-success" aria-hidden="true"></i>  {{'plan1' | translate}} </li>
                            <li class="text-left py-2"> <i class="fa fa-check text-success" aria-hidden="true"></i> {{'plan2' | translate}} </li>
                            <li class="text-left py-2"><i class="fa fa-check text-success" aria-hidden="true"></i>  {{'plan3' | translate}} </li>
                            <li class="text-left py-2"> <i class="fa fa-check text-success" aria-hidden="true"></i> {{'plan4' | translate}} </li>
                            <li class="text-left py-2"> <i class="fa fa-times text-danger" aria-hidden="true"></i> {{'plan5' | translate}} </li>
                        </ul>
                        <button type="button" class="btn btn_alkafu mb-3"> {{ 'select' | translate}} </button>
                    </div>
                    
                </div>
                <div class="col-md-4 card popular shadow  text-center   mb-4  " style="padding-left: 0px; padding-right: 0px;background-color: #002d68b3;">
                    <span class="h4 w-80 mx-auto px-4 py-1 rounded-bottom   text-white ">{{'standard' | translate}} </span>
                    <div class="bg-transparent card-header py-3 border-0">
                            <h1 class="h1 font-weight-normal text-white text-center mb-0" data-pricing-value="15">{{'defaultcurrency' | translate}} <span class="price">00</span><span class="h6  text-white ml-2">/ per month</span></h1>
                        </div>
                    <div class="card-body pt-3 bg-white" >
                        <ul class="list-unstyled mb-4">
                            <li class="text-left py-2"><i class="fa fa-check text-success" aria-hidden="true"></i>  {{'plan1' | translate}} </li>
                            <li class="text-left py-2"> <i class="fa fa-check text-success" aria-hidden="true"></i> {{'plan2' | translate}} </li>
                            <li class="text-left py-2"><i class="fa fa-check text-success" aria-hidden="true"></i>  {{'plan3' | translate}} </li>
                            <li class="text-left py-2"> <i class="fa fa-times text-danger" aria-hidden="true"></i> {{'plan4' | translate}} </li>
                            <li class="text-left py-2"> <i class="fa fa-times text-danger" aria-hidden="true"></i> {{'plan5' | translate}} </li>
                        </ul>
                        <button type="button" class="btn btn_alkafu mb-3"> {{ 'select' | translate}} </button>
                    </div>
                    
                </div>
              
            </div>



          </div>



          

          <!-- </div>
                                <div class="row"> -->
        </div>

        <!-- row -->
      </div>

      <!-- <div class="col-md-4 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white">
                   </div> -->
    </div>

    <!-- end iconrow -->
  </div>
</div>
