<!------ Header for edit------ -->
<div *ngIf="service.getRegisterLevel()=='0'" class=" bg-white">

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto my-3 py-3">
                <h4 class="text-center text_heading">{{'edit_information' | translate}}</h4>


            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white">
    <!-- iconrow -->

    <div class="row bg-white vh-100">
        <div class="col-md-12 mainheading text-center text-md-left pt-3 pb-3   mx-auto bg-white">
            <div class="container  mt-4">
                <div *ngIf="service.getStorage('emailVerify')=='false'" class="row my-2">
                    <div class="col-md-12 mx-auto bkgdarkblue text-white">
                        <p class="text-white">
                            {{'title_email_verify_message' | translate}} {{'verify_email_address' | translate}}

                            <button class="btn accept_icon1" (click)="service.sendEmail()"> {{'r_send' | translate}}
                            </button>
                            <!-- <a (click)="service.sendEmail()">
                                <u>{{'verify_email_address' | translate}}</u>
                            </a> -->
                        </p>
                    </div>


                </div>

                <div class="row " style="background-color: #ccc;">
                    <div class="col-md-4 ">
                        <div class=" w-100">
                            <div class="arrowreg_page_ash">
                                <p class="text-dark"> {{'account_setup' | translate }}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 ">
                        <div class=" w-100">
                            <div class="arrowreg_page">
                                <p class=" text-white mx-2"> {{'educational_setup' | translate }}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 ">
                        <div class=" w-100">
                            <div class="arrowreg_page_ash">
                                <p class=" text-dark mx-2"> {{'professional_ setup' | translate }}</p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <!-- multistep form -->

                    <form id="msform" [formGroup]="signupForm" role="form" method="POST">
                        <!-- progressbar -->

                        <div class="d-none">
                            <ul id="progressbar">
                                <li>{{'account_setup' | translate }}</li>

                                <li class="active">{{'educational_setup' | translate }}</li>

                                <li>{{'professional_ setup' | translate }}</li>
                            </ul>
                        </div>


                        <!-- fieldsets -->



                        <fieldset>
                            <!-- <h2 class="fs-title">{{'add_personal _information' | translate }}</h2>

                            <h3 class="fs-subtitle">{{'education _details' | translate}}</h3> -->

                            <div class="row text-left">
                                <div class="col-md-6">
                                    <div class="row">




                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'id_type' | translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <ng-select placeholder="{{'id_type' | translate }}" (remove)="onIdTypeItemDeselect()"
                                                        (clear)="onIdTypeItemDeselect()" [items]="identityTypes "
                                                        bindLabel="identityType" bindValue="id" class="ng_select form-control"
                                                        [ngClass]=" initialLoader" formControlName="id_type"
                                                        [(ngModel)]="prIdType" (change)="onIdTypeItemSelect($event)">
                                                    </ng-select>

                                                </div>
                                                <span class="help-block danger" *ngIf="!signupForm.get('id_type').value && bottonClick==1 ">{{validationMsg.id_typeInvalid}}</span>

                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired" for="password">{{'id_no' | translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input formControlName="id_no" autocomplete="off" type="text" name="name"
                                                        [(ngModel)]="prIdno" class="form-control" id="name" placeholder="{{'id_no' | translate}}"
                                                        required="required" maxlength=50 />
                                                </div>
                                                <span class="help-block danger" *ngIf="!signupForm.get('id_no').valid && bottonClick==1 ">{{validationMsg.id_noInvalid}}</span>

                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'id_issue_date' | translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <input placeholder="DD/MM/YYYY" formControlName="id_date"
                                                        [(ngModel)]="pridIssueDate" (keydown)="service.preventDefault($event)"
                                                        [max]="today | date : 'yyyy-MM-dd'" [min]="minDate | date : 'yyyy-MM-dd'"
                                                        class="form-control" id="dob" maxlength=50 [owlDateTimeTrigger]="dt3"
                                                        [owlDateTime]="dt3">
                                                    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>

                                                    <!-- <input formControlName="id_date" type="date" (keydown)="service.preventDefault($event)"
                                                        [(ngModel)]="pridIssueDate" [max]="today |  date : 'yyyy-MM-dd'"
                                                        class="form-control" id="exampleInputDOB1" name="dob"
                                                        placeholder="{{'id_issue_date' | translate}}" required="required" /> -->
                                                </div>
                                                <span class="help-block danger" *ngIf="!signupForm.get('id_date').valid && bottonClick==1 ">{{validationMsg.id_issue_dateInvalid}}</span>

                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'edu_last_level' | translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'edu_last_level' | translate }}" (remove)="onEducationItemDeselect()"
                                                        (clear)="onEducationItemDeselect()" [items]="education "
                                                        bindLabel="education" bindValue="id" class="ng_select form-control"
                                                        [ngClass]=" initialLoader" formControlName="education"
                                                        dropdownPosition="bottom" [(ngModel)]="prEducation" (change)="onEducationItemSelect($event)">
                                                    </ng-select>

                                                </div>

                                                <span class="help-block danger" *ngIf="!signupForm.get('education').value && bottonClick==1 ">{{validationMsg.educationInvalid}}</span>

                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" [class]="prEducation!=9 && prEducation!=8? 'labelrequired' :''">
                                                {{'collage' | translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input formControlName="collage" type="text" name="name"
                                                        [attr.disabled]="prEducation!=9&&prEducation!=8 ? null :'' "
                                                        autocomplete="off" [(ngModel)]="prcollegeName" class="form-control"
                                                        id="name" placeholder=" {{'collage' | translate}}" required="required"
                                                        maxlength=150 />
                                                </div>
                                                <span class="help-block danger" *ngIf="!signupForm.get('collage').valid && bottonClick==1 && prEducation!=9&&prEducation!=8 ">{{validationMsg.collageInvalid}}</span>

                                            </div>
                                        </div>



                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" [class]="prEducation!=9&&prEducation!=8? 'labelrequired' :''">
                                                {{'graduation_date' |
                                                translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <input placeholder="DD/MM/YYYY" formControlName="education_date"
                                                        [attr.disabled]="prEducation!=9&&prEducation!=8 ? null :'' "
                                                        [(ngModel)]="prgraduationDate" (keydown)="service.preventDefault($event)"
                                                        [max]="today | date : 'yyyy-MM-dd'" [min]="minDate | date : 'yyyy-MM-dd'"
                                                        class="form-control" id="dob" [owlDateTimeTrigger]="dt2"
                                                        [owlDateTime]="dt2">
                                                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>

                                                    <!-- <input formControlName="education_date" type="date" (keydown)="service.preventDefault($event)"
                                                        [max]="today |  date : 'yyyy-MM-dd'" [(ngModel)]="prgraduationDate"
                                                        class="form-control" id="exampleInputDOB1" name="dob"
                                                        placeholder="Date of Birth" required="required" /> -->
                                                </div>
                                                <span class="help-block danger" *ngIf="!signupForm.get('education_date').valid && bottonClick==1 && prEducation!=9&&prEducation!=8">{{validationMsg.graduation_dateInvalid}}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="label">{{'up_your_certificates' |
                                                translate}}</label>
                                        </div>

                                        <div class="col-md-8 pb-1 mb-4">
                                            <div class="form-group file_up_style" style="display:none">
                                                <span class="hide_fileup ">
                                                    <span class="float-left" *ngIf="fileName">{{service.fileNameFormater(fileName[fileName.length
                                                        - 1]) }}</span>
                                                    <input type="file" accept="{{service.fileFormat}}" multiple id="upload_file"
                                                        class="{{fileLoader}}" (change)=fileEvent($event)
                                                        formControlName="upload_file" accept={{service.fileFormat}}
                                                        placeholder="file" />
                                                </span>


                                                <span onclick="triggerFileInput()" id='button_up'>{{'selectfile' |
                                                    translate}}</span>
                                                <!-- <span class="help-block danger" *ngIf="!signupForm.get('upload_file').value && bottonClick==1 ">{{validationMsg.uploadInvalid}}</span> -->

                                            </div>

                                            <div *ngIf="dwnld_file" class="my-2 text-left">
                                                <app-editattachment [attachments]="educationCertificate" [fileName]="fileName"
                                                    (messageEvent)="deleteFileicon($event)"></app-editattachment>

                                                   
                                            </div>
                                            <div *ngIf="this.fileCounter <5 " class="img_attach_sm img_plus "  onclick="triggerFileInput()">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </div>

                                            <div>

                                            </div>
                                            <div *ngIf="service.loader" class="ldr_file mx-auto my-auto"><img class="img-fluid"
                                                    src="assets/images/loaderinput.gif"></div>

                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label class="labelrequired" for="password">{{'mother_tongue' | translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'mother_tongue' | translate }}" (remove)="onMotherToungueItemDeselect()"
                                                        (clear)="onMotherToungueItemDeselect()" [items]="motherTongue "
                                                        bindLabel="language" bindValue="id" class="ng_select form-control"
                                                        [ngClass]=" initialLoader" formControlName="mother_tongue"
                                                        [(ngModel)]="prMothertoungue" (change)="onMotherToungueItemSelect($event)">
                                                    </ng-select>

                                                </div>
                                                <span class="help-block danger" *ngIf="!signupForm.get('mother_tongue').value && bottonClick==1 ">{{validationMsg.mothertongueInvalid}}</span>
                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label>{{"other_you_speaks" |
                                                translate}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row ">
                                                
                                                     <!-- col-md-6 col-sm-12  -->
                                                <div *ngFor="let item of language;let i=index" class="  my-2 mx-2">
                                                   
                                                        <div (click)="languageKey=i" class="img_attach_sm img_plus " data-toggle="modal"
                                                            data-target="#language_Modal">
                                                            <!-- txt_address -->
                                                            <div class="">
                                                                    <i  (click)="languageKey=i;removeLanguage(i)"
                                                                    class="fa fa-close close_red_corner pointer"></i>
                                                                    <!-- {{"Language"}} : -->
                                                                <p class=" lan_item_head" >  {{item.langauge}} </p>
                                                                <!-- {{"randw" | translate}}  : -->
    
                                                               
                                                                <p class="">  
                                                                    
                                                                    <span [class]="item.read==1?'clr_red':item.read==5?'clr_orange':'clr_green'">
                                                                            <i class="fa fa-book"> </i>
                                                                        {{(item.read==1?'weak':item.read==5?'medium':'strong'
                                                                        )| translate}}
                                                                    </span> </p>
                                                                    <!-- {{"conversation" | translate}} : -->
                                                                    
                                                                <p class=""> 
                                                                    <span [class]="item.speak==1?'clr_red':item.speak==5?'clr_orange':'clr_green'">
                                                                            <i class="fa fa-bullhorn "> </i>
                                                                        {{(item.speak==1?'weak':item.speak==5?'medium':'strong'
                                                                        )| translate}}
                                                                    </span> </p>
                                                            </div>
    
                                                        </div>
                                                    </div>
                                                    <!-- lan_box icon_align -->
                                                    <div *ngIf="language.length!=2" class="col-md-6 col-sm-12 my-2">
                                                        <div class="img_attach_sm img_plus " data-toggle="modal" data-target="#language_Modal">
                                                            <i class="fa fa-plus-circle text_blue mx-auto m-auto "
                                                                aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                    <!-- Button trigger modal -->
    
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="language_Modal" tabindex="-1" role="dialog"
                                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <span  class="modal-title" id="exampleModalLongTitle">
                                                                       <b>{{'add_language_skill' | translate}}</b> </span>
                                                                    <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <!------------------Other lang----------------------------->
                                                                    <div *ngIf="languageKey==0" class="row">
                                                                        <div class="col-md-12 field-label-responsive">
                                                                            <label>{{"other_you_speaks" |
                                                                                translate}}</label>
                                                                        </div>
    
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                                                    <div class="input-group-addon"></div>
                                                                                    <ng-select placeholder="{{'other_you_speaks' | translate }}"
                                                                                        (remove)="tongue_1Deselect()"
                                                                                        (clear)="tongue_1Deselect()"
                                                                                        [items]="motherTongue " bindLabel="language"
                                                                                        bindValue="id" class="ng_select form-control"
                                                                                        [ngClass]=" initialLoader"
                                                                                        formControlName="tongue_1"
                                                                                        [(ngModel)]="prTongue_1" (change)="tongue_1Select($event)">
                                                                                    </ng-select>
    
                                                                                </div>
                                                                                <!-- <span class="help-block danger" *ngIf="!signupForm.get('tongue_1').value && bottonClick==1 ">{{validationMsg.other_langInvalid}}</span> -->
    
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 field-label-responsive">
                                                                            <label>{{"r_w_level"
                                                                                | translate}}</label>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="wrapper">
                                                                                <div class="toggle_radio">
                                                                                    <input type="radio" [checked]="prReading1==1" class="toggle_option"
                                                                                        id="first_toggle" name="toggle_option">
                                                                                    <input type="radio" [checked]="prReading1==5" class="toggle_option"
                                                                                        id="second_toggle" name="toggle_option">
                                                                                    <input type="radio" [checked]="prReading1==10" class="toggle_option"
                                                                                        id="third_toggle" name="toggle_option">
                                                                                    <label (click)="prReading1=1" for="first_toggle">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"weak" | translate}} </p>
                                                                                    </label>
                                                                                    <label (click)="prReading1=5" for="second_toggle">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"medium" | translate}} </p>
                                                                                    </label>
                                                                                    <label (click)="prReading1=10" for="third_toggle">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"strong" | translate}} </p>
                                                                                    </label>
                                                                                    <div class="toggle_option_slider">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
    
                                                                        </div>
                                                                        <div class="col-md-12 field-label-responsive">
                                                                            <label> {{"conversation_level"|translate}}
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="wrapper">
                                                                                <div class="toggle_radio">
                                                                                    <input type="radio" [checked]="prConversation_1==1" class="toggle_option"
                                                                                        id="first_toggle1" name="toggle_option1">
                                                                                    <input type="radio" [checked]="prConversation_1==5" class="toggle_option"
                                                                                        id="second_toggle1" name="toggle_option1">
                                                                                    <input type="radio" [checked]="prConversation_1==10" class="toggle_option"
                                                                                        id="third_toggle1" name="toggle_option1">
                                                                                    <label (click)="prConversation_1=1" for="first_toggle1">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"weak" | translate}} </p>
                                                                                    </label>
                                                                                    <label (click)="prConversation_1=5" for="second_toggle1">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"medium" | translate}} </p>
                                                                                    </label>
                                                                                    <label (click)="prConversation_1=10"
                                                                                        for="third_toggle1">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"strong" | translate}} </p>
                                                                                    </label>
                                                                                    <div class="toggle_option_slider">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
    
                                                                        </div>
    
                                                                    </div>
                                                                    <!-------------------------Secondary language-------------------------->
                                                                    <div *ngIf="languageKey==1" class="row">
                                                                        <div class="col-md-12 field-label-responsive">
                                                                            <label>{{"2_lang" |
                                                                                translate}}</label>
                                                                        </div>
    
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                                                    <div class="input-group-addon"></div>
                                                                                    <ng-select placeholder="{{'2_lang' | translate }}"
                                                                                        (remove)="tongue_2Deselect()"
                                                                                        (clear)="tongue_2Deselect()"
                                                                                        [items]="motherTongue " bindLabel="language"
                                                                                        bindValue="id" class="ng_select form-control"
                                                                                        [ngClass]=" initialLoader"
                                                                                        formControlName="tongue_2"
                                                                                        [(ngModel)]="prTongue_2" (change)="tongue_2Select($event)">
                                                                                    </ng-select>
    
                                                                                </div>
                                                                                <!-- <span class="help-block danger" *ngIf="!signupForm.get('tongue_1').value && bottonClick==1 ">{{validationMsg.other_langInvalid}}</span> -->
    
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 field-label-responsive">
                                                                            <label>{{"r_w_level"
                                                                                | translate}}</label>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="wrapper">
                                                                                <div class="toggle_radio">
                                                                                    <input type="radio"  [checked]="prReading_2==1"   class="toggle_option"
                                                                                        id="first_toggle" name="toggle_option">
                                                                                    <input type="radio" [checked]="prReading_2==5" class="toggle_option"
                                                                                        id="second_toggle" name="toggle_option">
                                                                                    <input type="radio" [checked]="prReading_2==10"  class="toggle_option"
                                                                                        id="third_toggle" name="toggle_option">
                                                                                    <label (click)="prReading_2=1" for="first_toggle">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"weak" | translate}} </p>
                                                                                    </label>
                                                                                    <label (click)="prReading_2=5" for="second_toggle">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"medium" | translate}} </p>
                                                                                    </label>
                                                                                    <label (click)="prReading_2=10" for="third_toggle">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"strong" | translate}} </p>
                                                                                    </label>
                                                                                    <div class="toggle_option_slider">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
    
                                                                        </div>
                                                                        <div class="col-md-12 field-label-responsive">
                                                                            <label> {{"conversation_level"|translate}}
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="wrapper">
                                                                                <div class="toggle_radio">
                                                                                    <input type="radio" [checked]="prConversation_2==1" class="toggle_option"
                                                                                        id="first_toggle1" name="toggle_option1">
                                                                                    <input type="radio"  [checked]="prConversation_2==5"  class="toggle_option"
                                                                                        id="second_toggle1" name="toggle_option1">
                                                                                    <input type="radio"  [checked]="prConversation_2==10"  class="toggle_option"
                                                                                        id="third_toggle1" name="toggle_option1">
                                                                                    <label (click)="prConversation_2=1" for="first_toggle1">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"weak" | translate}} </p>
                                                                                    </label>
                                                                                    <label (click)="prConversation_2=5" for="second_toggle1">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"medium" | translate}} </p>
                                                                                    </label>
                                                                                    <label (click)="prConversation_2=10"
                                                                                        for="third_toggle1">
                                                                                        <p class="text-white absolute_text">
                                                                                            {{"strong" | translate}} </p>
                                                                                    </label>
                                                                                    <div class="toggle_option_slider">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
    
                                                                        </div>
    
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                                                    <button type="button" (click)="addLanguage()" class="btn btn-primary"
                                                                        data-dismiss="modal"> {{'add' | translate}}
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
    

                                               
                                                   
                                            </div>
                                        </div>

                                        <!-- language sec -->
                                        <!-- <div class="col-md-4 field-label-responsive">
                                            <label>{{"other_you_speaks" |
                                                translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'other_you_speaks' | translate }}"
                                                        (remove)="tongue_1Deselect()" (clear)="tongue_1Deselect()"
                                                        [items]="motherTongue " bindLabel="language" bindValue="id"
                                                        class="ng_select form-control" [ngClass]=" initialLoader"
                                                        formControlName="tongue_1" [(ngModel)]="prTongue_1" (change)="tongue_1Select($event)">
                                                    </ng-select>

                                                </div>
                                                <span class="help-block danger" *ngIf="!signupForm.get('tongue_1').value && bottonClick==1 ">{{validationMsg.other_langInvalid}}</span>

                                            </div>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <i class="fa fa-question-circle-o text_blue" placement="left" ngbTooltip="{{'pls_selct_mark' | translate}} "
                                                aria-hidden="true">
                                            </i>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label [class]="prTongue_1?'labelrequired' : ''" for="labelrequired">{{"r_w_level"
                                                |
                                                translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'r_w_level' | translate }}" (remove)="reading_1Deselect()"
                                                        (clear)="reading_1Deselect()" [items]="levels " bindLabel="langLevel"
                                                        bindValue="id" class="ng_select form-control" [ngClass]=" initialLoader"
                                                        formControlName="reading_1" [(ngModel)]="prReading1" (change)="reading_1Select($event)">
                                                    </ng-select>


                                                </div>
                                                <span class="help-block danger" *ngIf="!signupForm.get('reading_1').value && prTongue_1 && bottonClick==1 ">{{validationMsg.r_wInvalid}}</span>

                                            </div>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <i class="fa fa-question-circle-o text_blue" placement="left" ngbTooltip="{{'pls_selct_mark' | translate}} "
                                                aria-hidden="true">
                                            </i>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label [class]="prTongue_1?'labelrequired' : ''" for="labelrequired">{{"conversation_level"
                                                |
                                                translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'conversation_level' | translate }}"
                                                        (remove)="conversation_1Deselect()" (clear)="conversation_1Deselect()"
                                                        [items]="levels " bindLabel="langLevel" bindValue="id" class="ng_select form-control"
                                                        [ngClass]=" initialLoader" formControlName="conversation_1"
                                                        [(ngModel)]="prConversation_1" (change)="conversation_1Select($event)">
                                                    </ng-select>


                                                </div>
                                                <span class="help-block danger" *ngIf="!signupForm.get('conversation_1').value && prTongue_1 && bottonClick==1 ">{{validationMsg.conversation_levelInvalid}}</span>

                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password">{{'2_lang' | translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'2_lang' | translate }}" (remove)="tongue_2Deselect()"
                                                        (clear)="tongue_2Deselect()" [items]="motherTongue " bindLabel="language"
                                                        bindValue="id" class="ng_select form-control" [ngClass]=" initialLoader"
                                                        formControlName="tongue_2" [(ngModel)]="prTongue_2" (change)="tongue_2Select($event)">
                                                    </ng-select>


                                                </div>
                                                <span class="danger" *ngIf="this.bottonClick ==1&&this.tongue_2Id==this.tongue_1Id">{{validationMsg.samesecondLanguage}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <i class="fa fa-question-circle-o text_blue" placement="left" ngbTooltip="{{'pls_selct_mark' | translate}} "
                                                aria-hidden="true">
                                            </i>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label [class]="prTongue_2?'labelrequired':''" for="password">{{'r_w_level'
                                                | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'r_w_level' | translate }}" (remove)="reading_2Deselect()"
                                                        (clear)="reading_2Deselect()" [items]="levels " bindLabel="langLevel"
                                                        bindValue="id" class="ng_select form-control" [ngClass]=" initialLoader"
                                                        formControlName="reading_2" [(ngModel)]="prReading_2" (change)="reading_2Select($event)">
                                                    </ng-select>



                                                </div>
                                                <span *ngIf="prTongue_2 && !prReading_2" class="danger">{{validationMsg.r_wInvalid}}</span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-right">
                                            <i class="fa fa-question-circle-o text_blue" placement="left" ngbTooltip="{{'pls_selct_mark' | translate}} "
                                                aria-hidden="true">
                                            </i>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label [class]="prTongue_2?'labelrequired':''" for="password">{{'conversation_level'
                                                | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <ng-select placeholder="{{'conversation_level' | translate }}"
                                                        (remove)="conversation_2Deselect()" (clear)="conversation_2Deselect()"
                                                        [items]="levels " bindLabel="langLevel" bindValue="id" class="ng_select form-control"
                                                        [ngClass]=" initialLoader" formControlName="conversation_2"
                                                        [(ngModel)]="prConversation_2" (change)="conversation_2Select($event)">
                                                    </ng-select>




                                                </div>
                                                <span *ngIf="prTongue_2 && !prConversation_2" class="danger">{{validationMsg.r_wInvalid}}</span>


                                            </div>
                                        </div> -->




                                    </div>
                                </div>
                            </div>

                            <input type="button" [disabled]="this.fileLoader" name="previous" class="previous btn_alkafu pl-3 pr-3"
                                value="{{'previous' | translate}}" (click)="previous()" />
                            &nbsp;
                            <input type="button" [disabled]="this.fileLoader" (click)="educationSetupApi(1)" *ngIf="service.getRegisterLevel()=='0'"
                                class=" btn_alkafu pl-3 pr-3" value="{{'save' | translate}}" />
                            &nbsp;
                            <input type="button" [disabled]="this.fileLoader" name="next" (click)="educationSetupApi(0)"
                                class=" btn_alkafu pl-3 pr-3" value="{{'next' | translate}}" />
                        </fieldset>


                    </form>
                </div>

                <!-- row -->
            </div>
        </div>
    </div>

    <!-- end iconrow -->
</div>