.wrapper{
    /* background: #497dd0;
    padding:100px; */
  }
  .absolute_text{
      position: absolute;
      z-index: 1;
      margin-left: 10px;
    
  }
  .txt_address{
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .toggle_radio{
    position: relative;
    /* background: rgba(255,255,255,.1); */
    background-color: rgb(153, 153, 153);
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 30px;
    width: 318px;
  }
  .toggle_radio > * {
    float: left;
  }
  .toggle_radio input[type=radio]{
    display: none;
    /*position: fixed;*/
  }
  .toggle_radio label{
    font: 90%/1.618 "Source Sans Pro";
    /* color: rgba(255,255,255,.9); */
    color: rgba(255,255,255,1);
    z-index: 0;
    display: block;
    width: 100px;
    height: 24px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/ /*make it blue*/
  }
  .toggle_option_slider{
    /*display: none;*/
    /*background: red;*/
    width: 100px;
    height: 24px;
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
  }
  
  #first_toggle:checked ~ .toggle_option_slider{
    /* background: rgba(255,255,255,.3); */
    background-color: rgba(254, 0, 2,0.7);
    left: 3px;
  }
  #second_toggle:checked ~ .toggle_option_slider{
    /* background: rgba(255,255,255,.3); */
    background-color: rgba(254, 195, 0, 0.7);
    left: 109px;
  }
  #third_toggle:checked ~ .toggle_option_slider{
    /* background: rgba(255,255,255,.3); */
    background-color: rgba(0, 135, 0, 0.7);
    left: 215px;
  }

  #first_toggle1:checked ~ .toggle_option_slider{
    /* background: rgba(255,255,255,.3); */
    background-color: rgba(254, 0, 2,0.7);
    left: 3px;
  }
  #second_toggle1:checked ~ .toggle_option_slider{
    /* background: rgba(255,255,255,.3); */
    background-color: rgba(254, 195, 0, 0.7);
    left: 109px;
  }
  #third_toggle1:checked ~ .toggle_option_slider{
    /* background: rgba(255,255,255,.3); */
    background-color: rgba(0, 135, 0, 0.7);
    left: 215px;
  }
  .clr_red{
      color: rgba(254, 0, 2,1);
  }
  .clr_orange{
    color:  rgba(254, 195, 0, 1);
}
.clr_green{
    color: rgba(0, 135, 0,1);
}