<p (click)="loadNotification()" class="icon_top_menu dropdown-toggle" id="dropdownnotification" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">
  <!-- routerLink="user_notifications" -->
  <i class="fa fa-bell-o  dynamic-badge" aria-hidden="true" placement="bottom" ngbTooltip="{{'nottification' | translate}}">
    <p *ngIf="service.notificationLength!=0" class="dynamic-badge1">
      {{service.notificationLength}}
    </p>
  </i>
</p>

<div  class="notification_drop dropdown-menu p-2" style="width: 250px ; top:45px;" aria-labelledby="dropdownnotification">
  <div class="row">

    <div class="col-md-12 pt-3">

      <div *ngFor="let val of notification | slice : 0: 5">

        <div class="row" *ngIf="val.status==0" style="cursor: pointer" (click)="checkType(val)">
          <div class="col-md-2">
            <i class="fa fa-envelope text_blue mx-2 txt_18" aria-hidden="true"></i>
          </div>
          <div class="col-md-10 text-left">
            <span class="text-secondary txt_18 text-left">{{service.transform(val.notificationMessage)}}</span>
          </div>
          <div class="col-md-12 ">
            <span class="small1">  {{service.convertDateToGmt(val.createdTime)}}</span>
          </div>
        </div>

        <div class="row" *ngIf="val.status==1" (click)="checkType(val)" style="cursor: pointer">
          <div class="col-md-2">
            <i class="fa fa-envelope-open mx-2 txt_18" aria-hidden="true"></i>
          </div>
          <div class="col-md-10">
            <span class="text-secondary txt_18">{{service.transform(val.notificationMessage)}}</span>
          </div>
          <div class="col-md-12">
            <span class="small1"> {{service.convertDateToGmt(val.createdTime)}}</span>
          </div>
        </div>

      </div>

      <p *ngIf="service.notificationLength > 5" style="cursor: pointer" routerLink="/user_notifications" class="readmore_txt">{{'viewmore'
        | translate}} <i class="fa fa-arrow-right" aria-hidden="true"></i> </p>

      <p *ngIf="service.notificationLength==0">
        <span class="text-secondary">{{'nonotification' | translate}}</span><br>
        <span class="small1"> &nbsp;</span> </p>
    </div>

  </div>
</div>