<!-----------------QR Code modal------------------>
<div class="modal fade" id="modal_qrCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">


      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " id="exampleModalLabel"> {{'scancode' | translate}} </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="">
          <img class="img-fluid w-50 mx-auto d-block" src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{service.tempSecurityKey}}">
        </div>
        <hr>

        <div class="col-md-12 text-center">
          <label>{{'securitykey' | translate}} <h4><b>{{service.tempSecurityKey}}</b></h4></label>
        </div>

      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<!-- modalend -->
<!----------------------EVALUATE MODAL----------------------------->
<div class="modal fade w-100" id="evaluateModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-lg" role="document">
    <div class="modal-content">


      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " *ngIf="service.isEmployeeLogin()" id="exampleModalLabel"> {{'evaluate_employer' |
          translate }} </span>

        <span class="text-white " *ngIf="service.isEmployerLogin()" id="exampleModalLabel"> {{ 'evaluate_employe' |
          translate }} </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <app-evaluate></app-evaluate>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------------------->
<div class="modal fade" id="modal_job_invoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">


      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " id="exampleModalLabel"> {{'invoice' | translate}} </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <div class="row">

            <div class="col-md-8"> <label for="exampleInputEmail1"> {{'basic_fare' | translate}} </label> &nbsp;
              <span *ngIf="service.invoiceDetails">
                <span *ngIf="service.invoiceDetails.wageMode=='hourly'">
                (  {{'uptoxhrs' | translate: {'hrs': service.invoiceDetails?service.invoiceDetails.minHour:'0'} }})
                </span>
              </span>
            </div>

            <div class="col-md-4 text-right"> <label>{{service.invoiceDetails?service.invoiceDetails.invoiceDetails.baseFare:'0'
                | number : '1.2-2'}}</label>
            </div>

          </div>
        </div>
        <div class="form-group">
          <div class="row">

            <div class="col-md-8"><label for="exampleInputEmail1"> {{'aditionalfare' | translate}} </label>
              <span *ngIf="service.invoiceDetails">
                <span *ngIf="service.invoiceDetails.wageMode=='hourly'">
                  (
                  {{service.invoiceDetails.additionalHour?service.invoiceDetails.additionalHour:'0'}}&nbsp;*&nbsp;{{service.invoiceDetails?service.invoiceDetails.hourlyWage:'0'}}
                  )</span>
              </span>
            </div>
            <div class="col-md-4 text-right"><label>{{service.invoiceDetails?service.invoiceDetails.invoiceDetails.additionalFare:'0'
                | number : '1.2-2'}}</label>
            </div>
          </div>
        </div>

        <div *ngIf="service.invoiceList.length>0" class="form-group">
          <div class="row">
            <div class="col-md-5 text-left">
              <label for="exampleTextarea"> {{'item' | translate}} </label>


            </div>
            <div class="col-md-2 text-left">
              <label for="exampleTextarea"> {{'qty' | translate}} </label>

            </div>
            <div class="col-md-3 text-left">
              <label for="exampleTextarea"> {{'price' | translate}} </label>

            </div>
            <div class="col-md-2 mt-4">

            </div>
          </div>

          <div *ngFor="let item of this.service.invoiceList;let i=index;" class="row">
            <div class="col-md-5 text-left">


              <input type="text" maxlength="100" [(ngModel)]="item.item" class="form-control text-left" id="item"
                placeholder="{{'item' | translate}}" />


            </div>
            <div class="col-md-2 text-left">


              <input type="text" maxlength="3" (keyup)="calculateTotal()" (keydown)="service.validateInputKey($event)"
                [(ngModel)]="item.quantity" class="form-control text-right" id="qty" placeholder="{{'qty' | translate}}" />

            </div>
            <div class="col-md-3 text-left">


              <input type="text" maxlength="5" class="form-control text-right" (keyup)="calculateTotal()" (keydown)="service.validateExperience($event)"
                [(ngModel)]="item.price" id="qty" placeholder="{{'price' | translate}}" />

            </div>
            <div class="col-md-2">

              <p *ngIf="i+1!=this.service.invoiceList.length" (click)="this.removeInvoiceList(item)"><i class="fa fa-minus-circle"
                  style="font-size: 1.5rem;" aria-hidden="true"></i></p>
              <p *ngIf="i+1==this.service.invoiceList.length" (click)="this.addInvoiceList()"><i class="fa fa-plus-circle"
                  style="font-size: 1.5rem;" aria-hidden="true"></i></p>
            </div>
          </div>


        </div>
        <!-- <p class="text-center" (click)="this.addInvoiceList()"><i class="fa fa-plus-circle" style="font-size: 1.5rem;"
            aria-hidden="true"></i></p> -->

        <div *ngIf="this.service.invoiceSubTotal!=0" class="row">
          <div class="col-md-5 text-right ml-auto">
            {{'subtotal' | translate}}
          </div>
          <div class="col-md-5">{{this.service.invoiceSubTotal | number : '1.2-2'}}</div>
        </div>
        <div *ngIf="this.service.invoiceTotal!=0" class="row">
          <div class="col-md-5 text-right ml-auto">
           {{'grandtotal' | translate}}
          </div>
          <div class="col-md-5">{{this.tempTotal==0? this.service.invoiceTotal :tempTotal | number : '1.2-2'}}</div>
        </div>
        <span *ngIf="invoiceError" class="danger">{{'plzprovideanitem' | translate}}</span>
        <button type="button" (click)="submitInvoice()" class="btn btn_alkafu pull-right">{{'send_invoice'
          |
          translate}} </button>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<div class="modal fade" id="modal_job_description" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue text-left">
        <span class="text-white text-left " id="exampleModalLabel"> {{'enter_your_description_about_work' | translate}} </span>

        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <!-- <div class="form-group">
          <div class="row">
            <div class="col-md-12 text-left">
              <label for="exampleInputEmail1"> {{'comment' | translate}} </label>

              <input type="email" class="form-control" maxlength=70 [(ngModel)]="service.taskName" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="{{'comment' | translate}}" />
              <span class="danger" *ngIf="service.taskName.length > 71 ">{{validationMsg.contractTitle}}</span>
            </div>
          </div>
        </div> -->
        <div *ngIf="service.isEmployeeLogin() && service.taskType=='start'" class="form-group">
          <div class="row">
            <div class="col-md-12 text-left">
              <label for="exampleInputEmail1"> {{'securitykey' | translate}} </label>

              <input type="email" class="form-control" [(ngModel)]="service.securityKey" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="{{'securitykey' | translate}}" />

              <span class="danger" *ngIf="!service.securityKey && this.service.buttonFlag">{{validationMsg.required}}</span>

            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 text-left">
              <label for="exampleTextarea"> {{'comment' | translate}} </label>

              <textarea class="form-control" maxlength="150" [(ngModel)]="service.taskDescription" id="exampleTextarea"
                rows="7"></textarea>
              <span class="danger" *ngIf="service.taskDescription.length > 151 ">{{validationMsg.contractTitle}}</span>
              <small>{{service.taskDescription?150-service.taskDescription.length+' left':''}}</small>
            </div>
          </div>
        </div>


        <button type="button" (click)="service.startTimecontract()" class="btn btn_alkafu float-right">{{'submit' |
          translate}}</button>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<!-----------------track_modal---------------------->
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="track_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue text-left">
        <span class="modal-title text-white" id="exampleModalLabel">
          <b>{{'track' | translate}}</b>
        </span>

        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <app-maptrack [showJobDetails]=1></app-maptrack>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<!----------------------------------->
<!---------------direction modal----------->
<div
  class="modal fade"
  id="modal_direction"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-medium-blue text-left  ">
        <span class="text-white " id="exampleModalLabel">
          {{ "enter_your_description_about_work" | translate }}
        </span>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <app-agmdirection
          [slat]="tempsLat"
          [slan]="tempsLan"
          [dlat]="tempdLat"
          [dlan]="tempdLan"
        [origin]="tempOrigin"
        [destination]="tempDestination"
        [navigationStatus]="tempData.navigationStatus"
        [contrctId]="tempData.contractId"
        ></app-agmdirection>
      </div>
    </div>
  </div>
</div>
<!---------------------------------------->
<div class="container-fluid bg-white">
  <!-- iconrow -->

  <div class="row">
    <div class="col-md-12  text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container mt-4">
        <div class="row">

          <div class="col-md-12 mx-auto bkg_ash">
            <div class="row">
              <div class="col-md-10">
                <h4 class="text-center text_blue pt-2  text_heading">
                  {{service.val?service.val.jobDetails.jobTitle.length >55?
                  service.val.jobDetails.jobTitle.slice(0,55):service.val.jobDetails.jobTitle
                  :''| titlecase }}

                </h4>
              </div>
              <div class="col-md-2 mx-auto  float-right">

                <button (click)="this.service.getContractDetailsById(this.contractId)" class="btn accept_icon  my-2 w-100">
                  <i class="fa fa-refresh" aria-hidden="true"></i> {{'refresh' | translate}} </button>
              </div>
            </div>


          </div>

          <div class="col-md-12 mb-4">

            <div class="row tab-content bkg_ash" style="background-color: #eaeaea;">
              <div class="col-md-11 py-2 mx-auto">

                <div class="row">
                  <div class="col-md-12 col-12 mx-auto imgsmicon1  my-2">
                    <div class="">
                      <div class="cards py-2">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 my-2">

                              <button class="btn btn_alkafu  float-md-left" data-toggle="modal" (click)="activateTimeLog()"
                                data-target=".bd-example-modal-map" type="button" aria-expanded="false">
                                <i class="fa fa-calendar" aria-hidden="true"></i> {{ (mapShow!=1?'show_calender':'hide_calender') | translate}}
                              </button>

                            </div>
                            <div class="col-md-6">
                              <div *ngIf="service.val.lastAction!='STOP'" class="time_line_round py-auto">
                               
                              
                                <p class="text_blue text-center pt-40">
                                    <span class="txt_ash_light text-center" *ngIf=" service.tempJobDetails.wageMode=='hourly'">
                                        {{'hourly_wages' | translate}}
                                      </span>
                                      <span class="txt_ash_light text-center" *ngIf=" service.tempJobDetails.wageMode=='fixed'">
                                        {{'fixedwage' | translate}}
                                      </span>
                                      <br>
                                  <span class="text_blue text-center" *ngIf=" service.tempJobDetails.wageMode=='hourly'">
                                    {{service.val.hourlyWages }}&nbsp;{{service.val.currency}} /
                                    hr</span>
                                  <span class="text_blue text-center" *ngIf="service.tempJobDetails.wageMode=='fixed'">
                                    {{'fixedfair' | translate}} :
                                    {{service.val.fixedWage }}&nbsp;{{service.val.currency}}</span>
                                </p>
                                <p class="mt-0 text-center" class="timerstyle_timelog ">

                                  <cd-timer (onTick)="calculateBaseFare" *ngIf="service.val.lastAction=='START'|| service.val.lastAction=='RESUME'"
                                    class="" [startTime]=service.tempTaskStartTime [endTime]="00" maxTimeUnit="hour"
                                    format="hms">
                                    00:00:00

                                  </cd-timer>
                                  <span *ngIf="service.val.lastAction=='default'">{{service.tempTaskTimmer}}</span>
                                  <span *ngIf="service.val.lastAction=='PAUSE' || service.val.lastAction=='STOP'">{{this.service.val.totalTime}}</span>

                                </p>
                                <small class="text_blue">
                                  <span *ngIf="service.val.wageMode=='hourly'" class="labelrequired">
                                    <span *ngIf="service.val.lastAction=='PAUSE' || service.val.lastAction=='STOP'">
                                       {{dispayHtml() | translate}} {{service.val?service.val.minHour:'0'}} {{'hr' | translate}}
                                        {{ (service.val?(service.val.cost):0) | number : '1.2-2'}}&nbsp;{{(service.val?(service.val.currency)
                                        :'defaultcurrency') | translate}}
                                    </span>
                                    <span *ngIf="service.val.lastAction=='START'|| service.val.lastAction=='RESUME'">
                                        {{dispayHtml() | translate}} {{service.val?service.val.minHour:'0'}} {{'hr' | translate}}
                                        {{ this.baseFare | number : '1.2-2'}}&nbsp;{{(service.val?(service.val.currency)
                                        :'defaultcurrency') | translate}}
                                    </span>
                                    <span *ngIf="service.val.lastAction=='default'">
                                       {{dispayHtml() | translate}} {{service.val?service.val.minHour:'0'}} {{'hr' | translate}}
                                        {{ (this.service.val.minHour*this.service.val.hourlyWages) | number : '1.2-2'}}&nbsp;{{(service.val?(service.val.currency)
                                        :'defaultcurrency') | translate}}
                                    </span>
                                  </span>
                                  <span *ngIf="service.val.wageMode=='fixed'"> {{'fixedfair' | translate}} :
                                    {{service.val.fixedWage | number : '1.2-2'}}&nbsp;{{service.val.currency}}
                                  </span>
                                </small>
                                <div *ngIf="service.isEmployerLogin()" class="mx-auto">
                                  <p *ngIf="service.val.lastAction=='PAUSE'" class="text-center txt_ash_light mt-0">
                                    {{'Paused' | translate}}
                                  </p>
                                </div>
                                <div *ngIf="service.isEmployeeLogin()" class=" mx-auto">
                                  <p class="mt-0  text-center">
                                    <!-- <button
                                    *ngIf="
                                      service.val.lastAction == 'default' &&
                                      service.val.navigationStatus == 0
                                    "
                                    (click)="
                                      resetModal();
                                      service.taskProposal = service.val.contractId;
                                      tempData = service.val;openTrackModal()
                                    "
                                    data-toggle="modal"
                                    data-target="#modal_direction"
                                    class="btn btn_alkafu  my-2"
                                  >
                                    <i
                                      class="fa fa-map"
                                      aria-hidden="true"
                                    ></i>
                                    {{ "startnavigation" | translate }}
                                  </button>
                                  <button
                                  *ngIf="
                                    service.val.lastAction == 'default' &&
                                    service.val.navigationStatus == 1
                                  "
                                  (click)="
                                    resetModal();
                                    service.taskProposal = service.val.contractId;
                                    tempData = service.val;openTrackModal()
                                  "
                                  data-toggle="modal"
                                  data-target="#modal_direction"
                                  class="btn btn_alkafu  my-2"
                                >
                                  <i
                                    class="fa fa-map"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "arrived" | translate }}
                                </button> -->
                                
                                    <span *ngIf="service.val.lastAction=='default' ">
                                      <p class="txt_ash_light text-center"> {{'clicktostartwork' | translate}} </p>
                                      <button (click)="service.taskProposal=service.val.contractId;service.taskType='start';"
                                        data-toggle="modal" data-target="#modal_job_description" class="btn btn_alkafu  my-2 mx-1"
                                        style=" min-width: 50px;">
                                        <i class="fa fa-play-circle" style="display: block;" aria-hidden="true"></i>
                                        <!-- {{'start' | translate}} -->
                                      </button>
                                    </span>

                                    <span *ngIf="service.val.lastAction=='PAUSE'">
                                      <p class="txt_ash_light text-center">{{'Click to resume work' | translate}}</p>
                                      <button (click)="service.taskProposal=service.val.contractId;service.taskType='resume';service.getContractDetailsById(contractId)"
                                        data-toggle="modal" data-target="#modal_job_description" class="btn btn_alkafu  my-2 mx-1"
                                        style=" min-width: 50px;">
                                        <i class="fa fa-play" style="display: block;" aria-hidden="true"></i>
                                        <!-- {{'resume' | translate}} -->
                                      </button>
                                    </span>
                                    <span *ngIf="service.val.lastAction=='RESUME' || service.val.lastAction=='START'">
                                      <p class="txt_ash_light text-center"> {{"Click to pause work" | translate}} </p>
                                      <button (click)="service.taskProposal=service.val.contractId;service.taskType='pause';service.getContractDetailsById(contractId)"
                                        data-toggle="modal" data-target="#modal_job_description" class="btn btn_alkafu  my-2 mx-1"
                                        style=" min-width: 50px;">
                                        <i class="fa fa-pause" aria-hidden="true"></i>
                                        <!-- {{'pause' | translate}} -->
                                      </button>
                                    </span>
                                    <button data-toggle="modal" (click)="service.taskProposal=service.val.contractId;service.taskType='stop'"
                                      *ngIf="service.val.lastAction!='default' && service.val.lastAction!='STOP'&&service.isEmployeeLogin() "
                                      data-target="#modal_job_description" class="btn btn_alkafu my-2 mx-1  " style=" min-width: 50px;">
                                      <i class="fa fa-stop" aria-hidden="true"></i>
                                      <!-- {{'end' | translate}} -->
                                    </button>
                                  </p>
                                </div>

                                <div class=" mx-auto" *ngIf="service.isEmployerLogin() && service.val.lastAction=='default'">
                                  <p class="txt_ash_light text-center"> {{'shareqrcodetostartwork' | translate}} </p>
                                  <button *ngIf="service.val.lastAction=='default'" (click)="service.tempSecurityKey=service.val.securityKey"
                                    data-toggle="modal" data-target="#modal_qrCode" class="btn btn_alkafu  my-2">
                                    <i class="fa fa-qrcode" aria-hidden="true"></i> {{'qrcode' | translate}}
                                  </button>
                                </div>

                                <div class=" mx-auto" *ngIf="service.isEmployerLogin() &&service.val.lastAction!='default' && service.val.lastAction!='STOP'">
                                    
                                    <button data-toggle="modal" (click)="service.taskProposal=service.val.contractId;service.taskType='stop'"
                                      data-target="#modal_job_description" class="btn btn_alkafu my-2 mx-1  " style=" min-width: 50px;">
                                      <i class="fa fa-stop" style="display: block;" aria-hidden="true"></i>
                                      <!-- {{'end' | translate}} -->
                                    </button>
                                  </div>

                                <button data-toggle="modal" (click)=" emptyInvoiceList();service.taskProposal=service.val.contractId;getInvoiceDetails();"
                                  *ngIf="service.isEmployeeLogin()&&service.val.invoiceStatus==0 && service.val.lastAction=='STOP' "
                                  class="btn btn_alkafu  mx-4">
                                  <i class="fa fa-send" aria-hidden="true"></i> {{'send_invoice' | translate}}
                                </button>
                                <a [href]="service.url+'/download/invoice.json?registerType='+service.getStorage('registerType')+'&contractID='+contractId+'&token='+service.getStorage('token')"
                                  target="_blank">
                                  <button *ngIf="service.val.invoiceStatus==1 && service.val.lastAction=='STOP' " style=" min-width: 50px;"
                                    class="btn btn_alkafu  my-2">
                                    <i class="fa fa-download" aria-hidden="true"></i> {{'download_invoice' |
                                    translate}}
                                  </button>
                                </a>

                              </div>
                              <!----LAST ACTION STOP-->
                              <div *ngIf="service.val.lastAction=='STOP'" class="time_line_round py-auto">
                                <p class="text_blue text-center pt-40">
                                  <span class="text_ash text-center">
                                    {{'worked' | translate}}
                                  </span>
                                  <br>
                                  <span style="font-size: 2rem !important" class="timerstyle_timelog ">
                                    {{service.val.totalTime}}
                                  </span>
                                  <br>
                                  <span *ngIf="service.val.wageMode=='hourly'" class="text_ash text-center">
                                    {{'at' | translate}}
                                    {{service.val?service.val.hourlyWages:0}}&nbsp;{{'defaultcurrency' | translate}} / {{'hr' | translate}}
                                  </span>
                                  <br>
                                  <span class="text_blue">
                                    {{(service.isEmployerLogin()?"plzpay":"plzcollect" )| translate}}
                                  </span>
                                  <br>
                                  <span class="text_blue text-center timerstyle_timelog labelrequired">

                                    <span>
                                      {{service.val.cost | number : '1.2-2'}}&nbsp;<span style="font-size: 2rem !important">{{service.tempJobDetails.currency}}</span>
                                    </span>
                                  </span>
                                  <br>
                                  <span *ngIf="service.isEmployerLogin()&&service.val.invoiceStatus==0" class="text_ash text-center"
                                    [innerHTML]="'contractcompletedhelptext'|translate">

                                  </span>
                                  <span *ngIf="service.isEmployeeLogin()&&service.val.invoiceStatus==0" class="text_ash text-center">
                                    {{'employeecontractcompletedhelptext'|translate}} <br>
                                  </span>

                                  <span *ngIf="service.val.invoiceStatus==1" class="text_ash text-center">
                                    {{'download_invoice' |translate }}<br>
                                  </span>
                                  <a [href]="service.url+'/download/invoice.json?registerType='+service.getStorage('registerType')+'&contractID='+contractId+'&token='+service.getStorage('token')"
                                    target="_blank">
                                    <button *ngIf="service.val.invoiceStatus==1 && service.val.lastAction=='STOP' "
                                      class="btn btn_alkafu  mx-4">
                                      <i class="fa fa-download" style="display: block;"aria-hidden="true"></i>
                                    </button>
                                  </a>
                                  <button data-toggle="modal" (click)=" emptyInvoiceList();this.addInvoiceList();service.taskProposal=service.val.contractId;getInvoiceDetails();"
                                    *ngIf="service.isEmployeeLogin()&&service.val.invoiceStatus==0 && service.val.lastAction=='STOP' "
                                    class="btn btn_alkafu  mx-4">
                                    <i class="fa fa-send" aria-hidden="true"></i> {{'send_invoice' | translate}}
                                  </button>
                                </p>



                              </div>
                              <!----       ------>

                            </div>
                            <div *ngIf="service.val.lastAction" class="col-md-3 my-2">
                              <div *ngIf=" service.isEmployerLogin() && service.val.lastAction!='STOP'" class="row">
                                <div class="col-md-12">
                                  <button data-toggle="modal" (click)="transformData()" class="btn  btn_alkafu mx-auto "><i
                                      aria-hidden="true" class="fa fa-map"></i>
                                    {{'track' | translate}} </button>

                                </div>
                                <div class="col-md-12 my-2">
                                  <app-maptrack [showJobDetails]=1></app-maptrack>

                                </div>
                              </div>
                              <div *ngIf="service.val.lastAction=='STOP' && service.val.invoiceStatus==1" class="row">
                                <div class="col-md-12">
                                  <button *ngIf="service.isEmployeeLogin() && service.val.employeeRatingStatus=='false'"
                                  (click)="service.setStorage('contractTempId',service.val.contractId);"
                                    class="btn btn_alkafu mx-auto float-md-right" data-toggle="modal" data-target="#evaluateModal">
                                    <i class="fa fa-check"></i>&nbsp;{{'evaluate' | translate}} </button>
                                  <button *ngIf="service.isEmployerLogin() && service.val.employerRatingStatus=='false'"
                                  (click)="service.setStorage('contractTempId',service.val.contractId);"
                                    class="btn btn_alkafu mx-auto float-md-right" data-toggle="modal" data-target="#evaluateModal">
                                    <i class="fa fa-check"></i>&nbsp;{{'evaluate' | translate}} </button>
                                </div>
                              </div>
                            </div>



                            <div class="col-md-12 mx-auto my-3">


                            </div>




                          </div>

                        </div>
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <p *ngIf="service.val.invoiceStatus=='1' && service.isEmployeeLogin()" style="color: #7b7979"
                              class="mb-2 ">
                              <label style="color:red">*</label> {{'thisisyourfinalbillforthiscontract' | translate}}<br>
                              {{"plzcollectxfromemployer" | translate: {'x':service.val.cost   | number : '1.2-2'} }}
                             <br>
                             {{'thankyou' | translate}}
                            </p>
                            <p *ngIf="service.val.invoiceStatus=='1' && service.isEmployerLogin()" style="color: #7b7979"
                              class="mb-2 ">
                              <label style="color:red">*</label> {{'thisisyourfinalbillforthiscontract' | translate}}<br>
                              {{"plzpayxtoemployee" | translate:{'x':service.val.cost   | number : '1.2-2'} }}
                           <br>
                              {{'thankyou' | translate}}
                            </p>
                            <small *ngIf="service.val.invoiceStatus=='0'" style="color: #7b7979" class="mb-2 ">
                              <label style="color:red">*</label> {{'basefaretext' | translate}}
                            </small>
                          </div>
                          <div class="col-md-12 text-left">
                            <h5 class="text_blue">
                              {{'job_desc' | translate}}
                            </h5>

                            <p class="text-left">{{service.transform(service.val?service.val.jobDetails.jobDescription:'')}}</p>
                          </div>


                        </div>
                        <hr>
                        <!-- <div class="row">
                          <div class="col-md-8 ml-auto">
                            <button class="btn btn_alkafu float-md-right" (click)="mapShow==1?mapShow=0:mapShow=1" type="button"
                              data-toggle="collapse" data-target="#collapsecalender" aria-expanded="false"
                              aria-controls="collapseExample">
                              <i class="fa fa-calendar" aria-hidden="true"></i> {{ mapShow!=1?'Show calender':'Hide
                              calendar' | translate}}
                            </button>


                          </div>
                        </div> -->


                        <div class="collapse" id="collapsecalender">



                        </div>




                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>

        <!-- row -->
      </div>


    </div>

    <!-- end iconrow -->
  </div>
</div>

<div class="modal fade bd-example-modal-map" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-left">
        <span class="modal-title  ">{{"calender" | translate}}</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-timelog-details #timeLog></app-timelog-details>
      </div>

    </div>
  </div>
</div>