<!-- Header with Background Image -->

<div class="profileheader">
  <!-- for Responsive Viewport (Insert Carousel or other item for "cover" effect) -->
  <!-- Carousel container -->
</div>

<div class="container">
  <!-- iconrow -->

  <div class="row">
    <div class="col-md-3 proimg">
      <img
        src="assets/images/profile1.png"
        class="rounded-circle img-fluid img-position-cls"
      >
    </div>

    <div class="col-md-9 mainheading text-center text-md-left mt-4 mb-4 ml-auto">
      <h3>Ibrahim Salih Addobai</h3>

      <p>
        Civil Engineer

        <br>
        Dammam, Saudi Arabia
      </p>

      <div
        class="container"
        ng-app="myApp"
        ng-controller="customersCtrl"
      >
        <button
          type="button"
          class="btn  btn_how_it"
          data-toggle="collapse1"
          data-target="#demo"
          id="btn1"
        >Skills</button>

        <button
          type="button"
          class="btn  btn_how_it"
          data-toggle="collapse1"
          data-target="#demo1"
          id="btn2"
        >Autocad</button>

        <div
          id="demo"
          class="collapse1 mt-3 mb-3"
        >
          <div class="row">
            <div class="col-md-12 row4_home">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                             consequat.
            </div>
          </div>
        </div>

        <div
          id="demo1"
          class="collapse1 mt-3 mb-3"
        >
          <div class="row">
            <div class="col-md-12 row4_home">
              CAD dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                             consequat.
            </div>
          </div>
        </div>

        <div class="row borderbox mainheading">
          <div class="col-md-3  py-4">
            <h5 class="text-center">Hourly Rate</h5>

            <h3 class="text-center">$20</h3>
          </div>

          <div class="col-md-3 py-4">
            <h5 class="text-center">Hourly Rate</h5>

            <h3 class="text-center">$20</h3>
          </div>

          <div class="col-md-3 py-4">
            <h5 class="text-center">Hourly Rate</h5>

            <h3 class="text-center">$20</h3>
          </div>

          <div class="col-md-3 boxblueclr py-4">
            <h5 class="text-center">Hourly Rate</h5>

            <h3 class="text-center">$20</h3>
          </div>
        </div>

        <!-- work histry -->

        <div class="row  work_history mt-4 mb-4">
          <div class="col-md-12">
            <h4>Work history And feedback</h4>
          </div>

          <!-- history -->

          <div class="col-md-12  mt-4">
            <h5 class="text-left">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </h5>

            <p class="text-left">
              <small>April 25, 2018</small>
            </p>
          </div>

          <div class="col-md-10">
            <p class="text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut
            </p>
          </div>

          <div class="col-md-2 mb-4">
            <h3 class="text-center">$20</h3>
          </div>

          <div class="col-md-12">
            <hr>
          </div>

          <!-- end history -->
          <!-- history -->

          <div class="col-md-12  mt-4">
            <h5 class="text-left">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </h5>

            <p class="text-left">
              <small>April 25, 2018</small>
            </p>
          </div>

          <div class="col-md-10">
            <p class="text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut
            </p>
          </div>

          <div class="col-md-2 mb-4">
            <h3 class="text-center">$20</h3>
          </div>

          <div class="col-md-12">
            <hr>
          </div>

          <!-- end history -->
        </div>

        <!-- work history end -->
        <!-- education -->

        <div class="row  work_history mt-4 mb-4">
          <div class="col-md-12">
            <h4>Education</h4>
          </div>

          <div class="col-md-12">
            <p class="text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut
            </p>
          </div>
        </div>

        <!-- end education -->
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>

<div class="container-fluid">
  <hr>
</div>