<div  class="row  mx-auto">
    <div class="col-md-6 mb-5 pb-5 mx-auto ">
        <div class="card mx-auto mt-5 mb-5" style="width: 100%;">
            <!-- <img class="card-img-top" src="assets/images/verifyemail.png" alt="Card image cap" style="width: 40%;" class="mx-auto"> -->
            <i class="fa fa-hourglass-start fa-4x text_blue text-center my-4"
             aria-hidden="true"></i>
            <div class="card-body mx-auto text-justify">
              <h5 class="card-title text-center">{{'waiting_for_confirmation' | translate}}</h5>
              <p class="card-text">{{'please_wait_until' | translate}} </p>
              <p class="card-text">{{'contactinformation'| translate}}</p>
  
             
          
            </div>
          </div>
    </div>
  </div>
 