<div class="col-md-12 mx-auto mb-2 py-4 px-3" style="background-color: #e6e3e3;" *ngIf="service.heightMin!=0 || service.heightMax!=0 || 
                 service.weightMin!=0 || service.weightMax!=0 || 
                 service.hourlyWrkWagesMin!=0 || service.hourlyWrkWagesMax!=0  || 
                 service.hourWrkMin!=0 || service.hourWrkMax!=0 || 
                 service.expMin!=0 || service.expMax!=0 ||
                 service.ageMin!=0 || service.ageMax!=0 || 
                 service.categoryFilterName.length!=0 ||
                 service.subCategoryFilter.length!=0 || 
                 service.rating!=0 || service.jobType!='' || 
                 service.filterGender!=null || service.distanceMin!=0 || service.availability!=''||
                 service.selectedSidebarCountry.length!=0 || service.selectedSidebarState.length!=0||
                 service.selectedSidebarCity.length!=0||
                service.wageModeFilter!=null || 
                service.jobmode!=null
                 ">
  <p *ngIf="service.jobmode!=null" class="small d-inline p-1 mx-1 my-2 bg-secondary text-white rounded">
    {{(service.jobmode=='onsite'?service.jobmode:'online') |translate| titlecase}}
    <li (click)="service.jobmode=null;service.fetchAllJobDetailsFromApi(0)" class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.wageModeFilter!=null" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
   {{service.wageModeFilter | titlecase}}
    <li (click)="service.wageModeFilter=null;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>

  <span *ngFor="let val of service.selectedSidebarCountry">
    <p class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
      {{val.country}}
      <li (click)="service.removeCountryFromFilter(val.id);service.fetchAllJobDetailsFromApi(0)" class="fa fa-close pointer"></li>
    </p>
  </span>
  <span *ngFor="let val of service.selectedSidebarState">
    <p class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded fl_right_list">
      {{val.name}}
      <li (click)="service.removeStateFromFilter(val.id);service.fetchAllJobDetailsFromApi(0)" class="fa fa-close pointer"></li>
    </p>
  </span>
  <span *ngFor="let val of service.selectedSidebarCity">
    <p class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
      {{val.city}}
      <li (click)="service.removeCityFromFilter(val.id);service.fetchAllJobDetailsFromApi(0)" class="fa fa-close pointer"></li>
    </p>
  </span>
  <span *ngFor="let val of service.categoryFilterName">
    <p class="small d-inline p-1 mx-1 my-2 bg-secondary text-white rounded">
      {{val.categoryName}}
      <li (click)="service.removeCategoryFilter(val.categoryId);service.fetchAllJobDetailsFromApi(0)" class="fa fa-close pointer"></li>
    </p>
  </span>
  <span *ngFor="let val of service.subCategoryFilter;let i=index">
    <p *ngIf="!val.defaultFilter"  class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
      {{val.subcategoryName | translate}}
      <li (click)="service.searchSubId=0;service.removesubCategoryFilter(val.subcategoryId);service.fetchAllJobDetailsFromApi(0)"
        class="fa fa-close pointer"></li>
    </p>
    <p *ngIf="val.defaultFilter && i==0"  class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
      {{val.subcategoryName | translate}}
      <li (click)="service.searchSubId=0;service.emptyCategoryFilter()"
        class="fa fa-close pointer"></li>
    </p>
  </span>
  <p *ngIf="service.heightMin!=0 || service.heightMax!=0" class="small d-inline p-1 mx-1 my-2 bg-secondary text-white rounded">
    {{'height' | translate}} ({{ service.heightMin}}&nbsp;{{'cm' | translate}} - {{service.heightMax}}&nbsp;{{'cm' |
    translate}})
    <li (click)=" this.service.employeeList=[];this.service.jobDetails = [];service.heightMax=0;service.heightMin=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.weightMin!=0 || service.weightMax!=0" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    {{'weight' | translate}} ({{ service.weightMin}}&nbsp;{{'kg' | translate}} - {{service.weightMax}}&nbsp;{{'kg' |
    translate}})
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.weightMin=0;service.weightMax=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p class="small d-inline p-1 m-1  bg-secondary text-white rounded" *ngIf="service.distanceMin!=0">
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.distanceMin=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
    {{'distance' | translate}} &nbsp;({{service.distanceMin}})
  </p>
  <p *ngIf="service.hourlyWrkWagesMin!=0 || service.hourlyWrkWagesMax!=0" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    {{'wages' | translate}} ({{ service.hourlyWrkWagesMin}} - {{service.hourlyWrkWagesMax}})
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.hourlyWrkWagesMin=0;service.hourlyWrkWagesMax=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.hourWrkMin!=0 || service.hourWrkMax!=0" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    {{'hourofwork' | translate}} ({{ service.hourWrkMin}} - {{service.hourWrkMax}})
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.hourWrkMin=0;service.hourWrkMax=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.expMin!=0 || service.expMax!=0" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    {{'experience' | translate}} ({{ service.expMin}}&nbsp;{{'years' | translate}} - {{service.expMax}}&nbsp;{{'years'
    | translate}})
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.expMin=0;service.expMax=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p><br>
  <p *ngIf="service.ageMin!=0 || service.ageMax!=0" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    {{'age' | translate}} ({{ service.ageMin}}&nbsp;{{'years' | translate}} - {{service.ageMax}}&nbsp;{{'years' |
    translate}} )
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.ageMin=0;service.ageMax=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.rating==1" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    1/5 {{'rating' | translate}}
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.rating=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.rating==2" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    2/5 {{'rating' | translate}}
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.rating=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.rating==3" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    3/5 {{'rating' | translate}}
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.rating=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.rating==4" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    4/5 {{'rating' | translate}}
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.rating=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.rating==5" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    5/5 {{'rating' | translate}}
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.rating=0;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.jobType=='urgent'" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    {{'Urgent requests' | translate}}
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.jobType='';service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.jobType=='non-urgent'" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    {{'Non Urgent Request' | translate}}
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.jobType='';service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.filterGender==0" class="small d-inline p-1 mx-1 my-2 bg-secondary text-white rounded">
    {{'male' | translate}}
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.filterGender=null;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.filterGender==1" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
      {{'male' | translate}}
      <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.filterGender=null;service.fetchAllJobDetailsFromApi(0)"
        class="fa fa-close pointer"></li>
    </p>
  <p *ngIf="service.filterGender==2" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    {{'female' | translate}}
    <li (click)="this.service.employeeList=[];this.service.jobDetails = [];service.filterGender=null;service.fetchAllJobDetailsFromApi(0)"
      class="fa fa-close pointer"></li>
  </p>
  <p *ngIf="service.availability!=''" class="small d-inline p-1 mx-1 my-2  bg-secondary text-white rounded">
    {{service.availability | translate}}
    <li (click)="service.availability='';service.fetchAllJobDetailsFromApi(0)" class="fa fa-close pointer"></li>
  </p>
  
</div>