<div class="row text-center" >
  <div class=" col-md-4 mx-auto">
    <table class="table">
      <thead>
        <tr>
          <th class="th-bag" colspan="2" scope="col">{{'ratecard' | translate}}</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td >{{'budget' | translate}}</td>
          <td>{{budget}}&nbsp;{{curency}}</td>
         </tr>
         <tr *ngIf="minWage!=0" >
          <td >{{'minwage' | translate}}</td>
          <td>{{minWage}}&nbsp;{{curency}}</td>
         </tr>
         <tr>
          <td *ngIf="serveice.isEmployeeLogin()" colspan="2" scope="col">{{'yourproposal' | translate}}</td>
          <td *ngIf="serveice.isEmployerLogin()" colspan="2" scope="col">{{'youroffer' | translate}}</td>

         </tr>
         <tr *ngIf="wageMode=='fixed'">
          <td >{{'fixedrate' | translate}}</td>
          <td>{{proposal}}&nbsp;{{curency}}</td>
         </tr>
         <tr *ngIf="wageMode=='hourly'">
          <td >{{'uptoxhrs' | translate: {'hrs':minHour} }} </td>
          <td>{{minHour*proposal}}&nbsp;{{curency}}</td>
         </tr>
         <tr *ngIf="wageMode=='hourly'">
          <td >{{'additional' | translate}}</td>
          <td>{{proposal}}&nbsp;{{curency}}</td>
         </tr>
      </tbody>
    </table>
  </div>
</div>