/* You can add global styles to this file, and also import other style files */
.btn-tracker {
    background-color: #3586d8 !important;
    border-color: #3586d8 !important;
    border-radius: 5px !important;
    padding: 5px !important;
    min-width: 81px !important;
    cursor: pointer;
}
.btn-tracker:hover {
    color: #fff;
    background-color: #1977d6 !important;
    /* border-color: #4c32e9; */
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: none;
}
.the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.login-bgk{
    background: url(assets/images/bkg_imag.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.attach_propic{
    border: 2px solid rgba(8, 60, 133,1);
    width: 115px;
    height: 115px;
    object-fit: cover;
  }
  .attach_propic:hover{
    /* border: 5px solid rgba(8, 60, 133,1); */
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);

  }
  .text_grey{
      color: #353b40;
  }
  .text-blue{
      color: #3586d8;
      width: 20px;

  }
  .pointer {
    cursor: pointer;
  }
