<div class="container">
  <!-- iconrow -->

  <!--end modal -->

  <div class="row mt-4">
    <div
      class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto bg-white"
    >
      <div class="container  mt100">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <h4 class="text-center text_heading">{{ tittle | translate }}</h4>

            <hr />
          </div>
          <div
            *ngIf="inputError"
            class="alert alert-danger alert-dismissible mx-auto"
          >
            <button
              type="button"
              (click)="inputError = false"
              class="close"
              data-dismiss="alert"
            >
              &times;
            </button>
            <strong>{{'danger' | translate}}!</strong> {{ validationMsg.onlyDigit }}
          </div>
        </div>
        <form
          name="jobForm"
          id="msform"
          [formGroup]="jobForm"
          role="form"
          method="POST"
        >
          <div class="row text-left">
            <div class="col-md-6">
              <div class="card py-4 px-4">
                <div class="row">
                  <div class="col-md-4 field-label-responsive">
                    <label class="labelrequired" for="password">{{
                      "general_specialization" | translate
                    }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <ng-select
                          placeholder="{{
                            'general_specialization' | translate
                          }}"
                          (remove)="categoryDeselect()"
                          (clear)="categoryDeselect()"
                          [items]="category"
                          id="general_specialization"
                          bindLabel="category"
                          bindValue="id"
                          class="ng_select form-control"
                          [ngClass]="initialLoader"
                          formControlName="category"
                          [(ngModel)]="generalSpecId"
                          (change)="categorySelect($event)"
                        >
                        </ng-select>
                      </div>
                      <span
                        *ngIf="
                          !this.jobForm.get('category').value &&
                          buttonClick == 1
                        "
                        class="danger"
                        >{{ validationMsg.required }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-4 field-label-responsive">
                    <label class="labelrequired" for="specialization">{{
                      "specialization" | translate
                    }}</label> <br>
                    
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>
                       
                        <ng-select
                          placeholder="{{ 'specialization' | translate }}"
                          id="specialization"
                          [items]="subCategory"
                          (clear)="standardWage = 0"
                          bindLabel="subCategory"
                          bindValue="id"
                          class="ng_select form-control"
                          [ngClass]="subCategoryLoader"
                          formControlName="subCategory"
                          (change)="subCategorySelect($event)"
                          [(ngModel)]="specId"
                        >
                        </ng-select>
                      </div>
                      <span
                        *ngIf="
                          !this.jobForm.get('subCategory').value &&
                          buttonClick == 1
                        "
                        class="danger"
                        >{{ validationMsg.required }}</span
                      >
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label class="labelrequired" for="password">{{
                      "job_title" | translate
                    }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          autocomplete="off"
                          type="text"
                          name="name"
                          maxlength="70"
                          class="form-control"
                          formControlName="jobTitle"
                          [(ngModel)]="jobTitle"
                          id="jobTitle"
                          placeholder="{{ 'job_title' | translate }}"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                      <span
                        class="danger"
                        *ngIf="
                          !this.jobForm.get('jobTitle').valid &&
                          buttonClick == 1
                        "
                        >{{ validationMsg.jobTitle }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-4 field-label-responsive">
                    <label class="labelrequired" for="labelrequired">
                      {{ "job_desc" | translate }}</label
                    >
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>
                        <textarea
                          class="form-control"
                          id="jobDescription"
                          placeholder="{{ 'job_desc' | translate }}"
                          [(ngModel)]="jobDescriptionModel"
                          maxlength="1500"
                          name="name"
                          rows="3"
                          formControlName="jobDescription"
                          required="required"
                          autofocus="autofocus"
                        >
                            {{ "job_desc" | translate }}
                            </textarea
                        >
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>
                          <small *ngIf="jobDescriptionModel" class="mt-2 mr-auto text-left text-dark"
                            >{{ 1500 - jobDescriptionModel.length }} left</small
                          >
                        </div>
                      </div>
                      <span
                        class="danger"
                        *ngIf="
                          !this.jobForm.get('jobDescription').valid &&
                          buttonClick == 1
                        "
                        >{{ validationMsg.jobDescription }}</span
                      >
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label class="labelrequired" for="password">{{
                      "fromdate" | translate
                    }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>
                        <!--  -->
                        <input
                          placeholder="DD/MM/YYYY"
                          formControlName="fromDate"
                          (keydown)="service.preventDefault($event)"
                          [min]="today | date: 'yyyy-MM-dd'"
                          class="form-control"
                          [(ngModel)]="fromDate"
                          [owlDateTimeTrigger]="dt3"
                          [owlDateTime]="dt3"
                        />
                        <owl-date-time
                          [pickerType]="'calendar'"
                          #dt3
                        ></owl-date-time>
                        <!-- {{fromDate | date :'d'}} -->
                      </div>
                      <span
                        class="danger"
                        *ngIf="
                          !this.jobForm.get('fromDate').valid &&
                          buttonClick == 1
                        "
                        >{{ validationMsg.fromDate }}</span
                      >
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label class="labelrequired" for="password">{{'jobmode' | translate}}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>
                        <label class="radio-inline ">
                          <input
                            autocomplete="off"
                          
                            (click)="jobMode=1" 
                            [checked]="jobMode==1"
                            type="radio"
                           
                            name="jobMode"
                            value="true"
                          />
                          &nbsp;{{ "onsite" | translate }}
                       
                        </label>
                        &nbsp;
                        <label class="radio-inline">
                          <input
                            autocomplete="off"
                            (click)="jobMode=0" 
                            type="radio"
                            [checked]="jobMode==0"
                            name="jobMode"
                            value="false"
                          />
                          &nbsp;
                          {{ "offsite" | translate }}
                        </label>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 field-label-responsive text-left">
                    <label for="password" class="labelrequired">{{
                      "wagemode" | translate
                    }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="wageMode"
                          (click)="jobForm.get('wageMode').value = 'hourly'"
                          [checked]="jobForm.get('wageMode').value == 'hourly'"
                          formControlName="wageMode"
                          value="hourly"
                        />
                        {{ "hourly" | translate }}
                      </label>
                      &nbsp;&nbsp;
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="wageMode"
                          (click)="jobForm.get('wageMode').value = 'fixed'"
                          [checked]="jobForm.get('wageMode').value == 'fixed'"
                          formControlName="wageMode"
                          value="fixed"
                        />
                        {{ "fixed" | translate }}
                      </label>
                    </div>
                  </div>

                  <div
                    *ngIf="j.wageMode.value == 'hourly'"
                    class="col-md-4 field-label-responsive"
                  >
                    <label class="labelrequired" for="password">{{
                      "hour_fair" | translate
                    }}</label>
                  </div>
                  <div *ngIf="j.wageMode.value == 'hourly'" class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <div class="input-group mb-3">
                          <input
                            maxlength="4"
                            (keydown)="service.validateExperience($event)"
                            type="text"
                            id="hourlyWages"
                            class="form-control"
                            placeholder="{{ 'hour_fair' | translate }}"
                            [(ngModel)]="hourlyWages"
                            formControlName="hourlyWages"
                            aria-label="Recipient's username"
                            aria-describedby="basic-addon2"
                          />

                          <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                              {{ "defaultcurrency" | translate }}
                            </span>
                          </div>
                        </div>
                      </div>
                      <span
                        class="danger"
                        *ngIf="
                          (!this.jobForm.get('hourlyWages').valid &&
                            buttonClick == 1) ||
                          wagesLengthIssue == 1
                        "
                        >{{ validationMsg.wagesInvalid }}</span
                      >
                      <span
                        class="danger"
                        *ngIf="
                          this.jobForm.get('hourlyWages').value <
                            standardWage && standardWage != 0
                        "
                        >{{ validationMsg.belowStandardWage }}</span
                      >
                    </div>
                  </div>

                  <div
                    *ngIf="j.wageMode.value == 'fixed'"
                    class="col-md-4 field-label-responsive text-left"
                  >
                    <label for="password" class="labelrequired">{{
                      "fixed_rate" | translate
                    }}</label>
                  </div>

                  <div *ngIf="j.wageMode.value == 'fixed'" class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <div class="input-group mb-3">
                          <input
                            type="text"
                            maxlength="4"
                            (keydown)="service.validateInputKey($event)"
                            class="form-control"
                            placeholder="{{ 'fixed_rate' | translate }}"
                            formControlName="fixedWages"
                            id="fixedWages"
                            [(ngModel)]="fixedWages"
                            aria-label="Recipient's username"
                            aria-describedby="basic-addon2"
                          />

                          <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                              {{ "defaultcurrency" | translate }}
                            </span>
                          </div>
                        </div>
                      </div>
                      <span
                        class="danger"
                        *ngIf="
                          !this.jobForm.get('fixedWages').valid &&
                          buttonClick == 1
                        "
                        >{{ validationMsg.invalidFixedRate }}</span>
                      <span
                        class="danger"
                        *ngIf="
                          this.jobForm.get('fixedWages').value < standardWage &&
                          standardWage != 0
                        "
                        >{{ validationMsg.belowStandardWage }}</span
                      >
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label class="labelrequired" for="password">{{
                      "from_time" | translate
                    }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>
                        <input
                          placeholder="00:00"
                          formControlName="fromTime"
                          [(ngModel)]="fromTimeModel"
                          class="form-control"
                          (keydown)="service.preventDefault($event)"
                          [owlDateTimeTrigger]="dt2"
                          [owlDateTime]="dt2"
                        />
                        <owl-date-time
                          [pickerMode]="'dialog'"
                          [pickerType]="'timer'"
                          [hour12Timer]="true"
                          #dt2
                        ></owl-date-time>
                      </div>

                      <span
                        class="danger"
                        *ngIf="!fromTimeModel && buttonClick == 1"
                        >{{ validationMsg.fromTime }}</span
                      >
                    </div>
                  </div>

                  <div class="col-md-4 field-label-responsive">
                    <label class="labelrequired" for="password">{{
                      "to_time" | translate
                    }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-12 col-12">
                          <input
                            placeholder="00:00"
                            formControlName="toTime"
                            [(ngModel)]="toTimeModel"
                            class="form-control"
                            (keydown)="service.preventDefault($event)"
                            [owlDateTimeTrigger]="dt1"
                            [owlDateTime]="dt1"
                          />
                          <owl-date-time
                            [pickerMode]="'dialog'"
                            [pickerType]="'timer'"
                            [hour12Timer]="true"
                            #dt1
                          ></owl-date-time>

                          <!-- <ngb-timepicker [seconds]=false (change)="toTimeModelChange($event)" formControlName="toTime" id="to_time" [(ngModel)]="toTimeModel"></ngb-timepicker> -->
                        </div>
                      </div>

                      <span
                        class="danger"
                        *ngIf="!toTimeModel && buttonClick == 1"
                        >{{ validationMsg.toTime }}</span
                      >
                    </div>
                  </div>

                  <!-- <div class="col-md-4 field-label-responsive">
                    <label class="labelrequired" for="password">{{'no_woring_hours' | translate}}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>
                        <select [(ngModel)]="noOfHour" formControlName="max_wrk_hrs" class="form-control" id="no_hours"
                          formControlName="noOfHour" required="required" autofocus="autofocus">
                          <option [selected]="noOfHour==8" value="8">8hr</option>

                          <option [selected]="noOfHour==7" value="7">7hr</option>
                          <option [selected]="noOfHour==6" value="6">6hr</option>
                          <option [selected]="noOfHour==5" value="5">5hr</option>
                          <option [selected]="noOfHour==4" value="4">4hr</option>
                          <option [selected]="noOfHour==3" value="3">3hr</option>
                          <option [selected]="noOfHour==2" value="2">2hr</option>
                          <option [selected]="noOfHour==1" value="1">1hr</option>

                        </select>

                      </div>
                    </div>
                  </div> -->

                  <!-- <div class="col-md-4 field-label-responsive">
                    <label for="password">{{'maxexperience' | translate}}</label>
                  </div> -->

                  <!-- <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input autocomplete="off" type="text" (keydown)="validateExperience($event)" name="name"
                          class="form-control" id="maxexperience" formControlName="maxexperience" placeholder="{{'maxexperience' | translate}}"
                          required="required" autofocus="autofocus" />
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>

            <!-- 2nd colmn -->

            <div class="col-md-6">
              <div class="card py-4 px-4">
                <div class="row">
                  <div class="col-md-4 field-label-responsive">
                    <label class="" class="labelrequired" for="password">{{
                      "noVacancy" | translate
                    }}</label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"></div>

                        <input
                          autocomplete="off"
                          maxlength="3"
                          type="text"
                          (keydown)="validateInputKey($event, 'noVacancy')"
                          [(ngModel)]="noOfVacancyModal"
                          min="1"
                          max="100"
                          name="name"
                          class="form-control"
                          id="noVacancy"
                          formControlName="noOfVacancy"
                          placeholder="{{ 'noVacancy' | translate }}"
                          required="required"
                          autofocus="autofocus"
                        />
                      </div>
                      <span
                        *ngIf="noOfVacancyModal < 1 || noOfVacancyModal > 100"
                        class="danger"
                        >{{ validationMsg.noOfVaccancy }}</span
                      >
                    </div>
                  </div>

                  <!-- <div class="col-md-4 field-label-responsive">
                          <label class="" for="specialization">{{'skill_set' | translate }}</label>
                        </div>
      
                        <div class="col-md-8">
                          <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                              <div class="input-group-addon"></div>
      
                              <ng-select placeholder="{{'skill_set' | translate }}" [items]="skillsArray " bindLabel="name"
                                bindValue="id" multiple="true" [hideSelected]="true" class="ng_select form-control" id="skill"
                                [ngClass]=" subCategoryLoader" formControlName="skill" [(ngModel)]="skillModal">
                              </ng-select>
      
      
                            </div>
                          <p class="help-block danger" *ngIf="!jobForm.get('skill').valid && jobForm.get('subCategory').touched">{{validationMsg.required}}</p> 
                          </div>
                        </div> -->
                  <div class="col-md-4 field-label-responsive">
                    <label for="password" class="label">
                      {{ "attachment" | translate }}
                    </label>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group file_up_style" style="display:none">
                      <span class="hide_fileup ">
                        <input
                          id="file"
                          multiple
                          formControlName="file"
                          name="file"
                          type="file"
                          accept="{{ service.fileFormat }}"
                          class="file "
                          (change)="uploadLicense($event)"
                          class="file {{ fileLoader }}"
                          data-show-upload="true"
                          data-show-caption="true"
                        />
                      </span>
                      <span onclick="triggerFileInput()" id="button_up">{{
                        "selectfile" | translate
                      }}</span>
                    </div>

                    <div *ngIf="dwnld_file" class="my-2">
                      <app-editattachment
                        [attachments]="jobAttachments"
                        [fileName]="fileName"
                        (messageEvent)="deleteFileicon($event)"
                      ></app-editattachment>
                    </div>
                    <div
                      *ngIf="this.fileCounter < 5"
                      class="img_attach_sm img_plus "
                      onclick="triggerFileInput()"
                    >
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>

                    <span class="danger">{{ error }}</span>
                  </div>

                  <div class="col-md-12">
                    <h6 class="text-left text_blue">
                      <b> {{ "select_your_location" | translate }} </b>
                    </h6>
                  </div>

                  <!-- <div class="col-md-4 field-label-responsive">
                              <label class="labelrequired" for="password">{{'business_location_name' | translate}}</label>
                            </div> -->

                  <div class="col-sm-12">
                    <label
                      *ngFor="let item of (address | slice: 0:5); let i = index"
                      class="container_radio my-2"
                    >
                      {{ item.address.replace('||',',').replace('||',',').replace('||',',')}}

                      <input
                        type="radio"
                        (click)="addressId = item.addressID;setLangLat(item.latitude,item.longitude);"
                        [checked]="item.addressID == addressId"
                        name="radio"
                        value="{{ item.addressID }}"
                      />
                      <span class="checkmark"></span>
                    </label>
                    <!-- <p class="pointer text_blue" (click)="limit=limit+4" *ngIf=" address.length > limit"><i class="fa fa-chevron-down"></i>&nbsp;{{'viewmore' | translate}}</p>
                                <p class="pointer text_blue" (click)=" this.limit=4" *ngIf=" address.length < limit"><i class="fa fa-chevron-up"></i>&nbsp;{{'viewless' | translate}}</p> -->

                    <label
                      class="container_radio my-2"
                      data-toggle="collapse"
                      data-target="#select_map_Modal"
                      value="option2"
                    >
                      {{ "add_new_address" | translate }}
                      <input type="radio" name="radio" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-md-12">
                    <div class="collapse" id="select_map_Modal">
                      <div class="row">
                        <div class="col-md-12">
                          <p class="text-left">
                            <b
                              >{{ "confirm_your_job_location" | translate }}
                            </b>
                          </p>
                        </div>

                        <div class="col-md-4 field-label-responsive">
                          <label class="labelrequired" for="password">{{
                            "business_location_name" | translate
                          }}</label>
                        </div>

                        <div class="col-md-8">
                          <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                              <div class="input-group-addon"></div>

                              <input
                                autocomplete="off"
                                spellcheck="off"
                                autocapitalize="off"
                                autocorrect="off"
                                #search
                                type="text"
                                maxlength="50"
                                name="name"
                                class="form-control"
                                id="business_location_name"
                                formControlName="business_location_name"
                                placeholder="{{
                                  'business_location_name' | translate
                                }}"
                                [(ngModel)]="business_location_name"
                                required="required"
                                autofocus="autofocus"
                              />
                            </div>
                            <span
                              class="danger"
                              *ngIf="
                                !this.business_location_name && buttonClick == 1
                              "
                              >{{ validationMsg.jobLocation }}</span
                            >
                          </div>
                        </div>
                        <div class="col-md-12">
                          <agm-map
                            [latitude]="lat"
                            [longitude]="lng"
                            [zoom]="zoom"
                            [disableDefaultUI]="false"
                            [zoomControl]="false"
                            [styles]="service.mapStyle"
                            (mapClick)="mapClicked($event)"
                          >
                            <agm-marker
                              [iconUrl]="currentIcon"
                              *ngFor="let m of markers; let i = index"
                              (markerClick)="clickedMarker(m.label, i)"
                              [latitude]="m.lat"
                              [longitude]="m.lng"
                              [label]="m.label"
                              [markerDraggable]="m.draggable"
                              (dragEnd)="markerDragEnd(m, $event)"
                            >
                            </agm-marker>
                          </agm-map>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 py-2 ">
                    <a
                      (click)="
                        togleButton == 0 ? (togleButton = 1) : (togleButton = 0)
                      "
                      class=""
                      data-toggle="collapse"
                      href="#collapseExample"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapseExample"
                    >
                      <i
                        [class]="
                          togleButton == 0
                            ? 'fa fa-plus-circle'
                            : 'fa fa-minus-circle'
                        "
                        class="fa fa-plus-circle"
                        aria-hidden="true"
                      ></i>
                      {{ "advanced_options" | translate }}
                    </a>
                    <!-- <button class="btn btn_alkafu float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              {{'advanced_options' | translate}}
                             </button> -->
                  </div>
                </div>
                <div class="collapse" id="collapseExample">
                  <div class="row">
                    <!-- advancedoption -->
                    <div class="col-md-4 field-label-responsive">
                      <label class="labelrequired" for="password">{{
                        "gender" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <ng-select
                            placeholder="{{ 'gender' | translate }}"
                            id="gender"
                            [items]="gender"
                            bindLabel="gender"
                            bindValue="id"
                            formControlName="gender"
                            class="ng_select form-control"
                            [(ngModel)]="genderId"
                            [ngClass]="initialLoader"
                          >
                          </ng-select>
                        </div>
                        <span
                          class="danger"
                          *ngIf="
                            !jobForm.get('gender').value && buttonClick == 1
                          "
                          >{{ validationMsg.genderInvalid }}</span
                        >
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label class="labelrequired">{{
                        "state" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <ng-select
                            placeholder="{{ 'state' | translate }}"
                            id="state"
                            [items]="state"
                            bindLabel="state"
                            bindValue="id"
                            class="ng_select form-control"
                            [ngClass]="initialLoader"
                            formControlName="state"
                            [(ngModel)]="stateModel"
                          >
                          </ng-select>
                        </div>
                        <span
                          class="danger"
                          *ngIf="
                            !jobForm.get('state').value && buttonClick == 1
                          "
                          >{{ validationMsg.stateInvalid }}</span
                        >
                      </div>
                    </div>
                    <div class="col-md-4 field-label-responsive">
                      <label class="" for="password">{{
                        "minexperience" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            autocomplete="off"
                            type="text"
                            min="0"
                            [(ngModel)]="maxexperience"
                            maxlength="2"
                            name="name"
                            (keydown)="validateExperience($event)"
                            class="form-control"
                            id="maxexperience"
                            formControlName="maxexperience"
                            placeholder="{{ 'minexperience' | translate }}"
                            required="required"
                            autofocus="autofocus"
                          />
                        </div>
                        <span
                          class="danger"
                          *ngIf="
                            (this.jobForm.get('maxexperience').value &&
                              this.jobForm.get('maxexperience').value > 50) ||
                            this.jobForm.get('maxexperience').value < 0 ||
                            maxexperienceLengthIssue == 1
                          "
                          >{{ validationMsg.experienceInavlid }}</span
                        >

                        <!-- <span class="danger" *ngIf="this.jobForm.get('maxexperience').value < this.jobForm.get('minexperience').value">{{validationMsg.invalidInput}}</span> -->
                      </div>
                    </div>
                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{
                        "age_no_more" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            autocomplete="off"
                            (keydown)="validateInputKey($event, 'maxAge')"
                            type="text"
                            min="0"
                            name="name"
                            maxlength="2"
                            class="form-control"
                            id="maxAge"
                            [(ngModel)]="maxAge"
                            formControlName="maxAge"
                            placeholder="{{ 'age_no_more' | translate }}"
                            required="required"
                            autofocus="autofocus"
                          />
                        </div>
                        <span
                          class="danger"
                          *ngIf="
                            (this.jobForm.get('maxAge').value &&
                              this.jobForm.get('maxAge').value < 12) ||
                            this.jobForm.get('maxAge').value > 70
                          "
                          >{{ validationMsg.ageInavlid }}</span
                        >
                      </div>
                    </div>

                    <div class="col-md-4 field-label-responsive">
                      <label for="password">{{
                        "age_no_less" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <input
                            autocomplete="off"
                            type="text"
                            (keydown)="validateInputKey($event, 'minAge')"
                            min="0"
                            name="name"
                            maxlength="2"
                            class="form-control"
                            id="minAge"
                            [(ngModel)]="minAge"
                            formControlName="minAge"
                            placeholder="{{ 'age_no_less' | translate }}"
                            required="required"
                            autofocus="autofocus"
                          />
                        </div>
                        <span
                          class="danger"
                          *ngIf="
                            this.jobForm.get('maxAge').value <
                            this.jobForm.get('minAge').value
                          "
                          >{{ validationMsg.invalidInput }}</span
                        >
                        <span
                          class="danger"
                          *ngIf="
                            (this.jobForm.get('minAge').value &&
                              this.jobForm.get('minAge').value < 12) ||
                            this.jobForm.get('minAge').value > 70
                          "
                          >{{ validationMsg.ageInavlid }}</span
                        >
                      </div>
                    </div>
                    <!-- <div class="col-md-4 field-label-responsive">
                              <label for="password">{{'weight_not_exceed' | translate}}</label>
                            </div>
          
                            <div class="col-md-8">
                              <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                  <div class="input-group-addon"></div>
          
                                  <input autocomplete="off" type="text" maxlength="4" (keydown)="service.validateExperience($event)"
                                    min=0 name="name" id="maxWeight" formControlName="maxWeight" [(ngModel)]="maxWeight" class="form-control"
                                    placeholder="{{'weight_not_exceed' | translate}}" required="required" autofocus="autofocus" />
          
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"> {{'kg' | translate}} </span>
                                  </div>
          
                                </div>
                                <span class="danger" *ngIf="this.jobForm.get('maxWeight').value && this.jobForm.get('maxWeight').value < 20 || this.jobForm.get('maxWeight').value > 1000 || maxweightLengthIssue==1">{{validationMsg.weight}}</span>
          
                              </div>
                            </div>
                            <div class="col-md-4 field-label-responsive">
                              <label for="password">{{'weight_not_less' | translate}}</label>
                            </div>
          
                            <div class="col-md-8">
                              <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                  <div class="input-group-addon"></div>
          
                                  <input autocomplete="off" type="text" maxlength="4" (keydown)="service.validateExperience($event)"
                                    min=0 name="name" class="form-control" id="minWeight" [(ngModel)]="minWeight" formControlName="minWeight"
                                    placeholder="{{'weight_not_less' | translate}}" required="required" autofocus="autofocus" />
          
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"> {{'kg' | translate}} </span>
                                  </div>
                                </div>
          
          
                                <span class="danger" *ngIf="+this.jobForm.get('maxWeight').value < +this.jobForm.get('minWeight').value">{{validationMsg.invalidInput}}</span>
                                <br>
                                <span class="danger" *ngIf="this.jobForm.get('minWeight').value && this.jobForm.get('minWeight').value < 20 || this.jobForm.get('minWeight').value > 1000 || minweightLengthIssue==1">{{validationMsg.weight}}</span>
                              </div>
          
                            </div>
                            <div class="col-md-4 field-label-responsive">
                              <label for="password">{{'length_not_more' | translate}}</label>
                            </div>
          
                            <div class="col-md-8">
                              <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                  <div class="input-group-addon"></div>
          
                                  <input autocomplete="off" type="text" maxlength="3" (keydown)="service.validateExperience($event)"
                                    min=0 name="name" class="form-control" id="maxHeight" [(ngModel)]="maxHeight" formControlName="maxHeight"
                                    placeholder="{{'length_not_more' | translate}}" required="required" autofocus="autofocus" />
          
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"> {{'cm' | translate}} </span>
                                  </div>
          
                                </div>
                                <span class="danger" *ngIf="this.jobForm.get('maxHeight').value && this.jobForm.get('maxHeight').value < 50 || this.jobForm.get('maxHeight').value > 250 || maxheightLengthIssue==1">{{validationMsg.heightInvalid}}</span>
          
                              </div>
                            </div>
          
                            <div class="col-md-4 field-label-responsive">
                              <label for="password">{{'length_not_less' | translate}}</label>
                            </div>
          
                            <div class="col-md-8">
                              <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                  <div class="input-group-addon"></div>
          
                                  <input autocomplete="off" type="text" maxlength="3" [(ngModel)]="minHeight" (keydown)="service.validateExperience($event)"
                                    min=0 name="name" class="form-control" id="minHeight" formControlName="minHeight" placeholder="{{'length_not_less' | translate}}"
                                    required="required" autofocus="autofocus" />
          
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"> {{'cm' | translate}} </span>
                                  </div>
          
                                </div>
                                <span class="danger" *ngIf="+this.jobForm.get('maxHeight').value < +this.jobForm.get('minHeight').value">{{validationMsg.invalidInput}}</span>
                                <br> <span class="danger" *ngIf="this.jobForm.get('minHeight').value && this.jobForm.get('minHeight').value < 50 || this.jobForm.get('minHeight').value > 250 || minheightLengthIssue==1">{{validationMsg.heightInvalid}}</span>
                              </div>
                            </div> -->

                    <div class="col-md-4 field-label-responsive">
                      <label for="password" class="">
                        {{ "last_of_education" | translate }}
                      </label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>
                          <ng-select
                            placeholder="{{ 'last_of_education' | translate }}"
                            (remove)="onEducationItemDeselect()"
                            (clear)="onEducationItemDeselect()"
                            [items]="education"
                            bindLabel="education"
                            [multiple]="false"
                            bindValue="id"
                            class="ng_select form-control"
                            [ngClass]="initialLoader"
                            id="educations"
                            formControlName="educations"
                            [(ngModel)]="educationId"
                            (change)="onEducationItemSelect($event)"
                          >
                          </ng-select>
                        </div>
                        <!-- <span *ngIf="!this.jobForm.get('educations').value && buttonClick==1" class="danger">{{validationMsg.required}}</span> -->
                      </div>
                    </div>
                    <div class="col-md-4 field-label-responsive">
                      <label class="labelrequired" for="password">{{
                        "accept_disability" | translate
                      }}</label>
                    </div>

                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>

                          <label class="radio-inline mx-1">
                            <input
                              autocomplete="off"
                            
                              (click)="checked=1" 
                              [checked]="checked==1"
                              type="radio"
                             
                              name="acceptDisability"
                              value="true"
                            />
                            &nbsp;{{ "yes" | translate }}
                         
                          </label>
                          &nbsp;
                          <label class="radio-inline">
                            <input
                              autocomplete="off"
                              (click)="checked=0" 
                              type="radio"
                              [checked]="checked==0"
                              name="acceptDisability"
                              value="false"
                            />
                            &nbsp;
                            {{ "no" | translate }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <!------------------------------------------------------------------->
                  <!-- <div *ngIf="editJobPage==1" class="col-md-4 field-label-responsive">
                      <label class="labelrequired" for="password">{{'jobType' | translate}}</label>
                    </div>
  
                    <div *ngIf="editJobPage==1" class="col-md-8">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon"></div>
  
                          <label class="radio-inline mx-1">
                            <input autocomplete="off" formControlName="jobType"  [checked]="jobType=='non-urgent'" type="radio" name="jobType"
                              value="non-urgent" /> &nbsp;{{'Non Urgent Request' | translate}}
                          </label>
                          &nbsp;
                          <label class="radio-inline">
                            <input autocomplete="off" [checked]="jobType=='urgent'" formControlName="jobType" type="radio"
                              name="jobType" value="urgent" /> &nbsp;
                            {{'Urgent requests' | translate}}
                          </label>
                        </div>
                      </div>
                    </div> -->
                  <!--cmnt end -->

                  <div class="col-md-12">
                    <input
                      autocomplete="off"
                      type="submit"
                      name="submit"
                      [disabled]="fileLoader"
                      (click)="jobPost()"
                      class="submit btn_alkafu float-right float-left"
                      value=" {{ 'submit' | translate }} "
                    />
                  </div>
                </div>
              </div>

              <!-- </div>
                                  <div class="row"> -->
            </div>

            <!-- row -->
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>

<div class="container-fluid">
  <hr />
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addAddressConfirm"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">
          {{ "confirmjoblocation" | translate }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <label class="labelrequired" for="password">
              {{ "door_number" | translate }}</label
            >
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <input
                autocomplete="off"
                type="text"
                maxlength="30"
                class="form-control"
                [(ngModel)]="doorNo"
                placeholder="{{ 'door_number' | translate }}"
                required="required"
                autofocus="autofocus"
              />
            </div>
          </div>
          <div class="col-md-4">
            <label class="labelrequired" for="password">
              {{"landmark" | translate }}</label>
          </div>
          <div class="col-md-8">
            <input
              autocomplete="off"
              type="text"
              maxlength="30"
              class="form-control"
              [(ngModel)]="landmark"
              placeholder="{{ 'landmark' | translate }}"
              required="required"
              autofocus="autofocus"
            />
          </div>
          <div class="col-md-4">
            <label class="labelrequired" for="password">
              {{ "address" | translate }}</label>
          </div>
          <div class="col-md-8">{{ business_location_name }}</div>
        </div>
        
      </div>
      <div class="modal-footer row">
        <div class="col-md-6 mx-auto">
          <button
            (click)="addAddressToApi()"
            type="button"
            class="btn btn_alkafu "
          >
            {{ "Ok" | translate }}
          </button>
        </div>
        <div class="col-md-6 mx-auto">
          <button type="button" data-dismiss="modal" class="btn accept_icon">
            {{ "Cancel" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
