<div class="row">
  <div class="col-md-12 ">
    <div class="card ">
    
              <h5 class=" txt_dark_blue_header p-2 bkg_widget_head " style="margin-bottom: 0;"> 
              
                <div class="row">
                  <div class="col-md-6">
                      {{'lead_board' | translate }}
                  </div>
                  <div class="col-md-6 text-right">
                      <small class=""> <span> {{service.summeryDetails['myRank']?('your_rank' | translate)+' : '+service.summeryDetails['myRank'].rank:""}} </span> </small>
                  </div>
                </div>
              </h5>
     
      <!-- <hr> -->


     <div class="container-fluid py-3 px-2">
        <div *ngFor="let item of leaderboards; let i=index"  class="row  ">
            <div class="col-sm-1 col-1 sideBar-avatar my-auto">
              <p class="num_leader num_li_leader"><b>{{i+1}}</b></p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-3 col-3 sideBar-avatar my-auto">
              <div class="avatar-icon">
                  <img *ngIf="item.profileImage=='default' || !item.profileImage" src="{{service.prfImgTemp}}">
                  <img *ngIf="item.profileImage!='default' && item.profileImage" src="{{service.url}}/download/profile.json?fileID={{item.profileImage}}&token={{service.getStorage('token')}}">
                
               
              </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-8 col-8 sideBar-main my-auto">
              <div class="row">
                <div class="col-md-9 col-sm-8  col-9 "><span class="name-meta">
                    <p (click)="gotoEmployerPage(item.userId)" class="pointer text-left">{{item.userName| titlecase}}</p>
                    <p class="text-left"> <small> <b>{{'workedXhrs' | translate: {'x':item.totalHours} }} </b></small> </p>
                  </span>
                </div>
                <div *ngIf="item.badge=='GOLD'" class="col-md-3 col-sm-4 col-3 sideBar-name text-white my-auto py-auto">
                  <img  src="assets/images/gold_trophy.png" class="w-70">
                  <p class="txt_ash text-center d-none-768"><small  style="font-size: 10px;">{{'gold' | translate}} </small></p>
                </div>
                <div *ngIf="item.badge=='SILVER'"  class="col-md-3 col-sm-4 col-3 sideBar-name text-white my-auto py-auto">
                  <img  src="assets/images/g_trophy_silver.png" class="w-70">
                  <p class="txt_ash text-center d-none-768"><small style="font-size: 10px;">{{'silver' | translate}} </small></p>
                </div>
                <div *ngIf="item.badge=='BRONZE'"  class="col-md-3 col-sm-4 col-3 sideBar-name text-white my-auto py-auto">
                  <img  src="assets/images/g_trophy_bronz.png" class="w-70">
                  <p class="txt_ash text-center d-none-768"><small style="font-size: 10px;">{{'bronze' | translate}} </small></p>
                </div>
              </div>
            </div>
          </div>
     </div>



    </div>

  </div>



</div>