<!-- Header with Background Image -->
<!-- Modal -->

<div
  class="modal fade"
  id="joblist_Modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="joblist_ModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="joblist_ModalLabel"
        >Still available</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body"></div>
    </div>
  </div>
</div>

<div class="container-fluid mt100">
  <!-- iconrow -->

  <div class="row mt-4">
    <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto">
      <div class="container  mt-2">
        <div class="row">
          <div class="col-md-12 mx-auto mb-2">
            <h4 class="text-center bg-white pt-2 pb-2 b_shadow text_heading">Interview</h4>
          </div>

          <div class="col-md-9">
            <div class="card bx_shadow">
              <div class="card-body">
                <div class="row  topsubmenu1">
                  <div class="col-md-12 bg-medium-blue">
                    <h5 class="card-title  text-white pt-2 px-2">Web developer</h5>
                  </div>

                  <div class="col-md-12 py-2">
                    <h6>
                      I.S. International Man Power Consultants & Service
                    </h6>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i
                        class="fa fa-suitcase"
                        aria-hidden="true"
                      ></i>

                      5 - 8 years
                    </p>
                  </div>

                  <div class="col-md-8">
                    <p>
                      <i
                        class="fa fa-map-marker"
                        aria-hidden="true"
                      ></i>

                      Saudi Arabia - Saudi Arabia
                    </p>
                  </div>

                  <div class="col-md-8">
                    <p>
                      <i
                        class="fa fa-graduation-cap"
                        aria-hidden="true"
                      ></i>

                      Btech / BCA / MCA /Bsc
                    </p>
                  </div>

                  <!-- <div class="col-md-4">
                                                 <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> Btech / BCA / MCA /Bsc</p>
                                               </div> -->
                  <hr>
                </div>

                <hr>

                <div class="row  topsubmenu1">
                  <div class="col-md-12">
                    <p class="text-justify">
                      Hi there, i am looking for someone whe can help my small business with a crm web base, i need to jeep evrything in one place like customers anf from there i can make quotes, create jobs,schedule, invoice, add services and products and inventory, all this to work togather in a manner where it can save paperwork time. For more details please write an email with your experience and we will take it from there.Thank you.
                    </p>

                    <hr>
                  </div>

                  <div class="col-md-12">
                    <p>Skill set :</p>

                    <div class="text-left">
                      <p class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">Php</p>

                      <p class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">Bootstrap</p>

                      <p class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">jQuery</p>

                      <p class="small d-inline p-1 m-1 mb-1 mt-1 bg-secondary text-white rounded">Mysql</p>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row  topsubmenu1">
                  <div class="col-md-12">
                    <p>
                      Industry Type : IT - Software Services

                      <br>
                      Functional Area : IT Software
                    </p>
                  </div>
                </div>

                <hr>

                <div class="row  topsubmenu1">
                  <div class="col-md-4">
                    <p>
                      <i
                        class="fa fa-clock-o"
                        aria-hidden="true"
                      ></i>

                      Starting time : 10.00 AM
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i
                        class="fa fa-clock-o"
                        aria-hidden="true"
                      ></i>

                      Ending time  : 7.00 PM
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i
                        class="fa fa-calendar"
                        aria-hidden="true"
                      ></i>

                      Number of dates : 5.
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i
                        class="fa fa-money"
                        aria-hidden="true"
                      ></i>

                      Hourly fair : 50 {{'defaultcurrency' | translate}}.
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i
                        class="fa fa-user"
                        aria-hidden="true"
                      ></i>

                      Gender : Male/Female
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i
                        class="fa fa-calendar-o"
                        aria-hidden="true"
                      ></i>

                      Age limit : 20-40
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i
                        class="fa fa-long-arrow-up"
                        aria-hidden="true"
                      ></i>

                      Height :140cm - 180cm
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i
                        class="fa fa-arrows-h"
                        aria-hidden="true"
                      ></i>

                      Weight : 50kg - 100kg
                    </p>
                  </div>

                  <div class="col-md-4">
                    <p>
                      <i
                        class="fa fa-users"
                        aria-hidden="true"
                      ></i>

                      No. of workers : 10
                    </p>
                  </div>
                </div>

                <hr>

                <div class="col-md-12 py-2">
                  <h6>Terms</h6>
                </div>

                <div class="col-md-12">
                  <p class="mt-2  mb-2 font-weight-bold">
                    What is the amount you would like to bid for this job
                  </p>

                  <form [formGroup]="jobForm">
                    <p class="mt-2  mb-2">Your profile rate :-</p>

                    <div class="row">
                      <div class="col-md-4 field-label-responsive">
                        <label
                          for="password"
                          class="labelrequired"
                        >Hourly rate</label>
                      </div>

                      <div class="col-md-8">
                        <div class="form-group">
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"></div>

                            <div class="input-group mb-3">
                              <!-- <input
                                type="text"
                                (keyup)="calculateFee()"
                                class="form-control"
                                placeholder="Hourly rate"
                                formControlName="hourlyWages"
                                aria-label="Recipient's username"
                                aria-describedby="basic-addon2"
                              /> -->

                              <!-- <div class="input-group-append">
                                <ng-select 
                                placeholder="{{'currency' | translate }}"
                                [items]="service.currency "
                                bindLabel="code"
                                bindValue="id"
                                formControlName="currency"
                                class="ng_select form-control"
                               style="min-width: 110px;"
                                [ngClass]=" service.initialLoader"
                                [(ngModel)]="service.prCurrency"
                                >
                               </ng-select>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>

                    
                      <div class="col-md-4 field-label-responsive">
                        <label
                          for="password"
                          class="labelrequired"
                        >Message to client</label>
                      </div>

                      <div class="col-md-8">
                        <div class="form-group">
                          <textarea
                            formControlName="coverLetter"
                            class="form-control"
                            id="exampleFormControlTextarea1"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>

                      <div class="col-md-4 ml-auto">
                        <div class="btn-group w-100">
                          <button
                            type="button"
                            class="btn accept_icon w-100 my-2"
                           
                          >
                            <i
                              class="fa fa-check"
                              aria-hidden="true"
                            ></i>
                            Accept
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <hr>
              </div>
            </div>
          </div>

         
        </div>
      </div>
    </div>
  </div>

  <!-- end iconrow -->
</div>