<div class="container-fluid bg-white vh-100">
    <!-- iconrow -->

    <div class="row">
        <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 mx-auto ">
            <div class="container  mt-4">
                <!-- <form class="form-horizontal py-2" role="form" method="POST" onsubmit="openModal()" id="Form_signuppersonal"> -->

                <div *ngIf='!otp_valid' class="row">
                    <div class="col-md-12 mx-auto bkgdarkblue text-white">
                        <p class="text-white">
                            {{'title_email_verify_message' | translate}} {{'verify_email_address' | translate}}

                            <button class="btn accept_icon1" (click)="service.sendEmail()"> {{'r_send' | translate}}
                            </button>

                            <!-- <a (click)="service.sendEmail()">
                                <u>{{'verify_email_address' | translate}}</u>
                            </a> -->
                        </p>
                    </div>

                </div>

                <div class="row">
                    <!-- multistep form -->

                    <form id="msform" [formGroup]="signupForm" role="form" method="POST">
                        <!-- progressbar -->

                        <!-- <ul id="progressbar" class="">
                            <li class="active ">
                                 
                                {{'add_company_details' | translate }}
                               
                            </li>

                          
                            <li>{{'add_manager_details' | translate }}</li>
                        </ul> -->
                        <div class="row " style="background-color: #ccc;">
                            <div class="col-md-4 ple-0 " >
                                <div class=" w-100">
                                    <div class="arrowreg_page">
                                        <p class=" t_w text-white"> {{(employerType=='company'?'add_company_details':'addyourdetails') | translate }}</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 ">
                                <div class=" w-100">
                                    <div class="arrowreg_page_ash">
                                        <p class=" t_w text-dark"> {{(employerType=='company'?'add_manager_details':'addyourjoblocation' )| translate }}</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- fieldsets -->

                        <fieldset class="mt-5">
                            <!-- <h2 class="fs-title py-2">{{ 'add_company_information' | translate }}</h2> -->

                            <!-- <h3 class="fs-subtitle">{{'step_1' | translate }}</h3> -->

                            <div class="row text-left">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div  class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'employerType' | translate }}</label>
                                        </div>

                                        <div  class="col-md-8">
                                            <div class="form-group">

                                                <label class="radio-inline">
                                                    <input type="radio" name="registerType" (click)="employerType='company';changeEmployerType();"
                                                        [checked]="employerType=='company'" formControlName="registerType"
                                                        value="company"> {{'company' | translate}}
                                                </label>
                                                &nbsp;&nbsp;
                                                <label class="radio-inline">
                                                    <input type="radio" name="registerType" (click)="employerType='individual';changeEmployerType();"
                                                        [checked]="employerType=='individual'" formControlName="registerType"
                                                        value="individual">
                                                    {{'individual' | translate}}
                                                </label>

                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{(employerType=='company'?'company_name':'fullname' )| translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input type="text" [attr.disabled]="employerType=='company'?null:''" autocomplete="off" name="name" class="form-control"
                                                        id="es_name" [(ngModel)]="prcompanyname" formControlName="es_name"
                                                        placeholder="{{(employerType=='company'?'company_name':'fullname' )| translate }}" required="required"
                                                        autofocus="autofocus" maxlength="50" />
                                                </div>

                                                <span class="danger" *ngIf="!signupForm.get('es_name').valid && buttonClick==1">{{validationMsg.companyNameInvalid}}</span>
                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">
                                                <span *ngIf="employerType =='company'">
                                                    {{ 'upload_logo' | translate}}
                                                </span>
                                                <span *ngIf="employerType !='company'">
                                                    {{'upload_prf_ic' | translate}}
                                                </span>
                                            </label>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="container">

                                                <div class="avatar-upload">
                                                    <div class="avatar-edit file_up_style" style="display: none;">
                                                        <span class="hide_fileup">

                                                            <input type='file' (change)=fileEvent($event) class="{{imgfileLoader}}"
                                                                onchange="readURL(this);" [value]="prf_pic" id="imageUpload"
                                                                accept=".png, .jpg, .jpeg" /></span>

                                                        <span id='val11'></span>
                                                        <span onclick="triggerFileInput2()" id='button_up'>{{'selectfile'
                                                            | translate}}</span>
                                                    </div>


                                                    <!-- <div class="avatar-preview text-left">
                                                        <div id="imagePreview" class="text-left">
                                                            <img src="{{prf_pic}}" id="img_pic" class="mt-4 mb-4  form_propic"
                                                                alt="">
                                                        </div>
                                                    </div> -->
                                                    <div class="avatar-preview " >

                                                    <div id="imagePreview"  onclick="triggerFileInput2()" style="width:150px;" class="pointer" >
                                                            <i class="fa fa-paperclip attach_clip"  aria-hidden="true"></i>
                                                            <img *ngIf="!fileLoader" src="{{prf_pic}}" id="img_pic"  class=" mb-4 rounded-circle attach_propic"
                                                                alt="">
                                                                <img *ngIf="fileLoader" src="assets/images/loader.gif" id="img_pic" class=" mb-4 rounded-circle attach_propic"
                                                                alt="">   
                                                        </div>
                                                        </div>

                                                </div>
                                                <span class="danger" *ngIf="buttonClick==1 && !profileImage">{{validationMsg.required}}</span>


                                            </div>
                                        </div>

                                       

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'address1' | translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input type="text" autocomplete="off" name="name" class="form-control"
                                                        id="" [(ngModel)]="address1" formControlName="esaddress1"
                                                        placeholder="{{'door_number' | translate}}" required="required"
                                                        autofocus="autofocus" maxlength="50" />
                                                </div>

                                                <span class="danger" *ngIf="!signupForm.get('esaddress1').valid && buttonClick==1">{{validationMsg.address1}}</span>
                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="">{{'address2' | translate}}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input type="text" autocomplete="off" name="name" class="form-control"
                                                        id="" [(ngModel)]="address2" formControlName="esaddress2"
                                                        placeholder="{{'locality' | translate}}" required="required"
                                                        autofocus="autofocus" maxlength="50" />
                                                </div>
                                                <!-- <span class="danger" *ngIf="!signupForm.get('esaddress2').valid && buttonClick==1">{{validationMsg.address2}}</span> -->
                                            </div>
                                        </div>

                                        <!-- <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'country' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <input type="text" disabled class="ng_select form-control" value="India">
                                                    <ng-select  placeholder="{{'country' | translate }}" (remove)="onCountryItemDeselect()"
                                                        (clear)="onCountryItemDeselect()" [items]="service.country"
                                                        bindLabel="country" bindValue="id" class="ng_select form-control"
                                                        [ngClass]=" service.initalLoader" formControlName="es_country"
                                                        [(ngModel)]="prcountry" (change)="onCountryItemSelect($event)">
                                                    </ng-select>

                                                </div>

                                                <span class="danger" *ngIf="!signupForm.get('es_country').value && buttonClick==1">{{validationMsg.countryInvalid}}</span>
                                            </div>
                                        </div> -->

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'state' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'state' | translate }}" (remove)="onStateItemDeselect()"
                                                        (clear)="onStateItemDeselect()" [items]="state " bindLabel="state"
                                                        bindValue="id" class="ng_select form-control" [ngClass]=" stateLoader"
                                                        formControlName="es_state" [(ngModel)]="prstate" (change)="onStateItemSelect($event)">
                                                    </ng-select>


                                                </div>

                                                <span class="danger" *ngIf="!this.stateId && buttonClick==1">{{validationMsg.stateInvalid}}</span>
                                            </div>
                                        </div>

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'city' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <ng-select placeholder="{{'city' | translate }}" (remove)="onCityItemDeselect()"
                                                        (clear)="onCityItemDeselect()" [items]="cities " bindLabel="city"
                                                        bindValue="id" class="ng_select form-control" [ngClass]=" cityLoader"
                                                        formControlName="es_city" [(ngModel)]="prcity" (change)="onCityItemSelect($event)">
                                                    </ng-select>

                                                </div>
                                            </div>
                                           
                                            <span class="danger" *ngIf="!this.cityId && this.cityId!=0 && buttonClick==1">{{validationMsg.cityInvalid}}</span>
                                        </div>

                                        
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">

                                            <div class="col-md-4 field-label-responsive">
                                                    <label for="password" class="">
                                                        <span *ngIf="employerType =='company'">
                                                            {{ 'company_website' | translate}}
                                                        </span>
                                                        <span *ngIf="employerType !='company'">
                                                            {{ 'webSite' | translate}}
                                                        </span>
                                                    </label>
                                                </div>
        
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                            <div class="input-group-addon"></div>
        
                                                            <input type="text" autocomplete="off" formControlName="es_website"
                                                                name="name" [(ngModel)]="prwebsite" class="form-control" id="es_website"
                                                                pattern="www?.+ || http//?." placeholder="{{(employerType =='company'?'company_website' :'webSite') | translate }}"
                                                                required="required" autofocus="autofocus" maxlength="50" />
                                                        </div>
        
                                                        <!-- <span class="danger" *ngIf="!signupForm.get('es_website').valid && buttonClick==1">{{validationMsg.companyWebsieInvalid}}</span> -->
                                                    </div>
                                                </div>
        
                                                <div *ngIf="employerType =='company'" class="col-md-4 field-label-responsive">
                                                    <label for="password" class="labelrequired">{{'company_email' | translate
                                                        }}</label>
                                                </div>
        
                                                <div *ngIf="employerType =='company'" class="col-md-8">
                                                    <div class="form-group">
                                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                            <div class="input-group-addon"></div>
        
                                                            <input type="text" disabled autocomplete="off" [(ngModel)]="prcompanyEmail"
                                                                formControlName="es_email" name="name" class="form-control" id="es_email"
                                                                placeholder="{{'company_email' | translate }}" required="required"
                                                                autofocus="autofocus" maxlength="50" />
                                                        </div>
        
                                                        <span class="danger" *ngIf="!signupForm.get('es_email').valid && buttonClick==1">{{validationMsg.companyEmailInvalid}}</span>
                                                    </div>
                                                </div>
                                                
                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">
                                                {{ (employerType =='company'?'company_phone_no':'his_phone_no') | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input type="text" autocomplete="off" (keydown)="service.validateInputKey($event)"
                                                        [(ngModel)]="prPhone" name="name" class="form-control" id="es_phone"
                                                        formControlName="es_phone" placeholder="{{(employerType =='company'?'company_phone_no':'his_phone_no') | translate }}"
                                                        required="required" autofocus="autofocus" maxlength="15" />
                                                </div>

                                                <span class="danger" *ngIf="!signupForm.get('es_phone').valid && buttonClick==1">{{validationMsg.companyPhoneInvalid}}</span>
                                            </div>
                                        </div>

                                        <!-- <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="">{{'mobile_no' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input type="text" disabled autocomplete="off" (keydown)="service.validateInputKey($event)"
                                                        name="name" [(ngModel)]="prMobile" class="form-control" id="es_mobile"
                                                        formControlName="es_mobile" placeholder="{{'mobile_no' | translate }}"
                                                        required="required" autofocus="autofocus" maxlength="15" />
                                                </div>

                                            
                                            </div>
                                        </div> -->

                                        <!-- <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="">{{'zip_code' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input type="text" autocomplete="off" [(ngModel)]="prZip" name="name"
                                                        class="form-control" id="es_zipcode" formControlName="es_zipcode"
                                                        placeholder="{{'zip_code' | translate }}" required="required"
                                                        autofocus="autofocus" maxlength="15" />
                                                </div>

                                               
                                            </div>
                                        </div> -->

                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired">{{'p_o_box' | translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <input type="text" autocomplete="off" name="name" [(ngModel)]="prPo"
                                                        class="form-control" id="es_po" formControlName="es_po"
                                                        placeholder="{{'p_o_box' | translate }}" required="required"
                                                        autofocus="autofocus" maxlength="15" />
                                                </div>

                                                <span class="danger" *ngIf="!signupForm.get('es_po').valid && buttonClick==1">{{validationMsg.companyPoboxInvalid}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="labelrequired"> 
                                                {{(employerType =='company'?'about_company':'about_me' )| translate }}</label>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <textarea maxlength="1500" class="form-control" formControlName="aboutme"
                                                        [(ngModel)]="aboutmeModal" placeholder="{{(employerType =='company'?'about_company':'about_me' ) | translate }}"
                                                        rows="5" id="comment"></textarea>

                                                </div>
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>
                                                    <small class="mt-2 mr-auto text-left text-dark">{{1500 -
                                                        aboutmeModal.length}} {{"left" | translate}}</small>
                                                </div>

                                                <span class="help-block danger" *ngIf="!aboutmeModal && buttonClick==1 ">{{validationMsg.aboutme}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 field-label-responsive">
                                            <label for="password" class="label">
                                                {{'upload_the_registry_and_licenses' | translate }}
                                            </label>
                                        </div>

                                        <div class="col-md-7  pb-1">
                                            <div class="form-group file_up_style" style="display:none">


                                                <span class="hide_fileup ">
                                                    <span class="float-left" *ngIf="fileName">{{service.fileNameFormater(fileName[fileName.length
                                                        - 1]) }}</span>
                                                    <input type="file" multiple accept="{{service.fileFormat}}" id="upload_experience"
                                                        (change)=uploadLicense($event) formControlName="file"
                                                        placeholder="file" />
                                                </span>
                                                <span onclick="triggerFileInput1()" id='button_up'>{{'selectfile' |
                                                    translate}}</span>
                                            </div>


                                            <div *ngIf="dwnld_file" class="my-2 text-left">
                                              
                                                <app-editattachment [attachments]="registryLicenceFile" [fileName]="fileName"
                                                    (messageEvent)="deleteFileicon($event)"></app-editattachment>
                                           </div>
                                           <div *ngIf="this.fileCounter <5 " class="img_attach_sm img_plus "  onclick="triggerFileInput1()">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        </div>


                                            <div>

                                            </div>

                                        </div>
                                        <div *ngIf="service.loader" class="col-md-1 col-3 mx-auto my-auto"><img class="img-fluid"
                                                src="assets/images/loaderinput.gif"></div>


                                        
                                        <div class="col-md-4 field-label-responsive">
                                        </div>

                                        <div *ngIf="service.getRegisterLevel()!='0'" class="col-md-8">
                                            <div *ngIf='otp_valid' class="form-group">
                                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                    <div class="input-group-addon"></div>

                                                    <div class="alert alert-success" role="alert">
                                                        {{'no_verified' | translate }}(<i class="fa fa-check text-success "
                                                            aria-hidden="true"></i>)
                                                    </div>
                                                </div>

                                            </div>
                                        </div>




                                    </div>
                                </div>
                            </div>
                            <input *ngIf="service.getRegisterLevel()=='0'" type="button" [disabled]="imgfileLoader"
                                (click)="personalInformationSubmit(1)" class="btn_alkafu pl-3 pr-3 " value="{{'save' | translate }}" />
                            &nbsp;
                            <input type="button" [disabled]="imgfileLoader" (click)="personalInformationSubmit(0)"
                                class="btn_alkafu pl-3 pr-3 " value="{{'next' | translate }}" />




                        </fieldset>


                    </form>
                </div>

                <!-- row -->
            </div>
        </div>
    </div>

    <!-- end iconrow -->
</div>