<div class="col-md-6 mb-5 pb-5 mx-auto ">
    <div class="card mx-auto mt-5 mb-5" style="width: 100%;">

        <h3 style="margin-top: 20px; " class="text-center text_blue"> Transaction successful! </h3>

        <img class="card-img-top" src="assets/images/veri.gif" alt="Card image cap" style="width: 30%;" class="mx-auto">
        <div class="card-body mx-auto text-center">
          <h5 class="card-title">Your transaction was successful</h5>
          <p class="card-text text-left">  Amount : 50 {{'defaultcurrency' | translate}}  <br> Transaction Id : 5020256520  <br> Date : 10/10/2018</p>
          
        </div>
      </div>
</div>