<!-- Header with Background Image -->
<div class="modal fade" id="emailExist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-medium-blue">
                <h5 class="modal-title text-white" id="exampleModalLabel">Warning </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body   email_modal_style">

                <!-- <div class="row " >
                          <div class="col-md-12">
                                
                          </div>
                      </div> -->
                <div class="row ">


                    <div class="col-md-12">

                        <p class="text-center"><i class="fa fa-exclamation-circle fa-4x text_blue" aria-hidden="true"></i></p>
                        <b>
                            <p class="text-center mx-auto " style="font-size: 14px !important;
                            line-height: 30px;">
                               {{'youarealreadyregistered' | translate}}<br>
                                {{'please' | translate}} <a onclick="hideModal('emailExist')" routerLink="/login"> {{'clickheretologin' | translate}}</a><br>
                                {{'ifyouforgetpwd' | translate}}<br><a onclick="hideModal('emailExist')" routerLink="/login">{{'plzresethere' | translate}}</a>.

                            </p>
                        </b>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="signupheader" style="width: 100%;">
    <!-- Carousel container -->

    <div class="container d-flex h-100 pt-5">

        <div class="row align-self-center  bkgdarkblue_transparent mt100">

            <div class="col-md-12" class="position-absolute" style="z-index: 100;">
                <div class="row">
                    <div class="col-md-6 ">
                        <!-- <ngb-alert  type="warning" (click)="emailExists=false"  *ngIf="emailExists" >You are already registered with this email address.
                                    Please <a  routerLink="/login"> click here to login</a>.If you forgot your password.<a  routerLink="/login">Please reset it here</a>.</ngb-alert>
                     -->
                    </div>
                </div>
            </div>

            <div class="col-md-6 mx-auto align-self-center w-100 d-none d-sm-block">
                <h2 class="text-white text-center">
                    {{'welcome_to_the' | translate}} {{'up_parttime' | translate}}
                    <!-- <span
                    class="txt-rotate"
                    data-period="2000"
                    data-rotate='[ "Up part-time", "Up part-time", "Up part-time.", "Up part-time.", "Up part-time!" ]'></span> -->
                </h2>
            </div>

            <div class="col-md-6 col-12 mx-auto bg-white mainheading w-100">

                <div class="container  mt-4">
                    <form class="form-horizontal py-2 my-2" [formGroup]="signupForm" role="form" method="POST"
                        (ngSubmit)="signup()" id="idForm">
                        <div class="row">
                            <div class="col-md-9 ml-auto">
                                <h4>{{'register_new_user' | translate }}</h4>

                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <!-- </div>
                            <div class="row"> -->

                            <div class="col-md-4 field-label-responsive text-md-left text-left">
                                <label for="password" class="labelrequired">{{'name' | translate}}</label>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group has-danger">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon fa_reg" style="width: 2.6rem">
                                            <i class="fa fa-user"></i>
                                        </div>

                                        <input type="text" formControlName="name" class="form-control" id="name"
                                            autocomplete="off" placeholder="{{'first_name' | translate }}" required="required"
                                            autofocus="autofocus" maxlength="50" />
                                    </div>

                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"></div>

                                        <span id="danger" *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched &&!signupForm.get('name').hasError('maxlength')"
                                            class="danger">
                                            {{this.validationMsg.level1FullnameInvalid}}
                                        </span>

                                       
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-4 field-label-responsive text-md-left text-left">
                                <label for="password" class="labelrequired">{{'mobile_no' | translate}}</label>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">

                                    <div class=" input-group mb-2 mr-sm-2 mb-sm-0">
                                        
                                        <div class=" input-group-addon fa_reg" style="width: 2.6rem">
                                            <i class="fa fa-mobile"></i>
                                        </div>
                                       <input type="text"style="padding: 0px;max-width: 50px;border-right:none"  class="form-control" value="+91" disabled>
                                       <input type="text"[maxLength]=10 formControlName="mobile" (keydown)="validateInputKey($event)"
                                       class="form-control" style="border-left: none" autocomplete="off" class="form-control flag_border"
                                        [(ngModel)]="phoneNumber" class="form-control" id="inlineFormInputGroup" placeholder="{{'mobile_no' | translate}}">

                                        <!-- <int-phone-prefix [maxLength]=16 formControlName="mobile" (keydown)="validateInputKey($event)"
                                            class="form-control" autocomplete="off" class="form-control flag_border"
                                            style="padding: 0px; border: none" [(ngModel)]="phoneNumber">

                                        </int-phone-prefix> -->


                                    </div>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem">

                                        </div>
                                        <span id="danger" *ngIf="!signupForm.get('mobile').valid&& signupForm.get('mobile').touched"
                                            class="help-block danger pl-5 ">
                                            {{validationMsg.invalidMobile}}
                                        </span>

                                        <span class="danger" *ngIf="signupForm.get('mobile').hasError('maxlength')">
                                            {{this.validationMsg.level1MobileLong}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 field-label-responsive text-md-left text-left">
                                <label for="password" class="labelrequired">{{'email' | translate}}</label>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon fa_reg" style="width: 2.6rem">
                                            <i class="fa fa-at"></i>
                                        </div>

                                        <input  autocomplete="off" type="text" name="email"  formControlName="email"
                                            class="form-control" id="email" placeholder="{{'email_placeholder' | translate}}"
                                            required="required" autofocus="autofocus" maxlength="50" />
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                        <span id="danger" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched&&!signupForm.get('email').hasError('maxlength')"
                                            class="help-block danger pl-5">{{validationMsg.level1EmailInvalid}}</span>

                                        <span class="danger pl-5" *ngIf="signupForm.get('email').hasError('maxlength')">
                                            {{validationMsg.level1EmailLong}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 field-label-responsive text-md-left text-left">
                                <label for="password" class="labelrequired">{{'password' | translate}}</label>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group has-danger">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon fa_reg" style="width: 2.6rem">
                                            <i class="fa fa-key"></i>
                                        </div>

                                        <input  autocomplete="off" type="password" (click)="resetError()" name="password" formControlName="password"
                                            class="form-control" id="password" placeholder="{{'password' | translate}}"
                                            required="required" maxlength="20" />
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                        <span id="danger" *ngIf="signupForm.get('password').hasError('minlength')||signupForm.get('password').hasError('maxlength')&& signupForm.get('password').touched"
                                            class="help-block danger pl-5">
                                            {{validationMsg.level1PasswordInvalid}}
                                        </span>


                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 field-label-responsive text-md-left text-left">
                                <label for="password" class="labelrequired">{{'confirm_password' | translate}}</label>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon fa_reg" style="width: 2.6rem">
                                            <i class="fa fa-repeat"></i>
                                        </div>

                                        <input  autocomplete="off" type="password" (click)="resetError()" formControlName="password_confirm"
                                            name="password_confirmation" class="form-control" id="password_confirm"
                                            placeholder="{{'confirm_password' | translate}}" required="required"
                                            maxlength="20" />
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                        <span id="danger" *ngIf="signupForm.get('password_confirm').hasError('minlength')|| signupForm.get('password_confirm').hasError('maxlength')&&signupForm.get('password_confirm').touched"
                                            class="help-block pl-5 danger">
                                            {{validationMsg.level1PasswordInvalid}}
                                        </span>
                                        <span class="danger pl-5" id="pwdmissmatch">{{pwdmissmatch}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-4 field-label-responsive text-md-left text-left">
                                <label for="password" class="labelrequired">{{'timezone' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon fa_reg" style="width: 2.6rem">
                                            <i class="fa fa-clock-o"></i>
                                        </div>

                                        <select formControlName="timezone" (change)=demo(timeZones) class="form-control"
                                            [(ngModel)]="myTimeZone">
                                            <option [selected]="myTimeZone==0" disabled [ngValue]="'0'">{{'selecttimezone'
                                                | translate}}</option>

                                            <option *ngFor="let timezone of timeZones" [selected]="myTimeZone==timezone.text"
                                                [ngValue]="timezone.text">{{timezone.text}}</option>
                                        </select>

                                    </div>
                                   
                                </div>
                            </div> -->
                            <div class="col-md-4 field-label-responsive text-left">
                                <label for="password">{{'employee/employer' | translate}}</label>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">

                                    <div class="radio-inline custom-control custom-radio" style="display: unset;">


                                        <input  autocomplete="off" type="radio" class="custom-control-input" name="choice" [checked]=true
                                            required="required" formControlName="choice" value="employee" id="employee_sign" />

                                        <label class="custom-control-label" for="employee_sign">{{'i_want_to_work' |
                                            translate}}</label>
                                        <!-- {{'i_want_to_work' | translate}} -->
                                    </div>
                                    &nbsp;
                                    <div class="radio-inline custom-control custom-radio" style="display: unset;">
                                        <input  autocomplete="off" type="radio" name="choice" class="custom-control-input" required="required"
                                            formControlName="choice" value="employer" id="employer_sign" />
                                        <label class="custom-control-label" for="employer_sign">{{'i_want_to_hire' |
                                            translate}}</label>
                                        <!-- {{'i_want_to_hire' | translate}} -->
                                    </div>


                                </div>

                                <span id="danger" *ngIf="!signupForm.get('choice').valid && signupForm.get('choice').touched"
                                    class="help-block danger pl-5">{{validationMsg.radioInvalid}}</span>



                            </div>


                            <div class="col-md-6">
                                <button type="submit" [disabled]="isdisable()" class="btn btn-success">
                                    <i class="fa fa-user-plus"></i>
                                    {{'register' | translate}}
                                </button>
                            </div>
                        </div>

                        <!-- row -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- endbanner -->
</div>

<div class="container">
    <!-- iconrow -->

    <div class="row">
        <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4">
            <div class="container">
                <div class="row borderbox mainheading">
                    <div class="col-md-3  py-4">
                        <h5 class="text-center">{{'employee' | translate}}</h5>

                        <h3 class="text-center">10000</h3>
                    </div>

                    <div class="col-md-3 py-4">
                        <h5 class="text-center">{{'employer' | translate}}</h5>

                        <h3 class="text-center">500</h3>
                    </div>

                    <div class="col-md-3 py-4">
                        <h5 class="text-center">{{'companies' | translate}}</h5>

                        <h3 class="text-center">500</h3>
                    </div>

                    <div class="col-md-3 boxblueclr py-4">
                        <h3 class="text-center">1000s</h3>

                        <h5 class="text-center">{{"of_jobs" | translate}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- end iconrow -->