<div class="container-fluid">
  <!-- iconrow -->

  <div class="row">
    <div
      class="col-md-12 mainheading text-center text-md-left py-2 mx-auto bkg_ash"
    >
      <app-headerwidget></app-headerwidget>
    </div>
    <div
      class="col-md-12 mainheading text-center text-md-left mt-2 mb-4 mx-auto"
    >
      <div class="page_w_90  mt-4">
        <div class="row">
          <div class="col-md-12 my-4">
            <div class="">
              <div class="row  px-1">
                <div class="col-md-12">
                  <div class="row my-1">
                    <div
                      [routerLink]="['/contracts']"
                      routerLinkActive="router-link-active"
                      class="col-md-3 pointer"
                    >
                      <div class="imgicon_widget row  ">
                        <div
                          class="col-md-3  col-3
                                 my-auto px-auto"
                        >
                          <h2 class="text-center text-white mx-auto">
                            <i
                              class="fa fa-clock-o fa-1x bg_blue_tile_round1"
                              aria-hidden="true"
                            ></i>
                          </h2>
                        </div>
                        <div class="col-md-9 col-9 my-auto ">
                          <div
                            class="cards py-2 pointer"
                            routerLink="/employer_contracts"
                          >
                            <h6 class="txt_ash text-center">
                              {{ "active_contracts" | translate }}
                            </h6>
                            <h3 class="txt_ash text-center">
                              {{
                                service.summery.activeContract
                                  ? service.summery.activeContract
                                  : 0
                              }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      [routerLink]="['/contracts']"
                      routerLinkActive="router-link-active"
                      class="col-md-3 pointer"
                    >
                      <div class="imgicon_widget  row">
                        <div class="col-md-3 col-3 my-auto px-auto">
                          <h2 class="text-center text-white mx-auto">
                            <i
                              class="fa fa-check bg_blue_tile_round2"
                              aria-hidden="true"
                            ></i>
                          </h2>
                        </div>
                        <div class="col-md-9 col-9 my-auto">
                          <div
                            class="cards py-2 pointer"
                            routerLink="/employer_contracts"
                          >
                            <h6 class="txt_ash text-center">
                              {{ "completed_contracts" | translate }}
                            </h6>
                            <h3 class="text-center txt_ash">
                              {{
                                service.summery.completeContract
                                  ? service.summery.completeContract
                                  : 0
                              }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 ">
                      <div class="imgicon_widget row  ">
                        <div class="col-md-3 col-3 my-auto px-auto">
                          <h2 class="text-center text-white mx-auto">
                            <i
                              class="fa fa-money bg_blue_tile_round3"
                              aria-hidden="true"
                            ></i>
                          </h2>
                        </div>
                        <div class="col-md-9 col-9 my-auto ">
                          <div class="cards py-2">
                            <h6 class="txt_ash text-center">
                              {{ "money_spent" | translate }}
                            </h6>
                            <h3 class="txt_ash text-center">
                              {{
                                service.summery.amountSpend
                                  ? service.summery.amountSpend
                                  : 0
                              }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="imgicon_widget  row">
                        <div class="col-md-3 col-3 my-auto px-auto">
                          <h2 class="text-center text-white mx-auto">
                            <i
                              class="fa fa-star-half-o bg_blue_tile_round4"
                              aria-hidden="true"
                            ></i>
                          </h2>
                        </div>
                        <div class="col-md-9 col-9 my-auto">
                          <div class="cards py-2">
                            <h6 class="txt_ash text-center">
                              {{ "rating" | translate }}
                            </h6>
                            <h3 class="text-center txt_ash">
                              {{
                                service.summery.rating
                                  ? returnParseInt(service.summery.rating)
                                  : (0 | number)
                              }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-8 mb-4">
            <div class="row">
              <div class="col-md-6 my-2">
                <app-incomegraphwidget></app-incomegraphwidget>
              </div>
              <div class="col-md-6 my-2">
                <app-reviewswidget></app-reviewswidget>
              </div>
              <div class="col-md-12 my-2">
                <div class="card">
                  <div class="row py-4 px-4">
                    <div class="col-md-12">
                      <div class="row my-1">
                        <div class="col-md-4 my-2">
                          <div class="imgicon">
                            <div
                              class="cards py-2 pointer"
                              data-toggle="modal"
                              data-target="#Modaladdjob"
                            >
                              <!-- <a routerLink="/job_post/Urgent requests"  > -->
                              <div class="cards py-2">
                                <!-- <img src="assets/images/ourgent.png" class="img-fluid50"> -->
                                <h2 class="text-center text-white mx-auto">
                                  <i
                                    class="fa fa-clipboard fa-1x bg_blue_tile_round1"
                                    aria-hidden="true"
                                  ></i>
                                </h2>

                                <p>
                                  {{ "postjob" | translate }}

                                  <br />

                                  <!-- ({{['urgent_requests' | translate]}}) -->
                                </p>
                              </div>
                              <!-- </a> -->
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 my-2">
                          <div class="imgicon">
                            <div class="cards py-2">
                              <a routerLink="/search_all_person">
                                <div class="cards py-2">
                                  <!-- <img src="assets/images/ousern.png" class="img-fluid50"> -->
                                  <h2 class="text-center text-white mx-auto">
                                    <i
                                      class="fa fa-search  bg_blue_tile_round2"
                                      aria-hidden="true"
                                    ></i>
                                  </h2>

                                  <p>
                                    {{ "employee_serach" | translate }}
                                    <br />
                                    <!-- ({{'non_urgent_requests' | translate}}) -->
                                  </p>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 my-2">
                          <div class="imgicon">
                            <div class="cards py-2">
                              <a routerLink="/my_jobs">
                                <div class="cards py-2">
                                  <!-- <img src="assets/images/announced.png" class="img-fluid50"> -->
                                  <h2 class="text-center text-white mx-auto">
                                    <i
                                      class="fa fa-bullhorn bg_blue_tile_round3"
                                      aria-hidden="true"
                                    ></i>
                                  </h2>

                                  <p>
                                    {{ "announced_jobs" | translate }}
                                  </p>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row my-1">
                        <div class="col-md-4 my-2">
                          <div class="imgicon">
                            <div class="cards py-2">
                              <a routerLink="/employer_contracts">
                                <!-- <img src="assets/images/one-time project1.png" class="img-fluid50"> -->
                                <h2 class="text-center text-white mx-auto">
                                  <i
                                    class="fa  fa-handshake-o bg_blue_tile_round4"
                                    aria-hidden="true"
                                  ></i>
                                </h2>

                                <p>
                                  {{ "contracts" | translate }}
                                </p>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 my-2">
                          <div class="imgicon">
                            <div class="cards py-2">
                              <a routerLink="/employee_message">
                                <div class="cards py-2">
                                  <!-- <img src="assets/images/speech-bubble.png" class="img-fluid50"> -->
                                  <h2 class="text-center text-white mx-auto">
                                    <i
                                      class="fa  fa-comments bg_blue_tile_round1"
                                      aria-hidden="true"
                                    ></i>
                                  </h2>

                                  <p>
                                    {{ "message" | translate }}
                                  </p>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 my-2">
                          <div class="imgicon">
                            <div class="cards py-2">
                              <a routerLink="/not_sure">
                                <div class="cards py-2">
                                  <!-- <img src="assets/images/owhat.png" class="img-fluid50"> -->
                                  <h2 class="text-center text-white mx-auto">
                                    <i
                                      class="fa  fa-question bg_blue_tile_round2"
                                      aria-hidden="true"
                                    ></i>
                                  </h2>

                                  <p>{{ "im_not_sure" | translate }}</p>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4 my-2">
            <app-leaderboard></app-leaderboard>
          </div>
        </div>
      </div>

      <!-- row -->
    </div>
  </div>
</div>

<!-- end iconrow -->
