<!-- <div class="how_it_header mt-4">
    <div class="container d-flex h-100">
     <div class="row align-self-center w-100">
         <div class="col-md-6 mx-auto">
            <h2 class="text-center bkgdarkblue_transparent p-4 text-white">{{'howitwork' | translate}}</h2>
         </div>
     </div>
    </div>
 </div> -->

<div class="container mt-4">

 <!-- iconrow -->
  <div class="row">

                 <div class="col-md-11 mainheading text-center text-md-left my-1 mx-auto bg-white">         
                   <div class="container  mt-4">                    
                            <div class="row">
                                 <div class="col-md-12 mx-auto">

<div class="row">
    
       <div class="col-md-12 mainheading text-center mt-4 mb-4">
            <h4 class="text-center bg-white py-2 text_heading">
                   {{'howitwork' | translate}}
                   
            </h4>
           <!-- <h5>{{'connecting_ businesses' | translate}}</h5> -->
       </div>
    </div>
  
     <div class="row ">
       <div class="col-md-12  ">
                <div class="w-100 " >

                  <ul class="nav nav-tabs mx-auto justify-content-center" role="tablist" >
                    <li class="nav-item" style=" text-align: center;">
                      <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"> {{'employee' | translate}} </a>
                    </li>
                    <li class="nav-item" style=" text-align: center;">
                      <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">  {{'employer' | translate}} </a>
                    </li>
                   
                  </ul>

                </div>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane  active bg-white" id="profile" >
                            <div class="row">

                                        <div class="col-md-6 row4_home mt-3 mx-auto ">
                                            <!-- <p class="text-center  my-4" style="font-size: 2rem;"><i class="fa fa-youtube-square fa-5x text_blue pt-3" aria-hidden="true"></i></p> -->
                                            <!-- <iframe width="300" height="290" class="mx-auto" src="https://www.youtube.com/embed/_q9OEOtoqO4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                                            <!-- <iframe width="100%" height="100%" class="mx-auto" src="assets/images/employer_job_post.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                                            
                                             <video class="embed-responsive embed-responsive-16by9" controls>
                                                       <source class="embed-responsive-item" src="assets/images/employee_job_search.mp4" type="video/mp4">      
                                             </video>

                                       </div>
                                        <div class="col-md-6 row4_home my-auto">
                                            <h3 class="text-center"> {{'how_to_use' | translate}} </h3>
                                            <p class="text-justify">  {{'post_your_job_content' | translate}} </p>
                                       </div>
                                       </div>
                                       <div class="row">



                                    <div class="col-md-6 row4_home my-auto  order-2 order-md-1 ">
                                          <h3 class="text-center">{{'search_your_jobs' | translate}}</h3>
                                          <p class="text-justify">{{'search_your_jobs_content' | translate}}</p>
                                     </div>
                                      <div class="col-md-6 row4_home col-mt-2 col-sm-mt-0   order-1 order-md-2 ">
                                          <img src="assets/images/find_job.png" class="img-fluid  mx-auto">
                                          
                                     </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6 row4_home">
                                          <img src="assets/images/find_match.png" class="img-fluid  mx-auto"> 
                                     </div>
                                      <div class="col-md-6 row4_home my-auto">
                                          <h3 class="text-center"> {{'its_match' | translate}} </h3>
                                          <p class="text-justify"> {{'its_a_match_content' | translate}} </p>
                                     </div>

                                    </div>
                                    <div class="row">
                                      <div class="col-md-6 row4_home my-auto order-2 order-md-1">
                                          <h3 class="text-center">{{'grab_your_job' | translate }}</h3>
                                          <p class="text-justify">  {{'grab_your_job_content' | translate}} </p>
              
                                     </div>
                                      <div class="col-md-6 row4_home order-1 order-md-2 " >
                                          <img src="assets/images/find_grab.png" class="img-fluid  mx-auto">
                                          
                                     </div>
                                   </div>
                    </div>
                    <div role="tabpanel" class="tab-pane  bg-white" id="buzz">

                            <div class="row">
                                       <div class="col-md-6 row4_home">
                                             <video class="embed-responsive embed-responsive-16by9" controls>
                                                       <source class="embed-responsive-item" src="assets/images/employer_job_post.mp4" type="video/mp4">
                                                       
                                             </video>
                                            <!-- <p class="text-center  my-4" style="font-size: 2rem;"><i class="fa fa-youtube-square fa-5x text_blue pt-3" aria-hidden="true"></i></p> -->
                                       </div>
                                        <div class="col-md-6 row4_home my-auto">
                                            <h3 class="text-center"> {{'how_to_use' | translate}} </h3>
                                            <p class="text-justify">  {{'post_your_job_content' | translate}} </p>
                                       </div>
                            <div class="row">           

                                    <div class="col-md-6 row4_home my-auto order-2 order-md-1 ">
                                         <h3 class="text-center">{{'search_employee_post_job' | translate}}</h3>
                                         <p class="text-justify">  {{'how_search_your_employee' | translate}} </p>
                                    </div>
                                     <div class="col-md-6 row4_home order-1 order-md-2 ">
                                         <img src="assets/images/fingem.png" class="img-fluid  mx-auto">
                                         
                                    </div>
                            </div>
                            <div class="row">        
                                     <div class="col-md-6 row4_home">
                                         <img src="assets/images/find_match.png" class="img-fluid  mx-auto"> 
                                    </div>
                                     <div class="col-md-6 row4_home my-auto">
                                         <h3 class="text-center">{{'its_a_match' | translate}}</h3>
                                         <p class="text-justify">{{'its_a_match_content' | translate}}</p>
                                    </div>
                            </div>       
                            <div class="row">
                                     <div class="col-md-6 row4_home my-auto order-2 order-md-1 ">
                                         <h3 class="text-center">{{'connect_hire' | translate }}</h3>
                                         <p class="text-justify">{{'connect_hire_content' | translate }}</p>
                                    </div>
                                     <div class="col-md-6 row4_home  order-1 order-md-2 ">
                                         <img src="assets/images/find_select.png" class="img-fluid  mx-auto">
                                         
                                    </div>
             
                                 </div>
                    </div>
                    
                  </div>

            

          
      </div>
     </div>
                                 </div>
                             </div>
                            
                        
                     </div>          
                </div>
  </div>

    
 <!-- end iconrow -->

 </div>