<div class="msg_container_base">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="exampleInputEmail1"> {{'group_name' | translate}} </label>
        <input type="text" autocomplete="off" maxlength=50 [(ngModel)]="groupName" class="form-control" id="exampleInputEmail1"
          placeholder=" {{'group_name' | translate}}">
      </div>
      <div class="col-md-6 float-left">
        <button *ngIf="! this.loading" (click)="service.groupActiveTab=3"  type="submit" class="btn accept_icon">
          {{'cancel' | translate}} </button>
       
      </div>
      <div class="col-md-6 float-right">
        <button *ngIf="! this.loading" (click)="updateGroupName()" [disabled]="!groupName" type="submit" class="btn btn_alkafu">
          {{'update' | translate}} </button>
        <button *ngIf="this.loading" disabled type="submit" class="btn btn_alkafu"><i class="fa fa-spinner fa-spin"></i>
          {{'update' | translate}} </button>
      </div>
    </div>
  </div>
</div>