<!-- shadow -->
<span *ngFor="let val of attachments; let i=index;" class=" img_attach_sm img_plus    float-left1">
    <!-- {{service.url}}/download/docs.json?fileID={{val}}&token={{service.getStorage('token')}} <br> -->
  <span class="close_file1 " > <i (click)="sendMessage(i)" class="fa fa-close close_red_corner pointer " aria-hidden="true"></i></span>
  <!-- pointer fa fa-times-circle-o clr_red -->
  <img *ngIf="service.checkVideoType(fileName[i].split('.').pop(),'image')" src="{{service.url}}/download/docs.json?fileID={{val}}&token={{service.getStorage('token')}}"  class="img_attachment_plus">
  <a href="{{service.url}}/download/docs.json?fileID={{val}}&token={{service.getStorage('token')}}" target="_blank" >
   
    <!-- <i *ngIf="service.checkVideoType(fileName[i].split('.').pop(),'pdf')" title={{fileName[i]}} class="fa fa-file-pdf-o fa-2x mx-2 text-primary"
      aria-hidden="true"></i> -->
      <span *ngIf="service.checkVideoType(fileName[i].split('.').pop(),'pdf')" title={{fileName[i]}} class=" fa-2x mx-2 ">
          <img  src="assets/images/pdf.jpg"  class="img_attachment_plus">
      </span>
    <!-- <i *ngIf="service.checkVideoType(fileName[i].split('.').pop(),'doc')" title={{fileName[i]}} class=" fa fa-file-word-o  fa-2x mx-2 text-primary"
      aria-hidden="true"></i> -->
      <span *ngIf="service.checkVideoType(fileName[i].split('.').pop(),'doc')" title={{fileName[i]}} class=" fa-2x mx-2 ">
          <img  src="assets/images/word_doc.jpg"  class="img_attachment_plus">
      </span>
  </a>
</span>

