<div class="row mt-5">
  <div class="col-md-12 mt-5 mb-5">
    
<!-- <div *ngIf="invalidError" style="color:red">
  {{ invalidError.message }}
</div> -->
 
<!-- <stripe-card
  #stripeCard
  (catch) = "onStripeError($event)"
  [(invalid)] = "invalidError"
  (tokenChange) = "setStripeToken($event)"
  (sourceChange) = "setStripeSource($event)"
></stripe-card> -->
 
<!-- <button type="button" (click)="stripeCard.createToken(extraData)">createToken</button> -->

    
  </div>
</div>