<div [class]="shadowClass==1?'card no-border':'card'  ">
  <div class="card-body">
    <h5 class="text-white text-center bkgdarkblue py-2 bdr-radius"> {{'filters' | translate}} </h5>
    <p class="py-1 text-left"> <b> {{'select_filters' | translate}} </b> </p>

    <span class="text-white"></span>
    <section class="mt-3 mb-3  " >
      <h6 class="yellow_bg_text text-center"> {{(this.searchType?'job_type':'location') | translate}}</h6>
      <div  *ngIf="searchType" class="custom-control custom-radio text-left">

        <input (click)="service.jobType='';service.fetchAllJobDetailsFromApi(0)" type="radio" id="AnycategoryRadio1"
          name="customRadio" class="custom-control-input" [checked]="service.jobType==''">
        <label class="custom-control-label text-left" for="AnycategoryRadio1"> {{'alltype' | translate}} </label>
      </div>

      <div *ngIf="searchType" class="custom-control custom-radio text-left">
        <input (click)="service.jobType='urgent';service.fetchAllJobDetailsFromApi(0)" type="radio" [checked]="service.jobType=='urgent'"
          id="customRadio1" name="customRadio" class="custom-control-input">
        <label class="custom-control-label text-left" for="customRadio1"> {{'urgent' | translate}} </label>

      </div>
      <div *ngIf="searchType" class="custom-control custom-radio text-left">
        <input (click)="service.jobType='non-urgent';service.fetchAllJobDetailsFromApi(0)" type="radio" [checked]="service.jobType=='non-urgent'"
          id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label text-left" for="customRadio2"> {{ 'non_urgent' | translate}} </label>
      </div>


    </section>
    <section class="mt-3 mb-3">

      <div class="range-slider mt-3 mb-3">
        <!-- <ng-select style="border: 1px solid #656060; padding: 2px 2px 2px 8px ;" 
          placeholder="{{'country' | translate}}" [items]="service.dropdownList"
          bindLabel="country" bindValue="id" class="inputstyletop" groupBy="category" [multiple]="true" [hideSelected]="true"
          dropdownPosition="bottom" [maxSelectedItems]="3" 
          (remove)="service.stateLoader='';service.cityLoader='';this.service.employeeList=[];this.service.jobDetails = [];service.allCountryChange($event);"
           [closeOnSelect]="true" (change)="this.service.employeeList=[];this.service.jobDetails = [];service.allCountryChange($event);service.fetchAllJobDetailsFromApi(0)"
          [(ngModel)]="service.allCountryId"></ng-select> -->

        <!-- <ng-multiselect-dropdown [placeholder]="'country' | translate" [data]="service.dropdownList" [(ngModel)]="service.selectedSidebarCountry"
          (onSelect)="service.onSidebarCountrySelect($event)" (onSelectAll)="service.onSidebarCountryAllSelect($event)"
          (onDeSelect)="service.onSideBarCountryRemoved($event)" (onDeSelectAll)="service.onSidebarCountryAllRemoved($event)"
          [settings]="countrySettings">
        </ng-multiselect-dropdown> -->
      </div>
    </section>
    <section class="mt-3 mb-3">
      <div class="range-slider mt-3 mb-3">
        <ng-multiselect-dropdown [placeholder]="'state' | translate"
         [data]="service.multiState" 
         [(ngModel)]="service.selectedSidebarState"
          (onSelect)="service.onSidebarStateSelect($event)" (onDeSelect)="service.onSideBarStateRemoved($event)"
          [settings]="StateSettings">
        </ng-multiselect-dropdown>

      </div>
    </section>
    <section class="mt-3 mb-3">
      <div class="range-slider mt-3 mb-3">
        <ng-multiselect-dropdown [placeholder]="'city' | translate" [data]="service.cities" [(ngModel)]="service.selectedSidebarCity"
          (onSelect)="service.onSidebarCitySelect($event)" (onDeSelect)="service.onSideBarCityRemoved($event)"
          [settings]="citySettings">
        </ng-multiselect-dropdown>


      </div>
    </section>
    <section class="mt-3 mb-3"> 
      <h6 class="yellow_bg_text text-center">{{'category' | translate}}</h6>

      <div class="accordion2" id="accordion3">
        <div *ngFor="let val of service.searchCategory ; let i=index" class="accordion-group">
          <div class="accordion-heading text-left">
            <a style="font-size: .9rem; " class="accordion-toggle text-dark flter_text " data-toggle="collapse"
              data-parent="#accordion3" href="#{{val.id}}">{{val.name}}</a>
          </div>

          <div id="{{val.id}}" class="accordion-body in collapse" [ngClass]="{'show': val.id==service.searchCatId}"
            style="height: auto;">
            <div class="accordion-inner">
              <ul id="category" class="list-unstyled">
                <li style="font-size: 0.8rem" *ngFor="let sub of val.subCategories;let j = index">
                  <a class="colourdarkblue">
                    <input type="checkbox" id="redio{{sub.id}}" [checked]="checkSubcategory(sub.id)" (click)="service.searchSubId=sub.id;pushAndSliceFilter(val.name,val.id,sub.name,sub.id,$event)"
                      class="filter_check_example" />
                    <label for="redio{{sub.id}}"> {{sub.name}} </label>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="mt-3 mb-3">
      <h6 class="yellow_bg_text text-center">
        {{'distance_from_employers' | translate }}
      </h6>

      <div class="range-slider mt-3 mb-3">

        <ng5-slider [(value)]="service.distanceMin" [(ngModel)]="service.distanceModal" [options]="service.distanceOptions"></ng5-slider>

      </div>
    </section> -->
    <!-- ratingdiv -->
    <section class="mt-3 mb-3">
      <h6 class="yellow_bg_text text-center">{{'rating' | translate}}</h6>

      <span (click)="service.rating=5;service.fetchAllJobDetailsFromApi(0)" class="starrate_btn">
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star checkedr"></span>
        <span class="mx-1">(5)</span>
      </span>
      <br>
      <span (click)="service.rating=4;service.fetchAllJobDetailsFromApi(0)" class="starrate_btn">
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star-o  checkedr"></span>
        <span class="mx-1">(4)</span>
      </span>
      <br>
      <span (click)="service.rating=3;service.fetchAllJobDetailsFromApi(0)" class="starrate_btn">
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star-o  checkedr"></span>
        <span class="fa fa-star-o  checkedr"></span>
        <span class="mx-1">(3)</span>
      </span>
      <br>
      <span (click)="service.rating=2;service.fetchAllJobDetailsFromApi(0)" class="starrate_btn">
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star checkedr"></span>
        <span class="fa fa-star-o  checkedr"></span>
        <span class="fa fa-star-o  checkedr"></span>
        <span class="fa fa-star-o  checkedr"></span>
        <span class="mx-1">(2)</span>
      </span>
      <br>
      <span (click)="service.rating=1;service.fetchAllJobDetailsFromApi(0)" class="starrate_btn">
        <span class="fa fa-star  checkedr"> </span>
        <span class="fa fa-star-o  checkedr"></span>
        <span class="fa fa-star-o  checkedr"></span>
        <span class="fa fa-star-o  checkedr"></span>
        <span class="fa fa-star-o  checkedr"></span>
        <span class="mx-1">(1)</span>
      </span>

    </section>
    <!-- End  ratingdiv -->
  </div>
</div>