  <!-- Header with Background Image -->
     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="mapModalLabel">Map of employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               <div class="container-fluid  mt-4">                       
                  <div class="row">                           
                     <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7466309.897963724!2d44.73151378812666!3d23.972490961563214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s+companies++in+saudi+arabia!5e0!3m2!1sen!2sin!4v1527654064274" width="100%" height="460" frameborder="0" style="border:0" allowfullscreen></iframe>
                     </div>
                                    
                  </div>
               </div>

            </div>
            </div>
        </div>
      </div>

      <div class="modal fade" id="profileview" tabindex="-1" role="dialog" aria-labelledby="mapModalviewLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Detailes of employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               <div class="container-fluid  mt-4">
                         
                                <div class="row">                           

                                    <div class="col-md-12">
                                      <div class="card" >                                   
                                      <div class="card-body">
                                        <div class="row  topsubmenu1">
                                           <div class="col-md-12 ">
                                               <div class="row">
                                                   <div class="col-md-3">
                                                     <img src="assets/images/em4.png.png" class="w-100 rounded-circle mx-auto ">
                                                   </div>
                                                   <div class="col-md-9">
                                                      <h5 class=" text_blue pt-2 ">Trevor B</h5>

                                                      <h6>Web developer</h6>
                                                      <p><i class="fa fa-suitcase" aria-hidden="true"></i> 8 years</p>
                                                      <p><i class="fa fa-map-marker" aria-hidden="true"></i> Saudi Arabia - Saudi Arabia</p>
                                                       <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> MCA </p>
                                                       <p>Hourly rate -  50 {{'defaultcurrency' | translate}} </p>
                                                   </div>

                                               </div>

                                               
                                           </div>
                                          
                                           <hr>
                                         </div>
                                         <hr>
                                         <div class="row  topsubmenu1">
                                           <div class="col-md-12">
                                             <p class="text-justify">I can start working right now and I can WORK FULL TIME on your project during the entire development of your project. I am extremely experienced in iOS & Android App development, because I have been developing iOS & Android apps for 8+ years. I will make your app on a world-class quality as I have developed many Successful Apps for Android using Java over the past 6 years. </p>
                                              <hr>
                                           </div>
                                           <div class="col-md-12">
                                              <p>My works :</p>
                                              <div class="row">
                                              
                                                 <div class="col-md-6">
                                                        <video width="100%" height="240" controls>
                                                                <source src="movie.mp4" type="video/mp4">
                                                                <source src="movie.ogg" type="video/ogg">
                                                                Your browser does not support the video tag.
                                                       </video>
                                                 </div>
                                                 <div class="col-md-6">
                                                        <img src="assets/images/portf.jpg" alt="" class="imgportgall">
                                                 </div>
                                                 <div class="col-md-6">
                                                        <img src="assets/images/portf.jpg" alt="" class="imgportgall">
                                                 </div>
                                                 <div class="col-md-6">
                                                        <img src="assets/images/portf.jpg" alt="" class="imgportgall">
                                                 </div>
                                             </div>
                                           </div>  
                                           
                                           
                                        </div>
                                         <hr>
                                         <div class="row  topsubmenu1">
                                          
                                           <div class="col-md-12">
                                              <p>Skill set :</p>
                                              <div class="text-left">
                                               <p class="small d-inline p-1 mb-1 mt-1 bg-secondary text-white rounded">Php</p>
                                             <p class="small d-inline p-1 mb-1 mt-1 bg-secondary text-white rounded">Bootstrap</p>
                                             <p class="small d-inline p-1 mb-1 mt-1 bg-secondary text-white rounded">jQuery</p>
                                             <p class="small d-inline p-1 mb-1 mt-1 bg-secondary text-white rounded">Mysql</p>
                                             </div>
                                           </div>     
                                        </div>
                                        <hr>
                                        <div class="row  topsubmenu1">
                                           <div class="col-md-12">
                                              <p>Industry Type : IT <br>Functional Area : Software</p>
                                           </div>
                                        </div>
                                        <hr>
                                         <div class="row  topsubmenu1">
                                          
                                          
                                          
                                            <div class="col-md-4">
                                             <p><i class="fa fa-money" aria-hidden="true"></i> Hourly fair : 50 {{'defaultcurrency' | translate}}.</p>
                                           </div>
                                            <div class="col-md-4">
                                             <p><i class="fa fa-user" aria-hidden="true"></i> Gender : Male</p>
                                           </div>
                                            <div class="col-md-4">
                                             <p><i class="fa fa-calendar-o" aria-hidden="true"></i> Age : 28</p>
                                           </div>
                                            <div class="col-md-4">
                                             <p><i class="fa fa-long-arrow-up" aria-hidden="true"></i> Height :175cm</p>
                                           </div>
                                            <div class="col-md-4">
                                             <p><i class="fa fa-arrows-h" aria-hidden="true"></i> Weight :70kg</p>
                                           </div>
                                           <!--  <div class="col-md-4">
                                             <p><i class="fa fa-users" aria-hidden="true"></i> No. of workers : 10</p>
                                           </div> -->
                                        </div>
                                     
                                      </div>
                                    </div>
                                    </div>

                                </div>

                        </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="container  mt100">
        
      </div>
     <div  class="w-100   collapse" id="demo9">
        
         <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d114412.95565288141!2d49.99733946754022!3d26.345764024905986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scompnaies+in+damam!5e0!3m2!1sen!2sin!4v1528806841186" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
         
         
     </div>
     
     <div class="container-fluid ">
     <!-- iconrow -->
      
     <div class="row">

                  <div class="col-md-12 mainheading text-center text-md-left mb-4 mx-auto ">  

                    <div class="page_w_90  mt-4">
                      <div class="row">                           
                                 <div class="col-md-12 mx-auto ">
                                      <span class="ISHide btn_alkafu mt-1 mr-1" data-toggle="collapse"  data-target="#demo9" onclick="toggle(this)"><a href="#" class="text-white" >Show Map</a></span>
                                      <h4 class="text-center b_shadow bg-white py-2">Applicants apply for part-time jobs.</h4>
                                      <!-- <h5 class="text-left">Hello </h5>
                                      <h6>Enter specification of part time staff.</h6> -->
                                    <hr>
                                  </div>

                            <div class="col-md-3">
                                 <div class="card" >                                   
                                    <div class="card-body">
                                      <span class="text-white"></span> 
                                      <section class="mt-3 mb-3">  
                                         <h6 class="yellow_bg_text text-center">Category</h6>                            
                                         <div class="accordion2" id="accordion3">
                                          <div class="accordion-group ">
                                            <div class="accordion-heading ">
                                              <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">
                                                Legal 
                                              </a>
                                            </div>
                                            <div id="collapse4" class="accordion-body in collapse" style="height: auto; ">
                                              <div class="accordion-inner">

                                                  <ul id="category" class="list-unstyled">
                                                    <li >
                                                       <a href="" class="colourdarkblue" >
                                                          <input type="checkbox" class="filter_check_example" /> All Legal
                                                       </a> 
                                                    </li>
                                                     <li >
                                                      <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Paralegal Services
                                                      </a> 
                                                    </li>
                                                     <li >
                                                       <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Family Law
                                                      </a> 
                                                     </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                        <input type="checkbox" class="filter_check_example" />Contract Law
                                                        </a> 
                                                      </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Corporate Law
                                                       </a> 
                                                      </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" />Criminal Law
                                                        </a> 
                                                      </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" />Intellectual Property Law
                                                        </a> 
                                                        </li>
                                                        <li >
                                                          <a href="" class="colourdarkblue" >
                                                           <input type="checkbox" class="filter_check_example" />Other – Legal
                                                          </a> 
                                                      </li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="accordion-group">
                                              <div class="accordion-heading">
                                                <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse5">
                                                  Web, Mobile & Software Dev.
                                                </a>
                                              </div>
                                              <div id="collapse5" class="accordion-body collapse" style="height: 0px; ">
                                                <div class="accordion-inner">
                                                  <ul id="category" class="list-unstyled">
                                                    <li >
                                                       <a href="" class="colourdarkblue" >
                                                          <input type="checkbox" class="filter_check_example" /> All Legal
                                                       </a> 
                                                    </li>
                                                     <li >
                                                      <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Paralegal Services
                                                      </a> 
                                                    </li>
                                                     <li >
                                                       <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Family Law
                                                      </a> 
                                                     </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                        <input type="checkbox" class="filter_check_example" />Contract Law
                                                        </a> 
                                                      </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Corporate Law
                                                       </a> 
                                                      </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" />Criminal Law
                                                        </a> 
                                                      </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" />Intellectual Property Law
                                                        </a> 
                                                        </li>
                                                        <li >
                                                          <a href="" class="colourdarkblue" >
                                                           <input type="checkbox" class="filter_check_example" />Other – Legal
                                                          </a> 
                                                      </li>
                                                </ul>
                                                </div>
                                              </div>
                                          </div>
                                          <div class="accordion-group">
                                                <div class="accordion-heading">
                                                  <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse6">
                                                    IT & Networking:
                                                  </a>
                                                </div>
                                                <div id="collapse6" class="accordion-body collapse " style="height: 0px; ">
                                                  <div class="accordion-inner">
                                                    <ul id="category" class="list-unstyled">
                                                    <li >
                                                       <a href="" class="colourdarkblue" >
                                                          <input type="checkbox" class="filter_check_example" /> All Legal
                                                       </a> 
                                                    </li>
                                                     <li >
                                                      <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Paralegal Services
                                                      </a> 
                                                    </li>
                                                     <li >
                                                       <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Family Law
                                                      </a> 
                                                     </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                        <input type="checkbox" class="filter_check_example" />Contract Law
                                                        </a> 
                                                      </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Corporate Law
                                                       </a> 
                                                      </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" />Criminal Law
                                                        </a> 
                                                      </li>
                                                      <li >
                                                        <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" />Intellectual Property Law
                                                        </a> 
                                                        </li>
                                                        <li >
                                                          <a href="" class="colourdarkblue" >
                                                           <input type="checkbox" class="filter_check_example" />Other – Legal
                                                          </a> 
                                                      </li>
                                                </ul>
                                                  </div>
                                                </div>
                                          </div>
                                          <div class="accordion-group ">
                                            <div class="accordion-heading ">
                                              <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">
                                                Legal 
                                              </a>
                                            </div>
                                            <div id="collapse4" class="accordion-body in collapse" style="height: auto; ">
                                              <div class="accordion-inner">

                                                  <ul id="category" class="list-unstyled">
                                                    <li >
                                                       <a href="" class="colourdarkblue" >
                                                          <input type="checkbox" class="filter_check_example" /> All Legal
                                                       </a> 
                                                    </li>
                                                     <li >
                                                      <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Paralegal Services
                                                      </a> 
                                                    </li>
                                                     <li >
                                                       <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Family Law
                                                      </a> 
                                                     </li>
                                                     
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="accordion-group ">
                                            <div class="accordion-heading ">
                                              <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">
                                                Data Science & Analytics 
                                              </a>
                                            </div>
                                            <div id="collapse4" class="accordion-body in collapse" style="height: auto; ">
                                              <div class="accordion-inner">

                                                  <ul id="category" class="list-unstyled">
                                                    <li >
                                                       <a href="" class="colourdarkblue" >
                                                          <input type="checkbox" class="filter_check_example" /> All Legal
                                                       </a> 
                                                    </li>
                                                     <li >
                                                      <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Paralegal Services
                                                      </a> 
                                                    </li>
                                                     <li >
                                                       <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Family Law
                                                      </a> 
                                                     </li>
                                                     
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="accordion-group ">
                                            <div class="accordion-heading ">
                                              <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">
                                                Engineering & Architecture 
                                              </a>
                                            </div>
                                            <div id="collapse4" class="accordion-body in collapse" style="height: auto; ">
                                              <div class="accordion-inner">

                                                  <ul id="category" class="list-unstyled">
                                                    <li >
                                                       <a href="" class="colourdarkblue" >
                                                          <input type="checkbox" class="filter_check_example" /> All Legal
                                                       </a> 
                                                    </li>
                                                     <li >
                                                      <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Paralegal Services
                                                      </a> 
                                                    </li>
                                                     <li >
                                                       <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Family Law
                                                      </a> 
                                                     </li>
                                                     
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="accordion-group ">
                                            <div class="accordion-heading ">
                                              <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">
                                                Design & Creative 
                                              </a>
                                            </div>
                                            <div id="collapse4" class="accordion-body in collapse" style="height: auto; ">
                                              <div class="accordion-inner">

                                                  <ul id="category" class="list-unstyled">
                                                    <li >
                                                       <a href="" class="colourdarkblue" >
                                                          <input type="checkbox" class="filter_check_example" /> All Legal
                                                       </a> 
                                                    </li>
                                                     <li >
                                                      <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Paralegal Services
                                                      </a> 
                                                    </li>
                                                     <li >
                                                       <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Family Law
                                                      </a> 
                                                     </li>
                                                     
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="accordion-group ">
                                            <div class="accordion-heading ">
                                              <a class="accordion-toggle text-dark flter_text" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">
                                                Human Medicine (Health Specialties 
                                              </a>
                                            </div>
                                            <div id="collapse4" class="accordion-body in collapse" style="height: auto; ">
                                              <div class="accordion-inner">

                                                  <ul id="category" class="list-unstyled">
                                                    <li >
                                                       <a href="" class="colourdarkblue" >
                                                          <input type="checkbox" class="filter_check_example" /> All Legal
                                                       </a> 
                                                    </li>
                                                     <li >
                                                      <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Paralegal Services
                                                      </a> 
                                                    </li>
                                                     <li >
                                                       <a href="" class="colourdarkblue" >
                                                         <input type="checkbox" class="filter_check_example" /> Family Law
                                                      </a> 
                                                     </li>
                                                     
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          </div>
                                      </section> 
                                      <section class="mt-3 mb-3">
                                        <h6 class="yellow_bg_text text-center">Distance range from employee.</h6> 
                                        <div class="range-slider mt-3 mb-3 ">
                                          <ion-range-slider #sliderElement
                                          type="double"
                                          [min]="service.rangeSliderMin"
                                          [max]="service.rangeSliderMax"
                                          [from]="service.rangeSliderFrom"
                                          [from_min]="service.rangeSliderFrom_min"
                                          [from_max]="service.rangeSliderFrom_max"
                                          [from_shadow]="service.rangeSliderFrom_shadow"
                                          [to]="service.rangeSliderTo"
                                          [to_min]="service.rangeSliderTo_min"
                                          [to_max]="service.rangeSliderTo_max"
                                          [to_shadow]="service.rangeSliderTo_shadow"
                                          [grid]="service.rangeSliderGrid"
                                          [grid_num]="service.rangeSliderGrid_num"
                                          [prefix]="service.rangeSliderPrefix"
                                          [postfix]="service.rangeSliderPostfix"
                                          class="range-slider__range"
                                          (onUpdate)="service.distanceRangeSlider($event)"
                                          (onChange)="service.distanceRangeSlider($event)"
                                          (onFinish)="service.distanceRangeSlider($event)"
                                          decorate_both="false"
                                        ></ion-range-slider>
                                        </div>
                                      </section>
                                      <section class="mt-3 mb-3">
                                        <h6 class="yellow_bg_text text-center">Rating.</h6> 
                                           <!-- <input type="checkbox" class="filter_check_rating" /> 4 <span class="fa fa-star checkedr"></span> & above <br>
                                          <input type="checkbox" class="filter_check_rating" />  3 <span class="fa fa-star checkedr"> </span> & above <br>
                                           <input type="checkbox" class="filter_check_rating" /> 2 <span class="fa fa-star checkedr"> </span> & above <br>
                                           <input type="checkbox" class="filter_check_rating" /> 1 <span class="fa fa-star"> </span> & above                     --> 
                                          <span class="fa fa-star checkedr"></span><span class="fa fa-star checkedr"></span><span class="fa fa-star checkedr"></span><span class="fa fa-star checkedr"></span><span class="fa fa-star checkedr"></span> <br>
                                           <span class="fa fa-star checkedr"> </span><span class="fa fa-star checkedr"> </span><span class="fa fa-star checkedr"> </span><span class="fa fa-star checkedr"> </span> <br>
                                           <span class="fa fa-star checkedr"> </span><span class="fa fa-star checkedr"> </span><span class="fa fa-star checkedr"> </span>  <br>
                                           <span class="fa fa-star checkedr"> </span><span class="fa fa-star checkedr"> </span><br>
                                           <span class="fa fa-star"> </span>     
                                      </section>    
                                      <section class="mt-3 mb-3">
                                        <h6 class="yellow_bg_text text-center">Countries.</h6> 
                                         <div class="row " >
                                          <div class="col-md-12 ">
                                            <ng-select 
                                            placeholder="{{'country' | translate }}"
                                            (remove)="service.onCountryItemDeselect()"
                                            (clear)="service.onCountryItemDeselect()"
                                            [items]="service.country "
                                            bindLabel="country"
                                            bindValue="id"
                                            class="ng_select form-control"
                                            [ngClass]=" service.initalLoader"
                                            formControlName="es_country"
                                            [(ngModel)]="service.prcountry"
                                            (change)="service.onCountryItemSelect($event)"
                                          >
                                         </ng-select>
                                          </div>
                                        </div>
                                      </section>    
                                       <section class="mt-3 mb-3">
                                        <h6 class="yellow_bg_text text-center">{{'state' | translate }}</h6> 
                                         <div class="row " >
                                          <div class="col-md-12 ">
                                            <ng-select 
                                            placeholder="{{'state' | translate }}"
                                            (remove)="service.onStateItemDeselect()"
                                            (clear)="service.onStateItemDeselect()"
                                            [items]="service.state "
                                            bindLabel="state"
                                            bindValue="id"
                                            class="ng_select form-control"
                                            [ngClass]=" service.stateLoader"
                                            formControlName="es_state"
                                            [(ngModel)]="service.prstate"
                                            (change)="service.onStateItemSelect($event)"
                                          >
                                         </ng-select>
                                          </div>
                                        </div>
                                      </section>   
                                      <section class="mt-3 mb-3">
                                        <h6 class="yellow_bg_text text-center">{{'city' | translate }}</h6> 
                                         <div class="row " >
                                          <div class="col-md-12 ">
                                            <ng-select 
                                            placeholder="{{'city' | translate }}"
                                            (remove)="service.onCityItemDeselect()"
                                            (clear)="service.onCityItemDeselect()"
                                            [items]="service.cities "
                                            bindLabel="city"
                                            bindValue="id"
                                            class="ng_select form-control"
                                            [ngClass]=" service.cityLoader"
                                            formControlName="es_city"
                                            [(ngModel)]="service.prcity"
                                            (change)="service.onCityItemSelect($event)"
                                          >
                                         </ng-select>
                                          </div>
                                        </div>
                                      </section>                                                          
                                    </div>
                                  </div>
                            </div>
                                <div class="col-md-9">
                                      <div class="card" >                                   
                                      <div class="card-body">
                                        <div class="row bg-medium-blue topsubmenu1 mb-3">
                                           <div class="col-md-6">
                                                <h5 class="card-title  text-white pt-2 px-2">Job title</h5>
                                           </div>
                                           <!-- <div class="col-md-3 ml-auto pt-2">
                                              <span class="text-white">Sort by:</span> 
                                              <select onchange=""  class="selectpicker" data-width="fit"  >
                                                
                                                   <option  data-content=' Rating'>
                                                   <p  class="text-primary" >Rating</p>  
                                                  </option>
                                                   <option   data-content='Category'>
                                                      <p  class="text-primary"> Category </p>
                                                  </option>
                                                   <option  data-content='Location'> 
                                                      <p  class="text-primary">  Location </p>
                                                   </option>
                                              </select>
                                           </div> -->
                                            
                                        </div>
                                        <div  *ngFor="let i of Arr(n)">
                                        <div  class="row px-3">
                                           <div class="col-md-2 pb-2 pt-2 "><img src="assets/images/em2.png" class="w-100 rounded-circle mx-auto ">
                                           </div>
                                           <div class="col-md-6">
                                            <ul class="view_applicantdetails">
                                                
                                                          <li><h5 class="text_blue">Trevor B.</h5> </li>
                                                          <li><h6>Senior Android, iOS, Web Developer</h6></li>
                                                          <li><span class="fa fa-star checkedr"></span>
                                              <span class="fa fa-star checkedr"></span>
                                              <span class="fa fa-star checkedr"></span>
                                              <span class="fa fa-star"></span>
                                              <span class="fa fa-star"></span></li>
                                                          <li><i class="fa fa-map-marker" aria-hidden="true"></i> Saudi Arabia </li>
                                                          <li><b><p>skill set -</p></b> <span class="text-left">
                                                              <p class="small d-inline p-1 m-1  bg-secondary text-white rounded">Php</p>
                                                              <p class="small d-inline p-1 m-1 bg-secondary text-white rounded">Bootstrap</p>
                                                              <p class="small d-inline p-1 m-1 bg-secondary text-white rounded">jQuery</p>
                                                              <p class="small d-inline p-1 m-1  bg-secondary text-white rounded">Mysql</p>
                                             </span></li>
                                                       </ul>
                                              <div class="row">
                                                 <div class="col-md-6">
                                                      
                                                 </div>
                                                 <div class="col-md-6">
                                                      
                                                 </div>
                                              </div>
                                           </div>
                                           <div class="col-md-3">
                                            <!-- <button class="accept_icon w-100 my-2"><i class="fa fa-check " aria-hidden="true"></i> Accept</button> -->
                                           
                                             <button class="accept_icon w-100 my-2"  data-toggle="modal" data-target="#profileview"><i class="fa fa-eye" aria-hidden="true"></i> View Profile</button>
                                             <button class="delete_icon w-100"  data-toggle="modal" data-target="#exampleModal"><i class="fa fa-map-marker" aria-hidden="true"></i> View map</button>
                                            <!-- <button class="delete_icon w-100"><i class="fa fa-times " aria-hidden="true"></i> Reject</button> -->
                                            <button class="accept_icon w-100 my-2 btn_alkafu" routerLink="/view_employee"><i class="fa fa-check " aria-hidden="true" ></i> View more</button>


                                           </div>
                                           
                                        </div>

                                         <hr>
                                         </div>
                                                                   
                                      </div>
                                      </div>
                                </div>
                             </div>
                        </div>   
            </div>
         </div>
           <!-- end iconrow -->
      </div>
      <!-- <div class="container-fluid">
      <hr>
       </div> -->