/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~ng-snotify/styles/material.css";
/* @import "~@ng-select/ng-select/themes/default.theme.css"; */
agm-map {
    height: 300px;
  }
  .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
    align-self: flex-end;
    bottom: 0px !important;
}
