<!-- Header with Background Image -->
<div class="loginheader">
  <!-- forgot password modal -->
  <div
    class="modal fade"
    id="modal_forgot_password"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-medium-blue">
           <div class="container-fluid">
             <div class="row">
               <div class="col-9">
                  <h6 class="text-white text-left">{{ "forgot_pwd" | translate }}</h6>
               </div>
               <div class="col-3">

                  <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>

               </div>
             </div>
           </div>



        
        
        </div>

        <div class="modal-body">
          <form [formGroup]="forgotForm" role="form" method="POST">
            <div class="form-group">
             <h6 class="text-left">  <label for="exampleInputEmail1">{{
              "enterEmail" | translate
            }}</label> </h6>
              <input
                type="email"
                [(ngModel)]="email"
                formControlName="email"
                maxlength="50"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="{{ 'enterEmail' | translate }}"
              />
              <small id="emailHelp" class="form-text text-muted text-left">{{
                "nevershareEmail" | translate
              }}</small>
            </div>
          </form>
          <div class="col-md-12 text-center">
            <p class="danger">{{forgot_msg}}</p>
          </div>
        </div>

        <div class="modal-footer">

          <button
           
            type="button"
            (click)="forgotPassword()"
            class="btn btn_alkafu"
          >
            {{ "submit" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal -->
  <!-- Carousel container -->
  <div class="container  d-md-flex h-100 ">
    <div
      class="row w-sm-100 align-self-center bkgdarkblue_transparent my-auto "
    >
      <div class="col-md-6 mx-auto align-self-center col-12 ">
        <h2 class="text-white text-center my-4">
          {{ "login_uppartime" | translate }}
        </h2>
      </div>
      <div
        class="col-md-6 col-12 col-sm-6 mx-auto bg-white mainheading my-auto h-100"
      >
        <div class="container  mt-4">
          <form
            class="form-horizontal py-2 my-3"
            [formGroup]="loginForm"
            role="form"
            method="POST"
            (ngSubmit)="login()"
          >
            <div class="row"></div>
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="form-group has-danger">
                  <label class="sr-only" for="username">{{
                    "user_name" | translate
                  }}</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon fa_reg" style="width: 2.6rem">
                      <i class="fa fa-user"></i>
                    </div>
                    <input
                      type="text"
                      name="username"
                      class="form-control"
                      value="{{ username }}"
                      formControlName="username"
                      id="username"
                      placeholder="{{ 'user_name_mob' | translate }}"
                      required
                      autofocus
                    />
                  </div>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"></div>
                    <span
                      id="danger"
                      *ngIf="
                        !loginForm.get('username').valid &&
                        loginForm.get('username').touched
                      "
                      class="help-block danger"
                    >
                      {{ validationMsg.inavlidUserName }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="form-group">
                  <label class="sr-only" for="password">{{
                    "password" | translate
                  }}</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon fa_reg" style="width: 2.6rem">
                      <i class="fa fa-key"></i>
                    </div>
                    <input
                      type="password"
                      formControlName="password"
                      value="{{ pwd }}"
                      name="password"
                      class="form-control"
                      id="password"
                      placeholder="{{ 'password' | translate }}"
                      required
                    />
                  </div>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"></div>
                    <span
                      id="danger"
                      *ngIf="
                        !loginForm.get('password').valid &&
                        loginForm.get('password').touched
                      "
                      class="help-block danger"
                      >{{ validationMsg.required }}</span
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-control-feedback">
                  <span class="text-danger align-middle"> </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 field-label-responsive">
                <label for="password"></label>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label class="radio-inline">
                    <input
                      type="radio"
                      name="registerType"
                      (click)="service.whoesLogin = 1"
                      [checked]="service.whoesLogin == 1"
                      formControlName="registerType"
                      value="employee"
                    />
                    {{ "employee" | translate }}
                  </label>
                  &nbsp;&nbsp;
                  <label class="radio-inline">
                    <input
                      type="radio"
                      name="registerType"
                      (click)="service.whoesLogin = 0"
                      [checked]="service.whoesLogin == 0"
                      formControlName="registerType"
                      value="employer"
                    />
                    {{ "employer" | translate }}
                  </label>
                  <span
                    id="danger"
                    *ngIf="
                      !loginForm.get('registerType').valid &&
                      loginForm.get('registerType').touched
                    "
                    class="help-block danger"
                  >
                    {{ validationMsg.radioInvalid }}
                  </span>
                </div>
              </div>
            </div>
            <div class="row" style="padding-top: 1rem">
              <div class="col-md-3"></div>
              <div class="col-md-11">
                <div class="row">
                  <div *ngIf="message" class="col-md-12 text-center alert alert-danger" role="alert">
                    <p class="danger">{{ message }}</p>
                  </div>
                  <div class="col-md-12">
           
                    <button
                      type="submit"
                      id="submitbtn"
                      [disabled]="isBtnDisabled()"
                      class="btn btn-success text-right float-right"
                    >
                      <i class="fa fa-sign-in"></i> {{ "login" | translate }}
                    </button>
                  </div>
                  <div class="col-md-12">
                    <div class="float-right">
                      <p class="text-right w-100 my-2">
                        <a
                          class="btn btn-link text-right "
                          (click)="email = null"
                          data-toggle="modal"
                          data-target="#modal_forgot_password"
                          style="margin-top: 5px;
                                                     padding-left: 0px;
                                                     color: #001c4e;"
                        >
                          {{ "forgot_password" | translate }}
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--  endbanner -->
</div>

<div class="container">
  <!-- iconrow -->
  <div class="row">
    <div class="col-md-12 mainheading text-center text-md-left mt-4 mb-4 ">
      <div class="container">
        <div class="row borderbox mainheading">
          <div class="col-md-3  py-4">
            <h5 class="text-center">{{ "employee" | translate }}</h5>
            <h3 class="text-center">
              10000
            </h3>
          </div>
          <div class="col-md-3 py-4">
            <h5 class="text-center ">{{ "employer" | translate }}</h5>
            <h3 class="text-center">
              500
            </h3>
          </div>
          <div class="col-md-3 py-4">
            <h5 class="text-center">{{ "companies" | translate }}</h5>
            <h3 class="text-center">
              500
            </h3>
          </div>
          <div class="col-md-3 boxblueclr py-4">
            <h3 class="text-center">
              1000s
            </h3>
            <h5 class="text-center">{{ "of_jobs" | translate }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end iconrow -->
