<div class="row">
  <div class="col-md-12">
    <agm-map [latitude]="slat" [longitude]="slan" [zoom]="zoom">
      <agm-direction
        [origin]="{ lat: this.slat, lng: slan }"
        [destination]="{ lat: dlat, lng: dlan }"
      >
      </agm-direction>
    </agm-map>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <button
      *ngIf="navigationStatus == 0"
      (click)="startNavigation('startNavigation')"
      class="btn btn_alkafu  my-2"
    >
      <i class="fa fa-map" aria-hidden="true"></i>
      {{ "startnavigation" | translate }}
    </button>
    <button
      *ngIf="navigationStatus == 1"
      (click)="startNavigation('arrived')"
      class="btn btn_alkafu  my-2"
    >
      <i class="fa fa-map" aria-hidden="true"></i>
      {{ "arrived" | translate }}
    </button>
  </div>
</div>
