<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{'details' | translate}}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <div class="row">
      <div class="col-md-4 text-left">
        <label>{{ modalData?.event['actionName']}} &nbsp; {{'title' | translate}}</label>
      </div>
      <div class="col-md-8 text-left">
        <p>{{ modalData?.event['actionTitle']}}</p>
      </div>

      <div class="col-md-4 text-left">
        <label>{{ modalData?.event['actionName']}}&nbsp;{{'comment' | translate}}</label>
      </div>
      <div class="col-md-8 text-left">
        <p>{{ modalData?.event['actionComment']}}</p>
      </div>

      <div class="col-md-4 text-left">
        <label>{{ modalData?.event['actionName']}}&nbsp;{{'on' | translate}}</label>
      </div>
      <div class="col-md-8 text-left">
        <p>{{ modalData?.event['actionTime'] | date :'dd MMM yyyy hh:mm a'}}</p>
      </div>

      <div class="col-md-4 text-left">
        <label>{{ modalData?.event['actionName']}}&nbsp;{{'by' | translate}}</label>
      </div>
      <div class="col-md-8 text-left">
        <p>{{ modalData?.event['actionBy']}}</p>
      </div>
    </div>
      <div class="row" *ngIf="modalData?.event['nextAction']">
        <div class="col-md-4 text-left">
          <label>{{ modalData?.event['nextAction']}} &nbsp; {{'title' | translate}}</label>
        </div>
        <div class="col-md-8 text-left">
          <p>{{ modalData?.event['nextActionTitle']}}</p>
        </div>

        <div class="col-md-4 text-left">
          <label>{{ modalData?.event['nextAction']}}&nbsp;{{'comment' | translate}}</label>
        </div>
        <div class="col-md-8 text-left">
          <p>{{ modalData?.event['nextActionComment']}}</p>
        </div>
        <div class="col-md-4 text-left">
          <label>{{ modalData?.event['nextAction']}}&nbsp;{{'on'| translate}}</label>
        </div>
        <div class="col-md-8 text-left">
          <p>{{ modalData?.event['nextActionTime'] | date :'dd MMM yyyy hh:mm a'}}</p>
        </div>

        <div class="col-md-4 text-left">
          <label>{{ modalData?.event['nextAction']}} &nbsp; {{'by'| translate}}</label>
        </div>
        <div class="col-md-8 text-left">
          <p>{{ modalData?.event['nextActionBy']}}</p>
        </div>

        <div class="col-md-4 text-left">
          <label>{{'duration' | translate}}</label>
        </div>
        <div class="col-md-8 text-left">
          <p>{{ modalData?.event['timeDifference']}}</p>
        </div>
      </div>

   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">{{'Ok' | translate}}</button>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        {{'previous' | translate}}
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        {{'today' | translate}}
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        {{'next' | translate}}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ (viewDate) | calendarDate:(view + 'ViewTitle'):service.getStorage('language')}}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
        {{'month' | translate}}
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
        {{'week' | translate}}
      </div>
      <!-- <div
          class="btn btn-primary"
          (click)="view = CalendarView.Day"
          [class.active]="view === CalendarView.Day">
          Day
        </div> -->
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <!-- <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view> -->
</div>