<!-- {{attachments | json}} <br> -->
<div class="modal fade" id="{{fileId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalImage"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="images" class="modal-body">
        <img [src]="images">
      </div>
      <div class="modal-footer">
        <a href="{{images}}" target="_blank" (click)="hideModal()">
          <button type="button" class="btn btn_alkafu">
            <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
            {{'download' | translate}}
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<span *ngFor="let val of attachments ; let i=index" class="">

  <img *ngIf="service.checkVideoType(val.seedName.split('.').pop(),'image')" data-toggle="modal"
   
    (click)="showModal(val.fileId);images=service.url+'/download/docs.json?fileID='+val.fileId+'&token='+service.getStorage('token');
    "
    src="{{service.url}}/download/docs.json?fileID={{val.fileId}}&token={{service.getStorage('token')}}"
    class="pointer attach_img_size img_attachment_left">
  <a href="{{service.url}}/download/docs.json?fileID={{val.fileId}}&token={{service.getStorage('token')}}"
    target="_blank">

    <img src="assets/images/attachmentpdf.png" *ngIf="service.checkVideoType(val.seedName.split('.').pop(),'pdf')"
      title="{{val.seedName}}" aria-hidden="true" class="pointer attach_img_size img_attachment_left">
    <img src="assets/images/attachmentdoc.png" *ngIf="service.checkVideoType(val.seedName.split('.').pop(),'doc')"
      title="{{val.seedName}}" aria-hidden="true" class="pointer attach_img_size img_attachment_left">


  </a>
</span>

<!-- {{images}} -->