<span >
  <img style="width:30px" *ngIf="rowData.mobileVerify=='true'" src="assets/images/mobtick.png">

  <img style="width:30px"  *ngIf="rowData.mobileVerify=='false'" src="assets/images/mobcros.png">

</span>
<span >
 &nbsp;
 <img  style="width:30px"  *ngIf="rowData.emailVerify=='true'" src="assets/images/emailtick.png">

 <img style="width:30px"  *ngIf="rowData.emailVerify=='false'" src="assets/images/emailcros.png">
</span>
<span >
  &nbsp;
  <img  style="width:30px"  *ngIf="rowData.userVerify=='true'" src="assets/images/user_check.png">
 
  <img style="width:30px"  *ngIf="rowData.userVerify=='false'" src="assets/images/user_cros.png">
 </span>
