<div class="side-one">
  <div class="row heading pb-2">

    <div class="col-md-12 mx-auto ">
      <div class="search-container ml-3">
        <form novalidate="" class="ng-untouched ng-pristine ng-valid w-100"><input style="width: 75%" [(ngModel)]="searchText"
            name="search" placeholder="{{'search' |  translate}}" type="text"><button style="width: 15%;" type="button"><i class="fa fa-search"></i></button></form>
      </div>

    </div>


  </div>
  <div class="row ">
      <div *ngIf="chatService.recentChat.length==0 " class=" col-md-12 text-center my-3">
    
          <h5 class=" text-center text_blue">{{'norecentchat' | translate}}</h5>
     <p>
      {{'clickonchat' | translate}}
     </p>
      
    </div>
    <!-- <div *ngIf="chatService.recentContactLoader" class="col-md-2 col-3 mx-auto my-auto"><img class="img-fluid" src="assets/images/loaderinput.gif"></div> -->

    <div class="col-sm-12 nav nav-tabs" *ngFor="let val of chatService.recentChat |  filter : searchText;let i=index"  role="tablist">
      <div (click)="val.chatReadStatus=1;
      service.messageRead(val.chatSessionId);
      chatService.historyPageNo=1;
      chatService.proposalId=val.proposalId;
      chatService.getChatHistory(val.targetUserId,val.proposalId);
      chatService.contactName=val.createdUserName;
      chatService.contactProfileImage=val.profileImage"
      data-toggle="tab"
      href="#newappsn"
      role="tab"
        class="row sideBar-body w-100 mx-auto ">
        <div class="col-sm-3 col-3 sideBar-avatar my-auto">
          <div class="avatar-icon">
            <img *ngIf="val.profileImage=='default' || !val.profileImage" src="{{service.prfImgTemp}}">
            <img *ngIf="val.profileImage!='default' && val.profileImage" src="{{service.url}}/download/profile.json?fileID={{val.profileImage}}&token={{service.getStorage('token')}}">
          </div>
        </div>
        <div class="col-sm-9 col-9 sideBar-main">
          <div class="row">
           
            <div class="col-sm-9 col-xs-8 sideBar-name">
              <span class="name-meta">{{service.transform(val.createdUserName)}}
              </span><br>
              <p *ngIf="val.fileName==''"> {{ (val.message.length>10)? (val.message | slice:0:10)+'..':(val.message)
                }}</p>
                <p *ngIf="val.fileName!=''"> {{ (val.fileName.length>10)? (val.fileName | slice:0:10)+'..':(val.fileName)
                }}</p> 
            </div>
            <div *ngIf="val.chatReadStatus==0 && val.createdUserId!=this.service.getStorage('userIdentifier')" class="col-sm-3 col-3 text-center sideBar-time">
              <span style="top:0;right:0" class="dynamic-badge1">
               <small>{{'new' | translate}}</small>
              </span>
             
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>