<div class="page_w_90  mt-4">
  <div class="row">
    <div (click)="gotoMyProfile()" class="col-md-1 col-sm-2 col-4 my-auto pointer px-auto">

      <img class="propichome  w-100 rounded-circle mx-auto" src="{{service.prfImg}}">

    </div>
    <div (click)="gotoMyProfile()" class="col-md-6  col-sm-10 col-8 my-auto pointer">
      <h3 class="txt_ash"> {{'welcome_back' | translate}},&nbsp;{{service.transform(service.userName) }} </h3>
      <h6 class="txt_ash_light"> {{service.fulldateFormater(today )}}</h6>

    </div>
    <!-- <div class="col-md-1  my-auto">
      <div class="bkg_rank text-center mx-auto">
        <i class="fa fa-star text-white rank_icon_gold text-center" aria-hidden="true"></i>
      </div>
      <p><small class="txt_ash text-center" style="font-size: 10px"> Bronze level</small></p>


    </div>
    <div class="col-md-1  my-auto">
      <div class="bkg_rank text-center mx-auto">
        <i class="fa fa-star text-white rank_icon_silver text-center" aria-hidden="true"></i>
      </div>
      <p><small class="txt_ash text-center" style="font-size: 10px"> Silver level</small></p>


    </div> -->

    <div *ngIf="service.runningContract.length!=0" class="col-md-3 ml-auto my-auto ">
      <h6 *ngIf="service.runningContract.length!=0 && service.runningContract[0].lastAction=='START'|| 
      service.runningContract[0].lastAction=='RESUME'"
        class="text-center txt_ash_light"> {{'youhaveXcontractrunning' | translate:params}}  </h6>
      <h3 *ngIf="service.runningContract" (click)="gotoTimeLine()" class="text-center txt_ash pointer">
        <p *ngIf="service.runningContract.length==1" class="mt-0 text-center">

          <cd-timer *ngIf="service.headerContractDetails[0].lastAction=='START'|| 
          service.headerContractDetails[0].lastAction=='RESUME'"
            [startTime]="service.headerContractTime" maxTimeUnit="hour" format="hms">
            00:00:00</cd-timer>

          <span *ngIf="service.headerContractDetails[0]=='default'">{{service.tempTaskTimmer}}</span>
          <span *ngIf="service.headerContractDetails[0]=='PAUSE' || service.headerContractDetails[0]=='STOP'">{{this.service.val.totalTime}}</span>
        </p>
      </h3>

    </div>
    
  </div>
</div>