<div class="auth-wrapper d-flex no-block justify-content-center align-items-center login-bgk" >
    <div class="auth-box">
        <div id="loginform" [ngClass]="{'d-none': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Sign In to Admin</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" [formGroup]="loginForm" id="loginform">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                            </div>
                            <input type="text" formControlName="username" class="form-control form-control-lg"placeholder="Username"
                            [ngClass]="{ 'is-invalid': submitted && l.username.errors }"    
                            aria-label="Username" aria-describedby="basic-addon1">
                            
                        </div>
                        <div *ngIf="submitted && l.username.errors" class="text-danger">{{message.userNameRequired}} </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            <input type="password" formControlName="password" class="form-control form-control-lg"
                            [ngClass]="{ 'is-invalid': submitted && l.password.errors }" 
                                placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div *ngIf="submitted && l.password.errors" class="text-danger">{{message.passwordRequired}} </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <a (click)="showRecoverForm()" href="javascript:void(0)" id="to-recover" class="text-dark float-right"><i
                                            class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" (click)="login()" type="button">Log In</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div id="recoverform" [ngClass]="{'d-block': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Recover Password</h5>
                <span>Enter your Email and instructions will be sent to you!</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <!-- <form class="col-12">
                    
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" type="email" required="" placeholder="Username">
                        </div>
                    </div>
                    
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-danger" type="submit" name="action">Reset</button>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</div>